<p>
  The following table shows two Galois orbits of weights 12 and 14 on \({\rm Sp}(6,\mathbb{Z})\), respectively.
  The number of forms in an orbit is given (in parenthesis) behind the name of the orbit.
</p>

<div class="box1">
  <table>
    <thead>
      <tr><th>Weight</th><th>Galois orbits (number of forms)</th></tr>
    </thead>
    {% for wt,forms1 in forms|sort %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}">
      <td>{{ wt }}</td>
      <td>
	{% for form,dim in forms1|sort %}
	<a style="display: inline;" href="{{ ['/ModularForm/GSp/Q/Sp6Z.',form]|join }}">{{ form }} ({{ dim }})</a>
	{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
