{% extends 'homepage.html' %}
{% block content %}  

<div>
 <ul>
   <li>ID: <a href="{{ url_for('.profile', userid=user.get_id()) }}">{{ user.get_id()}}</a></li>
   <li>E-Mail: {{ user.email|obfuscate_email }}</li>
   <li>URL: {% with url = user.url %}<a href="{{url}}">{{url}}</a>{% endwith %} </li>
   <li>Admin: {{ user.is_admin() }}</li>
   <li>About: {{ user.about }}</li>
  </ul>
</div>

<h2>Knwols</h2>
<div>{{ user.name }} has contributed to these Knowls:
 {% for k in userknowls %}
   <a href="{{ url_for('knowledge.show', ID=k['_id']) }}">
  {{ k['title'] }}</a>{% if not loop.last -%},{%- endif %}
 {% endfor %}
</div>

{% endblock %}
