{% extends 'homepage.html' %}

{% block content %}

<style type="text/css">
    .error_message {
        padding: 4px;
        color: {{color.red}};
        font-size: 120%;
        font-weight: bold;
        margin: 20px;
    }
</style>
<div>
  {{ info.stats.short_summary | safe }}
</div>
<h2> Browse {{ KNOWL('av.isogeny_class',title='isogeny classes')}} of {{ KNOWL('ag.abelian_variety',title='abelian varieties')}} over finite fields</h2>
<p>
  By {{ KNOWL('ag.dimension', 'dimension') }}:
  {% for g in info.stats.gs %}
  <a href="?g={{g}}">{{g}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  By {{ KNOWL('ag.base_field', 'base field cardinality') }}:
  {% for q in info.q_ranges %}
  <a href="?q={{q}}">{{q}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  Some <a href="{{url_for('.interesting')}}">interesting isogeny classes</a> or a <a href="{{url_for('.random_class')}}">random isogeny class</a>
</p>
<p>
  A <a href="?search_type=Counts">table</a> by dimension and base field
</p>

<h2> Find a specific {{KNOWL('av.isogeny_class',title="isogeny class") }} by {{ KNOWL('av.fq.lmfdb_label',title="label") }} or {{ KNOWL('av.fq.weil_polynomial',"Weil polynomial") }}</h2>
<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>
<h2 id='search_h2'> Search
  <button id="advancedtoggle" href="#">Advanced search options</button>
</h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>
<script> show_advancedQ(); </script>
{% endblock %}
