{% extends 'show-abvarfq-common.html' %}

{% block subcontent %}

<script type="text/javascript" src="{{ url_for('static', filename='graphs/graph.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='abvar.js') }}"></script>
<script type="text/javascript">
  function show_more_curves() {
    $("#more_curves").show();
    $("#curve_shower").hide();
  }
</script>


<h2>Jacobians and polarizations</h2>

<p>
{% if cl.has_principal_polarization == 1 %}
  {% if cl.has_jacobian == -1 %}
  This isogeny class is {{ KNOWL('av.princ_polarizable', title = 'principally polarizable')}}, but does not contain a {{KNOWL('ag.jacobian',title='Jacobian')}}.
  {% elif cl.jacobian_count is not none %}
  This isogeny class contains the {{KNOWL('ag.jacobian',title='Jacobians' if cl.jacobian_count != 1 else 'Jacobian')}} of {{ cl.jacobian_count }} curve{% if cl.jacobian_count != 1 %}s{% endif %} ({% if cl.jacobian_count == 1 %}which is {% if cl.hyp_count == 0 %}not {% endif %}hyperelliptic{% else %}of which {% if cl.hyp_count == 1 %}1 is{% elif cl.hyp_count == cl.jacobian_count %}all are{% else %}{{ cl.hyp_count }} are{% endif %} hyperelliptic{% endif %}), and hence is {{ KNOWL('av.princ_polarizable', title = 'principally polarizable')}}:{{ cl.curve_display() | safe }}
  {% elif cl.has_jacobian == 1 %}
  This isogeny class contains a {{KNOWL('ag.jacobian',title='Jacobian')}}, and hence is {{ KNOWL('av.princ_polarizable', title = 'principally polarizable')}}.
  {% else %}
  This isogeny class is {{KNOWL('av.princ_polarizable', title = 'principally polarizable')}}, but it is unknown whether it contains a {{KNOWL('ag.jacobian',title='Jacobian')}}.
  {% endif %}
{% elif cl.has_principal_polarization == -1 %}
This isogeny class is not {{KNOWL('av.princ_polarizable', title = 'principally polarizable')}}, and therefore does not contain a {{KNOWL('ag.jacobian',title='Jacobian')}}.
{% elif cl.has_jacobian == -1 %}
This isogeny class does not contain a {{KNOWL('ag.jacobian',title='Jacobian')}}, and it is unknown whether it is {{KNOWL('av.princ_polarizable', title = 'principally polarizable')}}.
{% else %}
It is unknown whether this isogeny class contains a {{KNOWL('ag.jacobian',title='Jacobian')}} or whether it is {{KNOWL('av.princ_polarizable', title = 'principally polarizable')}}.
{% endif %}
</p>


<h2>{{ KNOWL('av.decomposition',title="Decomposition") }} and {{ KNOWL ('ag.endomorphism_algebra', title="endomorphism algebra") }}</h2>

{{cl.all_endo_info_display()|safe}}


<h2>Base change</h2>

<p>
{% if cl.is_primitive %}
This is a {{ KNOWL('ag.primitive',title="primitive") }} isogeny class.
{% else %}
This isogeny class is not {{ KNOWL('ag.primitive',title="primitive") }}.  It is a {{ KNOWL('ag.base_change',title="base change") }} from the following isogeny classes over subfields of ${{cl.field()}}$.
{{cl.basechangeinfo|safe}}
{% endif %}
</p>

<h2 id="twist-anchor">Twists</h2>

{% if cl.twists|length > 3 %}
<script>
function show_twists(number) {
    $('.smalloutput').hide();
    $('.alltwistoutput').hide();
    $('.'+number).show();
    var elementBottom = $('#twist-anchor').offset().top + $('#twist-anchor').outerHeight();
    var viewportTop = $(window).scrollTop();
    return elementBottom < viewportTop;
  }
</script>
<div>
  <form>
    <span class="smalloutput">{{ cl.twist_display(False)|safe }}</span>
    <span class="alltwistoutput nodisplay">{{ cl.twist_display(True)|safe }}</span>
    <p>
      <div class="toggle">
        <span class="smalloutput"><a onclick="show_twists('alltwistoutput'); return false;" href='#'>Show All</a></span>
        <span class="alltwistoutput nodisplay"><a onclick="return show_twists('smalloutput');" href='#twist-anchor'>Show Less</a></span>
      </div>
    </p>
  </form>
</div>

{% else %}
<div>
  {{ cl.twist_display(True)|safe }}
</div>

{% endif %}

{% if cl.zfv_index is not none %}
<h2>{{ KNOWL('av.fq.frobenius_order',title="Frobenius Order") }}</h2>
<table>

  <tr>
    <td>{{ KNOWL('av.fq.bass_zfv',title="Bass") }}:</td>
    <td colspan="3">{{ "yes" if cl.zfv_is_bass else "no" }} </td>
  </tr>

  <tr>
    <td>{{ KNOWL('av.fq.maximal_zfv',title="Maximal") }}:</td>
    <td colspan="3">{{ "yes" if cl.zfv_is_maximal else "no" }} </td>
  </tr>

  <tr>
    <td>{{ KNOWL('av.fq.zfv_index',title="Index") }}:</td>
    <td>${{ cl.zfv_index }} $</td>
    <td>&nbsp;=&nbsp;</td>
    <td>${{ cl.zfv_index_factorization_latex }} $</td>
  </tr>

  <tr>
    <td>{{ KNOWL('av.fq.zfv_real_index',title="Real index") }}:</td>
    <td>${{ cl.zfv_plus_index }} $</td>
    <td>&nbsp;=&nbsp;</td>
    <td>${{ cl.zfv_plus_index_factorization_latex }} $</td>
  </tr>

  <tr>
    <td>{{ KNOWL('av.fq.zfv_rel_disc_norm',title="Relative disc. norm") }}:</td>
    <td colspan="3">
    ${{ cl.zfv_plus_norm }} $</td>
  </tr>

 </table>

{% endif %}


{% if cl.weak_equivalence_classes %}
<h2>{{ KNOWL('ag.endomorphism_ring',title="Endomorphism rings") }}</h2>
{# An invisible span to get the select color in the diagram into the DOM #}
<div>
<span id="group-diagram-selected" style="display:none;">Hi</span>
</div>

{% if cl.diagram_js.display_opts.w > 1600 %}
<canvas id="endring_diagram" width="1000" height="300" style="border: 0px solid black">
  Sorry, your browser does not support the subgroup diagram.
</canvas>

<div class="subgroup_diagram">
  <a href="{{url_for('.endring_diagram', label=cl.label)}}">See a full page version of the diagram</a>
</div>

<h4>Endomorphism ring information</h4>
<div class="selectedsub">
  Click on an {{ KNOWL('ag.endomorphism_ring', 'endomorphism ring') }} in the diagram to see information about it.
</div>
{% else %} {# not wide #}
<table>
  <tr>
    <td>
      <canvas id="endring_diagram" width="500" height="300" style="border: 0px solid black">
        Sorry, your browser does not support the nearby lattice.
      </canvas>
    <td valign="top">
      <h4>Endomorphism ring information</h4>
      <div class="selectedsub">
        Click on an {{ KNOWL('ag.endomorphism_ring', 'endomorphism ring') }} in the diagram to see information about it.
      </div>
    </td>
  </tr>
</table>
<div class="subgroup_diagram">
  <a href="{{url_for('.endring_diagram', label=cl.label)}}">See a full page version of the diagram</a>
</div>
{% endif %} {# wide #}

<script type="text/javascript">
  {{ cl.diagram_js.string |safe }}
  sdiagram.setSize();
  sdiagram.draw();
</script>
{% endif %} {# weak_equivalence_classes #}


{% if cl.polarized_abelian_varieties %}
<h2>{{ KNOWL('av.polarization',title="Polarizations") }} </h2>
{{ cl.display_polarizations() | safe }}
{% endif %}

{% endblock %}
