{% extends 'homepage.html' %}
{% block content %}

<div>
  {{ info.stats.short_summary | safe }}
</div>

<h2> Browse </h2>

<p>
Browse {{ KNOWL('mf.bianchi.newform', title='newforms')}} by {{ KNOWL('nf', title='base field')}}:
{% for f in info.field_forms %}
{%-if loop.index > 1 %}, {% endif%}
<a href={{f.url}}>{{f.name}}</a>
{%-endfor %}
</p>

<p>
Browse {{ KNOWL('mf.bianchi.spaces', title='newform spaces')}} by  {{ KNOWL('nf', title='base field')}}:
<ul>
<li> {{ KNOWL('mf.bianchi.level', title='\(\GL_2\) levels')}} over
{% for f in info.gl2_field_list %}
{%-if loop.index > 1 %}, {% endif%}
<a href={{f.url}}>{{f.name}}</a>
{%-endfor %}
<li> {{ KNOWL('mf.bianchi.level', title='\(\SL_2\) levels')}} over
{% for f in info.sl2_field_list %}
{%-if loop.index > 1 %}, {% endif%}
<a href={{f.url}}>{{f.name}}</a>
{%-endfor %}
</ul>
</p>

<p>Some <a href="{{url_for('.interesting')}}">interesting Bianchi modular forms</a> or a <a href={{url_for('.random_bmf')}}>random Bianchi modular form</a></p>

<h2> Search </h2>

<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
