{% extends 'homepage.html' %}
{% block content %}

{% if info.err is defined %}
<p> {{info.err}}
</p>
{% else %}

<p>
Table of the dimensions of the spaces of Bianchi modular forms for
\(\Gamma_0(\mathfrak{n})\) for levels \(\mathfrak{n}\) ordered by
norm.
</p>
<p>
  Each entry of the form $d\ (n)$ in column $w$ indicates that the space of cusp
  forms of weight $w$ has dimension $d$ and the new subspace has
  dimension $n$.
</p>

{% if info.number %}

<form>

<p>Displaying <input type="text" name="count"
                    placeholder="{{info.count}}" size=2
                    value="{{info.count}}"/> levels out of
                    {{info.number}} starting at level number
                    <input type="text" name="start"
                    placeholder="{{info.start}}"
                    value="{{info.start}}" size=2/>
<button type='submit' value='Go'>Go</button>
</p>
</form>

<div align=center>
{% if info.start %}
<a href= {{info.prev_page}}>...see previous levels...</a>
{% endif %}
<table border=2>
<tr>
<th style="border-left:none; border-top:none;" >&nbsp;</th>
<th style="border-left:none; border-top:none;" >Weight</th>
{% for k in info.weights %}
<th >{{k}}</th>
{% endfor %}
</tr>
<tr>
<th>Level</th>
<th>Norm</th>
{% for k in info.weights %}
<th> $d\ (n)$</th>
{% endfor %}
</tr>
{% for data in info.dimtable %}
<tr>
<td align=right><a href={{data.level_space}}>{{data.level_label}}</a></td>
<td align=right>{{data.level_norm}}</td>
{% for k in info.weights %}
<td align=center>
  {% if data.dims[k]['d'] == '?' %}
  &nbsp;
  {% else %}
  {{data.dims[k]['d']}} ({{data.dims[k]['n']}})
  {% endif %}
</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<p>
{% if not info.complete %}
<a href= {{info.next_page}}>...see next levels...</a>
{% endif %}
</p>
</div>
{% else %}
<p>
No data available for {{info.field_pretty}}
</p>
{% endif %}
{% endif %}

{% endblock %}
