{% extends 'homepage.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='classical_modular_form_util-functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='classical_modular_form_scripts.js') }}"></script>



<div id = "Content">

{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ info.error | safe }}
</div>
{% endif %}

<table>
  <tr>
    <td>
      <h3>Browse spaces of cuspforms</h3>
      
      {{info.list_spaces| safe }}
    </td>
  </tr>
</table>


{% endblock content %}
