<h2>The ring of Siegel modular forms of degree 2 with respect to 
<a class="knowl-title" knowl="mf.siegel.group.gamma0">$\Gamma_0(3)$</a>,
with and without
<a class="knowl-title" knowl="mf.siegel.character">character</a>
</h2>

<div class="literature">
  <ul>
    <li><span class="name">T.Ibukiyama:</span> On Siegel modular varieties of level 3. Internat. J. Math. 2 (1991), 17-35, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR1082834</a></li>
  </ul>
</div>

<p>
The character $\psi_3:\Gamma_0(3)\to\{\pm1\}$ is defined by
$$\psi_3(\left(\begin{smallmatrix}A&B\\C&D\end{smallmatrix}\right))
=\left(\frac{-3}{\det D}\right).$$
  By a result of <span class="name">Ibukiyama</span> (On Siegel modular varieties of level 3. Internat. J. Math. 2 (1991), 17-35, 
  <a href="http://www.ams.org/mathscinet-getitem?mr=MR1082834">MR1082834</a>),

 the ring <script type="math/tex">M_{*}(\Gamma_0(3))</script> of Siegel modular forms of degree 2 with respect to the group 
<a class="knowl-title" knowl="mf.siegel.group.gamma0">$\Gamma_0(3)$</a>
and the module
$\oplus_k M_{k}(\Gamma_0(3),\psi_3)$
with respect to the group 
<a class="knowl-title" knowl="mf.siegel.group.gamma0">$\Gamma_0(3)$</a>
and
<a class="knowl-title" knowl="mf.siegel.character">character</a>
$\psi_3$
are given by five generators, which involve the usage of 
<a class="knowl-title" knowl="mf.siegel.theta_series">theta series
and theta series with pluriharmonics</a>.
First, let
$A_2\left(\begin{smallmatrix}2&1\\1&2\end{smallmatrix}\right)$,

$E_6\left(\begin{smallmatrix}
2&-1&0&0&0&0\\
-1&2&-1&0&0&0\\
0&-1&2&-1&0&-1\\
0&0&-1&2&-1&0\\
0&0&0&-1&2&0\\
0&0&-1&0&0&2
\end{smallmatrix}\right)$,

$E_6^* = 3E6^{-1}$,

$S\left(\begin{smallmatrix}
1&0&3/2&0\\
0&1&0&3/2\\
3/2&0&3&0\\
0&3/2&0&3
\end{smallmatrix}\right)$.

And let $P:{\Bbb C}^4\times{\Bbb C}^4\to{\Bbb C}$
be a pluriharmonic polynomial defined by
$$P(x,y)=
(x_1y_3-x_3y_1+(_2y_4-x_4y_2)^2-
(x_1y_4-x_4y_1 + x_3y_2-x_2y_3 + x_1y2-x_2y_1 )^2.$$
</p>

<p>
The five generators are

<ul>
<li>
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Gamma0_3', form = 'Generator_1', weight = 1, page = 'specimen') }}">$\alpha_1$</a>, a form of weight 1
in $S_1(\Gamma_0(3),\psi_3)$,
with formula
$\alpha_1 = \theta_{A_2}.$
</li>
<li>
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Gamma0_3', form = 'Generator_I_3', weight = 3, page = 'specimen') }}">$\beta_3$</a>, a form  of weight 3
in $S_3(\Gamma_0(3),\psi_3)$,
with formula
$\beta_3 = \theta_{E_6}-10 \theta_{A_2}^3 + 9 \theta_{E_6^*}.$
</li>
<li>
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Gamma0_3', form = 'Generator_II_3', weight = 3, page = 'specimen') }}">$\delta_3$</a>, a form  of weight 3
in $S_3(\Gamma_0(3),\psi_3)$,
with formula
$\delta_3 = \theta_{E_6}- 9 \theta_{E_6^*}.$
</li>
<li>
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Gamma0_3', form = 'Generator_4', weight = 4, page = 'specimen') }}">$\gamma_4$</a>, a form  of weight 4
in $S_4(\Gamma_0(3))$,
with formula
$\gamma_4 = \theta_{S,P}.$
</li>
<li>
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Gamma0_3', form = 'Generator_14', weight = 14, page = 'specimen') }}">$\chi_{14}$</a>, a cusp form of weight 14
in $S_{14}(\Gamma_0(3),\psi_3)$,
with formula
$$\chi_{14} = 
\frac1{2^9 3^{10}}
\cdot
\frac1{(2\pi i)^3}
\left|
\begin{smallmatrix}
\alpha_1&3\beta_3&4\gamma_4/2&3\delta_4\\
\frac{\partial\alpha_1}{\partial\tau}& \frac{\partial\beta_3}{\partial\tau}&
\frac{\partial\gamma_4}{\partial\tau}& \frac{\partial\delta_3}{\partial\tau}\\
\frac{\partial\alpha_1}{\partial z}& \frac{\partial\beta_3}{\partial z}&
\frac{\partial\gamma_4}{\partial z}& \frac{\partial\delta_3}{\partial z}\\
\frac{\partial\alpha_1}{\partial\omega}& \frac{\partial\beta_3}{\partial\omega}&
\frac{\partial\gamma_4}{\partial\omega}& \frac{\partial\delta_3}{\partial\omega}
\end{smallmatrix}
\right|$$
</li>
</ul>

The generators $\alpha_1, \beta_3, \gamma_4, \delta_3$ are algebraically independent.
Denote
$$B = {\Bbb C}[\alpha_1, \beta_3, \gamma_4, \delta_3],$$
$$C = {\Bbb C}[\alpha_1^2, \beta_3^2, \gamma_4, \delta_3^2].$$
We have the ring

$$M(\Gamma_0(3)) =
B^{\rm{even}} \oplus C\alpha_1\chi_{14}\oplus C\beta_3\chi_{14}
\oplus C\delta_3\chi_{14}\oplus C\alpha_1\beta_3\delta3\chi_{14}.$$
<p>

<p>
We have the module
$$\oplus_k M_k(\Gamma_0(3),\psi_3) =
B^{\rm{odd}} \oplus B^{\rm{even}}\chi_{14}.$$
</p>

<p>
The cusp forms are  ..??...
</p>


