<h2>The ring of Siegel modular forms of degree 2 with respect to <script type="math/tex">\Gamma_0(4)</script> and character <script type="math/tex">\psi_4</script>.</h2>

<div class="literature">
  <ul>
    <li><span class="name">H. Aoki, T.Ibukiyama: </span>Simple graded rings of Siegel modular forms, differential operators and Borcherds products. Internat. J. Math. 16 (2005), 249-279, <a href="http://www.ams.org/mathscinet-getitem?mr==2130626">MR2130626</a></li>
  </ul>
</div>

<p>
  By a result of <span class="name">
    Aoki and Ibukiyama</span>
  (Simple graded rings of Siegel modular forms, differential operators and Borcherds products. Internat. J. Math. 16 (2005), 249-279, 
  <a href="http://www.ams.org/mathscinet-getitem?mr=MR2130626">MR2130626</a>),
  the ring blah blah blah
</p>
<p>
  There exists a relation between these generators, namely...
</p>

