<h2>The ring of Siegel modular forms of degree 2 with respect to <script type="math/tex">\Gamma_0(2)</script></h2>

<div class="literature">
  <ul>
    <li><span class="name">T.Ibukiyama:</span> On Siegel modular varieties of level 3. Internat. J. Math. 2 (1991), 17-35, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR1082834</a></li>
  </ul>
</div>

<p>
  By a result of <span class="name">Ibukiyama</span> (On Siegel modular varieties of level 3. Internat. J. Math. 2 (1991), 17-35, 
  <a href="http://www.ams.org/mathscinet-getitem?mr=MR1082834">MR1082834</a>),
  the ring blah blah blah
</p>
<p>
  There exists a relation between these generators, namely...
</p>
