<p>
Dimension formulas for paramodular cusp forms
 <script type="math/tex">S_k(K(p))</script>
for <script type="math/tex"> p </script> prime and
for weights 3 and higher were proven by <span class="name">Ibukiyama</span> 
(Dimension formulas of Siegel modular forms of weight 3 and supersingular
abelian surfaces, Siegel Modular Forms and Abelian Varieties, Proceedings of the
4-th Spring Conference on Modular Forms and Related Topics, 2007).
</p>
<p>
The dimensions of weight 2 paramodular cusp forms
<script type="math/tex">S_2(K(p))</script>
for primes <script type="math/tex"> p<600 </script> 
(with the exceptions of  349, 353, 389, 461, 523, 587)
 are proven by <span class="name">C. Poor and D. S. Yuen</span>
(Paramodular cusp form, <a href="http://arxiv.org/abs/0912.0049">arXiv:1004.4699</a></li>).
Poor and Yuen also proves that the only possible weight 2
nonlifts in this range of primes (<script type="math/tex"> p<600 </script>)
can only occur at primes 277, 349, 353, 389, 461, 523, 587.
The nonlift weight 2 eigenform at <script type="math/tex"> p=277 </script> is proven;
the others are conjectured.
The Fourier coefficients and some eigenvalues of the nonlift weight 2 eigenform 
in <script type="math/tex">S_2(K(277))</script>
and of the conjectured nonlift weight 2 eigenforms in
<script type="math/tex">S_2(K(p))</script> (for 
<script type="math/tex">p = 349, 353, 389, 461, 523, 587</script>)
are given in the link for Available Forms.



</p>
