{% extends 'homepage.html' %}
{% block content %}

<div id="main">

  <p>
    On these pages you can find Fourier coefficients, Hecke eigenvalues etc of several types of Siegel modular forms of degree 2.
    Siegel modular forms data is currently only available in degree 2.
  </p>

  <table id="siegel_navtable">

    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Sp4Z') }}'">
        <script type="math/tex">M_*({\rm Sp}(4,\mathbb{Z}))</script>
      </td>
      <td class="text">
        <div>The ring of Siegel modular forms of degree 2 with respect to the full modular group.</div>
        <div class="literature">
          <ul>
            <li><span class="name">J.-I. Igusa:</span> On Siegel modular forms of genus two. Amer. J. Math. 84 (1962), 175-200, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR0141643</a></li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_2') }}'">
        <script type="math/tex">M_*(\Gamma_0(2))</script>
      </td>
      <td class="text">
        <div>The ring of Siegel modular forms of degree 2 with respect to <script type="math/tex">\Gamma_0(2)</script>.</div>
        <div class="literature">
          <ul>
            <li><span class="name">T.Ibukiyama:</span> On Siegel modular varieties of level 3. Internat. J. Math. 2 (1991), 17-35, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR1082834</a></li>
          </ul>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_3_psi_3') }}'">
        <script type="math/tex">M_*(\Gamma_0(3),\psi_3)</script>
      </td>
      <td class="text">
        <div>The ring of Siegel modular forms of degree 2 with respect to <script type="math/tex">\Gamma_0(2)</script> and character <script type="math/tex">\psi_3</script>.</div>
        <div class="literature">
          <ul>
            <li><span class="name">H. Aoki, T.Ibukiyama: </span>Simple graded rings of Siegel modular forms, differential operators and Borcherds products. Internat. J. Math. 16 (2005), 249-279, <a href="http://www.ams.org/mathscinet-getitem?mr==2130626">MR2130626</a></li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_4_psi_4') }}'">
        <script type="math/tex">M_*(\Gamma_0(4),\psi_4)</script>
      </td>
      <td class="text">
        <div>The ring of Siegel modular forms of degree 2 with respect to <script type="math/tex">\Gamma_0(4)</script> and character <script type="math/tex">\psi_4</script>.</div>
        <div class="literature">
          <ul>
            <li><span class="name">H. Aoki, T.Ibukiyama: </span>Simple graded rings of Siegel modular forms, differential operators and Borcherds products. Internat. J. Math. 16 (2005), 249-279, <a href="http://www.ams.org/mathscinet-getitem?mr==2130626">MR2130626</a></li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Sp4Z_2') }}'">
        <script type="math/tex">M_{*,2}({\rm Sp}(4,\mathbb{Z}))</script>
      </td>
      <td class="text">
        <div>The module of vector-valued Siegel modular forms of degree 2, taking values in a three-dimensional space, with respect to the full modular group.</div>
        <div class="literature">
          <ul>
            <li><span class="name">T. Satoh:</span> Construction of certain vector valued Siegel modular forms of degree two. Proc. Japan Acad. Ser. A Math. Sci. 61 (1985), 225-227, <a href="http://www.ams.org/mathscinet-getitem?mr==0816719">MR0816719</a></li>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Kp') }}'">
        <script type="math/tex">S_*(K(p))</script>
      </td>
      <td class="text">
        <div>
	  The ring of paramodular cusp forms
	  <script type="math/tex">\ S_*(K(p)) \ (p \rm{\ prime)}</script>.
	</div>
        <div class="literature">
          <ul>
	    <li><span class="name">T. Ibukiyama:</span>
	      Dimension formulas of Siegel modular forms of weight 3 and supersingular abelian surfaces, Siegel Modular Forms and Abelian Varieties, Proceedings of the 4-th Spring Conference on Modular Forms and Related Topics (2007) 39-60.
	      <a></a></li>
	    <li><span class="name">C. Poor and D. S. Yuen:</span> Paramodular cusp forms, <a href="http://arxiv.org/abs/0912.0049">arXiv:1004.4699</a></li>
	  </ul>
	</div>
      </td>
    </tr>
    
    
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#DDDDDD'" onmouseout="this.style.backgroundColor='#CCCCCC'" onclick="parent.location='{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Sp8Z') }}'">
	<script type="math/tex">S_*({\rm Sp}(8,\mathbb{Z}))</script>
      </td>
      <td class="text">
	<div>The ring of Siegel cusp forms of degree 4 with respect to the full modular group.</div>
	<div class="literature">
	  <ul>
            <li><span class="name">C. Poor and D. S. Yuen:</span>
	      Computations of spaces of Siegel modular cusp forms, J. Math.
	      Soc. Japan 59 1 (2007), 185-222,
	      <a href="http://www.ams.org/mathscinet-getitem?mr==2302669">MR2302669</a></li>
	  </ul>
	</div>
      </td>
    </tr>
    
  </table>

</div>
{% endblock %}
