{% extends 'homepage.html' %}
{% block content %}

<p>
  A
  <a class="knowl-title" knowl="smf.siegel_modular_form">
    Siegel modular form
  </a>
  of degree 2 is a holomorphic function on the Siegel upper half plane of complex $2 \times 2$ matrices
  whose imaginary part is strictly positive definite which satisfies an invariance property with respect to
  arithmetic subgroups of <script type="math/tex">{\rm GSp}(4)</script> such as the ones listed below.
</p>

<br/>

<h2>Browse</h2>

<p>
  Integral weight by group:
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Sp4Z', page = 'forms') }}">
    <script type="math/tex">{\rm Sp}(4,\mathbb{Z})</script>
  </a>
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Kp', page = 'forms') }}">
    <script type="math/tex">K(p)</script>
  </a>
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_2', page = 'forms') }}">
    <script type="math/tex">\Gamma_0(2)</script>
  </a>
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_3_psi_3', page = 'forms') }}">
    <script type="math/tex">\Gamma_0(3),\psi_3</script>
  </a>
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_4_psi_4', page = 'forms') }}">
    <script type="math/tex">\Gamma_0(4),\psi_4</script>
  </a>
</p>

<p>
  Half integral weight by group:
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Gamma0_4_', page = 'forms') }}">
    <script type="math/tex">\Gamma_0(4),\left(\frac{-4}{*}\right)</script>
  </a>
</p>

<p>
  <script type="math/tex">\mathbb{C}[X,Y]</script>-valued and integral weight by group:
  &nbsp;&nbsp;
  <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group = 'Sp4Z_2', page = 'forms') }}">
    <script type="math/tex">{\rm Sp}(4,\mathbb{Z})</script>
  </a>
</p>

<br/>

<h2>Look up dimensions</h2>

<br/>

<h2>Search</h2>

<p>
  <form action="/LfunctionDB/query" method=get> 
    <table> 
      <tr> 
	<td>Group and character</td>
	<td>
	  <select>
	    <option><script type="math/tex">{\rm Sp}(4,\mathbb{Z})</script></option>
	    <option><script type="math/tex">K(p)</script></option>
	    <option><script type="math/tex">\Gamma_0(2)</script></option>
	    <option><script type="math/tex">\Gamma_0(3),\psi_3</script></option>
	    <option><script type="math/tex">\Gamma_0(4),\psi_4</script></option>
	    <option><script type="math/tex">\Gamma_0(4),\left(\frac{-4}{*}\right)\</script></option>
	  </select>
	</td>
      </tr>

      <tr> 
	<td>Weight</td><td> <input type='text' name='weight' size = '4'></td><td><span class="formexample"> e.g. 2 or 3/2 or 2,1</span></td> 
      </tr> 
      
      <tr> 
	<td> 
	  <button type='submit' name='search' value='Search'/> 
	</td> 
      </tr> 
    </table> 
  </form> 
</p>

{% endblock %}
