{% extends 'homepage.html' %}
{% block content %}

{% if not info.error %}

<h2>Galois orbit</h2>
<h4>Weight: {{ info['weight'] }}&nbsp;&nbsp;&nbsp;&nbsp;
  
  {% if info.orbit %}
  [{{ info['orbit'] }}]
  {% else %}
  [Need to indicate Maass, Interesting, etc. here]
  {% endif %}
  
</h4>

<h2>Number field containing all coefficients</h2>
<div class="box1"><div class="small">{{ info['form'][0] }}</div></div>

<h2>As polynomial in <a class="knowl-title" knowl="{{ info.generators }}">generators</a></h2>
{% if info.form[1] %} 
<div class="box1"><div class="small">{{ info['form'][1] }}</div></div>
{% else %}
<div class="box1"><div class="small">Not applicable</div></div>
{% endif %}

<h2>Hecke eigenvalues
  <button name="Eigenvalues" value="Download" onclick="window.location.href = '{{ info['form'][5] }}'">Download</button>
</h2>
<div class="box1">
<div class="small">
  <table>
    <thead>
      <tr><th>n</th><th>&lambda;(n)</th></tr>
    </thead>
    {% for l,val in info['form'][2] %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}"><td>{{ l }}</td><td>{{ val }}</td></tr>
    {% endfor %}
  </table>
</div></div>

<h2>Fourier coefficients
  <button name="Fourier coefficients" value="Download" onclick="window.location.href = '{{ info['form'][4] }}'">Download</button>
</h2>
<p>
  In this table a triple \((n,r,m)\) stands for the quadratic form \(\begin{bmatrix}n&r/2\\r/2&m\end{bmatrix}\) of discriminant \(D = r^2-4nm\).
  The Fourier expansion of the modular form is given as
  \[
  f(\tau,z,\tau')=\sum_{T=(n,r,m)}a(T)\;e^{2\pi i(n\tau+rz+m\tau')}.
  \]
</p>
<div class="box1">
<div class="small">
  <table>
    <thead>
      <tr><th>|D|</th><th>T=(n,r,m)</th><th>a(T)</th></tr>
    </thead>
    {% for l,val in info['form'][3] %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}"><td>{{ 4*l[0]*l[2]-l[1]*l[1]}}</td><td nowrap=''>{{ l }}</td><td>{{ val }}</td></tr>
    {% endfor %}
  </table>
</div></div>

{% else %}
{% include 'ModularForm_GSp4_Q/None.html' %}
{% endif %}

{% endblock %}

