<h2>The ring of Siegel modular forms of degree 2 with respect to the full modular group</h2>

<div class="literature">
  <ul>
    <li><span class="name">J.-I. Igusa:</span> On Siegel modular forms of genus two. Amer. J. Math. 84 (1962), 175-200, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR0141643</a></li>
  </ul>
</div>

<p>
By a result of <span class="name">Igusa</span> (On Siegel modular forms of genus two. Amer. J. Math. 84 (1962), 175-200, <a href="http://www.ams.org/mathscinet-getitem?mr==0141643">MR0141643</a>), the ring <script type="math/tex">M_{2*}({\rm Sp}(4,\mathbb{Z}))</script> of Siegel modular forms of degree 2 with <b>even weights</b> with respect to the full modular group Sp(4,Z) has the following four algebraically independent generators:
  <ul>
    <li><a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp4Z', form = 'E', weight = 4, page = 'specimen') }}">A</a>: The Eisenstein series of weight 4, also denoted as ...</li>
    <li><a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp4Z', form = 'E', weight = 6, page = 'specimen') }}">B</a>: The Eisenstein series of weight 6, also denoted as ...</li>
    <li><a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp4Z', form = 'Maass', weight = 10, page = 'specimen') }}">C</a>: The cusp form of weight 10, also denoted as ...</li>
    <li><a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp4Z', form = 'Maass', weight = 12, page = 'specimen') }}">D</a>: The cusp form of weight 12, also denoted as ...</li>
  </ul>
To generate the full ring <script type="math/tex">M_*({\rm Sp}(4,\mathbb{Z}))</script> with <b>even and odd weights</b> one needs an additional generator, namely
<ul>
  <li><a href="{{ url_for('not_yet_implemented') }}">E</a>: The cusp form of weight 35, also denoted as ...</li>
</ul>
For more detailed information, visit the <a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp4Z', page = 'gen_rel') }}">generators and relations page</a>.
</p>
