<h2>The module of vector-valued Siegel modular forms of degree 2, taking values in a three-dimensional space, with respect to the full modular group</h2>

<div class="literature">
  <ul>
    <li><span class="name">T. Satoh:</span> Construction of certain vector valued Siegel modular forms of degree two. Proc. Japan Acad. Ser. A Math. Sci. 61 (1985), 225-227, <a href="http://www.ams.org/mathscinet-getitem?mr==0816719">MR0816719</a></li>
  </ul>
</div>

<p>
  By a result of <span class="name">
    Satoh</span>
  (Construction of certain vector valued Siegel modular forms of degree two. Proc. Japan Acad. Ser. A Math. Sci. 61 (1985), 225-227, 
  <a href="http://www.ams.org/mathscinet-getitem?mr=MR0816719">MR0816719</a>),
  the ring blah blah blah
</p>
<p>
  There exists a relation between these generators, namely...
</p>

