<h2>The ring of <a class="knowl-title" knowl="mf.siegel">
Siegel modular forms</a> of degree 3 with respect to the 
<a class="knowl-title" knowl="mf.siegel.group.symplectic">full modular group</a></h2>

<div class="literature">
  <ul>
    <li><span class="name">
S. Tsuyumine:</span> 
On Siegel modular forms of degree three, Amer. Jour. Math. 108(1986), 755-862, 1001-1003, 
<a href="http://www.ams.org/mathscinet-getitem?mr=853217">MR853217</a>
<a href="http://www.ams.org/mathscinet-getitem?mr=853222">MR853222</a>
</li>
    <li><span class="name">
I. Miyawaki:</span> 
 Numerical examples of Siegel cusp forms of degree 3 and their zeta-functions, Mem. Fac. Sci. Kyushu Univ. Ser. A 46 (1992), 307--339,
<a href="http://www.ams.org/mathscinet-getitem?mr=1195472">MR1195472</a>
</li>
    <li><span class="name">
C. Poor and D. S. Yuen:</span> 
Using Katsurada's Determination of the Eisenstein series to compute Siegel eigenforms in degree 3, preprint
</li>
  </ul>
</div>

<p>
S Tsuyumine gives 34 generators for the ring <script type="math/tex">M_{*}({\rm Sp}(6,\mathbb{Z}))</script> 
of Siegel modular forms of degree 3 with with respect to 
the 
<a class="knowl-title" knowl="mf.siegel.group.symplectic">full modular group</a>..
Tsuyumine also gives a formula for the dimensions of the spaces at each weight.
</p>
<p>
Miyawaki computed enough coefficeints in weight 12 and 14 to determine the the Euler factor at
the prime 2, and conjectured the 
<a class="knowl-title" knowl="mf.siegel.group.miyawaki">
Miyawaki lifts
</a>.
</p>
<p>
C. Poor and D. S. Yuen
computed coefficients coefficients in weights 16, 18, 20
and determined the eigenforms.
</p>

