The following table shows,

<div class="box1">
  <table>
    <thead>
      <tr><th>Weight</th><th>Galois-Orbits</th></tr>
    </thead>
    {% for wt,forms in  info.forms%}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}">
      <td>{{ wt }}</td>
      <td>
	{% for form,dim in forms %}
	<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Kp', form = form, weight = wt, page = 'specimen') }}">{{ form }}: {{ dim }}</a>
	{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
