<p>The following table show some Galois orbits of Ikeda lifts of weights 8, 10, 12, 14 and 16 on \({\rm Sp}(8,\mathbb{Z})\).
The number of forms in an orbit is given (in parenthesis) behind the name of the orbit. </p>

<div class="box1">
  <table>
    <thead>
      <tr><th>Weight</th><th>Galois-Orbits of Ikeda lifts</th></tr>
    </thead>
    {% for wt,forms1 in forms|sort %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}">
      <td>{{ wt }}</td>
      <td>
	{% for form,dim in forms1 %}
	<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Sp8Z',
		 form = form, weight = wt, page = 'specimen', orbit = form) }}">{{ form|replace( wt,'')|replace( '_','') }} ({{ dim }})</a>
	{% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
