password*
config.ini
mongoclient.config

*.pyc
*.pyo
*.so
*.o
*.c
*.swp
*~

static/MathJax

flasklog

# vim swap files
.*.sw?
# backup files
*~
paul_scripts

local.sh

lmfdb/cover
lmfdb/.coverage
.coverage
.DS_Store
.idea/
