password*
config.ini

*.pyc
*.pyo
*.so
*.o
*.c
*.swp
*~

static/MathJax

flasklog
slow_queries.log

# Testing files
htmlcov
.coverage*
.pytest_cache/

# vim swap files
.*.sw?
# backup files
*~
paul_scripts

local.sh

.DS_Store
.idea/
LMFDBinventory.log
LMFDBtransactions_inv.log


