password*
secret_key
secrets.ini
config.ini

*.pyc
*.pyo
*.so
*.o
*.c
*.swp
*.aux
*.log
*.dvi
*~


flasklog
slow_queries.log

# Testing files
htmlcov
.coverage*
.pytest_cache/

# vim swap files
.*.sw?
# backup files
*~
paul_scripts

local.sh

.DS_Store
.idea/
LMFDBinventory.log
LMFDBtransactions_inv.log

scripts/groups/Make-images/images/*.png
scripts/groups/Make-images/images/eqguts.tex
scripts/groups/Make-images/prettyindex
scripts/groups/Make-images/imagereloader

smf_lmfdb
__pycache__
create_input_data.py
