# This is the default mongoclient.config
# and below are the default values passed to MongoClient
#
# To change the defaults, edit a copy of the file below, renamed mongoclient.config
#
# settings without values are parsed as None
# the read_preference setting is processed in a special way
# all the other values are passed to MongoClient as int or strings
[db]
port = 37010
host = localhost
replicaset =
# the options for read_preference are PRIMARY, PRIMARY_PREFERRED, SECONDARY, SECONDARY_PREFERRED, and NEAREST
# see https://docs.mongodb.org/manual/reference/read-preference/ for more details
# read_preference only takes effect if replicaSet is set
read_preference = NEAREST

# Timeout arguments
# the defaults below are set by pymongo, and might change in the future
# Controls how long (in milliseconds) the driver will wait for a response after sending an ordinary (non-monitoring) database operation before concluding that a network error has occurred. Defaults to None (no timeout).
# socketTimeoutMS = 30000

# Controls how long (in milliseconds) the driver will wait during server monitoring when connecting a new socket to a server before concluding the server is unavailable. Defaults to 20000 (20 seconds).
# connectTimeoutMS = 20000

# Controls how long (in milliseconds) the driver will wait to find an available, appropriate server to carry out a database operation; while it is waiting, multiple server monitoring operations may be carried out, each controlled by connectTimeoutMS. Defaults to 30000 (30 seconds).
#serverSelectionTimeoutMS = 30000


