# This is the default mongoclient.config
# and below are the default values passed to MongoClient
#
# To change the defaults, edit a copy of the file below, renamed mongoclient.config
#
# settings without values are parsed as None
# the settings from port and read_preference are processed
# all the other values are parsed and passed to MongoClient as strings
[db]
port = 37010
host = localhost
replicaset =
# the options for read_preference are PRIMARY, PRIMARY_PREFERRED, SECONDARY, SECONDARY_PREFERRED, and NEAREST
# see https://docs.mongodb.org/manual/reference/read-preference/ for more details
# read_preference only takes effect if replicaSet is set
read_preference = NEAREST
