[project]
	description = L-Functions and Modular Forms Database
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Harald Schilly (haraldschilly)
[access "refs/for/refs/*"]
	read = group user/Harald Schilly (haraldschilly)
	push = group user/Harald Schilly (haraldschilly)
	label-Code-Review = -2..+2 group user/Harald Schilly (haraldschilly)
	label-Verified = -1..+1 group user/Harald Schilly (haraldschilly)
	rebase = group user/Harald Schilly (haraldschilly)
	removeReviewer = group user/Harald Schilly (haraldschilly)
	submit = group user/Harald Schilly (haraldschilly)
[access "refs/heads/*"]
	read = group user/Harald Schilly (haraldschilly)
	create = group user/Harald Schilly (haraldschilly)
	push = +force group user/Harald Schilly (haraldschilly)
	pushMerge = group user/Harald Schilly (haraldschilly)
[access "refs/tags/*"]
	push = +force group user/Harald Schilly (haraldschilly)
	pushTag = group user/Harald Schilly (haraldschilly)
	pushSignedTag = group user/Harald Schilly (haraldschilly)
