bcrypt
cython
flask
flask-cache
flask-login
flask-markdown
markupsafe==2.0.1
itsdangerous
git+https://github.com/roed314/psycodict.git#egg=project[pgbinary]
pyflakes
pytest
pytest-cov
pytest-xdist
pyyaml
timeout_decorator
git+https://github.com/edgarcosta/unittest2
