bcrypt
cython
flask
flask-cache
flask-login
flask-markdown
markupsafe
itsdangerous
psycopg2-binary
git+https://github.com/roed314/psycodict.git
pyflakes
pytest
pytest-cov
pytest-xdist
pyyaml
svg.py
timeout_decorator
