flask
flask-cache
flask-login
flask-markdown
psycopg2-binary
pyyaml
pyflakes
unittest2
pytest
pytest-cov
pytest-xdist
cython
markupsafe
git+https://github.com/jwbober/conrey-dirichlet-characters.git@master#egg=dirichlet_conrey
bcrypt
pymongo
