{% set table = DB.table %}
{% for wt in table.weights %}
Weight: {{wt}}
<table>
<thead>
<tr><th>Level/Character</th></tr>
</thead>
<tbody>
<tr>
{% for k,N,x in table.keylist %}
    {% if k==wt %}
    {%  if table.data[(k,N,x)] is defined %}
        {% set n,nc=table.data[(k,N,x)] %}
        <td>
           <a href="{{url_for('mwf.render_maass_waveforms',level=N,weight=k,character=x)}}">
             {{ N }}/{{x}}:{{n}}  {# |{{nc}} #}
          </a> </td>
        {% if loop.index is divisibleby table.ncols %}
           </tr><tr>
        {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
</tr>

</tbody>

</table>
{% endfor %}
