{% extends "homepage.html" %}

{% block content %}
<h1>Graph of eigenvalues of Maass forms of levels {{min_level}} to {{max_level}} with ${{min_R}} \leq R\leq {{max_R}}$</h1>
<p>
    {{KNOWL_INC('mf.maass.mwf.browsegraph')}}
</p>
<p>
Examples of some ranges with complete data:
</p>
<ul>
    <li> <a href="{{ url_for('mwf.render_maass_browse_graph',min_level = 1,max_level= 10,
                            min_R = 0,max_R = 10) }}">$1\leq N\leq10, \, 0\leq R\leq 10$</a></li>
    <li> <a href="{{ url_for('mwf.render_maass_browse_graph',min_level = 100,max_level= 250,
                            min_R = 0,max_R = 2) }}">$N$ prime and $100< N<250, \, 0\leq R\leq 2$</a></li>
    <li> <a href="{{ url_for('mwf.render_maass_browse_graph',min_level = 100,max_level= 1000,
                            min_R = 0,max_R = 1) }}">$N$ prime and $100< N<1000, \, 0\leq R\leq 1$</a></li>
</ul>
{{contents[0]|safe}}
{% endblock content %}
