{% extends "homepage.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('mwf.static', filename='maass_scripts.js') }}"></script>

{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<h2> Error message: </h2>

<div>
{{ info.error | safe }}
</div>
{% endif %}

<div>
{{KNOWL_INC('mf.maass.mwf.weight0')}}
</div>

<div>
The database contains {{dbcount}} Maass forms of weight 0 on $\Gamma_0(N)$ for $N$ in the range from 1 to 997.
</div>

<h1>Browse {{KNOWL('mf.maass.mwf',title='Maass forms')}} </h1>
  <ul>
    <li>
      <a href="{{ url_for('mwf.render_maass_browse_graph',min_level = 1,max_level= 10,
                            min_R = 0,max_R = 10) }}">Browse Maass forms of weight 0 on $\Gamma_0(N)$ with $1\leq N\leq 10$</a>
    </li>
    <li>
      <a href="{{ url_for('mwf.render_maass_browse_graph',min_level = 100,max_level= 1000,
                            min_R = 0,max_R = 1) }}">Browse Maass forms of weight 0 on $\Gamma_0(p)$ for prime $p$ with $100\leq p< 1000$</a>
    </li>
   {# 
    <li>
      <a href="javascript:set_browse_value('weight',1);">Browse Maass forms of weight 1</a>
    </li>
    #}
  </ul>
<br>


{#<h1>Find a specific Maass form</h1>
<table>
  <tr>
    <td>
      <form name="search" method = "post" action="{{url_for('.render_maass_waveforms')}}">	  
        <input type="text" name="jump_to" value="" placeholder="1.12"> 
	<button type="submit" value="Jump">Find</button>
        <br>
        <span class="formexample">(1.12 gives the 12th entry of level 1)</span>
        

      </form>
    </td>
  </tr>
 </table>
#}

<h1>Search</h1>
 <table>
  <tr>
    <td>
      <form name="search" method = "post" action="{{url_for('.render_maass_waveforms')}}">
	<input type="hidden" name="search" value="true"> 
	<input type="hidden" name="rec_start" value="0"> 
	<table class="">
	  <tr>
	    <td>Level in range:</td>
	    <td> 
	      <input type="text" name="level_range" value="" placeholder="1..10"> 
	    </td>
	  </tr>
	  <tr>
	    <td>R in range:</td>
	    <td> 
	      <input type="text" name="ev_range" value="" placeholder="9.5..10.5">
            </td>
	  </tr>

	  <tr>
	    <td>Weight:</td>
	    <td> 
	      <input type="text" name="weight" value="" placeholder="0"/> 
	      <span class="formexample"> (leave blank for weight 0)</span>
	    </td>
	  </tr>
	  <tr>
	    <td>Character:</td>
      <td>
        <input type="text" name="character" value="" placeholder="1"/>
          <span class="formexample">(1 means trivial character, leave blank for all characters)</span>
      </td>
	  </tr>
	  <tr>
	    <td>
	      <button type="submit" name="Submit" value="Search">Search</button>
	    </td>
	    <td>
Note: Search results are currently limited to {{limit}} records.

{#    Show number of records:
	      <select name="limit">
		<option value="20">20</option>
		<option value="50">50</option>
		<option value="100">100</option>
		<option value="-1">all</option>
	      </select>
#}
	    </td>
          </tr>
      </form>
   </table>
   </td>
  </tr>
</table>

</div>

{% endblock content %}
