{% extends "homepage.html" %}

{% block content %}
<h2>
     This is not yet worked on 
</h2>
Only examples can be browsed so far, by modifying directly the URL and then clicking on the "Friends" section, or in the hyperlinked table. For instance, try:
<table>
      <tr><td> <a href ={{url_for("number_field_galois_groups.by_data", degree = 4, size = 12, index = 226)}}> Number field of degree 4, size 12, and index 226</a></td><tr>
      <tr><td> <a href ={{url_for("number_field_galois_groups.by_data", degree = 6, size = 6, index = 218)}}> Number field of degree 6, size 6, and index 218</a></td><tr>
      <tr><td> <a href ={{url_for("number_field_galois_groups.by_data", degree = 2, size = 2, index = 48)}}> Number field of degree 2, size 2, and index 48</a></td><tr>
      <tr><td> <a href ={{url_for("number_field_galois_groups.by_partial_data", degree = 2, size = 2)}}> Number fields of degree 2 and size 2</a></td><tr>
      <tr><td> <a href ={{url_for("number_field_galois_groups.by_partial_data", degree = 6, size = 6)}}> Number fields of degree 6 and size 6</a></td><tr>
      
</table>
<!--
<p>

      <h2>Browse {{KNOWL('galois_group', title="Galois groups")}}</h2>
<p>

Browse by degree $n$:
{% for n in info.degree_list: %}
<a href="?n={{n}}">{{n}}</a>
{% endfor %}

<p>

    <h2>Find a specific Galois group</h2>

    <form name="search" method = "get" action="{{search}}">      
	  Search by {{KNOWL('tg.label',title="label")}}
          <input type="text" name="jump_to" value="" placeholder="2.4"> 
          <input type="submit" value="Find">
        </form>
    </td>
</tr>

        <h2>Search</h2>
      <form name="search" method = "get" action="{{search}}">
        <table class="">
          <tr>
            <td>
          {{KNOWL('tg.degree',title='Degree')}}:
            </td><td><input type="text" name="n" value="" example="6"></td>
          </tr>
          <tr>
            <td>
              {{KNOWL('tg.tnumber',title='$t$')}}:
            </td><td><input type="text" name="t" value="" example="3"></td>
          </tr>
  </table>
        <input type="submit" name="Submit" value="Search">
      </form>

-->

{% endblock %}
