{% extends "homepage.html" %}

{% block content %}
    <p>
    <center>
    <table class="ntdata">
        <thead>
            <td>Index </td> <td>Abstract Group</td><td>Defining polynomial</td>
        </thead>
        <tbody>
         {% for the_nfgg in info %}
             <tr> <td><a href={{url_for("number_field_galois_groups.by_data", degree = the_nfgg.degree(), size = the_nfgg.size(), index = the_nfgg.index() )}}>{{the_nfgg.index()}}</a></td> <td>{{the_nfgg.G_name()}}</td> <td>${{the_nfgg.polynomial().latex()}}$</td></tr>
        {% endfor  %}
        </tbody>
    </table>
    </center>
    </p>
            
{% endblock %}
