{% extends "homepage.html" %}

{% block content %}
  
    <h2> Defining polynomial $f$ of the number field</h2>
    <p>$K =  \mathbb{Q}[x]/({{info.polynomial().latex()}})$</p>
    
    <h2> Group data</h2>
    <h3> G-name </h3>
    <p>{{info.G_name()}}</p>
    <h3> Generators of the action on the roots $r_1 \cdots r_{{info.degree()}}$ of $f ={{info.polynomial().latex()}} $</h3>
    <p><center>
      <table class="ntdata">
        <thead>
          <tr><td>Positional notation</td><td>Cycle notation</td>
          </tr>
        </thead>
      <tbody>
        {% for gen in info.G_gens()%}
        <tr> <td>${{gen}}$</td><td>${{gen.cycle_string()}}$</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
      </p>
    
    <h2> Conjugacy classes</h2>
    <p> <center><table class="ntdata">
      <thead><tr><td>Index</td><td>Size</td><td>Order</td><td>Action on $r_1 \cdots r_{ {{info.degree()}} }$</td><td>Action on $r_1 \cdots r_{ {{info.degree()}} }$</td></tr></thead>

      <tbody>
        {% for gen in info.conjugacy_classes()%}
            <tr {% if loop.index == info.complex_conjugation()%}class="redhighlight"{%endif%}> <td>${{loop.index}}$</td><td>${{gen.size()}}$</td><td>${{gen.order()}}$</td><td>${{gen.representative()}}$</td><td>${{gen.representative().cycle_string()}}$</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
       The red line marks the conjugacy class containing complex conjugation.
    </p>
    
    <h2> Roots of defining polynomial</h2>
    <p>
    The roots of $f$ are computed over $\mathbb{Q}_{ {{info.residue_characteristic()}} }$ to precision {{info.computation_precision()}}.
    </p>
    <p>
    Minimal polynomial of a generator $a$ of $K$ over $\mathbb{Q}_{{info.residue_characteristic()}}$: ${{info.computation_minimal_polynomial().latex()}}$
    </p>
    <p>
    Roots:
    <center>
      <table class="ntdata">
      <tbody>
        {% for root in info.computation_roots()%}
          <tr> <td>$r_{{loop.index}}$</td><td>{{root}}</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
       
    </p>
    </p>
    <h2> Artin representations</h2>
    <center>
      <table class="ntdata">
      <thead><tr><td></td><td>Dimension</td><td>Conductor</td><td>Index among those</td><td>Defining polynomial of Artin field</td><td>Galois subroup</td></tr></thead>

      <tbody>
        <!--{% for artin in info.artin_representations()%}
          <tr> <td><a href = "{{artin.url_for()}}">{{loop.index}}</a></td><td>${{artin.dimension()}}$</td><td>${{artin.conductor()}}$</td><td>${{artin.index()}}$</td><td>${{artin.number_field_galois_group().polynomial().latex()}}$</td><td>${{artin.number_field_galois_group().G_name()}}$</td></tr>
        {% endfor %}-->
      </tbody>
      </table>
      </center>  
    
    
    
      
    
    
{% endblock %}
