{% extends 'homepage.html' %}
{% block content %}

{% if info.error %}

<p>
{{ info.error }}
</p>

{% else %}

<div>
{{ info.sig_stats|safe }}
</div>


{% set sdat = info.stats[info.degree][info.sig] %}

{% if sdat %}
<h2>Number of curves and maximum conductor norm for fields of
  signature {{info.sig}}</h2>
<table>
<tr><th> Field <th> Number of curves <th> Number of isogeny classes <th> Maximum conductor norm </tr>
{% for F in info.counts.fields_by_degree[info.degree] %}
{% if F in sdat %}
<tr><td> <a href="{{url_for('ecnf.show_ecnf1',nf=F)}}">{{F}}</a> <td> {{sdat[F].ncurves}} <td> {{sdat[F].nclasses}} <td> {{sdat[F].maxnorm}} </tr>
{% endif %}
{% endfor %}
</table>

{% else %}
The database does not contain any elliptic curves defined over fields
of signature {{s}}.
{% endif %}
{% endif %}

{% endblock %}
</html>
