{% extends "homepage.html" %}

{% block content %}
<style>
<div.ip>span { white-space: nowrap; font-family: serif; }
</style>

{#

</script><style type="text/css">
  .sagecell .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .sagecell-practice .CodeMirror-scroll {
    height: 150px;
  }

  .sagecell button.sagecell_evalButton {
      font-size: 80%;
  }

  .sagecell_sessionContainer {
      margin-bottom:1em;
  
  }

  </style>
#}

    {% set KNOWL_ID = "ec.%s"|format(ec['label']) %}
    <h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>


<div>
  <h2>  Base field   {{ ec.field.knowl()|safe }} </h2>
<p>
 {{ KNOWL('nf.generator', 'Generator') }} \({{
 ec.field.generator_name() }}\), with {{
 KNOWL('nf.minimal_polynomial', 'minimal polynomial') }}
 {{ec.field.latex_poly}}; {{ KNOWL('nf.class_number', 'class number')
 }} \({{ec.field.class_number()}}\).
</p>
    {{ place_code('field') }}
</div>

<style type="text/css">
#invariants th, #invariants  td {
padding : 4px;
text-align: left;
cellpadding="5";
}
</style>

<h2>{{ KNOWL('ec.weierstrass_coeffs',  title='Weierstrass equation') }}</h2>
<div style='overflow-x:auto; overflow-y:hidden'>
{{ ec.equation }}
</div>
    {{ place_code('curve') }}
<p>
  {% if ec.is_minimal %}
  This is a {{ KNOWL('ec.global_minimal_model','global minimal model')}}.
  {% else %}
  This is not a {{ KNOWL('ec.global_minimal_model','global minimal
  model')}}: it is {{ KNOWL('ec.local_minimal_model','minimal') }}
  at all primes except {{ ec.non_min_prime }}.
  {% if ec.has_minimal_model %}
  However, a {{ KNOWL('ec.global_minimal_model','global minimal model')}} does exist.
  {% else %}
  No {{ KNOWL('ec.global_minimal_model','global minimal model')}} exists.
  {% endif %}
  {% endif %}
    {{ place_code('is_min') }}
</p>


<h2>{{ KNOWL('ec.invariants', title='Invariants')}}</h2>

    <div style='overflow:auto'>
      <table id="invariants">
        <tr>
        <td>
         \(\mathfrak{N} \)</td>
        <td>=</td>
        <td>{{ ec.cond }}</td>
        <td>=</td>
        <td>{{ ec.fact_cond }}</td>
        </tr>
        <tr><td colspan=5>    {{ place_code('cond') }}</td></tr>

        <tr>
        <td>
         \(N(\mathfrak{N}) \)</td>
        <td>=</td>
        <td>{{ ec.cond_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_cond_norm }}</td>
        </tr>
        <tr><td colspan=5>    {{ place_code('cond_norm') }}</td></tr>

        <tr>
        <td>
          {% if ec.is_minimal %}
          \(\mathfrak{D}\)
          {% else %}
          \((\Delta)\)
          {% endif %}
        </td>
        <td>=</td>
        <td>{{ ec.disc }}</td>
        {% if ec.fact_disc %}
        <td>=</td>
        <td>{{ ec.fact_disc }}</td>
        {% endif %}
        </tr>

          <tr><td colspan=5> {{ place_code('disc') }}</td></tr>
        <tr>
        <td>
          {% if ec.is_minimal %}
          \(N(\mathfrak{D})\)
          {% else %}
          \(N(\Delta)\)
          {% endif %}
         </td>
        <td>=</td>
        <td>{{ ec.disc_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_disc_norm }}</td>
        </tr>
        <tr><td colspan=5> {{ place_code('disc_norm') }}</td></tr>

{% if not ec.is_minimal %}
        <tr>
        <td>
         \(\mathfrak{D}\)</td>
        <td>=</td>
        <td>{{ ec.mindisc }}</td>
        {% if ec.fact_mindisc %}
        <td>=</td>
        <td>{{ ec.fact_mindisc }}</td>
        {% endif %}
        </tr>

        <tr>
        <td>
         \(N(\mathfrak{D})\)</td>
        <td>=</td>
        <td>{{ ec.mindisc_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_mindisc_norm }}</td>
        </tr>
{% endif %}

        <tr>
        <td>
         \(j\)</td>
        <td>=</td>
        <td>{{ ec.j }}</td>
        {% if ec.fact_j %}
        <td>=</td>
        <td>{{ ec.fact_j }}</td>
        {% endif %}
        </tr>
        <tr><td colspan=5>     {{ place_code('jinv') }}</td></tr>

        <tr>
        <td> \( \text{End} (E) \)</td>
        <td>=</td>
        <td>{{ ec.End }}</td>
        <td>&nbsp;</td>
        <td>({%if not ec.cm %}no {%endif %}
   {{ KNOWL('ec.complex_multiplication', title='Complex Multiplication')}}
            )
        </td>
        </tr>
        <tr><td colspan=5>     {{ place_code('cm') }}</td></tr>

        <tr>
        <td> \( \text{ST} (E) \)</td>
        <td>=</td>
        <td>{{ ec.ST|safe }}</td>
        </td>
        </tr>

</table>
</div>

<div>
<h2> {{ KNOWL('ec.mordell-weil', title="Mordell-Weil rank and generators") }} </h2>
{% if ec.rk == "?" %}
{% if ec.rk_bnds != "not available" %}
<b>Rank</b> \(r\) satisfies \({{ ec.rank_bounds[0] }} \le r \)
{% if ec.rank_bounds[1] != "Infinity" %}
 \(\le {{ec.rank_bounds[1]}}\)
{% endif %}
{% else %}
Rank not available.
{% endif %}
{% else %}
<b>Rank:</b> \( {{ ec.rank }} \)
{% endif %}
 {{ place_code('rank') }}

{% if ec.rank_bounds[0] %}
{% if ec.gens == 'not available' %}
<p>No generators available.</p>
{% else %}
<p><b>
{% if ec.rank_bounds[0] == 1 %}
Generator:
{% else %}
Generators:
{% endif %}</b>
{{ ec.gens }}
</p>
<p><b>
{% if ec.rank_bounds[0] == 1 %}
Height:
{% else %}
Heights:
{% endif %}</b>
{% for h in ec.heights %}{%-if loop.index0-%}, {% endif %}{{h}}{% endfor %}
</p>
{% endif %}
{% endif %}
 {{ place_code('gens') }}

<p>
<b>Regulator:</b>
{{ ec.reg }}
 {{ place_code('reg') }}
</p>
</div>

<div>
<h2> {{ KNOWL('ec.torsion_subgroup', title="Torsion subgroup") }} </h2>
<table>
<tr>
<th>Structure:</th>
<td>{{ ec.tor_struct_pretty }}</td>
</tr>
<tr><td colspan=2> {{ place_code('tors') }}</td></tr>
<tr><td colspan=2> {{ place_code('ntors') }}</td></tr>
    {% if ec.tr %}
<tr>
<th>{% if ec.tr==1 %}Generator{% else %}Generators{% endif %}:</th>
<td>{{ ec.torsion_gens }}</td>
</tr>
<tr><td colspan=2> {{ place_code('torgens') }}</td></tr>
    {% endif %}
</table>
</div>

<div>
    <h2>{{KNOWL('ec.local_data', title='Local data')}} at primes of {{KNOWL('ec.bad_reduction', title='bad reduction')}} </h2>
 {{ place_code('localdata') }}

  {% if not ec.is_minimal %}
    Primes of good reduction for the curve but which divide the
    discriminant of the model above (if any) are included.
  {% endif %}

{% if ec.local_data %}
<table cellpadding="5">
<tr>
<th>prime</th>
<th>Norm</th>
<th>{{KNOWL('ec.tamagawa_number', title='Tamagawa number')}}</th>
<th>{{KNOWL('ec.kodaira_symbol', title='Kodaira symbol')}}</th>
<th>{{KNOWL('ec.reduction_type', title='Reduction type')}}</th>
<th>{{KNOWL('ec.conductor_valuation', title='ord(\(\mathfrak{N}\))')}}</th>
<th>{{KNOWL('ec.discriminant_valuation', title='ord(\(\mathfrak{D}\))')}}</th>
<th>{{KNOWL('ec.j_invariant_denominator_valuation', title='ord\((j)_{-}\)')}}</th>
</tr>
{% for pr in ec.local_data %}
<tr>
<td align=center>
{{pr.p}}
</td>
<td align=center>
{{pr.norm}}
</td>
<td align=center>
\({{pr.cp}}\)
</td>
<td align=center>
{{pr.kod}}
</td>
<td align=center>
{% if pr.red==0 %}
 Additive
 {% elif pr.red==1 %}
  Split multiplicative
  {% elif pr.red==-1 %}
   Non-split multiplicative
  {% else %}
    Good
{% endif %}
</td>
<td align=center>{{pr.ord_cond}}</td>
<td align=center>{{pr.ord_disc }}</td>
<td align=center>{{pr.ord_den_j}}</td>
</tr>
{% endfor %}
</table>
{% else %}
No primes of bad reduction.
{% endif %}
</div>

<div>
<h2> {{KNOWL('ec.galois_rep', title='Galois Representations')}} </h2>

{% if ec.galois_images=="?" %}

<p>
The mod \( p \) Galois Representation data has not yet been computed for this curve.
</p>

{% else %} {# we have Galois data #}

<p>
The mod \( p \) {{KNOWL('ec.galois_rep', title='Galois Representation')}}
has {{KNOWL('ec.maximal_galois_rep', title='maximal image')}}
for all primes \( p \)
{% if ec.galois_data %} {# there are non-maximal primes #}
except those listed.
</p>
<p>
<table>
<tr>
<th>prime</th>
<th>{{KNOWL('ec.galois_rep_image', title='Image of Galois Representation')}}</th>
</tr>
{% for pr in ec.galois_data %}
<tr>
<td align=center> \({{pr.p}}\)</td>
<td align=center>{{pr.image}}</td>
</tr>
{% endfor %}
</table>
{% else %}
.
{% endif %}
</p>

{% if ec.cm %}
<p>
{% if ec.galois_data %} For all other primes \(p\), the
{% else %} The
{% endif %}
image is
{% if ec.cm_nramp!=0 %}
a {{KNOWL('gl2.borel', title='Borel subgroup')}}
{% if ec.cm_nramp==1 %}
if \(p={{ec.cm_ramp}}\),
{% else %}
if \(p\in \{ {{ ec.cm_ramp }}\}\),
{% endif %}
{% endif %}

{% if ec.rational_cm %}
a {{KNOWL('gl2.split_cartan', title='split Cartan subgroup')}}
{% else %}
the {{KNOWL('gl2.normalizer_split_cartan', title='normalizer of a split Cartan subgroup')}}
{% endif %}

if \(\left(\frac{ {{ec.cm_sqf}} }{p}\right)=+1\) or

{% if ec.rational_cm %}
a {{KNOWL('gl2.nonsplit_cartan', title='nonsplit Cartan subgroup')}}
{% else %}
the {{KNOWL('gl2.normalizer_nonsplit_cartan', title='normalizer of a nonsplit Cartan subgroup')}}
{% endif %}

if \(\left(\frac{ {{ec.cm_sqf}} }{p}\right)=-1\).
</p>
{% endif %} {# CM case #}
{% endif %} {# Galois image data exists #}

</div>

<div>
  <h2> {{KNOWL('ec.isogeny_class','Isogenies')}} and {{KNOWL('ec.isogeny_class','isogeny class')}}</h2>
<p>
{% if ec.isogeny_degrees %}
This curve has non-trivial cyclic {{KNOWL('ec.isogeny_class','isogenies')}} {% if ec.rational_cm %}
(excluding endomorphisms){% endif %} of degree \(d\) for \(d=\)
{{ ec.isogeny_degrees}}.
<br>
Its {{KNOWL('ec.isogeny_class','isogeny class')}}
<a href={{ ec.urls.class }}>{{ec.short_class_label}}</a>
consists of {{ec.ncurves}} curves linked by isogenies of
{% if ec.one_deg %}degree{% else %}degrees dividing {% endif %}
{{ec.class_deg}}.
{% else %}
This curve has no rational isogenies{% if ec.rational_cm %} other than
endomorphisms{% endif %}.
Its isogeny class <a href={{ ec.urls.class }}>{{ec.short_class_label}}</a>   consists of this curve only.
</p>
{% endif %}
</div>

<div>
<h2> {{KNOWL('ec.base_change','Base change')}} </h2>
This curve {% if ec.base_change %} is the
{{KNOWL('ec.base_change','base-change')}} of elliptic curves
{% for E0 in ec.base_change%}
<a href={{url_for("ec.by_ec_label",label=E0)}}>{{E0}}</a>,
{% endfor %}
defined over \(\Q\), so it is also a {{KNOWL('ec.q_curve', '\(\Q\)-curve')}}.
{% else %}
is not the {{KNOWL('ec.base_change','base-change')}} of an elliptic curve defined over \(\Q\).
{% if ec.qc=="yes" %}
It is a  {{KNOWL('ec.q_curve', '\(\Q\)-curve')}}.
{% elif ec.qc=="no" %}
It is not a  {{KNOWL('ec.q_curve', '\(\Q\)-curve')}}.
{% else %}
It has not yet been determined whether or not it is a  {{KNOWL('ec.q_curve', '\(\Q\)-curve')}}.
{% endif %}
{% endif %}
</div>

    {% set KNOWL_ID = "ec.%s"|format(ec['label']) %}
    <h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='Additional information') }}</h2>

{% if DEBUG %}
<hr>
<div>
Raw elliptic curve data: {{ ec.__dict__ }}
</div>
<hr>
<div>
Raw number field data: {{ ec.field.__dict__ }}
</div>
{% endif %}

{% endblock %}
