{% extends 'homepage.html' %}

{% block content %}

<script type="text/javascript">
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>

<!--
        <div align="right">
          Show commands for:
          <a onclick="show_code('sage'); return false" href='#'>sage</a>
        </div>
        <div class='sage nodisplay code'>
          sage: E = EllipticCurve('{{info.lmfdb_iso}}1')<br>
          sage: E.isogeny_class()
        </div>
-->

<div>
  <h2>  Base field   {{ cl.field.knowl()|safe }} </h2>
<p>
 {{ KNOWL('nf.generator', 'Generator') }} \({{
 cl.field.generator_name() }}\), with {{
 KNOWL('nf.minimal_polynomial', 'minimal polynomial') }}
 {{cl.field.latex_poly}}; {{ KNOWL('nf.class_number', 'class number')
 }} \({{cl.field.class_number()}}\).
</p>
    {{ place_code('field') }}
</div>

<h2>Elliptic curves in class {{cl.short_class_label}} over   {{ cl.field_knowl|safe }}</h2>
<p>
Isogeny class {{cl.short_class_label}} contains
{% if cl.class_size==1 %}
only one elliptic curve.
{% else %}
{{cl.class_size}} curves linked by isogenies of
{% if cl.one_deg %}degree {% else %}degrees dividing {% endif %}
{{cl.class_deg}}.
{% endif %}
</p>
<table>
<tr>
<th>{{ KNOWL('ec.curve_label',title = "Curve label") }}</th>
<th>{{ KNOWL('ec.weierstrass_coeffs',  title='Weierstrass Coefficients') }}</th>
</tr>
{% for c in cl.curves %}
<tr>
<td> <a href={{c[1]}}>{{c[0]}}</a>
<td> <a href={{c[1]}}>{{c[2]}}</a>
</tr>
{% endfor %}
</table>

<h2>{{ KNOWL('ec.rank',title='Rank') }}</h2>

{% if cl.rk == "?" %}
{% if cl.rk_bnds != "not recorded" %}
<b>Rank</b> \(r\) satisfies \({{ cl.rank_bounds[0] }} \le r \le {{ cl.rank_bounds[1] }}\)
{% else %}
Rank not yet determined.
{% endif %}
{% else %}
<b>Rank:</b> \( {{ cl.rank }} \)
{% endif %}


<h2>{{ KNOWL('ec.isogeny_matrix',title='Isogeny matrix') }}</h2>

{% if cl.isogeny_matrix %}
<p>
  \({{cl.isogeny_matrix_str}}\)
</p>
{% else %}
<p>Not available.</p>
{% endif %}

<h2>{{ KNOWL('ec.isogeny_graph',title='Isogeny graph') }}</h2>
{% if cl.isogeny_matrix %}
<center>
  <img src="{{cl.graph_img}}" />
</center>
{% else %}
<p>Not available.</p>
{% endif %}

{% if DEBUG %}
<hr>
<div>
Raw isogeny class data: {{ cl.__dict__ }}
</div>
{% endif %}


{% endblock %}


