{% extends "homepage.html" %}

{% block content %}

<div>
  {{ info.stats.short_summary | safe}}
</div>

<h2> Browse </h2>

<table  class="browse">
{% for types in info.fields %}
  <tr>
    <td>{{types[0] | safe}}:</td>
    <td>{% for label,f in types[1] %} <a href="{{f[0]}}">{{f[1]}}</a>&nbsp;&nbsp; {% endfor %} $\cdots$</td>
  </tr>
{% endfor %}
  <tr>
    <td colspan="2">Some <a href="{{url_for('.interesting')}}">interesting elliptic curves</a> or a <a href={{url_for('.random_curve')}}>random elliptic curve</a></td>
  </tr>
</table>

<h2> {{ KNOWL('intro.search', 'Search') }} </h2>

<p></p>
<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

<p>&nbsp;&nbsp;*The rank, regulator and analytic order of &#1064; are
not known for all curves in the database; curves for which these are
unknown will not appear in searches specifying one of these
quantities.</p>

{% if DEBUG %}
<hr>
<div>
Raw field data: {{ info.fields }}
</div>
{% endif %}


{% endblock %}
