{% extends "homepage.html" %}

{% block content %}

<div>
The database currently contains elliptic curves over a few number
fields other than $\Q$, mostly quadratic fields.
</div>

<h2> Browse {{ KNOWL('ec',title='elliptic curves')}} over {{
KNOWL('nf',title = "number fields")}}</h2>

<p>
<ul>
{% for types in data.fields %}
<li>
curves defined over {{types[0]}}:
{% for label,f in types[1] %}
{% if types[0]=='real quadratic fields' %}
{% if loop.index0 %},...,{% endif %}
{% else %}
{% if loop.index0 %},{% endif %}
{% endif %}
 <a href="{{f[0]}}">{{f[1]}}</a>
{% endfor %}
</li>
{% endfor %}
</ul>
</p>

<p>
Curves with interesting properties:
<ul>
{% for item in data.highlights %}
<li><a href="{{item[1]}}">{{item[0]}}</a></li>
{% endfor %}
</ul>
</p>


<h2> Find a specific curve by label</h2>
<form>
<input type='text' name='label' size=25 example="2.2.5.1-31.1-a1">
<button type='submit' name='jump' value='label' >label</button>
<br><span class="formexample">e.g. 2.2.5.1-31.1-a1</span>
{% if err_msg %}
<br>
<span class="errmsg">{{err_msg}}</span>
{% endif %}
</form>


<h2> Search </h2>
Please enter a value or leave blank:
<p></p>
<form>
  <table>
    <tr>
     <td align=right>base {{ KNOWL('nf',title = "number field") }}</td>
     <td>
     <input type='text' name='field' example="2.2.5.1" size=10 value="{{field_label}}" />
     </td>
     <td><span class="formexample"> e.g. 2.2.5.1 or Qsqrt5</span></td>
  <td align=right>{{ KNOWL('ec.base_change',title="base change") }}
  curves</td>
  <td>
         <select name='include_base_change'>
           <option value="off">exclude</option>
           <option value="on" selected="yes">include</option>
         </select>
  </td>
    </tr>

   <tr>
     <td align=right>{{ KNOWL('ec.conductor',title = "conductor") }} norm</td>
     <td>
     <input type='text' name='conductor_norm' example="31" size=10 value="{{conductor_norm}}" />
     </td>
     <td><span class="formexample"> e.g. 31 or 1-100</span></td>

  <td align=right>{{ KNOWL('ec.isogeny',title="isogenous") }}
  curves</td>
  <td>
         <select name='include_isogenous'>
           <option value="off">exclude</option>
           <option value="on" selected="yes">include</option>
         </select>
  </td>
 </tr>

    <tr>
          <td align=right>
          {{ KNOWL('ec.torsion_order',title="torsion order") }}
          </td>
          <td>
          <input type='text' name='torsion' example="2" size=10 value="{{torsion}}" />
          </td>
          <td>
          <span class="formexample"> e.g. 2 </span>
          </td>

          <td align=right>
          {{ KNOWL('ec.torsion_subgroup', title="torsion structure") }}
          </td>
          <td>
          <input type='text' name='torsion_structure' example="[2,4]" size=10 value="{{torsion_structure}}" />
          </td>
          <td>
          <span class="formexample"> e.g. [2,4] </span>
          </td>
      </tr>

 <tr>
  <td align=right>Maximum number of curves to display</td>
  <td>
  <input type='text' name='count'  example='10' size=10 value="{{count}}" />
  </td>
 </tr>

  </table>
<p></p>
<td><button type='submit' value='Search'>Search</button></td>
<p></p>
</form>




{% if DEBUG %}
<hr>
<div>
Raw field data: {{ data.fields }}
</div>
{% endif %}


{% endblock %}
