{% extends "homepage.html" %}

{% block content %}
<style>
<div.ip>span { white-space: nowrap; font-family: serif; }
</style>

<script>
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == system) {
      $('.'+system).hide();
      cur_system = null;
      } else {
      $('.'+system).show();
      cur_system = system;
    }
  }
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script><script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script><script src="http://aleph.sagemath.org/embedded_sagecell.js">
  

</script><style type="text/css">
  .sagecell .CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .sagecell-practice .CodeMirror-scroll {
    height: 150px;
  }

  .sagecell button.sagecell_evalButton {
      font-size: 80%;
  }

  .sagecell_sessionContainer {
      margin-bottom:1em;
  
  }

  </style>

{#
    <div align ="right">
      Show commands using:  <a onclick="show_code('sage'); return false" href='#'>sage</a>,
        <a onclick="show_code('pari'); return false" href='#'>pari</a>,
        <a onclick="show_code('magma'); return false" href='#'>magma</a>
    </div>
#}

<div>
  <h2>  Base field   {{ ec.field.knowl()|safe }} </h2>
<p>
Generator \({{ ec.field.generator_name() }}\), with minimal polynomial
\({{ec.field.poly()}}\), class number \({{ec.field.class_number()}}\).
</p>
</div>

<style type="text/css">
#invariants th, #invariants  td {
padding : 4px;
text-align: left;
cellpadding="5";
}
</style>

<div>
<h2>{{ KNOWL('ec.weierstrass_coeffs',  title='Weierstrass equation') }}</h2>
<p>
{{ ec.equn }}
</p>
<p>
  {% if ec.is_minimal %}
  This is a global minimal model.
  {% else %}
  This is not a global minimal model: it is minimal at all primes except
  {{ ec.non_min_prime }}.
  {% if ec.has_minimal_model %}
  However, a minimal model does exist.
  {% else %}
  No global minimal model exists.
  {% endif %}
  {% endif %}
</p>


<h2>Invariants</h2>

        <table id="invariants">
        <tr>
          <td>{{ KNOWL('ec.conductor',  title='Conductor') }}</td>
        <td>
         \(\mathfrak{N} \)</td>
        <td>=</td>
        <td>{{ ec.cond }}</td>
        <td>=</td>
        <td>{{ ec.fact_cond }}</td>
        </tr>

        <tr>
          <td>Conductor {{ KNOWL('ec.conductor_norm',  title='norm') }}</td>
        <td>
         \(N(\mathfrak{N}) \)</td>
        <td>=</td>
        <td>{{ ec.cond_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_cond_norm }}</td>
        </tr>

        <tr>
          <td>{{ KNOWL('ec.discriminant',  title='Discriminant ideal') }}</td>
        <td>
         \((\Delta)\)</td>
        <td>=</td>
        <td>{{ ec.disc }}</td>
        {% if ec.fact_disc %}
        <td>=</td>
        <td>{{ ec.fact_disc }}</td>
        {% endif %}
        </tr>

        <tr>
          <td>Discriminant {{ KNOWL('ec.discriminant_norm',  title='norm') }}</td>
        <td>
         \(N(\Delta)\)</td>
        <td>=</td>
        <td>{{ ec.disc_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_disc_norm }}</td>
        </tr>

{% if not ec.is_minimal %}
        <tr>
          <td>{{ KNOWL('ec.discriminant',  title='Minimal Discriminant ideal') }}</td>
        <td>
         \(\Delta_{min}\)</td>
        <td>=</td>
        <td>{{ ec.mindisc }}</td>
        {% if ec.fact_mindisc %}
        <td>=</td>
        <td>{{ ec.fact_mindisc }}</td>
        {% endif %}
        </tr>

        <tr>
          <td>Minimal discriminant {{ KNOWL('ec.discriminant_norm',  title='norm') }}</td>
        <td>
         \(N(\Delta_{min})\)</td>
        <td>=</td>
        <td>{{ ec.mindisc_norm }}</td>
        <td>=</td>
        <td>{{ ec.fact_mindisc_norm }}</td>
        </tr>
{% endif %}

        <tr>
          <td>{{ KNOWL('ec.j_invariant',  title='\(j\)-invariant') }}</td>
        <td>
         \(j\)</td>
        <td>=</td>
        <td>{{ ec.j }}</td>
        {% if ec.fact_j %}
        <td>=</td>
        <td>{{ ec.fact_j }}</td>
        {% endif %}
        </tr>

        <tr>
          <td>{{ KNOWL('ec.endomorphism_ring',  title='Endomorphism ring') }}</td>
        <td> \( \text{End} (E) \)</td>
        <td>=</td>
        <td>{{ ec.End }}</td>
        <td>&nbsp;</td>
        <td>({%if not ec.cm %}no {%endif %}
   {{ KNOWL('ec.complex_multiplication', title='Complex Multiplication')}}
            )
        </td>
        </tr>

</table>
</div>

<div>
<h2> {{ KNOWL('ec.mordell-weil', title="Mordell-Weil rank and generators") }} </h2>
Not yet determined.
</div>

<div>
<h2> {{ KNOWL('ec.torsion_subgroup', title="Torsion subgroup") }} </h2>
<table>
<tr>
<th>Structure:</th>
<td>{{ ec.tor_struct_pretty }}</td>
</tr>
    {% if ec.tr %}
<tr>
<th>{% if ec.tr==1 %}Generator{% else %}Generators{% endif %}:</th>
<td>{{ ec.torsion_gens }}</td>
</tr>
    {% endif %}
</table>
</div>

<div>
    <h2>{{KNOWL('local_data', title='Local data')}} at primes of {{KNOWL('ec.bad_reduction', title='bad reduction')}} </h2>

{% if ec.local_data %}
<table cellpadding="5">
<tr>
<th>prime</th>
<th>norm</th>
<th>{{KNOWL('ec.tamagawa_numbers', title='Tamagawa number')}}</th>
<th>{{KNOWL('ec.kodaira_symbol', title='Kodaira symbol')}}</th>
<th>{{KNOWL('ec.reduction_type', title='reduction type')}}</th>
<th>{{KNOWL('ec.minimal_discriminant.order', title='ord(\(\Delta_{min}\))')}}</th>
<th>{{KNOWL('ec.j_invariant.denominator_order', title ='ord\({}_-(j\))')}}</th>
</tr>
{% for pr in ec.local_data %}
<tr>
<td align=center>
{{pr.p}}
</td>
<td align=center>
{{pr.norm}}
</td>
<td align=center>
\({{pr.tamagawa_number}}\)
</td>
<td align=center>
{{pr.kodaira_symbol}}
</td>
<td align=center>
{% if pr.reduction_type==0 %}
 Additive
 {% elif pr.reduction_type==1 %}
  Split multiplicative
  {% elif pr.reduction_type==-1 %}
   Non-split multiplicative
{% endif %}
</td>
<td align=center>
{{ pr.ord_mindisc }}
</td>
<td align=center>
{{ pr.ord_den_j }}
</td>
</tr>
{% endfor %}
</table>
{% else %}
No primes of bad reduction.
{% endif %}
</div>


{% if DEBUG %}
<hr>
<div>
Raw elliptic curve data: {{ ec.__dict__ }}
</div>
<hr>
<div>
Raw number field data: {{ ec.field.__dict__ }}
</div>
{% endif %}

{% endblock %}
