{% extends 'homepage.html' %}

{% block content %}

<script type="text/javascript">
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>

<!--
        <div align="right">
          Show commands for:
          <a onclick="show_code('sage'); return false" href='#'>sage</a>
        </div>
        <div class='sage nodisplay code'>
          sage: E = EllipticCurve('{{info.lmfdb_iso}}1')<br>
          sage: E.isogeny_class()
        </div>
-->


<h2>Elliptic curves in class {{cl.short_label}}</h2>
<table>
<tr>
<th>{{ KNOWL('ec.curve_label',title = "Curve label") }}</th>
<th>{{ KNOWL('ec.weierstrass_coeffs',  title='Weierstrass Coefficients') }}</th>
</tr>
{% for c in cl.curves %}
<tr>
<td> <a href={{c[1]}}>{{c[0]}}</a>
<td> <a href={{c[1]}}>{{c[2]}}</a>
</tr>
{% endfor %}
</table>



<h2>{{ KNOWL('ec.isogeny_matrix',title='Isogeny matrix') }}</h2>

{% if cl.isogeny_matrix %}
<p>
  \({{cl.isogeny_matrix_str}}\)
</p>
{% else %}
<p>Not available.</p>
{% endif %}

<h2>{{ KNOWL('ec.isogeny_graph',title='Isogeny graph') }}</h2>
{% if cl.isogeny_matrix %}
<center>
  <img src="{{cl.graph_img}}" />
</center>
{% else %}
<p>Not available.</p>
{% endif %}

<script type="text/javascript">
var number_of_coefficients = 10;
function more_handler(evt) {
    number_of_coefficients += number_of_coefficients;
    evt.preventDefault();
    $("#modform_output").load("/EllipticCurve/Q/modular_form_display/{{info.lmfdb_label}}/"+number_of_coefficients,
        function() {
            {# tell mathjx to render the output #}
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, "modform_output"]);
        });
}
$(function() {
    $("#morebutton").click(function(e) {more_handler(e)});
});
</script>

{% if DEBUG %}
<hr>
<div>
Raw isogeny class data: {{ cl.__dict__ }}
</div>
{% endif %}


{% endblock %}


