{% extends 'homepage.html' %}
{% block content %}


<h2> {{ KNOWL('modcurve.invariants', 'Invariants') }} </h2>
<table>
<!--  <tr><td>{{ KNOWL("modcurve.level", "Level") }}:</td><td> ${{ curve.level }}$ </td><td style="width:20px;"></td><td>{{ KNOWL("modcurve.sl2level", "$\SL_2$-level") }}:</td><td>${{ curve.sl2level }}$</td><td style="width:60px;"></td><td>{{ KNOWL("modcurve.newform_level", "Newform level:") }}</td><td>${{ curve.newform_level }}$</td></tr> -->
</table>

<h2> {{ KNOWL('modcurve.cusps', 'Cusps') }} </h2>

<!-- Make a table, etc. -->

{% endblock %}
