{% extends 'homepage.html' %}


{% block content %}

{{ KNOWL_INC('dq.character.dirichlet.extent') }}

<h2> Browse </h2>
<p>
By {{ KNOWL('character.dirichlet.modulus', title="modulus") }}:
{% set step = 20 %}
{% for c in range(1,101,step) %}
&nbsp;&nbsp;<a href="?modbrowse={{c}}-{{c+step-1}}">{{c}}-{{c+step-1}}</a>
{% endfor %}
</p>

<p>
By {{ KNOWL('character.dirichlet.conductor', title="conductor") }}:
{% set step = 20 %}
{% for c in range(1,101,step) %}
&nbsp;&nbsp;<a href="?condbrowse={{c}}-{{c+step-1}}">{{c}}-{{c+step-1}}</a>
{% endfor %}
</p>

<p>
By {{ KNOWL('character.dirichlet.order', title="order") }}:</td>
{% set step = 20 %}
{% for c in range(1,101,step) %}
&nbsp;&nbsp;<a href="?ordbrowse={{c}}-{{c+step-1}}">{{c}}-{{c+step-1}}</a>
{% endfor %}
</p>

<p>
Some <a href="{{url_for('.interesting')}}">interesting Dirichlet characters</a> or a <a href="random">random Dirichlet character</a></td>
</p>

<h2> Search </h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find a specific  {{KNOWL('character.dirichlet', title="Dirichlet character") }} or {{KNOWL('character.dirichlet.group', title="Dirichlet character group") }}  by
  {{KNOWL('character.dirichlet.conrey', title="label") }}, {{KNOWL('character.dirichlet.modulus', title="modulus") }}, or {{KNOWL('character.dirichlet.galois_orbit_label', title="orbit label") }} </h2>
<h2 id='search_h2'> Search </h2>
<h2> Find </h2>
<form>
<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{#
<h2> Create a character table </h2>
<form action="{{ url_for('characters.dirichlet_table') }}" method="get"> 
    <table>
        <tr>
            <td> {{ KNOWL('character.dirichlet.modulus', title="modulus") }} </td>
            <td> <input type='text' name='modulus' value="{{args.table_modulus}}" style="width:160px;" placeholder="13" required></td>
            <td><span class="formexample"> e.g. 13 </span></td>
        </tr>
    </table>
    <p></p>
    <td>
        <button type='submit' name='create' value='1' > Create </button>
    </td>
</form>
#}
{% endblock %}
