{% extends 'homepage.html' %}


{% block content %}

{{ KNOWL_INC('dq.character.dirichlet.extent') }}

<h2> Browse {{ KNOWL('character.dirichlet', title="Dirichlet characters") }}</h2>
<p>
&nbsp;&nbsp;By {{ KNOWL('character.dirichlet.modulus', title="modulus") }}:
&nbsp;&nbsp;<a href="?modbrowse=1-25">1&mdash;25</a>
&nbsp;&nbsp;<a href="?modbrowse=26-50">26&mdash;50</a>
&nbsp;&nbsp;<a href="?modbrowse=51-75">51&mdash;75</a>
&nbsp;&nbsp;<a href="?modbrowse=76-100">76&mdash;100</a>
</p>

<p>
&nbsp;&nbsp;By {{ KNOWL('character.dirichlet.conductor', title="conductor") }}:
&nbsp;&nbsp;<a href="?condbrowse=1-10">1&mdash;10</a>
&nbsp;&nbsp;<a href="?condbrowse=11-20">11&mdash;20</a>
&nbsp;&nbsp;<a href="?condbrowse=21-30">21&mdash;30</a>
&nbsp;&nbsp;<a href="?condbrowse=31-40">31&mdash;40</a>
</p>

<p>
&nbsp;&nbsp;By {{ KNOWL('character.dirichlet.order', title="order") }}:</td>
&nbsp;&nbsp;<a href="?ordbrowse=1-10">1&mdash;10</a>
&nbsp;&nbsp;<a href="?ordbrowse=11-20">11&mdash;20</a>
&nbsp;&nbsp;<a href="?ordbrowse=21-30">21&mdash;30</a>
&nbsp;&nbsp;<a href="?ordbrowse=31-40">31&mdash;40</a>
</p>

<p>
&nbsp;&nbsp;A <a href="random">random Dirichlet character</a> from the database</td>
</p>

<h2> Find a specific {{ KNOWL('character.dirichlet', title="Dirichlet character") }} </h2>

<form>
    <input type='text' name='natural' size=10 placeholder="13.2" required>
    <button type='submit' name='search' value='Go'> Find  </button>
    <span class="formexample"> e.g. 13.2 -- represents the Dirichlet character \(\displaystyle\chi_{13}(2,&middot;)\).</span>
</form>

<h2> Search for characters </h2>
Enter criteria into one or more boxes to restrict the search.
<p></p>

<form>
    <table>
        <tr>    
            <td> {{ KNOWL('character.dirichlet.modulus', title="modulus") }}</td>
            <td> <input type='text' name='modulus' size = '10' placeholder="13"></td>
            <td><span class="formexample"> e.g. 13 </span></td>
        </tr>

        <tr>
            <td> {{ KNOWL('character.dirichlet.conductor', title="conductor") }} </td>
            <td> <input type='text' name='conductor' size = '10' placeholder="5"></td>
            <td><span class="formexample"> e.g. 5 </span></td>
        </tr>

        <tr>
            <td> {{ KNOWL('character.dirichlet.order', title="order") }} </td>
            <td> <input type='text' name='order' size = '10' placeholder="2"></td>
            <td><span class="formexample"> e.g. 2 </span></td>
        </tr>
    </table>
    <p></p>
    <td>
        <button type='submit' value='Search' > Search </button>
    </td>
</form>

<h2> Create a character table </h2>
<form action="{{ url_for('characters.dirichlet_table') }}" method="get"> 
    <table>
        <tr>
            <td> {{ KNOWL('character.dirichlet.modulus', title="modulus") }} </td>
            <td> <input type='text' name='modulus' size='10'
              placeholder="13" required></td>
            <td><span class="formexample"> e.g. 13 </span></td>
        </tr>
    </table>
    <p></p>
    <td>
        <button type='submit' value='Create' > Create </button>
    </td>
</form>
{% endblock %}


