{% macro addcode(entries,tag) -%}
   {% if entries %}
   {% for lang in codelangs %}
     {% if lang in entries %}
       {% set prompt = 'gp> ' if lang == 'pari' else '%s: '%lang %}
       {% set code = entries[lang] %}
       <{{tag}} class='{{lang}} nodisplay code codebox'>{{prompt}}{{- code if code is string else code|join('\n%s'%prompt) -}}</{{tag}}>
     {% endif %}
   {% endfor %}
   {% endif %}
{%- endmacro %}

{% extends 'homepage.html' %}

{% block content %}

<script>
var cur_system = null;
function show_code(system) {
   {% for lang in codelangs %}
   $('.{{lang}}').hide();
   {% endfor %}
    if (cur_system == system) {
      cur_system = null;
    } else {
      $('.'+system).show();
      cur_system = system;
    }
}
</script>

<style>
.output {
    padding:20px 0 20px 100px;
    text-align: left;
    font-size: 115%;
}
table.navi td {
    padding: 0;
}
table.props tr td:first-child {
    width: 5em;
}
#content p, #content form, #content div {
    margin-left: 20px;
}

table.values {
  width: auto;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
table.values a {
  display: block;
}
table.values thead tr {
    border-bottom: 1px dotted gray;
}
table.values th {
  text-align: center;
  font-weight: normal;
}

table.values td.odd,
table.values td:nth-child(odd),
table.values td:first-child {
 background: white;
}

table.values td.even,
table.values td:nth-child(even) {
 background: #EFE;
}
</style>

   {% if codelangs %}
        <div align="center">
            <font size="3">Show commands for:</font>
            {% for lang in codelangs %}
            <a onclick="show_code('{{lang}}'); return false" href='#'>{{lang}}</a>
            {% endfor %}
        </div>
   {% endif %}
 
   {% block description %}

   {% endblock %}


{% endblock %}
