{% extends 'dirichlet_characters/Charpage.html' %}

{% block description %}

{{ addcode(codeinit,'div') }}

    {# First character groups #}

    <h2> {{type}} character groups of first conductors </h2>
<table class="ntdata" id="chitable">
  <thead class="space">
    <tr> 
      {% for h in headers %} <th class="weight">{{h}} </th> {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for mod, ord, struct in contents %}
    <tr>
      <th class="left">
        <a align="center"
          {#href=" {{ url_for('render_charwebpage', type=type, number_field=nflabel, modulus=mod) }} ">#}
          href="/Character/{{type}}{%if nflabel%}/{{nflabel}}{%endif%}/{{mod}}">
          {{ mod }}
        </a>
      </th>
      <td style="font-family: serif;" >{{ord}}</td>
      <td style="font-family: serif;" >{{struct}}</td>
    </tr>
    {% endfor %} 
  </tbody>    
</table>

{% endblock %}

