{% extends 'homepage.html' %}
{% block content %}

<style type="text/css">
.modulus {
    font-family: serif;
    vertical-align: top;
    padding-top: 1em;
    border-right: 2px solid {{color.chi_border}};
}
.modulus a { display: inline; font-family: serif; }
.modulus font { display: inline; font-family: serif }
.chi {
    padding: 30px 30px;
    font-family: serif;
    width: 7em;
    display: inline;
    white-space:nowrap;}
.chi a { display: inline; font-family: serif;}
#chitable { clear:right; }
#chitable td div { float: left; padding-left: .5em; padding-right: .5em; }
#chitable td div>a { text-align: right; }
#chitable td { text-align: right; vertical-align: middle;  white-space: nowrap; }
#chitable td.a { background: {{color.chi_table_background}}; }
#chitable td.b { background: none; }
#chitable th { text-align: right; }
/*table.ntdata tr.even, table.ntdata tr:nth-child(even) { background: none; }*/
#chitable a.imprimitive { color: {{color.chitable_imprimitive}};}
#chitable a.primitive { color: {{color.chitable_primitive}} ;}

.primitive {
  color:{{color.chitable_primitive}};
}
.imprimitive {
    color:{{color.chitable_imprimitive}};
}
.heading {
    padding: 30px 30px
    }
</style>

<h2> Create tables for other moduli: </h2>
<form>
    {#<input type="hidden" name="start" value="{{start}}"/>#}
    <table border="0">
        <tr>
            <td align=left> {{ KNOWL('character.dirichlet.modulus', title="modulus") }}
                <input type = 'text' name = 'modulus' size=10 value={{modulus}}>
            </td>
        </tr>
    </table>
    <p></p>
    <td>
        <button type='submit' value='refine'>Create again</button>
    </td>
</form>

<div>
  <table class="ntdata" id="chitable">
    <thead class="space">
      <tr class="space">
        <th class="spaceleft"></th>
        <th class="weight" colspan="{{headers|length}}">
          <span style="display:block;float:left;margin-right:3px;"> Values </span>
        </tr>
        <tr> 
          <th class="left"> </th>
          {% for h in headers %}
          <th class="weight">{{h}} </th> 
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in contents %}
        <tr>
          <th class="left">
            <a class="{% if row[1] -%}primitive{%- else -%}imprimitive{%- endif %}"  align="center" href="{{url_for('characters.render_Dirichletwebpage',modulus=modulus,number=row[0])}}">
              \(\chi_{ {{modulus}} } ( {{row[0]}}, &middot;)\)
            </a>
          </th>
          {% for value in row[2] %}
          <td style="font-family: serif;" >{{value}}</td> 
          {% endfor %}
        </tr>
        {% endfor %} 
      </tbody>

    </table>
  </div>
  {% endblock %}
