<p>
  The table shows, for each
  $k$ in the table header
  {% if dim_args[1] %}
  and for $j={{ dim_args[1] }}$
  {% endif %}
  the dimensions of the following subspaces of ${{ col.latex_name() }}$:
  {{ col.dimension_glossary()|safe }}
  <table>
    <thead>
      <tr>
	<th></th>
	{% for k in dimensions|sort() %}
	<th>${{ k }}$</th>
	{% endfor %}
      </tr>
    </thead>
    {% for header in table_headers %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}">
      <th align = "left">{{ header }}</th>
      {% for k in dimensions|sort() %}
      <td>{{ dimensions[k][header] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</p>
