<script>
    function prepare_label_query() {

	var label_glob = document.getElementById( "label_glob").value.trim()
	var re = /^([a-zA-Z0-9_\*]+)\.([a-zA-Z0-9_\*]+)$/;
	m = label_glob.match( re);

        if ( m) {
	    a = m[1].replace(/\*/g, ".*");
            b = m[2].replace(/\*/g, ".*");

            queryObj = { "collection" : { "$regex": '^'+a+'$'}, "name": { "$regex": '^'+b+'$'}};
	    document.getElementById("label_query").value = JSON.stringify( queryObj);
	    return true;
	}
	else {
	    alert( "Insert a glob of the form 'col.name', where 'col' and 'name' are sequences of\n\nletters, digits or the symbols '_' or '*'");
	    return false;
	}
	return false;
    }
</script>
<form action="/ModularForm/GSp/Q/search_results" method="get" onsubmit="return prepare_label_query()">
  <input type="hidden" id="label_query" name="query" /> 
  <table>
    <tr>
      <td>
	<label>label</label>
      </td>
      <td>
	<input type="text" id="label_glob" size=20 placeholder="Sp4Z.26_Ups_1">
	<span class="formexample">e.g. Sp4Z.26_Ups.1 or Sp*.*_E or Kp.2_PY2_*</span>
      </td>
      <td>
	<button type="submit" value="submit">Find</button>
      </td>
      </tr>
  </table>
</form>
