<h2>The module of 
<a class="knowl-title" knowl="mf.siegel.vector_valued">vector-valued Siegel modular forms</a>

of degree 2, taking values in a three-dimensional space, with respect to the 
<a class="knowl-title" knowl="mf.siegel.group.symplectic">full modular group</a>
</h2>

<div class="literature">
  <ul>
    <li><span class="name">T. Satoh:</span> Construction of certain vector valued Siegel modular forms of degree two. Proc. Japan Acad. Ser. A Math. Sci. 61 (1985), 225-227, <a href="http://www.ams.org/mathscinet-getitem?mr==0816719">MR0816719</a></li>
<li><span class="name">
R. Tsushima:</span> An explicit dimension formula for the spaces of generalized automorphic
form with respect to $\Sp(2, \Z)$. Proc. Japan Acad., 59A, 139-142 (1983),<a href="http://www.ams.org/mathscinet-getitem?mr==0816719">MR0816719</a></li>
  </ul>
</div>

<p>
  Let 
  $\psi_4$, $\psi_6$, $\chi_{10}$, $\chi_{12}$
  be generators of 
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', page='Sp4Z') }}">
$M(\Sp(4,\Z))$
</a>,
the Siegel modular forms of degree 2 with respect to the full modular group.
</p>

<p>
We will write $\Gamma_2=\Sp(4,\Z)$ for short.
For $f\in M_k(\Gamma_2)$ and $g\in M_j(\Gamma_2)$,
define the Satoh bracket
$$[f,g] = \frac 1{2\pi i}\left(\frac1k g\frac{d}{dZ}f-\frac1j f\frac{d}{dZ}g\right).$$
Then $[f,g]\in M_{k,2}(\Gamma_2)$.
Then we have:
for even integers $k$, 
$$
\begin{align}
M_{k,2}(\Gamma_2)
=& M_{k-10}(\Gamma_2) [\psi_4,\psi_6] \oplus M_{k-14}(\Gamma_2) [\psi_4,\chi_{10}] \\
 &\oplus M_{k-16}(\Gamma_2) [\psi_4,\chi_{12}]  \oplus V_{k-16}(\Gamma_2) [\psi_6,\chi_{10}]\\
&\oplus V_{k-18}(\Gamma_2) [\psi_6,\chi_{12}]\oplus V_{k-22}(\Gamma_2) [\chi_{10},\chi_{12}],
\end{align}
$$
where
$$V_k(\Gamma_2)=M_k(\Gamma_2)\cap \C[\psi_6,\chi_{10},\chi_{12}],$$
$$W_k(\Gamma_2)=M_k(\Gamma_2)\cap \C[\chi_{10},\chi_{12}].$$
</p>

<p>
We write
<ul><li>  $A=\psi_4$,</li>
<li> $B=\psi_6$,</li>
<li>  $C=\chi_{10}$,</li>
<li>  $D=\chi_{12}$,</li>
</ul>
for short in the modular form specimen pages.
</p>


