<h2>The ring of <a class="knowl-title" knowl="mf.siegel">
Siegel modular forms</a> of degree 4 with respect to the 
<a class="knowl-title" knowl="group.sp2gr">full modular group</a></h2>

<div class="literature">
  <ul>
    <li><span class="name">
C. Poor and D. S. Yuen:</span>
Computations of spaces of Siegel modular cusp forms, J. Math. Soc. Japan 59 1 (2007), 185-222,
<a href="http://www.ams.org/mathscinet-getitem?mr==2302669">MR2302669</a>
    </li>
    <li><span class="name">
Ibukiyama, T. Lifting conjectures from vector valued Siegel modular forms
 of degree two, (2012) Comment. Math. Univ. St. Pauli 61, No. 1, pp. 87–102.
    </li>
  </ul>
</div>


<p>
The dimensions for degree 4 Siegel modular cusp forms
 <script type="math/tex">S_k(Sp(8,Z))</script>
for the full group
for weights
 <script type="math/tex">\ k\le16 \ </script>
were proven by <span class="name">C. Poor and D. S. Yuen</span> 
(Computations of spaces of Siegel modular cusp forms, J. Math. Soc. Japan 59 1 (2007), 185-222,
<a href="http://www.ams.org/mathscinet-getitem?mr==2302669">MR2302669</a>).
Poor and Yuen also computed Fourier coefficients and some eigenvalues.
</p>
<p>
The <a class="knowl-title" knowl="mf.siegel.cusp_form">cusp forms</a> in weights up through 14
are either <a class="knowl-title" knowl="mf.siegel.ikeda">Duke-Imamoglu-Ikeda lifts</a>
or <a class="knowl-title" knowl="mf.siegel.miyawaki">Miyawaki lifts</a>.
  In weight 16, in addition to these two types of lifts, there are other
  eigenforms that have been shown by Ibukiyama to instantiate
  a conjectural lift from vector-valued Siegel modular forms.
 
</p>
