<h2>The ring of <a class="knowl-title" knowl="mf.siegel">
Siegel modular forms</a> of degree 4 with respect to the 
<a class="knowl-title" knowl="mf.siegel.group.symplectic">full modular group</a></h2>

<div class="literature">
  <ul>
    <li><span class="name">
C. Poor and D. S. Yuen:</span> 
Computations of spaces of Siegel modular cusp forms, J. Math. Soc. Japan 59 1 (2007), 185-222,
<a href="http://www.ams.org/mathscinet-getitem?mr==2302669">MR2302669</a>
</li>
  </ul>
</div>



<p>
The dimensions for degree 4 Siegel modular cusp forms
 <script type="math/tex">S_k(Sp(8,Z))</script>
for the full group
for weights
 <script type="math/tex">\ k\le16 \ </script>
were proven by <span class="name">C. Poor and D. S. Yuen</span> 
(Computations of spaces of Siegel modular cusp forms, J. Math. Soc. Japan 59 1 (2007), 185-222,
<a href="http://www.ams.org/mathscinet-getitem?mr==2302669">MR2302669</a>).
Poor and Yuen also computed Fourier coefficients and some eigenvalues.
</p>
<p>
The <a class="knowl-title" knowl="mf.siegel.cusp_form">cusp forms</a> in weights up through 14
are either <a class="knowl-title" knowl="mf.siegel.ikeda">Duke-Imamoglu-Ikeda lifts</a>
or <a class="knowl-title" knowl="mf.siegel.miyawaki">Miyawaki lifts</a>.
In weight 16, in addition to these two types of lifts, there are other eigenforms which currently
are unknown whether they are some new type of lifts or not.
The ring structure is unknown.
</p>
