{% extends 'homepage.html' %}

{% block content %}
    <!--<div id="header">
        <div class="logo">
            <a href="/Character/Dirichlet">{{ title }} home</a>
        </div>
        <div class="banner">
            <span>The logo of the portal could go here... </span>
        </div>
    </div>-->

<script>
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>

<!--<div id="Content">-->
        
        
            <div align="right">
              <font size="3">Show commands for:</font>
                <a onclick="show_code('sage'); return false" href='#'>sage</a>
                <!--<a onclick="show_code('pari'); return false" href='#'>pari</a>
                <a onclick="show_code('magma'); return false" href='#'>magma</a>-->
            </div>

            


        <!--<h2>
            Sage Output
        </h2>-->
        <div class='sage nodisplay code'>sage: chi = DirichletGroup({{modulus}})[{{number}}]</div>
        <!--<p>
            {{ sagechar }}
            </p>-->

        {% if order == 2 %}
        <h2>
            {{ KNOWL('dirichlet_character.kronecker_symbol') }} Representation 
        </h2>
        <div class = 'sage nodisplay code'>sage: a.kronecker({{conductor}})</div>
        <p>
            {{ kronsymbol }}
        </p>
        {% endif %}

        {% if primitive == primtf %}
        <h2>
            Inducing {{ KNOWL('dirichlet_character.primitive_character', title="Primitive") }}           </h2>
        <div class = 'sage nodisplay code'>sage: chi.primitive_character()</div>
        <p>
        <a href="{{primcharmodulus}}/{{primcharnumber}}">{{primchartex}}</a>
        </p>
        {% endif %}

        <h2>
            {{ KNOWL('dirichlet_character.values', title="Values") }}
        </h2>
        <div class = 'sage nodisplay code'>sage: chi.values()</div>
        {% if zetaorder > 2 %} &nbsp;&nbsp;For \(\zeta_{ {{ zetaorder }} }\) a primitive \( {{ zetaorder }} \)-th root of unity<br><br/> {% endif %}
        <table>
        <tr>
            <td>   
                <div align="left"> 
                    &nbsp;&nbsp;[\({{ valstex|join("\) , \(") }}\)]
                </div>
            </td>
        </tr>
        </table>
        <h2>
            {{ KNOWL('dirichlet_character.values_on_gens', title="Values on Generators") }}
        </h2>
        <div class = 'sage nodisplay code'>sage: chi.values_on_gens()</div>
        <p>
           &nbsp;&nbsp;\( {{ unitgens }} \) &rarr; \( {{ genvalstex }} \)
        </p>

        <h2> Basic Properties </h2>
        <table>

        <tr>
        <td colspan="4">
            <span class='sage nodisplay code'>sage: chi.conductor()</span>
        </td>
        </tr>
        <tr>
        <td colspan="4">{{ KNOWL('dirichlet_character.conductor', title="Conductor") }}</td>
        <td>=</td>
        <td>\({{ conductor }}\)</td>
        </tr>

        <tr>
        <td colspan="4">
            <span class='sage nodisplay code'>sage: chi.order()</span>
        </td>
        </tr>
        <tr>
        <td colspan="4"> {{ KNOWL('dirichlet_character.order', title="Order") }}</td>
        <td>=</td>
        <td>\({{ order }} \)</td>
        </tr>

        <tr>
        <td colspan="4">
            <span class='sage nodisplay code'>sage: chi.is_even() or chi.is_odd()</span>
        </td>
        </tr>
        <tr>
        <td colspan="4"> {{ KNOWL('dirichlet_character.parity', title="Parity") }} </td>
        <td>=</td>
        <td> {{ parity }}</td>
        </tr>

        <tr>
        {% if sign=="False" %} <td colspan="4"> {{ KNOWL('dirichlet_character.complex', title="Complex") }} </td>
        {% else %} <td colspan="4"> {{ KNOWL('dirichlet_character.real', title="Real") }} </td>
        {% endif %}
        </tr>

        <tr>
            <td colspan="4">
                <span class='sage nodisplay code'>sage: chi.is_primitive()</span>
            </td>
        </tr>
        <tr>
        {% if primitive=="False" %} <td colspan="4"> {{ KNOWL('dirichlet_character.nonprimitive', title="Non-primitive") }} </td> 
        {% else %} <td colspan="4"> {{ KNOWL('dirichlet_character.primitive', title="Primitive") }} </td>
        {% endif %}
        </tr>

       </table>

        <h2>
            {{ KNOWL('dirichlet_character.gauss_sum') }}
        </h2>
        <div class = 'sage nodisplay code'>sage: chi.gauss_sum()</div>
        <form> &nbsp;&nbsp;{{ gauss_sum }} 
            <input type = 'text' name = 'gauss_sum' size=10 placeholder="2">
            <button type='submit' name='search' value='Go'> Go </button>
            <span class="formexample"> e.g. 2 </span>
        </form>
        <h2>
            {{ KNOWL('dirichlet_character.jacobi_sum') }}
        </h2>
        <div class = 'sage nodisplay code'>sage: chi.jacobi_sum()</div>
        <form> &nbsp;&nbsp;{{ jacobi_sum }} 
            <input type = 'text' name = 'jacobi_sum' size=10 placeholder="13.2">
            <button type='submit' name='search' value='Go'> Go </button>
            <span class="formexample"> e.g. 13.2 </span>
        </form>
        <h2>
            {{ KNOWL('dirichlet_character.kloosterman_sum') }}
        </h2>
        <div class = 'sage nodisplay code'>sage: chi.kloosterman_sum(,)</div>
        <form> &nbsp;&nbsp;{{ kloosterman_sum }} 
            <input type = 'text' name = 'kloosterman_sum' size=10 placeholder="1,2">
            <button type='submit' name='search' value='Go'> Go </button>
            <span class="formexample"> e.g. 1,2</span>
        </form>

        <!--</div>-->

    <div class="spacer">
        &nbsp;</div>

{% endblock %}

