{% extends 'homepage.html' %}

{% block content %}

<div>
  {{info.stats.short_summary| safe}}
</div>

<h2> Browse </h2>

<table class="browse">
  <tr>
    <td>By {{ KNOWL('ec.q.conductor',title = "conductor")}}:</td>
    <td>{% for rnge in info.conductor_list %} <a href="?conductor={{rnge}}">{{rnge}}</a>&nbsp;&nbsp; {% endfor %}</td>
  </tr><tr>
    <td>By {{ KNOWL('ec.rank', title="rank")}}:</td>
    <td>{% for r in info.rank_list: %} <a href="?rank={{r}}">{{r}}</a>&nbsp; {% endfor %}</td>
  </tr><tr>
    <td>By {{ KNOWL('ec.torsion_order', torsion=t,title="torsion order") }}:</td>
    <td>{% for t in info.torsion_list: %} <a href="?torsion={{t}}">{{t}}</a>&nbsp; {% endfor %}</td>
  </tr><tr>
    <td colspan="2">Some <a href="{{url_for('.interesting')}}">interesting elliptic curves</a> or a <a href="{{url_for('.random_curve')}}"}>random elliptic curve</a></td>
  </tr>
</table>

<h2> Search </h2>

<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
