{% extends 'homepage.html' %}
{% block content %}

{{ place_code('class') }}

<style type="text/css">
#isogeny_class_table th, #isogeny_class_table td {
padding : 4px;
text-align: center;
}
</style>

<h2>Elliptic curves in class {{info.iso_label}}</h2>
{{ place_code('curves') }}
<table id = "isogeny_class_table">
<tr>
<th>{{ KNOWL('ec.q.lmfdb_label', title='LMFDB label')}}</th>
<th>{{ KNOWL('ec.q.cremona_label', title='Cremona label')}}</th>
<th>{{ KNOWL('ec.q.minimal_weierstrass_equation', title='Weierstrass coefficients') }}</th>
<th>{{ KNOWL('ec.torsion_order', title='Torsion order') }}</th>
<th>{{ KNOWL('ec.q.modular_degree', title='Modular degree') }}</th>
<th>{{ KNOWL('ec.q.optimal', title='Optimality') }}</th>
</tr>
{% for c in info.curves %}
{% if c.optimal %}
<tr bgcolor="{{color.ec_background}}">
{% else %}
<tr>
{% endif %}
<td class="center"><a href="{{c.curve_url_lmfdb}}">{{c.lmfdb_label}}</a></td>
<td class="center"><a href="{{c.curve_url_cremona}}">{{c.label}}</a></td>
<td class="center">{{c.ai}}</td>
<td align="center">{{c.torsion}}</td>
<td align="center">
{% if c.degree==0 %}Not available{% else %}{{c.degree}}{% endif %}
</td>
{% if c.optimal %}
<td>\(\Gamma_0(N)\)-optimal</td>
{% else %}
<td>&nbsp;</td>
{% endif %}
</tr>
{% endfor %}
</table>

<h2>{{KNOWL('ec.rank', title='Rank')}}</h2>
{{ place_code('rank') }}
<p>
{% if info.ncurves==1 %} The elliptic curve {{info.curves[0].curve_label}} has
{% else %} The elliptic curves in class {{info.iso_label}} have
{% endif %}
{{KNOWL('ec.rank', title='rank')}} \({{ info.rank}}\).
</p>

<h2>
{{KNOWL('ec.q.modular_form', title='Modular form')}}
{% if info.newform_exists_in_db %}
<a href="{{info.newform_link}}">{{ info.newform_label }}</a>
{% else %}
{{ info.newform_label }}
{% endif %}
</h2>
{{ place_code('q_eigenform') }}
<div>
    <form>
        <div class="output">
          <span id="modform_output">{{ info.newform | safe }}
          </span>
        </div>
        <div class="emptyspace"><br>
        </div>
        <button id="morebutton">Show more coefficients</button>
    </form>
</div>

{% if info.class_size>1 %}

<h2>{{ KNOWL('ec.isogeny_matrix',title='Isogeny matrix') }}</h2>

{{ place_code('matrix') }}
<p>The \(i,j\) entry is the smallest degree of a cyclic isogeny between the \(i\)-th and \(j\)-th curve in the isogeny class, in the {{info.label_type}} numbering.
</p>
<p>
  \({{info.isogeny_matrix_str}}\)
</p>

<h2> {{ KNOWL('ec.isogeny_graph', title='Isogeny graph') }} </h2>
{{ place_code('plot') }}
<p>The vertices are labelled with {{info.label_type}} labels. </p>
<center>
  <img src="{{info.graph_img}}" />
</center>

{% endif %}

<script type="text/javascript">
var number_of_coefficients = 20;
function more_handler(evt) {
    number_of_coefficients += number_of_coefficients;
    evt.preventDefault();
    $("#modform_output").load("{{info.modform_display}}"+number_of_coefficients,
        function() {
            {# render the output #}
            renderMathInElement($("#modform_output").get(0), katexOpts);
        });
}
$(function() {
    $("#morebutton").click(function(e) {more_handler(e)});
});
</script>

{% endblock %}


