{% extends 'homepage.html' %}
{% block content %}

<div>
The database currently contains the Cremona database of all
{{info.counts.ncurves_c}} elliptic curves in {{info.counts.nclasses_c}} isogeny classes,
with {{ KNOWL('ec.q.conductor',title = "conductor")}} at most
{{info.counts.max_N_c}}, all of which have {{ KNOWL('ec.rank',
title="rank")}} &le; {{info.counts.max_rank}}.
</div>

<h2> Distribution of rank </h2>
<div>
<table border=1>
<tr>
<th>Rank</th>
{%for rc in info.stats.rank_counts %}
<td>{{rc.r}}</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{%for rc in info.stats.rank_counts %}
<td>{{rc.ncurves}}</td>
{% endfor %}
</tr>
<tr>
<th>number of isogeny classes</th>
{%for rc in info.stats.rank_counts %}
<td>{{rc.nclasses}}</td>
{% endfor %}
</tr>
<tr>
<th>proportion</th>
{%for rc in info.stats.rank_counts %}
<td>{{rc.prop}}%</td>
{% endfor %}
</tr>
</table>
</div>

<h2> Distribution of torsion </h2>
<div>
<table border=1>
<tbody>
<tr>
<th>Torsion structure</th>
{%for tc in info.stats.tor_counts[:11] %}
<td>{{tc.gp}}</td>
{% endfor %}
</tr>
<tr>
<th>Torsion order</th>
{%for tc in info.stats.tor_counts[:11] %}
<td>{{tc.t}}</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{%for tc in info.stats.tor_counts[:11] %}
<td>{{tc.ncurves}}</td>
{% endfor %}
</tr>
<tr>
<th>proportion</th>
{%for tc in info.stats.tor_counts[:11] %}
<td>{{tc.prop}}%</td>
{% endfor %}
</tr>
</tbody>
<tr>
 <td style="border-left:none; border-right:none; border-top:none; border-bottom:none;">&nbsp;</td>
</tr>
<tbody>
<tr>
<th>Torsion structure</th>
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[11:12] %}
<td>{{tc.gp}}</td>
{% endfor %}
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[12:13] %}
<td>{{tc.gp}}</td>
{% endfor %}
<td colspan=2 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[13:] %}
<td>{{tc.gp}}</td>
{% endfor %}
</tr>
<tr>
<th>Torsion order</th>
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[11:12] %}
<td>{{tc.t}}</td>
{% endfor %}
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[12:13] %}
<td>{{tc.t}}</td>
{% endfor %}
<td colspan=2 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[13:] %}
<td>{{tc.t}}</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[11:12] %}
<td>{{tc.ncurves}}</td>
{% endfor %}
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[12:13] %}
<td>{{tc.ncurves}}</td>
{% endfor %}
<td colspan=2 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[13:] %}
<td>{{tc.ncurves}}</td>
{% endfor %}
</tr>
<tr>
<th>proportion</th>
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[11:12] %}
<td>{{tc.prop}}%</td>
{% endfor %}
<td colspan=3 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[12:13] %}
<td>{{tc.prop}}%</td>
{% endfor %}
<td colspan=2 style="border-bottom:none; border-top:none;">&nbsp;</td>
{%for tc in info.stats.tor_counts[13:] %}
<td>{{tc.prop}}%</td>
{% endfor %}
</tr>
</tbody>
</table>
</div>

<h2> Distribution of {{KNOWL('ec.q.analytic_sha_order',
  title='&#1064;\(_{an} \)') }} </h2>
<div>
<table border=1>
<tr>
<th>&#1064;\(_{an} \)</th>
{%for sc in info.stats.sha_counts[:12] %}
<td>\({{sc.s}}^2\)</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{%for sc in info.stats.sha_counts[:12] %}
<td>{{sc.ncurves}}</td>
{% endfor %}
</tr>
<tr>
 <td  style="border-left:none; border-right:none;" colspan=13>&nbsp;</td>
</tr>
<tr>
<th>&#1064;\(_{an} \)</th>
{%for sc in info.stats.sha_counts[12:24] %}
<td>\({{sc.s}}^2\)</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{%for sc in info.stats.sha_counts[12:24] %}
<td>{{sc.ncurves}}</td>
{% endfor %}
</tr>
<tr>
 <td  style="border-left:none; border-right:none;" colspan=10>&nbsp;</td>
 <td  style="border-left:none; border-right:none; border-bottom:none;" colspan=3>&nbsp;</td>
</tr>
<tr>
<th>&#1064;\(_{an} \)</th>
{%for sc in info.stats.sha_counts[24:] %}
<td>\({{sc.s}}^2\)</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{%for sc in info.stats.sha_counts[24:] %}
<td>{{sc.ncurves}}</td>
{% endfor %}
</tr>
</table>
</div>

<p>
</p>

{% endblock %}
</html>
