{% extends 'homepage.html' %}

{% block content %}

<script type="text/javascript">
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>

        <div align="right">
          Show commands for:
          <a onclick="show_code('sage'); return false" href='#'>sage</a>
        </div>
        <div class='sage nodisplay code'>
          sage: E = EllipticCurve('{{info.lmfdb_iso}}1')<br>
          sage: E.isogeny_class()
        </div>

<style type="text/css">
#isogeny_class_table th, #isogeny_class_table td {
padding : 4px;
text-align: center;
}
</style>


<h2>Elliptic curves in class {{info.lmfdb_iso}}</h2>
<div class='sage nodisplay code'>sage: E.isogeny_class().curves</div>
<table id = "isogeny_class_table">
<tr>
<th>{{ KNOWL('ec.q.lmfdb_label', title='LMFDB label')}}</th>
<th>{{ KNOWL('ec.q.cremona_label', title='Cremona label')}}</th>
<th>{{ KNOWL('ec.q.minimal_weierstrass_equation', title='Weierstrass coefficients') }}</th>
<th>{{ KNOWL('ec.q.torsion_order', title='Torsion order') }}</th>
<th>{{ KNOWL('ec.q.modular_degree', title='Modular degree') }}</th>
<th>{{ KNOWL('ec.q.optimal', title='Optimality') }}</th>
</tr>
{% for c in info.curves %}
{% if c.optimal %}
<tr bgcolor="lightgreen">
{% else %}
<tr>
{% endif %}
<td class="center"><a href="{{c.url}}">{{c.label}}</a></td>
<td class="center">{{c.cremona_label}}</td>
<td class="center">{{c.ainvs}}</td>
<td align="center">{{c.torsion}}</td>
<td align="center">
{% if c.degree==0 %}Not available{% else %}{{c.degree}}{% endif %}
</td>
{% if c.optimal %}
<td>\(\Gamma_0(N)\)-optimal</td>
{% else %}
<td>&nbsp;</td>
{% endif %}
</tr>
{% endfor %}
</table>

<h2>Rank</h2>
<div class='sage nodisplay code'>sage: E.rank()</div>
<p>
{% if info.ncurves==1 %} The elliptic curve {{info.curves[0].label}} has
{% else %} The elliptic curves in class {{info.lmfdb_iso}} have
{% endif %}
rank \({{ info.rank}}\).
</p>

<h2><a href="{{info.newform_link}}">
            Modular form {{ info.newform_label }}</a>
</h2>
<div class='sage nodisplay code'>sage: E.q_eigenform(10)</div>
<div>
    <form>
        <div class="output">
          <span id="modform_output">{{ info.newform | safe }}
          </span>
        </div>
        <div class="emptyspace"><br>
        </div>
        <button id="morebutton">Show more coefficients</button>
    </form>
</div>

{% if info.ncurves>1 %}

<h2>{{ KNOWL('ec.isogeny_matrix',title='Isogeny matrix') }}</h2>

<div class='sage nodisplay code'>sage: E.isogeny_class().matrix()</div>
<p>
  \({{info.isogeny_matrix_str}}\)
</p>

<h2> {{ KNOWL('ec.isogeny_graph', title='Isogeny graph') }} </h2>
<div class='sage nodisplay code'>
  sage: E.isogeny_graph().plot(edge_labels=True)
</div>
<center>
  <img src="{{info.graph_img}}" />
</center>

{% endif %}

<script type="text/javascript">
var number_of_coefficients = 10;
function more_handler(evt) {
    number_of_coefficients += number_of_coefficients;
    evt.preventDefault();
    $("#modform_output").load("{{info.modform_display}}"+number_of_coefficients,
        function() {
            {# tell mathjx to render the output #}
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, "modform_output"]);
        });
}
$(function() {
    $("#morebutton").click(function(e) {more_handler(e)});
});
</script>

{% endblock %}


