{% extends 'homepage.html' %}
{% block content %}

{% if error %}
<div class="announce error">Error: {{  error }}</div>

{% elif not dimensions %}
<p>Dimension table to be implemented</p>

{% else %}

<p>
  The table shows, for each weight,
  the dimensions of the following subspaces of

  {% if group=='Sp8Z' %}
  \(S_k(\Sp(8,\Z))\):
  <ul>
    <li><span class="emph">Total</span>: The full space \(S_k(\Sp(8,\Z))\).</li>
    <li><span class="emph">Ikeda lifts</span>: The subspace of Ikeda lifts.</li>
    <li><span class="emph">Miyawaki lifts</span>: The subspace of Miyawaki lifts.</li>
    <li><span class="emph">Other</span>: The subspace that are not Ikeda or Miyawaki lifts.</li>
  </ul>

  {% elif group=='Sp6Z' %}
  \(M_k(\Sp(6,\Z))\):
  <ul>
    <li><span class="emph">Total</span>: The full space \(M_k(\Sp(6,\Z))\).</li>
    <li><span class="emph">Miyawaki lifts I</span>: The subspace of Miyawaki lifts of type I.</li>
    <li><span class="emph">Miyawaki lifts II</span>: The subspace of (conjectured) Miyawaki lifts of type II.</li>
    <li><span class="emph">Other</span>: The subspace of cusp forms which are not Miyawaki lifts of type I or II.</li>
  </ul>

  {% elif group=='Kp' %}
  \(S_k({\rm K}({{ level }}))\):
  <ul>
    <li><span class="emph">Total</span>: The full space \(S_k({\rm K}({{ level }}))\).</li>
    <li><span class="emph">Lifts</span>: The subspace of Gritsenko lifts.</li>
    <li><span class="emph">Nonlifts</span>: The subspace of nonlifts.</li>
  </ul>

  {% elif group=='Sp4Z_2' %}
  \(M_{k,2}(\Sp(4,\Z))\):
  <ul>
    <li><span class="emph">Total</span>: The full space \(M_{k,2}(\Sp(4,\Z))\).</li>
    <li><span class="emph">Non cusp</span>: The subspace of non cusp forms.</li>
    <li><span class="emph">Cusp</span>: The subspace of cusp forms.</li>
  </ul>

  {% elif group=='Gamma_2' %}
  \(M_{k,j}(\Gamma(2))\) for \(j={{ sym_pow }}\):
  <ul>
    <li><span class="emph">Total</span>: The full space \(M_{k,j}(\Gamma(2))\).</li>
    <li><span class="emph">Non cusp</span>: The subspace of non cusp forms.</li>
    <li><span class="emph">Cusp</span>: The subspace of cusp forms.</li>
  </ul>

  {% else %}
  \({{ parent_as_tex }}\):
  <ul>
    <li><span class="emph">Total</span>: The full space
      \({{ parent_as_tex }}\).</li>
    <li><span class="emph">Eisenstein</span>: The subspace of {{KNOWL('mf.siegel.eisenstein_series', title='Siegel Eisenstein series')}}.</li>
    <li><span class="emph">Klingen</span>: The subspace of {{KNOWL('mf.siegel.klingen_eisenstein_series', 'Klingen Eisenstein series')}}.</li>
    <li><span class="emph">Maass</span>: The subspace of Maass liftings.</li>
    <li><span class="emph">Interesting</span>: The subspace spanned by cuspidal eigenforms that are not Maass liftings.</li>
  </ul>
  {% endif %}
</p>  

{% if group == 'Gamma_2' or group == 'Gamma0_2' or group == 'Gamma1_2' or group == 'Sp4Z' %}
<table>
  <thead>
    <tr>
      <th>Weight</th>

      {% for header in table_headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for k in dimensions %}
  <tr class = "{{ loop.cycle( 'odd', 'even') }}">
    <td>{{ k }}</td>
    {% for header in table_headers %} 
    <td>{{ dimensions[k][header] }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>

{% else %}
<table>
  <thead>
    <tr>
      {% for header in table_headers %}
      <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for k,dims in dimensions %}
  <tr class = "{{ loop.cycle( 'odd', 'even') }}">
    <td>{{ k }}</td>
    {% for d in dims %}
    <td>{{ d }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endif %}

<script>
  function validate_weight()
  {
  var input = document.getElementById("weight_range").value;
  if(input == '')
  {  return false;  }
  if(input.match(/^\d+$/))  // Only digits.
  {
  if(input > 1000000)
  {
  alert("Please enter a smaller number.");
  return false;
  }
  else
  {  return true;  }
  }
  else if(input.match(/^\d+\-\d+$/))  // Range, like 2-50
  {
  min_wt = parseInt(input.split("-")[0]);
  max_wt = parseInt(input.split("-")[1]);
  if(min_wt > max_wt)
  {
  alert("Your first weight cannot be larger than the second weight.")
  return false;
  }
  else
  {
  if ((max_wt-min_wt + 1)*max_wt > 1000000)
  {
  alert("Please enter a smaller range (output would take too long to compute).");
  return false;
  }
  else
  {  return true;  }
  }
  }
  else
  {
  alert("Please enter either a weight or a range of weights (in the form '2-50', with no spaces).");
  return false;
  }
  }
</script>

<p>
  {% if group=='Sp8Z' %}
  Only weights up to 16 is available.
  {% elif group=='Kp' %}
  Enter new prime level and range of weights
  or a weight and a range of levels.
  {% else %}
  Enter a new weight or a range of weights.
  {% endif %}
</p>

<form action="/ModularForm/GSp/Q" method="get" onSubmit="return validate_weight()"> 
  <input type="hidden" name="group" value="{{ group }}" />
  <input type="hidden" name="page" value="dimensions" /> 
  <table> 
    <tr>
      {% if group=='Kp' %}
      <td>
	<label>prime level(s)</label>
	<input type="text"
	       name="level"
	       {% if level %}value='{{ level }}'{% endif %}
	       >
	<span class="formexample">e.g. 3</span>
      </td>
      {% endif %}
      <td> 
	<label>weight(s)</label>
	<input type="text"
	       name="weight_range"
	       {% if weight_range %}value='{{ weight_range }}'{% endif %}
	       >
	<span class="formexample">e.g. 2 or 20-40 or 20-26,4</span>
      </td>
      <td> 
	<button type="submit" value="submit">Submit</button>
      </td>
    </tr>
  </table> 
</form> 

{% endblock %}
