{% extends 'homepage.html' %}
{% block content %}

<div class="announce red">
<div>Unable to locate the page you requested.</div>
{% if messages %}
<ul>
{% for msg in messages %}
<li>{{msg}}</li>
{% endfor %}
</ul>
{% elif message %}
<br>
{{ message }}
{% elif request.referrer %}
<br>
<div>
If you think accessing "{{ request.referrer }}" is an error, please <a href="http://code.google.com/p/lmfdb/issues/list">report that URL</a>!
</div>
{% else %}
<div>
If you believe this page should be here, please <a href = "http://code.google.com/p/lmfdb/issues/list">report this problem</a> so we can improve the site.
</div>
{% endif %}

{% if request.referrer %}
<div>
<br>
<a href="{{ request.referrer }}">Click here</a> to return to the referring URL.
</div>
{% endif %}

</div>

{% endblock %}
