{% extends 'homepage.html' %}
{% block content %}

<div class="announce red">
<div>The page you are looking for does not exist. </div>
<br>
{% if message %}
<div>
  {{ message }}
</div>
<br>
{% elif request.referrer %}
<div>
If you think accessing "{{ request.referrer }}" is an error, please <a href="http://code.google.com/p/lmfdb/issues/list">report that URL</a>!
</div>
{% else %}
<div>
If you believe this page should be here, please <a href = "http://code.google.com/p/lmfdb/issues/list">report this problem</a> so we can improve the site.
</div>
{% endif %}

<br>
<div>Thank you for your understanding!</div>

{% if request.referrer %}
<div>
<br>
You now have the option of <a href="{{ request.referrer }}">jumping back to your referring URL</a>.
</div>
{% endif %}

</div>


{% endblock %}
