{% extends 'homepage.html' %}
{% block content %}

<div class="announce error">
<div>
The page you are looking for has produced a server error.
</div>


<span style='color:black'>
<div>
To help us improve the website, please 
<a href="{{ feedbackpage }}">report this page's URL</a>
{% if request.referrer %}
"{{ request.url }}" as well as the URL of the page you 
are coming from "{{ request.referrer }}".
{% else %}
"{{ request.url }}".
{% endif %}
</div>


{# <div>Please keep your faith in mathematics!</div> #}

{% if request.referrer %}
<div><a href="{{ request.referrer }}">jump back</a></div>
{% endif %}

</span>
</div>

{% endblock %}
