{% extends 'homepage.html' %}
{% block content %}
<style>
  #contribs { overflow: hidden; }
  #contribs > div {
  padding: 0 ;
  margin: 5px;
  font-size: 70%;
  height: 4em;
  border: 1px solid {{color.contrib_border}};
  float:left;
  width: 200px;
  overflow: hidden;
  }
  #contribs > div > div { padding-left: 5px; }
  #contribs > div > div.name {
  font-weight: bold;
  background: {{color.contrib_background}};
  font-size: 100%;
  position: relative;
  }
  #contribs > div > div.name > a { position: absolute; right: 5px; }
  #contribs > div > div.affil { color: {{color.contrib_text_affil}};}
  #contribs > div > div.notes { color: {{color.contrib_text_notes}}; }
</style>

<div>
We are grateful for all of the support that has enabled the construction of the LMFDB.  
In particular, here we acknowledge <a href="#sponsors">financial sponsors</a>, 
<a href="#institutions">institutions</a> that have hosted workshops, semester programs, and other activities, support in the form 
of <a href="#software">software</a> and <a href="#hosting">hardware</a>, and list the 
<a href="#individuals">individuals</a> who have contributed to the LMFDB database or website.
</div>

<a name="sponsors"></a>
<h1 >Sponsors</h1>
{{KNOWL_INC('rcs.ack.sponsors')}}

<a name="meetings"></a>    
<h1 >Meetings</h1>
{{KNOWL_INC('rcs.ack.meetings')}}

<a name="software"></a>
<h1>Software</h1>
{{KNOWL_INC('rcs.ack.software')}}

<a name="hosting"></a>
<h1>Hosting</h1>
{{KNOWL_INC('rcs.ack.hosting')}}

<a name="acknowledgments"></a>
<h1>Acknowledgments</h1>
{{KNOWL_INC('rcs.ack.general')}}

<a name="individuals"></a>
<h1>Contributors</h1>
<div id="contribs">
{% for c in contribs %}
  <div>
    <div class="name">{{ c.name|safe }}
      {% if c.url -%}<a href="{{ c.url }}">www</a>{%- endif %}
    </div>
    {% if c.affil -%}<div class="affil">{{ c.affil|safe }}</div>{%- endif %}
    {# {% if c.notes -%}<div class="notes">{{ c.notes|join(', ')|safe }}</div>{%- endif %} #}
  </div>
{% endfor %}
</div>

{% endblock %}
