{% extends 'homepage.html' %}

{% block content %}
<style>
  #contribs { overflow: hidden; }
  #contribs > div { padding: 0 ; margin: 5px; font-size: 70%; height: 4em; border: 1px solid #dfd; float:left; width: 200px;  overflow: hidden; }
  #contribs > div > div { padding-left: 5px; }
  #contribs > div > div.name { font-weight: bold; background: #dfd; font-size: 100%; position: relative; }
  #contribs > div > div.name > a { position: absolute; right: 5px; }
  #contribs > div > div.affil { color: #333;}
  #contribs > div > div.notes { color: #666; }
</style>

<h1>Contributors</h1>
<div id="contribs">
{% for c in contribs %}
  <div>
    <div class="name">{{ c.name|safe }}
      {% if c.url -%}<a href="{{ c.url }}">www</a>{%- endif %}
    </div>
    {% if c.affil -%}<div class="affil">{{ c.affil|safe }}</div>{%- endif %}
    {# {% if c.notes -%}<div class="notes">{{ c.notes|join(', ')|safe }}</div>{%- endif %} #}
  </div>
{% endfor %}
</div>
<a name="sponsors"></a>
<h1 >Sponsors</h1>
<div>
 The LMFDB is made possible by a number of grants.
    <ul>
 <li>Awarded to the American Institute of Mathematics by the US National
 Science Foundation:
   <ul>
        <li>FRG: L-functions and modular forms, NSF
        grant <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=0757627">DMS:0757627</a> (2008-2012)</li>
        <li>CDI: Bibliographic Knowledge Network, NSF
        grant <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=0835851">DMS:0835851</a> (2008-2011)</li>
    </ul>
   <li>Awarded to the Universities of Warwick and
    Bristol,  a Programme Grant from the UK Engineering and Physical
    Sciences Research Council:
    <ul>
        <li>LMF: L-functions and modular forms, EPSRC reference
        <a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/K034383/1">EP/K034383/1</a> (2013-2019)</li>
    </ul>
    </ul>
 We have also received support in the form of workshops
    hosted at various institutions:
    <ul>
        <li><a href="http://www.imj-prg.fr/">Institut de
        Math&eacute;matiques de Jussieu</a>, Paris</li>
        <li><a href="http://www.msri.org">Mathematical Sciences
        Research Institute</a>, UC Berkeley</li>
        <li><a href="http://www.maths.bris.ac.uk/">School of
        Mathematics</a>, University of  Bristol</li>
        <li><a href="http://www.icms.org.uk/">International Centre for
        Mathematical Sciences</a>, University of Edinburgh</li>
        <li><a href="http://hobbes.la.asu.edu/lmfdb-14/">
            School of Mathematical and Statistical Sciences</a>,
          Arizona State University
          <li><a href="aimath.org">American Institute of Mathematics</a></li>
        <li><a href="http://www2.warwick.ac.uk/fac/sci/maths">Warwick
        Mathematics Institute</a>, University of Warwick</li>
<li><a href="http://people.oregonstate.edu/~swisherh/CRTNTconference/index.html">Oregon
    State University</a></li>
    <li><a href="http://icerm.brown.edu/sp-f15">Institute for Computational
    and Experimental Research in Mathematics</a>, Providence</li>
    </ul>
</div>

<a name="software" ></a>
<h1>Software</h1>

<div>
    Our website is run on free open source software. We use <a href="http://www.sagemath.org">SageMath</a> for
    computations on the fly. Some important components used are
<a href="http://pari.math.u-bordeaux.fr/">PARI</a>,
<a href="http://homepages.warwick.ac.uk/staff/J.E.Cremona/mwrank">eclib</a>
and
<a href="http://code.google.com/p/l-calc/">lcalc</a>.

    The non-mathematical software used includes
<a href="http://www.python.org">Python</a>,
<a href="http://flask.pocoo.org/">Flask</a>,
<a href="http://jinja.pocoo.org/">Jinja</a>,
<a href="http://www.mongodb.org/">MongoDB</a>,
<a href="http://api.mongodb.org/python/current/">pymongo</a>,
<!---<a href="http://mercurial.selenic.com">Mercurial</a>,--->
and
<a href="http://git-scm.com">Git</a>.

    Some of the data on this website was computed using other
    programs, including
<a href="http://magma.maths.usyd.edu.au/magma/">Magma</a> and
<a href="http://www.wolfram.com/mathematica/">Mathematica</a>.
</div>

<h1>Hosting</h1>
<div>
The database and web server were hosted until September 2013 on William
  Stein's <a href="http://wstein.org/grants/screms/">
  NSF-funded</a> cluster at the University of Washington.

The database and web server have been hosted since September
  2013 on the
  <a href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/K034383/1">EPSRC-funded</a>
  cluster at the University of Warwick.

The website source code is hosted
  at <a href="https://github.com/LMFDB/lmfdb">GitHub</a>.

 </ul>
</div>



{% endblock %}
