{% extends "base.html" %}
{% block body -%}
<h4>Checklist in /templates/checklist.html</h4>

<p>Index</p>
<a href="{{ url_for('index')}}">index</a>: menu, more entries if logged in, sidebar and main page have same structure<br/>

<p>Degree 1 L-functions including &zeta;(s)</p>

<ul>
<a href="{{ url_for('l_functions.l_function_riemann_page')}}">Riemann zeta function</a> This must work!<br/>
<a href="{{ url_for('characters.render_Dirichletwebpage', modulus = 13, number = 2)}}">Dirichlet character 13.2</a> <br/>
<a href="{{ url_for('l_functions.l_function_dirichlet_page', modulus=13,number=2)}}">Dirichlet L-function character 13.2</a> <br/>
</ul>

<p>Elliptic Curves over $\Q$</p>

<ul>
<li>
<a href="{{ url_for('ec.rational_elliptic_curves', conductor='1-99') }}">Elliptic curves/Q, conductor 1-99</a><br/>
<li>
<a href="{{ url_for('ec.by_ec_label', label='17.a1') }}">
Elliptic Curve 17.a1</a>: home page<br/>
<li>
<a href="{{ url_for('ec.by_ec_label', label='17.a') }}">
Elliptic Curve isogeny class 17.a</a> (with graph)<br/>
<li>
<a href="{{ url_for("l_functions.l_function_ec_page_label",label='17.a')}}"> 
Elliptic Curve 17.a1</a>: L-function<br/>
<li>
<a href="{{ url_for("l_functions.l_function_ec_sym_page_label", power='2',
                                                label='17.a')}}"> 
Elliptic Curve 17.a1</a>: symmetric square L-function<br/>
<li>
<a href="{{ url_for("ec.rational_elliptic_curves", jinv=8000)}}"> 
Elliptic Curve 256.a1</a> (\(j=8000\)): list of twists<br/>
<li>
<a href="{{ url_for("cmf.by_url_newform_label", level=11, weight=2, char_orbit_label='a', hecke_orbit='a')}}"> 
Elliptic Curve 11.a1</a>: modular form<br/>
<li>
<a href="{{ url_for('ec.by_ec_label', label='108.a2') }}">
Elliptic Curve 108.a2</a>: (\(j(E)=0\) case)<br/>
</ul>

<p>Hilbert Modular Forms</p>

<ul>
<li><a href="{{url_for('hmf.hilbert_modular_form_render_webpage')}}">HMF browse page</a>
<li>
<a href="{{url_for('hmf.hilbert_modular_form_render_webpage',
         field_label='2.2.8.1', count='10')}}">first 10 forms over Qsqrt2</a>
<li>
<a href="{{url_for('hmf.render_hmf_webpage', field_label='2.2.5.1', label='2.2.5.1-45.1-a')}}">HMF 2.2.5.1-45.1-a</a>
<li>
<a href="{{url_for('l_functions.l_function_hmf_page', field='2.2.5.1',
         label='2.2.5.1-45.1-a', character='0', number='0')}}">L-function of HMF 2.2.5.1-45.1-a</a>
<li>
<a href="{{url_for('hmf.render_hmf_webpage_download',
         field_label='2.2.5.1', label='2.2.5.1-45.1-a',
         download_type='sage')}}"> Download Sage code for HMF
         2.2.5.1-45.1-a</a>
<li>
<a href="{{url_for('hmf.render_hmf_webpage_download',
         field_label='2.2.5.1', label='2.2.5.1-45.1-a',
         download_type='magma')}}">Download Magma code for HMF
         2.2.5.1-45.1-a</a>
</ul>

<p>Number fields</p>

<ul>
<li>
<a href="{{ url_for('number_fields.by_label', label='6.0.11691.1') }}">Number field 6.0.11691.1</a>
<li>
<a href="{{ url_for('number_fields.by_label', label='4.2.6912.1') }}">Number field 4.2.6912.1</a>Difference with previous is that data on Artin representations is available and might mess up the page
<li>
<a href="{{ url_for('l_functions.l_function_nf_page', label =
         "4.2.6912.1")}}"> Dedekind zeta function for 4.2.6912.1</a>
</ul>

<p>Artin representations and their L-functions</p>

<ul>
<li>
<a href="{{ url_for('artin_representations.by_partial_data', dim=1, conductor=5)}}"> Artin representation dim 1, conductor 5</a>
<li><a href="{{ url_for('l_functions.l_function_artin_page', label='3.2e3_7e5.7t3.1c1')}}"> Artin L-function of dim 3, conductor 134456</a>
<li><a href="{{ url_for('l_functions.l_function_artin_page', label = '3.2e4_43.4t5.1c1')}}"> Artin L-function of dim 3, conductor 688</a>
<li><a href="{{ url_for('l_functions.l_function_artin_page', label = '1.19_79.2t1.1c1')}}"> Artin L-function of dim 1, conductor 1501</a>
<li><a href="{{ url_for('l_functions.l_function_artin_page', label = '2.2e8_5e2.4t3.6c1')}}"> Artin L-function of dim 2, conductor 6400</a> various cases for the computation of coefficients of L-function
</ul>

<p>Modular forms and their L-functions</p>

<ul>
<li>
<a href="{{ url_for('l_functions.l_function_maass_page', maass_id = "4f5558c888aece2646000013")}}"> A Maass form </a>
<li><a href="{{ url_for('cmf.by_url_newform_label', level = 11, weight = 6, char_orbit_label = 'a',hecke_orbit = 'b')}}"> Cuspidal newform 11.6.a.b </a> and
<a href="{{ url_for('l_functions.l_function_cmf_orbit', level=11, weight=6, char_orbit_label='a', hecke_orbit='b')}}"> its associated L-function </a> (along with the <a href="{{ url_for('l_functions.l_function_cmf_page', level=11, weight=6, character=1, hecke_orbit='b', number=1)}}">first</a>, <a href="{{ url_for('l_functions.l_function_cmf_page', level=11, weight=6, character=1, hecke_orbit='b', number=2)}}">second</a>, and <a href="{{ url_for('l_functions.l_function_cmf_page', level=11, weight=6, character=1, hecke_orbit='b', number=3)}}">third</a> conjugate constituents)<br/>
</ul>

<p>Symmetric powers</p>

<ul>
<a href="{{ url_for('l_functions.l_function_ec_sym_page_label', power = 2,
         label = "11.a")}}"> Symmetric square of Ell 11.a </a>
<li>
<a href="{{ url_for('l_functions.l_function_ec_sym_page_label', power = 3,
         label = "11.a")}}"> Symmetric cube of Ell 11.a </a>
</ul>

{%- endblock %}
