<h1>citations.bib</h1><a name="kohenconstrucciones"></a><pre>
@article{<a href="/citation/citations#kohenconstrucciones">kohenconstrucciones</a>,
  title = {Construcciones de puntos de {H}eegner},
  author = {Kohen, Daniel}
}
</pre>

<a name="kim2017indivisibility"></a><pre>
@article{<a href="/citation/citations#kim2017indivisibility">kim2017indivisibility</a>,
  title = {On the indivisibility of derived {K}ato's {E}uler systems and the main conjecture for modular forms},
  author = {Kim, Chan-Ho and Kim, Myoungil and Sun, Hae-Sang},
  journal = {arXiv preprint arXiv:1709.05780},
  year = {2017}
}
</pre>

<a name="portillo2017experimental"></a><pre>
@article{<a href="/citation/citations#portillo2017experimental">portillo2017experimental</a>,
  title = {Experimental {E}vidence on a {R}efined {C}onjecture of the {BSD} type},
  author = {Portillo-Bobadilla, Francisco X},
  journal = {arXiv preprint arXiv:1709.01204},
  year = {2017}
}
</pre>

<a name="bruinarithmetic"></a><pre>
@article{<a href="/citation/citations#bruinarithmetic">bruinarithmetic</a>,
  title = {Arithmetic {A}spects of {E}xplicit {M}oduli {P}roblems},
  author = {Bruin, Nils and Kedlaya, Kiran and Siksek, Samir and Voight, John}
}
</pre>

<a name="kohlhase2017math"></a><pre>
@article{<a href="/citation/citations#kohlhase2017math">kohlhase2017math</a>,
  title = {Math {O}bject {I}dentifiers---{T}owards {R}esearch {D}ata in {M}athematics},
  author = {Kohlhase, Michael},
  year = {2017}
}
</pre>

<a name="barquero2017distribution"></a><pre>
@article{<a href="/citation/citations#barquero2017distribution">barquero2017distribution</a>,
  title = {The distribution of {$G$}-{W}eyl {CM} fields and the {C}olmez conjecture},
  author = {Barquero-Sanchez, Adrian and Masri, Riad and Thorne, Frank},
  journal = {arXiv preprint arXiv:1708.00044},
  year = {2017}
}
</pre>

<a name="molin2017computing"></a><pre>
@article{<a href="/citation/citations#molin2017computing">molin2017computing</a>,
  title = {Computing period matrices and the {A}bel-{J}acobi map of superelliptic curves},
  author = {Molin, Pascal and Neurohr, Christian},
  journal = {arXiv preprint arXiv:1707.07249},
  year = {2017}
}
</pre>

<a name="dasgupta2017sylvester"></a><pre>
@article{<a href="/citation/citations#dasgupta2017sylvester">dasgupta2017sylvester</a>,
  title = {Sylvester's {P}roblem and {M}ock {H}eegner {P}oints},
  author = {Dasgupta, Samit and Voight, John},
  journal = {arXiv preprint arXiv:1707.05874},
  year = {2017}
}
</pre>

<a name="dummit2017decomposition"></a><pre>
@article{<a href="/citation/citations#dummit2017decomposition">dummit2017decomposition</a>,
  title = {Decomposition {C}onfiguration {T}ypes in {M}inimally {T}amely {R}amified {E}xtensions of $\mathbb{Q}$},
  author = {Dummit, David S and Kisilevsky, Hershy},
  journal = {arXiv preprint arXiv:1707.02493},
  year = {2017}
}
</pre>

<a name="sijsling2017canonical"></a><pre>
@article{<a href="/citation/citations#sijsling2017canonical">sijsling2017canonical</a>,
  title = {Canonical models of arithmetic $(1;\infty)$ curves},
  author = {Sijsling, Jeroen},
  journal = {arXiv preprint arXiv:1707.01158},
  year = {2017}
}
</pre>

<a name="waldschmidtintroduction"></a><pre>
@article{<a href="/citation/citations#waldschmidtintroduction">waldschmidtintroduction</a>,
  title = {An introduction to the {R}iemann zeta function},
  author = {Waldschmidt, Michel}
}
</pre>

<a name="dokchitser20173"></a><pre>
@article{<a href="/citation/citations#dokchitser20173">dokchitser20173</a>,
  title = {3-torsion and conductor of genus 2 curves},
  author = {Dokchitser, Tim and Doris, Christopher},
  journal = {arXiv preprint arXiv:1706.06162},
  year = {2017}
}
</pre>

<a name="bruin2017𝐿"></a><pre>
@article{<a href="/citation/citations#bruin2017𝐿">bruin2017𝐿</a>,
  title = {On {L}-functions of quadratic $\mathbb{Q}$-curves},
  author = {Bruin, Peter and Ferraguti, Andrea},
  journal = {Mathematics of Computation},
  year = {2017}
}
</pre>

<a name="rambauddense"></a><pre>
@article{<a href="/citation/citations#rambauddense">rambauddense</a>,
  title = {Dense families of curves with many points of higher degree and applications to multiplication},
  author = {Rambaud, Matthieu}
}
</pre>

<a name="kohlhase2017software"></a><pre>
@inproceedings{<a href="/citation/citations#kohlhase2017software">kohlhase2017software</a>,
  title = {Software {C}itations, {I}nformation {S}ystems, and {B}eyond},
  author = {Kohlhase, Michael and Sperber, Wolfram},
  booktitle = {International Conference on Intelligent Computer Mathematics},
  pages = {99--114},
  year = {2017},
  organization = {Springer}
}
</pre>

<a name="mustydessins"></a><pre>
@article{<a href="/citation/citations#mustydessins">mustydessins</a>,
  title = {Dessins d'{E}nfants},
  author = {Musty, Michael}
}
</pre>

<a name="liu2017realizability"></a><pre>
@article{<a href="/citation/citations#liu2017realizability">liu2017realizability</a>,
  title = {The {R}ealizability {P}roblem with {I}nertia {C}onditions},
  author = {Liu, Yuan},
  journal = {arXiv preprint arXiv:1705.03184},
  year = {2017}
}
</pre>

<a name="aygin2017representations"></a><pre>
@article{<a href="/citation/citations#aygin2017representations">aygin2017representations</a>,
  title = {Representations by sextenary quadratic forms with coefficients $1, 2, 3$ and $6$ and on newforms in $S_3(\Gamma_0(24),\chi)$},
  author = {Aygin, Zafer Selcuk},
  journal = {arXiv preprint arXiv:1705.01244},
  year = {2017}
}
</pre>

<a name="long2017supercongruences"></a><pre>
@article{<a href="/citation/citations#long2017supercongruences">long2017supercongruences</a>,
  title = {Supercongruences for rigid hypergeometric {C}alabi-{Y}au threefolds},
  author = {Long, Ling and Tu, Fang-Ting and Yui, Noriko and Zudilin, Wadim},
  journal = {arXiv preprint arXiv:1705.01663},
  year = {2017}
}
</pre>

<a name="holmstrom2017zeta"></a><pre>
@inproceedings{<a href="/citation/citations#holmstrom2017zeta">holmstrom2017zeta</a>,
  title = {Zeta Types and {T}annakian {S}ymbols as a {M}ethod for {R}epresenting {M}athematical {K}nowledge},
  author = {Holmstrom, Andreas and Vik, Torstein},
  booktitle = {International Conference on Intelligent Computer Mathematics},
  pages = {178--192},
  year = {2017},
  organization = {Springer}
}
</pre>

<a name="zhu2017spherical"></a><pre>
@article{<a href="/citation/citations#zhu2017spherical">zhu2017spherical</a>,
  title = {On spherical designs of some harmonic indices},
  author = {Zhu, Yan and Bannai, Eiichi and Bannai, Etsuko and Kim, Kyoung-Tark and Yu, Wei-Hsuan},
  journal = {The Electronic Journal of Combinatorics},
  volume = {24},
  number = {2},
  pages = {P2--14},
  year = {2017}
}
</pre>

<a name="lapkova2017explicit"></a><pre>
@article{<a href="/citation/citations#lapkova2017explicit">lapkova2017explicit</a>,
  title = {Explicit upper bound for the average number of divisors of irreducible quadratic polynomials},
  author = {Lapkova, Kostadinka},
  journal = {arXiv preprint arXiv:1704.02498},
  year = {2017}
}
</pre>

<a name="petridis2017arithmetic"></a><pre>
@article{<a href="/citation/citations#petridis2017arithmetic">petridis2017arithmetic</a>,
  title = {Arithmetic statistics of modular symbols},
  author = {Petridis, Yiannis N and Risager, Morten S},
  journal = {arXiv preprint arXiv:1703.09526},
  year = {2017}
}
</pre>

<a name="bordelles2017tme"></a><pre>
@article{<a href="/citation/citations#bordelles2017tme">bordelles2017tme</a>,
  title = {The {TME}-{EMT} Project},
  author = {Bordelles, Olivier and Dusart, Pierre and Moree, Pieter and Akhilesh, P and Ramar{\'e}, Olivier},
  year = {2017}
}
</pre>

<a name="chattopadhyaya2017dyon"></a><pre>
@article{<a href="/citation/citations#chattopadhyaya2017dyon">chattopadhyaya2017dyon</a>,
  title = {Dyon degeneracies from {M}athieu moonshine},
  author = {Chattopadhyaya, Aradhita and David, Justin R},
  journal = {arXiv preprint arXiv:1704.00434},
  year = {2017}
}
</pre>

<a name="cesnavicius2017manin"></a><pre>
@article{<a href="/citation/citations#cesnavicius2017manin">cesnavicius2017manin</a>,
  title = {The {M}anin constant in the semistable case},
  author = {Cesnavicius, Kestutis},
  journal = {arXiv preprint arXiv:1703.02951},
  year = {2017}
}
</pre>

<a name="billerey2017multi"></a><pre>
@article{<a href="/citation/citations#billerey2017multi">billerey2017multi</a>,
  title = {A multi-{F}rey approach to {F}ermat equations of signature $(r, r, p)$},
  author = {Billerey, Nicolas and Chen, Imin and Dieulefait, Luis and Freitas, Nuno},
  journal = {arXiv preprint arXiv:1703.06530},
  year = {2017}
}
</pre>

<a name="plaza2016representation"></a><pre>
@phdthesis{<a href="/citation/citations#plaza2016representation">plaza2016representation</a>,
  title = {Representation theory methods in extremal combinatorics},
  author = {Plaza, Rafael},
  year = {2016},
  school = {University of Delaware}
}
</pre>

<a name="carella2017note"></a><pre>
@article{<a href="/citation/citations#carella2017note">carella2017note</a>,
  title = {Note On {E}lliptic {G}roups of {P}rime {O}rders},
  author = {Carella, NA},
  journal = {arXiv preprint arXiv:1702.06814},
  year = {2017}
}
</pre>

<a name="duncan2017nan"></a><pre>
@article{<a href="/citation/citations#duncan2017nan">duncan2017nan</a>,
  title = {O'{N}an moonshine and arithmetic},
  author = {Duncan, John FR and Mertens, Michael H and Ono, Ken},
  journal = {arXiv preprint arXiv:1702.03516},
  year = {2017}
}
</pre>

<a name="ramakrishnan2017number"></a><pre>
@article{<a href="/citation/citations#ramakrishnan2017number">ramakrishnan2017number</a>,
  title = {On the number of representations of certain quadratic forms and a formula for the {R}amanujan {T}au function},
  author = {Ramakrishnan, B and Sahu, Brundaban and Singh, Anup Kumar},
  journal = {arXiv preprint arXiv:1702.01249},
  year = {2017}
}
</pre>

<a name="lemos2017serre"></a><pre>
@article{<a href="/citation/citations#lemos2017serre">lemos2017serre</a>,
  title = {Serre's {U}niformity {C}onjecture for {E}lliptic {C}urves with {R}ational {C}yclic {I}sogenies},
  author = {Lemos, Pedro},
  journal = {arXiv preprint arXiv:1702.01985},
  year = {2017}
}
</pre>

<a name="poor2016paramodular"></a><pre>
@article{<a href="/citation/citations#poor2016paramodular">poor2016paramodular</a>,
  title = {Paramodular forms of level 8 and weights 10 and 12},
  author = {Poor, Cris and Schmidt, Ralf and Yuen, David},
  journal = {Preprint},
  year = {2016}
}
</pre>

<a name="tsaknias2016topics"></a><pre>
@article{<a href="/citation/citations#tsaknias2016topics">tsaknias2016topics</a>,
  title = {Topics on modular {G}alois representations modulo prime powers},
  author = {Tsaknias, Panagiotis and Wiese, Gabor},
  journal = {arXiv preprint arXiv:1612.05017},
  year = {2016}
}
</pre>

<a name="lombardo2016reductions"></a><pre>
@article{<a href="/citation/citations#lombardo2016reductions">lombardo2016reductions</a>,
  title = {Reductions of points on algebraic groups},
  author = {Lombardo, Davide and Perucca, Antonella},
  journal = {arXiv preprint arXiv:1612.02847},
  year = {2016}
}
</pre>

<a name="kuhn2016largest"></a><pre>
@article{<a href="/citation/citations#kuhn2016largest">kuhn2016largest</a>,
  title = {The largest gap between zeros of entire {L}-functions is less than 41.54},
  author = {K{\"u}hn, Patrick and Robles, Nicolas and Zaharescu, Alexandru},
  journal = {Journal of Mathematical Analysis and Applications},
  year = {2016},
  publisher = {Elsevier}
}
</pre>

<a name="poor2016siegel"></a><pre>
@article{<a href="/citation/citations#poor2016siegel">poor2016siegel</a>,
  title = {Siegel paramodular forms of weight 2 and squarefree level},
  author = {Poor, Cris and Shurman, Jerry and Yuen, David S},
  journal = {arXiv preprint arXiv:1612.00925},
  year = {2016}
}
</pre>

<a name="roberts2016newforms"></a><pre>
@article{<a href="/citation/citations#roberts2016newforms">roberts2016newforms</a>,
  title = {Newforms with rational coefficients},
  author = {Roberts, David P},
  journal = {arXiv preprint arXiv:1611.06967},
  year = {2016}
}
</pre>

<a name="roberts2016pgl_2"></a><pre>
@article{<a href="/citation/citations#roberts2016pgl_2">roberts2016pgl_2</a>,
  title = { {PGL}$_2(\mathbb{F}_l)$ number fields with rational companion forms},
  author = {Roberts, David P},
  journal = {arXiv preprint arXiv:1611.06628},
  year = {2016}
}
</pre>

<a name="borner2016functions"></a><pre>
@phdthesis{<a href="/citation/citations#borner2016functions">borner2016functions</a>,
  title = {L-functions of curves of genus $\geq 3$},
  author = {B{\"o}rner, Michel},
  year = {2016},
  school = {Universit{\"a}t Ulm}
}
</pre>

<a name="mascot2016companion"></a><pre>
@article{<a href="/citation/citations#mascot2016companion">mascot2016companion</a>,
  title = {Companion forms and explicit computation of {PGL2} number fields with very little ramification},
  author = {Mascot, Nicolas},
  journal = {arXiv preprint arXiv:1611.01464},
  year = {2016}
}
</pre>

<a name="lombardo2016computing"></a><pre>
@article{<a href="/citation/citations#lombardo2016computing">lombardo2016computing</a>,
  title = {Computing the geometric endomorphism ring of a genus 2 {J}acobian},
  author = {Lombardo, Davide},
  journal = {arXiv preprint arXiv:1610.09674},
  year = {2016}
}
</pre>

<a name="cohen2016dirichlet"></a><pre>
@article{<a href="/citation/citations#cohen2016dirichlet">cohen2016dirichlet</a>,
  title = {Dirichlet series associated to quartic fields with given cubic resolvent},
  author = {Cohen, Henri and Thorne, Frank},
  journal = {Research in Number Theory},
  volume = {2},
  number = {1},
  pages = {29},
  year = {2016},
  publisher = {Springer}
}
</pre>

<a name="jones2016artin"></a><pre>
@article{<a href="/citation/citations#jones2016artin">jones2016artin</a>,
  title = {Artin {L}-functions of small conductor},
  author = {Jones, John W and Roberts, David P},
  journal = {arXiv preprint arXiv:1610.01228},
  year = {2016}
}
</pre>

<a name="gonzalez2016growth"></a><pre>
@article{<a href="/citation/citations#gonzalez2016growth">gonzalez2016growth</a>,
  title = {Growth of torsion groups of elliptic curves upon base change},
  author = {Gonz{\'a}lez-Jim{\'e}nez, Enrique and Najman, Filip},
  journal = {arXiv preprint arXiv:1609.02515},
  year = {2016}
}
</pre>

<a name="corbett2016order"></a><pre>
@article{<a href="/citation/citations#corbett2016order">corbett2016order</a>,
  title = {On the order of vanishing of newforms at cusps},
  author = {Corbett, Andrew and Saha, Abhishek},
  journal = {arXiv preprint arXiv:1609.08939},
  year = {2016}
}
</pre>

<a name="dujella2016diophantine"></a><pre>
@article{<a href="/citation/citations#dujella2016diophantine">dujella2016diophantine</a>,
  title = {Diophantine $m$-tuples in finite fields and fields and modular forms},
  author = {Dujella, Andrej and Kazalicki, Matija},
  journal = {arXiv preprint arXiv:1609.09356},
  year = {2016}
}
</pre>

<a name="li2016potentially"></a><pre>
@article{<a href="/citation/citations#li2016potentially">li2016potentially</a>,
  title = {Potentially {GL}$_2$-type {Galois} representations associated to noncongruence modular forms},
  author = {Li, Wen-Ching Winnie and Liu, Tong and Long, Ling},
  journal = {arXiv preprint arXiv:1609.06414},
  year = {2016}
}
</pre>

<a name="martin2016refined"></a><pre>
@article{<a href="/citation/citations#martin2016refined">martin2016refined</a>,
  title = {Refined dimensions of cusp forms, and equidistribution and bias of signs},
  author = {Martin, Kimball},
  journal = {arXiv preprint arXiv:1609.05386},
  year = {2016}
}
</pre>

<a name="jenkins2016dynamic"></a><pre>
@article{<a href="/citation/citations#jenkins2016dynamic">jenkins2016dynamic</a>,
  title = {Dynamic behavior of the roots of the {T}aylor polynomials of the {R}iemann xi function with growing degree},
  author = {Jenkins, Robert and McLaughlin, Ken DT-R},
  journal = {arXiv preprint arXiv:1609.05965},
  year = {2016}
}
</pre>

<a name="savala2016computing"></a><pre>
@article{<a href="/citation/citations#savala2016computing">savala2016computing</a>,
  title = {Computing spectral data for {M}aass cusp forms using resonance},
  author = {Savala, Paul},
  year = {2016},
  publisher = {University of Iowa}
}
</pre>

<a name="long2016characterization"></a><pre>
@article{<a href="/citation/citations#long2016characterization">long2016characterization</a>,
  title = {Characterization of intersecting families of maximum size in {PSL}$(2,q)$},
  author = {Long, Ling and Plaza, Rafael and Sin, Peter and Xiang, Qing},
  journal = {arXiv preprint arXiv:1608.07304},
  year = {2016}
}
</pre>

<a name="chung2016arithmetic"></a><pre>
@article{<a href="/citation/citations#chung2016arithmetic">chung2016arithmetic</a>,
  title = {Arithmetic {C}hern-{S}imons Theory {I}{I}},
  author = {Chung, Hee-Joong and Kim, Dohyeong and Kim, Minhyong and Park, Jeehoon and Yoo, Hwajong},
  journal = {arXiv preprint arXiv:1609.03012},
  year = {2016}
}
</pre>

<a name="viada2016explicit"></a><pre>
@article{<a href="/citation/citations#viada2016explicit">viada2016explicit</a>,
  title = {Explicit height bounds and the explicit {M}ordell-{L}ang {C}onjecture},
  author = {Viada, Evelina},
  journal = {arXiv preprint arXiv:1609.04607},
  year = {2016}
}
</pre>

<a name="danielsranks"></a><pre>
@article{<a href="/citation/citations#danielsranks">danielsranks</a>,
  title = {On the ranks of elliptic curves with isogenies},
  author = {Daniels, Harris B and Goodwillie, ASA}
}
</pre>

<a name="dalawat2016solvable"></a><pre>
@article{<a href="/citation/citations#dalawat2016solvable">dalawat2016solvable</a>,
  title = {Solvable primitive $ p $-extensions},
  author = {Dalawat, Chandan Singh},
  journal = {arXiv preprint arXiv:1608.04673},
  year = {2016}
}
</pre>

<a name="garcia2016computational"></a><pre>
@phdthesis{<a href="/citation/citations#garcia2016computational">garcia2016computational</a>,
  title = {Computational aspects of {G}alois representations},
  author = {Garc{\'\i}a, Alejandro Arg{\'a}ez},
  year = {2016},
  school = {University of Warwick}
}
</pre>

<a name="antieau2016brauer"></a><pre>
@article{<a href="/citation/citations#antieau2016brauer">antieau2016brauer</a>,
  title = {The {B}rauer group of the moduli stack of elliptic curves},
  author = {Antieau, Benjamin and Meier, Lennart},
  journal = {arXiv preprint arXiv:1608.00851},
  year = {2016}
}
</pre>

<a name="crump2016properties"></a><pre>
@article{<a href="/citation/citations#crump2016properties">crump2016properties</a>,
  title = {Properties of the extended graph permanent},
  author = {Crump, Iain},
  journal = {arXiv preprint arXiv:1608.01414},
  year = {2016}
}
</pre>

<a name="harvey2016computing"></a><pre>
@article{<a href="/citation/citations#harvey2016computing">harvey2016computing</a>,
  title = {Computing {L}-series of geometrically hyperelliptic curves of genus three},
  author = {Harvey, David and Massierer, Maike and Sutherland, Andrew V},
  journal = {arXiv preprint arXiv:1605.04708},
  year = {2016}
}
</pre>

<a name="checcoli2016explicit"></a><pre>
@article{<a href="/citation/citations#checcoli2016explicit">checcoli2016explicit</a>,
  title = {On the Explicit Torsion Anomalous Conjecture},
  author = {Checcoli, Sara and Veneziano, Francesco and Viada, Evelina},
  journal = {arXiv preprint arXiv:1605.04801},
  year = {2016}
}
</pre>

<a name="gurel2016occurrence"></a><pre>
@article{<a href="/citation/citations#gurel2016occurrence">gurel2016occurrence</a>,
  title = {On the Occurrence of Perfect Squares Among Values of Certain Polynomial Products},
  author = {G{\"u}rel, Erhan},
  journal = {The American Mathematical Monthly},
  volume = {123},
  number = {6},
  pages = {597--599},
  year = {2016},
  publisher = {JSTOR}
}
</pre>

<a name="mercuri2016equations"></a><pre>
@article{<a href="/citation/citations#mercuri2016equations">mercuri2016equations</a>,
  title = {Equations and Rational Points of the Modular Curves {X}$^+_0(p)$},
  author = {Mercuri, Pietro},
  journal = {arXiv preprint arXiv:1607.04558},
  year = {2016}
}
</pre>

<a name="swinarski2016equations"></a><pre>
@article{<a href="/citation/citations#swinarski2016equations">swinarski2016equations</a>,
  title = {Equations of {R}iemann surfaces with automorphisms},
  author = {Swinarski, David},
  journal = {arXiv preprint arXiv:1607.04778},
  year = {2016}
}
</pre>

<a name="MR3100414"></a><pre>
@book{<a href="/citation/citations#MR3100414">MR3100414</a>,
  author = {Terras, Audrey},
  title = {Harmonic analysis on symmetric spaces---{E}uclidean space, the
              sphere, and the {P}oincar\'e upper half-plane},
  edition = {Second},
  publisher = {Springer, New York},
  year = {2013},
  pages = {xviii+413},
  isbn = {978-1-4614-7971-0; 978-1-4614-7972-7},
  mrclass = {22E30 (11F72 43-02 43A85)},
  mrnumber = {3100414},
  mrreviewer = {Rudra P. Sarkar},
  doi = {10.1007/978-1-4614-7972-7}
}
</pre>

<a name="sutherland2012computing"></a><pre>
@article{<a href="/citation/citations#sutherland2012computing">sutherland2012computing</a>,
  title = {Computing the image of {Galois}},
  author = {Sutherland, Andrew V},
  journal = {CNTA XII},
  pages = {22},
  year = {2012}
}
</pre>

<a name="roe2016algebraic"></a><pre>
@misc{<a href="/citation/citations#roe2016algebraic">roe2016algebraic</a>,
  title = {Algebraic tori and a computational inverse {Galois} problem},
  author = {Roe, David},
  url = {<a href="http://www.pitt.edu/~roed/writings/talks/2016_01_26.pdf">http://www.pitt.edu/~roed/writings/talks/2016_01_26.pdf</a>},
  year = {2016}
}
</pre>

<a name="横山俊一2013統合システム"></a><pre>
@article{<a href="/citation/citations#横山俊一2013統合システム">横山俊一2013統合システム</a>,
  title = {統合システム Sage とクラウド型 CAS の最新事情},
  author = {横山俊一},
  journal = {数理解析研究所講究録},
  volume = {1843},
  pages = {131--139},
  year = {2013}
}
</pre>

<a name="lmfdb2016functions"></a><pre>
@misc{<a href="/citation/citations#lmfdb2016functions">lmfdb2016functions</a>,
  title = {The {L}-functions and Modular Forms Database (2016)},
  author = {LMFDB Collaboration and others},
  url = {<a href="http://lmfdb.org">http://lmfdb.org</a>},
  year = {2016}
}
</pre>

<a name="dehaye2016interoperability"></a><pre>
@article{<a href="/citation/citations#dehaye2016interoperability">dehaye2016interoperability</a>,
  title = {Interoperability in the OpenDreamKit Project: The Math-in-the-Middle Approach},
  author = {Dehaye, Paul-Olivier and Kohlhase, Michael and Konovalov, Alexander and Leli{\`e}vre, Samuel and Pfeiffer, Markus and Thi{\'e}ry, Nicolas M},
  journal = {arXiv preprint arXiv:1603.06424},
  year = {2016}
}
</pre>

<a name="minemodular"></a><pre>
@misc{<a href="/citation/citations#minemodular">minemodular</a>,
  title = {Modular forms and applications in number theory},
  author = {Mine, Alex},
  url = {<a href="http://math.uchicago.edu/~may/REUDOCS/Mine.pdf">http://math.uchicago.edu/~may/REUDOCS/Mine.pdf</a>}
}
</pre>

<a name="linowitzbounds"></a><pre>
@article{<a href="/citation/citations#linowitzbounds">linowitzbounds</a>,
  title = {Bounds for arithmetic hyperbolic reflection groups in dimension 2},
  author = {Linowitz, Benjamin}
}
</pre>

<a name="linowitz2016spectral"></a><pre>
@article{<a href="/citation/citations#linowitz2016spectral">linowitz2016spectral</a>,
  title = {The spectral geometry of arithmetic hyperbolic 3-manifolds},
  author = {Linowitz, Benjamin},
  url = {<a href="http://www-personal.umich.edu/~linowitz/papers/spectralnotes.pdf">http://www-personal.umich.edu/~linowitz/papers/spectralnotes.pdf</a>},
  year = {2016}
}
</pre>

<a name="pastor2016regularity"></a><pre>
@article{<a href="/citation/citations#pastor2016regularity">pastor2016regularity</a>,
  title = {On the regularity of fractional integrals of modular forms},
  author = {Pastor, Carlos},
  journal = {arXiv preprint arXiv:1603.06491},
  year = {2016}
}
</pre>

<a name="patrikis2015deformations"></a><pre>
@article{<a href="/citation/citations#patrikis2015deformations">patrikis2015deformations</a>,
  title = {Deformations of {Galois} representations and exceptional monodromy},
  author = {Patrikis, Stefan},
  journal = {Inventiones mathematicae},
  pages = {1--68},
  year = {2015},
  publisher = {Springer}
}
</pre>

<a name="johnson2015fourier"></a><pre>
@article{<a href="/citation/citations#johnson2015fourier">johnson2015fourier</a>,
  title = {Fourier coefficients for twists of {Siegel} paramodular forms (expanded version)},
  author = {Johnson-Leung, Jennifer and Roberts, Brooks},
  journal = {arXiv preprint arXiv:1505.05463},
  year = {2015}
}
</pre>

<a name="cahn2015powers"></a><pre>
@article{<a href="/citation/citations#cahn2015powers">cahn2015powers</a>,
  title = {Powers in orbits of rational functions: cases of an arithmetic dynamical Mordell-Lang conjecture},
  author = {Cahn, Jordan and Jones, Rafe and Spear, Jacob},
  journal = {arXiv preprint arXiv:1512.03085},
  year = {2015}
}
</pre>

<a name="klemm2015direct"></a><pre>
@article{<a href="/citation/citations#klemm2015direct">klemm2015direct</a>,
  title = {Direct Integration for Mirror Curves of Genus Two and an Almost Meromorphic {Siegel} Modular Form},
  author = {Klemm, Albrecht and Poretschkin, Maximilian and Schimannek, Thorsten and Westerholt-Raum, Martin},
  journal = {arXiv preprint arXiv:1502.00557},
  year = {2015}
}
</pre>

<a name="mertens2014mock"></a><pre>
@phdthesis{<a href="/citation/citations#mertens2014mock">mertens2014mock</a>,
  title = {Mock modular forms and class numbers of quadratic forms},
  author = {Mertens, Michael Helmut},
  year = {2014},
  school = {Universit{\"a}t zu K{\"o}ln}
}
</pre>

<a name="nelson2016quantum"></a><pre>
@article{<a href="/citation/citations#nelson2016quantum">nelson2016quantum</a>,
  title = {Quantum variance on quaternion algebras, {I}},
  author = {Nelson, Paul D},
  journal = {arXiv preprint arXiv:1601.02526},
  year = {2016}
}
</pre>

<a name="grenie2015zeros"></a><pre>
@article{<a href="/citation/citations#grenie2015zeros">grenie2015zeros</a>,
  title = {Zeros of {Dedekind} zeta functions under {GRH}},
  author = {Greni{\'e}, Lo{\"\i}c and Molteni, Giuseppe},
  journal = {Mathematics of Computation},
  volume = {85},
  pages = {1503--1522},
  year = {2015}
}
</pre>

<a name="ryan2016computing"></a><pre>
@article{<a href="/citation/citations#ryan2016computing">ryan2016computing</a>,
  title = {Computing {Jacobi} Forms},
  author = {Ryan, Nathan C and Sirolli, Nicol{\'a}s and Skoruppa, Nils-Peter and Tornar{\'\i}a, Gonzalo},
  journal = {arXiv preprint arXiv:1602.07021},
  year = {2016}
}
</pre>

<a name="fite2015fields"></a><pre>
@article{<a href="/citation/citations#fite2015fields">fite2015fields</a>,
  title = {Fields of definition of elliptic $k$-curves and the realizability of all genus 2 {Sato}-{Tate} groups over a number field},
  author = {Fit{\'e}, Francesc and Guitart, Xavier},
  journal = {arXiv preprint arXiv:1511.02322},
  year = {2015}
}
</pre>

<a name="sairaiji2016class"></a><pre>
@article{<a href="/citation/citations#sairaiji2016class">sairaiji2016class</a>,
  title = {On the class numbers of the fields of the $p^n$-torsion points of elliptic curves over $\mathbb{Q}$},
  author = {Sairaiji, Fumio and Yamauchi, Takuya},
  journal = {arXiv preprint arXiv:1603.01296},
  year = {2016}
}
</pre>

<a name="bartel2016torsion"></a><pre>
@article{<a href="/citation/citations#bartel2016torsion">bartel2016torsion</a>,
  title = {Torsion homology and regulators of isospectral manifolds},
  author = {Bartel, Alex and Page, Aurel},
  journal = {arXiv preprint arXiv:1601.06821},
  year = {2016}
}
</pre>

<a name="cooper2016beyond"></a><pre>
@article{<a href="/citation/citations#cooper2016beyond">cooper2016beyond</a>,
  title = {Beyond the excised ensemble: modelling elliptic curve {L}-functions with random matrices},
  author = {Cooper, Ian A and Morris, Patrick W and Snaith, Nina C},
  journal = {Journal of Physics A: Mathematical and Theoretical},
  volume = {49},
  number = {7},
  pages = {075202},
  year = {2016},
  publisher = {IOP Publishing}
}
</pre>

<a name="bertin2016mahler"></a><pre>
@article{<a href="/citation/citations#bertin2016mahler">bertin2016mahler</a>,
  title = {On the Mahler measure of hyperelliptic families},
  author = {Bertin, Marie Jos{\'e} and Zudilin, Wadim},
  journal = {arXiv preprint arXiv:1601.07583},
  year = {2016}
}
</pre>

<a name="ramakrishnan2016representations"></a><pre>
@article{<a href="/citation/citations#ramakrishnan2016representations">ramakrishnan2016representations</a>,
  title = {On the representations of a positive integer by certain classes of quadratic forms in eight variables},
  author = {Ramakrishnan, B and Sahu, Brundaban and Singh, Anup Kumar},
  journal = {arXiv preprint arXiv:1607.04764},
  year = {2016}
}
</pre>

<a name="ramakrishnan2015number"></a><pre>
@article{<a href="/citation/citations#ramakrishnan2015number">ramakrishnan2015number</a>,
  title = {On the number of representations of certain quadratic forms in $20$ and $24$ variables},
  author = {Ramakrishnan, B and Sahu, Brundaban},
  journal = {Functiones et Approximatio Commentarii Mathematici},
  note = {to appear}
}
</pre>

<a name="balakrishnan2016databases"></a><pre>
@article{<a href="/citation/citations#balakrishnan2016databases">balakrishnan2016databases</a>,
  title = {Databases of elliptic curves ordered by height and distributions of Selmer groups and ranks},
  author = {Balakrishnan, Jennifer S and Ho, Wei and Kaplan, Nathan and Spicer, Simon and Stein, William and Weigandt, James},
  journal = {arXiv preprint arXiv:1602.01894},
  year = {2016}
}
</pre>

<a name="booker2016database"></a><pre>
@article{<a href="/citation/citations#booker2016database">booker2016database</a>,
  title = {A database of genus 2 curves over the rational numbers},
  author = {Booker, Andrew R and Sijsling, Jeroen and Sutherland, Andrew V and Voight, John and Yasaki, Dan},
  journal = {arXiv preprint arXiv:1602.03715},
  year = {2016}
}
</pre>

<a name="jones2016mixed"></a><pre>
@article{<a href="/citation/citations#jones2016mixed">jones2016mixed</a>,
  title = {Mixed degree number field computations},
  author = {Jones, John W and Roberts, David P},
  journal = {arXiv preprint arXiv:1602.09119},
  year = {2016}
}
</pre>

<a name="koutsianas2015computing"></a><pre>
@article{<a href="/citation/citations#koutsianas2015computing">koutsianas2015computing</a>,
  title = {Computing all elliptic curves over an arbitrary number field with prescribed primes of bad reduction},
  author = {Koutsianas, Angelos},
  journal = {arXiv preprint arXiv:1511.05108},
  year = {2015}
}
</pre>

<a name="mosunov2015unconditional"></a><pre>
@article{<a href="/citation/citations#mosunov2015unconditional">mosunov2015unconditional</a>,
  title = {Unconditional class group tabulation of imaginary quadratic fields to $|{\Delta}|<2^{40}$},
  author = {Mosunov, A and Jacobson Jr,  M},
  journal = {Mathematics of Computation},
  volume = {85},
  pages = {1983--2009},
  year = {2016}
}
</pre>

<a name="rouse2013explicit"></a><pre>
@article{<a href="/citation/citations#rouse2013explicit">rouse2013explicit</a>,
  title = {The explicit {Sato}-{Tate} conjecture and densities pertaining to {Lehmer}-type questions},
  author = {Rouse, Jeremy and Thorner, Jesse},
  journal = {Transactions of the AMS},
  note = {to appear},
  year = {2016}
}
</pre>

<a name="balakrishnan2015shadow"></a><pre>
@article{<a href="/citation/citations#balakrishnan2015shadow">balakrishnan2015shadow</a>,
  title = {Shadow lines in the arithmetic of elliptic curves},
  author = {Balakrishnan, J. S. and {\c{C}}iperiani, M. and Lang, J. and Mirza, B. and Newton, R.},
  note = {preprint},
  url = {<a href="http://guests.mpim-bonn.mpg.de/rachel/ShadowLines.pdf">http://guests.mpim-bonn.mpg.de/rachel/ShadowLines.pdf</a>},
  year = {2015}
}
</pre>

<a name="kraus2015theoreme"></a><pre>
@article{<a href="/citation/citations#kraus2015theoreme">kraus2015theoreme</a>,
  title = {Sur le th{\'e}or{\`e}me de Fermat sur $\mathbb{Q}(\sqrt{5})$},
  author = {Kraus, Alain},
  journal = {Annales math{\'e}matiques du Qu{\'e}bec},
  volume = {39},
  number = {1},
  pages = {49--59},
  year = {2015},
  publisher = {Springer}
}
</pre>

<a name="hulse2016counting"></a><pre>
@article{<a href="/citation/citations#hulse2016counting">hulse2016counting</a>,
  title = {Counting square discriminants},
  author = {Hulse, Thomas A and Kuan, Chan Ieong and K{\i}ral, Eren Mehmet and Lim, Li-Mei},
  journal = {Journal of Number Theory},
  volume = {162},
  pages = {255--274},
  year = {2016},
  publisher = {Academic Press}
}
</pre>

<a name="schaeffer2015hecke"></a><pre>
@article{<a href="/citation/citations#schaeffer2015hecke">schaeffer2015hecke</a>,
  title = {Hecke stability and weight 1 modular forms},
  author = {Schaeffer, George J},
  journal = {Mathematische Zeitschrift},
  volume = {281},
  number = {1-2},
  pages = {159--191},
  year = {2015},
  publisher = {Springer Berlin Heidelberg}
}
</pre>

<a name="saouter2015still"></a><pre>
@article{<a href="/citation/citations#saouter2015still">saouter2015still</a>,
  title = {A still sharper region where {$\pi(x)-Li(x)$} is positive},
  author = {Saouter, Yannick and Trudgian, Timothy and Demichel, Patrick},
  journal = {Mathematics of Computation},
  volume = {84},
  number = {295},
  pages = {2433--2446},
  year = {2015}
}
</pre>

<a name="jones2013minimal"></a><pre>
@article{<a href="/citation/citations#jones2013minimal">jones2013minimal</a>,
  title = {Minimal solvable nonic fields},
  author = {Jones, John W},
  journal = {LMS Journal of Computation and Mathematics},
  volume = {16},
  pages = {130--138},
  year = {2013},
  publisher = {Cambridge University Press}
}
</pre>

<a name="sohexplicit"></a><pre>
@mastersthesis{<a href="/citation/citations#sohexplicit">sohexplicit</a>,
  title = {Explicit Methods for the {Birch} and {Swinnerton}-{Dyer} Conjecture},
  type = {MSc},
  institution = {University of Oxford},
  author = {Soh, Charlene}
}
</pre>

<a name="linowitz2015small"></a><pre>
@article{<a href="/citation/citations#linowitz2015small">linowitz2015small</a>,
  title = {Small isospectral and nonisometric orbifolds of dimension 2 and 3},
  author = {Linowitz, Benjamin and Voight, John},
  journal = {Mathematische Zeitschrift},
  volume = {281},
  number = {1-2},
  pages = {523--569},
  year = {2015},
  publisher = {Springer Berlin Heidelberg}
}
</pre>

<a name="platt2015computing"></a><pre>
@article{<a href="/citation/citations#platt2015computing">platt2015computing</a>,
  title = {Computing $\pi(x)$ analytically},
  author = {Platt, David},
  journal = {Mathematics of Computation},
  volume = {84},
  number = {293},
  pages = {1521--1535},
  year = {2015}
}
</pre>

<a name="guitart2016uniformization"></a><pre>
@article{<a href="/citation/citations#guitart2016uniformization">guitart2016uniformization</a>,
  title = {Uniformization of modular elliptic curves via p-adic periods},
  author = {Guitart, Xavier and Masdeu, Marc and {\c{S}}eng{\"u}n, Mehmet Haluk},
  journal = {Journal of Algebra},
  volume = {445},
  pages = {458--502},
  year = {2016},
  publisher = {Academic Press}
}
</pre>

<a name="brunault2015regulators"></a><pre>
@article{<a href="/citation/citations#brunault2015regulators">brunault2015regulators</a>,
  title = {Regulators for {Rankin}-{Selberg} products of modular forms},
  author = {Brunault, Fran{\c{c}}ois and Chida, Masataka},
  journal = {Annales math\'ematiques du Qu\'ebec},
  pages = {1--29},
  year = {2016}
}
</pre>

<a name="linowitz2015noncommutative"></a><pre>
@article{<a href="/citation/citations#linowitz2015noncommutative">linowitz2015noncommutative</a>,
  title = {A Noncommutative Analogue of the {Odlyzko} Bounds and Bounds on Performance for Space-Time Lattice Codes},
  author = {Linowitz, Benjamin and Satriano, Matthew and Vehkalahti, Roope},
  journal = {Information Theory, IEEE Transactions on},
  volume = {61},
  number = {4},
  pages = {1971--1984},
  year = {2015},
  publisher = {IEEE}
}
</pre>

<a name="kumar2014algebraic"></a><pre>
@article{<a href="/citation/citations#kumar2014algebraic">kumar2014algebraic</a>,
  title = {Algebraic models and arithmetic geometry of {Teichm\"uller} curves in genus two},
  author = {Kumar, Abhinav and Mukamel, Ronen E},
  journal = {arXiv preprint arXiv:1406.7057},
  year = {2014}
}
</pre>

<a name="cohencomputational"></a><pre>
@misc{<a href="/citation/citations#cohencomputational">cohencomputational</a>,
  title = {Computational number theory in relation with {L}-functions},
  author = {Cohen, Henri},
  url = {<a href="http://journees-louis-antoine.univ-rennes1.fr/Documents/NotesCohen.pdf">http://journees-louis-antoine.univ-rennes1.fr/Documents/NotesCohen.pdf</a>}
}
</pre>

<a name="sutherland2015computing"></a><pre>
@article{<a href="/citation/citations#sutherland2015computing">sutherland2015computing</a>,
  title = {Computing images of {Galois} representations attached to elliptic curves},
  author = {Sutherland, Andrew V},
  journal = {Forum of Mathematics, Sigma},
  volume = {4},
  pages = {79 pages},
  year = {2016}
}
</pre>

<a name="balakrishnan2015explicit"></a><pre>
@article{<a href="/citation/citations#balakrishnan2015explicit">balakrishnan2015explicit</a>,
  title = {Explicit p-adic methods for elliptic and hyperelliptic curves},
  author = {Balakrishnan, Jennifer S},
  journal = {Advances on Superelliptic Curves and Their Applications},
  volume = {41},
  pages = {260},
  year = {2015},
  publisher = {IOS Press}
}
</pre>

<a name="daniels2015torsion"></a><pre>
@article{<a href="/citation/citations#daniels2015torsion">daniels2015torsion</a>,
  title = {Torsion subgroups of rational elliptic curves over the compositum of all cubic fields},
  author = {Daniels, Harris B and Lozano-Robledo, Alvaro and Najman, Filip and Sutherland, Andrew V},
  journal = {arXiv preprint arXiv:1509.00528},
  year = {2015}
}
</pre>

<a name="ryan2014nonvanishing"></a><pre>
@article{<a href="/citation/citations#ryan2014nonvanishing">ryan2014nonvanishing</a>,
  title = {Nonvanishing of twists of-functions attached to {Hilbert} modular forms},
  author = {Ryan, Nathan C and Tornaria, Gonzalo and Voight, John},
  journal = {LMS Journal of Computation and Mathematics},
  volume = {17},
  number = {A},
  pages = {330--348},
  year = {2014},
  publisher = {Cambridge University Press}
}
</pre>

<a name="rahm2013level"></a><pre>
@article{<a href="/citation/citations#rahm2013level">rahm2013level</a>,
  title = {On level one cuspidal {Bianchi} modular forms},
  author = {Rahm, Alexander D and {\c{S}}eng{\"u}n, Mehmet Haluk},
  journal = {LMS Journal of Computation and Mathematics},
  volume = {16},
  pages = {187--199},
  year = {2013},
  publisher = {Cambridge University Press}
}
</pre>

<a name="choudhry2015sextuples"></a><pre>
@article{<a href="/citation/citations#choudhry2015sextuples">choudhry2015sextuples</a>,
  title = {Sextuples of integers whose sums in pairs are squares},
  author = {Choudhry, Ajai},
  journal = {International Journal of Number Theory},
  volume = {11},
  number = {02},
  pages = {543--555},
  year = {2015},
  publisher = {World Scientific}
}
</pre>

<a name="waltoncongruent"></a><pre>
@mastersthesis{<a href="/citation/citations#waltoncongruent">waltoncongruent</a>,
  title = {The Congruent Number Problem and the {Birch} and {Swinnerton}-{Dyer} Conjecture},
  type = {MMathPhil},
  institution = {University of Oxford},
  author = {Walton, Florence}
}
</pre>

<a name="ghitza2013computations"></a><pre>
@article{<a href="/citation/citations#ghitza2013computations">ghitza2013computations</a>,
  title = {Computations of vector-valued {Siegel} modular forms},
  author = {Ghitza, Alexandru and Ryan, Nathan C and Sulon, David},
  journal = {Journal of Number Theory},
  volume = {133},
  number = {11},
  pages = {3921--3940},
  year = {2013},
  publisher = {Elsevier}
}
</pre>

<a name="baker2015elliptic"></a><pre>
@mastersthesis{<a href="/citation/citations#baker2015elliptic">baker2015elliptic</a>,
  title = {Elliptic Curves over Finite Fields and their $l$-Torsion {Galois} Representations},
  type = {M.S.},
  author = {Baker, Michael},
  year = {2015},
  institution = {University of Waterloo}
}
</pre>

<a name="jones2014tame"></a><pre>
@article{<a href="/citation/citations#jones2014tame">jones2014tame</a>,
  title = {The tame-wild principle for discriminant relations for number fields},
  author = {Jones, John and Roberts, David},
  journal = {Algebra \& Number Theory},
  volume = {8},
  number = {3},
  pages = {609--645},
  year = {2014},
  publisher = {Mathematical Sciences Publishers}
}
</pre>

<a name="farmer2015varieties"></a><pre>
@article{<a href="/citation/citations#farmer2015varieties">farmer2015varieties</a>,
  title = {Varieties via their {L}-functions},
  author = {Farmer, David W and Koutsoliotas, Sally and Lemurell, Stefan},
  journal = {arXiv preprint arXiv:1502.00850},
  year = {2015}
}
</pre>

<a name="harris2015random"></a><pre>
@mastersthesis{<a href="/citation/citations#harris2015random">harris2015random</a>,
  title = {Random Matrix Theory and the Attraction of Zeros of {L}-functions from the Central Point},
  author = {Harris, Katherine Elizabeth},
  type = {Honors},
  institution = {Bucknell University},
  year = {2015}
}
</pre>

<a name="cass2013tetrakaidecic"></a><pre>
@misc{<a href="/citation/citations#cass2013tetrakaidecic">cass2013tetrakaidecic</a>,
  title = {Tetrakaidecic Extensions of $\mathbb{Q}_p$},
  author = {Cass, Robert and Parenti, Salvatore and Shankman, Daniel},
  url = {<a href="http://www.math.clemson.edu/~kevja/REU/2013/TetrakaidecicExtensionsOfQp.pdf">http://www.math.clemson.edu/~kevja/REU/2013/TetrakaidecicExtensionsOfQp.pdf</a>},
  year = {2013}
}
</pre>

<a name="mertens2014eichler"></a><pre>
@article{<a href="/citation/citations#mertens2014eichler">mertens2014eichler</a>,
  title = {Eichler-{Selberg} type identities for mixed mock modular forms},
  author = {Mertens, Michael H},
  journal = {arXiv preprint arXiv:1404.5491},
  year = {2014}
}
</pre>

<a name="wan2014slopes"></a><pre>
@article{<a href="/citation/citations#wan2014slopes">wan2014slopes</a>,
  title = {Slopes of eigencurves over boundary disks},
  author = {Wan, Daqing and Xiao, Liang and Zhang, Jun},
  journal = {arXiv preprint arXiv:1407.0279},
  year = {2014}
}
</pre>

<a name="deines2016generalized"></a><pre>
@article{<a href="/citation/citations#deines2016generalized">deines2016generalized</a>,
  title = {Generalized {Legendre} curves and quaternionic multiplication},
  author = {Deines, Alyson and Fuselier, Jenny G and Long, Ling and Swisher, Holly and Tu, Fang-Ting},
  journal = {Journal of Number Theory},
  volume = {161},
  pages = {175--203},
  year = {2016},
  publisher = {Academic Press}
}
</pre>

<a name="banwait2013some"></a><pre>
@phdthesis{<a href="/citation/citations#banwait2013some">banwait2013some</a>,
  title = {On some local to global phenomena for abelian varieties},
  author = {Banwait, Barinder S},
  year = {2013},
  school = {University of Warwick}
}
</pre>

<a name="rubinstein2013elliptic"></a><pre>
@article{<a href="/citation/citations#rubinstein2013elliptic">rubinstein2013elliptic</a>,
  title = {Elliptic curves of high rank and the {R}iemann zeta function on the one line},
  author = {Rubinstein, Michael O},
  journal = {Experimental Mathematics},
  volume = {22},
  number = {4},
  pages = {465--480},
  year = {2013},
  publisher = {Taylor \& Francis}
}
</pre>

<a name="rubinstein2015moments"></a><pre>
@article{<a href="/citation/citations#rubinstein2015moments">rubinstein2015moments</a>,
  title = {Moments of zeta functions associated to hyperelliptic curves over finite fields},
  author = {Rubinstein, Michael O and Wu, Kaiyu},
  journal = {Philosophical Transactions of the Royal Society of London A: Mathematical, Physical and Engineering Sciences},
  volume = {373},
  number = {2040},
  pages = {20140307},
  year = {2015},
  publisher = {The Royal Society}
}
</pre>

<a name="deines2014shimura"></a><pre>
@phdthesis{<a href="/citation/citations#deines2014shimura">deines2014shimura</a>,
  title = {Shimura Degrees for Elliptic Curves over Number Fields},
  author = {Deines, Alyson Laurene},
  institution = {University of Washington},
  year = {2014}
}
</pre>

<a name="dummigan2013simple"></a><pre>
@article{<a href="/citation/citations#dummigan2013simple">dummigan2013simple</a>,
  title = {A simple trace formula for algebraic modular forms},
  author = {Dummigan, Neil},
  journal = {Experimental Mathematics},
  volume = {22},
  number = {2},
  pages = {123--131},
  year = {2013},
  publisher = {Taylor \& Francis}
}
</pre>

<a name="sha2014pseudolinearly"></a><pre>
@article{<a href="/citation/citations#sha2014pseudolinearly">sha2014pseudolinearly</a>,
  title = {Pseudolinearly Dependent Points on Elliptic Curves},
  author = {Sha, Min and Shparlinski, Igor E},
  journal = {arXiv preprint arXiv:1410.1596},
  year = {2014}
}
</pre>

<a name="ugolini2015functional"></a><pre>
@article{<a href="/citation/citations#ugolini2015functional">ugolini2015functional</a>,
  title = {Functional graphs of rational maps induced by endomorphisms of ordinary elliptic curves over finite fields of odd characteristic},
  author = {Ugolini, Simone},
  journal = {arXiv preprint arXiv:1509.05365},
  year = {2015}
}
</pre>

<a name="katok2014fried"></a><pre>
@article{<a href="/citation/citations#katok2014fried">katok2014fried</a>,
  title = {The {Fried} average entropy and slow entropy for actions of higher rank abelian groups},
  author = {Katok, Anatole and Katok, Svetlana and Hertz, Federico Rodriguez},
  journal = {Geometric and Functional Analysis},
  volume = {24},
  number = {4},
  pages = {1204--1228},
  year = {2014},
  publisher = {Springer}
}
</pre>

<a name="donnelly2015table"></a><pre>
@article{<a href="/citation/citations#donnelly2015table">donnelly2015table</a>,
  title = {A Table of Elliptic Curves over the Cubic Field of Discriminant--23},
  author = {Donnelly, Steve and Gunnells, Paul E and Klages-Mundt, Ariah and Yasaki, Dan},
  journal = {Experimental Mathematics},
  volume = {24},
  number = {4},
  pages = {375--390},
  year = {2015},
  publisher = {Taylor \& Francis}
}
</pre>

<a name="plouffe2013values"></a><pre>
@article{<a href="/citation/citations#plouffe2013values">plouffe2013values</a>,
  title = {On the values of the functions zeta and gamma},
  author = {Plouffe, Simon},
  journal = {arXiv preprint arXiv:1310.7195},
  year = {2013}
}
</pre>

<a name="ramakrishnan2013evaluation"></a><pre>
@article{<a href="/citation/citations#ramakrishnan2013evaluation">ramakrishnan2013evaluation</a>,
  title = {Evaluation of the convolution sums $\sum_{l+15m= n}\sigma(l)\sigma(m)$ and $\sum_{3l+ 5m= n}\sigma(l)\sigma(m)$ and some applications},
  author = {Ramakrishnan, B and Sahu, Brundaban},
  journal = {International Journal of Number Theory},
  volume = {9},
  number = {03},
  pages = {799--809},
  year = {2013},
  publisher = {World Scientific}
}
</pre>

<a name="farmer2014maass"></a><pre>
@article{<a href="/citation/citations#farmer2014maass">farmer2014maass</a>,
  title = {Maass Forms on {GL}(3) and {GL}(4)},
  author = {Farmer, David W and Koutsoliotas, Sally and Lemurell, Stefan},
  journal = {International mathematics research notices},
  volume = {2014},
  number = {22},
  pages = {6276--6301},
  year = {2014},
  publisher = {Oxford University Press}
}
</pre>

<a name="bachilov2014statistics"></a><pre>
@article{<a href="/citation/citations#bachilov2014statistics">bachilov2014statistics</a>,
  title = {On Statistics of the {R}iemann Zeros Differences},
  author = {Bachilov, Yuri},
  journal = {arXiv preprint arXiv:1402.0865},
  year = {2014}
}
</pre>

<a name="conrey2015riemann"></a><pre>
@incollection{<a href="/citation/citations#conrey2015riemann">conrey2015riemann</a>,
  title = { {R}iemann's hypothesis},
  author = {Conrey, Brian},
  booktitle = {Colloquium De Giorgi 2013 and 2014},
  pages = {109--117},
  year = {2015},
  publisher = {Springer}
}
</pre>

<a name="fite2012sato"></a><pre>
@article{<a href="/citation/citations#fite2012sato">fite2012sato</a>,
  title = {Sato-{Tate} groups of some weight 3 motives},
  author = {Fit{\'e}, Francesc and Kedlaya, Kiran S and Sutherland, Andrew V},
  journal = {Contemporary Mathematics},
  volume = {663},
  pages = {57--102},
  year = {2016},
  publisher = {American Mathematical Society}
}
</pre>

<a name="ramakrishnan2014number"></a><pre>
@article{<a href="/citation/citations#ramakrishnan2014number">ramakrishnan2014number</a>,
  title = {On the number of representations of an integer by certain quadratic forms in sixteen variables},
  author = {Ramakrishnan, B and Sahu, Brundaban},
  journal = {International Journal of Number Theory},
  volume = {10},
  number = {08},
  pages = {1929--1937},
  year = {2014},
  publisher = {World Scientific}
}
</pre>

<a name="billerey2015some"></a><pre>
@misc{<a href="/citation/citations#billerey2015some">billerey2015some</a>,
  title = {On some remarkable congruences between two elliptic curves},
  author = {Billerey, Nicolas},
  note = {preprint},
  year = {2015}
}
</pre>

<a name="browndegree"></a><pre>
@article{<a href="/citation/citations#browndegree">browndegree</a>,
  title = {Degree 14 extensions of {$\mathbb{Q}_7$}},
  author = {Brown, Jim and Cass, Robert and Keaton, Rodney and Parenti, Salvatore and Shankman, Daniel},
  journal = {International Journal of Pure and Applied Mathematics},
  volume = {100},
  number = {2},
  pages = {337--345},
  year = {2015}
}
</pre>

<a name="farmer2015second"></a><pre>
@article{<a href="/citation/citations#farmer2015second">farmer2015second</a>,
  title = {The second Dirichlet coefficient starts out negative},
  author = {Farmer, David W and Koutsoliotas, Sally},
  journal = {The Ramanujan Journal},
  pages = {1--9},
  year = {2015},
  publisher = {Springer}
}
</pre>

<a name="he2014conjecture"></a><pre>
@article{<a href="/citation/citations#he2014conjecture">he2014conjecture</a>,
  title = {On a conjecture concerning integral real roots of certain cubic polynomials},
  author = {He, Junhua},
  journal = {Linear Algebra and its Applications},
  volume = {446},
  pages = {265--268},
  year = {2014},
  publisher = {Elsevier}
}
</pre>

<a name="anni2014local"></a><pre>
@article{<a href="/citation/citations#anni2014local">anni2014local</a>,
  title = {A local--global principle for isogenies of prime degree over number fields},
  author = {Anni, Samuele},
  journal = {Journal of the London Mathematical Society},
  volume = {89},
  number = {3},
  pages = {745--761},
  year = {2014},
  publisher = {Oxford University Press}
}
</pre>

<a name="brown2015classifying"></a><pre>
@article{<a href="/citation/citations#brown2015classifying">brown2015classifying</a>,
  title = {Classifying extensions of the field of formal Laurent series over $\mathbb{F}_p$},
  author = {Brown, Jim and Hasmani, Alfeen and Hiltner, Lindsey and Kraft, Angela and Scofield, Daniel and Wash, Kirsti and others},
  journal = {Rocky Mountain Journal of Mathematics},
  volume = {45},
  number = {1},
  pages = {115--130},
  year = {2015},
  publisher = {Rocky Mountain Mathematics Consortium}
}
</pre>

