/*This is the file where we set all of our colors to avoid color explosion.  
  We will have defined colors that you should use for appropriate objects.  
  Hopefully they are descriptively enough named.*/

/*These are the different greens used in LMFDB*/
{% set green = 'green'%}
{% set light_green = 'lightgreen' %}
{% set col_main_d  = '#040' %} /*Used once*/
{% set col_main_dld = '#060' %}
{% set col_main_dl = '#006400'%}
{% set col_main_dll = '#008000' %}/*Used once*/
{% set col_main    = '#292' %}
{% set col_main_2  = '#afa' %}
{% set col_main_3  = '#181' %} /*Used once*/
{% set col_main_4  = '#390' %} /*Used twice*/
{% set col_main_5  = '#4a4' %} /*Used twice*/
{% set col_main_6 = '#90EE90' %}
{% set col_main_l  = '#bfb' %}
{% set col_main_l_1 = '#9e9' %}
{% set col_main_ldl= '#cfc' %}
{% set col_main_ldl_1 = '#c4ff4c'%}
{% set col_main_lg = '#8b8' %}
{% set col_main_lg_1 = '#8a8' %}
{% set col_main_lg2 = '#9b9' %}
{% set col_main_ld = '#dfd' %}
{% set col_main_ld_1 = '#d1ffd1' %}
{% set col_main_ld_2 = '#d5ffd5' %}
{% set col_main_ll = '#efe' %}
{% set col_main_ll_1 = '#e2ffe2'%}
{% set col_main_llg = '#9C9' %}/*Used once*/
{% set col_main_g = '#474' %} /*Used once*/
{% set col_main_g2 = '#ada' %}
{% set col_main_g3 = '#aca' %}/*Used once*/

/* Different reds*/
{% set col_red_1 = '#D00' %} /*Used once*/
{% set col_light_red_1 = '#FDD' %}
{% set col_light_red_2 = '#FEE' %}
{% set col_light_red_3 = '#EDD' %}
{% set col_light_red_4 = '#ffc4c4' %}
{% set col_light_red_5 = '#ffd1d1' %}
{% set col_light_red_6 = '#ffd5d5' %}
{% set col_light_red_7 = '#ffd2d2' %}
{% set col_light_red_8 = '#ffe2e2' %}

/*Knowl colors, purplish-blues */
{% set purple = 'purple' %}
{% set knowl_error = purple %}
{% set knowl_shadow = '#88b'%}
{% set knowl     = '#AAF' %}
{% set knowl_1   = '#99B3FF'%}/*Used once*/
{% set knowl_g   = '#AAD' %} /*Only used twice.*/
{% set knowl_ld  = '#CCF' %} /*Only used once.*/
{% set knowl_ld_1 = '#c4c4ff'%}
{% set knowl_l   = '#DDF' %}
{% set knowl_l_1 = '#D3D6FF' %}
{% set knowl_l_2 = '#DADCFF' %}
{% set knowl_l_3 = '#E0E2FF' %}
{% set knowl_l_4 = '#EAEBFF' %}
{% set knowl_l_5 = '#F2F3FF' %}
{% set knowl_l_6 = '#F9F9FF' %}
{% set knowl_l_7 = '#d1d1ff' %}
{% set knowl_l_8 = '#d5d5ff' %}
{% set knowl_ll  = '#EEF' %} /*Used once*/
{% set knowl_ll_2 = '#E5E5FF'%}
{% set knowl_ll_1 = '#e2e2ff'%}
{% set knowl_lll = '#F0F0F6' %}/*Only used once.*/
{% set knowl_d   = '#88F' %}
{% set knowl_d_1 = '#8080FF'%}
{% set knowl_dg  = '#99C' %} /*Only used once.*/
{% set knowl_dd  = '#006' %} /*Only used twice.*/
{% set knowl_ddd = '#004' %}
{% set knowl_db  = '#66d' %} /*Only used once.*/


/* Blues */
{% set light_blue = 'lightblue' %}
{% set steel_blue = '#8DBDD8'%}/*Used once*/
{% set steel_blue_1 = '#3C769D' %}
{% set blue_1 = '#3366FF'%}
{% set blue_2 = '#336699'%}
{% set blue = 'blue'%}
{% set hyperlink_blue = '#0000cc'%}

/* Blacks */
{% set black = 'black'%}
{% set black_1 = '#111111'%}/*Only used once*/

/* Greys */
{% set important_grey = '#999'%}
{% set grey = 'grey'%}
{% set blue_grey = '#B0BED9' %}/*Used once*/
{% set blue_grey_1 = '#9FAFD1'%}/*Used once*/
{% set red_grey = '#A19B9E'%}
{% set grey_1 = '#888888' %}
{% set grey_2 = '#999' %}
{% set grey_3 = '#aaa' %} /*Used twice*/
{% set grey_4 = '#B4B4B4' %}

{% set dark_grey = '#3D3D3D' %}/*Used once*/
{% set dark_grey_2 = '#444' %}/*Used once*/
{% set dark_grey_3 = '#333' %}
{% set dark_grey_4 = '#666' %}

{% set light_grey_1 = '#EEE' %}
{% set light_blue_grey = '#E6EEEE' %}/*Used once*/
{% set light_red_grey = '#d1cfd0' %}/*Used twice*/
{% set light_grey_2 = '#CDCDCD' %}/*Used once*/
{% set light_grey_3 = '#ddd' %}
{% set light_grey_4 = '#ccc' %}
{% set light_grey_5 = '#c4c4c4'%}
{% set light_grey_6 = '#d1d1d1'%}
{% set light_grey_7 = '#d5d5d5'%}
{% set light_grey_8 = '#e2e2e2'%}
{% set light_grey_9 = '#E9E9E9' %}


/*whites*/
{% set white = 'white' %}
{% set white_1 = '#F5F5F5'%}
{% set yellow_white = '#FFFFF4'%}
{% set yell0w_white_1 = '#FFFFCC'%}


/*citrons*/
{% set light_citron = '#ECFFB3'%}
{% set light_citron_1 = '#E6FF99'%}
{% set light_citron_2 = '#DDFF75'%}
{% set light_citron_3 = '#E7FF9E'%}
{% set light_citron_4 = '#E2FF89'%}
{% set light_citron_5 = '#D6FF5C'%}
{% set light_citron_6 = '#E0FF84'%}
{% set light_citron_7 = '#DBFF70'%}

/* Orange*/
{% set orange_1 = '%FF9900'%}











/*Need to define colors based on object: Currently not used!!*/
/* TODO: define these with more descriptive names and in terms
   of the colors defined above. */
/* Body colors */
{% set body_background = white %}
{% set body_text = black %}
/* contributors, i.e., contribs */
{% set contrib_border = col_main_ld %}
{% set contrib_background = col_main_ld %}
{% set contrib_text_affil = dark_grey_3 %}
{% set contrib_text_notes = dark_grey_4 %}

/* TODO: set content colors */

/* footer colors */
{% set footer_background = col_main_ld %}
{% set footer_border = col_main_l %}
{% set footer_text = col_main_dld %}

/* TODO: set a colors */

/* Upper right hand corner searchbox */
{% set search_border = col_main %}
{% set search_background = col_main_ld %}

/* Header colors*/
{% set header_background = col_main_ld %} /*Color of the banner at the top*/
{% set header_shadow = col_main_lg %}
{% set header_text_title = col_main_d %}
{% set header_text_topright = col_main_dld %}
/* Header navi colors */
{% set header_navi_text = col_main_dld %}

/* TODO: flashes */

/* Properties: the right hand side boxes. */
{% set properties_border = col_main_g %}
{% set properties_text_h1h2 = col_main_l %}
{% set properties_body_background = col_main_ll %}
{% set properties_header_text = col_main_d %}
{% set properties_header_background = col_main_l%}
{% set properties_collapser = col_main_d %} /*The little circle-arrow thingy*/

/* Sidebar: left hand side sidebar. */
{% set sidebar_text = col_main_4 %}
{% set sidebar_background = col_main_ll%}
{% set sidebar_background_h2 = col_main_l %} /*sidebar tab background*/
{% set sidebar_text_h2 = col_main_d %}
{% set sidebar_background_hover = col_main_l %}
{% set sidebar_background_li = col_main_ll %}
{% set sidebar_background_h2_hover = col_main_2 %}
{% set sidebar_bkg_highlight = col_main_l %}
{% set sidebar_bkg_highlight_knowl = col_knowl_d %}
{% set sidebar_text_future = grey_4 %}
{% set sidebar_text_beta = purple %}
{% set sidebar_background_off = white %}


/* TODO: clean up knowl colors.*/


/* Buttons */
{% set button_background = col_main_ld %}
{% set button_border = col_main_g2 %}
{% set button_background_hover = col_main_ldl %}
{% set button_border_hover = col_main_llg %}
{% set button_background_inactive = light_grey_1 %}
{% set button_border_inactive = col_light_red_3 %}
/* TODO: knowl buttons*/


/* Tables */
{% set table_background_hover = col_main_ldl %}
{% set table_ntdata_background = col_main_2 %}
{% set table_ntdata_background_2 = col_main_ll %}
{% set table_ntdata_background_c1 = white %} /* tr:first-child, odd*/
{% set table_ntdata_background_cn = col_main_ll %} /*tr:nth-child, even */
{% set table_ntdata_border = col_main_lg2 %}
{% set table_ntdata_border_bottom = grey %}

/* TODO: table knowls*/

/*index-boxes todo*/
{% set box_background = white %}
{% set box_background_img = col_main_ll %}
{% set box_background_title = col_main_l %}
 
/*Maass nav and show*/
{% set maas_table_bkg = white %}
{% set maas_table_bkg_hl = col_main_l %}
{% set maas_coff_bkg = white%}

/* Search */
{% set search_background = white %}
{% set serach_border = white %}
{% set gsa_inactive = light_grey_9 %}
{% set gsa_active = orange_1 %}
{% set gs_text_webResult = black %}
{% set gs_text = col_main_dll %}
{% set gs_border = blue_2 %}

/* Chi tables */
{% set chitable_imprimitive = 'blue' %}
{% set chitable_primitive = 'green' %}

/* acknowledgements*/
{% set text_affil = '#333'%}
{% set text_notes = '#555'%}
{% set text_trad_hyperlink = 'black'%}


{% set upload_border = 'lightgrey' %}
{% set upload_background = '#fffff4' %}
{% set upload_background_hover = 'ffffcc' %}



{% set button_background2 = '#EEE' %}
{% set button_border2 = '#EED'%}

{% set nav = '#4a4'%}


{% set div_box_border = '#8080FF' %}
{% set div_box_bkg = '#E5E5FF' %}


{% set error   = '#922' %} /*red for error*/
{% set light_error = '#FDD' %} /*light red*/
{% set check = '#0080FF' %} 
{% set todo = '#f22' %}