{% extends "homepage.html" %}
{% block content %}

<h1>Contact LMFDB developers</h1>

<div>
<p>
For questions, inquiries, feedback or any other issues, including bug
reports, please
<a href="mailto:lmfdb-support@googlegroups.com"
target="_blank">email</a>
the <a href="http://groups.google.co.uk/d/forum/lmfdb-support"
target="_blank">LMFDB support mailing list</a>.
</p>

<p>
If you see a problem with the production
site <a href="www.lmfdb.org">www.lmfdb.org</a>, before making a
report, please first try with the same URL except with 'www' replaced
by 'beta', that is at <a href="beta.lmfdb.org">beta.lmfdb.org</a>,
which runs our beta testing website code, since the issue you see may
have already been addressed.
</p>

<p>
To be most helpful, bug reports should include
<ol>
<li>a one line description of the problem
<li>the exact URL which shows the issue (copied and pasted from the
  browser location bar)
<li>a full description of the problem.
</ol>
</p>


<p>
The current list of issues being tracked can be found
<a href="https://github.com/LMFDB/lmfdb/issues"
target="_blank">here</a>.
</p>


<p>
Use of the old <a href="{{feedbackpage}}">Feedback Form</a> is deprecated.
</p>
</div>

{% endblock %}
