{% extends "homepage.html" %}
{% block content %}

<h1>Contact Webmaster</h1>

<div>
For questions, inquiries or general issues contact one of the webmasters:

<ul>
 <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01L8P0DPA48sLHWiGZaxeEQw==&amp;c=uN8RjiiHQCqegDHyzIW_k9wsidsbKQaztqfCR6QHRpY=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501L8P0DPA48sLHWiGZaxeEQw\75\75\46c\75uN8RjiiHQCqegDHyzIW_k9wsidsbKQaztqfCR6QHRpY\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Harald Schilly</a></li>
</ul>

Otherwise use the <a href="{{feedbackpage}}">Feedback Form</a>.
</div>

{% endblock %}
