{% extends "homepage.html" %}
{% block content %}

<h1>Contacting the LMFDB developers</h1>

<div>
<p>
For questions, inquiries, feedback or any other issues, including bug
reports, please <b>either</b>
<a href="mailto:lmfdb-support@googlegroups.com"
target="_blank">email</a>
the <a href="http://groups.google.co.uk/d/forum/lmfdb-support"
target="_blank">LMFDB support mailing list</a>, <b>or</b> use the
<a href="{{feedbackpage}}" target=_blank>Feedback Form</a>, or both.
</p>

<p>
If you see a problem with the
website <a href="www.lmfdb.org">www.lmfdb.org</a>, before making a
report, please check to see if the issue has already been fixed on the
beta testing site <a href="beta.lmfdb.org">beta.lmfdb.org</a>: just
replace 'www' replaced by 'beta' in the URL.
</p>

<p>
To be most helpful, bug reports should include
<ul>
<li>a one line description of the problem,
<li>the exact URL which shows the issue (copied and pasted from the
  browser location bar), and
<li>a full description of the problem.
</ul>
</p>


<p>
The current list of issues being tracked can be found
<a href="https://github.com/LMFDB/lmfdb/issues"
target="_blank">here</a>.
</p>


</div>

{% endblock %}
