{% extends "homepage.html" %}
{% block content %}

<div>

Fields are sets where one can do arithmetic "normally", in the sense
that one has addition, subtraction, multiplication, and division,
except for division by zero.  Moreover, these operations satisfy
the usual axioms such as the commutative and associative laws for
addition and multiplication.
</div>
<br>
<div>
Familiar examples of fields are the rational numbers $\Q$, the
real numbers $\R$, and the complex numbers $\C$.  For
number theory where historically questions were originally over
$\Q$, it was useful to be able to factor particular polynomials which
are irreducible over $\Q$, which led to global number fields,
finite extensions of
$\Q$ where one forms the smallest field contained in $\C$ which
contains $\Q$ and the root of one polynomial.
</div>
<br>
<div>
Local number fields, which are finite extensions of $p$-adic numbers,
are useful in understanding global number fields.  They are the
completions (other than $\R$ and $\C$) of global number fields
with repect to metrics arising from non-trivial absolute values.
</div>
<br>
<div>
The LMFDB contains databases of both local and global number fields.
For a given degree and prime $p$, there are only finitely many local
number fields making them ideal for tabulation.  Global number fields
come from various complete sets based on the degree and either a 
bound on the absolute discriminant, the set of ramifying primes, or
the root discriminant of the Galois closure.
</div>
<br>
<div>
The term <em>number field</em> distinguishes these fields from
global and local function fields.  These fields share many properties
with number fields, many proven and some conjectural.  Global function
fields arise as the field of rational functions on a curve over a
finite field, and local function fields are their completions.
</div>
<br>
<div>
Browse
<br>
<ul>
<li><a href="{{ url_for('number_fields.number_field_render_webpage') }}">Global number fields</a>
<li><a href="{{ url_for('local_fields.index') }}">Local number fields</a>
</ul>
</div>

{% endblock %}

