{% extends "base.html" %}

{% block body -%}
<div id="header">
    <div id="logo"><a href="/"><img src="{{ url_for('static', filename='images/lmfdb-logo.png') }}" /></a></div>
    <div class="right">
      <div class="bread">
        {% if bread %}
          <a href="/">Top</a>
          {% for b in bread -%}
            &rarr; <a href="{{ b[1] }}">{{ b[0]|striptags }}</a>
          {%- endfor %}
         {% endif %}
      </div>
      <div class="topright">
          <form method="GET" action="{{ url_for('search') }}" id="search-topright">
            <input type="text" placeholder="search ..." name="q" size="13" />
          </form>
            &middot;
          <a href="{{ feedbackpage }}" target=_blank">
             Feedback</a>
            &middot;
          {% if g.show_menu %}
             <a href="{{ url_for("menutoggle", show=False)}}">Hide Menu</a>
          {% else %}
             <a href="{{ url_for("menutoggle", show=True)}}">Show Menu</a>
          {% endif %}
            &middot;
          {% if user_is_admin -%}
            <a href="{{ url_for('users.register') }}">Registertokens</a>
            &middot;
          {% endif %}
          {% if user_is_authenticated -%}
            <a href="{{ url_for('users.info') }}">{{ username }}</a> 
            &middot;
            <a href="{{ url_for('users.logout') }}">Logout</a>
          {%- else -%}
            {# <a href="{{ url_for('users.register_new') }}">Register</a>
            &middot; #}
            <a href="{{ url_for('users.info') }}">Login</a>
          {%- endif %}
          <br/>
          <span id="communication-wrapper">
            <img id="communication-img" src="{{ url_for('static', filename='images/progress-green.gif') }}" />
            <span id="communication"></span>
          </span>
      </div>
{# deleting the confusing prev/next character links, 
   but leaving the code in case it is useful later
      {% if navi is defined -%}
        <div id="navi">
         {% for txt, u in navi -%}
          <a href="{{ u }}">{{ txt|safe }}</a>
          {% if not loop.last -%}&middot;{%- endif %}
         {%- endfor %}
        </div>
      {%- elif navi_raw is defined -%}
        <div id="navi">{{ navi_raw|safe }}</div>
      {%- endif %} 
#}
      {# this span inside a div thing is necessary to align it at the bottom, see css #}

      {% if title_arithmetic -%}
      <div id="title" class="arithmetic"><span id="title-content">{{ title_arithmetic|safe }}</span></div>
      <div id="title" class="analytic nodisplay"><span id="title-content">{{ title_analytic|safe }}</span></div>
      {% else %}
      <div id="title"><span id="title-content">{{ title|safe }}</span></div>
      {% endif %}

    </div>
</div>

{% block sidebar -%}
{% if g.show_menu %}
{#  This macro is not used! #}
 {% macro entry(title, entries) -%}
   {% if entries %}
    <h2>{{ title }}</h2>
    <ul class="subnav">
        {% for text,url in entries %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
   {% endif %}
 {%- endmacro %}

<div id="sidebar">
{%- include "sidebar.html" -%}

{{ entry("Data", getUploadedFor(request.path, true) ) }}

</div>


{% else %}
<style type="text/css">
#main { margin: 0; }
</style>
{% endif %} {# of g.show_menu #}
{%- endblock sidebar %}

 {% macro rightnavig(title, entries) -%}
   {% if entries %}
    <h1 class="properties-header">{{ title }}</h1>
    <div class="properties-body">
    <ul>
        {% for text,url in entries %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
  </div>
   {% endif %}
 {%- endmacro %}

{% if (properties2 or friends or downloads or learnmore) %}
      <div id="properties">
       <div id="properties-collapser">&uarr;</div>
    {% if properties2 %}
       <h1 class="properties-header">Properties</h1>
       <div class="properties-body">
       <table>
       {% for label, content in properties2 -%}
         {% if label %}
           <tr><td class="label">{{label|safe}}</td><td>
         {% else %}
           <tr><td colspan="2">
         {% endif %}
         {% if content is string  -%}
             {{ content|safe }}</td></tr>
         {%- else -%}
           {% for c in content -%}
            {% if not loop.first -%}<tr><td></td>{%- endif %}
              {{c|safe}}</td></tr>
           {%- endfor %}
         {%- endif %}
       {%- endfor %} 
      </table>
      </div>
    {% endif %}
   {{ rightnavig("Related objects", friends) }}
   {% if downloads %}
     {{ rightnavig("Downloads", downloads + getUploadedFor(request.path, false) ) }}
   {% else %}
     {{ rightnavig("Data", getUploadedFor(request.path, false) ) }}
   {% endif %}
   {{ rightnavig("Learn more about", learnmore) }}
    </div>
    {%- endif %}

<div id="main">
  {# <div id="mathjax-info">
    <img src="{{ url_for('static', filename='images/progress-green.gif') }}" />
    <br/>
    Loading website and processing LaTeX ...
    <br>
    <span id="mathjax-log"></span>
  </div> #} 
  <div id="content">
    {% with msgs = get_flashed_messages(with_categories=true) -%}
      <div id="flashes">
        {% for cat, msg in msgs -%}
          <p class="{{ cat }}">{{ msg }}</p>
        {%- endfor %}
      </div>
    {%- endwith %}
    
    {% block content -%}
    There is nothing here. This is just a template.
    {%- endblock content %}
  </div>
</div>

<div id="footer">
    {% if credit -%}
      Data computed by {{ credit|safe }}.<br />
    {%- endif %}
    
    {% if support -%}
      {{ support|safe }}<br/>
    {%- else -%}
        <h4>{{shortthanks|safe}}</h4>
<br />
    {%- endif %}
    <div>
      <a href="{{ url_for('contact') }}">Contact</a>
      &middot;
      <a href="{{ url_for('citation') }}">Citation</a>
      &middot;
      <a href="{{ url_for('acknowledgment') }}">Acknowledgments</a>
      &middot;
      <a href="{{ url_for('edit_board') }}">Editorial and Management Boards</a>
      {# <a href="{{ 'about' }}">About</a> #}
      &middot;
      {{ current_source|safe }}
      &middot;
      {{ latest_changeset|safe }}
      &middot;
      {{ sage_version|safe }}
    </div>
</div>



{%- endblock body %}
