{% extends "base.html" %}
{% import 'color.css' as color %}

{% macro place_code(item) %}
{% if code and code[item] %}
{% for L in code[item] %}
{% if code[item][L] %}
{# currently there are two uses of multiline code:
   - either strings containing newlines and ending with a newline
   - or arrays of lines
   first convert the first case to the second
#}
{% if code[item][L] is string %}
{% set lines = code[item][L].split('\n')[:-1] if '\n' in code[item][L] else [code[item][L]] %}
{% else %}
{% set lines = code[item][L] %}
{% endif %}
{% set prompt = code['prompt'][L] if 'prompt' in code and L in code['prompt'] else L %}
{# keep the line below as is to avoid annoying line breaks #}
<div class="{{ [L,'nodisplay','code','codebox'] | join(' ')}}">{% for line in lines %}{{prompt}}:&nbsp;{{line}}<br>{% endfor %}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% block body -%}
<div id="header">
    <div id="logo"><a href="/">
{% if BETA %}
    <img src="{{ url_for('static', filename='images/lmfdb-logo-beta.png') }}" />
{% else %}
    <img src="{{ url_for('static', filename='images/lmfdb-logo.png') }}" />
{% endif %}
</a></div>
    <div class="right">
      <div class="upper">
        <div class="bread">
          {% if bread %}
            <a href="/">&#8962;</a>
{# there's a house symbol &#x1f3e0; but it does not work on all browsers#}
            {% for b in bread -%}
              &rarr; <a href="{{ b[1] }}"> {{ b[0]|striptags }}</a>
            {% endfor %}
           {% else %}
            <a href="/">&#8962;</a>
           {% endif %}
        </div>
        <div class="topright">
{# search box does not work (see Issue #2389)
          <form method="GET" action="{{ url_for('search') }}" id="search-topright">
            <input type="text" placeholder="search ..." name="q" size="13" />
          </form>
#}
            {% if user_is_admin -%}
              &middot;
              <a href="{{ url_for('users.register') }}">Registration Tokens</a>
            {% endif %}
            {% if user_is_authenticated -%}
              &middot;
              <a href="{{ url_for('users.info') }}">{{ username }}</a> 
              &middot;
              <a href="{{ url_for('users.logout') }}">Logout</a>
              <br/>
            {%- else -%}
              {# <a href="{{ url_for('users.register_new') }}">Register</a>
              &middot; #}
              {% if BETA %}
              &middot;
              <a href="{{ url_for('users.info') }}">Login</a>
              <br/>
              {% endif %}
            {%- endif %}
<!--
            <span id="communication-wrapper">
              <img id="communication-img" src="{{ url_for('static', filename='images/progress-green.gif') }}" />
              <span id="communication"></span>
            </span>
-->
          <div class="undertopright">
            <a href="{{ url_for('contact') }}" target=_blank">Feedback</a>
              &middot;
            {% if g.show_menu %}
               <a href="{{ url_for("menutoggle", show=False)}}">Hide Menu</a>
            {% else %}
               <a href="{{ url_for("menutoggle", show=True)}}">Show Menu</a>
            {% endif %}
          </div>
        </div>
{# deleting the confusing prev/next character links, 
   but leaving the code in case it is useful later
        {% if navi is defined -%}
          <div id="navi">
           {% for txt, u in navi -%}
            <a href="{{ u }}">{{ txt|safe }}</a>
            {% if not loop.last -%}&middot;{%- endif %}
           {%- endfor %}
          </div>
        {%- elif navi_raw is defined -%}
          <div id="navi">{{ navi_raw|safe }}</div>
        {%- endif %} 
#}
      {# this span inside a div thing is necessary to align it at the bottom, see css #}

        </div>
        {% if title_arithmetic -%}
        <div id="title" class="arithmetic">{{ title_arithmetic|safe }}</div>
        <div id="title" class="analytic nodisplay">{{ title_analytic|safe }}</div>
        {% else %}
        <div id="title">{{ title|safe }}</div>
        {% endif %}

    </div>
</div>

{% block sidebar -%}
{% if g.show_menu %}
{#  This macro is not used! #}
 {% macro entry(title, entries) -%}
   {% if entries %}
    <h2>{{ title }}</h2>
    <ul class="subnav">
        {% for text,url in entries %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
   {% endif %}
 {%- endmacro %}

<div id="sidebar">
{%- include "sidebar.html" -%}
</div>


{% else %}
<style type="text/css">
#main { margin: 0; }
</style>
{% endif %} {# of g.show_menu #}
{%- endblock sidebar %}

 {% macro rightnavig(title, entries) -%}
   {% if entries %}
    <h1 class="properties-header">{{ title }}</h1>
    <div class="properties-body">
    {% if entries is string %}
      {# For very large lists of friends, we use javascript #}
      {{ entries | safe }}
    {% else %}
    <ul>
        {% for text,url in entries %}
        {% if url %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% else %}
           <li>{{ text|safe }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
  </div>
   {% endif %}
 {%- endmacro %}

{% macro neighbors(title, entries) -%}
   {% if entries %}
    <h1 class="properties-header">{{ title }}</h1>
    <div class="properties-body">
    <table>
       {% for description, name, url in entries %}
       <tr><td>{{ description }}</td><td><a href="{{ url }}">{{ name|safe }}</a></td></tr>
       {% endfor %}
    </table>
  </div>
   {% endif %}
 {%- endmacro %}

{% if (properties2 or origins or friends or downloads or learnmore) %}
      <div id="properties">
       <div id="properties-collapser">&uarr;</div>
    {% if properties2 %}
       <h1 class="properties-header">Properties</h1>
       <div class="properties-body">
       <table>
       {% for label, content in properties2 -%}
         {% if label %}
           <tr><td class="label">{{label|safe}}</td><td>
         {% else %}
           <tr><td colspan="2" align="center">
         {% endif %}
         {% if content is string  -%}
             {{ content|safe }}</td></tr>
         {%- else -%}
           {% for c in content -%}
            {% if not loop.first -%}<tr><td></td>{%- endif %}
              {{c|safe}}</td></tr>
           {%- endfor %}
         {%- endif %}
       {%- endfor %} 
      </table>
      </div>
    {% endif %}

   {{ rightnavig("Origins", origins) }}
   {{ rightnavig("Instances", Linstances) }}
   {{ rightnavig("Related objects", friends) }}

   {% block more_props %}{% endblock %}
   {% if navi %}
       {{ neighbors("Nearby objects", navi) }}
   {% endif %}

   {% if downloads %}
     {{ rightnavig("Downloads", downloads) }}
   {% endif %}

   {{ rightnavig("Learn more about", learnmore) }}
    </div>
    {%- endif %}

<div id="main">
  {# <div id="mathjax-info">
    <img src="{{ url_for('static', filename='images/progress-green.gif') }}" />
    <br/>
    Loading website and processing LaTeX ...
    <br>
    <span id="mathjax-log"></span>
  </div> #} 
  <div id="content">
    {% with msgs = get_flashed_messages(with_categories=true) -%}
      <div id="flashes">
        {% for cat, msg in msgs -%}
          <p class="{{ cat }}">{{ msg }}</p>
        {%- endfor %}
      </div>
    {%- endwith %}
    {% if code %}
        <script>
        var cur_lang = null;
        function show_code(new_lang) {
           {% for lang in code['show'] %}
           $('.{{lang}}').hide();
           {% endfor %}
            if (cur_lang == new_lang) {
              cur_lang = null;
            } else {
              $('.'+new_lang).show();
              $('.'+new_lang).css('display','inline-block');
              cur_lang = new_lang;
            }
        }
        </script>
        <div align="right">
            Show commands for:
            {% set slash = joiner("/ ") %}
            {% for lang in code['show'] %}
            {# override show names for standard languages to ensure consistency #}
            {% set show = 'Pari/GP' if lang == 'pari' else 'SageMath' if lang == 'sage' else 'Magma' if lang == 'magma' else code['show']['lang'] %}
            {{slash()}}<a onclick="show_code('{{lang}}'); return false" href='#'>{{show}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% block content -%}
    There is nothing here. This is just a template.
    {%- endblock content %}
  </div>
</div>

{% if DEBUG %}
<div class="debug">
<p>
The template for this page is: {{ self._TemplateReference__context.name }}
</p>
{% if calling_function %}
<p>
The function which was called for this page is: {{calling_function}}
</p>
{% endif %}
</div>
{% endif %}

<div id="footer">
    {% if credit -%}
      Data computed by {{ credit|safe }}.<br />
    {%- endif %}
    
    {% if support -%}
      {{ support|safe }}<br/>
    {%- else -%}
        <h4>{{shortthanks|safe}}</h4>
<br />
    {%- endif %}
    <div>
      <a href="{{ url_for('contact') }}">Contact</a>
      &middot;
      <a href="{{ url_for('citation') }}">Citation</a>
      &middot;
      <a href="{{ url_for('acknowledgment') }}">Acknowledgments</a>
      &middot;
      <a href="{{ url_for('management_board') }}">Management Board</a>
      {# <a href="{{ 'about' }}">About</a> #}
      &middot;
      {{ current_source|safe }}
      &middot;
      {{ latest_changeset|safe }}
      &middot;
      {{ sage_version|safe }}
    </div>
</div>



{%- endblock body %}
