{% extends "homepage.html" %}
{% block content %}


<style type="text/css">
table.boxes {table-layout: fixed; width: 100%; padding: 10; margin: 0px; margin-left: 15px; }
table.boxes > tbody > tr > td { padding: 0 25px 35px 0; overflow: hidden; }
table.box { background: #fff; width: 100%; padding: 0; border-radius: 0px; }
table.box td.img { background: #efe; width: 150px; height: 150px; border: 15; padding-left: 5px; padding-bottom: 0px; padding-top: 5px; padding-right: 5px;} 
table.box img {border: 15; padding: 5;}
table td.title { font-weight: bold; font-size: 110%; background: #bfb; height: 2em; padding: 5;padding-left: 10px; border-top-right-radius: 10px;}
table td.content { background: #efe; font-size: 90%; padding-left: 15px; padding-bottom: 5px; vertical-align: top}
div.user { font-size: 90%; padding: 0px; }
div.user ul li { line-height: 80%; }
table.box td.content ul.list {
	margin: 0px;
	padding-left: 15px; padding-bottom: 5px;
	list-style-type: none;
	list-style-position: inside;
	line-height: 135%;
}
</style>

<div class="user">
{{ KNOWL_INC('users.' + userid|lower + '.note') }}
</div>

<table class="boxes">
<tr>
 {% for box in boxes %}
    <td>
    <table class="box">
      <tr>
        <td class="img" rowspan="3" vertical-align="middle"><img height="150" width="150" src="{{ box.img }}"></td>
        <td class="title">{{ box.title }}</td>
      </tr>
	<tr>
      <td class="content">{{ box.content|safe }}</tr>
     </tr>
    </table>
    </td>

    {% if loop.index is even -%}</tr><tr>{%- endif %}
 {% endfor %}
</tr>
</table>





{#
 <ul>
  <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
  <ul>
    <li><a href="{{url_for('introduction_features')}}">Features</a></li>
    <li><a href="{{url_for('introduction_tutorial')}}">Tutorial</a></li>
    <li><a href="{{ url_for('bigpicture') }}">A Map of LMFDB</a></li>
    <li><a href="{{ url_for('roadmap') }}">Future Plans</a></li>
  </ul>

  <li><a href="{{ url_for('l_functions.l_function_top_page') }}">L-functions and Zeta-functions</a></li>
  <li>Elliptic Curves
  <ul>
   <li><a href="{{ url_for('EC_toplevel') }}  ">Elliptic Curves/\(\Q\)</a></li>
  </ul>
  </li>

  <li>Fields
    <ul>
      <li><a href="{{ url_for('number_fields.number_field_render_webpage') }}">Global Number Fields</a></li>
      <li><a href="{{ url_for('local_fields.index') }}">Local Number Fields</a></li>
      <li><a href="{{ url_for('galois_groups.index') }}">Galois Groups</a></li>

    </ul>
  </li>

  <li>Characters
  <ul>
   <li><a href="{{ url_character() }} ">Dirichlet Characters</a></li>
  </ul>
  </li>

  <li><a class="mf"    href="{{ url_for('mf.modular_form_main_page') }}">Modular Forms</a>
  <ul>
   <li><a class="emf"  href="{{ url_for('emf.render_elliptic_modular_forms') }}">Holomorphic Cusp Forms  on \(\GL(2)/\Q\)</a></li>
   <li><a class="mwf"  href="{{ url_for('mwf.render_maass_waveforms') }}">Maass Forms on \(\GL(2)/\Q\)</a></li>
   <li><a              href="{{ url_for('hmf.hilbert_modular_form_render_webpage') }}">Hilbert Modular Forms</a></li>
   <li><a              href="{{ url_for('ModularForm_GSp4_Q_top_level') }}">Siegel Modular forms</a> </li>
  </ul>
  </li>
 {% if user_is_authenticated -%}
<li><a href="{{ url_for('artin_representations.index') }}">Artin Representations</a></li>
{% endif%}
<li>Zeros of $L$-functions
 <ul>
  <li><a href="/zeros/first/">First zeros of L-functions</a></li>
  <li><a href="/zeros/zeta/">Zeros of the Riemann zeta function</a></li>
 </ul>
</li>
 </ul>

<h1>Miscellaneous Pages</h1>
<ul>
 <li><a href="{{ url_for("knowledge.index") }}">Knowledge</a></li>
 <li>What is a {{ KNOWL("doc.knowl") }}? Click on it!</li>
 {% if user_is_authenticated -%}
 <li><a href="{{ url_for("users.list") }}">User Management</a>:
   you are "<a href="{{ url_for('users.info') }}">{{username}}</a>"
 </li>
 {%- endif %}
 {% if user_is_authenticated -%}
 <li><a href="{{ url_for('checklist') }}">Testing</a>
 </li>
 {%- endif %}
 <li><a href="{{ url_for("acknowledgment") }}">Acknowledgments</a></li>
</ul>

{% if user_is_authenticated %}
<h1>Data</h1>
<ul>
<li><a href="{{ url_for("upload.viewAll")}}">View user uploaded data</a></li>
 <li><a href="{{ url_for("upload.index") }}">Upload data</a></li>
 <li><a href="/raw">raw LMFDB data</a></li>
 {% if user_is_admin %}
  <li><a href="{{ url_for("upload.admin") }}">Moderate uploaded files</a></li>
 {% endif %}
</ul>
{% endif %}
#}

{% endblock %}
