{% extends "homepage.html" %}
{% block content %}

<div class="announce">
{{ KNOWL_INC('intro.description') }}
</div>

<h1>Sections</h1>

 <ul>
  <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
  <ul>
    <li><a href="{{url_for('introduction_features')}}">Features</a></li>
    <li><a href="{{url_for('introduction_tutorial')}}">Tutorial</a></li>
    <li><a href="{{ url_for('universe') }}">The  LMFDB universe</a></li>
    <li><a href="{{ url_for('roadmap') }}">Future Plans</a></li>
  </ul>

  <li><a href="{{ url_for('l_functions.l_function_top_page') }}">L-functions and Zeta-functions</a></li>
  <li>Elliptic Curves
  <ul>
   <li><a href="{{ url_for('ec.rational_elliptic_curves') }}  ">Elliptic Curves/\(\Q\)</a></li>
  </ul>
  </li>

  <li>Fields
    <ul>
      <li><a href="{{ url_for('number_fields.number_field_render_webpage') }}">Global Number Fields</a></li>
      <li><a href="{{ url_for('local_fields.index') }}">Local Number Fields</a></li>
      <li><a href="{{ url_for('galois_groups.index') }}">Galois Groups</a></li>

    </ul>
  </li>

  <li>Characters
  <ul>
   <li><a href="{{ url_for('characters.render_characterNavigation') }} ">Dirichlet Characters</a></li>
  </ul>
  </li>

  <li><a class="mf"    href="{{ url_for('mf.modular_form_main_page') }}">Modular Forms</a>
  <ul>
   <li><a class="emf"  href="{{ url_for('emf.render_elliptic_modular_forms') }}">Holomorphic Cusp Forms  on \(\GL(2)/\Q\)</a></li>
   <li><a class="mwf"  href="{{ url_for('mwf.render_maass_waveforms') }}">Maass Forms on \(\GL(2)/\Q\)</a></li>
{#  <li><a class="mwfp" href="{{ url_for('mwfp.render_picard_maass_forms') }}">Maass Forms on the Picard Group, \(\PSL(2,\Z[i])\)</a></li> #}
   <li><a              href="{{ url_for('hmf.hilbert_modular_form_render_webpage') }}">Hilbert Modular Forms</a></li>
   <li><a              href="{{ url_for('ModularForm_GSp4_Q_top_level') }}">Siegel Modular forms</a> </li>
  </ul>
  </li>
 {% if user_is_authenticated -%}
<li><a href="{{ url_for('artin_representations.index') }}">Artin Representations</a></li>
{% endif%}
<li>Zeros of $L$-functions
 <ul>
  <li><a href="/zeros/first/">First zeros of L-functions</a></li>
  <li><a href="/zeros/zeta/">Zeros of the Riemann zeta function</a></li>
 </ul>
</li>
 </ul>

<h1>Miscellaneous Pages</h1>
<ul>
 <li><a href="{{ url_for("knowledge.index") }}">Knowledge</a></li>
 <li>What is a {{ KNOWL("doc.knowl") }}? Click on it!</li>
 {% if user_is_authenticated -%}
 <li><a href="{{ url_for("users.list") }}">User Management</a>:
   you are "<a href="{{ url_for('users.info') }}">{{username}}</a>"
 </li>
 {%- endif %}
 {% if user_is_authenticated -%}
 <li><a href="{{ url_for('checklist') }}">Testing</a>
 </li>
 {%- endif %}
 <li><a href="{{ url_for("acknowledgment") }}">Acknowledgments</a></li>
</ul>

{% if user_is_authenticated %}
<h1>Data</h1>
<ul>
<li><a href="{{ url_for("upload.viewAll")}}">View user uploaded data</a></li>
 <li><a href="{{ url_for("upload.index") }}">Upload data</a></li>
 <li><a href="/raw">raw LMFDB data</a></li>
 {% if user_is_admin %}
  <li><a href="{{ url_for("upload.admin") }}">Moderate uploaded files</a></li>
 {% endif %}
</ul>
{% endif %}


{% endblock %}
