{% extends "homepage.html" %}
{% block content %}

<div class="user">
{{ KNOWL_INC('users.' + userid|lower + '.note') }}
</div>

<table class="boxes">
<tr>
 {% for box in boxes %}
    <td align="center">
    <table class="box">
      <tr vertical-align="top">
        <td class="img" rowspan="3" vertical-align="middle"><img height="150px" width="150px" src="{{ box.img }}"></td>
        <td class="title">{{ box.title }}</td>
      </tr>
      <tr>
        <td class="content">{{ box.content|safe }}</td>
      </tr>
    </table>
    </td>
    {% if loop.index is even -%}</tr><tr>{%- endif %}
 {% endfor %}
</tr>
</table>

{% endblock %}
