{#
   the following KNOWL macro enables to tag certain locations in the
   HTML documents to reference to saved "Knowls". They contain all
   the information and form the stored knowledge.
    * the knowl's title ends up in the page
    * the content is either revealed or immediately included, depends on
      what the macro does.
   The macro itself is only there for the presentation of the data via suitable
   HTML tags and associated javascript code.

   Arguments:
    * title: to overwrite the knowl's title, usually just leave it
             to its default None.
#}
{% macro KNOWL(kid, title=none) -%}
{% with ktitle = knowl_title(kid) -%}
{% if ktitle is none -%}
 {# knowl does not exist. wrong knowlid or opportunity to create one! #}
  {% if user_is_authenticated -%}

    {% if title is none %}
    <span class="knowl knowl-error">
    '{{kid}}'
    <a href="{{ url_for('knowledge.edit', ID=kid) }}">Create it</a>.
    </span>
    {%- else -%}
    <a href="{{ url_for('knowledge.edit', ID=kid) }}"><span class="knowl knowl-error">{{title}}</span></a>
    {%- endif %}

  {%- else -%}
    {% if title is none -%}
      <span class="knowl knowl-error">'{{kid}}'</span>
    {%- else -%}
      {{title|safe}}
    {%- endif %}
  {%- endif %}

{%- else -%}
 {% with hover = "%s [%s]"|format(ktitle, kid) -%}
  {% if title is none -%}
    {% if ktitle|length > 0 -%}
     <a title="{{ hover }}" knowl="{{ kid }}" kwargs="{{ kwargs|urlencode }}">{{ ktitle|safe }}</a>
    {%- else -%}
     <a title="{{ hover }}" knowl="{{ kid }}" kwargs="{{ kwargs|urlencode }}">{{ kid }}</a>
    {%- endif %}
  {%- else -%}
    {% if title|length > 0 -%}
     <a title="{{ hover }}" knowl="{{ kid }}" kwargs="{{ kwargs|urlencode }}">{{ title|safe }}</a>
    {%- endif %}
  {%- endif %}
 {%- endwith %}
{%- endif %}
{%- endwith %}
{%- endmacro %}

{% macro KNOWL_INC( knowlid, title=none, htag="h1", show_missing=False) -%}
{% with knowl = Knowl(knowlid) -%}
{% if knowl.exists() -%}
  {% if title is none -%}
    {# <{{htag}}>{{knowl.title}}</{{htag}}> #}
  {%- else -%}
    <{{htag}}>{{title}}</{{htag}}>
  {%- endif %}
  {{knowl.content|render_knowl|safe }}
  {% if user_is_authenticated -%}
    <div class="knowl-inc-edit"><a href="{{ url_for('knowledge.edit', ID=knowlid) }}">edit
    '{%- if title is none or title == "" -%}{{knowl.title|safe}}{%- else -%}{{ title|safe }}{%- endif -%}'</a></div>
  {%- endif %}

{%- else -%}
  {# knowl does not exist. wrong knowlid or opportunity to create one! #}
    {% if user_is_authenticated -%}
      <div class="knowl knowl-error">
      <a href="{{ url_for('knowledge.edit', ID=knowlid) }}">'{{knowlid}}' [create knowl]</a>
      </div>
    {%- else -%}
      {% if show_missing -%}<span class="knowl knowl-error">'{{knowlid}}'</span>{%- endif %}
    {%- endif %}
{%- endif %}
{%- endwith %}
{%- endmacro %}

{# for inserting "normal" links to knowl pages #}
{% macro KNOWL_LINK(kid, title=none) -%}
{% with ktitle = knowl_title(kid) -%}
{% if ktitle is none -%}
  {# knowl does not exist. wrong knowlid or opportunity to create one! #}
    {% if user_is_authenticated -%}
      <div class="knowl knowl-error">
       '{{knowlid}}'
       <a class="knowl-link" href="{{ url_for('knowledge.edit', ID=kid) }}">Create it</a>.
      </div>
    {%- else -%}
      <span class="knowl knowl-error">'{{kid}}'</span>
    {%- endif %}
{%- else -%}
  <a class="knowl-link" href='{{ url_for("knowledge.show", ID=kid) }}?{{kwargs|urlencode}}'>
  {% if title is none -%}{{ ktitle|safe }}{%- else -%}{{ title|safe }}{%- endif -%}
 </a>
{%- endif %}
{%- endwith %}
{%- endmacro %}

{# for the bar when editing or showing knowls #}
{% macro knowlbar(show_kid=False) -%}
 <div class="knowl-bar">
   <a title="like a wiki would" href="{{ url_for('.show', ID=k.id) }}">show</a>
   {% if user_is_authenticated %}
     &middot;
     <a href="{{ url_for('.edit', ID=k.id) }}">edit</a>
   {% endif %}
   {% if user_is_admin %}
     &middot;
     <a onclick='return confirm("Really delete Knowl {{ k.id }}? There is no way back!");'
            href="{{ url_for('.delete', ID=k.id) }}">delete</a>
   {% endif %}
   {% if show_kid %}
   &middot; <code>{{ k.id }}</code>
   {% endif %}
   <a style="margin-left: 30px;" href="{{ url_for('.index') }}">all knowls</a>
   &middot; <a href="{{ url_for('.index', category=k.category) }}">up</a>
   &middot; search:
   <form id='knowl-search' action="{{ url_for('.index') }}" method="GET">
     <input size="20" name="search" placeholder="modular" />
     <button type="submit">go</button>
   </form>
</div>
{%- endmacro %}

{# The defs for database queries #}
{% macro TEXT_DATA(filename, path) -%}
  {{ queryUploadDatabase(filename, path or request.path) }}
{%- endmacro %}
