{% extends "homepage.html" %}
{% block content %}

<h3> Managing Editors</h3>
<ul>
<li>John Cremona, University of Warwick, UK</li>
<li>John Jones, Arizona State University, USA</li>
<li>Andrew Sutherland, MIT, USA</li>
<li>John Voight, Dartmouth College, USA</li>
</ul>

<h3> Associate Editors</h3>

<ul>
<li>Michael Bennett, University of British Columbia, Canada</li>
<li>Alina Bucur, University of California - San Diego, USA</li>
<li>Stephan Ehlen, University of Cologne, Germany</li>
<li>David Farmer, American Institute of Mathematics, USA</li>
<li>Kiran Kedlaya, University of California - San Diego, USA</li>
<li>Pascal Molin, University of Paris 7, France </li>
<li>Jennifer Paulhus, Grinnell College, USA</li>
<li>David Roberts, University of Minnesota, Morris, USA</li>
<li>Michael Rubinstein, University of Waterloo, Canada</li>
<li>Nathan Ryan, Bucknell University, USA</li>
<li>Holly Swisher, Oregon State University, USA</li>
</ul>

{% endblock %}
