{% extends "homepage.html" %}
{% block content %}

<ul>
<li>Jonathan Bober, University of Bristol, UK</li>
<li>Andrew Booker, University of Bristol, UK</li>
<li>Alina Bucur, University of California - San Diego, USA</li>
<li>Brian Conrey, American Institute of Mathematics, USA</li>
<li>John Cremona, University of Warwick, UK</li>
<li>Stephan Ehlen, McGill University, Canada</li>
<li>David Farmer (Chair), American Institute of Mathematics, USA</li>
<li>John Jones, Arizona State University, USA</li>
<li>Kiran Kedlaya, University of California - San Diego, USA</li>
<li>Stefan Lemurell, Chalmers University of Technology and University of Gothenburg, Sweden</li>
<li>Pascal Molin, University of Paris 7, France </li>
<li>David Roberts, University of Minnesota, Morris, USA</li>
<li>Michael Rubinstein, University of Waterloo, Canada</li>
<li>Nathan Ryan, Bucknell University, USA</li>
<li>Harald Schilly, University of Vienna, Austria</li>
<li>Ralf Schmidt, University of Oklahoma, USA</li>
<li>William Stein, University of Washington, USA</li>
<li>Fredrik Str&ouml;mberg, Nottingham University, UK</li>
<li>Andrew Sutherland, MIT, USA</li>
<li>Holly Swisher, Oregon State University, USA</li>
<li>John Voight, Dartmouth College, USA</li>
</ul>

{% endblock %}
