{% extends "homepage.html" %}
{% block content %}

<h3> Managing Editors</h3>
<ul>
<li>John Jones, Arizona State University, USA</li>
<li>Jennifer Paulhus, Mount Holyoke College, USA</li>
<li>Andrew Sutherland, MIT, USA</li>
<li>John Voight, University of Sydney, Australia</li>
</ul>

<h3> Associate Editors</h3>

<ul>
<li>Eran Assaf, Dartmouth College / MIT, USA</li>
<li>Michael Bennett, University of British Columbia, Canada</li>
<li>Andrew Booker, University of Bristol, UK</li>
<li>Alina Bucur, University of California - San Diego, USA</li>
<li>Edgar Costa, MIT, USA</li>
<li>John Cremona, University of Warwick, UK</li>
<li>David Farmer, American Institute of Mathematics, USA</li>
<li>Everett Howe, USA</li>
<li>Kiran Kedlaya, University of California - San Diego, USA</li>
<li>&Aacute;lvaro Lozano-Robledo, University of Connecticut, USA</li>
<li>C&eacute;line Maistret, University of Bristol, UK</li>
<li>Nicolas Mascot, Trinity College Dublin, Ireland</li>
<li>Pascal Molin, Université Paris Cité, France </li>
<li>Aurel Page, INRIA / Institut de Mathématiques de Bordeaux, France </li>
<li>David Roberts, University of Minnesota, Morris, USA</li>
<li>David Roe, MIT, USA</li>
<li>Jeroen Sijsling, Universit&auml;t Ulm, Germany</li>
<li>Gonzalo Tornar&iacute;a, Universidad de la Rep&uacute;blica, Uruguay</li>
</ul>

{% endblock %}
