{% if info.search_type == 'DynStats' %}
<script>
var default_buckets = {};
{% for col, buckets in info.stats._default_buckets %}
default_buckets['{{col}}'] = '{{buckets}}';
{% endfor %}
function set_buckets(col_selecter, bucket_id) {
  if (col_selecter.value in default_buckets) {
    $('#' + bucket_id).val(default_buckets[col_selecter.value]);
  }
}
</script>

{% set search_header = 'Constraints' %}
{% else %}
{% set search_header = 'Refine search' %}
{% endif %}

<h2 id='search_h2'>{{search_header}}
  {% if info.search_array.has_advanced_inputs(info) %}
  <button id="advancedtoggle" href="#">Advanced search options</button>
  {% endif %}
</h2>

<form id='re-search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html(info) | safe }}
</form>

{% if info.search_array.has_advanced_inputs(info) %}
<script> show_advancedQ(); </script>
{% endif %}
