{% if info.search_type == 'DynStats' %}
<script>
var default_buckets = {};
{% for col, buckets in info.stats._default_buckets %}
default_buckets['{{col}}'] = '{{buckets}}';
{% endfor %}
function set_buckets(col_selecter, bucket_id) {
  if (col_selecter.value in default_buckets) {
    $('#' + bucket_id).val(default_buckets[col_selecter.value]);
  }
}
</script>

{% set search_header = 'Constraints' %}
{% else %}
{% set search_header = 'Refine search' %}
{% endif %}

<h2 id='search_h2'>{{KNOWL('intro.search', search_header)}}
  {% if info.search_array.has_advanced_inputs(info) %}
  <button id="advancedtoggle" href="#">Advanced search options</button>
  {% endif %}
</h2>

<form class='re-search'>
  {{ info.search_array.html(info) | safe }}
  <input type="hidden" name="showcol" value="{{info.showcol}}" />
  <input type="hidden" name="hidecol" value="{{info.hidecol}}" />
  <input type="hidden" name="sort_order" value="{{info.sort_order}}" />
  <input type="hidden" name="sort_dir" value="{{info.sort_dir}}" />
</form>

<script>
{% if info.search_array.has_advanced_inputs(info) %}
show_advancedQ();
{% endif %}

function set_fresh() {
  $(".search_stale").removeClass("search_stale").addClass("search_fresh");
}

$("input").on("input", set_fresh);
$("select").on("change", set_fresh);
</script>

