{% extends "homepage.html" %}
{% block content %}

<div>

Ongoing work on the LMFDB will add more data, include more mathematical
objects, provide better searching and browsing, and give more detailed
information about each object in the database.  The lists below
describe some of the planned enhancements.  To make comments or
suggestions about the future of LMFDB, please see the
<a href="{{ url_for('contact') }}">contact and feedback page</a> for information about
the mailing list and bug-report form.

</div>

{# the formatting should be fine this way, just needs extension to all roadmaps #}

{{ KNOWL_INC('lfunction.roadmap') }}

{{ KNOWL_INC('mf.elliptic.roadmap') }}

{{ KNOWL_INC('ec.roadmap') }}

{{ KNOWL_INC('character.dirichlet.roadmap') }}

{{ KNOWL_INC('g2c.roadmap') }}

{{ KNOWL_INC('mf.hilbert.roadmap') }}

{{ KNOWL_INC('mf.maass.roadmap') }}

{{ KNOWL_INC('mf.siegel.roadmap') }}

{{ KNOWL_INC('artin.roadmap') }}

{{ KNOWL_INC('nf.roadmap') }}

{{ KNOWL_INC('lf.roadmap') }}

{{ KNOWL_INC('gg.roadmap') }}

{{ KNOWL_INC('st_group.roadmap') }}

{{ KNOWL_INC('zeros.roadmap') }}

{{ KNOWL_INC('content.roadmap') }}

{% endblock %}

