<style type="text/css">
#sidebar .L a {
    display: inline;
    padding: 2px;
}

#sidebar .L {
    padding-right: 4px;
}

#sidebar .heading {
    padding-right: 1px;
    padding-left: 2px;
    margin-bottom: 1px;
}

#sidebar div.L {
    margin: 8px;
 /*   padding-top: 5px;
*/
}

#sidebar table td a {
    display: block;
    padding: 2px; 
    border-radius: 0;
}

#sidebar table td .subtitle {
    color: #390;
}

#sidebar table td.borc .subtitle .future {
    margin-left: 5px;
    padding: 2px 5px
}

#sidebar table td.borc .subtitle a {
    margin-left: 5px;
}

#sidebar table td p {
    padding: 2px 0px;
}

#sidebar table td.full .future  {
    padding: 2px 5px;
}

#sidebar .future { 
    color:rgb(180,180,180);
    display: inherit;
}


#sidebar .beta { 
    color:purple;
    display: inherit;
}


#sidebar .beta a { 
    color:purple;
}


#sidebar table td .parts {
    padding-left: 15px;
}

#sidebar table td .subitem {
    padding-right: 15px;
}

#sidebar table td.rotation { overflow: hidden; }

#sidebar li a {
    background: inherit;
}

/*
#sidebar .test { color:rgb(150,0,0);}
#sidebar .test a { color:rgb(150,0,0);
*/
display: inline;
  background: none;
  padding: 0px;}
/*#sidebar .list li {
    padding: px;
}*/
#sidebar .list a {
  display: block;
  background: none;
  padding: 0px;

}
#sidebar h2 {
      margin: 10px 0px 0px;}

p.rotation  {
             -moz-transform: rotate(270deg);
             -webkit-transform: rotate(270deg);
             -o-transform: rotate(270deg);
             -ms-transform: rotate(270deg);
             transform: rotate(270deg); }


#sidebar table th, #sidebar table td {
	text-align: left;
	padding: 2px;
}

#sidebar table.short{
    width: 100%;
    table-layout: fixed;
	border-width: 2px;
    border-bottom: 0px;
	border-style: solid;
	padding: 2px;
	border-spacing: 0px;
	border-color: #efe;
	border-collapse: separate;
}

#sidebar table.short td.bor{
/*	border-bottom: 5px solid #fff;
	padding: 0px;*/
	text-align: left;
}

#sidebar table.short td.nbor{
	padding: 0px; text-align: left;
}

#sidebar table.short td.borc{
	text-align: center;
/*	border-bottom: 5px solid #fff;
	padding: 0px;*/
}
 
#sidebar table.short td.full{
        text-align: left;
/*      border-bottom: 5px solid #fff;
      padding: 0px;*/
}

#sidebar table.short td.off { 
	text-align: center;	
/*	border-bottom: 5px solid #fff;
	padding: 0px*/
	background: #fff }



#sidebar ul:first-child a:first-child,
#sidebar h2:first-child a:first-child,
#sidebar h2:first-child {
  margin: 0;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
#sidebar ul:last-child li:last-child,
#sidebar ul:last-child li:last-child a {
  border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}

#sidebar .list li {
  padding: 2px 0px;
}

#sidebar .list a {
  padding: 0px;
}

#sidebar table.short2{
    width: 100%;
    table-layout:fixed;
	padding: 10px;
	border-spacing: 0px;
	border-color: #efe;
	border-collapse: collapse;
}

#sidebar table.short2 td{
	padding-left: 10px;
}
</style>
