<table class="statgrid">
  <tr><th></th><th></th><th colspan="{{ d.col_headers | length}}"> {{d.attribute.col_title | safe}} </td></tr>
  <tr>
    <th></th>
    <th></th>
    {% for chead in d.col_headers %}
    <th class="chead">{{ chead | safe}}</th>
    {% endfor %}
  </tr>
  {% for rhead, row in d.grid %}
  <tr>
    {% if loop.index == 1 %}
    <th rowspan="{{ (d.grid | length) * 2 }}">
      <div class="table_rotate">
        {{d.attribute.row_title | safe}}
      </div>
    </th>
    {% endif %}
    <th class="rhead nowrap" rowspan=2>{{ rhead | safe}}</th>
    {% for c in row %}
    {% if c.count %}
    {% if c.query %}
    <td class="cnt{% if 'extraclass' in c %} {{c.extraclass}}{% endif %}"><a href='{{c.query}}'>{{c.count}}</a></td>
    {% else %}
    <td class="cnt{% if 'extraclass' in c %} {{c.extraclass}}{% endif %}">{{c.count}}</td>
    {% endif %}
    {% else %}
    <td class="cnt{% if 'extraclass' in c %} {{c.extraclass}}{% endif %}"></td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for c in row %}
    <td class="prop{% if 'propclass' in c %} {{c.propclass}}{% endif %}">{{c.proportion}}</td>
    {% endfor %}
  </tr>
  {% endfor %} {# d.grid #}
</table>
