{% extends "homepage.html" %} {% block content %} 

The top half of the diagram is based on the {{ KNOWL('lfunction.history.langlands_program', title='Langlands program') }}, which predicts that any motivic object corresponds to an automorphic object via their L-functions.

<div id="svg_main">
    <!-- SVG + Description Boxes -->
    <div id="lmdfb_map"></div>
	<div id="svg_description"></div>
    <div id="svg_examples"></div>
    
</div>

<style type="text/css">

div#svg_main
{
    /*background-color: yellow;*/
    position        : relative;
    padding         : 0 0 8% 0;
}


div#svg_description{
    /*background-color: #E8E8E8;*/
    position: absolute;
    top: 72%;
    left: 0;
    width: 35%;
    height: 135px;
    margin: 0;
    padding: 0 1%;
    font-family: Verdana,sans-serif;

	font-family		: Verdana, sans-serif;
    text-align      : left;
}
div#svg_description p:first-child{
    margin			: 5px 0;
    padding			: 0;
    border			: 0;
    font-weight     : 600;
    text-align      : center;
}
div#svg_description p:last-child{
    margin			: 0;
    padding			: 0;
    border			: 0;
    font-weight     : 400;
    text-align      : left;
}



div#svg_examples{
    /*background-color: pink;*/
    position: absolute;
    top: 72%;
    right: 0;
    width: 38%;
    height: 100px;
    margin: 0 1%;
    padding: 0 0 4% 0;
    font-family: Verdana,sans-serif;

	font-family		: Verdana, sans-serif;
    text-align      : center;
}

/*
div#svg_examples{
    background-color: rgba(240, 240, 240, 0.1);
}*/
    div#svg_examples p{
        margin			: 5px 0;
        padding			: 0;
        border			: 0;
        font-weight     : 600;
    }

    div#svg_examples ul{
        margin			: 0;
        padding			: 0em;
        border			: 0;
        list-style-type:none;
    }
    div#svg_examples a{
        text-decoration: none;
        color: #111;
    }


        div#svg_examples li{
            margin			: 0;
            padding			: 0.5em;
            border			: 0;
            background-color: #f1f1f1;

            list-style-type:none;
        }
        div#svg_examples a:nth-child(2n) > li{
            background-color: #E1E1E1;
        }


svg{
	width:72%;
        margin-left:5%;
}
svg *{
	font-family: Verdana, sans-serif;
	font-style: normal;
}

tspan, textPath, rect{
	cursor:pointer;
}
/*	font-family: Verdana, sans-serif;*/


/* This part isn't necessary it's just a container for developing */
div.unnecessary{
	background-color: #ffffff;
	width: 800px;
	margin: 0 auto;
	padding: 1em;
}
@media only screen and ( max-width: 842px ) {

	div.unnecessary{
		width: 95%;
	}


}
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/snap.svg-min.js"></script>

<script src="/static/lmfdbmap/math_descriptions.js"></script>
<script src="/static/lmfdbmap/lmfdbmap_code.js"></script>

<script>
// This is the snap.svg script way of controlling the files.
var s = Snap("#lmdfb_map");
var svg_desc = "svg_description" // CSS selector for description div box
var svg_examples = "svg_examples";
var clickSwitch = 0;
var clickID = "";
var svg_element_currently_clicked;
                
// JSON object list for editing the SVG descriptions easily
// opaque_id is the id of the element that gets its opacity turned down
// No more than three list items!
var svg = {
    "json":[
        {"name": "Automorphic",
            "id":"#path4148, #tspan3183, #tspan3181",
            "opaque_id":"#path4148",
            "description":"<b>Automorphic world</b><br>Representations of G(<b>A</b><sub>F</sub>) in the space of automorphic forms, where G is a linear, reductive group defined over a global field F",
            "list": "Automorphic representations generated by classical modular forms such as:, elliptic or Maass,Hilbert or Bianchi,Siegel",
            "list_link": "#first, #second, #third",
            "url": "#"},
        {"name": "Cohomology",
            "id":"#tspan37006",
            "opaque_id":"#tspan37006",
            "description":"<b>&Eacute;tale cohomology</b><br>The absolute Galois group of a global field acts on the &eacute;tale  &#8467;-adic realizations of motives.",
            "list": "Tate module of an elliptic curve, Tate module of an abelian variety",
            "list_link": "",
            "url": "#"},
        {"name": "Convolution",
            "id":"#textPath10975",
            "opaque_id":"#textPath10975",
            "description":"<b>Convolution</b><br>Manipulations of the Satake parameters of the L-function at good places",
            "list": "symmetric powers, exterior powers, Rankin-Selberg convolution",
            "list_link": "",
            "url": "#"},
        {"name": "Converse Theorems",
            "id":"#tspan37244",
            "opaque_id":"#tspan37244",
            "description":"<b>Converse theorems</b><br>A converse theorem is an assertion that an L-function is the L-function of an automorphic object.",
            "list": "Weil's converse theorem,Cogdell and Piateski-Shapiro",
            "list_link": "",
            "url": "#"},
        {"name": "Deformation",
            "id":"#textPath5407",
            "opaque_id":"#textPath5407",
            "description":"<b>Deformation</b><br>Embedding Galois representations into certain universal families",
            "list": "Gouv&ecirc;a-Mazur infinite fern, Taylor-Wiles patching",
            "list_link": "",
            "url": "#"},
        {"name": "Galois Representations",
            "id":"#rect36171, #tspan36212, #tspan36216",
            "opaque_id":"#rect36171",
            "description":"<b>Galois representations</b><br>Continuous representations of the absolute Galois group of a global field",
            "list": "Artin representations, &#8467;-adic Galois representations, mod &#8467; Galois representations",
            "list_link": "#first, #second, #third",
            "url": "#"},
        {"name": "Hasse-Weil L-functions",
            "id":"#tspan4334",
            "opaque_id":"#tspan4334",
            "description":"<b>Hasse-Weil L-functions</b><br>The Hasse-Weil L-function of a motive coming from a variety is constructed via counting points on that variety modulo primes.",
            "list": "L-functions of elliptic curves, L-functions of abelian varieties, L-functions of modular curves",
            "list_link": "",
            "url": "#"},
        {"name": "Integral Representations",
            "id":"#tspan36454",
            "opaque_id":"#tspan36454",
            "description":"<b>Explicit constructions</b><br>Representing an L-function as an integral against an automorphic kernel",
            "list": "integral representations, constant terms of Eisenstein series, Langlands-Shahidi method",
            "list_link": "",
            "url": "#"},
        {"name": "L-Functions",
            "id":"#rect4676, #tspan37328",
            "opaque_id":"#rect4676",
            "description":"<b>L-functions</b><br>An L-function is a Dirichlet series with an Euler product and a functional equation.",
            "list": "Riemann zeta function, Dirichlet L-functions, L-functions of elliptic curves",
            "list_link": "#first, #second, #third",
            "url": "#"},
        {"name": "Motivic",
            "id":"#path4674",
            "opaque_id":"#path4674",
            "description":"<b>Motivic world</b><br>Motives are summands in the cohomology of varieties. They form the category of representations of the absolute motivic Galois group.",
            "list": "Artin motives, H<sup>1</sup> of curves, hypergeometric motives",
            "list_link": "#first, #second, #third",
            "url": "#"},
        {"name": "Modularity",
            "id":"#tspan36967",
            "opaque_id":"#text36965",
            "description":"<b>Modularity</b><br>Every Galois representation is expected to give rise to an automorphic form via its Frobenius classes.",
            "list": "class field theory, modularity of elliptic curves, Serre's conjecture",
            "list_link": "",
            "url": "#"},
        {"name": "Perfectoid Spaces",
            "id":"#tspan36924",
            "opaque_id":"#tspan36924",
            "description":"<b>Congruences</b><br>Indirect constructions of Galois representations via  &#8467;-adic congruences with previously known representations",
            "list": "Deligne-Serre construction, <i>p</i>-adic interpolation, perfectoid spaces",
            "list_link": "",
            "url": "#"},
        {"name": "Schur functors",
            "id":"#textPath4145",
            "opaque_id":"#textPath4145",
            "description":"<b>Schur functors</b><br>Linear algebra operations on group representations",
            "list": "Tate twists, adjoint representation, spinor lifts",            "list_link": "",
            "url": "#"},
        {"name": "Shimura Varieties",
            "id":"#tspan17133",
            "opaque_id":"#textPath17141",
            "description":"<b>Shimura varieties</b><br>Both Hecke operators and Galois groups act on the cohomology of Shimura varieties, giving a direct connection between parts of the automorphic and motivic worlds.",
            "list": "modular curves (Eichler-Shimura), unitary Shimura varieties, Hilbert modular varieties",
            "list_link": "",
            "url": "http://www.lmfdb.org/knowledge/show/mf.elliptic.shimura_correspondence"},
        {"name": "Transfer",
            "id":"#textPath3211",
            "opaque_id":"#textPath3211",
            "description":"<b>Functoriality</b><br>Given two groups G and H, Langlands functoriality predicts a lifting from G(<b>A</b>) to H(<b>A</b>) associated to any morphism of their L-groups <sup>L</sup>G&#8594;<sup>L</sup>H.",
            "list": "Jacquet-Langlands correspondence, Gelbart-Jacquet lifts, lower symmetric powers (Kim-Shahidi)",
            "list_link": "",
            "url": "#"},
        {"name": "Tannakian formalism",
            "id":"#textPath5714, #tspan3770",
            "opaque_id":"#textPath5714, #tspan3770",
            "description":"<b>Tannakian formalism</b><br>Linear algebra operations on representations of the motivic Galois group",
            "list": "symmetric powers, exterior powers, direct sums",
            "list_link": "",
            "url": "#"}
    ]
}


// This loads the SVG file and loops through the json objects to
// create all of the interactive SVG elements.
var tux = Snap.load("/static/images/lmfdbmap.svg", function ( loadedFragment ) {
    s.append( loadedFragment );

    var JSON_entries, IDList = "";
    for( i = 0; i < svg.json.length; i++)
    {
        //This allows you to have multiple elements that trigger the description text
        JSON_entries = svg.json[i].id.split(",");
        //This catalogs the list of all clickable elements
        IDList += svg.json[i].id + ", ";

        for(var j = 0; j < JSON_entries.length; j++)
        {
            s.select(JSON_entries[j]).mouseover( svg_element_mouse_in(
                svg.json[i].opaque_id, svg.json[i].description, svg.json[i].list, svg.json[i].list_link
            ) );
            s.select(JSON_entries[j]).mouseout( svg_element_mouse_out(
                svg.json[i].opaque_id
            ) );
            s.select(JSON_entries[j]).click( svg_element_mouse_click(
                svg.json[i].opaque_id, svg.json[i].description, svg.json[i].list, svg.json[i].list_link, svg.json[i].url
            ) );
            s.select(JSON_entries[j]).dblclick( svg_element_mouse_dblclick(
                svg.json[i].url
            ) );
        }
    }
    //Gets rid of the extra ", " at the end.
    IDList = IDList.substring(0,IDList.length - 2);


    // This jQuery function clears the infoboxes and selection when not clicking
    // an element in the SVG.
    $(document).ready(function()
    {
        $(document).click(function(event)
        {
            if(!$(event.target).is(IDList))
            {
                svg_element_currently_clicked = 0;
                if(svg_element_currently_clicked_ID != "")
                {
                    //Changes the opacity of group of svg objects
                    change_opacity(svg_element_currently_clicked_ID, 1.0, true);
                    svg_element_currently_clicked_ID = "";
                }
                fillNewInformation( "", "", "");
            }
        });
    });

});



// This function fills the description and examples boxes with information.
var fillNewInformation = function ( description_text, description_list, description_list_link)
{
    //Fills description DIV
    document.getElementById( svg_desc ).innerHTML = "<p></p>";
    document.getElementById( svg_desc ).innerHTML += "<p>" + description_text + "</p>";

    //Fills related objects list/DIV
    split_list = description_list.split(",");
    split_list_links = description_list_link.split(",");
    var list_html = document.getElementById( svg_examples );

    if(split_list.length > 1)
    {
        //If more than one item, i.e. a single space.
        list_html.innerHTML = "<p>Examples</p>";

        var temp_string = "";
        for(i = 0; i < split_list.length; i++)
        {
    //        temp_string = temp_string + "<a href=\"" + split_list_links[i] + "\">\n" + "<li>" + split_list[i] + "</li>\n" + "</a>\n";
            temp_string = temp_string + "<li>" + split_list[i] + "</li>\n";
        };
        list_html.innerHTML += "<ul>" + temp_string + "</ul>"

    }
    else
    {
        list_html.innerHTML = " ";
    }
};


// This function changes the opacity for a group of elements
var change_opacity = function ( elements, opacity, bypass_if_statement)
{
    var opaque_elements = elements.split(",");
    for(i = 0; i < opaque_elements.length; i++)
    {
    if( svg_element_currently_clicked_ID != elements || bypass_if_statement)
        {
            s.select( opaque_elements[i] ).attr({"fill-opacity": opacity});
        }
    }
};


// Function for what happens when the mouse goes over an object.
var svg_element_mouse_in = function ( svg_element_id, description_text, description_list, description_list_link )
{
    return function()
    {
        //Changes the opacity of group of svg objects
        change_opacity(svg_element_id, 0.5, false);

        //If a button has not been clicked fill info
        if( !svg_element_currently_clicked )
        {
            fillNewInformation( description_text, description_list, description_list_link);
        }
    };
};

// Function for what happens when the mouse stops being over an object.
var svg_element_mouse_out = function ( svg_element_id )
{
    return function()
    {
        //Changes the opacity of group of svg objects.
        change_opacity(svg_element_id, 1.0, false);

        //If a button has not been clicked clear info
        if( !svg_element_currently_clicked )
        {
            fillNewInformation( "", "", "");
        }
    };
};

// Function for what happens when you click an object.
var svg_element_mouse_click = function (  svg_element_id, description_text, description_list, description_list_link, url  )
{
    return function()
    {

        if( !svg_element_currently_clicked )
        {
            //If nothing is currently clicked
            svg_element_currently_clicked = 1;
            svg_element_currently_clicked_ID = svg_element_id;

            change_opacity(svg_element_id, 0.5, false);
            fillNewInformation( description_text, description_list, description_list_link);
        }
        else if( svg_element_currently_clicked
        && svg_element_currently_clicked_ID == svg_element_id)
        {
            //If the same element is clicked twice
            svg_element_currently_clicked = 0;
            svg_element_currently_clicked_ID = "";

            change_opacity(svg_element_id, 1.0, false);
            fillNewInformation( "", "", "");
        }
        else if( svg_element_currently_clicked
        && svg_element_currently_clicked_ID != svg_element_id)
        {
            //If one element is clicked then a different one is clicked.

            //Reset old clicked element
            change_opacity(svg_element_currently_clicked_ID, 1.0, true);

            //Set the new element as current and update the old information
            svg_element_currently_clicked_ID = svg_element_id;
            change_opacity(svg_element_id, 0.5, true);
            fillNewInformation( description_text, description_list, description_list_link);
        }
    };
};

// Function for what happens when you click an object.
var svg_element_mouse_dblclick = function ( url )
{
    return function()
    {
        //Goes to URL on click
        //window.location.href = url;
    };
};


</script>


{% endblock %}
