{% extends 'acknowledgment.html' %}

{% block content %}



<ul>

<li><a href="http://icerm.brown.edu/sp-f15">Computational Aspects of the Langlands Program</a>, 
September 8-December 4, 2015, Institute for Computational and Experimental Research in 
Mathematics, Providence</li>

<li><a href="http://people.oregonstate.edu/~swisherh/CRTNTconference/index.html">Computational 
Representation Theory in Number Theory</a>, July 27-31, 2015, Department of Mathematics, Oregon
State University, Corvallis</li>

<li><a href="http://indico.ictp.it/event/a13219/material/1/0.pdf">Advanced School and 
Workshop on L-functions and Modular Forms</a>, September 1-12, 2014, International Centre
for Theoretical Physics, Trieste</li>

<li><a href="http://www2.warwick.ac.uk/fac/sci/maths/research/events/2013-2014/nonsymp/lmfdb/">
LMFDB Workshop</a>, June 2-6, 2014, Warwick Mathematics Institute, University of Warwick</li>

<li><a href="http://hobbes.la.asu.edu/lmfdb-14/">Curves and Automorphic Forms</a>, March 10-14, 2014,
School of Mathematical and Statistical Sciences, Arizona State University, Tempe</li>

<li><a href="http://www.maths.bris.ac.uk/~maarb/public/lmfdb2013.html">Bristol LMFDB 
Workshop III</a>, September 9-22, 2013, School of Mathematics, University of Bristol</li>

<li><a href="http://icms.org.uk/workshops/onlinedatabases">Online databases: from L-functions to combinatorics</a>, 
January 21-25, 2013, International Centre for Mathematical Sciences, University of Edinburgh</li>

<li>Bristol LMFDB Workshop II, March 26-April 4, 2012, 
School of Mathematics, University of Bristol</li>

<li>Bristol LMFDB Workshop I, August 31-September 7, 2011, 
School of Mathematics, University of Bristol</li>

<li><a href="https://www.msri.org/programs/262">Arithmetic Statistics</a>, 
January 10-May 20, 2011, Mathematical Sciences Research Institute, Berkeley</li>

<li>L-functions and Modular Forms IV, October 7-17, 2010, 
Institut de Math&eacute;matiques de Jussieu, Paris</li>

<li><a href="http://aimath.org/pastworkshops/lfunctionsandmf.html">L-functions and Modular Forms I</a>, 
July 30-August 3, 2007, American Institute of Mathematics, Palo Alto</li>
    
</ul>
</div>


{% endblock %}
