{% extends "homepage.html" %}
{% block content %}
<div>
{{ KNOWL_INC('st_group.summary') }}
</div>

<h2> Browse {{ KNOWL('st_group.definition', title='Sato-Tate groups') }}</h2>

<p>
By {{ KNOWL('st_group.weight', title='weight') }}: 
{% for r in info.weight_list %}
    <a href="?weight={{r}}">{{r}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('st_group.degree', title='degree') }}:
{% for r in info.degree_list %}
    <a href="?degree={{r}}">{{r}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('st_group.identity_component', title='identity component') }}: 
{% for r in info.st0_list %}
    &nbsp;<a href="?identity_component={{r}}">${{info.st0_dict[r]}}$</a>
{% endfor %}
</p>
<p>
Some of our favourite {{ KNOWL('st_group.definition', title='Sato-Tate groups') }}:
{% for r in info.group_list %}
    &nbsp;<a href="?label={{r}}"> ${{info.group_dict[r]}}$ </a>
{% endfor %}
</p>
<p>A <a href={{url_for('.random')}}>random Sato-Tate group</a> from the database.
<br>
</p>

<h2> Find a specific {{ KNOWL('st_group.definition', title='Sato-Tate group') }} by {{KNOWL('st_group.label', title='label')}} or by {{KNOWL('st_group.name', title='name')}}</h2>

<form>
<input type='text' name='label' placeholder='1.4.USp(4)'>
<button type='submit'>Search by label</button>
<br><span class="formexample">e.g. 0.1.3 or 0.1.mu(3), or 1.2.1.2.1a or N(U(1)), or 1.4.10.1.1a or 1.4.USp(4)</span>
</form>

<h2> Search </h2>

<p>Please enter a value or leave blank:</p>
<form id='search' onsubmit="cleanSubmit(this.id)">
<table>
<tr>
<td>{{ KNOWL('st_group.weight', title='Weight') }}:</td>
<td><input type='text' name='weight' placeholder='1' size=10></td>
<td><span class="formexample"> e.g. 1 or 0-3</td>
</tr>
<tr>
<td>{{ KNOWL('st_group.degree', title='Degree') }}:</td>
<td><input type='text' name='degree' placeholder='4' size=10></td>
<td><span class="formexample"> e.g. 4 or 1-6</td>
</tr>
<tr>
<td>{{KNOWL('st_group.rational',title='Rational only')}}</td>
<td><select name='rational_only' width="122" style="width: 122px">
        <option value='yes' selected>yes</option>
        <option value='no'>no</option>
</select></td>
<td><span class="formexample"> e.g. yes or no</td>
</tr>
<tr>
<td>{{KNOWL('st_group.identity_component',title='Identity component')}}</td>
<td><select name='identity_component' width="122" style="width: 122px">
        <option ></option>
    {% for r in info.st0_list %}
        <option value='{{r}}'>{{r}}</option>
    {% endfor %}
</select></td>
<td><span class="formexample"> e.g. U(1) or USp(4)</td>
</tr>
<tr>
<td>{{ KNOWL('st_group.components', title='Components') }}:</td>
<td><input type='text' name='components' placeholder='1' size=10></td>
<td><span class="formexample"> e.g. 1 (connected) or 4-12</td>
</tr>
<tr>
<td>{{ KNOWL('st_group.trace_zero_density', title='Trace zero density')}}:</td>
<td><input type='text' name='trace_zero_density' placeholder='1/2' size=10></td>
<td><span class="formexample"> e.g. 0, 1/2, or 3/8</td>
</tr>
<tr
><td>Results to display:</td>
<td><input type='text' name='count' value=25 size=10 /></td>
<td><span class="formexample"> e.g. 25 or 50</td>
</tr>
<tr>
<td><button type='submit' value='Search'>Search</button>
</td>
</tr>
</table>
</form>

{% endblock %}
