{% extends "homepage.html" %}
{% block content %}

<h2> {{ KNOWL('st_group.invariants', 'Invariants') }} </h2>
<table>
    <tr><td>{{ KNOWL('st_group.weight', 'Weight') }}:</td><td>${{info['weight']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.degree', 'Degree') }}:</td><td>${{info['degree']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.real_dimension', '$\mathbb{R}$-dimension') }}:</td><td>${{info['real_dimension']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.components', 'Components') }}:</td><td>${{info['components']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.ambient', 'Contained in') }}:</td><td>${{info['ambient']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.rational', 'Rational') }}:</td><td>{{info['rational']}}</td></tr>
</table>

<h2> {{ KNOWL('st_group.identity_component', 'Identity component') }} </h2>
<table>
    <tr><td>{{ KNOWL('st_group.identity_component', 'Name') }}:</td><td>${{info['identity_component']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.real_dimension', '$\\mathbb{R}$-dimension') }}:</td><td>${{info['real_dimension']}}$</td></tr>
    <tr><td>{{ KNOWL('st_group.embedding','Description') }}:</td><td>${{info['st0_description']}}$</td>
    {% if info['symplectic_form'] %}
        <td>{{ KNOWL('st_group.symplectic_form','Symplectic form') }}:</td><td>${{info['symplectic_form']}}$</td>
    {% endif %}
    </tr>
    {% if info['hodge_circle'] %}
        <tr><td>{{ KNOWL('st_group.hodge_circle','Hodge circle') }}:</td><td>${{info['hodge_circle']}}$</td></tr>
    {% endif %}
</table>

{% if info['components'] > 1 %}
<h2> {{ KNOWL('st_group.component_group', 'Component group') }} </h2>
<table>
    <tr><td>{{ KNOWL('st_group.name', 'Name') }}:</td><td>{{info['component_group_knowl']|safe}}</td></tr>
    <tr><td>{{ KNOWL('group.order', 'Order') }}:</td><td>${{info['components']}}$</td></tr>
    <tr><td>{{ KNOWL('group.abelian', 'Abelian') }}:</td><td>{{info['abelian']}}</td></tr>
    {% if info['numgens'] > 0 %}
        <tr><td>{{ KNOWL('st_group.generators', 'Generators') }}:</td><td>${{info['gens']}}$</td></tr>
    {% endif %}
</table>
{% endif %}

{% if info['subgroups']|count or info['supgroups']|count %}
<h2> {{ KNOWL('st_group.subsupgroups', 'Subgroups and supergroups') }} </h2>
<table>
    <tr><td>{{ KNOWL('st_group.subgroups', 'Maximal subgroups') }}:</td><td>{{info['subgroups']|safe}}</td></tr>
    <tr><td>{{ KNOWL('st_group.supgroups', 'Minimal supergroups') }}:</td><td>{{info['supgroups']|safe}}</td></tr>
</table>
{% endif %}

{% if info['moments'] %}
<h2> {{ KNOWL('st_group.moments', 'Moment sequences') }} </h2>
<table border=1>
    {% for m in info['moments'] %}
        <tr>
        {% for a in m %}
            {% if m[0] == 'x' %}
                <th align="right">${{a}}$</th>
            {% else %}
                <td align="right">${{a}}$</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if info['simplex'] %}
<h2> {{ KNOWL('st_group.moment_simplex', 'Moment simplex') }} </h2>
<table border=1>
    {% for i in range(info['simplex']|length) %}
        <tr>
           <th align="left">${{info['simplex_header'][i]}}$</th>
        {% for a in info['simplex'][i] %}
            <td align="right">${{a}}$</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if info['character_matrix'] %}
<h2> {{ KNOWL('st_group.moment_matrix', 'Moment matrix') }} </h2>
<p>${{info['character_matrix']}}$</p>
<p>${{info['character_diagonal']}}$</p>
{% endif %}

{% if info['probabilities'] %}
<h2> {{ KNOWL('st_group.probabilities', 'Event probabilities') }} </h2>
{{ info['probabilities'] | safe }}
{% endif %}


{% endblock %}
