{% extends "homepage.html" %}

{% block content %}
<h1>Graph of dimensions of holomorphic modular forms of levels {{min_level}} to {{max_level}} with weight between ${{min_weight}}$ and ${{max_weight}}$</h1>
<p>
The horisontal axis is the level $N$ and the vertical axis is the weight $k$. Each point corresponds to a (non-empty) space of holomorphic newforms of weight $k$ and trivial character on $\Gamma_0(N)$.
Clicking on a dot takes you
to the homepage of the space.
</p>

{{contents[0]|safe}}
{% endblock content %}
