{% extends "homepage.html" %}

<!-- in templates -->

{% block content %}

<style>
table,td {
  border-right:solid 30px transparent;
} 
</style>




<p><h2> Family Information</h2>

  <table>
      <tr><td> {{KNOWL('ag.curve.genus',title='Genus')}}:  </td><td> {{ info.genus }} </td></tr>
      <tr><td>{{KNOWL('curve.highergenus.aut.dimension',title='Dimension of the family:')}}</td><td> {{info.dim}} </td></tr>
    </table>
</p>


<h2>Cover</h2><table>
      <tr><td> {{KNOWL('curve.highergenus.aut.quotientgenus',title='Quotient genus')}}: </td> <td>{{info.g0}}</td></tr>
      <tr><td> Number of {{ KNOWL('curve.highergenus.aut.branchpoints', title='branch points') }}: </td> <td>{{info.r}}</td></tr>
      <tr><td> {{ KNOWL('curve.highergenus.aut.signature', title='Signature')}}:</td> <td>${{info.sign}}$</td></tr>
      </table> 


<p> <h2>Group </h2>
  <table>
   {% if info.specialname %}
   <tr><td>{{KNOWL('curve.highergenus.aut.groupnotation',title='Name')}}:</td> <td>${{info.group}}$</td></tr>
   {% endif %}
     <tr><td>{{KNOWL('curve.highergenus.aut.groupnotation',title='Identifier')}}:</td><td>{{info.gpid}}</td></tr>
    </table>

</p>


<h2>{{KNOWL('curve.highergenus.aut.refinedpassport', title ='Refined Passport')}} in the Family</h2>
<style>
.tab button {
transition: 0.3s;
}

.tab button.active {
    background-color: #efe; <!-- col_main_ll -->
}

.tab button:hover {
    background-color: #bfb; <!-- col_main_l -->
}

.tabcontent {
    display: none;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
</style>
<!-- add in style.css -->
{% if info.topological_num == 0 %}
<table>
  <tr>
     <th>{{KNOWL('dq.curve.highergenus.aut.label',title='Refined Passport Label')}} </th>
  <th>{{KNOWL('curve.highergenus.aut.conjugacyclasses',title="Lists of Conjugacy Classes")}}</th>
 
</tr>
{% for itm in info.passport %}
<tr>
  <td class="center"><a href="{{itm[2]}}">{{itm[1]}}</td>
  <td class="center">{{itm[0]}}</td>
</tr>
{% endfor %}
</table>

{% else %}
<div class="tab">
  <button type="select" class="tablinks" onclick="openData(event, 'passports')"
          id="defaultOpen">By conjugacy class</button> 
  <button type="submit" class="tablinks" onclick="openData(event,'representative')"
          >Topological equivalence representatives</button> 
  <button type="submit" class="tablinks" onclick="openData(event,'equivalence class')"
          >By topological equivalence class</button>
</div>
{% endif %}

<div id="passports" class="tabcontent">
  <p>
  <table>
    <tr>
      <th>{{KNOWL('dq.curve.highergenus.aut.label',title='Refined Passport Label')}} </th>
      <th>Lists of Conjugacy Classes</th>
      
    </tr>
    
    {% for itm in info.passport %}
    <tr>
      <td class="center"><a href="{{itm[2]}}">{{itm[1]}}</td>
      <td class="center">{{itm[0]}}</td>

    </tr>
    {% endfor %}
  </table>
  </p>
</div>

<div id="representative" class="tabcontent">
  {% if info.topological_num == 1%}
  <p>Displaying the representative for the unique action up to topological equivalence.</p>
  {% else %}
  <p>Displaying representatives for {{info.topological_num}} topologically
    inequivalent actions.</p>
  {% endif %}
  {% for topo_rep in info.topological_rep %}
    <a href="{{topo_rep[0]}}">{{topo_rep[1]}}</a><br>
    <table>{% for perm in topo_rep[2] %}
      <tr><td align="center"> &nbsp; </td><td>{{perm}}</td></tr>
      {% endfor %} </table> <br>
    {% endfor %}
  
</div>

<div id="equivalence class" class="tabcontent">
  <p>Displaying topological equivalence classes.</p>
  <table cellpadding=5 class="ntdata">
    <thead>
      <tr>
        <th> Class Representatives </th>
        <th> Conjugacy Class(es) </th>
        <th> Generating Vector </th>
      </tr>
    </thead>

    <tbody>
      {% for class in info.topological_class %}
      <tr>
        <td align="center"><a href="{{class[0][0]}}">{{class[0][1]}}</a></td>
        <td> {% for element in class[1] %}
          {{element[2]}}<br>
          {% endfor %} </td>
        <td> {% for element in class[1] %}
          <a href="{{element[0]}}">{{element[1]}}</a>
          {% endfor %} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
function openData(evt, dataType) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(dataType).style.display = "block";
    evt.currentTarget.className += " active";
}

document.getElementById("defaultOpen").click();
</script>

{% endblock %}
