{% extends 'homepage.html' %}
{% block content %}

<div>
  The database currently contains... SEE:
  <a href='http://www.lmfdb.org/EllipticCurve/Q/stats'>Elliptic Curves stats page</a>
  as an example
</div>

<h2> Distribution of genus </h2>
<div>
  <table border=1>
    <tr>
      <th>Genus</th>
      {% for genus in info.stats.genus.counts %}
      <td>{{genus[0]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>number of generating vectors</th>
      {% for genus in info.stats.genus.counts %}
      <td>{{genus[1]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>unique groups</th>
      {% for genus in info.stats.groups_by_genus %}
      <td>{{genus[1]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>maximum group order</th>
      {% for genus in info.stats.groups_by_genus %}
      <td>{{genus[2]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>

<h2> Distribution of dimension </h2>
<div>
  <table border=1>
    <tr>
      <th>Dimension</th>
      {% for dim in info.stats.dim.counts %}
      <td>{{dim[0]}}</td>
      {% endfor %}
    </tr>
    <tr>
      <th>number of curves</th>
      {% for dim in info.stats.dim.counts %}
      <td>{{dim[1]}}</td>
      {% endfor %}
    </tr>
  </table>
</div>

{% endblock %}
</html>
