{% extends "homepage.html" %}

<!-- in templates -->

{% block content %}

<style>
table,td {
  border-right:solid 30px transparent;
}
</style>



<p><h2> Family Information</h2>

  <table>
      <tr><td>  {{KNOWL('ag.curve.genus',title='Genus')}}:  </td><td> {{ info.genus }} </td></tr>
   {% if info.specialname %}
   <tr><td>{{KNOWL('curve.highergenus.aut.groupnotation',title='Group name')}}:</td> <td>${{info.group}}$</td></tr>
   {% endif %}
  <tr><td>{{KNOWL('curve.highergenus.aut.groupnotation',title='Group identifier')}}:</td> <td>{{info.gpid}}</td></tr>
  <tr><td>{{KNOWL('curve.highergenus.aut.signature', title='Signature')}}:</td> <td>${{info.sign}}$</td></tr>
  <tr><td>{{KNOWL('curve.highergenus.aut.conjugacyclasses', title="Conjugacy classes")}} for this {{KNOWL('curve.highergenus.aut.refinedpassport',title='refined passport')}}: </td><td>{{info.passport_cc}}</td></tr>
  </table></p>


<p>  {% if info.fullauto  %}
The full automorphism group for this family is ${{info.fullauto}}$ with signature ${{info.signH}}$.
    {% endif %}
</p>


{% if info.jacobian_decomp %}
  <table><tr><td>{{KNOWL('ag.jacobian',title='Jacobian variety')}} {{KNOWL('curve.highergenus.aut.groupalgebradecomp', title='group algebra decomposition')}}:</td><td>${{info.jacobian_decomp}}$</td></tr>
    <tr><td >Corresponding {{KNOWL('curve.highergenus.aut.characters',title="character(s)")}}:</td><td> {{info.corrChar}}</td></tr>
  </table>
 {% endif %}



  <p><h2>Other Data</h2>
    <table>
       <!-- <tr><td>Dimension of the corresponding {{KNOWL('ag.shimura_variety',title='Shimura variety')}}:</td><td>{{ info.Ndim}}</td></tr>-->
      {% if info.ishyp %}
      <tr><td>{{KNOWL('ag.hyperelliptic_curve',title='Hyperelliptic curve(s)')}}:</td><td>{{info.ishyp}}</td></tr>
      {% if info.hypinv  %}
       <tr><td>Hyperelliptic involution:</td> <td>{{info.hypinv}}</td></tr>
       {% endif %}  {% endif %}
      {% if info.iscyctrig %}
      <tr><td>{{KNOWL('ag.cyclic_trigonal',title='Cyclic trigonal curve(s)')}}:</td><td>{{info.iscyctrig}}</td></tr>
      {% if info.cinv  %}
       <tr><td>{{KNOWL('ag.cyclic_trigonal',title='Trigonal automorphism')}}:</td> <td>{{info.cinv}}</td></tr>
       {% endif %}  {% endif %}
    </table>

  </p>

  <p>
    {% if info.eqns %}
    <table><tr><td>Equation(s) of curve(s) in this {{KNOWL('curve.highergenus.aut.refinedpassport',title='refined passport')}}:</td></tr></table>
       <table>{% for eqn in info.eqns %}
	  <tr><td> &nbsp; </td><td>${{eqn}}$</td></tr>
	  {% endfor %} </table> <br>
     {% endif %}
  </p>




<h2>{{KNOWL('curve.highergenus.aut.generatingvector',title='Generating Vector(s)')}}</h2>

<p>
  {% if info.numb == 1 %}
  Displaying the unique {{KNOWL('curve.highergenus.aut.generatingvector',title='generating vector')}} for this {{KNOWL('curve.highergenus.aut.refinedpassport',title='refined passport')}}.

  {% else %}
  Displaying {{info.disp_numb}} of {{info.numb}} {{KNOWL('curve.highergenus.aut.generatingvector',title='generating vectors')}} for this  {{KNOWL('curve.highergenus.aut.refinedpassport',title='refined passport')}}.

  {% endif %}
</p>

 <p>{% for cdata in info.genvects %}
   {{cdata[0]}}
     <table>{% for perm in cdata[3] %}
	  <tr><td> &nbsp; </td><td>{{perm}}</td></tr>
	  {% endfor %} </table> <br>
  {% endfor %}
 </p>

 <p>
  {% if info.numb >= 2 %}
 <form>
  <table>
    <tr>
      <td>Display number of {{KNOWL('curve.highergenus.aut.generatingvector',title='generating vectors')}}:</td>
      <td><input type='text' name='numgenvecs' placeholder='20' size=10></td>
    </tr>
    <tr>
      <td colspan=3><button type='submit' value='display'>Display</button></td>
    </tr>
  </table>
</form>
{% endif %} </p>




{% endblock %}

