{% extends "homepage.html" %}

<!-- in templates -->

{% block content %}

<style>
table,td {
  border-right:solid 30px transparent;
} 
</style>




<p><h2> Family Information</h2>

  <table>
      <tr><td>  {{KNOWL('ag.curve.genus',title='Genus')}}:  </td><td> {{ info.genus }} </td></tr>    
   {% if info.specialname %}
   <tr><td>Isomorphism class:</td> <td>${{info.group}}$</td></tr>
   {% endif %}
<tr>
  <td>{{KNOWL('curve.highergenus.aut.groupnotation',title='GAP/Magma notation')}}:</td>
  <td>{{info.gpid}}</td></tr>
  <tr><td> {{ KNOWL('curve.highergenus.aut.signature', title='Signature')}}:</td> <td>${{info.sign}}$</td></tr>
  <tr><td> Conjugacy classes for this {{KNOWL('curve.highergenus.aut.refinedpassport',title='refined passport')}}: </td><td>{{info.passport_cc}}</td></tr>
  </table></p>


<p>  {% if info.fullauto  %}
The full automorphism group for this family is ${{info.fullauto}}$ with signature ${{info.signH}}$.
    {% endif %} 
</p>

{% if info.other_data %}     

  <p><h2>Other Data</h2>
    <table>
      {% if info.ishyp %}     
      <tr><td>Hyperelliptic curve(s):</td><td>{{info.ishyp}}</td></tr>
      {% if info.hypinv  %}
       <tr><td>Hyperelliptic involution:</td> <td>{{info.hypinv}}</td></tr>
       {% endif %}  {% endif %}
      {% if info.iscyctrig %}     
      <tr><td>Cyclic trigonal curve(s):</td><td>{{info.iscyctrig}}</td></tr>
      {% if info.cinv  %}
       <tr><td>Trigonal automorphism:</td> <td>{{info.cinv}}</td></tr>
       {% endif %}  {% endif %}
    </table>

    {% if info.eqns %}
    <br>
    Equations(s) of curve(s) in this refined passport:
       <table>{% for eqn in info.eqns %}
	  <tr><td> &nbsp; </td><td>${{eqn}}$</td></tr>
	  {% endfor %} </table> <br>
     {% endif %}
  </p>
  

 {% endif %}


<p><h2>{{KNOWL('curve.highergenus.aut.generatingvector',title='Generating Vector(s)')}}</h2>

 
    {% for cdata in info.genvects %}
   {{cdata[0]}}
     <table>{% for perm in cdata[3] %}
	  <tr><td> &nbsp; </td><td>{{perm}}</td></tr>
	  {% endfor %} </table> <br>
    {% endfor %}
</table>    

</p>

  
{% endblock %}
