{% extends 'homepage.html' %}
{% block content %}

<h2>Generating vectors in the orbit of {{info.representative}} grouped by equivalence under the braid action.</h2>
<div>
  <table class="ntdata">

    <thead>
      <tr>
        <th>Conjugacy Classes</th>
        <th>{{KNOWL('curve.highergenus.aut.generatingvector',title='Generating
        Vectors')}}</th>
      </tr>
    </thead>
 
    <tbody>
      {% for braid in info.topological_class %}
      <tr>
        <td class="center">
            {% for element in info.topological_class[braid] %}
              <a href={{url_for('.by_passport_label', passport_label=element[0])}}>
              {{element[1]}}</a>
              {% endfor %}<br>
        </td>
        
        <td class="center">
            {% for element in info.topological_class[braid] %}
              {{element[2]}}<br>
            {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
