{% extends 'homepage.html' %}
{% block content %}

<h2> Actions up to Topological Equivalence of Class Representative {{info.representative}} </h2>
<div>
  <table cellpadding=5 class="ntdata">

    <thead>
      <tr>
        <th>Class Representative</th>
        <th>List of Conjugacy Class</th>
        <th>Distinct {{KNOWL('curve.highergenus.aut.generatingvector',title='generating vectors')}}</th>
      </tr>
    </thead>

    <tbody>
      <tr>
          <td align="center"><a href="{{info.topological_class[0][0]}}">info.topological_class[0][1]</a></td>
        {% for i in range(1, info.topological_class | length) %}
        <td>{{info.groups[i][2]}}</td>
        <td><a href="{{info.toplogical_class[i][0]}}">
          {{info.topological_class[i][1]}}
        </a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
