{% extends "homepage.html" %}

{% block content %}

{% include 'refine_search_form.html' %}

{% include 'matches.html' %}
{% if info.number %}

<table class="ntdata">
<thead>
<tr>

  <th>{{KNOWL('dq.curve.highergenus.aut.label',title='Refined Passport Label')}}</th>
  <th>{{KNOWL('ag.curve.genus',title='Genus')}}</th>
  <th>{{KNOWL('group.small_group_label',title='Group')}}</th>
  <th>{{KNOWL('group.order',title='Group Order')}}</th>
    <th>{{KNOWL('curve.highergenus.aut.dimension',title='Dimension')}}</th>
  <th>{{KNOWL('curve.highergenus.aut.signature',title='Signature')}}</th>
</tr>
</thead>
<tbody>

{% for field in info.results: %}
<tr>

  <td align='left'><a href="/HigherGenus/C/Aut/{{field.passport_label}}">{{field.passport_label}}</a></td>
    <td align='center'>{{field.genus}}</td>
  <td align='center'>${{info.group_display(field.group)}}$</td>
  <td align='center'>{{field.group_order}}</td>
    <td align='center'>{{field.dim}}</td>
  <td>${{info.sign_display(field.signature)}}$</td>


</tr>

{% endfor %}

</tbody>
</table>
{% include 'forward_back.html' %}
{% set languages = ['gap', 'magma'] %}
{% include 'download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

  {% endblock %}
