<h2>
  The ring of 
  <a class="knowl-title" knowl="mf.siegel.group.paramodular">paramodular
</a>
<a class="knowl-title" knowl="mf.siegel.cusp_form"> cusp forms</a>
  $ S_*(K(p))$ for $p$  prime.
</h2>

<div class="literature">
  <ul>
    <li><span class="name">T. Ibukiyama:</span>
      Dimension formulas of Siegel modular forms of weight 3 and supersingular abelian surfaces, Siegel Modular Forms and Abelian Varieties, Proceedings of the 4-th Spring Conference on Modular Forms and Related Topics (2007) 39-60.
      <a></a></li>
    <li><span class="name">C. Poor and D. S. Yuen:</span> Paramodular cusp forms, <a href="http://arxiv.org/abs/0912.0049">arXiv:1004.4699</a></li>
  </ul>
</div>

<h3>Weights 3 and higher</h3>
<p>
  Dimension formulas for paramodular cusp forms
  <script type="math/tex">S_k(K(p))</script>
  for <script type="math/tex"> p </script> prime and
  for weights 3 and higher were proven by <span class="name">Ibukiyama</span> 
  (Dimension formulas of Siegel modular forms of weight 3 and supersingular
  abelian surfaces, Siegel Modular Forms and Abelian Varieties, Proceedings of the
  4-th Spring Conference on Modular Forms and Related Topics, 2007).
</p>

<h3>Weight 2</h3>
<p>
  The dimensions of weight 2 paramodular cusp forms
  <script type="math/tex">S_2(K(p))</script>
  for primes
  $p<600$ 
  (with the exceptions of  349, 353, 389, 461, 523, 587)
  are proven by <span class="name">C. Poor and D. S. Yuen</span>
  (Paramodular cusp form, <a href="http://arxiv.org/abs/0912.0049">arXiv:1004.4699</a>).
  Poor and Yuen also prove that the only possible weight 2
  nonlifts in this range of primes ($ p < 600 $)
  can only occur at primes 277, 349, 353, 389, 461, 523, 587.
  The nonlift weight 2 eigenform at $p=277$ is proven;
  the others are conjectured.
  The Fourier coefficients and some eigenvalues of the nonlift weight 2 eigenform 
  in $S_2(K(277))$
  and of the conjectured nonlift weight 2 eigenforms in
  $S_2(K(p))$ for 
  $p = 349, 353, 389, 461, 523$, and $587$
  are given in the
<a href="{{ url_for( 'ModularForm_GSp4_Q_top_level', group='Kp', page = 'forms') }}">
main page</a>
 for this group.
</p>
