<div class="pagination">
  Showing results {{pagination.start+1}} to {{pagination.end+1}} out of {{pagination.count}} of {{filename}}.<br/>
  {%- if pagination.has_previous %}
    <a href="#" onclick="$('#div{{id}}').load('{{pagination.previous}}');return false"> &laquo; Previous</a>
  {%- else %}
    <span class="inactive">&laquo; Previous</span>
  {% endif %}
  | {{ pagination.page }} |
  {% if pagination.has_next %}
    <a href="#" onclick="$('#div{{id}}').load('{{pagination.next}}');return false">Next &raquo;</a>
  {%- else %}
   <span class="inactive">Next &raquo;</span>
  {% endif %}
</div>
