{% extends "homepage.html" %}

{% block content %}

<style>
input, textarea { width: 50em }
</style>

<form action="{{ url_for('.upload') }}" method="post" enctype="multipart/form-data">
<table>
  <tr>
    <td>Name:</td>
    <td><input name="name" example="zeros of zeta "/></td>
  </tr>

  <tr>
    <td>Related to url:</td>
    <td><input name="related_to" example="/L/Riemann " value="{{related_to}}"></td>
  </tr>
  <tr><td colspan="2" class="forminfo">This is the page on this website where your files will be displayed once approved</td></tr> 
  <tr><td colspan="2" class="spacing" /></tr> 

  
  <tr>
    <td>Description:</td>
    <td><textarea name="full_description" rows=3 example="Zeros of the derivative of the Riemann zeta function having imaginary part between 1,000,000 and 1,000,100.  A total of 179 zeros "></textarea></td>
  </tr>
  <tr>
    <td>Data format explanation:</td>
    <td><textarea name="data_format" rows=3 example="pairs of floating point numbers, representing the real and imaginary parts of a zero of a derivative of the Riemann zeta function "/></textarea></td>
  </tr>
  <tr>
    <td>Creator:</td>
    <td><input name="creator" example="David W. Farmer "/></td>
  </tr>
  <tr>
    <td>Paper reference:</td>
    <td><input name="reference" example="Roots of the derivative of the {R}iemann-zeta function and of characteristic polynomials "/></td>
  </tr>


  <tr>
    <td>Bibtex entries:</td>
    <td><textarea name="bibtex" rows=10 example=
"@article {MR2683784,
    AUTHOR = {Due{\~n}ez, Eduardo and Farmer, David W. and Froehlich, Sara
              and Hughes, C. P. and Mezzadri, Francesco and Phan, Toan},
     TITLE = {Roots of the derivative of the {R}iemann-zeta function and of
              characteristic polynomials},
   JOURNAL = {Nonlinearity},
  FJOURNAL = {Nonlinearity},
    VOLUME = {23},
      YEAR = {2010},
    NUMBER = {10},
     PAGES = {2599--2621},
      ISSN = {0951-7715},
     CODEN = {NONLE5},
   MRCLASS = {11M50 (15B52)},
  MRNUMBER = {2683784},
       DOI = {10.1088/0951-7715/23/10/014},
       URL = {http://dx.doi.org/10.1088/0951-7715/23/10/014},   
}
"></textarea></td>
  </tr>

  <tr>
    <td>Further commments if any:</td>
    <td><textarea name="comments" rows=5></textarea></td>
  </tr>



  <tr>
    <td>Upload from file:</td>
    <td><input type="file" name="file"/></td>
  </tr>

  <tr>
    <td>Or from URL:</td>
    <td><input type="text" name="url" example="http://stanford.edu/~rfurman/data.tgz"/></td>
  </tr>

  <tr><td colspan="2" class="forminfo">Only enter one of file or URL.  Maximum size: 1GB</td></tr> 
  <tr><td colspan="2" class="spacing" /></tr> 

</table>
    <button type="submit">Upload</button>
</form>

<!-- example/watermark script moved to global lmfdb.js -->

{% endblock %}
