{# 
info in this page is set by set_info_for_web_newform in emf_render_web_newform.py
#}

{# copy place_code macro from homepage.html #}
{% macro place_code(item) %}
{% if code and code[item] %}
{% for L in code[item] %}
{% if code[item][L] %}
{% set lines = code[item][L].split('\n')[:-1] if '\n' in code[item][L] else [code[item][L]] %}
{% set prompt = code['prompt'][L] if 'prompt' in code and L in code['prompt'] else L %}
{# keep the line below as is to avoid annoying line breaks #}
<div class="{{ [L,'nodisplay','code','codebox'] | join(' ')}}">{% for line in lines %}{{prompt}}:&nbsp;{{line}}<br>{% endfor %}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% if space.character.order == 1 %}
{{ place_code('newforms-triv-char') }}
{% else %}
{{ place_code('newforms-nontriv-char') }}
{% endif %}

{% if not q_expansion_prec is defined %}
  {# The number of coefficient of the q-expansion which we show on this page #}
  {% set q_expansion_prec = 10 %}
{% endif %}

<table class="newforms">
  <thead>
    <tr>
      <th>{{ KNOWL('mf.elliptic.label',title='Label')}}</th>
      <th>{{ KNOWL('mf.elliptic.dimension_galois_orbit',title='Dimension')}}</th>
      <th>{{ KNOWL('mf.elliptic.coefficient_field',title='Field')}}</th>
      <th align="left">{{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion of eigenform')}}</th>
    </tr>
    </thead>
  <tbody>
 
<!-- check if the table is empty -->
{% set vars = {'cyclotomicorder': 0} %}
{% for column in table %}
   {% if table[column] | length  > 0 %}
     {% if vars.update({'cyclotomicorder': 0}) %} {% endif %}
   {% endif %}
{% endfor %}
    
{% set qexp = {'visible': false, 'hidden': false} %}
    
    {% for label in orbits %}
       {% set f = orbits2[label] %}
         {# determine if the ciefficient field is cyclotomic #}
         {% if vars.update({'cyclotomicorder': 0}) %} {% endif %}
         {% if f.coefficient_field.variable_name().startswith("zeta") %}
             {% if vars.update({'cyclotomicorder': f.coefficient_field.variable_name()[4:]}) %} {% endif %}
         {% endif %}
       <tr>
     {% if not f.has_updated_from_db() %}
       <td valign="top">{{ f.hecke_orbit_label }}</td>
       <td colspan="3"> This Hecke orbit is unfortunately not available. </td>
       {% else %}
      <td valign="top"><a href="{{f.url() }}">{{ f.hecke_orbit_label }}</a></td>
      <td align="center" valign="top">
    {{ f.dimension }}
        </td>
    <td align="center" valign="top">
        {% if f.is_rational == 1 %}
<a title = "{{ f.coefficient_field.lmfdb_pretty }}[nf.field.data]" knowl= "nf.field.data" kwargs="label={{ f.coefficient_field.lmfdb_label }}">{{ f.coefficient_field.lmfdb_pretty }}</a></td>
        {% else %}
            {% if vars.cyclotomicorder > 0 %}
              $\Q(\zeta_{ {{vars.cyclotomicorder}} })$
            {% else %}
              $\Q(\alpha_{ {{loop.index}} })$</td>
          {% endif %}
          {% set varname = '\\alpha_{%s}' % loop.index %}
         {%endif%}
          {% if f.complexity_of_first_nonvanishing_coefficients() > max_height %}
            {% if qexp.update({'hidden': true}) %} {% endif %}
                 <td>$q + \ldots^\ast$</td>
        {% else %}
         {% if qexp.update({'visible': true}) %} {% endif %}
            <td>{{ f.q_expansion_latex(q_expansion_prec, varname) }}</td>
      {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if ord is defined and qexp['visible'] %}
    {% for n in zeta_ord %}
            {% if n==4 %}
                <p> where \( \zeta_{ {{n}} } = i\)
            {% elif n==3 %}
                <p> where \( \zeta_{ {{n}} } = e^{\frac{2\pi i}{ {{n}} }}\) is a primitive cube root of unity
            {% else %}
                <p> where \( \zeta_{ {{n}} } = e^{\frac{2\pi i}{ {{n}} }}\) is a primitive \( {{n}} \)-th root of unity
            {% endif %}
        {% if zeta_ord | length > 1 %}
            {% if loop.index < zeta_ord | length %},{% else %}.</p>{% endif %}
        {% else %}.</p>
        {% endif %}
    {% endfor %}
{% endif %}

{% if qexp['hidden'] %}
<p>${}^\ast$: The Fourier coefficients of this newform are large. They are available for download.<br>
Click on the label in the table above for more information about each newform.</p>
{% endif %}

{% if not onlyrat %}

<p>The {{ KNOWL('mf.elliptic.coefficient_field',title='coefficient fields')}} are: </p>
<table>
<!-- from display-list-newforms.html -->
  <thead>
    <tr>
      <th align="left">{{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field')}}</th>
      <th align="left">{{ KNOWL('nf.minimal_polynomial',title='Minimal polynomial')}}
       {% if vars.cyclotomicorder == 0 %}
          of $\alpha_j$ over {% if ord %}$\Q(\zeta_{ {{ord}} })${% else %}$\Q${% endif %}
       {% endif %}
      </th>
    </tr>
    </thead>
  <tbody>
    {% for label in orbits %}
    {% set f = orbits2[label] %}
            {% if f.has_updated_from_db() and f.base_ring != f.coefficient_field and f.coefficient_field.lmfdb_label != '1.1.1.1' %}
    <tr>
        {% if f.coefficient_field.lmfdb_label %}
        <td align="left" valign="top">$\Q(\alpha_{ {{loop.index}} })\cong$ 
<a title = "{{ f.coefficient_field.lmfdb_pretty }}[nf.field.data]" knowl= "nf.field.data" kwargs="label={{ f.coefficient_field.lmfdb_label }}">{{ f.coefficient_field.lmfdb_pretty }}</a></td>
<td align="left">
{{ f.coefficient_field.relative_polynomial_latex('x') }}
</td>
        {% else %}
        <td align="left"  valign="top">$\Q(\alpha_{ {{loop.index}} })$</td>
    <td align="left"  valign="top">
      {{ f.coefficient_field.relative_polynomial_latex('x') }}
    </td>
        {% endif %}
      </tr>
        {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}

