{% extends 'homepage.html' %}

{% set got_a_relative_nf = 0 %}

{% if character.order() == 1 %}
  {% set new_name = "\( S_{%s}^{\mathrm{new}}(%s) \)"|format(weight, level) %}
  {% set old_name = "\( S_{%s}^{\mathrm{old}}(%s) \)"|format(weight, level) %}
{% else %}
  {% set new_name = "\( S_{%s}^{\mathrm{new}}(%s) \)"|format(weight, character.latex_name()) %}
  {% set old_name = "\( S_{%s}^{\mathrm{old}}(%s) \)"|format(weight, character.latex_name()) %}
{% endif %}

{% block content %}

{% if is_empty is not defined %}

{% if extra_info is defined %}
<span style="font-size:50%">({{ extra_info |safe }})</span>
{% endif %}

{% if error is defined %}
{{ error |safe }}
<br>
{{ sage_version | safe}}
{% else %}

{% if nontrivial_new %}
<h2>
  Decomposition of {{name_new}} into galois orbits
</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dimension</th>
      <th>#-field</th>
      <th align="left">\(q\)-expansion of eigenform</th>
    </tr>
  </thead>
  <tbody>
    {% for form in newforms.values() %}
    <tr>
      <td><a href="{{form.url() }}">{{form.name()}}</a></td>
      <td>{{ form.dimension() }}</td>
      <td><a href="{{ form.number_field_url() }}">{{ form.number_field_label() }}</a></td>
      <td>{{ form.q_expansion_latex() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
The dimension in the table is the dimension of the Galois orbit defined by the newform
intersected with {{ new_name }}. (TODO: make stuff into KNOWLS)

{% else %}
{{ name_new }} {{ nontrivial_new_info }}
{% endif %}

{% if old_decomposition != "" %}
<h2> Decomposition of {{name_old}} into lower level spaces</h2>
{{ old_decomposition | safe }}
{% endif %}
	
{% endif %}
{{ test | safe }}
{% else %}
<h2>This space is empty!</h2>
{% endif %}
{% endblock %}
