{% extends 'homepage.html' %}
{% import 'color.css' as color %}
{% block content %}

<script type="text/javascript" src="{{ url_for('.static', filename='elliptic_modular_form_util-functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='elliptic_modular_form_scripts.js') }}"></script>


<script>
$(document).ready( function() {
$("#wait").text("Plot of fundamental domain is loading!");
$("#plot").load(function() {
         $("#wait").text("");
    });
}
);
</script>

<style>

table.dimtable thead th.spaceleft {
  border-right: 0;
  vertical-align: top;
}

table.dimtable tbody td.spaceleft {
  border-right: 0;
  vertical-align: top;
}

table.ntdata tbody tr:nth-child(odd) {
    background: {{color.emf_table_background_off}};
}

table.dimtable tbody td:nth-child(even) {
    background: {{color.emf_table_background_off}};
}

table.dimtable tbody td.even {
    background: {{color.emf_table_background}};
}

table.ntdata thead tr.space th{
  padding-top: 5px;
}

</style>


{% if error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ error | safe }}
</div>
{% endif %}



{% include 'geometric.html' %}

{% if level == 1 %}
  {% set group=KNOWL('group.sl2z',title='\(\mathrm{SL}_2(\mathbb{Z})\)') %}
{% else %}
  {% if grouptype == 0 %}
    {% set group=KNOWL('group.sl2z.subgroup.gamma0n',title='\(\Gamma_0(' ~ level ~ ') \)') %}
  {% elif grouptype == 1 %}
    {% set group=KNOWL('group.sl2z.subgroup.gamma1n',title='\(\Gamma_1(' ~ level ~  ')\)') %}
  {% endif %}
{% endif %}

{% if table is defined %}
{% set k = table.weights[0]  %}

<p>

The space of {{ KNOWL('mf.elliptic.newform',title='Newforms') }} of weight {{k}} on $\Gamma_1({{level}})$ decomposes as
\[
S_{ {{k}} }^{new}(\Gamma_1({{level}})) 
= \bigoplus_{\chi \bmod {{level}} } S_{ {{k}} }^{new}(\Gamma_0({{level}}), \chi)
\]
where the direct sum is over all {{ KNOWL('character.dirichlet',title='Dirichlet characters') }} mod \({{level}}\).
If $\chi$ and $\chi'$ are in the same {{ KNOWL('character.dirichlet.galois_orbit',title='Galois orbit')}},
then $S_{ {{k}} }^{new}(\Gamma_0({{level}}), \chi)$ and $S_{ {{k}} }^{new}(\Gamma_0({{level}}), \chi')$
are Galois conjugate, so in particular they have the same dimension.
Note that this dimension is automatically zero if the {{KNOWL('character.dirichlet.parity',title='parity')}} of the character
is not the same as the parity of the weight. 
</p>

<p>
The table below gives the dimensions of the spaces of {{ KNOWL('mf.elliptic.newform',title='newforms') }}
for \( \Gamma_0({{level}}) \) of {{ KNOWL('mf.elliptic.weight',title='weight') }} {{k}} and 
{{ KNOWL('character.dirichlet',title='characters') }} in each {{ KNOWL('character.dirichlet.galois_orbit',title='Galois orbit')}},
with links to each space.
</p>
{% set row_class = cycler('odd', 'even') %}

{% if showGaloisOrbits %}

<table class="ntdata" width="{{wid}}px">
  <thead>
    <tr class="space">
      <th class="spaceleft weight">Dimension&nbsp;of<br>
$S_{ {{k}} }^{new}(\Gamma_0({{level}}), \chi)$</th>
<!--
      <th class="weight" colspan="{{table.maxGalCount}}">Characters $\chi$ grouped by Galois orbit</th>
-->
    <th class="weight border-right">Parity</th>  
    <th class="weight" colspan="{{table.maxGalCount}}">$S_{ {{k}} }(\chi_{ {{level}} }(n,\cdot)):=S^{new}_{ {{k}} }(\Gamma_0({{level}}),\chi_{ {{level}} }(n,\cdot))$ &nbsp; for characters $\chi$ grouped by Galois orbit</th>
    </tr>
  </thead>
  <tbody>
    {% for xi in table.galois_orbits_reps_numbers  %}
    {% set x = table.galois_orbits_reps[xi] %}
    {% set cell = table.cells[xi][k] %}
      {% if cell.trivial_trivially %}
        <tr class="{{row_class.next()}} trivial">
      {% else %}
        <tr class="{{row_class.next() }}">
      {% endif %}
        <th width="10px" class="left first">
	  {% if x.url != '' %}
            {{cell.dim}}
          {% else %}
	    {{ x.head }}
	  {% endif %}
        </th>
        <td class="border-right center">
            {{ x.parity }}
        </td>
        {% for xc in table.galois_orbit[xi]  %}
          <td align="center" width="0%">
           {% if xc.url != '' %}
             <a href="{{xc.url}}">{{ xc.head }}</a>
           {% else %}
	     <span class="inactive">{{xc.head}}</span>
	   {% endif %}
          </td>
        {% endfor %}
      {% if table.maxGalCount is defined %}
        {% set rc = table.galois_orbit[xi] | count %}
        {% for j in range(rc,table.maxGalCount) %}
          <td>&nbsp;</td>
        {% endfor %}
      {% endif  %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<small>The space is clickable whenever the Hecke orbits are stored for that space.
Spaces in grey are trivial because the character and the weight have
opposite parity.</small>

{% endif %}

{% endif %}

{% if debug %}
  table:{{table}}
{% endif %}



{% endblock content %}
