{#  Script which is used to validate the input to the form for
downloading coeficients #}
<script>
    document.get_coefficients.addEventListener("click", function(event){
      valid = document.get_coefficients.number.value <= document.get_coefficients.max_num.value;
      valid2=document.get_coefficients.number.value > 0;
    if(!valid){
      event.preventDefault();
      $('#num_error').html("")
      document.getElementById('num_error').className += ' errmsg'
      $( "<span>" ).text( "Error: we only have " + {{max_cn}} + "  coefficients in the database!").appendTo( "#num_error" );
      document.get_coefficients.number.value={{max_cn}};
     return false;
  } else if(!valid2) {
  $('#num_error').html("")
      event.preventDefault();
      document.getElementById('num_error').className += ' errmsg'
      $( "<span>" ).text( "Error: give a positive number of coefficients!").appendTo( "#num_error" );
        document.get_coefficients.number.value=10;
  } else {
  $('#num_error').html("")
    document.getElementById('num_error').className = ''
    }
    });
  </script>