{#                                             #}
{# Template for displaying a WebModFormSpace   #}
{#                                             #}
{% extends 'homepage.html' %}

{% if space is defined %}
  {% if space.character is not defined or space.character.order == 1%}
    {% set new_name = "\( S_{%s}^{\mathrm{new}}(%s) \)"|format(space.weight, space.level) %}
    {% set old_name = "\( S_{%s}^{\mathrm{old}}(%s) \)"|format(space.weight, space.level) %}
  {% else %}
    {% set new_name = "\( S_{%s}^{\mathrm{new}}(%s) \)"|format(space.weight, space.character.latex_name) %}
    {% set old_name = "\( S_{%s}^{\mathrm{old}}(%s) \)"|format(space.weight, space.character.latex_name) %}
  {% endif %}
{% endif %}

{% block content %}

{% if space.weight % 2 == 0 and space.character.value(-1) == -1 %}
{% set trivially_zero = 1 %}
{% elif space.weight % 2 != 0 and space.character.value(-1) == 1 %}
{% set trivially_zero = 2 %}
{% else %}
{% set trivially_zero = 0 %}
{% endif %}

{% if error is defined %}
{{ error | safe }}
<br>
{# { sage_version | safe} #}
{% else %}
{% if not space.has_updated_from_db() and not trivially_zero > 0 %}
  {% if wmfs_rep_url is defined %}
    <p>This space is a Galois conjugate of <a href="{{ wmfs_rep_url }}"> \( S_&#123; {{space.weight}} &#125;(\chi_&#123;{{space.level}} &#125;({{ wmfs_rep_number }}, \cdot)) \)</a></p>
  {% elif space.data_from_dimension_db().get('in_wdb',0) == 0  %}
    <h3>Unfortunately, we do not have this space in the database, yet.</h3>
  {% else %}
    <h3>Unfortunately, this space is currently unavailable.</h3>
  {% endif %}
{% elif space.dimension_new_cusp_forms == 0 or trivially_zero > 0 %}
<h3>There are no newforms of this weight, level and character.</h3>
   {% if trivially_zero == 1 %}
     The weight is even and the character is odd.
   {% elif trivially_zero == 2 %}
     The weight is odd and the character is even.
   {% endif %}
 {% else %}

      {% if extra_info is defined %}
        <span style="font-size:50%">({{ extra_info | safe }})</span>
      {% endif %}

      {% if space.dimension_new_cusp_forms > 0 %}
        <style>
        table.td.center {text-align : center;}
        </style>
        <h2>
          Decomposition of {{new_name}} into {{ KNOWL('mf.elliptic.hecke-orbit',title='irreducible Hecke orbits')}}
        </h2>
        {% if space.hecke_orbits=={} %}
           Problem with Hecke orbits in the database!
        {% else %}
          {% set orbits = space.hecke_orbits | sort %}
          {% set orbits2 = space.hecke_orbits %}
          {% if space.character.order > 2 %}
            {% set ord=space.zeta_orders[0] %}
            {% set zeta_ord = space.zeta_orders %}
          {% endif %}
          {% set onlyrat = space.only_rational() %} {# this checks if there are forms which are not rational #}

          {% include 'display-list-newforms.html' %}

        {% endif %}

      {% else %}
        {{ name_new }} {{ nontrivial_new_info }}
      {% endif %}
    {% endif %}
      {% if oldspace_decomposition != '' and space.dimension_cusp_forms > space.dimension_new_cusp_forms %}
        <h2> Decomposition of {{old_name}} into {{ KNOWL('mf.elliptic.oldspace',title='lower level spaces')}}</h2>
        {{ old_name}}  \(\cong\) {{ oldspace_decomposition | safe }} 
      {% endif %}
        
    {{ test | safe }}

{% endif %}
{% endblock %}
