{% extends 'homepage.html' %}

{% set got_a_relative_nf = 0 %}

{% block content %}

<h1>Newforms of weight {{ weight }} for {{ group }}
{% if character is defined and character>0 %} 
with character
<a href='{{character_url}}'> 
{{conrey_character_name}}
</a>
{% else %} 
   with trivial character.
{% endif %}
{% if is_empty is not defined %}

{% if extra_info is defined %}
<span style="font-size:50%">({{ extra_info |safe }})</span>
{% endif %}
</h1>

{% if error is defined %}
{{ error |safe }}
<br>
{{ sage_version | safe}}
{% else %}

{% if nontrivial_new %}
<h2>
  Decomposition of {{name_new}} into galois orbits
</h2>
<table>
  <thead>
    <tr>
      <th>Form</th>
      <th>Dim.</th>
      <th align="left">\(q\)-expansion of eigenform</th>  
    </tr>
    <!--tr>     
      <th>Defining polynomial</th>
      <th>Discriminant</th>
    </tr !-->
  </thead>
  <tbody>
    {% for form in galois_orbits %}
    <tr>
      <td><a href="{{form.url}}">{{form.full_label}}</a></td>
      <td>{{ form.dim }}</td>
      <td>{{ form.qexp }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <table>
          <thead>
            <tr>
              <th>information about the number field containing the coefficients</th>
          </tr>
          </thead>
          <tr><td>polynomial:</td><td> {{ form.poly }}</td>
          <tr>
            <td>
              {% if form.is_relative %}
              Discriminant of relative Number Field:
              {% else %}
              Discriminant: 
              {%endif %}
            </td>
            <td>
              {{ form.disc }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 {% else %}
{{ name_new }} {{ nontrivial_new_info }}
{% endif %}
{% if old_decomposition != "" %}
<h2> Decomposition of {{name_old}} into lower level spaces</h2>
{{ old_decomposition | safe }}
{% endif %}
	
{% endif %}
{{ test | safe }}
{% else %}
<h2>This space is empty!</h2>
{% endif %}
{% endblock %}
