{% extends "homepage.html" %}
{% import 'color.css' as color %}
{% block content %}

<script type="text/javascript" src="{{url_for('emf.static', filename='elliptic_modular_form_util-functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('emf.static', filename='elliptic_modular_form_scripts.js') }}"></script>



{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ info.error | safe }}
</div>
{% endif %}
{# To make an interface that is easier to read we implement each case of input separately #}

{# {{ info | safe }} $("div").data("option",{"start":1}); #}

<script>
$(document).ready(function() {
$("#l_list").data("start",1); $("#l_list").data("len",20); $("#l_list").data("min",1);
$("#l_list").data("name","level");
$("#w_list").data("start",1); $("#w_list").data("len",20); $("#w_list").data("min",1);
$("#w_list").data("name","weight");
$("#char_selection").data("char",0);
 print_list("#l_list");
 print_list("#w_list");
 });

function shift(id,lr) {
   var start = $(id).data("start");
   var min = $(id).data("min");
   var len = $(id).data("len");
   if (lr == "left")
      start = start - len;
   if (lr == "right")
      start = start + len;
   if (start <= min) {
      start = min;
   }
   $(id).contents().detach();
   $(id).data("start",start);
   $(id).data("min",min);
   $(id).data("len",len);
 /*alert("start:"+$(id).data("start")+" "+len+" "+min); */
   print_list(id);

}

function print_list(id) {
    var min = $(id).data("min");
    var start = $(id).data("start");
    var len = $(id).data("len");
    var name = $(id).data("name");
    var url = getAbsolutePath();
    if (start > min) {
       $(id).append("<a id='go_left' href='#' onclick=\"shift('"+id+"','left')\" style=\"\"><small>&lt;&lt;</small></a>");
    };
    var char = $("#char_selection").data("char");
    if (char == 1) {
       s = "&character=1"
    } else {
       s = "&character=all"
    }
    for (var i = start; i < len+start; i++) {
        /*s = "<a href="+url+"?"+name+"="+i+" style=\"display:inline\">" + i + "</a> ";*/
  /*s = "<a href='' onclick='set_value(\""+id+"\","+i+");document.browse.submit()' >" + i + "</a> ";*/
        s = "<a href=\"javascript:set_value('"+id+"',"+i+")\" style=\"display:inline\">" + i + "</a> ";
	$(id).append(s);
    }
    $(id).append("<a id='go_right' href='#' onclick=\"shift('"+id+"','right')\" style=\"display:inline\"><small>&gt;&gt;</small></a>");

};

function set_value(id,val) {
  var name = $(id).data("name"); 			   
  document.forms.browse[name].value=val;
  $(id).data("value",val);
  document.browse.submit();			   
}
</script>
{% if info.grouptype == 0 %}
    {% set group=KNOWL('group.sl2z.subgroup.gamma0n',title='\(\Gamma_0(N)\)') %}
{% elif info.grouptype == 1 %}
    {% set group=KNOWL('group.sl2z.subgroup.gamma1n',title='\(\Gamma_1(N)\)') %}
{% endif %}

{%if info.show_switch is defined %}
  {% if info.grouptype == 0 %}
  {% set groupother = 1 %}
  {% else %}
  {% set groupother = 0 %}
  {%endif%}
{# This variable is used to keep the browing window at the same place
  when switching to Gamma1 or Gamma0 #}
{% set level_weight_params = '' %}
{% if info.level_range is defined %} 
  {% set level_weight_params = level_weight_params + '&level=' + info.level_range | string %}
{% elif info.level is defined %} 
  {% set level_weight_params = level_weight_params + '&level='+  info.level | string %}
{% endif %}
{% if info.weight_range is defined %} 
  {% set level_weight_params = level_weight_params +  '&weight='+info.weight_range | string %}
{% elif info.weight is defined %} 
  {% set level_weight_params = level_weight_params + '&weight='+info.weight | string %}
{% endif %}

<div>
{{ KNOWL_INC('mf.elliptic.extent') }}
</div>

{% if info.level is defined %}
<div style="float:right;margin-right:30px;"><h2 style="font-size:1.2em"><a href="{{url_for('.render_elliptic_modular_forms',level=info.level)}}?group={{info.groupother}}&{{level_weight_params}}">Switch to \(\Gamma_{{groupother}}(N)\)</a></h2></div>
{% else %}
<div style="float:right;margin-right:30px;"><h2 style="font-size:1.2em"><a href="{{url_for('.browse_web_modform_spaces_in_ranges',group=groupother)}}&{{level_weight_params}}">Switch to \(\Gamma_{{groupother}}(N)\)</a></h2></div>
{%endif%}
{%endif%}

<h1>Browse holomorphic {{KNOWL('mf.elliptic.newform',title='newforms')}} for {{group}}</h1>
{#    <p>Go to a <a href={{url_for('.random_form')}}>random modular form</a> from the database.</p> #}
{% set table = info.table %}
<!-- check of the table is empty -->
{% set vars = {'emptytable': true} %}
{% for column in table %}
   {% if table[column] | length  > 0 %}
    {% if vars.update({'emptytable': false}) %} {% endif %}
   {% endif %}
{% endfor %}

{% if vars.emptytable %}
 <em>  There are no results available in the requested range. </em>

{% else %}

<div>

The table below gives the dimensions of the space of holomorphic 
{{KNOWL('mf.elliptic.newform',title='newforms')}} of integral
{{KNOWL('mf.elliptic.weight',title='weight')}} for {{group}}
{% if info.grouptype == 1 %}
.
{% else %}
, with trivial {{KNOWL('character.dirichlet', title='character')}}.
{% endif %}
</div>
 {% set has_na = [] %}
      <table class="ntdata">
        <thead>
          <tr class="space">
           <th class="spaceleft">Weight</th>
           <th class="level" colspan="{{info.col_heads|length}}">
	     <span style="display:block;float:left;margin-right:3px;">Level \(N\)</span>
	   </th>
          </tr>
          <tr class="space">
            <th class="spaceleft"></th>
            {% for N in info.col_heads  %}
	    {% set col_url = url_for('emf.render_elliptic_modular_forms',level=N,group=info.grouptype) %}
            <th class="level"><a href="{{col_url}}">{{N}}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for k in info.row_heads  %}
          <tr>
            <th class="left">
              {% set row_url = url_for('emf.render_elliptic_modular_forms',weight=k,group=info.grouptype) %}
              <a href="{{ row_url }}">{{ k }}</a>
            </th>
            {% for N in info.col_heads  %}
            <td class="center">
                {% if table[N] is defined and table[N][k] is defined and
                                             table[N][k]['dim_new'] is defined
                %}
                  {% set dim = table[N][k]['dim_new'] %}
                  {% set in_db = table[N][k]['in_db'] %}
                  {% if in_db == 1 %}
                     {% if info.grouptype == 0 %}
                       {% set url =
                       url_for('emf.render_elliptic_modular_forms',level=N,weight=k,character=1,group=0)
                       %}
                    {% else %}
                       {% set url =
                       url_for('emf.render_elliptic_modular_forms',level=N,weight=k,group=1)
                         %}
                    {% endif %}
                 <a href="{{url}}">{{dim}}</a>
                 {% elif in_db == -1 %}
                     n/a
              {% do has_na.append(1) %}
                 {% else %}
                     {{dim}}
                 {% endif %}
                {% else %}
                 <small style="color:gray">n/a</small>
                {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </td>
    <small>
    {% if has_na %}
    "n/a" means that there is no information about this space in our database.
    {% endif %}
    The dimension is clickable whenever the Hecke orbits are stored for that space.
</small>

{% endif %}

{% include 'select_ranges.html' %}

  <h1>Find a specific cusp form from the database</h1>
      <div>
        Search by {{KNOWL('mf.elliptic.label',title="label")}} of a
        form, or of a space of forms
        <form name="search" method = "post" action="{{url_for('.render_elliptic_modular_forms')}}">	  
          <input type="text" name="jump_to" value="" placeholder="1.12.1.a"> 
	  <button type="submit" value="Find">Find</button>
        </form>
        <span class="formexample"> e.g. 1.12.1.a or 55.11.54 </span>
      </div>


{# this was visible on beta.lmfdb.org
  {% if DEBUG %}
    info:{{info}}
  {% endif %}
#}
{#
<h1>Search</h1>
<form name="search" method = "post" action="{{url_for('.render_elliptic_modular_forms')}}">
  <table class="">
    <tr>
      <td>
        {{KNOWL('mf.elliptic.level',title='Level')}}:
      </td><td><input type="text" name="level" value="" example="4"></td>
    </tr>
    <tr>
      <td>
        {{KNOWL('mf.elliptic.weight',title='Weight')}}:
      </td><td><input type="text" name="weight" value="" placeholder="12"></td>
    </tr>
    <tr>
      <td>
        {{KNOWL('mf.elliptic.character',title='Character')}}:
      </td><td><input type="text" name="character" value="" placeholder="0"></td> 
    </tr>
  </table>
  <button type="submit" name="Submit" value="Search">Search</button>
</form>
#}
{% endblock content %}
