{#  Script which is used to validate the input to the form for
downloading coeficients #}
<script  type="text/javascript" >
    document.get_coefficients.addEventListener("click",
function(event){
      number = parseInt(document.get_coefficients.number.value);
      max_number = parseInt(document.get_coefficients.max_num.value);
      if (number > max_number){
        event.preventDefault();
        $('#num_error').html("");
        document.getElementById('num_error').className += ' errmsg';
        $('<span>').text( "Error: we only have coefficients for n up to {{max_cn - 1}} in the database!").appendTo( "#num_error" );
        document.get_coefficients.number.value={{max_cn - 1}};
     return false;
       } else if(number < 0) {
         $('#num_error').html("");
         event.preventDefault();
         document.getElementById('num_error').className += ' errmsg';
         $('<span>').text( "Error: give a positive number of coefficients!").appendTo( "#num_error" );
        document.get_coefficients.number.value=10;
  } else {
  $('#num_error').html("")
    document.getElementById('num_error').className = '';
    }
    });
</script>
<script type="text/javascript">
var number_of_coefficients = 10;
function more_handler(evt) {
    number_of_coefficients += number_of_coefficients;
    if (number_of_coefficients >= {{ max_cn_qexp }}) {
        document.getElementById("morebutton").disabled = true;
        document.getElementById("morebutton").className += " inactive";
    }
    evt.preventDefault();
    $("#qexp_display").load("{{qexp_display}}"+number_of_coefficients,
        function() {
            {# tell mathjx to render the output #}
            MathJax.Hub.Queue(['Typeset', MathJax.Hub, "qexp_display"]);
        });
}
$(function() {
    $("#morebutton").click(function(e) {more_handler(e)});
});
</script>