{% if geometric is defined %}
{% if grouptype==0 or level == 1 or level == 2%}
  {% set w="217" %} {%set h="320"%}
{% else %}
  {% set w="384" %} {%set h="320"%}
{% endif %}
<style>
#fundom{
  float:right;
  margin-top:30px;
  vertical-align:top;
  height:{{h}}px;
  width:{{w}}px;
  background-color:lightblue;
  text-color:white;
}
</style>
{% if level == 1 %}
  {% set group=KNOWL('mf.sl2z',title='\(\mathrm{SL}_2(\mathbb{Z})\)') %}
{% else %}
  {% if grouptype == 0 %}
    {% set group=KNOWL('mf.sl2.subgroup.gamma0n',title='\(\Gamma_0(' ~ level ~ ') \)') %}
  {% elif grouptype == 1 %}
    {% set group=KNOWL('mf.sl2.subgroup.gamma1n',title='\(\Gamma_1(' ~ level ~  ')\)') %}
  {% endif %}
{% endif %}

      {% set G = geometric %}
      {% if fd_plot_url is defined %}
        <div id="fundom">
          <img id="plot" width="{{w}}" height="{{h}}" src="{{fd_plot_url | safe}}" />
        </div>
     {% endif %}
      <table>
        <tr>
          <td valign="top">
            <div>
            <h1>Geometric information for {{group}}</h1>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.index',title='index')}}</th><td>{{G.index}}</td></tr>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.genus',title='genus')}}</th><td>{{G.genus}}</td></tr>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.cusps',title='cusps')}}</th>
		<td>
                  {% for c in G.cusps%}
		  {% if c.is_infinity() %}
		    \( \infty  \)
		  {% else %}
		     {{c}},
		  {% endif %}
		  {% endfor %}
		  ({{ G.cusps|count }} cusps)
	        </td>
	      </tr>
              <tr><th colspan="2" style="text-align:left;">Number of {{KNOWL('mf.sl2z.subgroup.ellipticfxpts',title='elliptic fixed points')}} of </th></tr>
              <tr><th>order 2</th><td>{{G.nu2}}</td></tr>
              <tr><th>order 3</th><td>{{G.nu3}}</td></tr>
            </table>
          </td>
        </tr>
      </table>
      {% endif %}
