{% extends 'homepage.html' %}
{% block content %}

<div>
<h3>
Browse \(L\)-functions associated to {{
KNOWL("cmf.newform",title="newforms")}} \(f\)
</h3>
</p>
{{ KNOWL_INC('cmf.lfunction') }}
<p>
</div>
<br>
<div>
In the plot below, each dot corresponds to a {{ KNOWL('lfunction.primitive', title='primitive')}} \(L\)-function of an embedded cusp form.
These are organized by:
<ul>
  <li>
 {{ KNOWL('cmf.analytic_conductor', title='analytic conductor')}}, in the $x$-axis;
  </li>
  <li>
  imaginary part of the first positive nontrivial zero on the {{ KNOWL('lfunction.critical_line', title='critical line')}}, in the $y$-axis;
  <li>
{{ KNOWL('cmf.weight', title='weight')}}, the color of each dot.
  </li>
</ul>
</div>



<script>
function show_pic(pic) {
    $('.smalloutput').hide();
    $('.bigoutput').hide();
    $('.'+pic).show();
  }
</script>
<p>
<div class="smalloutput">
{{contents[0]|safe}}
</div>
<div class="bigoutput nodisplay">
{{contents[1]|safe}}
</div>
      <div class="toggle">Show
        <span class='smalloutput'><a onclick="show_pic('bigoutput'); return false;">larger plot</a></span>
        <span class='bigoutput nodisplay'><a onclick="return show_pic('smalloutput'); return false;">smaller plot</a></span>
      </div>
</p>


{% endblock %}
