{% extends 'homepage.html' %}
{% block content %}

<div>
<h3>
Browse \(L\)-functions associated to {{
KNOWL("mf.elliptic.newform",title="newforms")}} \(f\)
</h3>
</p>
These \(L\)-functions \(L(s,f) = \sum a_n n^{-s} \) have an {{
KNOWL('lfunction.euler_product', title='Euler product')}} of the form
\[ L(s,f)= \prod_{p\mid N} \left(1 - a_p p^{-s}
\right)^{-1}\prod_{p\nmid N} \left(1 - a_p p^{-s} + \chi(p) \cdot p\cdot p^{-2s}
\right)^{-1} \] and satisfy the {{
KNOWL("lfunction.functional_equation",title="functional equation")}}
of the form \begin{equation} \Lambda(s,f) = N^{s/2} \Gamma_{\mathbb{C}
} \left(s + \frac{k-1}{2} \right)\cdot L(s, f) = \varepsilon
\Lambda(1-s,f), \end{equation} where $N$ is the {{
KNOWL("mf.elliptic.level",title="level")}}, $k$ is the {{
KNOWL("mf.elliptic.weight",title="weight")}} and \(a_n
n^{\frac{k-1}{2} } \) are algebraic integers. Here,
\(\varepsilon = i^k \varepsilon_N\), where
\(\varepsilon_N\) is the {{KNOWL("mf.elliptic.fricke",title="Fricke
eigenvalue")}} of \(f\), and so is equal to either \(+1\) or \(-1\)
since these L-functions are associated to the trivial character. It is
therefore called the {{ KNOWL('lfunction.sign', title='sign')}} of the
L-function.
<p>
</div>
<br>
<div>
In the plot below, each dot corresponds to a primitive \(L\)-functions of cups form.
These are organized:
<ul>
  <li>
 {{ KNOWL('mf.elliptic.analytic_conductor', title='analytic conductor')}}, in the $x$-axis;
  </li>
  <li>
  imaginary part of the first postive nontrivial zero on the critical line, in the $y$-axis;
  <li>
{{ KNOWL('mf.elliptic.weight', title='weight')}}, the color of each dot.
  </li>
</ul>
</div>


<p>
{{contents[0]|safe}}
</p>


{% endblock %}
