{% extends 'homepage.html' %}
{% block content %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.
All known {{ KNOWL('lfunction.known_degree3', title='degree 3') }} L-functions have a
functional equation of one of the two forms
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s + \delta + i \mu) \,
\Gamma_{\mathbb C}\left(s + \nu - i \frac{\mu}{2}\right)
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s)
\]
or
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s+\delta_1 + i \mu_1) \,
\Gamma_{\mathbb R}(s+\delta_2 + i \mu_2) \,
\Gamma_{\mathbb R}(s+\delta_3 - i (\mu_1 + \mu_2))
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s),
\]
and an Euler product of the form
\[
L(s)=
\prod_{p|N} \left(1-a_p\, p^{-s} + (a_p^2 - a_{p^2})\, p^{-2s}\right)^{-1}.
\prod_{p\nmid N} \left(1-a_p\, p^{-s}-\chi(p) \, \overline{a_p} \, p^{-2s} +\chi(p) \, p^{-3s}\right)^{-1}.
\]
Here $N$ is the {{ KNOWL('lfunction.conductor', title='conductor') }} of the L-function, and $\chi$, known as the central character,
is a primitive Dirichlet character of conductor dividing&nbsp;$N$.
The parameters $\nu$ and $\delta$ are integers or half-integers, the parameters
$\mu_j$ and $\mu$ are real, and
$\delta_j$ is 0 or 1.
If the central character is even (or odd) then either $2\nu + 1 + \delta$
or $\delta_1 + \delta_2 + \delta_3$ is
even (or odd).
</div>


<h2>Browse Degree 3 L-functions</h2>

<div>
A sample of degree 3 L-functions is in the table below.  You can also
search more complete <a href="/zeros/first/?limit=100&start=0&end=30&degree=3">list of
degree 3</a> L-functions, or
browse
by {{ KNOWL('lfunction.underlying_object', title='underlying object:') }}
</div>

<p>
<a href="{{url_for('l_functions.l_function_maass_gln_browse_page', degree = 'degree3')}}">Maass form for $\GL(3)$</a>
&nbsp; &nbsp; &nbsp;
<a href="{{url_for('l_functions.l_function_ec_sym2_browse_page')}}">Symmetric square of L-function of Elliptic curve</a>
&nbsp; &nbsp; &nbsp;
<a href="/ArtinRepresentation/?dimension=3">Artin representation of dimension 3</a>
</p>

<br>

<style type="text/css">
#isogeny_class_table th, #isogeny_class_table td {
padding : 4px;
text-align: center;
}
</style>


<table border=1 cellpadding=5>
<tbody>
<tr align="center">
<th align="center">First&nbsp;complex<br>critical&nbsp;zero</th>
<th align="center">{{ KNOWL('lfunction.underlying_object', title='underlying object') }}</th>
<th align="center">{{ KNOWL('lfunction.level', title='$N$') }}</th>
<th align="center">{{ KNOWL('lfunction.central_character', title='$\chi$') }}</th>
<th align="center">{{ KNOWL('lfunction.arithmetic', title='arithmetic') }}</th>
<th align="center">{{ KNOWL('lfunction.self-dual', title='self-dual') }}</th>
<th align="center">$\delta,\nu$</th>
<th align="center">$\mu$</th>
<th align="center">$\delta_1,\delta_2,\delta_3$</th>
<th align="center">$\mu_1,\mu_2$</th>
<th align="center">{{ KNOWL('lfunction.sign', title='$\epsilon$') }}</th>
</tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/GL3Maass_1_16.4031_0.17112/">6.42223</a></td><td>Maass cusp form</td><td>1</td><td>-</td><td>&#x25CB;</td><td>&#x25CB;</td><td></td><td></td><td>0,0,0</td><td>16.40312, 0.17112</td><td>1</td><tr>
<tr align="center"><td><a href="/L/NumberField/3.1.23.1/">5.11568</a></td><td><a href="/NumberField/3.1.23.1">number field 3.1.23.1</a></td><td>23</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>0,0</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/11.a/">3.89928</a></td><td>symmetric square of the<a href="/EllipticCurve/Q/11.a1">rank 0 elliptic curve 11.a1</a></td><td>121</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>0,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ArtinRepresentation/3/229/2/">3.19363</a></td><td><a href="/ArtinRepresentation/3/229/1/">Artin representation</a></td><td>229</td><td>$\left( \frac{229}{\cdot}\right)$</td><td>&#x25CF;</td><td>&#x25CF;</td><td></td><td></td><td>0,1,1</td><td>0,0</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/GL3Maass_4_8.23979_2.64122/">2.65766</a></td><td>Maass cusp form</td><td>4</td><td>-</td><td>&#x25CB;</td><td>&#x25CB;</td><td></td><td></td><td>0,0,0</td><td>8.23979, 2.64122</td><td>1</td><tr>
<tr align="center"><td><a href="//L/ModularForm/GL3/Q/Maass/GL3Maass_4_9.63244_1.37406/">2.53210</a></td><td>Maass cusp form</td><td>4</td><td>-</td><td>&#x25CB;</td><td>&#x25CB;</td><td></td><td></td><td>0,0,0</td><td>9.63244, 1.37406</td><td>$e(0.33333)$</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/37.a/">2.15869</a></td><td>symmetric square of the<a href="/EllipticCurve/Q/37.a">rank 1 elliptic curve 37.a1</a></td><td>1369</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>0,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td>1.36848</td><td><a href="/TensorProducts/">tensor product</a>of an<a href="/ArtinRepresentation/3/229/1/">Artin representation</a>and a<a href="/Character/Dirichlet/5/2">Dirichlet character</a></td><td>28625</td><td>$\chi_{1145}(228,\cdot)$</td><td>&#x25CF;</td><td>&#x25CB;</td><td></td><td></td><td>0,0,1</td><td>0,0</td><td>$e(0.76431)$</td><tr>
<!-- the link <a href="/TensorProducts/show/?obj1=ArtinRepresentation%2F3%2F229%2F1%2F&obj2=Character%2FDirichlet%2F5%2F2">1.36848</a> crashes, need to fix that!
-->
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/389.a/">1.07683</a></td><td>symmetric square of the<a href="/EllipticCurve/Q/389.a1">rank 2 elliptic curve 389.a1</a></td><td>151321</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>0,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/GL3Maass_4_8.95466_2.93659/">0.93372</a></td><td>Maass cusp form</td><td>4</td><td>-</td><td>&#x25CB;</td><td>&#x25CB;</td><td></td><td></td><td>0,0,0</td><td>8.95466, 2.93659</td><td>$e(0.66667)$</td><tr>
</tbody></table>


{% endblock %}
