{% extends 'homepage.html' %}

{% block content %}


{% if degree==1 %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.
The
{{ KNOWL('lfunction.known_degree1', title='degree 1 L-functions') }} are
given below.
</div>

<h2>Browse Degree 1 L-functions</h2>

By {{ KNOWL('lfunction.underlying_object', title='underlying object:') }} <a href="{{url_for('l_functions.l_function_riemann_page')}}">Riemann zeta function</a>
&nbsp; <a href="{{url_for('l_functions.l_function_dirichlet_browse_page')}}">Dirichlet character</a>
{#
<h2>Search Degree 1 L-functions</h2>
#}

{% endif %}



{% if degree==2 %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.  Here are
{{ KNOWL('lfunction.known_degree2', title='examples of L-functions of degree 2') }}.
</div>

<h2>Browse Degree 2 L-functions</h2>


By {{ KNOWL('lfunction.underlying_object', title='underlying object:') }}
<a href="{{url_for('l_functions.l_function_cuspform_browse_page',degree='degree2')}}">HOLOmorphic cusp form with trivial character</a>
&nbsp; <a href="{{url_for('l_functions.l_function_maass_browse_page')}}">Maass form of weight $0$ for $\GL(2)$</a> &nbsp;
<a href="{{url_for('l_functions.l_function_ec_browse_page')}}">Elliptic curve</a>

{#
<h2>Search Degree 2 L-functions</h2>
#}

{% endif %}

{% if degree==3 %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.  Here are
{{ KNOWL('lfunction.known_degree3', title='examples of L-functions of degree 3') }}.
</div>

<h2>Browse Degree 3 L-functions</h2>

By {{ KNOWL('lfunction.underlying_object', title='underlying object:') }}
<a href="{{url_for('l_functions.l_function_maass_gln_browse_page', degree = 'degree3')}}">Maass form for $\GL(3)$</a>
&nbsp; <a href="{{url_for('l_functions.l_function_ec_sym2_browse_page')}}">Symmetric square of L-function of Elliptic curve</a>

{#
<h2>Search Degree 3 L-functions</h2>
#}


{% endif %}

{% if degree==4 %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.  Here are
{{ KNOWL('lfunction.known_degree4', title='examples of L-functions of degree 4') }}.
</div>

<h2>Browse Degree 4 L-functions</h2>

By {{ KNOWL('lfunction.underlying_object', title='underlying object:')}}
<a href="{{url_for('l_functions.l_function_maass_gln_browse_page', degree = 'degree4')}}">Maass form for $\GL(4)$</a>
&nbsp; <a href="{{url_for('l_functions.l_function_maass_gln_browse_page', degree = 'degree4')}}#GSp4_Q_Maass">Maass form for $\GSp(4)$</a>
&nbsp; <a href="{{url_for('l_functions.l_function_ec_sym3_browse_page')}}">Symmetric cube of L-function of Elliptic curve</a>

{#
<h2>Search Degree 4 L-functions</h2>
#}

{% endif %}

{% if degree > 4 %}
There is currently no L-function data available for {{ KNOWL('lfunction.degree', title='degree')}} {{degree}} L-functions.  Click <a href="{{url_for('l_functions.l_function_top_page')}}">here</a> to return to the main L-functions page.
{% endif %}

{% endblock %}


