{% extends 'homepage.html' %}
{% block content %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.
All known {{ KNOWL('lfunction.known_degree4', title='degree 4') }} L-functions have a
functional equation of one of the three forms:
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb C}(s + \nu_1) \,
\Gamma_{\mathbb C}(s + \nu_2)
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s),
\]
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s+\mu_1) \,
\Gamma_{\mathbb R}(s+\mu_2) \,
\Gamma_{\mathbb C}\left(s+ \nu\right)
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s),
\]
or
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s+\mu_1) \,
\Gamma_{\mathbb R}(s+\mu_2) \,
\Gamma_{\mathbb R}(s+\mu_3) \,
\Gamma_{\mathbb R}(s+\mu_4)
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s),
\]
and an Euler product of the form
\[
L(s)=
\prod_{p|N} \left(1-a_p\, p^{-s} + (a_p^2 - a_{p^2})\, p^{-2s} - (a_p^3 - 2 \, a_{p^2} \, a_p + a_{p^3} ) \, p^{-3s}\right)^{-1}.
\prod_{p\nmid N} \left(1-a_p\, p^{-s} + (a_p^2 - a_{p^2})\, p^{-2s} - \chi(p) \, \overline{a_p} \, p^{-3s} +\chi(p) \, p^{-4s}\right)^{-1}.
\]
Here $N$ is the {{ KNOWL('lfunction.conductor', title='conductor') }} of the L-function, and $\chi$, known as the central character,
is a primitive Dirichlet character of conductor dividing&nbsp;$N$.
Moreover, $\operatorname{Re}(\mu_j) \in \{0,1\}$, $\operatorname{Re}(\nu_j)$ and $\operatorname{Re}(\nu)$ are integer or an half-integer,
and $2 \sum_j \mu_j + \sum_k \nu_k$ is a positive real.
</div>


<h2>Browse Degree 4 L-functions</h2>

<div>
A sample of degree 4 L-functions is in the table below.  You can also
<!--
search a more complete <a href="/zeros/first/?limit=100&start=0&end=30&degree=4">list of
degree 4</a> L-functions, or
-->
browse
by {{ KNOWL('lfunction.signature', title='signature') }}
or {{ KNOWL('lfunction.underlying_object', title='underlying object:') }}
</div>

<p>
<a href="{{url_for('l_functions.l_function_browse_page', degree='degree4', gammasignature='r0r0r0r0')}}">Signature (0,0,0,0;)</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url_for('l_functions.l_function_ec_sym3_browse_page')}}">Symmetric&nbsp;cube&nbsp;of&nbsp;L-function&nbsp;of&nbsp;elliptic&nbsp;curve</a>
&nbsp;&nbsp;&nbsp;
<a href="/ArtinRepresentation/?dimension=4">Artin&nbsp;representation&nbsp;of&nbsp;dimension&nbsp;4</a>
&nbsp;&nbsp;&nbsp;
<a href="/Genus2Curve/Q/">Genus&nbsp;2&nbsp;curve&nbsp;over&nbsp;$\Q$</a>
&nbsp;&nbsp;&nbsp;
<a href="/ModularForm/GL2/TotallyReal/?deg=2">Hilbert&nbsp;modular&nbsp;form&nbsp;over&nbsp;a&nbsp;quadratic&nbsp;field</a>
&nbsp;&nbsp;&nbsp;
<a href="/EllipticCurve/">Elliptic&nbsp;curve&nbsp;over&nbsp;a&nbsp;quadratic&nbsp;field</a>
</p>
</p>

<br>





<table border=1 cellpadding=5>
<tbody>
<tr align="center">
<td align="center">First&nbsp;complex<br>critical&nbsp;zero</td>
<th align="center">{{ KNOWL('lfunction.underlying_object', title='underlying object') }}</th>
<th align="center">{{ KNOWL('lfunction.level', title='$N$') }}</th>
<th align="center">{{ KNOWL('lfunction.central_character', title='$\chi$') }}</th>
<th align="center">{{ KNOWL('lfunction.arithmetic', title='arithmetic') }}</th>
<th align="center">{{ KNOWL('lfunction.self-dual', title='self-dual') }}</th>
<td align="center">$\Gamma_{\R}$ parameters</td>
<td align="center">$\Gamma_{\C}$ parameters</td>
<th align="center">{{ KNOWL('lfunction.sign', title='$\\varepsilon$') }}</th>
</tr>
<tr align="center"><td><a href="/L/ModularForm/GL4/Q/Maass/1/1/16.89972_2.272587_-6.03583/0.55659019/">16.18901</a></td><td>$\SL(4,\Z)$ Maass form</td><td>1</td><td>1</td><td></td><td></td><td>$16.89i$, $2.272i$, $-6.035i$, $-13.13i$</td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GSp4/Q/Maass/1/1/12.46875_4.720951/1.34260324/">14.49606</a></td><td>$\Sp(4,\Z)$ Maass form</td><td>1</td><td>1</td><td></td><td>&#10004;</td><td>$4.720i$, $-4.720i$, $12.46i$, $-12.46i$</td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/Genus2Curve/Q/169/a/">5.06823</a></td><td><a href="/Genus2Curve/Q/169/a/169/1">genus 2 curve</a></td><td>169</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td></td><td>$\frac12$, $\frac12$</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL2/TotallyReal/2.2.5.1/holomorphic/2.2.5.1-31.1-a/0/0/">3.67899</a></td><td><a href="/ModularForm/GL2/TotallyReal/2.2.5.1/holomorphic/2.2.5.1-31.1-a">Hilbert modular form over $\Q(\sqrt{5})$</a>,<br><a href="/EllipticCurve/2.2.5.1/31.1/a/1">Elliptic curve over $\Q(\sqrt5)$</a></td><td>775</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td></td><td>$\frac12$, $\frac12$</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ArtinRepresentation/4.1609.5t5.1c1">3.50464</a></td><td><a href="/ArtinRepresentation/4.1609.5t5.1c1">Artin representation</a></td><td>1609</td><td>$\left(\frac{1609}{\cdot}\right)$</td><td>&#10004;</td><td>&#10004;</td><td>0, 0, 1, 1</td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GSp4/Q/Maass/1/1/19.81936_8.531078/2.06692296/">2.48044</a></td><td>Sp(4,$\mathbb Z$) Maass form</td><td>1</td><td>1</td><td></td><td>&#10004;</td><td>$19.81i$, $-19.81i$, $8.531i$, $-8.531i$</td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/3/EllipticCurve/Q/11.a/">2.32002</a></td><td>$\Sym^3$ of an <a href="/EllipticCurve/Q/11/a/2">elliptic curve</a> </td><td>1331</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td></td><td>$\frac32$, $\frac12$</td><td>1</td><tr>
</tbody></table>

{% endblock %}
