{% extends 'homepage.html' %}
{% block content %}

<div>
L-functions can be organized by {{ KNOWL('lfunction.degree', title='degree') }}.
All known {{ KNOWL('lfunction.known_degree3', title='degree 3') }} L-functions have a
functional equation of one of the two forms
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s + \delta + i \mu) \,
\Gamma_{\mathbb C}\left(s + \nu - i \frac{\mu}{2}\right)
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s)
\]
or
\[
\Lambda(s) := N^{s/2} \,
\Gamma_{\mathbb R}(s+\delta_1 + i \mu_1) \,
\Gamma_{\mathbb R}(s+\delta_2 + i \mu_2) \,
\Gamma_{\mathbb R}(s+\delta_3 - i (\mu_1 + \mu_2))
\cdot L(s) = \varepsilon \overline{\Lambda}(1-s),
\]
and an Euler product of the form
\[
L(s)=
\prod_{p|N} \left(1-a_p\, p^{-s} + (a_p^2 - a_{p^2})\, p^{-2s}\right)^{-1}.
\prod_{p\nmid N} \left(1-a_p\, p^{-s}+\chi(p) \, \overline{a_p} \, p^{-2s} -\chi(p) \, p^{-3s}\right)^{-1}.
\]
Here $N$ is the {{ KNOWL('lfunction.conductor', title='conductor') }} of the L-function, and $\chi$, known as the central character,
is a {{ KNOWL('character.dirichlet', title='Dirichlet character') }} mod&nbsp;$N$.
The parameter $\nu$ is an integer or half-integer, the parameters
$\mu_j$ and $\mu$ are real, and
$\delta_j$ is 0 or 1.
If the central character is even (or odd) then either $2\nu + 1 + \delta$
or $\delta_1 + \delta_2 + \delta_3$ is
even (or odd).
</div>


<h2>Browse Degree 3 L-functions</h2>

<div>
A sample of degree 3 L-functions is in the table below.  You can also
<!--
search a more complete <a href="/zeros/first/?limit=100&start=0&end=30&degree=3">list of
degree 3</a> L-functions, or
-->
browse
by {{ KNOWL('lfunction.signature', title='signature') }} 
or {{ KNOWL('lfunction.underlying_object', title='underlying object:') }}
</div>

<p>
<a href="{{url_for('l_functions.l_function_browse_page', degree='degree3', gammasignature='r0r0r0')}}">Signature (0,0,0;)</a>
&nbsp;&nbsp;&nbsp;
<a href="{{url_for('l_functions.l_function_ec_sym2_browse_page')}}">Symmetric&nbsp;square&nbsp;of&nbsp;of&nbsp;an&nbsp;elliptic&nbsp;curve</a>
&nbsp;&nbsp;&nbsp;
<a href="/ArtinRepresentation/?dimension=3">Artin&nbsp;representation&nbsp;of&nbsp;dimension&nbsp;3</a>
</p>

<br>



<table border=1 cellpadding=5> 
<tbody>
<tr align="center">
<th align="center">First&nbsp;complex<br>critical&nbsp;zero</th>
<th align="center">{{ KNOWL('lfunction.underlying_object', title='underlying object') }}</th>
<th align="center">{{ KNOWL('lfunction.level', title='$N$') }}</th>
<th align="center">{{ KNOWL('lfunction.central_character', title='$\chi$') }}</th>
<th align="center">{{ KNOWL('lfunction.arithmetic', title='arithmetic') }}</th>
<th align="center">{{ KNOWL('lfunction.self-dual', title='self-dual') }}</th>
<th align="center">$\delta,\nu$</th>
<th align="center">$\mu$</th>
<th align="center">$\delta_1,\delta_2,\delta_3$</th>
<th align="center">$\mu_1,\mu_2$</th>
<th align="center">{{ KNOWL('lfunction.sign', title='$\\varepsilon$') }}</th>
</tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/1/1/16.40312_0.171121/-0.4216864/">6.42223</a></td><td>$\SL(3,\Z)$ Maass form</td><td>1</td><td>1</td><td></td><td></td><td></td><td></td><td>0,0,0</td><td>16.40312, 0.17112</td><td>1</td><tr>
<tr align="center"><td><a href="/L/NumberField/3.1.23.1/">5.11568</a></td><td><a href="/NumberField/3.1.23.1">global number field</a></td><td>23</td><td>$\left(\frac{-23}{\cdot}\right)$</td><td>&#10004;</td><td>&#10004;</td><td>$0$,0</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/11.a/">3.89928</a></td><td>$\Sym^2$ of an <a href="/EllipticCurve/Q/11/a/2">elliptic curve</a></td><td>121</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td>$0$,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ArtinRepresentation/3.229.4t5.1c1">3.19363</a></td><td><a href="/ArtinRepresentation/3.229.4t5.1c1">Artin representation</a></td><td>229</td><td>$\left(\frac{229}{\cdot}\right)$</td><td>&#10004;</td><td>&#10004;</td><td></td><td></td><td>0,1,1</td><td>0, 0</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/4/1/8.239796_2.641226/1.066042 +/">2.65766</a></td><td>$\GL(3)$ Maass form</td><td>4</td><td>1</td><td></td><td></td><td></td><td></td><td>0,0,0</td><td>8.23979, 2.64122</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/4/1/9.632444_1.374060/0.15012282/">2.53210</a></td><td>$\GL(3)$ Maass form</td><td>4</td><td>1</td><td></td><td></td><td></td><td></td><td>0,0,0</td><td>9.63244, 1.37406</td><td>$e(1/3)$</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/37.a/">2.15869</a></td><td>$\Sym^2$ of an <a href="/EllipticCurve/Q/37.a1">elliptic curve</a></td><td>1369</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td>$0$,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/SymmetricPower/2/EllipticCurve/Q/389.a/">1.07683</a></td><td>$\Sym^2$ of an <a href="/EllipticCurve/Q/389.a1">elliptic curve</a></td><td>151321</td><td>1</td><td>&#10004;</td><td>&#10004;</td><td>$0$,1</td><td>0</td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL3/Q/Maass/4/1/8.954662_2.936591/0.36025530/">0.93372</a></td><td>$\GL(3)$ Maass form</td><td>4</td><td>1</td><td></td><td></td><td></td><td></td><td>0,0,0</td><td>8.95466, 2.93659</td><td>$e(2/3)$</td><tr>
</tbody></table>

{% endblock %}


