{% extends 'homepage.html' %}
{% block content %}

<div>
{{ KNOWL('lfunction', title='L-functions') }} of {{ KNOWL('lfunction.known_degree1', title='degree 1') }} are associated to {{ KNOWL('character.dirichlet', title='Dirichlet characters') }} and they are called
{{ KNOWL('lfunction.dirichlet', title='Dirichlet L-functions') }}.
These L-functions have a {{ KNOWL('lfunction.functional_equation', title='functional equation')}} of the form
\[
\Lambda(s,\chi) = q^{s/2} \Gamma_{\R} (s+a) L(s,\chi) = \varepsilon \Lambda(1-s,\overline{\chi}),
\]
where $q$ is the conductor of $\chi$, $\varepsilon$ is the {{ KNOWL('lfunction.sign', title='sign')}} and $a$ is 1 (or 0) when $\chi$ is odd (or even).
In particular, the only Dirichlet L-function with conductor 1
is the <a href="{{url_for('l_functions.l_function_riemann_page')}}">Riemann zeta function</a>.
Degree 1 L-functions can also be obtained from Artin representations of dimension 1.
</div>
<br>
<div>
The plot below shows the {{ KNOWL('character.dirichlet.primitive', title='primitive characters') }}
arranged by the {{ KNOWL('character.dirichlet.conductor', title='conductor') }} and the
{{ KNOWL('character.dirichlet.order', title='order') }} of the character,
with color indicating the {{ KNOWL('character.dirichlet.parity', title='parity')}} (blue is even) of the
Dirichlet character.  Clicking on an entry will
take you to the associated Dirichlet L-function.
</div>

<form>
  <p>
    Conductor range: <span id="modRange"></span>
     </p><div class="slider" id="slider-modulus"></div>
  <p></p>
</form>

{{contents[0]|safe}}


<script type="text/javascript">
  $(function() {

  $("#slider-modulus").slider({
    range: true,
    min: 1,
    max: 50,
    step: 1,
    values: [ {{minModDefault}}, {{maxModDefault}} ],
    slide: function( event, ui ) {
      $("#modRange" ).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
    },
    change: function( event, ui ) {
      $("#modRange" ).text( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      $("#charGraph").hide();
      $("#charGraph").attr( 'src', '{{url_for(".browseGraphChar")}}?min_cond=' + ui.values[ 0 ] + '&max_cond=' + ui.values[ 1 ] + '&max_order=' + {{maxOrder}} + '&min_order=1');
      $("#charGraph").attr( 'height', 60 + 30 * (ui.values[ 1 ]-ui.values[ 0 ]+1));
      $("#charGraph").show();
    }
  });

  $( "#modRange" ).text({{minModDefault}} + " - " + {{maxModDefault}});

  });
</script>
{% endblock %}
