{% extends 'homepage.html' %}

{% block content %}
<h2> Browse {{KNOWL('lfunction', title='L-functions' )}}
by
{{ KNOWL('lfunction.signature', title='signature') }}
or
{{KNOWL("lfunction.underlying_object",title="underlying object")}}</h2>
<table>
{% for i in type_row_list: %}
<tr>
  {% for t in type_table[i]: %}
  <td><a  style="padding: 5px;" href="{{t.link}}">{{t.title|safe}}</a></td>
  {% endfor %}
<tr>
{% endfor %}
</table>

<h2> Browse {{KNOWL('lfunction', title='L-functions')}} by {{KNOWL('lfunction.degree', title='degree') }}</h2>
<table>
 <tr>
  {% for r in degree_list: %}
    <td style="text-align: center;">
       <a style="width: 2em;" href="degree{{r}}">{{r}}</a>
    </td>
  {% endfor %}
 </tr>

</table>
<br />

{% endblock %}
