{% extends 'homepage.html' %}
{% block content %}

<script>
  function show_normalization(normstyle) {
    $('.analytic').hide();
    $('.arithmetic').hide();
    $('.'+normstyle).show();
    $('button.analytic').show();
    $('button.arithmetic').show();
    if (normstyle == 'analytic') {
      $('button.analytic').css('background', '{{color.lf_an_button_bkg}}');
      $('button.analytic').css('border', '2px solid {{color.lf_an_button_brd}}');
      $('button.arithmetic').css('background', '{{color.lf_ar_button_bkg}}');
      $('button.arithmetic').css('border', '1px solid {{color.lf_ar_button_brd}}');
    }
    if (normstyle == 'arithmetic') {
      $('button.arithmetic').css('background', '{{color.lf_an_button_bkg}}');
      $('button.arithmetic').css('border', '2px solid {{color.lf_an_button_brd}}');
      $('button.analytic').css('background', '{{color.lf_ar_button_bkg}}');
      $('button.analytic').css('border', '1px solid {{color.lf_ar_button_brd}}');
    }
  }

</script>


<center>
{% if dirichlet_arithmetic -%}
<div>{{ KNOWL('lfunction.normalization', title='Normalization') }}: &nbsp;  <button class='arithmetic active' onclick="show_normalization('arithmetic'); return false">arithmetic</button>
  <button class='analytic inactive' onclick="show_normalization('analytic'); return false">analytic</button></div>
{% elif Ltype=="riemann" %}

{% elif algebraic %}
<div><div style="display: inline-block; vertical-align:top;">{{ KNOWL('lfunction.normalization', title='Normalization') }}:  &nbsp; 
  </div>
  <div style="display: inline-block; vertical-align:top;">
    <button class='active'>analytic</button>
  </div>
  <div style="display: inline-block; align:left;">
    <button class='inactive'>arithmetic</button>
    <br>
    <span style="font-size: 80%;">
      (not yet available)
    </span>
  </div>
</div>
{% endif %}
</center>

{% if knowltype and label %}
{% set KNOWL_ID = "lfunction.%s.%s"|format(knowltype,label) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>
{% endif %}

<h2> {{ KNOWL('lfunction.dirichlet_series', title='Dirichlet series') }}</h2>
{% if dirichlet_arithmetic -%}
<div class="arithmetic" style="margin-left:10px;">{{ dirichlet_arithmetic|safe }}</div>
<div class="analytic nodisplay" style="margin-left:10px;">{{ dirichlet|safe }}</div>
{% else %}
<div style="margin-left:10px;">{{ dirichlet|safe }}</div>
{% endif %}

<h2>{{ KNOWL('lfunction.functional_equation',title='Functional equation') }}</h2>
{% if dirichlet_arithmetic -%}
<div id="functionalEqText" class="arithmetic" style="margin-left:10px;">\({{ functionalequation_arithmetic }}\)</div>
<div id="functionalEqText" class="analytic nodisplay" style="margin-left:10px;">\({{ functionalequation }}\)</div>
{% else %}
<div id="functionalEqText" style="margin-left:10px;">\({{ functionalequation }}\)</div>
{% endif %}

<h2> {{ KNOWL('lfunction.invariants', title='Invariants') }}  </h2>

<table>

  <tr>
    <td> {{ KNOWL('lfunction.degree', title="Degree") }}: </td>
    <td> \({{ degree }}\) </td>
  </tr>

  <tr>
    <td> {{ KNOWL('lfunction.conductor', title="Conductor") }}: </td>
    <td> \({{ conductor }}\)
      {% if conductor_factored -%}
      &nbsp;&nbsp;  = &nbsp;&nbsp; \({{ conductor_factored }}\)
      {% endif %}
    </td>
  </tr>

  <tr>
    <td> {{ KNOWL('lfunction.sign', title="Sign") }}: </td>
    <td> {{ sign }}
    </td>
  </tr>

  {% if motivic_weight %}
  <tr>
    <td> {{ KNOWL('lfunction.motivic_weight', title="Motivic weight") }}: </td>
    <td> {{ motivic_weight }} </td>
  </tr>
  {% endif %}

  {% if chi %}
  <tr>
    <td> {{ KNOWL('lfunction.central_character', title="Character") }}: </td>
    <td> {{ chi | safe}}
    </td>
  </tr>
  {% endif %}

  {% if st_group -%}
  <tr>
    <td> {{ KNOWL('g2c.st_group', title="Sato-Tate group") }}: </td>
    <td> {{ st_link | safe}}
    </td>
  </tr>
  {% endif %}

  <tr>
    <td> {{ KNOWL('lfunction.primitive', title="Primitive") }}:  </td>
    <td> {{ primitive }}
    </td>
  </tr>

  <tr>
    <td> {{ KNOWL('lfunction.self-dual', title="Self-dual") }}: </td>
    <td> {{ selfdual }}
    </td>
  </tr>

  {% if rank is defined -%}
  <tr>
    <td> {{ KNOWL('lfunction.analytic_rank', title="Analytic rank") }}: </td>
    <td> \({{ rank }}\)
    </td>
  </tr>
  {% endif %}

  <tr>
    <td> {{ KNOWL('lfunction.selbergdata', title="Selberg data") }}: </td>
    <td> \({{ functionalequationSelberg }}\)
    </td>
  </tr>
</table>

{% if dirichlet_arithmetic %}
  <h2>Particular Values</h2>
  <div>
  <table>
    {% if sv_critical_arithmetic %}
    <tr class="arithmetic">
      <td> \({{ sv_critical_arithmetic[0] }}\) </td>
      {% if sv_critical_arithmetic[1] == "0" %}
      <td>\(=\)</td>
      {% else %}
      <td>\(\approx\)</td>
      {% endif %}
      <td> \({{ sv_critical_arithmetic[1] }}\) </td>
    </tr>
    <tr class="analytic nodisplay">
      <td> \({{ sv_critical_analytic[0] }}\) </td>
      {% if sv_critical_analytic[1] == "0" %}
      <td>\(=\)</td>
      {% else %}
      <td>\(\approx\)</td>
      {% endif %}

      <td> \({{ sv_critical_analytic[1] }}\) </td>
    </tr>
    {% endif %}

    {% if sv_edge_arithmetic %}
    <tr class="arithmetic">
      <td> \({{ sv_edge_arithmetic[0] }}\) </td>
      {% if sv_edge_arithmetic[1] == 'not computed' %}
      <td></td>
      <td> not available </td>
      {% else %}
      <td>\(\approx\)</td>
      <td> \({{ sv_edge_arithmetic[1] }}\) </td>
      {% endif %}
    </tr>
    <tr class="analytic nodisplay">
      <td> \({{ sv_edge_analytic[0] }}\) </td>
      {% if sv_edge_analytic[1] == 'not computed' %}
      <td></td>
      <td> not available </td>
      {% else %}
      <td>\(\approx\)</td>
      <td> \({{ sv_edge_analytic[1] }}\) </td>
      {% endif %}
    </tr>
    {% endif %}
  </table>
  </div>
{% elif algebraic %}
  <h2>Particular Values</h2>
  <p>
  {% if sv_critical or sv_edge %}
    <div>
    {% if sv_critical %}
      {{ sv_critical }}
    {% endif %}
    {% if sv_edge %}
      {% if Ltype=="riemann" or Ltype=="dedekindzeta" %}
        <div>Pole at \(s=1\)</div>
      {% else %}
        {{ sv_edge }}
      {% endif %}
    {% endif %}
    </div>
  {% else %}
    <div>Not enough information (Dirichlet series coefficients/sign of the functional equation) to compute special values.</div>
  {% endif %}
  </p>
{% endif %}

<h2>{{ KNOWL('lfunction.euler_product', title='Euler product') }}</h2>
{% if dirichlet_arithmetic -%}
  <div class="arithmetic" style="margin-left:10px;">{{ eulerproduct_arithmetic|safe }}</div>
  <div class="analytic nodisplay" style="margin-left:10px;">{{ eulerproduct }}</div>
{% else %}
  <div>{{ eulerproduct }}</div>
{% endif %}

{% if factorization is defined %}
<h2>Factorization</h2>
<p>
<div> {{ factorization|safe }} </div>
</p>
{% endif %}

<h2> Imaginary part of the first few zeros on the {{ KNOWL('lfunction.critical_line', title='critical line') }}</h2>
<p>
{% if positive_zeros %}
<span class='redhighlight'>{{negative_zeros | safe}}</span>
<span class='positivezero'>{{positive_zeros | safe}}</span>
{% elif zeroslink %}
<div><span id="zeros"></span></div>
{% elif tpzeroslink %}
{{zeroswarning}}.
<div><span id="tpzeros">{{tpzeroslink|safe}}</span></div>
{% else %}
<div>Zeros not available.</div>
{% endif %}
</p>

<h2> Graph of the {{ KNOWL('lfunction.zfunction', title='$Z$-function') }} along the {{ KNOWL('lfunction.critical_line', title='critical line') }} </h2>

{% if degree > 10 %}
<div>Plot not available for L-functions of degree greater than 10.</div>
{% elif plotlink   %}
<img src="{{ plotlink|safe }}" >
{% else %}
<div>Plot not available.</div>
{% endif %}

{% if knowltype and label %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom',title='') }}</h2>
{% endif %}


<script type="text/javascript">
  $(function() {
    $("#zeros").load("{{ zeroslink|safe }}");
  });

</script>

{% endblock %}



