{% extends 'homepage.html' %}

{% block content %}  

<div id="content">

{% if info.user.is_authenticated() %}
   <h1>You are {{ info.user.name }}</h1>
{% else %}
   <h1>You are not logged in</h1>
{% endif %}

<div>
  {% if info.user.is_authenticated() %}
     <h2>Actions</h2>

     <a href="{{ info.logout }}">Logout</a>

  {% else %}

    <div style="margin-bottom: 20px">New user? 
       <a href="{{ url_for('register') }}">Register here</a>
    </div>

    <form name="login" action="/user/login" method="post">
      <input type="hidden" name="next" value="{{ info.next }}" />
      <table>
        <tr><td>Name:</td>
            <td><input name="name" /></td></tr>
        <tr><td>Password:</td>
            <td><input name="password" type="password" /></td></tr>
        <tr><td class="spacing" colspan="2"/></tr>
        <tr><td /><td><button name="submit" type="submit">Login</button></td></tr>
      </table>
    </form>

  {% endif %}
</div>

{% if info.user.is_authenticated() %}
  <h2>Edit Details</h2>
  <form action="/user/info" method="post" name="userinfo">
    <table>
      <tr>
        <td>Full Name:</td>
        <td><input name="full_name" value="{{info.user.full_name}}" /></td>
      </tr>
      <tr>
        <td>E-Mail:</td>
        <td><input name="email" value="{{info.user.email}}" /></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Save</button>
        </td>
      </tr>
    </table>
  </form>
{% endif %}

</div>

{% endblock %}


