{% extends 'homepage.html' %}
{% block content %}

<h2>  Form  </h2>

<p>
<table>
<tr><td> Weight:<td> ${{ info.weight }}/2$ </tr>
<tr><td> Level:<td> ${{ info.level }}$ </tr>
<tr><td> Character:<td> ${{ info.character}}$ </tr>
<tr><td> Label:<td> {{ info.label}} </tr>
<tr><td> Dimension:<td> ${{ info.dimension }}$ </tr>
<tr><td> Dimension theta:<td> ${{ info.dimtheta}}$ </tr>
<tr><td> Newpart:<td> {{info.new}} </tr>
<tr><td> <td> {{info.new[0]}} </tr>
<tr><td> <td> {{info.new[1]}} </tr>
{% for n in info.new %}
	{% for h in n.hiwf %}
		<tr><td><td>
		{% for i lte {{ h|length }} %}
			{{i}}q^{{i}}
		{% endfor %}
		</tr>
	{% endfor %}
	<tr><td>Newform:<td><A HREF="/ModularForm/GL2/Q/holomorphic/{{n.mf}}">{{n.mf}}</A> </tr>
	<tr><td>Number field:<td><A HREF="/NumberField/{{n.nf}}">{{n.nf}}</A> </tr>
{% endfor %}
<tr><td> Theta:<td> {{info.theta}} </tr>
</table>
</p>



{% endblock %}
