{% extends "homepage.html" %}

{% block content %}


<div>
  <p>
    Currently the database contains all finite groups of order up to  FILL HERE
  </p>
</div>



<h2>Browse finite subgroups</h2>

<p>
  By {{KNOWL('group.order', 'order')}}: 
  {% for rnge in info.order_list %}
  <a href="?order={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}

<p>A <a href="{{url_for('.random_glnC_group')}}">random subgroup</a> from the database.</p>



<!--<h2>Find specific subgroups of $\GL(n,\C)$</h2>-->
<h2> Find a specific group by {{ KNOWL('group.label', title='label')}} </h2>

<form name="search" method = "get" action="{{url_for('.index')}}">
  {{ info.search_array.jump_box(info) | safe }}
</form>

<h2>Search</h2>
<form id="re-search" name="search" method = "get" action={{url_for('.index')}} onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

{% endblock %}
