{% extends 'homepage.html' %}
{% block content %}

<p>Data from extensive computations on class groups
of quadratic imaginary fields is available below.

It is organized by fundamental discriminant $-d$, and divided
into four groups based on congruences:
<ul>
<li> $d\equiv 3\pmod 8$
<li> $d\equiv 7\pmod 8$
<li> $d\equiv 4\pmod {16}$
<li> $d\equiv 8\pmod {16}$
</ul>
For each congruence class above, there are 4096 files, indexed from
$k=0$ to $k=4095$.  The $k$th file contains data for
$k\cdot 2^{28} \leq |d| \lt (k+1)\cdot 2^{28}$.  The files are named
accordingly, so the $k=12$th file for $d\equiv 7\pmod8$ is called
<code>cl7mod8.12.gz</code>, the final extension because it has been
compressed with <code>gzip</code>.  The compressed files range in size
from 50 to 200 megabytes.

<h3>File and data format</h3>
<p>
The $k$th file of data for $d\equiv r\pmod{m}$ has filename of the form
<code>cl{</code>$r$<code>}mod{</code>$m$}.{$k$} after uncompressing
with <code>gzip</code>
(for example, file $12$ for $d\equiv7\pmod8$ is <code>cl7mod8.12</code>).
In this file there is one line per discriminant, with discriminants in order of their absolute
  value.  The discriminants and associated class group data may be extracted as
follows, where  for $i\ge1$ we define $-d_i$ to be the $i$th discriminant of the file:
<ul>
<li>Initialise $-d_0=k\cdot2^{28}+r$.
<li>For $i\ge1$, let the data in line $i$ of the file be
<table>
 <tr><td>$a$</td><td> $b$</td><td> $c_1\ c_2\ \ldots\ c_t$</td></tr>
</table>
<li>
Then
<ul>
 <li>$d_{i} = d_{i-1}+m\cdot a$,
 <li>$h(-d_{i}) = b$,
 <li>the invariant factors for the class group are $[c_1, c_2,\ldots, c_t]$.
</ul>
In particular, $b=\prod_{j=1}^t c_j$.
</ul>
</p>

<p>For example, the first two lines of file <code>cl4mod16.1</code> are
<table>
 <tr><td>$0$</td><td> $12160$</td><td> $380\ 4\ 4\ 2$</td></tr>
 <tr><td>$2$</td><td> $4392$</td><td> $2196\ 2$</td></tr>
</table>
so
<ul>
<li> $-d_0=1\cdot2^{28}+4=268435460$, and then
<li> $-d_1=-d_0+16\cdot0=268435460$, with class number $12160$,
<li> $-d_2=-d_1+16\cdot2=268435492$, with class number $4392$,
</ul>
and so on.
<p>

<h3>File download</h3>

<form>
<table>
<tr>
<td align="right">
$d \equiv $
<td align="left">
<select name="filenamebase">
<option value="cl3mod8">3 (mod 8)</option>
<option value="cl7mod8">7 (mod 8)</option>
<option value="cl4mod16">4 (mod 16)</option>
<option value="cl8mod16">8 (mod 16)</option>
</select>
<tr>
<td align="right">
$k = $ 
<td align="left">
<input type='text' name='k' size='7' example='123'>
<span class='formexample'> integer from 0 to 4095</span>
<tr>
<td align="left">
<button type="submit" name="Fetch" value="fetch"
        onclick="$('#infomessage').text('');return true">Fetch file</button>
</table>
</form>

</p>
<div id='infomessage'>
{{ info.message }}
</div>

{% endblock %}
