{% extends 'homepage.html' %}
{% block content %}

<p>The database consists of fields from four sources:
<ol>
<li>The PARI database from the Bordeaux PARI group
<li>Additional totally real fields of degrees from 6 to 10 computed by
  John Voight.
<li>Additional fields from John Jones-David Roberts database.
<li>Additional fields from J&uuml;rgen Kl&uuml;ners-Gunter Malle database.
</ol>
</p>

<h3>Details of the fields contained in the database</h3>
<p>
<ol>
<li>PARI database: the database is complete for the absolute
 discriminant $|D|$ less than the given bounds.
<p>
<table>
{% set row_class = cycler("odd", "even") %}
<tr>
<th>degree</th>
<th>signature(s)</th>
<th>absolute discriminant bound</th>
</tr>
<tr class="{{ row_class.next() }}"><td>1<td align="center">[1,0]<td>\(1\)</tr>
<tr class="{{ row_class.next() }}"><td>2<td align="center">all<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>3<td align="center">[3,0]<td>\(2\cdot10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>3<td align="center">[1,1]<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>4<td align="center">all<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td align="center">[5,0]<td>\(2\cdot10^7\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td align="center">[3,1]<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td align="center">[1,2]<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>6<td align="center">[6,0]<td>\(10^7\)</tr>
<tr class="{{ row_class.next() }}"><td>6<td align="center">[4,1]<td>\(10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>6<td align="center">[2,2]<td>\(4\cdot10^5\)</tr>
<tr class="{{ row_class.next() }}"><td>6<td align="center">[0,3]<td>\(2\cdot10^5\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td align="center">[7,0]<td>\(15\cdot10^7\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td align="center">[5,1]<td>\(12\cdot10^6\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td align="center">[3,2]<td>\(18\cdot10^5\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td align="center">[1,3]<td>\(6\cdot10^5\)</tr>
</table>
</p>
<li><p>
The Voight database is included and is complete for
{{KNOWL('nf.totally_real', title='totally real')}}
  fields with 
{{KNOWL('nf.root_discriminant', title='root discriminant')}}
less than or equal to the given bound.
</p>
<p>
<table>
{% set row_class = cycler("odd", "even") %}
<tr>
<th>degree</th>
<th>root discriminant bound</th>
</tr>
<tr class="{{ row_class.next() }}"><td align="right">6<td>\(20.5\)</tr>
<tr class="{{ row_class.next() }}"><td align="right">7<td>\(15.5\)</tr>
<tr class="{{ row_class.next() }}"><td align="right">8<td>\(17\)</tr>
<tr class="{{ row_class.next() }}"><td align="right">9<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td align="right">10<td>\(14\)</tr>
</table>
</p>
<li><p>The Jones-Roberts database provides complete lists of fields satisfying
  a variety of conditions.
The {{KNOWL('nf.degree', title='degree')}} of a field is given by \(n\).
</p>
<p>
<table>
{% set row_class = cycler("odd", "even") %}
<tr class="{{ row_class.next() }}"><td>Degree $3$ fields unramified outside \(\{2,3,5,7,11,13,17,19,23\}\)
<tr class="{{ row_class.next() }}"><td>Fields unramified outside \(\{2,3\}\)
 with \(n\leq 7\)
</tr>
<tr class="{{ row_class.next() }}"><td>Fields ramified at only one prime \(p\) with \(p<102\) with \(n\leq 7\) </tr>
<tr class="{{ row_class.next() }}"><td>Fields ramified at only two primes \(p\lt q \leq 5\) with \(n\leq 7\) </tr>
<tr class="{{ row_class.next() }}"><td>All abelian fields of degree $\leq 15$ and conductor $\leq 300$ </tr>
</table>
</p>
<p>
For the remaining cases, the bound depends on the Galois group.  Galois groups
are given by {{KNOWL('gg.tnumber', title='\(t\)-number')}}.
The bound \(B\) is for the
{{KNOWL('nf.root_discriminant', title='root discriminant')}}.
</p>
<p>
<table>
<tr valign="top">
 <td>
<table>
{% set row_class = cycler("odd", "even") %}
<tr> <th colspan="2">Degree 7</th></tr>
<tr>
<th>\(t\)</th>
<th>\(B\)</th>
</tr>
<tr class="{{ row_class.next() }}"><td>3<td>\(26\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td>\(38\)</tr>
  </table>
 </td>
 <td>
  <table>
{% set row_class = cycler("odd", "even") %}
<tr> <th colspan="2">Degree 8</th></tr>
<tr>
<th>\(t\)</th>
<th>\(B\)</th>
</tr>
<tr class="{{ row_class.next() }}"><td>3<td>\(20\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td>\(50\)</tr>
<tr class="{{ row_class.next() }}"><td>15<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>18<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>22<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>26<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>29<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>32<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>34<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>36<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>39<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>41<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>45<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>46<td>\(15\)</tr>
  </table>
 </td>
 <td>
  <table>
{% set row_class = cycler("odd", "even") %}
<tr> <th colspan="2">Degree 9</th></tr>
<tr>
<th>\(t\)</th>
<th>\(B\)</th>
</tr>
<tr class="{{ row_class.next() }}"><td>2<td>\(20\)</tr>
<tr class="{{ row_class.next() }}"><td>5<td>\(20\)</tr>
<tr class="{{ row_class.next() }}"><td>6<td>\(20\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td>\(30\)</tr>
<tr class="{{ row_class.next() }}"><td>7<td>\(30\)</tr>
<tr class="{{ row_class.next() }}"><td>8<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>12<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>13<td>\(12\)</tr>
<tr class="{{ row_class.next() }}"><td>14<td>\(18\)</tr>
<tr class="{{ row_class.next() }}"><td>15<td>\(18\)</tr>
<tr class="{{ row_class.next() }}"><td>16<td>\(12\)</tr>
<tr class="{{ row_class.next() }}"><td>17<td>\(18\)</tr>
<tr class="{{ row_class.next() }}"><td>18<td>\(12\)</tr>
<tr class="{{ row_class.next() }}"><td>19<td>\(18\)</tr>
<tr class="{{ row_class.next() }}"><td>21<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>23<td>\(17\)</tr>
<tr class="{{ row_class.next() }}"><td>24<td>\(12\)</tr>
<tr class="{{ row_class.next() }}"><td>25<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>26<td>\(15\)</tr>
<tr class="{{ row_class.next() }}"><td>29<td>\(10\)</tr>
<tr class="{{ row_class.next() }}"><td>30<td>\(10\)</tr>
<tr class="{{ row_class.next() }}"><td>31<td>\(10\)</tr>
</table>
</td>
</tr>
</table>
<li><p>Selected fields from the Kl&uuml;ners-Malle database
provide examples of fields with many different Galois groups.  As
a result, the LMFDB contains at least one field for each
Galois group (transitive subgroup of $S_n$ up to conjugation)
which in degree $n<20$, with
the exception of <a href="/GaloisGroup/17T7">17T7</a> -- no 
one knows of an example of such a field.
</ol>
</p>

{% endblock %}
