{% extends 'homepage.html' %}
{% block content %}
{# Offers options to browse and search #}

<div>
{{ KNOWL_INC('nf.extent') }}
</div>

<h2> Browse {{KNOWL('nf', title='number fields')}} </h2>

<ul>
<li>
By {{KNOWL('nf.degree', title='degree')}}:
{% for r in info.degree_list: %}
<a href="?degree={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.discriminant', title='discriminant')}} range: 
{% for r in info.discriminant_list: %}
<a href="?discriminant={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.signature', title='signature')}}: 
{% for t in info.signature_list: %}
<a href="?signature={{t}}">{{t}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.class_number', title='class number')}}: 
{% for r in info.class_number_list: %}
<a href="?class_number={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
</ul>

<p>
A <a href={{url_for('.by_label', label='random')}}>random number field</a> from the database
</p>


<h2>Find a specific field by {{KNOWL('nf.label',title='label')}}, 
  {{KNOWL('nf.nickname',title='nickname')}}, or 
  {{KNOWL('nf.defining_polynomial',title='polynomial')}}</h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>


<h2> Search for fields </h2>
<form id="search" onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>



{% endblock %}
