{% extends 'homepage.html' %}
{% block content %}
{# Refine search page #}

{% include 'refine_search_form.html' %}

{% if info.err is defined %}
{% if info.label is defined %}
<form>
<table border=0 cellpadding=5>
<tr>
<td>Field:&nbsp;&nbsp;</td>
<td ><input type='text' name='natural' size=60 value="{{info.label}}"> </td>
<td><button type='submit' name='search' value='Go'>Go</button></td>
</tr>
<tr>
<td colspan="3" rowspan="2"><span class="formexample"> Enter either a
<a href="FieldLabels">field label</a>, e.g. 2.2.5.1 for
    \(\Q(\sqrt{5})\); a nickname, e.g. Q or Qsqrt5 or Qzeta7; or a polynomial in x, e.g. x^2+1</span></td>
</tr>
</table>
</form>
{% endif %}
{% endif %}
{% include 'matches.html' %}
{% if info.number %}
<table class="ntdata" id="fieldTab"`>
<thead>
<tr>
<th>{{KNOWL('nf.label', 'Label')}}</th>
<th>{{KNOWL('nf.defining_polynomial', 'Polynomial')}}</th>
<th>{{KNOWL('nf.discriminant', 'Discriminant')}}</th>
<th>{{KNOWL('nf.galois_group', 'Galois group')}}</th>
<th>{{KNOWL('nf.ideal_class_group', 'Class group')}}</th>
</tr>
</thead>
<tbody>
{% for field in info.results: %}
{% set wnf = info.wnf(field) %}
<tr>
<td align='left'><a href="/NumberField/{{field.label}}">{{field.label}}</a></td>
<td>{{ wnf.web_poly() | safe }}</td>
<td>\( {{ wnf.disc_factored_latex() }} \)</td>
<td>{{ wnf.galois_string() }}</td>
{# {% if field.class_group is defined %} #}
{% if wnf.haskey('class_group') %}
  {% if field.class_group=='' %}
    <td> Trivial
  {% else %}
    <td>{{ wnf.class_group_invariants() }}
  {% endif %}
  {{ wnf.short_grh_string()|safe }}
  </td>
{% else %}
  <td>n/a</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
{% include 'forward_back.html' %}
{% include 'download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
