{% extends 'homepage.html' %}
{% block content %}

<p>
Each number field has a unique label of the form d.r.D.i where
<ul>
<li>\(d\) is the degree;
<li>\(r\) is the real signature;  the full signature is therefore \([r,(d-r)/2]\);
<li>\(D\) represents the absolute value of the discriminant;
<li>\(i\) is the index, counting from 1.  This distinguishes cases
  where there are more than
  field with the same signature and discriminant label: for example 
  4.0.1008.1 and 4.0.1008.2.
</ul>
The discriminant portion of the label can take the form \(a_1\) e \(\epsilon_1\) t \(a_2\) e \(\epsilon_2\) t \(\cdots\)t \(a_k\) e \(\epsilon_k\) to mean the absolute value of the
discriminant equals \(a_1^{\epsilon_1}a_2^{\epsilon_2}\cdots a_k^{\epsilon_k}\).
</p>



{% endblock %}
