{% extends 'homepage.html' %}
{% block content %}
{# Offers options to browse and search #}

<div>
{{ KNOWL_INC('dq.nf.extent') }}
</div>

<h2> Browse {{KNOWL('nf', title='global number fields')}} </h2>

<ul>
<li>
By {{KNOWL('nf.degree', title='degree')}}:
{% for r in info.degree_list: %}
<a href="?degree={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.discriminant', title='discriminant')}} range: 
{% for r in info.discriminant_list: %}
<a href="?discriminant={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.signature', title='signature')}}: 
{% for t in info.signature_list: %}
<a href="?signature={{t}}">{{t}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.class_number', title='class number')}}: 
{% for r in info.class_number_list: %}
<a href="?class_number={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
</ul>

<p>
A <a href={{url_for('.random_nfglobal')}}>random global number field</a> from the database
</p>


<h2>Go to a specific field by {{KNOWL('nf.label',title='label')}}, 
  {{KNOWL('nf.nickname',title='nickname')}}, or 
  {{KNOWL('nf.defining_polynomial',title='polynomial')}}</h2>

<form>
<table border=0 cellpadding=5>
<tr>
<td>Field:&nbsp;&nbsp;</td>
<td ><input type='text' name='natural' size=60 example='x^7 - x^6 - 3 x^5 + x^4 + 4 x^3 - x^2 - x + 1'> </td>
<td><button type='submit' name='search' value='Go'>Go</button></td>
</tr>
<tr>
<td colspan="3" rowspan="2"><span class="formexample"> e.g.,
 2.2.5.1, Qsqrt5, x^2-5, or x^2-x-1 for
    \(\Q(\sqrt{5})\)</span></td>
</tr>
</table>
</form>


<h2> Search for fields </h2>
<form id="search" onsubmit="cleanSubmit(this.id)">
<p>
Enter values into one or more boxes to restrict the search.
</p>
<table border=0 cellpadding=5>
<tr>
<td align=left>{{KNOWL('nf.degree', title='degree')}} 
  <td><input type='text' name='degree' size=10 example='3'> 
<span class="formexample"> e.g. 3</span></td>
<td>
<td align=left>{{KNOWL('nf.signature', title='signature')}} <td><input type='text' name='signature' size=10 example='[1,1]'> 
<span class="formexample"> e.g. [1,1]</span></td>
</tr>
<tr>
<td align=left>{{KNOWL('nf.discriminant', title='discriminant')}}
<td colspan="4"><input type='text' name='discriminant' size=10 size=10 example='-1000..-1'> 
<span class="formexample"> e.g. -3, or a range such as 1000..2000 or 1000-2000 or -1000..-1</span></td>
</tr>

<tr>
<td align=left>{{KNOWL('nf.galois_group', title='Galois group')}} 
  <td colspan="4"><input type='text' name='galois_group' size=10 example='C5'>
<span class="formexample"> e.g. C5, or 8T12, a list of {{KNOWL('nf.galois_group.name','group labels')}}</span></td>
</tr>
<tr>
<td align=left>{{KNOWL('nf.unramified_prime', title='unramified primes')}} 
   <td><input type='text' name='ur_primes' size=10 example='2,3'>
<span class="formexample"> e.g. 2,3</span></td>
<td>
<td>
set of {{KNOWL('nf.ramified_primes', title='ramified primes')}} 
<select name='ram_quantifier'>
  <option value='contained'>subset of</option>
  <option value='exactly' selected='yes'>equal to</option>
  <option value='include'>superset of</option>
  </select>
  <td><input type='text' name='ram_primes' size=10 example='2,3'>
<span class="formexample"> e.g. 2,3</span></td>
</tr>

<tr>
<td align=left>{{KNOWL('nf.class_number', title='class number')}} 
  <td><input type='text' name='class_number' size=10 example='5'>
<span class="formexample"> e.g. 5</span></td>
<td>
<td align=left>{{KNOWL('nf.ideal_class_group', title = 'class group')}} structure
  <td><input type='text' name='class_group' size=10 example='[2,4]'>
<span class="formexample"> e.g. [ ], [3], or [2,4]</span></td>
</tr>
<tr>
<td align="left" colspan="4">Maximum number of fields to display <input type='text' name='count' value="{{info.count}}" size="6" />
<tr><td>
<button type='submit'>Search</button></td>


</table>
</form>



{% endblock %}
