{% extends 'homepage.html' %}
{% block content %}
{# Displays individual number field homepage #}

{% macro code(codes, item) %}
{% for L in codes[item] %}
{# N.B. whitespace is preserved in the following div since the CSS has
white-space: pre in order to keep line breaks! #}
<div class="{{ [L,'nodisplay', 'codebox'] | join(' ')}}">{% for code in codes[item][L] %}{{codes.prompt[L]}}&nbsp;{{code}}<br>{% endfor %}</div>
{% endfor %}
{% endmacro %}

<script>
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == system) {
      $('.'+system).hide();
      cur_system = null;
    } else {
      $('.'+system).show();
      $('.'+system).css('display','inline-block');
      cur_system = system;
    }
}
</script>

    <div align ="right">
      Show commands for:  <a onclick="show_code('sage'); return false" href='#'>sagemath</a>,
        <a onclick="show_code('pari'); return false" href='#'>pari/gp</a>,
        <a onclick="show_code('magma'); return false" href='#'>magma</a>
    </div>
    

{% set nf = info.wnf %}
<p>
   {{ code(nf.code,'field') }}
</p>

        {% set KNOWL_ID = "nf.%s"|format(info['label_raw']) %}
        <h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

        <p><h2> 
        {% if nf.is_reduced() %}
          {{ KNOWL('nf.defining_polynomial.normalization', title='Normalized') }}
        {{ KNOWL('nf.defining_polynomial', title='defining polynomial') }}</h2>
        {% else %}
        {{ KNOWL('nf.defining_polynomial', title='Defining polynomial') }}</h2>
        {% endif %}
        <p>
            {{ info.polynomial }}
        {{ code(nf.code,'poly') }}
        </p>

        <p><h2> {{ KNOWL('nf.invariants', title='Invariants') }}</h2>
        <p>
          <table>
            <tr><td>Degree:<td>&nbsp;&nbsp;<td>${{info.degree}}$<td>{{ code(nf.code,'degree') }}
            <tr><td>Signature:<td>&nbsp;&nbsp;<td>${{info.signature}}$<td>{{ code(nf.code,'signature') }}
             <tr><td>Discriminant:<td>&nbsp;&nbsp;<td>{{info.discriminant}}<td>{{ code(nf.code,'discriminant') }}
            <tr><td>Ramified primes:<td>&nbsp;&nbsp;<td>${{info.ram_primes}}$<td>{{ code(nf.code,'ramified_primes') }}
  {% if info.is_abelian %}
			<tr><td colspan="3">&nbsp;</tr>
            <tr><td colspan="3">Extension is Galois and abelian</tr>
                <tr><td>{{KNOWL('nf.conductor', title='Conductor')}}:<td>&nbsp;&nbsp;<td>{{info.conductor}}</tr>
            <tr><td>{{ KNOWL('nf.dirichlet_group', title="Dirichlet group") }}:
                <td>&nbsp;&nbsp;<td>
                {% if info.dirichlet_group is defined %}
                {{info.dirichlet_group|safe}}
                {% else %}
                not computed
                {% endif %}
                </tr> 
  {% elif info.is_galois %}
            <tr><td colspan="3">Extension is Galois</tr>
  {% endif %}

          </table>
        </p>

{% if info.degree==1 %}
        <p><h2> {{ KNOWL('nf.integral_basis', title='Integral basis') }} </h2>
{% endif %}
{% if info.degree!=1 %}
        <p><h2> {{ KNOWL('nf.integral_basis', title='Integral basis') }} (with respect to {{ KNOWL('nf.field_generator', title='field generator') }} \(a\))</h2>
{% endif %}
        <p>
            {{ info.integral_basis }}
            {{ code(nf.code,'integral_basis') }}
        </p>

        <p><h2> {{ KNOWL('nf.ideal_class_group', title='Class group') }} and  {{ KNOWL('nf.class_number', title='class number') }}</h2>
	<p>
          {{ info.class_group }}
          {{ info.grh_label|safe }}
          {{ code(nf.code,'class_group') }}
        </p>


        <p><h2> {{ KNOWL('nf.unit_group', title='Unit group') }}</h2>
        <p>
          {{ code(nf.code,'unit_group') }}

          <table>
            <tr><td>Rank:<td>&nbsp;&nbsp;<td>${{info.unit_rank}}$
            <td>{{ code(nf.code,'unit_rank') }}</tr>
            <tr><td>Torsion generator:<td>&nbsp;&nbsp;<td>{{info.root_of_unity}}
            <td>{{ code(nf.code,'unit_torsion_gen') }}</tr>
{% if info.unit_rank==1 %}
            <tr><td>Fundamental unit:<td>&nbsp;&nbsp;<td>{{info.fund_units|safe}}
                {{ info.grh_label|safe }}
              <td>{{ code(nf.code,'fundamental_units') }}
            </tr>
            {% endif %}
            {% if info.unit_rank>1 %}
            <tr><td>Fundamental units:<td>&nbsp;&nbsp;<td>{{info.fund_units|safe}}
                {{ info.grh_label|safe }}
            <td>{{ code(nf.code,'fundamental_units') }}</tr>
            {% endif %}
            <tr><td>Regulator:<td>&nbsp;&nbsp;<td>{{info.regulator}}
          {{ info.grh_label|safe }}
            <td>{{ code(nf.code,'regulator') }}
           </tr>
          </table>
        </p>


        <p><h2> {{ KNOWL('nf.galois_group', title='Galois group') }}</h2>
        <p>
            {{ info.galois_group | safe }}:
            {{ code(nf.code,'galois_group') }}
            <table>
            <tr><td>{{ info.phrase }}</tr>
            <tr><td>
            {{ info.cclasses | safe }}</tr>
            <tr><td>
            {{ info.character_table | safe }}</tr>
          </table>

        <p><h2> {{ KNOWL('nf.intermediate_fields', title='Intermediate fields') }}</h2>
        <p>
        {% if nf.subfields()==[] %}
        <table>
          <tr><td>
            The extension is primitive: there are no intermediate fields 
            between this field and $\Q$.
          </td></tr>
        </table>
        {% else %}
        <table>
          <tr><td>
            {{ nf.subfields_show() | safe }}
          </td></tr>
        </table>
        <p>
        Fields in the database are given up to isomorphism.  Isomorphic 
        intermediate fields are shown with their multiplicities.
        {% endif %}

{% if nf.unit_galois_action() %}
        <p><h2> {{ KNOWL('nf.multiplicative_gal_module', title='Multiplicative Galois module structure') }}</h2>
            <table>
            <tr><td>
              $U_{K^{gal}}/\textrm{Tors}(U_{K^{gal}}) \cong$ {{nf.unit_galois_action_show()|safe}}
           </tr>
    {% if nf.unit_galois_action_type_knowl() %}
            <tr><td>
                Galois action is {{ nf.unit_galois_action_type_knowl()|safe }}
            </tr>
    {% endif %}
           </table>
{% endif %}
        <p><h2> {{ KNOWL('nf.frobenius_cycle_types', title='Frobenius cycle types') }}</h2>
           <table class="ntdata" style='text-align: center'>
	    <thead>
             <tr><th>$p$</th>
            {% for p in info.frob_data %}
            <td>{{ p[0] | safe }} </td>
            {% endfor %}
             </tr>
	    </thead>
	    <tbody>
             <tr><th>Cycle type</th>
            {% for p in info.frob_data %}
            <td>{{ p[1] | safe }} </td>
            {% endfor %}
             </tr>
	     </tbody>
           </table>
        </p>


<p>
   {% if info.seeram %}
   In the table, <i>R</i> denotes a ramified prime.  
   {% endif %}
   Cycle lengths which are repeated in a cycle type are indicated by
   exponents.
        <p>
          {{ code(nf.code,'prime_cycle_types') }}
        </p>

{% if info.get("tim_number_field", False) %}
	<p><h2> {{ KNOWL('artin', title='Artin representations') }}</h2>
        <div>
	<center>
	<table>

	<thead><tr><th></th>
	<th>{{ KNOWL('artin.dimension', title='Dimension') }}</th>
	<th>{{ KNOWL('artin.conductor', title='Conductor') }}</th>
	<th>Defining polynomial of {{ KNOWL('artin.number_field', title='Artin field') }} </th>
	<th>{{ KNOWL('artin.gg_quotient', title='$G$') }}</th>
	{# <th>{{ KNOWL('artin.root_number', title='Root number') }}</th> #}
	<th>{{ KNOWL('artin.frobenius_schur_indicator', title='Ind') }}</th>
        <th>{{ KNOWL('artin.trace_of_complex_conj', title='$\chi(c)$')}}</th>
	</tr></thead>
	<tbody>
        {% for artin in info["tim_number_field"].artin_representations()%}
          <tr> <td align="right">
              {{info.mydecomp[loop.index-1]}}<a href = "{{artin.url_for()}}">{{loop.index}}</a></td><td align="center">${{artin.dimension()}}$</td>
{#	  <td align="center">${{artin.conductor_equation()}}$</td> #}
	  <td align="center">${{artin.factored_conductor_latex()}}$</td>
	  {% if artin.number_field_galois_group().url_for() %}
	     <td align="center"><a href="{{artin.number_field_galois_group().url_for()}}">${{artin.number_field_galois_group().polredabslatex()}}$</a></td>
	  {% else %}
	      <td align="center">${{artin.number_field_galois_group().polredabslatex()}}$</td>
	  {% endif %}
	  <td align="center">{{artin.number_field_galois_group().G_name()}}</td>
	{#  <td align="center">${{artin.number_field_galois_group().size()}}$</td> #}
	  {# <td align="center">${{artin.processed_root_number()}}$</td> #}
	  <td align="center"> ${{artin.indicator()}}$</td>
	  <td align="center">${{artin.trace_complex_conjugation()}}$</td>
	  </tr>
        {% endfor %}
	</tbody>
	</table>
	</center>
        </div>
        <br />
        <div>
        Data is given for all irreducible 
        representations of the Galois group.  Those marked with 
        * are associated with this field.
	</div>
	{% endif %}

        <h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
