{% extends 'homepage.html' %}
{% block content %}
{# Refine search page #}

<h2> Further refine search </h2>

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<table border="0">

<tr>
<td align=left> {{KNOWL('nf.degree', title='degree')}} <td align=left> <input type='text' name='degree' size="3" value="{{info.degree}}"></td>


<td align=left> {{KNOWL('nf.signature', title='signature')}} <td align=left> <input type='text' name='signature' size=5 value="{{info.signature}}"></td>

<td align=left> {{KNOWL('nf.galois_group', title='Galois group')}} <td align=left> <input type='text' name='galois_group' size="5" value="{{info.galois_group}}"></td></tr>
<tr>
<td align=left> {{KNOWL('nf.class_number', title='class number')}} <td align=left> <input type='text' name='class_number' size=3 value="{{info.class_number}}"></td>
<td align=left> {{KNOWL('nf.ideal_class_group', title='class group')}} <td align=left> <input type='text' name='class_group' size="5" value="{{info.class_group}}"></td>
<td align=left> {{KNOWL('nf.unramified_prime', title='unramified primes')}}<td align=left> <input type='text' name='ur_primes' size="5" value="{{info.ur_primes}}"></td>
</tr>
<tr>
<td align='left'> {{KNOWL('nf.discriminant', title='discriminant')}} range <td align='left' colspan='2'> <input type='text' name='discriminant' size='20' value="{{info.discriminant}}"></td>
<td align=right colspan="2">
set of {{KNOWL('nf.ramified_primes', title='ramified primes')}}
{% if info.ram_quantifier == 'contained' %}
<select name = "ram_quantifier">
  <option value='contained' selected='yes'>subset of</option>
  <option value=''>equal to</option>
  <option value='include'>superset of</option>
</select>
{% elif info.ram_quantifier == 'include' %}
<select name = "ram_quantifier">
  <option value='contained'>subset of</option>
  <option value='' >equal to</option>
  <option value='include' selected='yes'>superset of</option>
</select>
{% else %}
<select name = "ram_quantifier">
  <option value='contained'>subset of</option>
  <option value='' selected='yes'>equal to</option>
  <option value='include'>superset of</option>
</select>
{% endif %}
 <td align=left> <input type='text' name='ram_primes' size=5 value="{{info.ram_primes}}"></td>

</tr>

<tr>
<td align='left' colspan='4'>Maximum number of fields to display <input type='text' name='count' value="{{info.count}}" size='10'>
</td>
</tr>


<tr> 
<td class="button" align=left><button type='submit' value='refine'>Search again</button></td> 
</tr>
</table>
</form>

{% if info.err is defined %}
{% if info.label is defined %}
<form>
<table border=0 cellpadding=5>
<tr>
<td>Field:&nbsp;&nbsp;</td>
<td ><input type='text' name='natural' size=60 value="{{info.label}}"> </td>
<td><button type='submit' name='search' value='Go'>Go</button></td>
</tr>
<tr>
<td colspan="3" rowspan="2"><span class="formexample"> Enter either a
<a href="FieldLabels">field label</a>, e.g. 2.2.5.1 for
    \(\Q(\sqrt{5})\); a nickname, e.g. Q or Qsqrt5 or Qzeta7; or a polynomial in x, e.g. x^2+1</span></td>
</tr>
</table>
</form>
{% endif %}
{% endif %}
{% include 'matches.html' %}
{% if info.number %}
<table border=1 cellpadding=5 class="ntdata" id="fieldTab"`>
<thead>
<tr>
<th>Label</th>
<th>Polynomial</th>
<th>Discriminant</th>
<th>Galois group</th>
<th>Class group</th>
</tr>
</thead>
<tbody>
{% for field in info.results: %}
{% set wnf = info.wnf(field) %}
<tr>
<td align='left'><a href="/NumberField/{{field.label}}">{{field.label}}</a></td>
<td>{{ wnf.web_poly() | safe }}</td>
<td>\( {{ wnf.disc_factored_latex() }} \)</td>
{# <td>{{ info.group_display(field.galois) }}</td> #}
<td>{{ wnf.galois_string() }}</td>
{# {% if field.class_group is defined %} #}
{% if wnf.haskey('class_group') %}
  {% if field.class_group=='' %}
    <td> Trivial 
  {% else %}
    <td>{{ wnf.class_group_invariants() }}
  {% endif %}
  {{ wnf.short_grh_string()|safe }}
  </td>
{% else %}
  <td>n/a</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
<hr>
{% include 'forward_back.html' %}
{% include 'download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
