{% extends 'homepage.html' %}
{% block content %}
{# Displays individual number field homepage #}

{# Extra style for table below #}
<style>
table.ntdata a {
  display: inline;
}
</style>

{% set nf = info.wnf %}
<p>
   {{ place_code('field') }}
</p>

        {% set KNOWL_ID = "nf.%s"|format(info['label_raw']) %}
        <h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

        <p><h2> 
        {% if nf.is_reduced() %}
          {{ KNOWL('nf.defining_polynomial.normalization', title='Normalized') }}
        {{ KNOWL('nf.defining_polynomial', title='defining polynomial') }}</h2>
        {% else %}
        {{ KNOWL('nf.defining_polynomial', title='Defining polynomial') }}</h2>
        {% endif %}
        <p>
            {{ info.polynomial }}
        {{ place_code('poly') }}
        </p>

        <p><h2> {{ KNOWL('nf.invariants', title='Invariants') }}</h2>
        <p>
          <table>
            <tr><td>{{ KNOWL('nf.degree', title="Degree") }}:<td>&nbsp;&nbsp;<td>${{info.degree}}$<td>{{ place_code('degree') }}
            <tr><td>{{ KNOWL('nf.signature', title="Signature") }}:<td>&nbsp;&nbsp;<td>${{info.signature}}$<td>{{ place_code('signature') }}
             <tr><td>{{ KNOWL('nf.discriminant', title="Discriminant") }}:<td>&nbsp;&nbsp;<td>{{info.discriminant}}<td>{{ place_code('discriminant') }}
            <tr><td>{{ KNOWL('nf.ramified_primes', title="Ramified primes") }}:<td>&nbsp;&nbsp;<td>${{info.ram_primes}}$<td>{{ place_code('ramified_primes') }}
  {% if info.is_abelian %}
            <tr><td colspan="3">This field is Galois and abelian over $\Q$.</tr>
                <tr><td>{{KNOWL('nf.conductor', title='Conductor')}}:<td>&nbsp;&nbsp;<td>{{info.conductor}}</tr>
            <tr><td>{{ KNOWL('nf.dirichlet_group', title="Dirichlet character group") }}:
                <td>&nbsp;&nbsp;<td>
                {% if info.dirichlet_group is defined %}
                {{info.dirichlet_group|safe}}
                {% else %}
                not computed
                {% endif %}
                </tr> 
  {% elif info.is_galois %}
            <tr><td colspan="3">This field is Galois over $\Q$.</tr>
  {% else %}
            <tr><td colspan="3">This field is not Galois over $\Q$.</tr>
  {% endif %}

          </table>
        </p>

{% if info.degree==1 %}
        <p><h2> {{ KNOWL('nf.integral_basis', title='Integral basis') }} </h2>
{% endif %}
{% if info.degree!=1 %}
        <p><h2> {{ KNOWL('nf.integral_basis', title='Integral basis') }} (with respect to {{ KNOWL('nf.generator', title='field generator') }} \(a\))</h2>
{% endif %}
        <p>
            {{ info.integral_basis }}
            {{ place_code('integral_basis') }}
        </p>

        <p><h2> {{ KNOWL('nf.ideal_class_group', title='Class group') }} and  {{ KNOWL('nf.class_number', title='class number') }}</h2>
    <p>
          {{ info.class_group }}
          {{ info.grh_label|safe }}
          {{ place_code('class_group') }}
        </p>


        <p><h2> {{ KNOWL('nf.unit_group', title='Unit group') }}</h2>
        <p>
          {{ place_code('unit_group') }}

          <table>
            <tr><td>Rank:<td>&nbsp;&nbsp;<td>${{info.unit_rank}}$
            <td>{{ place_code('unit_rank') }}</tr>
            <tr><td>Torsion generator:<td>&nbsp;&nbsp;<td>{{info.root_of_unity}}
            <td>{{ place_code('unit_torsion_gen') }}</tr>
{% if info.unit_rank==1 %}
            <tr><td>Fundamental unit:<td>&nbsp;&nbsp;<td>{{info.fund_units|safe}}
                {{ info.grh_label|safe }}
              <td>{{ place_code('fundamental_units') }}
            </tr>
            {% endif %}
            {% if info.unit_rank>1 %}
            <tr><td>Fundamental units:<td>&nbsp;&nbsp;<td>{{info.fund_units|safe}}
                {{ info.grh_label|safe }}
            <td>{{ place_code('fundamental_units') }}</tr>
            {% endif %}
            <tr><td>Regulator:<td>&nbsp;&nbsp;<td>{{info.regulator}}
          {{ info.grh_label|safe }}
            <td>{{ place_code('regulator') }}
           </tr>
          </table>
        </p>


        <p><h2> {{ KNOWL('nf.galois_group', title='Galois group') }}</h2>
        <p>
            {{ info.galois_group | safe }}:
            {{ place_code('galois_group') }}
            <table>
            <tr><td>{{ info.phrase }}</tr>
            <tr><td>
            {{ info.cclasses | safe }}</tr>
            <tr><td>
            {{ info.character_table | safe }}</tr>
          </table>

        <p><h2> {{ KNOWL('nf.intermediate_fields', title='Intermediate fields') }}</h2>
        <p>
        {% if nf.subfields()==[] %}
        <table>
          <tr><td>
            The extension is primitive: there are no intermediate fields 
            between this field and $\Q$.
          </td></tr>
        </table>
        {% else %}
        <table>
          <tr><td>
            {{ nf.subfields_show() | safe }}
          </td></tr>
        </table>
        <p>
        Fields in the database are given up to isomorphism.  Isomorphic 
        intermediate fields are shown with their multiplicities.
        {% endif %}

        {% if info.resinfo !=[] %}
           {% if info.degree == 6 %}
        <h2>{{ KNOWL('nf.sibling', title='Sibling') }} algebras</h2>
           {% else %}
        <h2>{{ KNOWL('nf.sibling', title='Sibling') }} fields</h2>
           {% endif %}
        <div>
        <table>
        {% for r in info.resinfo %}
            {% if r[0] == 'ae' %}
              <tr><td>
                {% if r[2]==1 %}
                  {{ KNOWL('nf.arithmetically_equivalent', title='Arithmetically equvalently sibling') }}:
                {% else %}
                  {{ KNOWL('nf.arithmetically_equivalent', title='Arithmetically equvalently siblings') }}:
                {% endif %}
                <td> {{ r[1] |safe }}
            {% endif %}
            {% if r[0] == 'gc' %}
              <tr><td>
                {{ KNOWL('nf.galois_closure', title='Galois closure') }}:
                <td> {{ r[1][0] |safe }}
            {% endif %}
            {% if r[0] == 'sex' %}
              <tr><td>
                {{ KNOWL('nf.sextic_twin', title='Twin sextic algebra') }}:
                <td> {{ r[1] |safe }}
            {% endif %}
            {% if r[0] == 'sib' %}
                {% for sib in r[1] %}
                  <tr><td> Degree {{sib[0]}} 
                  {% if sib[1] == 1 %}
                     {{ KNOWL('nf.sibling', title='sibling') }}:
                  {% else %}
                     {{ KNOWL('nf.sibling', title='siblings') }}:
                  {% endif %}
                  <td> {{ sib[2] |safe }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </table>
        </div>
        {% endif %}

{% if nf.unit_galois_action() %}
        <p><h2> {{ KNOWL('nf.multiplicative_gal_module', title='Multiplicative Galois module structure') }}</h2>
            <table>
            <tr><td>
              $U_{K^{gal}}/\textrm{Tors}(U_{K^{gal}}) \cong$ {{nf.unit_galois_action_show()|safe}}
           </tr>
    {% if nf.unit_galois_action_type_knowl() %}
            <tr><td>
                Galois action is {{ nf.unit_galois_action_type_knowl()|safe }}
            </tr>
    {% endif %}
           </table>
{% endif %}
        <p><h2> {{ KNOWL('nf.frobenius_cycle_types', title='Frobenius cycle types') }}</h2>
           <table class="ntdata" style='text-align: center'>
        <thead>
             <tr><th>$p$</th>
            {% for p in info.frob_data %}
            <td>{{ p[0] | safe }} </td>
            {% endfor %}
             </tr>
        </thead>
        <tbody>
             <tr><th>Cycle type</th>
            {% for p in info.frob_data %}
            <td>{{ p[1] | safe }} </td>
            {% endfor %}
             </tr>
         </tbody>
           </table>
        </p>


<p>
   {% if info.seeram %}
   In the table, <i>R</i> denotes a ramified prime.  
   {% endif %}
   Cycle lengths which are repeated in a cycle type are indicated by
   exponents.
        <p>
          {{ place_code('prime_cycle_types') }}
        </p>

{% if info.degree == 1 %}
  <p><h2> {{KNOWL('nf.local_algebra', 'Local algebras')}} for
  {{ KNOWL('nf.ramified_primes', title="ramified primes") }}
  </h2>
  <p>There are no ramified primes.
{% elif info.degree > 1 and info.loc_alg is not equalto '' %}
  <p><h2> {{KNOWL('nf.local_algebra', 'Local algebras')}} for
  {{ KNOWL('nf.ramified_primes', title="ramified primes") }}
  </h2>
  <p>
  <center>
  <table border="2">
    <thead>
      <th>$p$<th>Label<th>Polynomial
      <th>{{KNOWL("lf.ramification_index",title="$e$")}}
      <th>{{KNOWL("lf.residue_field_degree",title="$f$")}}
      <th>{{KNOWL("lf.discriminant_exponent",title="$c$")}}
      <th>{{KNOWL("nf.galois_group",title="Galois group")}}
      <th>{{KNOWL("lf.slope_content",title="Slope content")}}
    </thead>
  <tbody>
  {{ info.loc_alg | safe }}
</center>
{% endif %}
<p>

{% if info.get("tim_number_field", False) %}
    <p><h2> {{ KNOWL('artin', title='Artin representations') }}</h2>
        <div>
    <center>
    <table>

    <thead><tr>
    <th></th>
    <th>Label</th>
    <th>{{ KNOWL('artin.dimension', title='Dimension') }}</th>
    <th>{{ KNOWL('artin.conductor', title='Conductor') }}</th>
    <th>Defining polynomial of {{ KNOWL('artin.number_field', title='Artin field') }} </th>
    <th>{{ KNOWL('artin.gg_quotient', title='$G$') }}</th>
    {# <th>{{ KNOWL('artin.root_number', title='Root number') }}</th> #}
    <th>{{ KNOWL('artin.frobenius_schur_indicator', title='Ind') }}</th>
        <th>{{ KNOWL('artin.trace_of_complex_conj', title='$\chi(c)$')}}</th>
    </tr></thead>
    <tbody>
        {% for artin in info["tim_number_field"].artin_representations()%}
          <tr> <td align="left">
              {{info.mydecomp[loop.index-1]|safe}}
              <td align="left"><a href = "{{artin.url_for()}}">{{artin.label()}}</a></td><td align="center">${{artin.dimension()}}$</td>
{#    <td align="center">${{artin.conductor_equation()}}$</td> #}
      <td align="center">${{artin.factored_conductor_latex()}}$</td>
      {% if artin.number_field_galois_group().url_for() %}
         <td align="center"><a href="{{artin.number_field_galois_group().url_for()}}">${{artin.number_field_galois_group().polredabslatex()}}$</a></td>
      {% else %}
          <td align="center">${{artin.number_field_galois_group().polredabslatex()}}$</td>
      {% endif %}
      <td align="center">{{artin.number_field_galois_group().G_name()}}</td>
    {#  <td align="center">${{artin.number_field_galois_group().size()}}$</td> #}
      {# <td align="center">${{artin.processed_root_number()}}$</td> #}
      <td align="center"> ${{artin.indicator()}}$</td>
      <td align="center">${{artin.trace_complex_conjugation()}}$</td>
      </tr>
        {% endfor %}
    </tbody>
    </table>
    </center>
        </div>
        <br />
        <div>
        Data is given for all irreducible 
        representations of the Galois group for the Galois closure
        of this field.  Those marked with * are summands in the
        permutation representation coming from this field.  Representations
        which appear with multiplicity greater than one are indicated
        by exponents on the *.
    </div>
    {% endif %}

        <h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
