{% extends 'homepage.html' %}
{% block content %}

<h2> Further refine search </h2>

{% include 'refine_search_form.html' %}

{% if info.err is defined %}

<h2>Error</h2>
<div>
Either modify your search above or go <input type=button value="Back" onClick="history.go(-1)">
</div>

{% else %}

{% include 'matches.html' %}

{% if info.number > 0 %}

<table class="ntdata">
<thead>
  <tr>
<th>{{ KNOWL('mf.hilbert.label', title='Label') }}</th>
<th>{{ KNOWL('nf', title='Base field') }}</th>
<th>{{ KNOWL('mf.hilbert.level_norm', title='Level') }}</th>
<th>{{ KNOWL('mf.hilbert.dimension', title='Dimension') }} </th>
  </tr>
</thead>
<tbody>
{% for form in info.results: %}
<tr>
<td align='left'><a href="{{url_for('hmf.render_hmf_webpage',field_label=form.field_label,label=form.label)}}">
  {{form.short_label}} </a></td>
<td>{{form.field_knowl|safe}}</td>
<td>${{form.level_ideal}}$</td>
<td class="center">${{form.dimension}}$</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% include 'forward_back.html' %}
<br>
{% endif %}

{% include 'debug_info.html' %}
{% endblock %}
