{% extends 'homepage.html' %}
{% block content %}

<div>The database contains {{info.counts.nforms_c}} Hilbert
  newforms over {{info.counts.nfields_c}} totally real number fields
  of degree up to {{info.counts.max_deg_c}}.
</div>

<h2> Browse {{ KNOWL('mf.hilbert', title='Hilbert cusp forms') }} </h2>

<p>
By {{ KNOWL('nf', title='base field') }}:
</p>
<ul>
<li>
Real quadratic fields <a href="?field_label=2.2.5.1">\(\Q(\sqrt{5})\)</a>, 
<a href="?field_label=2.2.8.1">\(\Q(\sqrt{2})\)</a>, 
<a href="?field_label=2.2.12.1">\(\Q(\sqrt{3})\)</a>, ..., 
<a href="?field_label=2.2.401.1">\(\Q(\sqrt{401})\)</a>, ...
</li>
<li>Cubic fields <a href="?field_label=3.3.49.1">3.3.49.1</a>, ...,
<a href="?field_label=3.3.1101.1">3.3.1101.1</a>, ...
</li>
<li>
Quartic fields <a href="?field_label=4.4.725.1">4.4.725.1</a>, 
<a href="?field_label=4.4.1125.1">4.4.1125.1</a>, ...
<a href="?field_label=4.4.18688.1">4.4.18688.1</a>, ...
</li>
<li>
Quintic fields <a href="?field_label=5.5.14641.1">5.5.14641.1</a>, 
<a href="?field_label=5.5.160801.1">5.5.160801.1</a>, ...
</li>
<li>
Sextic fields <a href="?field_label=6.6.300125.1">6.6.300125.1</a>, 
<a href="?field_label=6.6.1397493.1">6.6.1397493.1</a>, ...
</li>
</ul>

<p>A <a href={{url_for('.random_hmf')}}>random Hilbert modular form</a> from the database</p>

<h2> Find a specific form by label </h2>

<form>
<input type='text' name='label' placeholder='2.2.5.1-31.1-a'>
<button type='submit'>Label</button>
<br><span class="formexample">e.g. 2.2.5.1-31.1-a </span>
</form>


<h2> Search </h2>

<form>
<table>
<tr>
<td>{{ KNOWL('nf', title='field') }}</td>  
<td><input type='text' name='field_label' placeholder='2.2.5.1' size=10>
<td><span class="formexample"> either a field label, e.g. 2.2.5.1 for
    \(\mathbb{Q}(\sqrt{5})\), or a nickname, e.g. Qsqrt5 </span></td>
</tr>
<tr>
<td>field {{ KNOWL('nf.degree', title='degree') }}</td>  
<td><input type='text' name='field_degree' placeholder='2' size=10>
<td><span class="formexample"> e.g. 2, 2..3</span></td>
</tr>
<tr>
<td>field {{ KNOWL('nf.discriminant', title='discriminant') }}</td>  
<td><input type='text' name='field_disc' placeholder='1..100' size=10>
<td><span class="formexample"> e.g. 1..100</span></td>
</tr>
<tr>
<td>{{ KNOWL('mf.hilbert.weight_vector', title='weight') }}</td>
<td><input type='text' name='weight' placeholder='[2,2]' size=10>
<td><span class="formexample"> e.g. 2 or [2,2]</td>
</tr>
<tr>
<td>{{ KNOWL('mf.hilbert.level_norm', title='level norm') }}</td>
<td><input type='text' name='level_norm' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1</td>
</tr>
<tr>
<td>{{ KNOWL('mf.hilbert.dimension', title='dimension') }}</td>
<td><input type='text' name='dimension' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1</td>
</tr>
<tr>
<td>Maximum number</td>
<td><input type='text' name='count' value=100 size=10></td>
<td><span class="formexample"> &nbsp;</td>
</tr>
<tr>
<td colspan=3><button type='submit' value='Search'>Search</button>
</td>
</tr>
</table>
</form>



{% endblock %}
