{% extends 'homepage.html' %}
{% block content %}

<h2> Further refine search </h2>

<form id='re-search'>
<input type="hidden" name="start" value="{{info.start}}"/>

<table border="0">

<tr>
<td>{{ KNOWL('nf', title='Field') }}</td>
<td>Field {{ KNOWL('nf.degree', title='degree') }}</td>
<td>Field {{ KNOWL('nf.discriminant', title='discriminant') }}</td>
<td>{{ KNOWL('mf.cm',title="CM") }}</td>
</tr>

<tr>
<td><input type='text' name='field_label' size=10 value={{info.field_label}}>
<td><input type='text' name='deg' size=10 value={{info.deg}}>
<td><input type='text' name='disc' size=10 value={{info.disc}}>
<td><select name='cm'>
{% if info.cm == "only" %}
       <option value="include">include</option>
       <option value="exclude">exclude</option>
       <option value="only" selected="yes">only</option>
{% elif info.cm == "exclude" %}
       <option value="include">include</option>
       <option value="exclude" selected="yes">exclude</option>
       <option value="only">only</option>
{% else %}
       <option value="include" selected="yes">include</option>
       <option value="exclude">exclude</option>
       <option value="only">only</option>
{% endif %}
    </select>
</td>
</tr>

<tr>
<td>{{ KNOWL('mf.hilbert.weight_vector', title='Weight') }}</td>
<td>{{ KNOWL('mf.hilbert.level_norm', title='Level norm') }}</td>
<td>{{ KNOWL('mf.hilbert.dimension', title='Dimension') }}</td>
<td>{{ KNOWL('mf.base_change',title="Base Change") }}</td>
</tr>
<tr>
<td><input type='text' name='weight' size=10 value={{info.weight}}>
<td><input type='text' name='level_norm' size=10 value={{info.level_norm}}>
<td><input type='text' name='dimension' size=10 value={{info.dimension}}>
<td><select name='bc'>
{% if info.bc == "only" %}
       <option value="include">include</option>
       <option value="exclude">exclude</option>
       <option value="only" selected>only</option>
{% elif info.bc == "exclude" %}
       <option value="include">include</option>
       <option value="exclude" selected>exclude</option>
       <option value="only">only</option>
{% else %}
       <option value="include" selected>include</option>
       <option value="exclude">exclude</option>
       <option value="only">only</option>
{% endif %}
    </select>
</td>
</tr>
<tr>
<td>Maximum number</td>
<td><input type='text' name='count' size=10 value={{info.count}}></td>
</tr>
<tr>
<td class="button"><button type='submit' value='Search'>Search again</button>
</td>
</tr>
</table>
</form>

{% if info.err is defined %}

<h2>Error</h2>
<div>
<!--  {{ info.err|safe }}-->
Either modify your search above or go <input type=button value="Back" onClick="history.go(-1)">
</div>

{% else %}

{% include 'matches.html' %}

{% if info.number > 0 %}

<table class="ntdata">
<tr>
<th>Label</th>
<th>{{ KNOWL('nf', title='Field') }}</th>
<th>{{ KNOWL('mf.hilbert.level_norm', title='Level') }}</th>
<th>{{ KNOWL('mf.hilbert.dimension', title='Dimension') }} </th>
</tr>
{% for form in info.results: %}
<tr>
<td align='left'><a href="{{url_for('hmf.render_hmf_webpage',field_label=form.field_label,label=form.label)}}">
  {{form.short_label}} </a></td>
<td>{{form.field_label}}</td>
<td>${{form.level_ideal}}$</td>
<td>{{form.dimension}}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<hr>
{% include 'forward_back.html' %}
<br>
{% endif %}
<!--
   <p class="tex2jax_ignore">
   Results for database query {{ info.query }}
   </p>
-->

{% endblock %}
