{% extends 'homepage.html' %}
{% block content %}

<h2>  Base field   {{ info.field.knowl()|safe }} </h2>
<p>
 {{ KNOWL('nf.generator', 'Generator') }} \({{
 info.field.generator_name() }}\), with {{
 KNOWL('nf.minimal_polynomial', 'minimal polynomial') }}
 \({{info.field_poly}}\); {{ KNOWL('nf.narrow_class_number', 'narrow class number')
 }} \({{info.hmf_field.narrow_class_no}}\) and {{ KNOWL('nf.class_number', 'class number')
 }} \({{info.field.class_number()}}\).
</p>


  <h2>  Form  </h2>

<p>
<table>
<tr><td>{{ KNOWL('mf.hilbert.weight_vector', title='Weight') }}<td> {{ info.weight }} </tr>
<tr><td> {{ KNOWL('mf.hilbert.level_norm', title='Level') }}<td> ${{ info.level_ideal }}$ </tr>
<tr><td> Label<td> {{ info.label }} </tr>
<tr><td> {{ KNOWL('mf.hilbert.dimension', title='Dimension') }}<td> {{ info.dimension }} </tr>
<tr><td> Is {{ KNOWL('mf.cm', title='CM') }}<td> {{ info.is_CM }} </tr>
<tr><td> Is {{ KNOWL('mf.base_change', title='base change') }}<td> {{ info.is_base_change }} </tr>
<tr><td> Parent newspace dimension<td> {{ info.newspace_dimension }} </tr>
</table>
</p>

{# 
 <p><a href='{{ info.label }}/download/magma' target='_blank'>Download to Magma</a></p>
 <p><a href='{{ info.label }}/download/sage' target='_blank'>Download to Sage</a></p>
#}


  <h2>  Hecke eigenvalues ({{ KNOWL('mf.hilbert.q_expansion', title='$q$-expansion') }}) </h2>

{% if info.dimension > 1 %}
<div>The Hecke eigenvalue field is $\Q(e)$ where $e$ is a root of the defining polynomial:</div> 
<div>{{ info.hecke_polynomial }}</div>

<p>&nbsp;&nbsp;<a href='{{ info.label }}?display_eigs=True&numeigs={{ info.numeigs }}'>Show full eigenvalues</a>
&nbsp;&nbsp;<a href='{{ info.label }}?display_eigs=False&numeigs={{ info.numeigs }}'>Hide large eigenvalues</a></p>

{% else %}
<div>The Hecke eigenvalue field is $\Q$</a>.</div>

{% endif %}

<style type="text/css">
div.scrollable {
    height: 100%;
    width: 100%;
    margin: 10;
    padding: 10;
}
</style>

<table class="ntdata" cellpadding=3 style="table-layout:fixed">
<tr>
<th>Norm</th>
<th>{{ KNOWL('nf.ideal.label.hmf', title='Prime') }} </th>
<th>Eigenvalue</th>
</tr>
{% for entry in info.eigs: %}
<tr>
<td>{{entry.prime_norm}}</td>
<td>${{entry.prime_ideal}}$</td>
<td>${{entry.eigenvalue}}$</td>
</tr>
{% endfor %}
</table>

<form>
<table>
<tr>
<td>Display number of eigenvalues</td>
<td><input type='text' name='numeigs' placeholder='20' size=10>
  <input type="hidden" name="display_eigs" value="{{ info.display_eigs }}">
</tr>
<tr>
<td colspan=3><button type='submit' value='display'>Display</button>
</td>
</tr>
</table>
</form>

<h2>  Atkin-Lehner eigenvalues  </h2>

{% if info.AL_eigs=='missing' %}
<p>
  The Atkin-Lehner eigenvalues for this form are not in the database.
</p>
{% elif info.AL_eigs=='none' %}
<p>
  This form has no Atkin-Lehner eigenvalues since the level is \((1)\).
</p>
{% else %}
<p>
<table class="ntdata" cellpadding=5>
<tr>
<th>Norm</th>
<th>Prime</th>
<th>Eigenvalue</th>
</tr>
{% for entry in info.AL_eigs: %}
<tr>
<td>{{entry.prime_norm}}</td>
<td>${{entry.prime_ideal}}$</td>
<td align=right>${{entry.eigenvalue}}$</td>
</tr>
{% endfor %}
</table>
</p>
{% endif %}



{% endblock %}
