{% extends 'homepage.html' %}
{% block content %}

<div>
  {{ info.stats.short_summary | safe }}
</div>

<h2> Browse </h2>

<table class="browse">
  <tr>
    <td>By <a href="{{url_for('hmf.statistics_by_degree', d=2)}}">quadratic base field</a>:</td>
    <td>
      <a href="?field_label=2.2.8.1">\(\Q(\sqrt{2})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.12.1">\(\Q(\sqrt{3})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.5.1">\(\Q(\sqrt{5})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.24.1">\(\Q(\sqrt{6})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.28.1">\(\Q(\sqrt{7})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.40.1">\(\Q(\sqrt{10})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.44.1">\(\Q(\sqrt{11})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.13.1">\(\Q(\sqrt{13})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.56.1">\(\Q(\sqrt{14})\)</a>&nbsp;&nbsp;
      <a href="?field_label=2.2.60.1">\(\Q(\sqrt{15})\)</a>&nbsp;&nbsp;
      $\cdots$
    </td>
  </tr><tr>
    <td>By <a href="{{url_for('hmf.statistics_by_degree', d=3)}}">cubic base field</a>:</td>
    <td>
      <a href="?field_label=3.3.49.1">$\Q(\zeta_7)^+$</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.81.1">$\Q(\zeta_9)^+$</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.148.1">3.3.148.1</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.169.1">3.3.169.1</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.229.1">3.3.229.1</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.257.1">3.3.257.1</a>&nbsp;&nbsp;
      <a href="?field_label=3.3.316.1">3.3.316.1</a>&nbsp;&nbsp;
      $\cdots$
    </td>
  </tr><tr>
    <td>By <a href="{{url_for('hmf.statistics_by_degree', d=4)}}">quartic base field</a>:</td>
    <td>
      <a href="?field_label=4.4.725.1">4.4.725.1</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.1125.1">$\Q(\zeta_{15})^+$</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.1600.1">$\Q(\sqrt{2},\sqrt{5})$</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.1957.1">4.4.1957.1</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.2000.1">$\Q(\zeta_{20})^+$</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.2048.1">$\Q(\zeta_{16})^+$</a>&nbsp;&nbsp;
      <a href="?field_label=4.4.2225.1">4.4.2225.1</a>&nbsp;&nbsp;
    </td>
  </tr><tr>
    <td>By <a href="{{url_for('hmf.statistics_by_degree', d=5)}}">quintic base field</a>:</td>
    <td>
      <a href="?field_label=5.5.14641.1">5.5.14641.1</a>&nbsp;&nbsp;
      <a href="?field_label=5.5.24217.1">5.5.24217.1</a>&nbsp;&nbsp;
      <a href="?field_label=5.5.36497.1">5.5.36497.1</a>&nbsp;&nbsp;
      <a href="?field_label=5.5.38569.1">5.5.38569.1</a>&nbsp;&nbsp;
      <a href="?field_label=5.5.65657.1">5.5.65657.1</a>&nbsp;&nbsp;
      <a href="?field_label=5.5.70601.1">5.5.70601.1</a>&nbsp;&nbsp;
      $\cdots$
    </td>
  </tr><tr>
    <td>By <a href="{{url_for('hmf.statistics_by_degree', d=6)}}">sextic base field</a>:</td>
    <td>
      <a href="?field_label=6.6.300125.1">6.6.300125.1</a>&nbsp;&nbsp;
      <a href="?field_label=6.6.371293.1">$\Q(\zeta_{13})^+$</a>&nbsp;&nbsp;
      <a href="?field_label=6.6.434581.1">6.6.434581.1</a>&nbsp;&nbsp;
      <a href="?field_label=6.6.453789.1">$\Q(\zeta_{21})^+$</a>&nbsp;&nbsp;
      <a href="?field_label=6.6.485125.1">6.6.485125.1</a>&nbsp;&nbsp;
      <a href="?field_label=6.6.592661.1">6.6.592661.1</a>&nbsp;&nbsp;
      $\cdots$
    </td>
  </tr><tr>
    <td colspan="2">Some <a href="{{url_for('.interesting')}}">interesting Hilbert modular forms</a> or a <a href={{url_for('.random_hmf')}}>random Hilbert modular form</a></td>
  </tr>
</table>

<h2> Search </h2>

<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
