{% extends 'homepage.html' %}
{% block content %}

<script>
var cur_system = null;
function show_code(system) {
    $('.sage').hide();
    $('.pari').hide();
    $('.magma').hide();
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>


    <div align ="right">
      Show commands for:  <a onclick="show_code('sage'); return false" href='#'>sage</a>,
        <a onclick="show_code('pari'); return false" href='#'>pari</a>,
        <a onclick="show_code('magma'); return false" href='#'>magma</a>
    </div>
    <div class='sage nodisplay code'>
    sage: E = EllipticCurve({{info.ainvs}})
    <br>sage: E.gens()
    <br>sage: E.torsion_subgroup().gens() 
    <br>sage: E.integral_points()
    <br>sage: E.conductor().factor()
    <br>sage: E.discriminant()
    <br>sage: E.j_invariant()
    <br>sage: E.rank()
    <br>sage: E.regulator()
    <br>sage: E.period_lattice().omega()
    <br>sage: E.tamagawa_numbers()
    <br>sage: E.torsion_order()
    <br>sage: E.sha().an_numerical()
    <br>sage: E.q_eigenform(10)
    <br>sage: E.lseries().dokchitser().derivative(1,{{info.rank}})/factorial({{info.rank}})
    <br>sage: E.plot()
    </div>

    <div class='pari nodisplay code'>
    ? E = ellinit({{info.ainvs}})
    <br>? Generators
    <br>? elltors(E)
    <br>? Integral points
    <br>? conductor
    <br>? E.disc
    <br>? E.j
    <br>? rank
    <br>? regulator
    <br>? omega
    <br>? tamagawa_numbers
    <br>? elltors(E)[1]
    <br>? sha
    <br>? q_eigenform
    <br>? L-function value
    </div>
    <div class='magma nodisplay code'>
    &gt; E := EllipticCurve({{info.ainvs}});
    <br>&gt; Generators(E);
    <br>&gt; TorsionSubgroup(E);
    <br>&gt; Discriminant(E);
    <br>&gt; jInvariant(E);
    <br>&gt; Rank(E);
    <br>&gt; Regulator(E);
    <br>&gt; RealPeriod(E);
    <br>&gt; TamagawaNumbers(E);
    <br>&gt; OrderTorsionSubgroup(E);
    <br>&gt; MordellWeilShaInformation(E);
    <br>&gt; ModularForm(E);
    </div>


    
    <h2> Minimal Weierstrass equation </h2>
    <p> {{ info.equation }} </p>

    <h2> Mordell-Weil Group structure</h2>
   <div>{% if info.rank==1 %}{% if info.torsion!=1 %} \(\mathbb{Z}\times {{info.tor_structure}}\) 
    {%endif%}  {%endif%}     </div>

    <div>{% if info.rank==1 %}{% if info.torsion==1 %}\(\mathbb{Z}\) {%endif%}  {%endif%} </div>
    <div> {% if info.rank !=0 and info.rank!=1 %} {% if info.torsion!=1 %}\(\mathbb{Z}^{{info.rank}} \times {{info.tor_structure}}\) {%endif%}  {%endif%} </div>
    <div> {% if info.rank !=0 and info.rank!=1%} {% if info.torsion==1 %} \(\mathbb{Z}^{{info.rank}}\){%endif%}  {%endif%} </div>
    <div> {% if info.rank ==0 %} {% if info.torsion!=1 %} \({{info.tor_structure}}\){%endif%}  {%endif%} </div>
    <div> {% if info.rank ==0 %} {% if info.torsion==1 %} Trivial {%endif%}  {%endif%} </div>
    
    {% if info.rank!=0 %}    
    <p><h3> Infinite order Mordell-Weil generators </h3>
    <p> {{ info.generators }} </p></p>
    {%endif %}
    
    {% if info.torsion!=1 %}    
    <p><h3> Torsion generators </h3>
    <p> {{ info.tor_gens }} </p></p>
    {%endif %}


    <h2> Integral points </h2>
    <p> {{ info.xintegral_points}} </p>
    
    <h2> Invariants </h2>
        <table>

        <tr>
        <td>
        </td>
        <td align='right'>\(N \)</td>
        <td>=</td>
        <td>\({{ info.cond_factor }}\)</td>
        </tr>

        <tr>
        <td>
        </td>
        <td align='right'>\(\Delta \)</td>
        <td>=</td>
        <td>\({{ info.disc_factor }} \)</td>
        </tr>

        <tr>
        <td>
        </td>
        <td align='right'>\(j \)</td>
        <td>=</td>
        <td>\({{ info.j_invar_factor }}\)</td>
        </tr>


       </table>

    <h2> BSD invariants </h2>
    <div></div>
    <p>
        <table>

        <tr>
        <td>
        </td>
        <td align='center'>\( r \)</td>
        <td>=</td>
        <td>{{ info.rank }}</td>
        <tr>

        <tr>
        <td>
        </td>
        <td align='center'> \( \text{Reg} \) </td>
        <td>=</td>
        <td>{{ info.regulator }}</td>
        <tr>

        <tr>
        <td>
        </td>
        <td align='center'>\( \Omega \)</td>
        <td>=</td>
        <td>{{ info.real_period }}</td>
        <tr>

        <tr>
        <td>
        </td>
        <td align='center'>\( \prod_p c_p \)</td>
        <td>=</td>
        <td>\( {{ info.tamagawa_numbers }} \)</td>
        <tr>

        <tr>
        <td>
        </td>
        <td align='center'>\( \#E_{tor} \)</td>
        <td>=</td>
        <td>{{ info.torsion }}</td>
        <tr>

        <tr>
        <td>
        </td>
        <td align='center'>&#1064;\(_{an} \) </td>
        <td>=</td>
        <td>{{ info.sha_an }}</td>
        <tr>

        </table>
    </p>

    <h2> Modular form </h2>
    <p>
        {{ info.f | safe }}
    </p>
    <p align="right">
        <a  href='{{info.download_qexp_url}}' target='_blank' >download coefficients</a>
    </p>

    <h2> \(L\)-function </h2>
    <p>
        \( {{ info.lder }} = {{ info.special_value }} \)
    </p>
    
    <h2> \( p \)-adic data </h2>
    <p>
        <select onchange="$('#padic').load('{{url_for('padic_data', label=info.label, p='xxx', rank=info.rank).replace('xxx', "'+this.value+'")}}', function() { MathJax.Hub.Queue(['Typeset',MathJax.Hub,'padic']);}); ">
        <option value=''>Choose a prime...</option>
        {% for p in info.p_adic_primes %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
        </select>
        <div id='padic'>
        </div>
    </p>

    <h2> Plot of the real part.  </h2>
    <div class='magma nodisplay code'> </div>
    <center>
    <img src="{{info.plot}}" />
    </center>
    
    
        
{% endblock %}
