{% extends 'homepage.html' %}

{% block content %}

<div >
<H1>Elliptic curves over \(\mathbb{Q}\)</H1>
</div>

<div id = "Content">
<h2> Browse </h2>


<p>
By conductor : 
<a href="?conductor={{'1-99'}}">{{'1-99'}}</a>,
<a href="?conductor={{'100-199'}}">{{'100-199'}}</a>,
<a href="?conductor={{'200-299'}}">{{'200-299'}}</a>,
<a href="?conductor={{'300-399'}}">{{'300-399'}}</a>
</p>
<p>
By rank:
{% for r in info.rank_list: %}
<a href="?rank={{r}}">{{r}}</a>
{% endfor %}
</p>
<p>
By size of torsion subgroup: 
{% for t in info.torsion_list: %}
<a href="?torsion={{t}}">{{t}}</a>
{% endfor %}
</p>


<h2> Jump to a specific curve or isogeny class</h2>
<form>
<input type='text' name='label' size=25>
<input type='submit' name='jump' value='label or isogeny class'>
<br>(e.g. 389a2 or 389a)
</form>

<h2> Search </h2>

<form>
<table>
<tr>
<td>Conductor</td><td> <input type='text' name='conductor'></td><td>(e.g. 389)</td>
</tr>
<tr>
<td>Torsion Order</td><td> <input type='text' name='torsion'></td><td>(e.g. 2)</td>
</tr>
<tr>
<td>Rank </td><td><input type='text' name='rank'></td><td>(e.g. 0)</td>
</tr>
<tr>
<td>Optimal </td><td><input type='checkbox' name='optimal'></td>
</tr>
</table>
<td><input type='submit' value='Search'></td>

</form>


</div>

{% endblock %}
