{% extends "homepage.html" %}

{% block content %}

<h2>Classical Crystal</h2>
<p>This is the classical highest weight crystal of type ${{ crystal.cartan_type() }}$ and highest weight {{ crystal.weight }}</p>

<!-- <a href="#" id="show_list">Show list</a> -->

<ul> <!--  id="list" style="display: none;"> -->
<p>
{{ crystal.list() }}
</p>
<p><strong>List:</strong></p>
{% for element in crystal %}
  <li>{{element._repr_()}}</li>
{% endfor %}
</ul>

<!--
<script>
$('#show_list').click(function(){
    $("#list").show();
    $("#show_list").toggle();
});
</script>
-->

{% endblock %}
