{% extends "homepage.html" %}

{% block content %}

<h2>Classical Crystal</h2>
<p>This is the classical highest weight crystal of type ${{ cartan_type }}_{{ rank}}$ and highest weight {{ weight }}</p>

<div>
<img src="/static/crystal.png"/>
</div>

<a href="#" id="show_list">Show list</a>

<ul id="list" style="display: none;">
{% for element in crystal %}
  <li>{{element}}</li>
{% endfor %}
</ul>

<script>
$('#show_list').click(function(){
    $("#list").show();
    $("#show_list").toggle();
});
</script>

{% endblock %}
