{% extends 'homepage.html' %}

{% block content %}

{% set KNOWL_ID = "mf.%s"|format(newform.label) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

<!-- Hecke field and algebraic q-expansion data -->

<h2> Defining parameters </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.elliptic.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>=</td>
    <td>\( {{ newform.level }}{{ newform.factored_level }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.weight', title='Weight') }}: </td>
    <td> \( k \) </td>
    <td>=</td>
    <td>\( {{ newform.weight }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.analytic_conductor', title='Analytic Conductor') }} </td>
    <td> \(A\) </td>
    <td>=</td>
    <td>\({{ newform.Nk2 }}\)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.character', title='Character') }} {{ KNOWL('character.dirichlet.galois_orbit_label', title='orbit label') }}: </td>
    <td> \([\chi]\) </td>
    <td>=</td>
    <td>{{ newform.level }}.{{ newform.char_orbit_label }}</td>
  </tr>
  <tr>
    <td> Representative {{ KNOWL('mf.elliptic.character', title='character') }}: </td>
    <td> \( \chi \) </td>
    <td>=</td>
    <td><a href="{{ newform.char_conrey_link | safe }}">\({{ newform.char_conrey_str }}\)</a> (minimal {{ KNOWL('character.dirichlet.conrey', title='Conrey label') }} in orbit)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.dimension', title='Dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.dim }}\)</td>
  </tr>
  {% if newform.char_degree > 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.relative_dimension', title='Relative dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.rel_dim }}\) over {{ newform.cyc_display() | safe }}</td>
  </tr>
  {% endif %}
  {% if newform.char_order == 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.fricke', title='Fricke eigenvalue') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.fricke_eigenval }}\)</td>
  </tr>
  {% endif %}
  {% if newform.has_analytic_rank %}
  <tr>
    <td> {{ KNOWL('lfunction.analytic_rank', title='Analytic rank') }}: </td>
    <td> </td>
    <td> </td>
    <td>{{ newform.analytic_rank }}</td>
  </tr>
  {% endif %}
  {% if newform.is_self_dual %}
  <tr>
    <td> {{ KNOWL('lfunction.self-dual', title='Self dual') }}: </td>
    <td> </td>
    <td> </td>
    <td>{% if newform.is_self_dual == 1 %}Yes{% else %}No{% endif %}</td>
  </tr>
</table>

<script>
function show_qexp(qstyle) {
    $('.smalloutput').hide();
    $('.mediumoutput').hide();
    $('.'+qstyle).show();
  }
</script>
{% if newform.has_exact_qexp %}

<div id="qexp">
  <h2> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h2>
  {% if newform.dim > 1 %}
  <p>The coefficients are expressed in terms of a basis of the coefficient ring described in the next section. {% if newform.dim > 1 %} Their {{ KNOWL('mf.elliptic.trace-expansion',title='traces') }} are integers. {% endif %}</p>
  {% endif %}
  <form id="qexp">
    <div class="smalloutput">
      <span id="small_qexp_display">\(f(q) =\) {{ newform.q_expansion(prec_max=10) | safe }}</span>
    </div>
    <div class="mediumoutput nodisplay">
      <span id="medium_qexp_display">\(f(q) =\) {{ newform.q_expansion(prec_max=100) | safe }}</span>
    </div>
    <br>
    {% if newform.dim > 1 %}
    <div class="smalloutput">
      <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=10) | safe }}</span>
    </div>
    <div class="mediumoutput nodisplay">
      <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=100) | safe }}</span>
    </div>
    {% endif %}

    <p>
      <div class="toggle">Display precision:
        <span class='smalloutput'><a onclick="show_qexp('mediumoutput'); return false" href='#'>100 coefficients</a></span>
        <span class='mediumoutput nodisplay'><a onclick="show_qexp('smalloutput'); return false" href='#'>10 coefficients</a></span>
      </div>
    </p>
  </form>

  <h2> {{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }} </h2>
  <div>
    {{ place_code('coefficient_field') }}
  </div>
  {% if newform.dim > 1 %}
  <!-- Coefficient code depends on existence of form -->
  <p> {{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }}: &nbsp &nbsp {{ newform.field_display() | safe }}, with {{ KNOWL('nf.defining_polynomial',title='defining polynomial') }} {{ newform.defining_polynomial() }}</p>
  <p class="short"> Basis of {{ KNOWL('mf.elliptic.coefficient_ring',title='coefficient ring') }}:</p> {{ newform.order_basis() | safe}}
  {% if newform.hecke_ring_index_proven %}
    {% if newform.hecke_ring_index == 1 %}
    <p> The coefficient ring is the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} in the coefficient field. </p>
    {% else %}
    <p> The index of the coefficient ring in the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} of the coefficient field is {{ newform.hecke_ring_index_factored }}. </p>
    {% endif %}
  {% elif newform.hecke_ring_index > 1 %}
    <p> The index of the coefficient ring in {{ KNOWL('nf.ring_of_integers',title='maximal order') }} of the coefficient field is a multiple of {{ newform.hecke_ring_index_factored }}. </p>
  {% endif %}
  {% else %}
  <p> The form has coefficients in {{ newform.field_display() | safe }}.</p>
  {% endif %}
</div>
{% else %}
<h2> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h2>
<p>The dimension is sufficiently large that we do not compute an algebraic \(q\)-expansion.</p>

<form id="qexp">
  <h4> {{ KNOWL('mf.elliptic.trace-expansion',title='Trace-expansion') }} </h4>
  <div class="smalloutput">
    <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=10) | safe }}</span>
  </div>
  <div class="mediumoutput nodisplay">
    <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=100) | safe }}</span>
  </div>

  <p>
    <div class="toggle">Display precision:
      <span class='smalloutput'><a onclick="show_qexp('mediumoutput'); return false" href='#'>100 coefficients</a></span>
      <span class='mediumoutput nodisplay'><a onclick="show_qexp('smalloutput'); return false" href='#'>10 coefficients</a></span>
    </div>
  </p>
</form>
{% endif %}

<!-- Complex embeddings and Satake parameters -->
{% if newform.has_complex_qexp %}
{% if info.format == 'embed' %}
<h2>{{ KNOWL('nf.embedding',title='Embeddings') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)\) are shown below.</p>
{% elif info.format == 'analytic_embed' %}
<h2>{{ KNOWL('nf.embedding',title='Embeddings') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)/n^{(k-1)/2}\) are shown below.</p>
{% elif info.format == 'satake' %}
<h2>{{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }} \(\alpha_p(f_m)\) are shown below.</p>
{% else %}
<h2>{{KNOWL('mf.elliptic.satake_parameters',title='Satake parameters')}}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake angles') }} \(\theta_p(f_m) = \textrm{Arg}(\alpha_p(f_m))\) are shown below.</p>
{% endif %}

<script>
function get_all_embeddings(num_embeddings) {
  m_inp = $('input[name=m]');
  m_inp.val('1-'+num_embeddings);
  $('form[id=complex_embeddings]').submit();
};
</script>

<div id="table-scroll-wrapper">
{% set single_columns = (info.format == 'satake_angle') %}
<table class="ntdata complex-cols">
  <thead>
    <tr>
      {% if newform.dim > 1 %}
      <th class="sticky-head dark">{{ KNOWL('mf.elliptic.embedding_label', title='Label') }}</th>
      {% if newform.has_exact_qexp %}
      <th class="sticky-head dark center" style="left: 60px;">\(\iota_m(\alpha)\)</th>
      {% endif %}
      {% endif %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <th class="center dark" colspan="{{1 if single_columns else 3}}">\( {{ newform.embed_header(n, format=info.format) }} \)</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if info.format == 'satake' or info.format == 'satake_angle' %}
    {% set headcol_rowspan = 2 %}
    {% else %}
    {% set headcol_rowspan = 1 %}
    {% endif %}
    {% for m in newform.m_range(info.CC_m) %}
    {% if loop.index is divisibleby(2) %}
    {% set shade = 'dark' %}
    {% else %}
    {% set shade = 'light' %}
    {% endif %}
    <tr>
      {% if newform.dim > 1 %}
      <td rowspan="{{headcol_rowspan}}" class="{{shade}} sticky-col{% if not newform.has_exact_qexp %} border-right{% endif %}">{{ newform.conrey_from_embedding(m) }}</td>
      {% if loop.index == 1 and newform.has_exact_qexp %}
      {# Because we're using CSS's sticky for the header columns, and splitting the embeddings into three in order to get alignment on the signs, we hack the horizontal spacing by using a subtable #}
      <td rowspan = "{{headcol_rowspan*(newform.m_range(info.CC_m) | length) }}" class="embedding-wrap sticky-col border-right" style="left: 60px;">
        <table class="sticky-embeddings">
          {% for mm in newform.m_range(info.CC_m) %}
          {% if loop.index is divisibleby(2) %}
          {% set mmshade = 'dark' %}
          {% else %}
          {% set mmshade = 'light' %}
          {% endif %}
          <tr>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} nowrap real">
              {{ newform.embedding_re(mm,prec=info.prec) }}
            </td>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} op">
              {{ newform.embedding_op(mm,prec=info.prec) }}
            </td>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} nowrap imag">
              {{ newform.embedding_im(mm,prec=info.prec) }}
            </td>
            {% if headcol_rowspan == 2 %}
            <td class="vstrut"> &#65279; </td> {# zero width non-breaking space #}
          </tr>
          <tr>
            <td class="vstrut"> &#65279; </td> {# zero width non-breaking space #}
            {% endif %} {# headcol_rowspan == 2 #}
          </tr>
          {% endfor %} {# mm loop #}
        </table>
      </td>
      {% endif %} {# loop.index == 1 and newform.has_exact_qexp #}
      {% endif %} {# newform.dim > 1 #}
      {% if info.format == 'embed' or info.format == 'analytic_embed' %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <td class="nowrap real">
        {{ newform.embedding_re(m,n,prec=info.prec,format=info.format) }}
      </td>
      <td class="op">
        {{ newform.embedding_op(m,n,prec=info.prec) }}
      </td>
      <td class="nowrap imag">
        {{ newform.embedding_im(m,n,prec=info.prec,format=info.format) }}
      </td>
      {% endfor %} {# n loop #}
      {% else %} {# info.format in ['satake', 'satake_angle'] #}
      {% for i in [0,1] %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      {% if info.format == 'satake' %}
      <td class="nowrap real">
        {{ newform.satake_re(m,n,i,prec=info.prec) }}
      </td>
      <td class="op">
        {{ newform.satake_op(m,n,i) }}
      </td>
      <td class="imag">
        {{ newform.satake_im(m,n,i,prec=info.prec) }}
      </td>
      {% else %} {# info.format == 'satake_angles' #}
      <td class="nowrap middle">
        {{ newform.satake_angle(m,n,i,prec=info.prec) }}
      </td>
      {% endif %} {# info.format #}
      {% endfor %} {# n loop #}
      {% if i == 0 %}
    </tr>
    <tr>
      {% endif %} {# i == 0 #}
      {% endfor %} {# i loop #}
      {% endif %} {# info.format #}
    </tr>
    {% endfor %} {# m loop #}
    {% if (newform.m_range(info.CC_m) | length) < newform.dim %}
    <tr>
      <td class="sticky-col" colspan="{{(2 if newform.has_exact_qexp else 1) + (1 if single_columns else 3) * (newform.an_range(info.CC_n, format=info.format) | length)}}">
        <a onclick="get_all_embeddings({{newform.dim}}); return false" href="#">See {{newform.dim - (newform.m_range(info.CC_m) | length)}} more embeddings</a>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>

{% if info.err %}

{% endif %}
<form id='complex_embeddings'>
  {% if newform.dim <= 4 %}
  <input type="hidden" name="m" value="{{info.m}}"/>
  {% endif %}
  <table>
    <tr>
      <td>\(n\): </td>
      <td><input type='text' name='n' style="width: 160px" value="{{info.n}}"></td>
    </tr>
    {% if newform.dim > 4 %}
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding',title='Embeddings') }}: </td>
      <td><input type='text' name='m' style="width: 160px" value="{{info.m}}"></td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ KNOWL('dq.mf.elliptic.cc_prec', title='Significant digits') }}: </td>
      <td><input type='text' name='prec' style="width: 160px" value="{{info.prec}}"></td>
    </tr>
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding_format',title='Format') }}: </td>
      <td><select name='format' style="width: 170px">
          <option value='embed' {% if info.format == 'embed' %}selected{% endif %}>Complex embeddings</option>
          <option value='analytic_embed' {% if info.format == 'analytic_embed' %}selected{% endif %}>Normalized embeddings</option>
          <option value='satake' {% if info.format == 'satake' %}selected{% endif %}>Satake parameters</option>
          <option value='satake_angle' {% if info.format == 'satake_angle' %}selected{% endif %}>Satake angles</option>
      </select></td>
    </tr>
  </table>
  <button id="refresh_complex">Refresh table</button>
</form>

{% endif %}

<!-- Removed old code on special values that didn't seem to be used -->

<!-- Explicit formulas were stored in the old database; need to be ported to knowls -->

{% if newform.has_further_properties %}
<h2>Further properties</h2>

{% if newform.is_cm != 0 %}
<p>This newform is
{{ "not" if newform.is_cm == -1 }}
a {{ KNOWL('mf.elliptic.cm_form',title='CM form' + ('*' if not newform.cm_proved else '')) }}{% if newform.is_cm == 1 %}, with CM by {{ newform.cm_field_knowl() |safe }}{% endif %}.</p>
{% endif %}

{% if newform.is_twist_minimal is defined %}
<p>This newform is {{ "not" if not newform.is_twist_minimal }} {{ KNOWL('mf.elliptic.minimal',title='twist minimal') }}.</p>
{% endif %}

{# TODO we might wish to have some disclaimer here about provability #}
{% if newform.has_inner_twist == 1 %}
<p>This newform admits {{ newform.inner_twist | length }} nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}.</p>
{% elif newform.has_inner_twist == -1 %}
<p>This newform does not admit any nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}.</p>
{% endif %}

{% if newform.char_orbit_index == 1 and newform.level != 1 %}
<p> It has {{ KNOWL('mf.elliptic.atkinlehner',title='Atkin-Lehner') }} eigenvalues given by</p>
<table class="ntdata">
  <thead>
    <tr>
      <th class="center"> \( p \) </th>
      <th class="center">Eigenvalue
    </tr>
  </thead>
  <tbody>
    {% for p, ev in newform.atkin_lehner_eigenvals %}
    <tr>
      <td class="center"> \({{ p }}\) </td>
      <td class="center"> \({{ ev }}\)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if newform.hecke_cutters %}
<p>This newform can be constructed as the {% if (newform.hecke_cutters | length) > 1 %}intersection of the kernels of the linear operators{% else %}kernel of the linear operator{% endif %} {{newform.display_hecke_cutters()}} acting on \(S_{{ '{' + newform.weight|string + '}' }}(\Gamma_0({{newform.level}}){% if not newform.trivial_character %}, \chi{% endif %})\).
{% endif %}
{% endif %}


<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
