{% extends 'homepage.html' %}

{% block content %}



{% set KNOWL_ID = "mf.%s"|format(newform.label) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

<!-- Hecke field and algebraic q-expansion data -->

<h2> {{KNOWL('mf.elliptic.newspace',title='Newspace')}} parameters </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.elliptic.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>=</td>
    <td>\( {{ newform.level }}{{ newform.factored_level }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.weight', title='Weight') }}: </td>
    <td> \( k \) </td>
    <td>=</td>
    <td>\( {{ newform.weight }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('character.dirichlet.galois_orbit_label', title='Character orbit') }}: </td>
    <td> \([\chi]\) </td>
    <td>=</td>
    <td>{{ newform.level }}.{{ newform.char_orbit_label }} ({% if newform.char_order == 1 %}trivial{% else %}of {{ KNOWL('character.dirichlet.order', title='order') }} \({{ newform.char_order }}\) and {{ KNOWL('character.dirichlet.degree', title='degree') }} \({{ newform.char_degree }}\){% endif %})</td>
  </tr>
  <tr>
    <td> Representative {{ KNOWL('mf.elliptic.character', title='character') }}: </td>
    <td> \( \chi \) </td>
    <td>=</td>
    <td><a href="{{ newform.char_conrey_link | safe }}">\({{ newform.char_conrey_str }}\)</a>{% if newform.char_degree > 1 %} (minimal {{ KNOWL('character.dirichlet.conrey', title='Conrey label') }} in orbit){% endif %}</td>
  </tr>
</table>

<h2> Invariants </h2>

<table>
  {% if newform.is_self_dual %}
  <tr>
    <td> {{ KNOWL('lfunction.self-dual', title='Self dual') }}: </td>
    <td> </td>
    <td> </td>
    <td>{% if newform.is_self_dual == 1 %}Yes{% else %}No{% endif %}</td>
  </tr>
  {% endif %}
  {% if newform.has_analytic_rank %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.analytic_rank', title='Analytic rank') }}: </td>
    <td> </td>
    <td> </td>
    <td>{{ newform.analytic_rank }}</td>
  </tr>
  {% endif %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.analytic_conductor', title='Analytic Conductor') }} </td>
    <td> \(A\) </td>
    <td>=</td>
    <td>\({{ newform.analytic_conductor }}\)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.dimension', title='Dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.dim }}\)</td>
  </tr>
  {% if newform.char_degree > 1 and newform.rel_dim > 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.relative_dimension', title='Relative dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.rel_dim }}\) over {{ newform.cyc_display() | safe }}</td>
  </tr>
  {% endif %}
  {% if newform.has_exact_qexp and newform.dim > 1 %}
  <!-- Coefficient code depends on existence of form -->
  <tr>
    <td> {{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }}: </td>
    <td> {{ newform.Qnu() }} </td>
    <td> {{ newform.Qeq() }} </td>
    <td> {{ newform.field_display() | safe }}</td>
  </tr>
  {% endif %}
  {% if newform.char_order == 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.fricke', title='Fricke eigenvalue') }}: </td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.fricke_eigenval }}\)</td>
  </tr>
  {% endif %}
  {% if newform.projective_image %}
  <tr>
    <td>{{ KNOWL('mf.elliptic.projective_image', title='Projective image')}}</td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.projective_image_latex }}\)</td>
  </tr>
  {% endif %}
  {% if newform.projective_field %}
  <tr>
    <td>{{ KNOWL('mf.elliptic.projective_field', title='Projective field')}}</td>
    <td> </td>
    <td> </td>
    <td>Galois closure of {{ newform.projective_field_display | safe }}</td>
  </tr>
  {% endif %}
  {% if newform.artin_degree %}
  <tr>
    <td>{{ KNOWL('mf.elliptic.artin_image', title='Artin image size') }}</td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.artin_degree }}\)</td>
  </tr>
  {% endif %}
  {% if newform.artin_image %}
  <tr>
    <td>{{ KNOWL('mf.elliptic.artin_image', title='Artin image') }}</td>
    <td> </td>
    <td> </td>
    <td>\({{ newform.artin_image_display }}\)</td>
  </tr>
  {% endif %}
  {% if newform.artin_field %}
  <tr>
    <td>{{ KNOWL('mf.elliptic.artin_field', title='Artin field')}}</td>
    <td> </td>
    <td> </td>
    <td>Galois closure of {{ newform.artin_field_display | safe }}</td>
  </tr>
  {% endif %}
</table>

<script>
function show_qexp(qstyle) {
    $('.smalloutput').hide();
    $('.mediumoutput').hide();
    $('.'+qstyle).show();
    var elementBottom = $('#qexp-anchor').offset().top + $('#qexp-anchor').outerHeight();
    var viewportTop = $(window).scrollTop();
    return elementBottom < viewportTop;
  }
</script>
{% if newform.has_exact_qexp %}

<h2 id="qexp-anchor"> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h2>
<div id="qexp">
  {% if newform.dim > 1 %}
    <p> Coefficients of the \(q\)-expansion are expressed in terms of {{ newform.order_gen() }}.
      We also show the integral \(q\)-expansion of the {{ KNOWL('mf.elliptic.trace-expansion',title='trace form') }}.</p>
  {% endif %}
  <form id="qexp">
    <table class="qexp-table">
      <tr>
        <td class="fdef">\(f(q)\)</td>
        <td class="op">&nbsp;\(=\)&nbsp;</td>
        <td class="output smalloutput">{{ newform.q_expansion(prec_max=10) | safe }}</td>
        <td class="output mediumoutput nodisplay">{{ newform.q_expansion(prec_max=100) | safe }}</td>
      </tr>
      {% if newform.dim > 1 %}
      <tr>
        <td class="topspace fdef">\(\operatorname{Tr}(f)(q)\)</td>
        <td class="op topspace">&nbsp;\(=\)&nbsp;</td>
        <td class="output topspace smalloutput">{{ newform.trace_expansion(prec_max=10) | safe }}</td>
        <td class="output topspace mediumoutput nodisplay">{{ newform.trace_expansion(prec_max=100) | safe }}</td>
      </tr>
      {% endif %}
    </table>

    <p>
      <div class="toggle">Display
        <span class='smalloutput'><a onclick="show_qexp('mediumoutput'); return false;" href='#'>100 coefficients</a></span>
        <span class='mediumoutput nodisplay'><a onclick="return show_qexp('smalloutput');" href='#qexp-anchor'>10 coefficients</a></span>
      </div>
    </p>
  </form>

  {% if newform.dim > 2 and not newform.hecke_ring_power_basis %}
    <p class="short"> Basis of {{ KNOWL('mf.elliptic.coefficient_ring',title='coefficient ring') }}{% if newform.field_poly_root_of_unity == 0 %} in terms of a root \(\nu\) of {{ newform.defining_polynomial() }}{% endif %}:</p>
    {{ newform.order_basis() | safe}}
  {% endif %}
  {% if newform.dim > 1 %}
  {% if newform.hecke_ring_index_proven %}
    {% if newform.hecke_ring_index == 1 %}
    <p> The coefficient ring is the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} in the coefficient field. </p>
    {% else %} {# newform.hecke_ring_index == 1 #}
    <p> The index of the coefficient ring in the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} of the coefficient field is {{ newform.hecke_ring_index_factored }}. </p>
    {% endif %} {# newform.hecke_ring_index == 1 #}
  {% elif newform.hecke_ring_index > 1 %}
    <p> The index of the coefficient ring in the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} of the coefficient field is a multiple of {{ newform.hecke_ring_index_factored }}. </p>
  {% endif %} {# newform.hecke_ring_index_proven #}
  {% endif %} {# newform.dim > 1 #}
</div>
{% else %}
<h2> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h2>
<p>The dimension is sufficiently large that we do not compute an algebraic \(q\)-expansion, but we have computed the {{ KNOWL('mf.elliptic.trace-expansion', title='trace expansion') }}.</p>

<form id="qexp">
  <table><tr><td>
  <div class="smalloutput">
    <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=10) | safe }}</span>
  </div>
  <div class="mediumoutput nodisplay">
    <span>\(\operatorname{Tr}(f)(q) = \) {{ newform.trace_expansion(prec_max=100) | safe }}</span>
  </div></td></tr></table>

  <p>
    <div class="toggle">Display precision:
      <span class='smalloutput'><a onclick="show_qexp('mediumoutput'); return false" href='#'>100 coefficients</a></span>
      <span class='mediumoutput nodisplay'><a onclick="show_qexp('smalloutput'); return false" href='#'>10 coefficients</a></span>
    </div>
  </p>
</form>
{% endif %}

{% if newform.char_order != 1 and (newform.dim <= 20 or newform.weight == 1) %}
<h2>Character Values</h2>
<p>We give the values of \(\chi\) on generators for \(\left(\mathbb{Z}/{{newform.level}}\mathbb{Z}\right)^\times\).</p>
<table class="ntdata">
  <tbody>
    {{ newform.display_character_values() | safe }}
  </tbody>
</table>
{% endif %}

<!-- Complex embeddings and Satake parameters -->
{% if newform.has_complex_qexp %}
{% if info.format == 'embed' %}
<h2>{{ KNOWL('nf.embedding',title='Embeddings') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, the values \(\iota_m(a_n)\) are shown below.</p>
{% elif info.format == 'analytic_embed' %}
<h2>{{ KNOWL('nf.embedding',title='Embeddings') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, the values \(\iota_m(a_n)/n^{(k-1)/2}\) are shown below.</p>
{% elif info.format == 'satake' %}
<h2>{{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }} \(\iota_m(\alpha_p)\) are shown below.</p>
{% else %}
<h2>{{KNOWL('mf.elliptic.satake_parameters',title='Satake parameters')}}</h2>
<p>For each {{ KNOWL('nf.embedding',title='embedding') }} \(\iota_m\) of the coefficient field, the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake angles') }} \(\theta_p = \textrm{Arg}(\iota_m(\alpha_p))\) are shown below.</p>
{% endif %}

<script>
function get_all_embeddings(num_embeddings) {
  m_inp = $('input[name=m]');
  m_inp.val('1-'+num_embeddings);
  $('form[id=complex_embeddings]').submit();
};
</script>

<div id="table-scroll-wrapper">
{% set single_columns = (info.format == 'satake_angle') %}
<table class="ntdata complex-cols">
  <thead>
    <tr>
      {% if newform.dim > 1 %}
      <th class="sticky-head dark" style="min-width: 40px;">{{ KNOWL('mf.elliptic.embedding_label', title='Label')}}</th>
      {% if newform.has_exact_qexp %}
      <th class="sticky-head dark center" style="left: 60px;">\(\iota_m(\alpha)\)</th>
      {% endif %}
      {% endif %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <th class="center dark" colspan="{{1 if single_columns else 3}}">\( {{ newform.embed_header(n, format=info.format) }} \)</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if info.format == 'satake' or info.format == 'satake_angle' %}
    {% set headcol_rowspan = 2 %}
    {% else %}
    {% set headcol_rowspan = 1 %}
    {% endif %}
    {% for m in newform.m_range(info.CC_m) %}
    {% if loop.index is divisibleby(2) %}
    {% set shade = 'dark' %}
    {% else %}
    {% set shade = 'light' %}
    {% endif %}
    <tr>
      {% if newform.dim > 1 %}
      <td rowspan="{{headcol_rowspan}}" class="{{shade}} sticky-col{% if not newform.has_exact_qexp %} border-right{% endif %}" style="min-width: 40px;">{{ newform.conrey_from_embedding(m) }}</td>
      {% if loop.index == 1 and newform.has_exact_qexp %}
      {# Because we're using CSS's sticky for the header columns, and splitting the embeddings into three in order to get alignment on the signs, we hack the horizontal spacing by using a subtable #}
      <td rowspan = "{{headcol_rowspan*(newform.m_range(info.CC_m) | length) }}" class="embedding-wrap sticky-col border-right" style="left: 60px;">
        <table class="sticky-embeddings">
          {% for mm in newform.m_range(info.CC_m) %}
          {% if loop.index is divisibleby(2) %}
          {% set mmshade = 'dark' %}
          {% else %}
          {% set mmshade = 'light' %}
          {% endif %}
          <tr>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} nowrap real">
              {{ newform.embedding_re(mm,prec=info.prec) | safe }}
            </td>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} op">
              {{ newform.embedding_op(mm,prec=info.prec) | safe }}
            </td>
            <td rowspan="{{headcol_rowspan}}" class="{{mmshade}} nowrap imag">
              {{ newform.embedding_im(mm,prec=info.prec) | safe }}
            </td>
            {% if headcol_rowspan == 2 %}
            <td class="vstrut"> &#65279; </td> {# zero width non-breaking space #}
          </tr>
          <tr>
            <td class="vstrut"> &#65279; </td> {# zero width non-breaking space #}
            {% endif %} {# headcol_rowspan == 2 #}
          </tr>
          {% endfor %} {# mm loop #}
        </table>
      </td>
      {% endif %} {# loop.index == 1 and newform.has_exact_qexp #}
      {% endif %} {# newform.dim > 1 #}
      {% if info.format == 'embed' or info.format == 'analytic_embed' %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <td class="nowrap real">
        {{ newform.embedding_re(m,n,prec=info.prec,format=info.format) | safe }}
      </td>
      <td class="op">
        {{ newform.embedding_op(m,n,prec=info.prec) | safe }}
      </td>
      <td class="nowrap imag">
        {{ newform.embedding_im(m,n,prec=info.prec,format=info.format) | safe }}
      </td>
      {% endfor %} {# n loop #}
      {% else %} {# info.format in ['satake', 'satake_angle'] #}
      {% for i in [0,1] %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      {% if info.format == 'satake' %}
      <td class="nowrap real">
        {{ newform.satake_re(m,n,i,prec=info.prec) | safe }}
      </td>
      <td class="op">
        {{ newform.satake_op(m,n,i) | safe }}
      </td>
      <td class="imag">
        {{ newform.satake_im(m,n,i,prec=info.prec) | safe }}
      </td>
      {% else %} {# info.format == 'satake_angles' #}
      <td class="nowrap middle">
        {{ newform.satake_angle(m,n,i,prec=info.prec) | safe }}
      </td>
      {% endif %} {# info.format #}
      {% endfor %} {# n loop #}
      {% if i == 0 %}
    </tr>
    <tr>
      {% endif %} {# i == 0 #}
      {% endfor %} {# i loop #}
      {% endif %} {# info.format #}
    </tr>
    {% endfor %} {# m loop #}
    {% if info.CC_m[0] == 1 and (newform.m_range(info.CC_m) | length) < 100 and (newform.m_range(info.CC_m) | length) < newform.dim %}
    <tr>
      <td class="sticky-col" colspan="{{(2 if newform.has_exact_qexp else 1) + (1 if single_columns else 3) * (newform.an_range(info.CC_n, format=info.format) | length)}}">
        {% if newform.dim > 100 %}
        <a onclick="get_all_embeddings({{100}}); return false" href="#">See next {{ 100 - (newform.m_range(info.CC_m) | length) }} embeddings (of {{newform.dim}} total)</a>
        {% else %}
        <a onclick="get_all_embeddings({{newform.dim}}); return false" href="#">See all {{newform.dim}} embeddings</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>

{% if info.err %}

{% endif %}
<form id='complex_embeddings'>
  {% if newform.dim <= 4 %}
  <input type="hidden" name="m" value="{{info.m}}"/>
  {% endif %}
  <table>
    <tr>
      <td>\(n\): </td>
      <td><input type='text' name='n' style="width: 160px" value="{{info.n}}"></td>
    </tr>
    {% if newform.dim > 4 %}
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding',title='Embeddings') }}: </td>
      <td><input type='text' name='m' style="width: 160px" value="{{info.m}}"></td>
    </tr>
    {% endif %}
    <tr>
      <td>{{ KNOWL('dq.mf.elliptic.cc_prec', title='Significant digits') }}: </td>
      <td><input type='text' name='prec' style="width: 160px" value="{{info.prec}}"></td>
    </tr>
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding_format',title='Format') }}: </td>
      <td><select name='format' style="width: 170px">
          <option value='embed' {% if info.format == 'embed' %}selected{% endif %}>Complex embeddings</option>
          <option value='analytic_embed' {% if info.format == 'analytic_embed' %}selected{% endif %}>Normalized embeddings</option>
          <option value='satake' {% if info.format == 'satake' %}selected{% endif %}>Satake parameters</option>
          <option value='satake_angle' {% if info.format == 'satake_angle' %}selected{% endif %}>Satake angles</option>
      </select></td>
    </tr>
  </table>
  <button id="refresh_complex">Refresh table</button>
</form>

{% endif %}

<!-- Removed old code on special values that didn't seem to be used -->

<!-- Explicit formulas were stored in the old database; need to be ported to knowls -->

{% if newform.has_further_properties %}
<h2>Further properties</h2>

{% if newform.is_cm != 0 %}
<p>This newform is
{{ "not" if newform.is_cm == -1 }}
a {{ KNOWL('mf.elliptic.cm_form',title='CM form' + ('*' if not newform.self_twist_proved else '')) }}{% if newform.is_cm == 1 %}, with CM by {{ newform.rm_and_cm_field_knowl(-1) |safe }}{% endif %}.</p>
{% endif %}
{% if newform.weight == 1 and newform.is_rm != 0 %}
<p>This newform is
{{ "not" if newform.is_rm == -1 }}
a {{ KNOWL('mf.elliptic.rm_form',title='RM form' + ('*' if not newform.self_twist_proved else '')) }}{% if newform.is_rm == 1 %}, with RM by {{ newform.rm_and_cm_field_knowl(1) |safe }}{% endif %}.</p>
{% endif %}

{% if newform.is_twist_minimal %}
<p>This newform is {{ "not" if not newform.is_twist_minimal }} {{ KNOWL('mf.elliptic.minimal',title='twist minimal') }}.</p>
{% endif %}

{# TODO we might wish to have some disclaimer here about provability #}
{% if newform.has_inner_twist == 1 %}
<p>This newform admits {{ newform.inner_twist | length }} nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}.</p>
{% elif newform.has_inner_twist == -1 %}
<p>This newform does not admit any nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}.</p>
{% endif %}

{% if newform.char_orbit_index == 1 and newform.level != 1 %}
<p> It has {{ KNOWL('mf.elliptic.atkinlehner',title='Atkin-Lehner') }} eigenvalues given by</p>
<table class="ntdata">
  <thead>
    <tr>
      <th class="center"> \( p \) </th>
      <th class="center">Eigenvalue
    </tr>
  </thead>
  <tbody>
    {% for p, ev in newform.atkin_lehner_eigenvals %}
    <tr>
      <td class="center"> \({{ p }}\) </td>
      <td class="center"> \({{ ev }}\)</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if newform.hecke_cutters %}
{{ newform.display_hecke_cutters() | safe }}
{% endif %}
{% endif %}


<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
