{% extends 'homepage.html' %}

{% block content %}

<h2> Defining parameters </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.elliptic.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>=</td>
    <td>\( {{ space.level }}{{ space.factored_level }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.weight', title='Weight') }}: </td>
    <td> \( k \) </td>
    <td>=</td>
    <td>\( {{ space.weight }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('character.dirichlet.galois_orbit_label', title='Character orbit') }}: </td>
    <td> \([\chi]\) </td>
    <td>=</td>
    <td>{{ space.level }}.{{ space.char_orbit_label }} ({% if space.char_order == 1 %}trivial{% else %}of {{ KNOWL('character.dirichlet.order', title='order') }} \({{ space.char_order }}\) and {{ KNOWL('character.dirichlet.degree', title='degree') }} \({{ space.char_degree }}\){% endif %})</td>
  </tr>
  <tr>
    <td> Representative {{ KNOWL('mf.elliptic.character', title='character') }}: </td>
    <td> \( \chi \) </td>
    <td>=</td>
    <td><a href="{{ space.char_conrey_link | safe }}">\({{ space.char_conrey_str }}\)</a>{% if space.char_degree > 1 %} (minimal {{ KNOWL('character.dirichlet.conrey', title='Conrey label') }} in orbit){% endif %}</td>
  </tr>
  {% if space.char_orbit_index != 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.character', title='Character') }} {{ KNOWL('character.dirichlet.conductor', title='conductor') }}: </td>
    <td> \(\operatorname{cond}(\chi)\) </td>
    <td>=</td>
    <td>\( {{ space.char_conductor }} \)</td>
  </tr>
  {% endif %}
  <tr>
  <tr>
    <td> {{ KNOWL('character.dirichlet.value_field', title='Character field') }}: </td>
    <td></td>
    <td></td>
    <td> \(\Q{% if space.char_degree != 1 %}(\zeta_{ {{space.char_order}} }){% endif %}\) </td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.sturm_bound', title='Sturm bound') }}: </td>
    <td></td>
    <td></td>
    <td> \({{ space.sturm_bound }}\) </td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.trace_bound', title='Trace bound') }}: </td>
    <td></td>
    <td></td>
    <td> \({{ space.trace_bound }}\) </td>
  </tr>
</table>

<h2> Dimensions </h2>

{% if space.odd_weight and space.char_parity == 1 %}

<p> There are no modular forms of weight {{ space.weight }} and character <a href="{{ space.char_conrey_link | safe }}">\({{ space.char_conrey_str }}\)</a> since the weight is odd while the character is {{ KNOWL('character.dirichlet.parity',title='even') }}.</p>

{% elif (not space.odd_weight) and space.char_parity == -1 %}

<p> There are no modular forms of weight {{ space.weight }} and character <a href="{{ space.char_conrey_link | safe }}">\({{ space.char_conrey_str }}\)</a> since the weight is even while the character is {{ KNOWL('character.dirichlet.parity',title='odd') }}.</p>

{% else %}

<p>The following table gives the dimensions of various {{ KNOWL('mf.elliptic.subspaces', title='subspaces') }} of \({{space.mf_latex()}}\).</p>

<table class="dimgrid">
  <thead>
    <tr>
      <th class="blank"></th>
      <th> Total </th>
      <th> New </th>
      <th> Old </th>
    </tr>
  </thead>
  <tbody>
    {% for X in ['M', 'S', 'E'] %}
    <tr>
      <th class="left"> {{info.space_type[X]}} </td>
      {% for typ in ['all','new','old'] %}
      <td> {{ space.dim_grid[X][typ] }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if space.trivial_character and space.level != 1  and space.dim > 0%}
<p>The following table gives the dimensions of the cuspidal new subspaces with specified eigenvalues for the {{ KNOWL('mf.elliptic.atkin-lehner',title='Atkin-Lehner operators') }}{% if space.factored_level %} and the {{ KNOWL('mf.elliptic.fricke',title='Fricke involution') }}{% endif %}.</p>

{{ space.ALdim_table() | safe }}
{% endif %}

{% endif %}

{% if space.dim > 0 %}
<h2> {{ KNOWL('mf.elliptic.decomposition.new.gamma0chi', title='Decomposition') }} of \({{ space.new_latex() }}\) into {{ KNOWL('mf.elliptic.hecke-orbit',title='irreducible Hecke orbits') }}</h2>

{% include 'cmf_newform_list.html' %}

{% endif %}

<!-- Definitions for coefficient fields -->

{% if space.dim_grid.S.old > 0 %}
<h2> {{ KNOWL('mf.elliptic.decomposition.old.gamma0chi', title='Decomposition') }} of \({{ space.old_latex() }}\) into {{ KNOWL('mf.elliptic.oldspace',title='lower level spaces')}}</h2>

<div class="center">
  \( {{ space.old_latex() }} \cong \) {{ space.oldspace_decomposition() | safe }}
</div>
{% endif %}

{% endblock %}
