{% extends 'homepage.html' %}

{% block content %}

<h2>Refine search </h2>

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<input type="hidden" name="count" value="{{info.count}}"/>
<input type="hidden" name="search_type" value="{{info.search_type}}"/>

<table>
  <tr>
    <td>{{ KNOWL('mf.elliptic.weight', title='Weight') }}
      <div class="float-right"><select name="weight_parity" class="simult_select" onchange="simult_change(event);">
        <option></option>
        <option value="even"{% if info.weight_parity == 'even' %} selected='yes'{% endif %}>even</option>
        <option value="odd"{% if info.weight_parity == 'odd' %} selected='yes'{% endif %}>odd</option>
      </select></div>
    </td>
    <td>{{ KNOWL('mf.elliptic.level', title='Level') }}</td>
    <td>{{ KNOWL('mf.elliptic.dimension', title='Dimension') }}</td>
    <td>{{ KNOWL('mf.elliptic.coefficient_field', title='Coefficient field') }}</td>
    <td>{{ KNOWL('mf.elliptic.analytic_conductor', title='Analytic conductor') }}</td>
  </tr>

  <tr>
    <td><input type='text' style="width: 140px;" name='weight' placeholder='2' value='{{info.weight}}'></td>
    <td><input type='text' style="width: 140px;" name='level' placeholder='4' value='{{info.level}}'></td>
    <td><input type='text' style="width: 140px;" name='dim' placeholder='1' value='{{info.dim}}'></td>
    <td><input type='text' style="width: 140px;" name='nf_label' placeholder='1.1.1.1' value='{{info.nf_label}}'></td>
    <td><input type='text' style="width: 140px;" name='analytic_conductor' placeholder='47' value='{{info.analytic_conductor}}'></td>
  </tr>

  <tr>
    <td>{{ KNOWL('mf.elliptic.character', title='Character') }}
      <div class="float-right"><select name="weight_parity" class="simult_select" onchange="simult_change(event);">
        <option></option>
        <option value="even"{% if info.char_parity == 'even' %} selected='yes'{% endif %}>even</option>
        <option value="odd"{% if info.char_parity == 'odd' %} selected='yes'{% endif %}>odd</option>
      </select></div>
    </td>
    <td>{{ KNOWL('mf.elliptic.bad_prime',title='Bad \(p\)') }}
      <div class="float-right"><select name='prime_quantifier'>
        <option value='subsets'{% if info.prime_quantifier == 'subsets' %} selected='yes'{% endif %}>subset of</option>
        <option value='exact'{% if info.prime_quantifier == 'exact' %} selected='yes'{% endif %}>equal to</option>
        <option value='append'{% if info.prime_quantifier == 'append' %} selected='yes'{% endif %}>superset of</option>
      </select></div>
    </td>
    <td>{{ KNOWL('character.dirichlet.primitive', title='Primitive character') }}</td>
    <td>{{ KNOWL('character.dirichlet.order', title='Character order') }}</td>
    <td>{{ KNOWL('mf.elliptic.analytic_rank', title='Analytic rank') }}</td>
  </tr>

  <tr>
    <td><input type='text' style="width: 140px;" name='char_label' placeholder='20.d' value='{{info.char_label}}'></td>
    <td><input type='text' name='level_primes' example='2,3' style="width: 140px" value="{{info.level_primes}}"></td>
    <td><input type='text' style="width: 140px;" name='prim_label' placeholder='1.a' value='{{info.prim_label}}'></td>
    <td><input type='text' style="width: 140px;" name='char_order' placeholder='1' value='{{info.char_order}}'></td>
    <td><input type='text' style="width: 140px;" name='analytic_rank' placeholder='1' value='{{info.analytic_rank}}'></td>
  </tr>

  <tr>
    <td>{{ KNOWL('mf.elliptic.cm_form', title='CM discriminant')}}</td>
    <td>{{ KNOWL('mf.elliptic.cm_form', title='Has CM') }}</td>
    {# <td>{{ KNOWL('mf.elliptic.minimal', title='Twist minimal') }}</td> #}
    <td>{{ KNOWL('mf.elliptic.inner_twist', title='Has inner twist') }}</td>
    <td>{{ KNOWL('lfunction.self-dual', title='Is self dual?') }}</td>
  </tr>

  <tr>
    <td><input type='text' style="width: 140px" name='cm_disc' placeholder='-3' value='{{info.cm_disc}}'></td>
    <td>
      <select name='is_cm' style="width: 150px;">
        <option value=""{% if not info.is_cm %} selected='yes'{% endif %}>unrestricted</option>
        <option value="yes"{% if info.is_cm == 'yes' %} selected='yes'{% endif %}>yes</option>
        <option value="not_no"{% if info.is_cm == 'not_no' %} selected='yes'{% endif %}>yes or unknown</option>
        <option value="unknown"{% if info.is_cm == 'unknown' %} selected='yes'{% endif %}>unknown</option>
        <option value="not_yes"{% if info.is_cm == 'not_yes' %} selected='yes'{% endif %}>no or unknown</option>
        <option value="no"{% if info.is_cm == 'no' %} selected='yes'{% endif %}>no</option>
      </select>
    </td>
    {#
    <td>
      <select name='is_twist_minimal' style="width: 150px;">
        <option></option>
        <option value="True"{% if info.is_twist_minimal == 'True' %} selected='yes' {% endif %}>True</option>
        <option value="False"{% if info.is_twist_minimal == 'False' %} selected='yes' {% endif %}>False</option>
      </select>
    </td>
    #}
    <td>
      <select name='has_inner_twist' style="width: 150px;">
        <option value=""{% if not info.has_inner_twist %} selected='yes'{% endif %}>unrestricted</option>
        <option value="yes"{% if info.has_inner_twist == 'yes' %} selected='yes'{% endif %}>yes</option>
        <option value="not_no"{% if info.has_inner_twist == 'not_no' %} selected='yes'{% endif %}>yes or unknown</option>
        <option value="unknown"{% if info.has_inner_twist == 'unknown' %} selected='yes'{% endif %}>unknown</option>
        <option value="not_yes"{% if info.has_inner_twist == 'not_yes' %} selected='yes'{% endif %}>no or unknown</option>
        <option value="no"{% if info.has_inner_twist == 'no' %} selected='yes'{% endif %}>no</option>
      </select>
    </td>
    <td>
      <select name='is_self_dual' style="width: 150px;">
        <option value=""{% if not info.is_self_dual %} selected='yes'{% endif %}>unrestricted</option>
        <option value="yes"{% if info.is_self_dual == 'yes' %} selected='yes'{% endif %}>yes</option>
        <option value="not_no"{% if info.is_self_dual == 'not_no' %} selected='yes'{% endif %}>yes or unknown</option>
        <option value="unknown"{% if info.is_self_dual == 'unknown' %} selected='yes'{% endif %}>unknown</option>
        <option value="not_yes"{% if info.is_self_dual == 'not_yes' %} selected='yes'{% endif %}>no or unknown</option>
        <option value="no"{% if info.is_self_dual == 'no' %} selected='yes'{% endif %}>no</option>
      </select>
    </td>
  </tr>
  <tr>
  </tr>
  <tr>
  </tr>
  <tr style="height:50px">
    <td class="button"><button type='submit' name='submit_again' value='refine' style="width: 110px">Search again</button></td>
    {% set search_types = [('List', 'List'), ('Dimensions', 'Dimension Table'), ('Traces', 'Traces Table'), ('Random', 'Random')] %}
    {% for type, desc in search_types %}
    {%if info.search_type != type %}
    <td class="button"><button type='submit' name='submit' value='{{ type }}'>{{ desc }}</button> &nbsp; &nbsp; </td>
    {% endif %}
    {% endfor %}
  </tr>
</table>
{% if info.search_type == 'Traces' %}
<br>
<table>
  <tr>
    <td colspan="2"> Columns to display </td>
    <td> Show </td>
    <td colspan="2"> Constraints </td>
    <tr>
      <td>
        <input type='text' style="width: 140px;" name='n' placeholder='1-20' value='{{info.n}}'>
      </td>
      <td style="width: 150px;">
        <span class="formexample"> e.g. 3,7,19, 40-90 </span>
      </td>
      <td>
        <select name='n_primality' style="width: 150px;">
          <option value="all" {{ "selected" if info.n_primality == 'all'}}>all</option>
          <option value="prime_powers" {{ "selected" if info.n_primality == 'prime_powers'}}>prime powers</option>
          <option value="primes" {{ "selected" if info.n_primality == 'primes'}}>primes only</option>
        </select>
      </td>
      <td>
        <input type='text' style="width: 140px;" name='an_constraints' placeholder='a3=2,a5=0' value='{{info.an_constraints}}'>
      </td>
      <td style="width: 150px;">
        <span class="formexample"> e.g. a17=1, a8=0 </span>
      </td>
    </tr>
</table>
{% endif %}
</form>

{% block show_results %}{% endblock %}
{% include 'debug_info.html' %}

{% endblock %}
