{% set has_na = [] %}
<div class="table-scroll-wrapper cmf-dim-table">
{% for X in info.cusp_types %}
{% for typ in info.newness_types %}
<table class="ntdata table_hidable table_{{X}}{{typ}}{% if X!='S' or typ!='new' %} nodisplay{% endif %}">
  <thead>
    <tr>
      <th class="level sticky-head" colspan={{info.level_width}}>
        Level
      </th>
      {# Have to separate the following since otherwise the sticky doesn't work correctly #}
      {% if info.level_extra %}
      <th colspan={{info.level_extra}}></th>
      {% endif %}
    </tr>
    <tr class="space">
      <th colspan=2 class="sticky-head"></th>
      {% for N in info.level_list %}
      <th class="center">{{N}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for k in info.weight_list %}
    <tr>
      {% if loop.index == 1 %}
      <th rowspan="{{ info.weight_list | length }}" class="sticky-col weight-label">
        <div class="table_rotate">
          Weight
        </div>
      </th>
      {% endif %}
      <th class="sticky-col border-right" style="left:25px;">{{k}}</th>
      {% for N in info.level_list %}
      <td class="center">
        {% if (N,k) in info.results %}
        {% if X=='S' and typ=='new' %}
        <a href="{{ info.url_generator(N, k) }}">{{ info.pick_table(info.results[N,k],X,typ) }}</a>
        {% else %}
        {{ info.pick_table(info.results[N,k],X,typ) }}
        {% endif %} {# X=='S' and typ=='new' #}
        {% else %}
        {% if not has_na %}
        {% do has_na.append(1) %}
        {% endif %}
        <small style="color:gray">n/a</small>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endfor %}
</div>
{% if has_na %}
<p>
  "n/a" means that not all modular forms matching the search criteria are available.
</p>
{% endif %}
