{% extends 'cmf_newform_common.html' %}

{% block subcontent %}
<a name="coefficient_data"></a>
<h2>Coefficient data</h2>

For each \(n\) we display the coefficients of the \(q\)-expansion \(a_n\), the
{{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }} \(\alpha_p\),
and the Satake angles \(\theta_p = \textrm{Arg}(\alpha_p)\).



<script>
  function show_primes_all_n(n, cl) {
    // hide everything
    $('.all').hide();
    $('.primes').hide();
    // swap colors
    $('.'+cl+'.light'+cl).switchClass("dark", "light");
    $('.'+cl+'.dark'+cl).switchClass("light", "dark");
    // swap header
    $('.header.' + cl).show();
    // swap noptions
    $('.noptions.' + cl).show();
    $('.' + cl+'.' + n).show();
  }
</script>

{% set class_n = [50, 100, 250, 1000] %}
{% set subsets = [('primes', 'only primes','\(p\)'), ('all', 'all \(n\)','\(n\)')]%}
{% set default_class = [50,'primes'] %}
{% macro render_display_options() %}
<div>
  {% for s in subsets %}
    {% for n in class_n %}
      {% set extra = 'nodisplay' %}
      {% if n == default_class[0] and s[0] == default_class[1] %}
        {% set extra = '' %}
      {% endif %}

      {# deals with the other options #}
      <div class="{{s[0]}} {{n|string}} {{extra}}" >
      See
      {% for ns in subsets %}
       {%if ns != s %}
         <a onclick="show_primes_all_n('{{n}}','{{ns[0]}}'); return true" href="#coefficient_data">{{ns[1]}}</a>
       {% endif %}
      {% endfor %} {# for ns in subsets #}
      </div>
      {% endfor %} {# for n in class_n #}
      {% set extra = 'nodisplay' %}
      {% if s[0] == default_class[1] %}
        {% set extra = '' %}
      {% endif %}
      <div class="noptions {{s[0]}} {{extra}}">
      Display {{s[2]}} up to:
      {% for k in class_n %}
      <a onclick="show_primes_all_n('{{k}}','{{s[0]}}'); return true" href="#coefficient_data">{{k}}</a>
      {% endfor %} {# for k in class_n #}
      </div>
  {% endfor %} {# for s in subsets #}
</div>
{% endmacro %}
{{ render_display_options() }}


{# we need to fix the coloring #}
<div class="table-scroll-wrapper">
  <table class="ntdata complex-cols">
    <thead>
      <tr class="header all nodisplay">
        <th>
          \(n\)
        </th>
        <th class='center' colspan="3">
          \(a_n\)
        </th>
        <th class='center' colspan="3">
          \(a_n / n^{(k-1)/2}\)
        </th>
        <th class='center' colspan="3">
          \( \alpha_n \)
        </th>
        <th class='center'>
          \( \theta_n \)
        </th>
      </tr>
      <tr class="header primes">
        <th>
          \(p\)
        </th>
        <th class='center' colspan="3">
          \(a_p\)
        </th>
        <th class='center' colspan="3">
          \(a_p / p^{(k-1)/2}\)
        </th>
        <th class='center' colspan="3">
          \( \alpha_p\)
        </th>
        <th class='center'>
          \( \theta_p \)
        </th>
      </tr>
      <tr class="display" style="padding:0px; height:0px">
        <th colspan="11" style="padding:0px; height:0px" ></th>
      </tr>
      {# FIXME: mssing line #}
    </thead>
    <tbody>
      {% set m = newform.embedding_m %}
      {% set pindex = 1 %}
      {% for n in range(2,1000) %}
      {% set classes = ["all"] %}
      {% if n in newform.character_values %} {# n is a prime that doesn't divide the level #}
      {% set rowspan = 2 %}
      {% do classes.append("primes") %}
      {% if pindex is divisibleby(2) %}
      {% set shadep = 'darkprimes' %}
      {% else %}
      {% set shadep = 'lightprimes' %}
      {% endif %}
      {% set pindex = pindex + 1 %}
      {% else %}
      {% set shadep = 'noshadeprimes' %}
      {% set rowspan = 1 %}
      {% do classes.append("nodisplay") %}
      {% endif %}

        {% if loop.index is divisibleby(2) %}
          {% set shaden = 'darkall' %}
          {% set shade = 'dark' %}
        {% else %}
          {% set shaden = 'lightall' %}
          {% set shade = 'light' %}
        {% endif %}
        {% set allshades = shade + ' ' + shaden + ' ' + shadep %}
        {% for cn in class_n %}
          {% if n <= cn %}
            {% do classes.append(cn|string) %}
          {% endif %}
        {% endfor %}
        {% if n > default_class[0] %}
          {% do classes.append("nodisplay") %}
        {% endif %}

        {% set class = classes|join(" ") %}

        <tr class="{{class}}">
          <td rowspan="{{rowspan}}" class="{{allshades}}">
            \({{n}}\)
          </td>
          {% set an_formats = ['embed', 'analytic_embed'] %}
          {% for format in an_formats %}
            <td rowspan="{{rowspan}}" class="nowrap real {{allshades}}">
              {{ newform.embedding_re(m, n, prec=info.emb_prec, format=format) | safe }}
            </td>
            <td rowspan="{{rowspan}}" class="op {{allshades}}">
              {{ newform.embedding_op(m, n, prec=info.emb_prec) | safe }}
            </td>
            <td rowspan="{{rowspan}}" class="nowrap imag {{allshades}}">
              {{ newform.embedding_im(m, n, prec=info.emb_prec, format=format) | safe }}
            </td>
          {% endfor %}
          {% if rowspan == 2 %} {# if n is prime #}
           {% for i in [0,1] %}
            {%if i == 1 %}
              <tr class="{{class}} {{allshades}}">
            {% endif %}
            <td class="nowrap real {{allshades}}">
              {{ newform.satake_re(m,n,i,prec=info.emb_prec) | safe }}
            </td>
            <td class="op {{allshades}}">
              {{ newform.satake_op(m,n,i) | safe }}
            </td>
            <td class="imag {{allshades}}">
              {{ newform.satake_im(m,n,i,prec=info.emb_prec) | safe }}
            </td>
            <td class="nowrap right {{allshades}}">
              {{ newform.satake_angle(m,n,i,prec=info.emb_prec) | safe }}
            </td>
            </tr>
           {% endfor %}
          {% else %}
            </tr>
          {% endif %}
    {% endfor %} {# n in info.CC_n #}
    </tbody>
  </table>
</div>
{{ render_display_options() }}

<form id='complex_embeddings'>
  <table>
    <tr>
      <td>{{ KNOWL('dq.mf.elliptic.cc_prec', title='Significant digits') }}: </td>
      <td><input type='text' name='prec' style="width: 160px" value="{{info.prec}}" placeholder="6"></td>
      <td><button id="refresh_complex">Refresh table</button></td>
    </tr>
  </table>
</form>





{% endblock %}
