{% extends "homepage.html" %}
{% block content %}

<div>
The database contains {{dbcount}} {{KNOWL('mf.maass.mwf.weight0','Maass forms')}} of weight 0 on $\Gamma_0(N)$ for $N$ in the range from 1 to 997.
</div>

<h2>Browse Maass forms of weight 0 on </h2>
  <ul>
    <li><a href="{{ url_for('.browse_graph',min_level = 1,max_level= 10,min_R = 0,max_R = 10) }}">$\Gamma_0(N)$ with $1\leq N\leq 10$ and $0\le R \le 10$</a>;</li>
    <li><a href="{{ url_for('.browse_graph',min_level = 1,max_level= 15, min_R = 0,max_R = 15) }}">$\Gamma_0(N)$ with $1\leq N\leq 15$ and $0\le R \le 15$</a>;</li>
    <li><a href="{{ url_for('.browse_graph',min_level = 10,max_level= 100, min_R = 0,max_R = 4) }}">$\Gamma_0(N)$ with $10\leq N< 100$ and $0\le R \le 4$  </a>;</li>
    <li><a href="{{ url_for('.browse_graph', min_level = 100, max_level= 1090, min_R = 0,max_R = 1) }}">$\Gamma_0(p)$ for prime levels $p$ with $100\leq p \leq 1000$ and $0\leq R\leq 1$</a>.</li>
  </ul>

  <p>Some <a href="{{url_for('.interesting')}}">interesting Maass forms</a> or a <a href={{url_for('.random')}}>random Maass form</a></p>


<h2> Search</h2>

<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

{% endblock %}
