{% extends "homepage.html" %}

{% block content %}

<script type="text/javascript">
  function maass_switch(r) {
    $(".maassrow").hide();
    $(".maassrow" + r).show();
    return false;
  }
</script>

<h2>{{ KNOWL('mf.maass.mwf', 'Maass form') }} invariants</h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.maass.mwf.level', 'Level') }}: </td>
    <td>{{ mf.factored_level }}</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.maass.mwf.weight', 'Weight') }}: </td>
    <td>\( {{ mf.weight }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('character.dirichlet.conrey', 'Character') }}: </td>
    <td> {{ mf.character_link | safe }} </td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.maass.mwf.symmetry', 'Symmetry') }}: </td>
    <td> {{ mf.symmetry_pretty }}</td>
  </tr>
  {% if mf.conrey_index == 1 %}
  <tr>
    <td> {{ KNOWL('cmf.fricke', 'Fricke sign') }}: </td>
    <td> {{ mf.fricke_pretty }} </td>
  </tr>
  {% endif %}
  <tr>
    <td> {{ KNOWL('mf.maass.mwf.spectralparameter', title='Spectral parameter') }}: </td>
    <td> {{ mf.web_spectral_line | safe }} </td>
  </tr>
</table>

<h2>Maass form {{KNOWL('mf.maass.mwf.coefficients','coefficients')}}</h2>

<p>
  The coefficients here are shown to at most $8$ digits of precision.
  Full precision coefficients are available in the downloads.
</p>


{{ mf.coefficient_table(20, 3) | safe }}

{% endblock content %}
