{% extends "homepage.html" %}
{% block content %}

<style>
#outerdiv
{
  width:100%;
  height:500px;
  overflow:hidden;
  position:relative;
}

#iframe1
{
  position:absolute;
  left:-210px;
  width:100%;
  height:500px;
}

#iframe2
{
  position:absolute;
  left:-210px;
  width:100%;
  height:500px;
}
</style>

<p>Please browse to an object in each of the two frames below, then click the tensor product button at the bottom:</p>
<div id='outerdiv'>
  {% if type1 == 'EllipticCurve' %}
    <iframe id='iframe1' src={{ url_for('EC_toplevel')}} ></iframe>
  {% elif type1 == 'Character/Dirichlet' %}
    <iframe id='iframe1' src={{ url_character() }}></iframe>
  {% endif %}
</div></br>

<div id='outerdiv'>
  {% if type2 == 'EllipticCurve' %}
    <iframe id='iframe2' src={{ url_for('EC_toplevel')}}></iframe></br>
  {% elif type2 == 'Character/Dirichlet' %}
    <iframe id='iframe2' src={{ url_character() }}></iframe></br>
  {% endif %}
</div></br>

<form action='/TensorProducts/show/'>
  <input id='obj1input' type='hidden' name='obj1'>
  <input id='obj2input' type='hidden' name='obj2'>
  Once both frames have loaded, you can <button id='submitbutton'>tensor these.</button>
</form>

<script type='text/javascript'>
function getNiceLabelFromURL(loc)  {

  if (loc.href.indexOf('EllipticCurve')!=-1) {
    if (loc.href.indexOf('label=')!=-1) {
      // seems that ell curve has been referenced by a label, extract it
      var endLab = loc.href.split('label=')[1].split('&')[0];
      var base = 'EllipticCurve/Q/';
      return base.concat(endLab);
    }
    else {
      // at time of writing, it seems that if label is not passed as an argument then we must have a link of the form EllipticCure/Q/<label> already
      var endLab = loc.href.split('EllipticCurve/Q/')[1]; // to remove http and hostname
      var base = 'EllipticCurve/Q/';
      return base.concat(endLab);
    }
  }

  else if (loc.href.indexOf('Character/Dirichlet')!=-1) {
    // seems that it's only possible to reference Dirichlet character as  
    var endLab = loc.href.split('Character/Dirichlet/')[1]; // to remote http and hostname
    var base = 'Character/Dirichlet/';
    return base.concat(endLab);
  }
}

  document.getElementById('submitbutton').onclick = function() {
    var loc1 = document.getElementById('iframe1').contentWindow.location;
    var loc2 = document.getElementById('iframe2').contentWindow.location;
    
    var lab1 = getNiceLabelFromURL(loc1);
    var lab2 = getNiceLabelFromURL(loc2);

    document.getElementById('obj1input').value = lab1;
    document.getElementById('obj2input').value = lab2; 
  }

</script>

 
{% endblock content %}
