{% extends "homepage.html" %}
{% block content %}
<p> Please select two types of objects to form their tensor product: </p>
<form action={{url_for(".navigate")}}>
  <select name='type1'>
    <option value={{url_for('characters.render_characterNavigation')}}>Dirichlet Character</option>
    <option value={{url_for('ec.rational_elliptic_curves')}}>Elliptic Curve</option>
    <option value={{url_for('cmf.index')}}>Holomorphic cusp form</option>
    <option value={{url_for('artin_representations.index')}}>Artin representation</option>
  </select>

  <select name='type2'>
    <option value={{url_for('characters.render_characterNavigation')}}>Dirichlet Character</option>
    <option value={{url_for('ec.rational_elliptic_curves')}}>Elliptic Curve</option>
    <option value={{url_for('cmf.index')}}>Holomorphic cusp form</option>
    <option value={{url_for('artin_representations.index')}}>Artin representation</option>
  </select>

  <button type='submit'>Go to navigation pages</button>
{% endblock content %}
