{% extends "homepage.html" %}
{% block content %}
<p> Please select two types of object to form the tensor product of: </p>
<form action='/TensorProducts/navigate/'>
  <select name='type1'>
    <option value="/Character">Dirichlet Character</option>
    <option value="/EllipticCurve/Q">Elliptic Curve</option>
    <option value="/ModularForm/GL2/Q/holomorphic">Holomorphic cusp form</option>
    <option value="/ArtinRepresentation">Artin representation</option>
  </select>

  <select name='type2'>
    <option value="/Character">Dirichlet Character</option>
    <option value="/EllipticCurve/Q">Elliptic Curve</option>
    <option value="/ModularForm/GL2/Q/holomorphic">Holomorphic cusp form</option>
    <option value="/ArtinRepresentation">Artin representation</option>
  </select>

  <button type='submit'>Go to navigation pages</button>
{% endblock content %}
