{% extends 'homepage.html' %}
{% block content %}

<div>
  The database contains examples of scalar and vector
  valued {{KNOWL('mf.siegel',title='Siegel modular forms')}}, as well as
  dimension formulas for spaces of Siegel modular forms.  The examples
  that are not {{KNOWL('mf.siegeil.lift',title='lifts')}} represent most of
  the known examples that have appeared in the literature.
</div>

<h2>Browse spaces</h2>
<p>
For each of the following spaces we give explicit examples of {{KNOWL('mf.siegel',title='Siegel modular forms')}},
as well as dimension formulas and some additional information:
</p>
<p>
<a href="{{url_for('.by_label',label='Sp4Z_j')}}">$M_{k,j}\left(\textrm{Sp}(4,\mathbb{Z})\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Sp6Z')}}">$M_{k}\left(\textrm{Sp}(6,\mathbb{Z})\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Sp8Z')}}">$M_k\left(\textrm{Sp}(8,\mathbb{Z})\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Kp')}}">$M_2\left(K(p)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
</p>

<p>
For the following spaces we provide dimension tables, decompositions, and some additional information.
</p>
<p>
<a href="{{url_for('.by_label',label='Gamma0_2')}}">$M_{k,j}\left(\Gamma_0(2)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma1_2')}}">$M_{k,j}\left(\Gamma_1(2)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma_2')}}">$M_{k,j}\left(\Gamma(2)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma0_3')}}">$M_k\left(\Gamma_0(3)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma0_3_psi_3')}}">$M_k\left(\Gamma_0(3),\psi_3\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma0_4')}}">$M_k\left(\Gamma_0(4)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma0_4_psi_4')}}">$M_k\left(\Gamma_0(4),\psi_4\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{url_for('.by_label',label='Gamma0_4_half')}}">$M_{k-1/2}\left(\Gamma_0(4)\right)$</a>&nbsp;&nbsp;&nbsp;&nbsp;
</p>

<h2>Browse dimension tables</h2>

{% include 'includes/form_for_dimension_table_search.html' %}

<h2>Browse example forms</h2>

<p>View a <a href="{{url_for('.random_sample')}}">random example</a> from the database.</p>

<form>
<table>
  <tr>
    <td>Degree <input name="deg" size=9.5 placeholder="2" value="{{info.args.deg}}"></td>
    <td>$k$ <input name="wt" size=10 placeholder="4..16" value="{{info.args.wt}}"></td>
    <td>Field degree <input name="fdeg" size=3 placeholder="1" value="{{info.args.fdeg}}"></td>
    <td><button type="submit" style="width: 110px"name="search" value="1">Find examples</button></td>
  </tr>
</table>
</form>

{% endblock %}
