{% extends 'homepage.html' %}


{% macro print_complex(z): -%}
{% if z[1] == 0: %}
{{ z[0] }}
{% else %}
    {% if z[0] == 0: %}
        {{ z[1] }}i
        {% else %}
          {{z[0]}} + {{z[1]}}i
    {% endif %}
{% endif %}
{%- endmacro %}

{% macro print_complex_list(L) -%}
{% for z in L %}
{{print_complex(z)}},
{% endfor %}
{%- endmacro %}

{% macro Lfunction_to_html_in_table(L): -%}
{% if L.special.type == "dirichlet" %}
    <td><a href="{{url_for("l_functions.l_function_dirichlet_page", modulus=L.special.modulus, number=L.special.number)}}">
            {{L.first_zero}}</a></td>
    <td>{{L.degree}}</td>
    <td>{{L.level}}</td>
    <td>{{L.signature}}</td>
    <td><a href="/Character/Dirichlet/{{L.special.modulus}}/{{L.special.number}}">
               Dirichlet character number {{L.special.number}} mod {{L.special.modulus}}</a></td>
{% elif L.special.type == "elliptic" %}
    <td><a href="{{url_for("l_functions.l_function_ec_page_label", label=L.special.label)}}">{{L.first_zero}}</a></td>
    <td>{{L.degree}}</td>
    <td>{{L.level}}</td>
    <td>{{L.signature}}</td>
    <td><a href="{{url_for("ec.by_ec_label", label=L.special.label)}}1">Elliptic curve {{L.special.label}}1</a></td>
{% endif %}
{%- endmacro %}


{% block content %}
<form>
<p>
NOTE: This is only a beta version with a small selection of elliptic curve and Dirichlet L-functions
included.
</p>
Degree: <input type="text" name="degree" size="5" value={{request.args.degree}}>
Level: <input type="text" name="level" size="5" value={{request.args.level}}><br>
Zero lower bound: <input type="text" name="zerolowerbound" size="5" value={{request.args.zerolowerbound}}>
Zero upper bound: <input type="text" name="zeroupperbound" size="5" value={{request.args.zeroupperbound}}>
<button type="submit" value="Filter">Search</button>
</form>

<div class="pagination">
  {%- if pagination.has_previous %}
    <a href="{{ pagination.previous }}">&laquo; Previous</a>
  {%- else %}
    <span class="inactive">&laquo; Previous</span>
  {% endif %}
  | {{ pagination.page }} |
  {% if pagination.has_next %}
    <a href="{{ pagination.next }}">Next &raquo;</a>
  {%- else %}
   <span class="inactive">Next &raquo;</span>
  {% endif %}
</div>
<style>
.zerosearch a {display:inline;}
</style>
<table class="ntdata zerosearch">
    <thead>
    {% if request.args.direction=="up" %}
    <tr><td><a href={{url_for(".query", degree=request.args.degree, level=request.args.level, zerolowerbound=request.args.zerolowerbound, zeroupperbound=request.args.zeroupperbound, sort="first_zero", direction="down", page=request.args.get('page', 1))}}>First zero</a></td><td>Degree</td><td>&nbsp;level</td><td>Signature</td><td>Underlying object</td></tr>
    {% else %}
    <tr><td><a href={{url_for(".query", degree=request.args.degree, level=request.args.level, zerolowerbound=request.args.zerolowerbound, zeroupperbound=request.args.zeroupperbound, sort="first_zero", direction="up", page=request.args.get('page', 1))}}>First zero</a></td><td>Degree</td><td>&nbsp;level</td><td>Signature</td><td>Underlying object</td></tr>
    {% endif %}
    </thead>
    {% for L in pagination.entries %}
        <tr class="{{loop.cycle('odd', 'even')}}">
        {#<tr class="{{loop.cycle('odd', 'odd', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'even', 'even')}}">#}
        {{Lfunction_to_html_in_table(L)}}
        </tr>
    {% endfor %}
</table>
{% endblock %}
