{% extends 'homepage.html' %}

{% block content %}


<h1>Browse {{KNOWL('mf.maass.picard',title='Maass forms on \(\mathrm{PSL}(2,\mathbb{Z}[i])\)')}}</h1>
{% if table is defined %}

{#{ table | safe }#}
<h2>{{KNOWL('mf.maass.picard.eigenvalue',title='Eigenvalues:')}}</h2>
<table class="ntdata">
  <thead>
    {% for i in range(0,nrows-1) %}
    <tr>
      {% for j in range(0,ncols-1) %}
       {% set elt = table[i][j] %}
      <td><a href="{{ elt['url'] }}">{{elt['name']}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
   </thead>
   <tbody>

   </tbody>
 </table>

{% endif %}
<h1>Find a specific Maass form</h1>
<table>
  <tr>
    <td>
      <form name="search" method = "post" action="{{url_for('.render_picard_maass_forms')}}">	  
        <input type="text" name="jump_to" value="" placeholder="13"> <span class="formexample">(13 gives the 13th entry)</span>
        <button type="submit" value="Jump">Find</button>
      </form>
    </td>
  </tr>
</table>
<h1>Search</h1>
<table>
  <tr>
    <td>
      <form name="search" method = "post" action="{{url_for('.render_picard_maass_forms')}}">
	<input type="hidden" name="search" value="true"> 
	<input type="hidden" name="rec_start" value="0"> 
	<table class="">
	  <tr>
	    <td>{{KNOWL('mf.maass.picard.eigenvalue',title='Eigenvalues')}} in range:</td>
	    <td> 
	      <input type="text" name="ev_range" value="" placeholder="9.5..10.5">
            </td>
	  </tr>
	  <tr>
	    <td>{{KNOWL('mf.maass.picard.fourierexpansion',title='Fourier coefficient')}} :{{KNOWL('mf.maass.picard.search.coefficients', title='$\Re(n),\Im(n)$')}}</td>
	    <td> 
	      <input type="text" name="fouriier_p" value="" placeholder="2,2">
            </td>
	    <td align="left"> 
              in range
	      <input type="text" name="coeff_range" value="" placeholder="1.5..1.75">
            </td>
	  </tr>
          <tr>
	    <td>
	      <button type="submit" name="Submit" value="Search">Search</button>
	    </td>
	    <td scope="col" colspan="2">
	      Show number of records:
	      <select name="limit">
		<option value="20">20</option>
		<option value="50">50</option>
		<option value="100">100</option>
		<option value="-1">all</option>
	      </select>
	    </td>
          </tr>
        </table>
    </td>
  </tr>
</table>


{% endblock %}
