{% extends 'homepage.html' %}

{% block content %}

<h2>Refine search </h2>

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<input type="hidden" name="count" value="{{info.count}}"/>

<table>
<tr>

<td>{{ KNOWL('mf.elliptic.weight', title='Weight') }}</td>
<td>{{ KNOWL('mf.elliptic.level', title='Level') }}</td>
<td>{{ KNOWL('mf.elliptic.character', title='Character orbit label') }}</td>
<td>{{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbit dimension') }}</td>
<td>{{ KNOWL('mf.elliptic.coefficient_field', title='Coefficient field') }}</td>
<td>{{ KNOWL('mf.elliptic.cm_form', title='CM discriminant')}}</td>
</tr>

<tr>
<td><input type='text' name='weight' placeholder='2' size=10 value='{{info.weight}}'></td>
<td><input type='text' name='level' placeholder='4' size=10 value='{{info.level}}'></td>
<td><input type='text' name='char_orbit' placeholder='4' size=10 value='{{info.char_orbit}}'></td>
<td><input type='text' name='dim' placeholder='1' size=10 value='{{info.dim}}'></td>
<td><input type='text' name='nf_label' placeholder='1.1.1.1' size=10 value='{{info.nf_label}}'></td>
<td><input type='text' name='cm_disc' placeholder='-3' size=10 value='{{info.cm_disc}}'></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.cm_form', title='CM form') }}</td>
<td>{{ KNOWL('mf.elliptic.minimal', title='Twist minimal') }}</td>
<td>{{ KNOWL('mf.elliptic.inner_twist', title='Has inner twist') }}</td>
</tr>

<tr>

<td><select name='is_cm' style="width: 110px">
  <option></option>
  <option value="True" {{ "selected" if info.is_cm == 'True'}}>True</option>
  <option value="False" {{ "selected" if info.is_cm == 'False'}}>False</option>
</select></td>

<td><select name='is_twist_minimal' style="width: 110px">
  <option></option>
  <option value="True" {{ "selected" if info.is_twist_minimal == 'True'}}>True</option>
  <option value="False" {{ "selected" if info.is_twist_minimal == 'False'}}>False</option>
</select></td>

<td><select name='has_inner_twist' style="width: 110px">
  <option></option>
  <option value="True" {{ "selected" if info.has_inner_twist == 'True'}}>True</option>
  <option value="False" {{ "selected" if info.has_inner_twist == 'False'}}>False</option>
</select></td>

</tr>


<tr style="height:50px">
<td class="button"><button type='submit' name='submit' value='{{info.submit}}' style="width: 110px">Search again</button></td>
</tr>

</table>
</form>

{% block show_results %}{% endblock %}
{% include 'debug_info.html' %}

{% endblock %}
