{% extends 'homepage.html' %}
{% block content %}

<!-- Debugging! -->
{% if DEBUG %}
<hr>
<div>
Info was: {{info}}
</div>
{% endif %}

<div>
{{ KNOWL_INC('dq.mf.elliptic.extent') }}
</div>

<h2> Browse {{ KNOWL('mf.elliptic',title='holomorphic modular forms for $\GL(2)$')}} over $\Q$</h2>

<p>
By {{ KNOWL('mf.elliptic.weight',title = "weight")}}:
{% for weight in info.weight_list %}
<a href="?weight={{weight}}">{{weight}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('mf.elliptic.level', title="level")}}:
{% for level in info.level_list %}
<a href="?level={{level}}">{{level}}</a>
{% endfor %}
</p>

<p>
A <a href={{url_for('.random_form')}}>random newform</a> from the database.
</p>

<p>
Some interesting newforms:
{% for newform in info.newform_list %}
<a href = "{{ newform.url }}"> {{ newform.label}} </a>&nbsp;
{% endfor %}
</p>

<h2> Find a specific newform by {{ KNOWL('mf.elliptic.label', title='label')}} </h2>

<form>
<input type='text' name='jump' placeholder='3.6.1.a'>
<button type='submit'>Search by label</button>
<br><span class="formexample">e.g. 3.6.1.a </span>
</form>


{% endblock %}
