{% extends 'homepage.html' %}
<!-- Old version: views/templates/emf_web_newform.html -->

{% block content %}

{% set KNOWL_ID = "mf.%s"|format(newform.label) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

<!-- Hecke field and algebraic q-expansion data -->

<h3> Defining parameters </h3>

<table>
  <tr>
    <td> {{ KNOWL('mf.elliptic.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>=</td>
    <td>\( {{ newform.level }}{{ newform.factored_level }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.weight', title='Weight') }}: </td>
    <td> \( k \) </td>
    <td>=</td>
    <td>\( {{ newform.weight }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.character', title='Character') }} {{ KNOWL('character.dirichlet.galois_orbit_label', title='orbit label') }}: </td>
    <td> \([\chi]\) </td>
    <td>=</td>
    <td>{{ newform.char_orbit_label }}</td>
  </tr>
  <tr>
    <td> Representative {{ KNOWL('mf.elliptic.character', title='character') }}: </td>
    <td> \( \chi \) </td>
    <td>=</td>
    <td><a href="{{ newform.char_conrey_link | safe }}">\({{ newform.char_conrey_str }}\)</a> (minimal {{ KNOWL('character.dirichlet.conrey', title='Conrey label') }} in orbit)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.elliptic.dimension', title='Dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>{{ newform.dim }}</td>
  </tr>
  {% if newform.char_degree > 1 %}
  <tr>
    <td> {{ KNOWL('mf.elliptic.relative_dimension', title='Relative dimension') }}: </td>
    <td> </td>
    <td> </td>
    <td>{{ newform.rel_dim }} over {{ newform.cyc_display() | safe }}</td>
  </tr>
  {% endif %}
</table>

{% if newform.has_exact_qexp %}

<script>
function show_qexp(qstyle) {
    $('.smalloutput').hide();
    $('.mediumoutput').hide();
    $('.'+qstyle).show();
  }
</script>

<div id="qexp">
  <h3> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h3>
  <form id="qexp">
    <div class="smalloutput">
      <span id="small_qexp_display">\(f(q) =\) {{ newform.q_expansion(format='short', prec_max=10) | safe }}</span>
    </div>
    <div class="mediumoutput nodisplay">
      <span id="medium_qexp_display">\(f(q) =\) {{ newform.q_expansion(format='short', prec_max=100) | safe }}</span>
    </div>
<p>
<div class="toggle">Display precision:
    <span class='smalloutput'><a onclick="show_qexp('mediumoutput'); return false" href='#'>100 coefficients</a></span>
    <span class='mediumoutput nodisplay'><a onclick="show_qexp('smalloutput'); return false" href='#'>10 coefficients</a></span>
</div>
</p>
    <button id="download_exact">Download all {{ newform.qexp_prec }}</button>
  </form>

  <h3> {{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }} </h3>
  <div>
    {{ place_code('coefficient_field') }}
  </div>
  {% if newform.dim > 1 %}
  <!-- Coefficient code depends on existence of form -->
  <p> {{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }}: {{ newform.field_display() | safe }}, with {{ KNOWL('nf.defining_polynomial',title='defining polynomial') }} {{ newform.defining_polynomial() }}</p>
  <p> Basis of {{ KNOWL('mf.elliptic.hecke_order',title='Hecke ring') }}: {{ newform.order_basis() }}</p>
  {% if newform.hecke_ring_index_proven %} 
    {% if newform.hecke_ring_index == 1 %}
    <p> The Hecke ring is the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} in its coefficient field. </p>
    {% else %}
    <p> The index of the Hecke ring in the {{ KNOWL('nf.ring_of_integers',title='maximal order') }} is equal to {{ newform.hecke_ring_index }}. </p>
    {% endif %}
  {% elif newform.hecke_ring_index > 1 %}
    <p> The index of the {{ KNOWL('mf.elliptic.hecke_order',title='order') }} in {{ KNOWL('nf.ring_of_integers',title='maximal order') }} is a multiple of {{ newform.hecke_ring_index }}. </p>
  {% endif %}
  {% else %}
  <p> The form has coefficients in {{ newform.field_display() | safe }}.</p>
  {% endif %}
</div>
{% else %}
<h3>{{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }}</h3>
<div>
  {{ place_code('coefficient_field') }}
</div>
<p>The {{ KNOWL('mf.elliptic.coefficient_field',title='Hecke field') }} has {{ KNOWL('nf.defining_polynomial',title='defining polynomial') }} {{ newform.defining_polynomial() }}.</p>
<p>The degree and weight are sufficiently large that we do not store an algebraic \(q\)-expansion.</p>
{% endif %}

<!-- Complex embeddings and Satake parameters -->
{% if newform.has_complex_qexp %}
{% if info.format == 'embed' %}
<h2>{{ KNOWL('mf.elliptic.embeddings',title='Complex Embeddings') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)\) are shown below.</p>
{% elif info.format == 'analytic_embed' %}
<h2>{{ KNOWL('mf.elliptic.embeddings',title='Complex Embeddings') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)/n^{(k-1)/2}\) are shown below.</p>
{% elif info.format == 'satake' %}
<h2>{{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }} \(\alpha_p(f_m)\) are shown below.</p>
{% else %}
<h2>{{KNOWL('mf.elliptic.satake_parameters',title='Satake parameters')}}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake angles') }} \(\theta_p(f_m) = \textrm{Arg}(\alpha_p(f_m))\) are shown below.</p>
{% endif %}

<table class="ntdata">
  <thead>
    <tr class="dark">
      {% if newform.dim > 1 %}
      <th>\(m\)</th>
      {% if newform.char_degree > 1 %}
      <th>{{ KNOWL('mf.elliptic.embedding_label', title='Label') }}</th>
      {% endif %}
      {% if newform.has_exact_qexp %}
      <th>\(\iota_m(\alpha)\)</th>
      {% endif %}
      {% endif %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <th class="center">\( {{ newform.embed_header(n, format=info.format) }} \)</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for m in newform.m_range(info.CC_m) %}
    <tr>
      {% if info.format == 'embed' or info.format == 'analytic_embed' %}
      {% if newform.dim > 1 %}
      <td{% if newform.char_degree == 1 and not newform.has_exact_qexp %} class="border-right"{% endif %}>{{ m+1 }}</td>
      {% if newform.char_degree > 1 %}
      <td{% if not newform.has_exact_qexp %} class="border-right"{% endif %}>{{ newform.conrey_from_embedding(m) }}</td>
      {% endif %}
      {% if newform.has_exact_qexp %}
      <td class="middle border-right">{{ newform.embedding(m,prec=info.prec,format=info.format) }}</td>
      {% endif %}
      {% endif %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <td style="white-space:nowrap;" align=right>
        \( {{ newform.embedding(m,n,prec=info.prec,format=info.format) }} \)
      </td>
      {% endfor %}
      {% else %}
      {% if loop.index is divisibleby(2) %}
      {% set shade = 'dark ' %}
      {% else %}
      {% set shade = '' %}
      {% endif %}
      {% if newform.dim > 1 %}
      <td rowspan="2" class="{{shade}}middle{% if newform.char_degree == 1 and not newform.has_exact_qexp %} border-right{% endif %}">{{ m+1 }}</td>
      {% if newform.char_degree > 1 %}
      <td rowspan="2" class="{{shade}}middle{% if not newform.has_exact_qexp %} border-right{% endif %}">{{ newform.conrey_from_embedding(m) }}</td>
      {% endif %}
      {% if newform.has_exact_qexp %}
      <td rowspan="2" class="{{shade}}middle border-right">{{ newform.embedding(m,prec=info.prec,format=info.format) }}</td>
      {% endif %}
      {% endif %}
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <td style="white-space:nowrap;" align=right>
        \( {{ newform.satake(m,n,0,prec=info.prec,format=info.format) }} \)
      </td>
      {% endfor %}
    </tr>
    <tr>
      {% for n in newform.an_range(info.CC_n, format=info.format) %}
      <td style="white-space:nowrap;" align=right>
        \( {{ newform.satake(m,n,1,prec=info.prec,format=info.format) }} \)
      </td>
      {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if info.err %}

{% endif %}

<form id='complex_embeddings'>
  <table>
    <tr>
      <td>\(n\): </td>
      <td><input type='text' name='n' size=10 value="{{info.n}}"></td>
    </tr>
    {% if newform.dim > 1 %}
    <tr>
      <td>\(m\): </td>
      <td><input type='text' name='m' size=10 value="{{info.m}}"></td>
    </tr>
    {% endif %}
    <tr>
      <td>Precision: </td>
      <td><input type='text' name='prec' size=10 value="{{info.prec}}"></td>
    </tr>
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding_format',title='Format') }}: </td>
      <td><select name='format'>
          {% if newform.dim > 1 %}
          <option value='embed' {% if info.format == 'embed' %}selected{% endif %}>Complex embeddings</option>
          {% endif %}
          <option value='analytic_embed' {% if info.format == 'analytic_embed' %}selected{% endif %}>Normalized embeddings</option>
          <option value='satake' {% if info.format == 'satake' %}selected{% endif %}>Satake parameters</option>
          <option value='satake_angle' {% if info.format == 'satake_angle' %}selected{% endif %}>Satake angles</option>
      </select></td>
    </tr>
  </table>
  <button id="refresh_complex">Refresh table</button>
  <button id="download_complex">Download all</button>
</form>

{% endif %}

<!-- Removed old code on special values that didn't seem to be used -->

<!-- Explicit formulas were stored in the old database; need to be ported to knowls -->

<h2>Further properties</h2>

{% if newform.is_cm != 0 %}
<p>This newform is
{{ "not" if newform.is_cm == -1 }}
a {{ KNOWL('mf.elliptic.cm_form',title='CM form') }}{% if newform.is_cm == 1 %}, with CM by {{ newform.cm_field_knowl() |safe }}{% endif %}.
This property has {{ "not" if not newform.cm_proved }} been rigorously proved.</p>
{% endif %}

{% if newform.is_twist_minimal is defined %}
<p>This newform is {{ "not" if not newform.is_twist_minimal }} {{ KNOWL('mf.elliptic.minimal',title='twist minimal') }}.</p>
{% endif %}

{# TODO we might wish to have some disclaimer here about provability #}
{% if newform.has_inner_twist == 1 %}
<p>This newform admits {{ newform.inner_twist | length }} nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}</p>
{% elif newform.has_inner_twist == -1 %}
<p>This newform does not admit any nontrivial {{ KNOWL('mf.elliptic.inner_twist',title=newform.star_twist) }}</p>
{% endif %}

{% if newform.char_orbit_index == 1 and newform.level != 1 %}
<p> It has {{ KNOWL('mf.elliptic.atkinlehner',title='Atkin-Lehner') }} eigenvalues given by</p>
<table class="ntdata">
  <thead>
    <tr>
      <th> \( p \) </th>
      <th>Eigenvalue
    </tr>
  </thead>
  <tbody>
    {% for p, ev in newform.atkin_lehner_eigenvals %}
    <tr>
      <td> {{ p }} </td>
      <td> {{ ev }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
