{% extends 'homepage.html' %}

{% block content %}

<h2> Dimensions </h2>

<p> \({{ space.mf_latex() }}\): {{ space.mf_dim }}</p>
<p> \({{ space.eis_latex() }}\): {{ space.eis_dim }}</p>
<p> \({{ space.eis_new_latex() }}\): {{ space.eis_new_dim }}</p>
<p> \({{ space.eis_old_latex() }}\): {{ space.eis_old_dim }}</p>
<p> \({{ space.cusp_latex() }}\): {{ space.cusp_dim }}</p>
<p> \({{ space.new_latex() }}\): {{ space.dim }}</p>
<p> \({{ space.old_latex() }}\): {{ space.old_dim }}</p>

{% if space.dim > 0 %}
<h2> Decomposition of \({{ space.new_latex() }}\) into {{ KNOWL('mf.elliptic.hecke-orbit',title='irreducible Hecke orbits') }}</h2>

{% include 'emf_newform_list.html' %}

{% endif %}

<!-- Definitions for coefficient fields -->

{% if space.old_dim > 0 %}
<h2> Decomposition of \({{ space.old_latex() }}\) into {{ KNOWL('mf.elliptic.oldspace',title='lower level spaces')}}</h2>

\( {{ space.old_latex() }} \cong {{ space.oldspace_decomposition() | safe }} \)
{% endif %}

{% endblock %}
