{% extends 'homepage.html' %}
{% import 'color.css' as color %}
<!-- Old version: views/templates/emf_web_newform.html -->

{% block content %}

{% set KNOWL_ID = "mf.%s"|format(newform.label) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

<style>
.toggle {margin-top:5px; margin-left:20px;}
div.properties-body table tr td.label { vertical-align: top; }
#content > h2.subhead { color:{{color.black}};}
</style>

<!-- Hecke field and algebraic q-expansion data -->

{% if newform.has_exact_qexp %}
<div id="qexp">
  <h3> {{ KNOWL('mf.elliptic.q-expansion',title='$q$-expansion')}}</h3>
  {% if newform.dim > 1 %}
  <!-- Coefficient code depends on existence of form -->
  <div>
    {{ place_code('coefficient_field') }}
  </div>
  <p> {{ KNOWL('mf.elliptic.coefficient_field',title='Hecke field') }}: {{ newform.field_display() | safe }}, with KNOWL('nf.defining_polynomial',title='defining polynomial') {{ newform.defining_polynomial() }}</p>
  <p> Basis of {{ KNOWL('mf.elliptic.hecke_order',title='Hecke order') }}: {{ newform.order_basis() }}</p>
  <p> Index of {{ KNOWL('mf.elliptic.hecke_order',title='order') }} in {{ KNOWL('nf.ring_of_integers',title='maximal order') }}: {{ newform.hecke_index }}</p>
  {% endif %}
  <div>
    {{ place_code('qexp') }}
  </div>
  <form id="qexp">
    <div class="smalloutput">
      <span id="qexp_largedisplay">\(f(q) =\) {{ newform.q_expansion(format='short') | safe }}</span>
    </div>
    <div class="emptyspace"><br></div>
    <button id="morebutton">Show more coefficients</button>
    <button id="lessbutton">Show fewer coefficients</button>
    <br />
    <button id="download_exact">Download all</button>
  </form>
</div>
{% else %}
<h3>Coefficient field</h3>
<div>
  {{ place_code('coefficient_field') }}
</div>
<p>The {{ KNOWL('mf.elliptic.coefficient_field',title='Hecke field') }} has KNOWL('nf.defining_polynomial',title='defining polynomial') {{ newform.defining_polynomial() }}.</p>
<p>The degree and weight are sufficiently large that we do not store an algebraic \(q\)-expansion.</p>
{% endif %}

<h2>{{ KNOWL('mf.elliptic.coefficient_field',title='Coefficient field') }}</h2>

<!-- Complex embeddings and Satake parameters -->
<!--
{% if newform.has_complex_qexp %}
{% if info.format == 'embed' %}
<h2>{{ KNOWL('mf.elliptic.embeddings',title='Complex Embeddings') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)\) are shown below.</p>
{% elif info.format == 'analytic_embed' %}
<h2>{{ KNOWL('mf.elliptic.embeddings',title='Complex Embeddings') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the values \(a_n(f_m)/n^{(k-1)/2}\) are shown below.</p>
{% elif info.format == 'satake' %}
<h2>{{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake parameters') }} \(\alpha_p(f_m)\) are shown below.</p>
{% else %}
<h2>{{KNOWL('mf.elliptic.satake_parameters',title='Satake parameters')}}</h2>
<p>For each embedding \(\iota_m\) of the Hecke field into the field of complex numbers{% if newform.character != 1 %} that preserves the character{% endif %}, write \(f_m\) for \(\iota_m(f)\); the {{ KNOWL('mf.elliptic.satake_parameters',title='Satake angles') }} \(\theta_p(f_m) = \textrm{Arg}(\alpha_p(f_m))\) are shown below.</p>
{% endif %}

<table class="ntdata">
  <thead>
    <tr>
      {% if newform.num_characters > 1 %}
      <th>Conrey label</th>
      {% endif %}
      {% if newform.has_exact_qexp %}
      <th>\(\iota_m(\alpha)\)</th>
      {% endif %}
      <th>\(m\)</th>
      {% for n in newform.embed_range(info.CC_lown, info.CC_highn, format=info.format) %}
      <th>\( {{ newform.embed_header(n, format=info.format) }} \)</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for m in range(info.CC_lowm, info.CC_highm) %}
    <tr>
      {% if newform.num_characters > 1 %}
      <td>{{ newform.conrey_from_embedding(m) }}</td>
      {% endif %}
      {% if newform.has_exact_qexp %}
      <td>{{ newform.embedding(m,prec=info.CC_prec,format=info.format) }}</td>
      {% endif %}
      <td style="border-right:solid black 1px">{{ m }}</td>
      {% if info.format == 'embed' or info.format == 'analytic_embed' %}
      {% for n in newform.embed_range(info.CC_lown, info.CC_highn) %}
      <td style="white-space:nowrap;" align=right>
        {{ newform.embedding(m,n,prec=info.CC_prec,format=info.format) }}
      </td>
      {% endfor %}
      {% else %}
      {% for n in newform.embed_range(info.CC_lown, info.CC_highn, format=info.format) %}
      <td style="white-space:nowrap;" align=right>
        {{ newform.satake(m,n,prec=info.CC_prec,format=info.format) }}
      </td>
      {% endfor %}
      </tr><tr><td></td><td></td>{% if newform.num_characters > 1 %}<td></td>{% endif %}
      {% for n in newform.embed_range(info.CC_lown, info.CC_highn, format=info.format) %}
      <td style="white-space:nowrap;" align=right>
        {{ newform.satake(m,n,prec=info.CC_prec,format=info.format) }}
      </td>
      {% endfor %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<form id='complex_embeddings'>
  <table>
    <tr>
      <td>\(n\): </td>
      <td><input type='text' name='n' size=10 value="{{info.CC_lown}}-{{info.CC_highn}}"></td>
    </tr>
    <tr>
      <td>\(m\): </td>
      <td><input type='text' name='m' size=10 value="{{info.CC_lowm}}-{{info.CC_highm}}"></td>
    </tr>
    <tr>
      <td>Precision: </td>
      <td><input type='text' name='prec' size=10 value="{{info.CC_prec}}"></td>
    </tr>
    <tr>
      <td>{{ KNOWL('mf.elliptic.embedding_format',title='Format') }}: </td>
      <td><select name='format'>
          {% if newform.degree > 1 %}
          <option value='embed' {% if info.format == 'embed' %}selected{% endif %}>Complex embeddings</option>
          {% endif %}
          <option value='analytic_embed' {% if info.format == 'analytic_embed' %}selected{% endif %}>Normalized embeddings</option>
          <option value='satake' {% if info.format == 'satake' %}selected{% endif %}>Satake parameters</option>
          <option value='satake_angle' {% if info.format == 'satake_angle' %}selected{% endif %}>Satake angles</option>
      </select></td>
    </tr>
  </table>
  <button id="refresh_complex">Refresh table</button>
  <button id="download_complex">Download all</button>
</form>

{% endif %}

-->

<!-- Removed old code on special values that didn't seem to be used -->

<!-- Explicit formulas were stored in the old database; need to be ported to knowls -->

<h2>Further Properties</h2>

<p>This newform is
{% if not newform.is_cm %} not {% endif %}
a {{ KNOWL('mf.elliptic.cm_form',title='CM form') }}{% if newform.is_cm %}, with CM by {{ newform.cm_field_knowl() }}{% endif %}.
This property has {% if not newform.cm_proved %}<b>not</b>{% endif %} been rigorously proved.</p>

<p>This newform is
{% if not newform.is_twist_minimal %}
not
{% endif %}
{{ KNOWL('mf.elliptic.minimal',title='minimal') }}.</p>

{# TODO we might wish to have some disclaimer here about provability #}
<p>This newform
{% if newform.has_inner_twist %}
has
{% else %}
does not have
{% endif %}
an
{{ KNOWL('mf.elliptic.inner_twist',title='inner twist') }}.</p>

{% if newform.character == 1 %}
<p> It has {{ KNOWL('mf.elliptic.atkinlehner',title='Atkin-Lehner') }} eigenvalues given by</p>
<table class="ntdata">
  <thead>
    <tr>
      <th> \( p \) </th>
      <th>Eigenvalue
    </tr>
  </thead>
  <tbody>
    {% for p, ev in newform.atkin_lehner_eigenvals %}
    <tr>
      <td> {{ p }} </td>
      <td> {{ ev }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}


<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
