{% extends 'homepage.html' %}
{% block content %}

<!-- Debugging! -->
{% if DEBUG %}
<hr>
<div>
Info was: {{info}}
</div>
{% endif %}

<div>
{{ KNOWL_INC('dq.mf.elliptic.extent') }}
</div>

<h2> Browse {{ KNOWL('mf.elliptic',title='holomorphic modular forms for $\GL(2)$')}} over $\Q$</h2>

<p>
By {{ KNOWL('mf.elliptic.weight',title = "weight")}}:
{% for weight in info.weight_list %}
<a href="?weight={{weight}}">{{weight}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('mf.elliptic.level', title="level")}}:
{% for level in info.level_list %}
<a href="?level={{level}}">{{level}}</a>
{% endfor %}
</p>

<p>
A <a href={{url_for('.random_form')}}>random newform</a> from the database.
</p>

<p>
Some interesting newforms:
{% for newform in info.newform_list %}
<a href = "{{ newform.url }}"> {{ newform.label}} </a>&nbsp;
{% endfor %}
</p>

<h2> Find a specific newform by {{ KNOWL('mf.elliptic.label', title='label')}} </h2>

<form>
<input type='text' name='jump' placeholder='3.6.1.a'>
<button type='submit'>Search by label</button>
<br><span class="formexample">e.g. 3.6.1.a </span>
</form>

{# SEARCHING #}

<h2> Search </h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
<table>
<tr>
<td>{{ KNOWL('mf.elliptic.weight', title='Weight') }}</td>
<td><input type='text' name='weight' placeholder='2' size=10></td>
<td><span class="formexample"> e.g. 2, 10-14 </span></td>


<td>{{ KNOWL('mf.elliptic.level', title='Level') }}</td>
<td><input type='text' name='level' placeholder='4' size=10></td>
<td><span class="formexample"> e.g. 4, 1-20</td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.character', title='Character orbit label') }}</td>
<td><input type='text' name='char_orbit' placeholder='4' size=10></td>
<td><span class="formexample"> e.g. 4, 1-20</td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbit dimension') }}</td>
<td><input type='text' name='dim' placeholder='1' size=10></td>
<td><span class="formexample"> e.g. 2, 1-6 </span></td>
<td>{{ KNOWL('mf.elliptic.coefficient_field', title='Coefficient field') }}</td>
<td><input type='text' name='nf_label' placeholder='1.1.1.1'></td>
<td><span class="formexample"> e.g. 1.1.1.1, 4.0.144.1, Qsqrt5 </span></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.cm_form', title='CM discriminant')}}</td>
<td><input type='text' name='cm_disc' placeholder='-3' size=10></td>
<td><span class="formexample"> e.g. -3 </span></td>

<td>{{ KNOWL('mf.elliptic.cm_form', title='CM form') }}</td>
<td><select name='is_cm' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
</select></td>
<td></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.minimal', title='Twist minimal') }}</td>
<td><select name='inner_twist' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
</select></td>
<td></td>

<td>{{ KNOWL('mf.elliptic.inner_twist', title='Has inner twist') }}</td>
<td><select name='inner_twist' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
</select></td>
</tr>

<tr>
<td>Maximum number of curves to display</td>
<td><input type='text' name='count' value=50 size=10></td>
<td><span class="formexample"> &nbsp;</td>
</tr>
<tr>
<td><button type='submit' value='Search'>Search</button></td>
</tr>
</table>

</form>


{% endblock %}
