{% extends 'homepage.html' %}
{% block content %}

<!-- Debugging! -->
{% if DEBUG %}
<hr>
<div>
Info was: {{info}}
</div>
{% endif %}

<div>
{{ KNOWL_INC('dq.mf.elliptic.extent') }}
</div>

<h2> Browse {{ KNOWL('mf.elliptic',title='holomorphic modular forms for $\GL(2)$')}} over $\Q$</h2>

<p>
By {{ KNOWL('mf.elliptic.weight',title = "weight")}}:
{% for weight in info.weight_list %}
<a href="?weight={{weight}}">{{weight}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('mf.elliptic.level', title="level")}}:
{% for level in info.level_list %}
<a href="?level={{level}}">{{level}}</a>
{% endfor %}
</p>

<p>
A <a href={{url_for('.random_form')}}>random newform</a> from the database.
</p>

<p>
Some interesting newforms:
{% for newform in info.newform_list %}
<a href = "{{ newform.url }}"> {{ newform.label}} </a>&nbsp;
{% endfor %}
</p>

<h2> Find a specific newform by {{ KNOWL('mf.elliptic.label', title='label')}} </h2>

<form>
<input type='text' name='jump' placeholder='3.6.1.a'>
<button type='submit'>Search by label</button>
<br><span class="formexample">e.g. 3.6.1.a </span>
</form>

{# SEARCHING #}

<h2> Search </h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
<table>
<tr>
<td>{{ KNOWL('mf.elliptic.weight', title='weight') }}</td>
<td><input type='text' name='weight' placeholder='2' size=10>
<td><span class="formexample"> e.g. 2, 10-14 </span></td>

<td>{{ KNOWL('g2c.gl2type', title='$\GL_2$-type') }}</td>
<td><select name='is_gl2_type' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>True</option>
                   <option value='False'>False</option>
      </select></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.level', title='level') }}</td>
<td><input type='text' name='level' placeholder='4' size=10>
<td><span class="formexample"> e.g. 4, 1-20</td>

<td>{{ KNOWL('g2c.num_rat_pts', title='rational points') }}</td>
<td><input type='text' name='num_rat_pts' placeholder='1' size=10>
<td><span class="formexample"> e.g. 0, 20-26 </span></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.character', title='Character orbit label') }}</td>
<td><input type='text' name='char_orbit' placeholder='4' size=10>
<td><span class="formexample"> e.g. 4, 1-20</td>

<td>{{KNOWL('g2c.st_group_identity_component',title='Sato-Tate identity component')}}</td>
<td><select name='real_geom_end_alg' width="122" style="width: 122px">
        <option ></option>
    {% for G in info.real_geom_end_alg_list %}
        <option value='{{G}}'>{{info.real_geom_end_alg_to_ST0_dict[G]}}</option>
    {% endfor %}
</select></td>
</tr>

<tr>
<td>{{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbit dimension') }}</td>
<td><input type='text' name='dim' placeholder='1' size=10>
<td><span class="formexample"> e.g. 2, 1-6 </span></td>

<td>{{ KNOWL('mf.elliptic.coefficient_field', title='Coefficient field') }}</td>
<td><input type='text' name='dim' placeholder='1' size=10>
<td><input type='text' name='field_label' placeholder='1.1.1.1'>
<td><span class="formexample"> e.g. 1.1.1.1, 4.0.144.1, Qsqrt5 </span></td>
</tr>

<tr>
<td>{{ KNOWL('g2c.torsion_order', title='torsion order')}}</td>
<td><input type='text' name='torsion_order' placeholder='2' size=10>
<td><span class="formexample"> e.g. 2 </span></td>
<td>{{ KNOWL('g2c.aut_grp', title='\(\overline{\Q}\)-automorphism group') }}</td>
<td><select name='geom_aut_grp_id' width="122" style="width: 122px">
        <option ></option>
    {% for G in info.geom_aut_grp_list %}
        <option value='{{G}}'>{{info.geom_aut_grp_dict[G]}}</option>
    {% endfor %}
</select></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.torsion', title='torsion structure')}}</td>
<td><input type='text' name='torsion' placeholder='[2,2,2]' size=10>
<td><span class="formexample"> e.g. [2,2,2] </span></td>
<td>{{ KNOWL('g2c.locally_solvable', title='locally solvable') }}</td>
<td><select name='locally_solvable' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>True</option>
                   <option value='False'>False</option>
</select></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.two_selmer_rank', title='2-Selmer rank')}}</td>
<td><input type='text' name='two_selmer_rank' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1 </span></td>
<td>{{ KNOWL('g2c.has_square_sha', title='order of &#1064; is square*') }}</td>
<td><select name='has_square_sha' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>True</option>
                   <option value='False'>False</option>
</select></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.analytic_rank', title='analytic rank*')}}</td>
<td><input type='text' name='analytic_rank' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1 </span></td>
<td>{{ KNOWL('ag.geom_simple', title='geometrically simple') }}</td>
<td><select name='is_simple_geom' width="122" style="width: 122px">
                   <option ></option>
                   <option value='True'>True</option>
                   <option value='False'>False</option>
</select></td>
</tr>
<tr>
<td>Maximum number of curves to display</td>
<td><input type='text' name='count' value=50 size=10></td>
<td><span class="formexample"> &nbsp;</td>
</tr>
<tr>
<td><button type='submit' value='Search'>Search</button></td>
</tr>
</table>

</form>


{% endblock %}
