{%- from "knowl-defs.html" import KNOWL with context -%}

<table class="ntdata">
  <thead>
    <tr>
      <th>{{ KNOWL('mf.elliptic.label', title='Label') }}</th>
      <th>{{ KNOWL('mf.elliptic.dimension_galois_orbit', title='Dim.') }}</th>
      <th>{{ KNOWL('mf.elliptic.coefficient_field', title='Field') }}</th>
      <th>{{ KNOWL('mf.elliptic.cm_form', title='CM?') }}</th>
      <th>\(\operatorname{Tr}(a_2)\)</th>
      <th>\(\operatorname{Tr}(a_3)\)</th>
      <th>\(\operatorname{Tr}(a_5)\)</th>
      <th>\(\operatorname{Tr}(a_7)\)</th>
      <th>{{ KNOWL('mf.elliptic.q-expansion', title='$q$-expansion') }}</th>
    </tr>
  </thead>
  <tbody>
    {% for mf in info.results: %}
    <tr>
      <td> <a href="{{info.mf_url(mf) }}"> {{ mf.label }} </a> </td>
      <td> {{ mf.dim }} </td>
      <td> {{ info.nf_link(mf) | safe }} </td>
      <td> {{ info.cm_link(mf) | safe }}</td>
      <td align="right">\({{ mf.trace_display[0] }}\)</td>
      <td align="right">\({{ mf.trace_display[1] }}\)</td>
      <td align="right">\({{ mf.trace_display[2] }}\)</td>
      <td align="right">\({{ mf.trace_display[3] }}\)</td>
      <td>
        {% if mf.qexp_display %}
        \({{ mf.qexp_display }}\)
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
