{% extends "homepage.html" %}

{% block content %}

{% set KNOWL_ID = "hecke_algebra.%s"|format(info['label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>

<table>
    <tr><td align=right>{{ KNOWL('mf.elliptic.level', title='Level') }}:</td><td>${{info.level}}$</td></tr>
    <tr><td align=right>{{ KNOWL('mf.elliptic.weight', title='Weight') }}:</td><td>${{info.weight}}$</td></tr>
    <tr><td align=right>{{KNOWL('hecke_algebras.label', title='Label')}}:</td><td>${{info.label}}$</td></tr>
</table>



{% if info.orbits %}
<h2>{{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbits') }}</h2>

<p>Number of {{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbits') }}: ${{info.num_orbits}}$</p>

    {% for j in info.orbits %}
        <hr>
        <table class="ntdata" cellpadding=3 >
        <tr><td>Label:</td><td>{{j.orbit_label}}</td></tr>
        <tr rowspan=2><td >Operators:</td><td>
        {% for m in j.hecke_op_display %}
            $T_{ {{m[0]}}} ={{m[1]}}${% if not loop.last %},  {% else %}...{% endif %}
        {% endfor %}</td></tr>
        <tr><td></td><td>Dowload Hecke operators $T_n$ for $n\leq {{j.num_op}}$ avaliable operators for sage, gp, magma</td></tr>
        <tr><td>Presentation:</td><td></td></tr>
        <tr><td>Generators:</td><td></td></tr>
        <tr><td>Relations:</td><td></td></tr>
        </table>
        <p>&nbsp;&nbsp;&nbsp;&#x2113;-adic data for 
        {% for i in info.l_adic %}
             <a href="{{url_for('hecke_algebras.render_hecke_algebras_webpage_l_adic', orbit_label=j.orbit_label, prime=i)}}">{{i}}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}</p>
    {% endfor %}
{% endif %}


{% endblock %}
