{% extends "homepage.html" %}

{% block content %}

{% set KNOWL_ID = "hecke_algebra_l_adic.%s"|format(info['orbit_label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>

<table>
    <tr><td align=right>{{ KNOWL('mf.elliptic.level', title='Level') }}:</td><td>${{info.level}}$</td></tr>
    <tr><td align=right>{{ KNOWL('mf.elliptic.weight', title='Weight') }}:</td><td>${{info.weight}}$</td></tr>
    <tr><td align=right>{{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbits') }}:</td><td><a href="{{url_for('hecke_algebras.render_hecke_algebras_webpage', label=info.base_lab)}}">{{info.orbit_label}}</a></td></tr>
    <tr><td align=right>Number of $\Z_{ {{info.ell}} }$ orbits:</td><td>${{info.num_l_adic_orbits}}$</td></tr>
</table>

</br>

{% for j in info.l_adic_orbits %}
    <hr>

    <h3>{{info.ell}}-adic data</h3>

    <table class="ntdata" cellpadding=3 >
    {% if j.idempotent_display == [] %}
        <tr><td align= right valign= top>Idempotent:</td><td>Download the idempotent for sage, gp, magma</td></tr>
    {% else %}
        <tr rowspan=2><td align= right valign= top>Idempotent:</td><td>${{j.idempotent_display}}$</td></tr>
        <tr><td></td><td>Download the idempotent for sage, gp, magma</td></tr>
    {% endif %}
    <tr><td align= right>Generators as $\Q_{ {{info.ell}} }$-algebra:</td><td></td></tr>
    <tr><td align= right>{{KNOWL('hecke_algebras.Gorenstein', title='Gorenstein')}}:</td><td></td></tr>
    </table>
    <p>Number of $\Q_{ {{info.ell}} }$ orbits:</p>
    <p>Characteristic polynomials of the $\Q_{ {{info.ell}} }$ orbits:</p>


    <h3>mod {{info.ell}} data</h3>

    <table class="ntdata" cellpadding=3 >
    <tr><td align= right>Residue field:</td><td>
    {% if j.deg and j.deg > 1 %}
    $\F\cong\F_{ {{info.ell}}^{{j.deg}} }\cong \F[a]$ where $a$ satisfies ${{j.field_poly}}=0$
    {% else %}
    $\F\cong\F_{ {{info.ell}} }$
    {% endif %}</td></tr>
    {% if info.hecke_mod_op_display == [] %}
        <tr><td align= right valign= top>Hecke operators:</td><td>Download the avaliable Hecke operators $T_n$ mod {{info.ell}} for $n\leq {{info.num_hecke_mod_op}}$ for sage, gp, magma</td></tr>
    {% else %}
        <tr rowspan=2><td align= right valign= top>Hecke operators:</td><td>
        {% for m in info.hecke_mod_op_display %}
            $T_{ {{m[0]}}} ={{m[1]}}${% if not loop.last %},  {% else %}...{% endif %}
        {% endfor %}</td></tr>
        <tr><td></td><td>Download the avaliable Hecke operators $T_n$ mod {{info.ell}} for $n\leq {{j.num_hecke_op}}$ for sage, gp, magma</td></tr>
    {% endif %}
    <tr><td align= right rowspan=5>Presentation as $\F$-algebra:</td><td>Dimension:</td><td></td></tr>
    <tr><td>Number of generators:</td><td></td></tr>
    <tr><td>Generators:</td><td></td></tr>
    <tr><td>Relations:</td><td></td></tr>
    <tr><td>Dimension in the {{KNOWL('hecke_algebras.grading', title='grading')}}:</td><td></td></tr>
    <tr><td align= right>{{KNOWL('hecke_algebras.Gorenstein', title='Gorenstein defect')}}:</td><td></td></tr>
    </table>

{% endfor %}



{% endblock %}
