{% extends "homepage.html" %}
{% block content %}
{% if BETA %}
<div>
{{ KNOWL_INC('dq.hecke_algebras.extent') }}
</div>

<style type="text/css">
.error_message {
   padding: 4px;
   color: {{color.red}};
   font-size: 120%;
   font-weight: bold;
   margin: 20px;
}
</style>
{% if err_msg %}
<p class="error_message">
{{err_msg}}
</p>
<p>
  <input type=button value="Search again" onClick="history.go(-1)">
</p>
{% endif %}

<h2> Browse {{ KNOWL('hecke_algebra.definition', title='Hecke Algebras') }} for {{ KNOWL('group.sl2z.subgroup.gamma0n', title='$\Gamma_0$') }}</h2>

<p>
By {{ KNOWL('cmf.level', title='Level') }}: 
{% for rnge in info.lvl_list %}
<a href="?level={{rnge}}">{{rnge}}</a>
{% endfor %}
</p>
<p>
By {{ KNOWL('cmf.weight', title='Weight') }}:
{% for rnge in info.wt_list%}
<a href="?weight={{rnge}}">{{rnge}}</a>
{% endfor %}
</p>

<p>
Some of our favourite {{ KNOWL('hecke_algebra.definition', title='Hecke Algebras') }}:
{% for rnge in info.favourite_list %}
<a href="?label={{rnge}}">&nbsp; {{rnge}} &nbsp;</a>
{% endfor %}
</p>
<p>A <a href={{url_for('.random_hecke_algebra')}}>random Hecke Algebra</a> from the database.
<br>
</p>



<h2> Find a specific {{ KNOWL('hecke_algebra.definition', title='Hecke Algebra') }} by {{KNOWL('hecke_algebras.label', title='label')}}</h2>

<form>
<input type='text' name='label' placeholder='1.12.1'>
<button type='submit'>Label</button>
<br><span class="formexample">e.g. 1.12.1, 139.2.1, 11.2.1</span>
</form>


<h2> Search </h2>

<p>Please enter a value or leave blank:</p>
<form>
<table>
<tr>
<td align= right>{{ KNOWL('cmf.level', title='Level') }}:</td>
<td><input type='text' name='level' placeholder='3' size=10>
<td><span class="formexample"> e.g. 3 or 2-5</td>
</tr>

<tr>
<td align= right>{{ KNOWL('cmf.weight', title='Weight') }}:</td>
<td><input type='text' name='weight' placeholder='1' size=10>
<td><span class="formexample"> e.g. 2 or 10-100</td>
</tr>
<tr>
<td align= right>Number of {{ KNOWL('cmf.hecke_orbit', title='Hecke orbits') }}:</td>
<td><input type='text' name='num_orbits' placeholder='4' size=10>
<td><span class="formexample"> e.g. 4 or 1-3</td>
</tr>
<tr>
<td align= right>{{ KNOWL('cmf.hecke-orbit-label', title='Hecke orbit label') }} :</td>
<td><input type='text' name='orbit_label' placeholder='1.12.1.1' size=10>
<td><span class="formexample"> e.g. 1.12.1.1 or 139.2.1.2</td>
</tr>

<tr>
<td align= right>Mod &#x2113; and &#x2113;-adic information:</td>
<td><input type='text' name='ell' placeholder='5' size=10>
<td><span class="formexample"> e.g. 5, any prime &#x2113;$<17$</td>
</tr>

<tr>
<td colspan=3><button type='submit' value='Search'>Search</button>
</td>
</tr>
</table>
</form>
{% else %}
<div>This data is not yet available.</div>
{% endif %}
{% endblock %}
