{% extends "homepage.html" %}

{% block content %}

{% set KNOWL_ID = "hecke_algebra.%s"|format(info['label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>

<table>
    <tr><td align=right>{{ KNOWL('mf.elliptic.level', title='Level') }}:</td><td>${{info.level}}$</td></tr>
    <tr><td align=right>{{ KNOWL('mf.elliptic.weight', title='Weight') }}:</td><td>${{info.weight}}$</td></tr>
    <tr><td align=right>Number of {{ KNOWL('mf.elliptic.hecke-orbit', title='Hecke orbits') }}:</td><td>${{info.num_orbits}}$</td></tr>
    <tr><td align=right>{{KNOWL('hecke_algebras.label', title='Label')}}:</td><td>${{info.label}}$</td></tr>
</table>

{% endblock %}
