{% extends 'homepage.html' %}
{% block content %}

{% if not error %}

Below are the spaces of Siegel Modular Forms with full level structure.
<h2>Dimensions</h2>
<table>
  <thead>
    <tr><th></th><th>j</th></tr>
  </thead>
  <tr>
    <th>
      k
    </th>
    {% for j in jrange %}
    <td> {{j}}
    </td>
    {% endfor %}
  </tr>
  </thead>
  {% for wt in krange %}
  <tr class="{{ loop.cycle( 'odd', 'even') }}">
    <td>
      {{ wt }}
    </td>
    {% for j in jrange %}
    <td>${{dimtable[wt][j] }}$
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% else %}
{% include 'None.html' %}
{% endif %}

{% endblock %}
