{% extends 'homepage.html' %}
{% import 'color.css' as color %}
{% block content %}

{% if not error %}

<p>Below are the dimensions of spaces of <a KNOWL="mf.siegel.vector_valued">vector valued Siegel modular forms</a> with full <a KNOWL="group.sp2gr">$\mathrm{Sp}(4, \mathbb{Z})$</a> level structure.</p>

<h2>Featured Examples</h2>
<p><a href="/ModularForm/GSp/Q/Sp4Z.20_Ups/">$\Upsilon_{20}$</a>: the nonlift of lowest weight </p>
<p><a href="/ModularForm/GSp/Q/Sp4Z.24_Ups_I/">$\Upsilon_{24a}$</a>, <a href="/ModularForm/GSp/Q/Sp4Z.24_Ups_II/">$\Upsilon_{24b}$</a>: two rational eigenforms of full level  in a two-dimensional space.</p>
<h2>Featured Spaces</h2>
<span style="padding:3em"><a href="/ModularForm/GSp/Q/Sp4Z/">$M_k(\mathrm{Sp}(4, \mathbb{Z}))$</a></span>
<span style="padding:3em"><a href="/ModularForm/GSp/Q/Sp4Z_2/">$M_{k,2}(\mathrm{Sp}(4, \mathbb{Z}))$</a></span>
<h2>Dimensions</h2>
<table class="ntdata">
  <thead>
    <tr class="space">
      <th class="left">
        <b>k</b>
      </th>
      <th class="level" colspan="24">
        <span style="display:block;float:left; margin-right:3px;"<b>j</b>
      </th>
    </tr>
    <tr class="space">
      <th class="spaceleft"></th>
      {% for j in jrange %}
      <th class="level"> {{j}}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for wt in krange %}
  <tr>
    <th class="left">
      {{ wt }}
    </th>
    {% for j in jrange %}
    <td class="center">{% if dimtable[wt][j]>0 %} <a href="/ModularForm/GSp/Q/Sp4Z_j/{{j}}/{{wt}}/">{{dimtable[wt][j] }}</a> {% else %}
      0

      {% endif%}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<p> Enter either a $k$ and a $j$ or a range of weights to display:</p>
<form id="dimensionForm" action="/ModularForm/GSp/Q/Sp4Z_j" method="get">
 <span>k: <input id="k" name="k"/> </span>&nbsp;&nbsp;&nbsp;
 <span>j:<input id="j" name="j"/> </span>
  <button type="submit" value="submit">Recompute table</button>
</form>

{% else %}
{% include 'None.html' %}
{% endif %}

{% endblock %}
