{% extends 'homepage.html' %}
{% block content %}

{% if (info.col.name() not in ["Gamma0_2", "Gamma1_2", "Gamma_2", "Gamma0_3", "Gamma0_3_psi_3", "Gamma0_4", "Gamma0_4_psi_4", "Gamma0_4_half"]) %}
<h2>Available samples</h2>
{% include [['includes/avail/', info.col.name(), '_avail_forms.html']|join] %}
{% endif %}

{% if info.col.computes_dimensions() %}

<!-- Display dimension table here -->
{% include 'includes/dimension_table.html' %}

<h4> Enter a new range of weights for dimension table:</h4>

<form action="." method="get">

<span>$k$: <input name="k" size=10 value="{{info.args.k}}" placeholder="{{info.col.dim_args_default['k']}}"/> </span>&nbsp;&nbsp;&nbsp;&nbsp;

{% if 'j' in info.col.dimension_desc()['args'] %}
<span>$j$: <input name="j" size=10 value="{{info.args.j}}" placeholder="{{info.col.dim_args_default['j']}}"/> </span>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}

<button type="submit" value="submit">Recompute table</button>

</form>

{% endif %}

{% if (info.col.name() not in ["Gamma1_2", "Gamma0_4_half"]) %}
<h2>Miscellaneous</h2>
{% include [ ['',info.col.description()]|join, 'Not_available.html'] %}
{% endif %}

{% endblock %}



