{% extends 'homepage.html' %}
{% block content %}

{% if info.forms|count > 0 %}
<h2>Available samples</h2>
{% include [['includes/avail/', info.family.name, '_avail_forms.html']|join] %}
{% endif %}

{% if info.family.computes_dimensions() %}
<h2>Dimension table of spaces of {{KNOWL('mf.siegel.degree',title='degree '+info.family.degree|string)}} {{KNOWL('mf.siegel',title='Siegel modular forms')}}</h2>
{% include 'includes/dimension_table.html' %}

<h4> Enter a new range of weights for dimension table:</h4>

<form action="." method="get">

<span>$k$: <input name="k" size=10 value="{{info.args.k}}" placeholder="{{info.family.dim_args_default['k']}}"/> </span>&nbsp;&nbsp;&nbsp;&nbsp;

{% if 'j' in info.family.dimension_desc()['args'] %}
<span>$j$: <input name="j" size=10 value="{{info.args.j}}" placeholder="{{info.family.dim_args_default['j']}}"/> </span>&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}

<button type="submit" value="submit">Recompute table</button>

</form>

{% endif %}

<br>
{% set KNOWL_ID = "mf.siegel.family.%s"|format(info.family.name)|lower %}
{{ KNOWL_INC(KNOWL_ID, title=knowl_title(KNOWL_ID)) }}

{% endblock %}



