{% extends 'homepage.html' %}
{% block content %}
<p>
  The database contains information about {{ number_of_samples
  }} examples of scalar and vector
  valued <a knowl="mf.siegel"> Siegel modular forms</a>, as well as
  dimension formulas for spaces of Siegel modular forms.  The examples
  not in the image of a lift from a lower rank group are almost all of
  the known examples in the literature, and most published dimension
  formulas are included.
</p> 

<h2>Browse examples</h2>
<p>
In each of these spaces we give explicit examples of Siegel modular forms,
as well as dimension formulas and some additional information.
</p>
<p>
<a href="/ModularForm/GSp/Q/Sp4Z_j/">
    $M_{k,j}\left(\textrm{Sp}(4,\mathbb{Z})\right)$ 
</a>
<br />
<a href="/ModularForm/GSp/Q/Kp/">
    $M_2\left(K(p)\right)$ 
 </a>
<br />
 <a href="/ModularForm/GSp/Q/Sp6Z/">
    $M_{k}\left(\textrm{Sp}(6,\mathbb{Z})\right)$ 
 </a>
 &nbsp;
  <a href="/ModularForm/GSp/Q/Sp8Z/">
    $M_k\left(\textrm{Sp}(8,\mathbb{Z})\right)$ 
  </a>
</p>

<h2>Browse dimension formulas</h2>
<p>
For these spaces we provide dimension formulas and some additional information.
</p>
<p>
   <a href="/ModularForm/GSp/Q/Gamma0_2/">
    $M_{k,j}\left(\Gamma_0(2)\right)$
   </a>
   &nbsp;
    <a href="/ModularForm/GSp/Q/Gamma1_2/">
    $M_{k,j}\left(\Gamma_1(2)\right)$
    </a>
    &nbsp;
    <a href="/ModularForm/GSp/Q/Gamma_2/">
    $M_{k,j}\left(\Gamma(2)\right)$
  </a>
  <br />
    <a href="/ModularForm/GSp/Q/Gamma0_3/">
    $M_k\left(\Gamma_0(3)\right)$
  </a> &nbsp;
    <a href="/ModularForm/GSp/Q/Gamma0_3_psi_3/">
    $M_k\left(\Gamma_0(3),\psi_3\right)$
  </a>
  <br />
    <a href="/ModularForm/GSp/Q/Gamma0_4/">
    $M_k\left(\Gamma_0(4)\right)$
    </a>
    &nbsp;
    <a href="/ModularForm/GSp/Q/Gamma0_4_psi_4/">
    $M_k\left(\Gamma_0(4),\psi_4\right)$
  </a>
  <br />
    <a href="/ModularForm/GSp/Q/Gamma0_4_half/">
    $M_{k-1/2}\left(\Gamma_0(4)\right)$
  </a>
  <br />
  
</p>


{% endblock %}
