{% extends 'homepage.html' %}

{% block content %}

<h2> Defining parameters </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.siegel.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>\(=\)</td>
    <td>{{ space.factored_level }}</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.siegel.weight', title='Weight') }}: </td>
    <td> \( (k,j) \) </td>
    <td>\(=\)</td>
    <td>{{ space.weight_str }}</td>
  </tr>
</table>

<h2> Dimensions </h2>

<p>The following table gives the dimensions of various {{ KNOWL('smf.subspaces', title='subspaces') }} of \({{space.mf_latex()}}\).</p>

<table class="dimgrid">
  <thead>
    <tr>
      <th class="blank"></th>
      <th> Total </th>
    </tr>
  </thead>
  <tbody>
    {% for X in ['M', 'S', 'E'] %}
    <tr>
      <th class="left"> {{info.space_type[X]}} </td>
      {% for typ in ['all'] %} 
      <td> {{ space.dim_grid[X][typ] }} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
