{% extends 'homepage.html' %}

{% block content %}


<!-- Hecke field and algebraic q-expansion data -->

<h2> {{KNOWL('mf.siegel.newspace',title='Newspace')}} parameters </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.siegel.family', title='Family') }}: </td>
    <td>{{ newform.family_str }}</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.siegel.level', title='Level') }}: </td>
    <td> \( N \) </td>
    <td>\(=\)</td>
    <td>{{ newform.factored_level }}</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.siegel.weight', title='Weight') }}: </td>
    <td> \( (k,j) \) </td>
    <td>\(=\)</td>
    <td>\( {{ newform.weight_str }} \)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('character.dirichlet.galois_orbit_label', title='Character orbit') }}: </td>
    <td> \([\chi]\) </td>
    <td>\(=\)</td>
    <td> {{ newform.display_character() | safe }} </td>
  </tr>
</table>

<h2> Newform invariants </h2>

<table>
  <tr>
    <td> {{ KNOWL('mf.siegel.dimension', title='Dimension') }}: </td>
    <td>\({{ newform.dim }}\)</td>
  </tr>
  {% if newform.char_degree > 1 and newform.rel_dim > 1 %}
  <tr>
    <td> {{ KNOWL('mf.siegel.relative_dimension', title='Relative dimension') }}: </td>
    <td>\({{ newform.rel_dim }}\) over {{ newform.cyc_display() | safe }}</td>
  </tr>
  {% endif %}
  {% if newform.field_poly and newform.dim > 1 %}
  <!-- Coefficient code depends on existence of form -->
  <tr>
    <td> {{ KNOWL('mf.siegel.coefficient_field',title='Coefficient field') }}: </td>
    <td> {{ newform.field_display() | safe }}</td>
  </tr>
  <tr>
  	<td> {{ KNOWL('mf.siegel.defining_polynomial',title='Defining polynomial') }}: </td>
  	<td>{{ newform.field_poly_display | safe }}</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.siegel.coefficient_ring',title='Coefficient ring') }}: </td>
    <td> {{ newform.ring_display() | safe }}</td>
  </tr>
  {% elif newform.dim == 1 %}
  <tr>
    <td> {{ KNOWL('mf.siegel.coefficient_field',title='Coefficient field') }}: </td>
    <td> \(\mathbb{Q}\)</td>
  </tr>
  <tr>
    <td> {{ KNOWL('mf.siegel.coefficient_ring',title='Coefficient ring') }}: </td>
    <td> \(\mathbb{Z}\)</td>
  </tr>
  {% endif %}
  {% if newform.hecke_ring_index_factored %}
  <tr>
    <td> {{ KNOWL('mf.siegel.coefficient_ring',title='Coefficient ring index') }}: </td>
    <td> {{ newform.ring_index_display() | safe }}</td>
  </tr>
  {% endif %}
</table>

{% if newform.embedding_label %}

<h2> Embedding invariants </h2>

<table>
  <tr>
    <td>{{ KNOWL('mf.siegel.embedding_label', title='Embedding label') }}</td>
    <td></td>
    <td></td>
    <td> {{newform.embedding_label}}</td>
  </tr>
  {% if newform.embedding_root and newform.dim > 1 %}
  <tr>
    <td>{{ KNOWL('mf.siegel.root', title='Root') }}</td>
    <td></td>
    <td></td>
    <td>\({{newform.embedding_root}}\) of defining polynomial</td>
  </tr>
  {% endif %}
  <tr>
    <td>{{ KNOWL('mf.siegel.character', title='Character') }}</td>
    <td>\(\chi\)</td>
    <td>\(=\)</td>
    <td>{{ newform.char_conrey_link | safe}}</td>
  </tr>
{% if newform.embedding_label != newform.dual_label %}
  <tr>
    <td>{{ KNOWL('mf.siegel.dualform', 'Dual form') }}</td>
    <td></td>
    <td></td>
    <td> {{ newform.dual_link | safe }} </td>
  </tr>
{% endif %}
</table>
{% endif %}

{% if newform.char_order != 1 and (newform.dim <= 20 or newform.weight == 1 or newform.embedding_label) %}
<h2>Character values</h2>
<p>We give the values of \(\chi\) on generators for \(\left(\mathbb{Z}/{{newform.level}}\mathbb{Z}\right)^\times\).</p>
<table class="ntdata">
  <tbody>
    {{ newform.display_character_values() | safe }}
  </tbody>
</table>
{% endif %}

{% block subcontent %}
{% endblock %}

{% endblock %}
