{% extends "homepage.html" %}

{% block content %}

<div>Artin Representations Page</div>

<form action="{{ url_for('.search') }}" method="GET">
<input name="val" placeholder="123" />
<button type="submit">Search</button>
</form>

<div>
This page is about {{KNOWL("artin",title="Artin representations")}} of the {{KNOWL("group.galois.absolute",title="absolute Galois group")}} over {{KNOWL("group.galois.absolute.q",title="$Q$")}} of 
</div>

<div>
Terms that need to be defined are

{{KNOWL("artin",title="Artin representations")}}
{{KNOWL("artin.degree",title="Degree")}}
{{KNOWL("artin.",title="Artin representations")}}
{{KNOWL("artin",title="Artin representations")}}
{{KNOWL("artin",title="Artin representations")}}
{{KNOWL("artin",title="Artin representations")}}
{{KNOWL("artin",title="Artin representations")}}


</div>


<h2> Find</h2>
Find Artin representation by {{KNOWL("",title="")}}


<form action="" method=get>
<div>
Enter integer sequence or a {{KNOWL("oeis.index",title="encyclopedia index")}}:
</div>
<p>
<input type='submit' value='Find' >
</p>
</form>


{% endblock %}
