{% extends "homepage.html" %}

{% block content %}

<div>Artin Representations Page</div>

<form action="{{ url_for('.search') }}" method="GET">
<input name="val" placeholder="123" />
<button type="submit">Search</button>
</form>

<p>
HTML to be improved, not the priority. Need stuff defined a bit better so I know what I am trying to do and I can do it right.
</p>
<div>
This page is about {{KNOWL("artin",title="Artin representations")}} of the {{KNOWL("group.galois.absolute",title="absolute Galois group")}} over {{KNOWL("group.galois.absolute.q",title="$Q$")}} of 
</div>

<div>
Terms that need to be defined are
<p>
{{KNOWL("artin",title="Artin representations")}}
</p>

<p>
<div>{{KNOWL("artin.degree",title="Degree")}}</div>
<div>{{KNOWL("artin.number_field",title="Artin number field")}}</div>
<div>{{KNOWL("artin.galois_group",title="Galois group")}}</div>
<div>{{KNOWL("artin.dimension",title="Dimension")}}</div>
<div>{{KNOWL("artin.conductor",title="Conductor")}}</div>
<div>{{KNOWL("artin.root_number",title="Root number")}}</div>
<div>{{KNOWL("artin.ramification_group",title="Ramification group")}}</div>
</p>

<h2> Find</h2>
Find Artin representation by <div>{{KNOWL("artin.conductor",title="conductor")}}</div>

<form action="" method=get>
<p>
<input type='submit' value='Find' >
</p>
</form>

{% endblock %}
