{% extends "homepage.html" %}

{% block content %}


<h2>
    This index page is not done
</h2>
Only examples can be browsed so far, by modifying directly the URL and then clicking on the "Friends" section, or in the hyperlinked table. For instance, try:
<table>
    <tr><td><a href = {{url_for('.by_data', dim=1,conductor=1,index=1)}}>Artin representation of dimension 1, conductor 1 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_data', dim=1,conductor=17,index=1)}}>Artin representation of dimension 1, conductor 17 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=1,conductor=17)}}>Artin representations of dimension 1 and conductor 17 </a></td></tr>
    <tr><td><a href = {{url_for('.by_data', dim = 3, conductor = 113337, index = 1 )}}>Artin representation of dimension 3, conductor 1133337 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=1,conductor=1)}}>Artin representations of dimension 1 and conductor 1 </a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=2,conductor=22356)}}>Artin representations of dimension 2 and conductor 22356 </a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=4,conductor=136480336)}}>Artin representations of dimension 4 and conductor 136480336 </a></td></tr>
    
</table>


<!--

<form action="{{ url_for('.search') }}" method="GET">
<input name="val" placeholder="123" />
<button type="submit">Search</button>
</form>

<p>
HTML to be improved, not the priority. Need stuff defined a bit better so I know what I am trying to do and I can do it right.
</p>
<div>
This page is about {{KNOWL("artin",title="Artin representations")}} of the {{KNOWL("group.galois.absolute",title="absolute Galois group")}} over {{KNOWL("group.galois.absolute.q",title="$Q$")}} of 
</div>

<div>
Terms that need to be defined are
<p>
{{KNOWL("artin",title="Artin representations")}}
</p>

<p>
<div>{{KNOWL("artin.degree",title="Degree")}}</div>
<div>{{KNOWL("artin.number_field",title="Artin number field")}}</div>
<div>{{KNOWL("artin.galois_group",title="Galois group")}}</div>
<div>{{KNOWL("artin.dimension",title="Dimension")}}</div>
<div>{{KNOWL("artin.conductor",title="Conductor")}}</div>
<div>{{KNOWL("artin.root_number",title="Root number")}}</div>
<div>{{KNOWL("artin.ramification_group",title="Ramification group")}}</div>
</p>

<h2> Find</h2>
Find Artin representation by <div>{{KNOWL("artin.conductor",title="conductor")}}</div>

<form action="" method=get>
<p>
<input type='submit' value='Find' >
</p>
</form>
-->
{% endblock %}
