{% extends "base_edit.html" %}

{% block extra_script %}
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_general.js') }}"></script>

<script type="text/javascript">

var dest = '{{ url_for('inventory_app.trigger_control_functions') }}';

function sendControlRequest(action){

  conf = verifyProceed(action);
  if(conf){
    sendToServer(action);
  }
}

function verifyProceed(action){
  //All actions will be confirmed by popup except the following list:
  //ONLY put things here that are cheap and/or frequent and
  //you don't want to annoy user with too many dialogs

  var noConf = ['mark_gone'];

  if(action in noConf){
    return true;
  }else{
    conf = confirm('This action may take some time or alter inventory data. Are you sure?' );
    console.log(conf)
    return conf;
  }
}

function sendToServer(action){

  var info = {'action':action};
  var responseText = JSON.stringify(info);
  var XHR = new XMLHttpRequest();
  XHR.open('POST', dest);
  XHR.setRequestHeader('Content-Type', 'text/plain');

  XHR.addEventListener('load', function(event) {
    //On response alert with answer
    var response = JSON.parse(XHR.response);
    if(response.err){
      alert('An error occurred processing request. '+response.reply);
    }else{
      alert('Operation Completed!');
    }
  });
  // Define what happens in case of error
  XHR.addEventListener('error', function(event) {
    alert('Error submitting request. Please try again.');
  });
  XHR.send(responseText);
}

</script>
{% endblock extra_script %}

{% block title_block %}
Inventory Control Panel
{% endblock title_block %}

{% block main_body %}
  <div id='dialog'></div>
  <div class='listing'>
  <div class='unbreaking'>
      {% if current_user.is_authenticated() %}
      <h2>General Inventory Control</h2>
        <input type='button' id = 'markgone' title = 'Check which collections are gone and mark' value ='Mark Collections Gone' onclick='sendControlRequest("mark_gone")'>
        </p>
        <input type='button' id = 'cleangone' title = 'Check which collections are marked gone and remove' value ='Cleanup Removed Collections' onclick='sendControlRequest("clean_gone")'>
      <h2>Inventory Rescraping Control</h2>
        <input type='button' id = 'cleanscrape' title = 'Cancel expired failed scrape processes' value ='Cleanup Scraping' onclick='sendControlRequest("clean_scrapes")'>
      {% else %}
      <h2>General Inventory Control</h2>
        <input type='button' value ='Mark Collections Gone' title ='Please login for controls' disabled class=disabledbutton>
        </p>
        <input type='button' value ='Cleanup Removed Collections' title ='Please login for controls' disabled class=disabledbutton>
      <h2>Inventory Rescraping Control</h2>
        <input type='button' value ='Cleanup Scraping' title ='Please login for controls' disabled class=disabledbutton>
      {% endif %}

  </div>
</div>
{% endblock main_body %}
