{% extends "base_edit.html" %}

{% block extra_script %}
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_general.js') }}"></script>

<script type="text/javascript">
var pageId = {'db':"{{db_name}}", 'collection':null};
var submittedNice = null;

function promptNiceName(input, element, info){
  var newName = window.prompt("New Nice Name", input.id);
  console.log(info, element);
  if(newName){
    console.log( new ResponseBlock('top_level', 'nice_name', newName));
    var diff = makeDiff([new ResponseBlock('top_level', 'nice_name', newName)], info);
    console.log(newName, diff);
    var dest = '{{ url_for('inventory_app.submit_edits') }}';
    var callback = function(){ flashName(element);}
    submittedNice = newName;
    genSubmitEdits(dest, diff, {redirect:false, debug:true, refresh:false, call: callback});
  }
}

function flashName(item){
  el = document.getElementById(item);
  console.log(el.innerHTML);
  if(submittedNice) el.innerHTML = submittedNice;
  el.classList.add('strongH2');
}

</script>
{% endblock extra_script %}

{% block title_block %}
  {% if db_name is none: %}
    Available Databases
  {% else: %}
    Available  Collections in <span name='nicename'>{{nice_name}}</span> [{{db_name}}]
  {% endif %}
{% endblock title_block %}

{% block main_body %}
  <div class='listing'>
  {% for item in listing %}
  <div class='unbreaking'>
    {% if db_name is none %}
      <h2 class='link'><a href = {{url_for('inventory_app.show_edit_child', id=item[0])}}>{{item[0]}} </a>-- <span id='{{item[0]}}'>{{item[1]}}</span></h2>
      Contains {{item[2]}} collections</br>
      {% if current_user.is_authenticated() %}
        <input type='button' id = '{{item[1]}}' value ='Edit Nice Name' onclick='promptNiceName(this, "{{item[0]}}", {db:"{{item[0]}}"})'>
      {% else %}
        <input type='button' value ='Edit Nice Name' title ='Please login to edit' disabled class=disabledbutton>
      {% endif %}

    {% else %}
      <h2 class='link'><a href = {{url_for('inventory_app.show_inventory', id=db_name, id2=item[0])}}>{{item[0]}} </a>-- <span id='{{item[0]}}'>{{item[1]}}</span></h2>
      Contains {{item[2][0]}} records of {{item[2][1]}} types </br>
      {% if current_user.is_authenticated() %}
        <input type='button' id = '{{item[1]}}' value ='Edit Nice Name' onclick='promptNiceName(this, "{{item[0]}}", {collection:"{{item[0]}}"})'>
        <a href = {{url_for('inventory_app.show_edit_inventory', id=db_name, id2=item[0])}} id=invbutton>Edit Inventory</a>
        <a href = {{url_for('inventory_app.show_records', id=db_name, id2=item[0])}} id=invbutton>View Records</a>
        <a href = {{url_for('inventory_app.show_edit_records', id=db_name, id2=item[0])}} id=invbutton>Edit Records</a>
        <a href = {{url_for('inventory_app.show_indices', id=db_name, id2=item[0])}} id=invbutton>View Indices</a>
      {% else %}
        <input type='button' value ='Edit Nice Name' title ='Please login to edit' disabled class=disabledbutton>
        <input type='button' value ='Edit Inventory' title ='Please login to edit' disabled class=disabledbutton>
        <a href = {{url_for('inventory_app.show_records', id=db_name, id2=item[0])}} id=invbutton>View Records</a>
        <input type='button' value ='Edit Record Types' title ='Please login to edit' disabled class=disabledbutton>
        <a href = {{url_for('inventory_app.show_indices', id=db_name, id2=item[0])}} id=invbutton>View Indices</a>
      {% endif %}

    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock main_body %}
