{% extends "base_edit.html" %}

{% block extra_script %}
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_general.js') }}"></script>
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_editor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='record_viewer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='record_editor.js') }}"></script>
<script type="text/javascript">
    //Create a js object of the fields from server.
    var mainBlockList = new BlockList("{{db_name}}", "{{collection_name}}");
    var pageKey ="{{db_name}}"+"."+"{{collection_name}}";
    var pageId = {'db':"{{db_name}}", 'collection':"{{collection_name}}"};
    var record_fields = {{record_fields | safe}};
    var record_noedit = {{record_noedit | safe}};
    recordHashMap = new Map();//Dummy value which is not null means to fill this
    var submitDest = "{{ url_for('inventory_app.submit_edits') }}";

</script>
<script type="text/javascript">
    //Put in initial text and fit boxes to content

    var startVisible = false;

    function onReady() {
      //Function to be called when data arrives
      console.log( "Ready!" );
        //Loop over blocks and fill text
      for( var key in mainBlockList.blockList){
          var block = mainBlockList.blockList[key];
          $(escape_jq(block.docElementId)).val(String(block.text));
      }
      //Now try fetching a stored list and repopulating
      retrieveBlockList();
      //Finally, fit boxes to text
      for( var key in mainBlockList.blockList){
          var block = mainBlockList.blockList[key];
          if(startVisible) fitToText(block.docElementId);
      }
    }

    $( document ).ready(function(){
      //Fetch content and fill blocklist and DOM
      $( document ).on("blockListReady", onReady); //What to do when blocklist is prepared
      fetchAndPopulateData(mainBlockList, populateRecordEditorPage, startVisible=true);//Start fetching
    });

    //Store blocklist before a refresh
    window.onunload = storeBlockList;

</script>
{% endblock extra_script %}

{% block title_block %} Showing <span id=nicename>{{nice_name}}</span> [{{db_name}}.{{collection_name}}]{% endblock title_block %}

{% block main_body %}
<div>
    <p>The following is the list of all types of record in this collection (last refreshed on <span id=scandate></span>) </p>
    <p>The full list of fields in a record is shown, along with the number of records of this type in the database. The name and description
      fields can be edited here.
</div>
<div id = 'dataDiv'>
</div>
<p></p>
<div id="buttons">
      <span id='SubmitButton'>
        <input type="button" class = "button" value="Submit" onclick="this.blur();submitEdits('{{ url_for('inventory_app.submit_edits') }}')" title="Submit Edits"/>
      </span><span id='SubmitDummy'></span>
        <input type="button" class = "resetbutt" value="Reset" onclick="this.blur();resetEdits()" title="Reset to Original"/>
        <input type="button" class = "button" value="Export" onclick="this.blur();exportAsJson()" title="Export Edits as JSON"/> <!--This button should auto-download a file containing the diffs -->

</div>
{% endblock main_body %}
