{% extends "base_edit.html" %}

{% block extra_script %}
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_general.js') }}"></script>
<script type="text/javascript" src="{{ url_for('inventory_app.static', filename='inventory_viewer.js') }}"></script>
<script type="text/javascript">
    //Create a js object of the fields from server.
    var mainBlockList = new BlockList("{{db_name}}", "{{table_name}}");
    var pageKey = "{{db_name}}"+"."+"{{table_name}}";
    var pageId = {'db':"{{db_name}}", 'table':"{{table_name}}"};
    var table_fields = {{table_fields | safe}};
    var info_fields = {{info_fields | safe}};

</script>
<script type="text/javascript">
    //Put in initial text and fit boxes to content

    function onReady() {
      console.log( "Ready!" );
    }

    $( document ).ready(function(){
      //Fetch content and fill blocklist and DOM
      $( document ).on("blockListReady", onReady); //What to do when blocklist is prepared
      fetchAndPopulateData(mainBlockList, populateViewerPage, startVisible=true);//Start fetching
    });

</script>
{% endblock extra_script %}

{% block title_block %} Showing <span id=nicename></span> [{{table_name}}]{% endblock title_block %}

{% block main_body %}
<div>
    <p>The following is the inventory for this table (last refreshed on <span id=scandate></span>) </p>
</div>
<div id="specialsDiv">
<h2>Table information</h2>
</div>
<div id="dataDiv">
<h2>List of columns in the database</h2>
<p> Only the first 100 characters of the example record are shown.<br>
  The Nulls column indicates the number of rows with no data.
</p>
</div>
<p></p>
<input type="button" class = "button" id="downloadbutt" value="Download Data" onclick="this.blur();fetchAndDownloadData('inventory')" title="Download Page Data"/>

{% endblock main_body %}
