{% extends "homepage.html" %}

{% block content %}


<h2> {{ KNOWL('modlmf.q_expansion', title='<i>q</i>-expansion') }} </h2>

<p><form>
<div class="output"><span id="q_exp_output">{{info.q_exp}}</span></div>
<div class="emptyspace"><br></div>
<button id="morebutton">More coefficients</button>
</form>
{% if info.deg > 1 %}
where $a$ satisfies ${{info.field | safe}}$.
{% endif %}
</p>

<h2> {{ KNOWL('modlmf.invariants', title='Properties') }} </h2>

<table>
    <tr><td align=right>{{ KNOWL('finite_fields.structure', title='Coefficient field') }}:</td><td>
{% if info.deg > 1 %}
$\F_{ {{info.characteristic}}^{{info.deg}} }\cong \F[a]$ where $a$ satisfies ${{info.field | safe}}=0$
{% else %}
$\F_{ {{info.characteristic}} }$
{% endif %}</td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.level', title='Level') }}:</td><td>{{info.level}}</td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.weight_grading', title='Weight grading') }}:</td><td>{{info.weight_grading}}</td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.reducible', title='Reducibility') }}:
{% if info.reducible %}
    </td><td>reducible, with associated representation 
<!--        <a HREF="Character/Dirichlet/ModL/{{info.reducible[0]}}">$\alpha$</a>-->
        ({{info.reducible[0]}})
        {% if info.reducible[1] != 0 %}
        $\chi_{cyc}{% if info.reducible[1]!=1 %}^{ {{info.reducible[1]}} }{% endif %}$
        {% endif %}
        $\oplus$
        {% if info.reducible[0] == info.reducible[2] %}
<!--        <a HREF="Character/Dirichlet/ModL/{{info.reducible[0]}}">$\alpha$</a>-->
        ({{info.reducible[0]}})
        {% else %}
<!--        <a HREF="Character/Dirichlet/ModL/{{info.reducible[2]}}">$\beta$</a>-->
        ({{info.reducible[2]}})
        {% endif %}
        {% if info.reducible[3] != 0 %}
        $\chi_{cyc}{% if info.reducible[3]!=1 %}^{{info.reducible[3]}}{% endif %}$
        {% endif %}
    </td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.weight_eisenstein', title='Minimal Eisenstein weight lift') }}:</td><td>{{info.reducible[4]}}</td></tr>
{% else %}
    </td><td>irreducible</td></tr>
{% endif %}
    <tr><td align=right rowspan=4 valign=top>{{ KNOWL('modlmf.cuspidal_lift', title='Minimal cuspidal lift:') }}</td><td>weight: {{info.cuspidal_lift_weight}}</td></tr>
    <tr><td>{{ KNOWL('modlmf.cuspidal_lift', title='form') }}: <a HREF="/ModularForm/GL2/Q/holomorphic/?jump_to={{info.cuspidal_lift_orbit}}">{{info.cuspidal_lift_orbit}}</a></td></tr>
    <tr><td>{{ KNOWL('cmf.coefficient_field', title='coefficient field') }}: 
        {% if info.cuspidal_hecke_field == 1 %}
        $\Q$
        {% else %}
        $\Q(x_0)$ where $x_0$ satisfies {% if info.cuspidal_hecke_field%}${{info.cuspidal_hecke_field}}${% endif %}
        {% endif %}</td></tr>
    <tr><td>{{ KNOWL('modlmf.reduction ideal', title='ideal') }} above {{info.characteristic}}: generators {% if info.cuspidal_lift_gen %}${{info.cuspidal_lift_gen}}${%endif%}</td></tr>

    <tr><td align=right>{{ KNOWL('modlmf.dirchar', title='Character') }}:</td><td>{{info.dirchar}}
    <!--<a HREF="Character/Dirichlet/ModL/{{info.dirchar}}">{{info.dirchar}}</a>-->
    </td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.label', title='Label') }}:</td><td>{{info.label}}</td></tr>
    {% if info.level !=1 %}
        <tr><td align=right>{{ KNOWL('modlmf.atkinlehner', title='Atkin-Lehner eigenvalues')}}:</td>
            <td>
            {%for n in info.atkinlehner %}
                $W({{n[0]}})\colon{{n[1]}}${% if not loop.last %},  {% endif %}
            {% endfor %}
            </td></tr>
    {% endif %}
    <tr><td align=right>{{ KNOWL('modlmf.ordinary', title='Ordinary') }}:</td><td>
        {% if info.ordinary == 1 %}
            yes
        {% else %}
            no
        {% endif %}
        </td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.minimal_theta_weight', title='Minimal theta cycle weight') }}:</td><td>{{info.min_theta_weight}}</td></tr>
    <tr><td align=right>{{ KNOWL('modlmf.theta_cycle', title='Theta cycle') }}:</td><td>
    {% if info.ordinary == 1 %}
        {{info.cuspidal_lift_weight}}
    {% endif %}
    ({% for i in info.theta_cycle %}<a HREF="/ModularForm/GL2/Q/holomorphic/?jump_to={{i[1]}}">{{i[0]}}</a>{% if not loop.last %}, {% endif %}{% endfor %})</td></tr>
</table>

<br>

<h2> {{ KNOWL('modlmf.eigenvalues', title='Hecke eigenvalues') }} </h2>

{% if info.deg == 1 %}
<table class="ntdata" cellpadding=3 style="table-layout:fixed">
<tr><td>$p$</td>{% for p in info.table_list %}<td>${{p[0]}}$</td>{% endfor %}</tr>
<tr><td>$a_p$</td>{% for p in info.table_list %}<td>${{p[1]}}$</td>{% endfor %}</tr>
</table>

{% else %}
<table class="ntdata" cellpadding=3 style="table-layout:fixed">
<tr><td>$p$</td><td>$a_p$</td></tr>
{% for p in info.table_list %}<tr><td>${{p[0]}}$</td><td>${{p[1]}}$</td></tr>{% endfor %}
</table>
{% endif %}

<p>Download all the coefficients stored in the database for the <i>q</i>-expansion for
{% for e in info.download_q_exp %} 
            <a href="{{e[1]}}">{{e[0]}}</a>{% if not loop.last %},  {% endif %}
            {% endfor %}
</p>




<h2> {{ KNOWL('modlmf.old_q_expansion', title='Old form <i>q</i>-expansion') }} </h2>

<p><form>
See the <i>q</i>-expansion as an old form at $p$ for $p=$ <input type='text' name='old_level' value="{{info.old_level}}" size=5> or at weight $k=$<input type='text' name='old_weight' value="{{info.old_weight}}" size=5>
<div class="output"><span id="q_exp_output">{{info.q_exp}}</span></div>
<div class="emptyspace"><br></div>
<button id="morebutton">More coefficients</button>
</form>
{% if info.deg > 1 %}
where $a$ satisfies ${{info.field | safe}}$.
{% endif %}
</p>


<script type="text/javascript">
var number_of_coefficients = 20;
function more_handler(evt) {
    number_of_coefficients = number_of_coefficients + 10;
    evt.preventDefault();
    $("#q_exp_output").load("{{info.q_exp_display}}"+number_of_coefficients,
        function() {
            {# render the output #}
            renderMathInElement($("#q_exp_output").get(0), katexOpts);
        });
}
$(function() {
    $("#morebutton").click(function(e) {more_handler(e)});
});
</script>


{% endblock %}
