.enternumber
{
  border: 1px solid black;
}
.submitbutton
{
  border: 1px solid black;
  background-color: #45BDD7;
}
table.siegel_dim_table
{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 12px;
  max-width: 600px;
}
table.siegel_dim_table td
{
  padding: 2px 5px 2px 5px;
  border: 1px solid black;
}
table.siegel_dim_table td a
{
  color: #067AAB;
  text-decoration: none;
}
table.siegel_dim_table td a:visited
{
  color: #067AAB;
  text-decoration: none;
}
table.siegel_dim_table td a:hover
{
  color: #067AAB;
  text-decoration: underline;
}
