* {
zoom: 0;
}

img { border: 0; }

body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #111;
    background-color: white;
    /* max-width: 1200px; */
}
#Content > h1
{
    font-size: 200%;
    font-weight: bold;
    color: #292;
    font-family: sans-serif;
    text-decoration: none;
    padding 5px 0 5px 0;
    margin: 0 0 30px 0;
}
#Content > h2
{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 130%;
    text-align: left;
    font-weight: bold;
    color: #292;
    padding 5px 0 5px 0;
    margin: 20px 0 20px 0;
}
#Content > h3 {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 115%;
    text-align: left;
    font-weight: bold;
    color: #181;
    padding 5px 0 5px 0;
    margin: 15px 0 15px 0;
}
#footer
{
    clear: both;
    margin-top: 0px;
    /* background-image: url(images/footer.png);
    background-repeat: repeat-x; */
    background-color: #bfb;
    padding: 25px 10px;
    text-align: center;
    font-size: 75%;
}


a {
    color: #292;
    text-decoration: none;
    font-family: sans-serif;
}

a:visited { color: #080; }
a:hover { color: #000; }

#header {
  /*border-bottom: 2px solid #4a4;*/
  min-height: 100px;
    background: #dfd;
  -moz-box-shadow:     0px 5px 5px #8b8;
  -webkit-box-shadow:  0px 5px 5px #8b8;
  box-shadow:          0px 5px 5px #8b8;
}

#header .logo {
    float: left;
    height: 100px;
    width: 200px;
    margin: 0px;
}
#header .right {
    margin-left: 210px;
    margin-top: 0px;
}
#header #title {
    /* border: 1px solid green; */
    font-size: 170%;
    font-weight: bold;
    font-family: sans-serif;
    min-height: 80px;
    position: relative;
}

#header #title-content {
  position: absolute;
  bottom: 10px;
}

#header .bread {
    /* border: 1px solid red; */
    font-family: sans-serif;
    min-height: 18px;
    font-size: 90%;
    padding-top: 2px;
}
#header .userinfo {
    /* border: 1px solid red;  */
    font-family: sans-serif;
    min-height: 18px;
    font-size: 90%;
    padding: 2px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#flashes p {
  border-left: 15px solid #DDF;
  padding: 5px;
  background: #EEF;
  
}

#flashes p.error {
  margin: 15px 0;
  font-size: 95%;
  border: 0;
  border-left: 15px solid #FDD;
  background: #FEE;
}



#main {
	margin: 0 0 0 200px;
	padding: 0 0 0px 10px;
  min-height: 600px;
    /* border: 1px solid purple; */
}

#properties {
    font-size: 85%;
    font-family: sans-serif;
    float: right;
    clear: right;
    margin: 0px 0 15px 15px;
    /* width: 20%; */
    background: #dfd;
    border: 1px solid #474;
    border: 0;
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-box-shadow:     5px 5px 4px #8a8;
    -webkit-box-shadow:  5px 5px 4px #8a8;
    box-shadow:          5px 5px 4px #8a8;
}
#properties h1 {
    font-size: 110%;
    padding: 0;
    margin-bottom: 0;
}
#properties h2 {
    font-size: 100%;
    padding: 0;
    margin-bottom: 0;
}
#Content {
    margin-top: 10px;
    font-size: 95%;
}

#Content blockquote
{
/*
    margin: 10px;
    color: #996633;
    text-decoration: none;
    font-size: 12px;
    padding-left: 15px;
    font-family: sans-serif;
    line-height: 18px;
    background-color: #F1EFE2;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    padding-right: 10px;
    border: 2px solid #ECE9D8;
*/
}
/*
blockquote p {
    color: #CC6600;
    line-height: 18px;
    font-family: serif;
}
*/

#sidebar {
    float: left;
    width: 200px;
    margin: 15px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 85%;
    color: #390;
    background: #EFE;
}

#sidebar h2 {
    font-family: sans-serif;
    font-size: 100%;
    background-color: #bfb;
    color: #292;
    padding: 5px;
    margin: 20px 0 0 0;
}

#sidebar h2#top {
    margin: 0;
}

#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#sidebar ul li {
    display: block;
    margin: 0px;
    padding: 0px;
}
#sidebar a:hover {
    background: #bfb;
}
#sidebar a {
    display: block;
    padding: 5px;
    background: #efe;
}

.visible {
	visibility: visible;
}
	
.hidden {
	visibility: hidden;
	height: 0px;
}

.code {
    font-family: monospace;
    margin: 2px;
    margin-right: 20px;
}

.nodisplay {
    display: None;
}

.formexample {
   font-size: 80%;
   font-style: italic;
   color: grey;
}

td.forminfo {
   font-size: 80%;
   font-style: italic;
   color: grey;
   vertical-align: top;
}

form input {
  border: 1px solid #AAA;
  font-size: 110%;
  padding: 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


table {
    border: 0;
    border-collapse:collapse;
}

table a {
    display: block;
    padding: 2px 0;
}

table a:hover {
    background: #afa;
}


table td.spacing {
  height: 20px;
}

table.ntdata {
    width: 100%;
    border: 0;
}

table.ntdata thead tr {
    background: #afa;
    border-bottom: 1px solid black;
}

table.ntdata tbody tr {
}

table.ntdata tr.odd {
    background: white;
}

table.ntdata tr.even {
 background: #eeffee;
}

table.ntdata tr.line {
    border-bottom: 1px dotted gray;
}

div.literature {
    margin-top: 10px;
    font-size: 90%;
    color: #111111;
}

.name {
    font-weight: bold;
}

.emph {
    font-style: italic;
}

/*** Tables for the Siegel corner ***/

.box1 {
    margin: 20px 5px 20px 5px;
    padding: 1px;
    max-width: 600px;
    overflow: auto;
}

.small{
    font-size: 12px;
}

.error {
    margin: 20px 0 20px 0;
    padding: 10px;
    border: 1px solid red;
    color: red;
    font-size: 120%;
}

.enternumber
{
  border: 1px solid black;
}

.submitbutton
{
  border: 1px solid black;
  background-color: #45BDD7;
}
