* {
zoom: 0;
}

img { border: 0; }

body
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #111;
    background-color: white;
    max-width: 1200px;
}
#Content > h1
{
    font-size: 200%;
    font-weight: bold;
    color: #181;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0px;
    margin: 10px 0 30px 0;
}
#Content > h2
{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 130%;
    text-align: left;
    font-weight: bold;
    color: #292;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}

#footer
{
    clear: both;
    margin-top: 25px;
    /* background-image: url(images/footer.png);
    background-repeat: repeat-x; */
    background-color: #bfb;
    padding: 25px 10px;
    text-align: center;
    font-size: 75%;
}


a {
    color: #292;
    text-decoration: none;
    font-family: sans-serif;
}

a:visited { color: #080; }
a:hover { color: #000; }

#header {
  border-bottom: 1px solid #4a4;
  min-height: 120px;
  background: #bfb;
}

#header .logo {
    float: left;
    height: 100px;
    width: 200px;
    margin: 0px;
    margin-top: 5px;
}
#header .right {
    margin-left: 210px;
    margin-top: 10px;
}
#header .title {
    /* border: 1px solid green; */
    font-size: 170%;
    font-weight: bold;
    font-family: sans-serif;
    min-height: 80px;
    padding-top: 5px;
}
#header .bread {
    /* border: 1px solid red; */
    font-family: sans-serif;
}


#main {
	margin: 0 0 0 200px;
	padding: 0 0 10px 10px;
    /* border: 1px solid purple; */
}

#properties {
    font-size: 85%;
    font-family: sans-serif;
    float: right;
    clear: right;
    margin: 0 0 15px 15px;
    /* width: 20%; */
    background: #dfd;
    border: 1px solid #474;
    border-right: 0;
    padding: 0 15px 15px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
}
#properties h1 {
    font-size: 110%;
    padding: 0;
    margin-bottom: 0;
}
#properties h2 {
    font-size: 100%;
    padding: 0;
    margin-bottom: 0;
}
#Content {
    font-size: 95%;
}

#Content blockquote
{
/*
    margin: 10px;
    color: #996633;
    text-decoration: none;
    font-size: 12px;
    padding-left: 15px;
    font-family: sans-serif;
    line-height: 18px;
    background-color: #F1EFE2;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
    padding-right: 10px;
    border: 2px solid #ECE9D8;
*/
}
/*
blockquote p {
    color: #CC6600;
    line-height: 18px;
    font-family: serif;
}
*/

#sidebar {
    float: left;
    width: 200px;
    padding: 15px 0px;
    font-family: sans-serif;
    font-size: 85%;
    color: #390;
}

#sidebar h2 {
    font-family: sans-serif;
    font-size: 95%;
    background-color: #bfb;
    color: #292;
    padding: 5px;
    margin: 0px;
}
#sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#sidebar ul li {
    display: block;
    margin: 0px;
    padding: 0px;
}
#sidebar a:hover {
    background: #9f9;
}
#sidebar a {
    display: block;
    padding: 5px;
}

.visible {
	visibility: visible;
}
	
.hidden {
	visibility: hidden;
	height: 0px;
}

.code {
    font-family: monospace;
    margin: 2px;
    margin-right: 20px;
}

.nodisplay {
    display: None;
}
