{% include "knowl-diff-core.html" %}

<script>

var content_history = [
  {% for elt in k.edit_history|reverse %}
    {{ elt.content|string|safe }},
  {% endfor %}
]

function new_text(version) {
  if( version == -1) {
    return $('#kcontent').val();
  }
  else if ( version >= 0 && version < content_history.length ) {
    return content_history[version];
  }
  else {
    return '';
  }
};

$(document).ready(function () {
  var diffmode='sidebyside';
  var lhsselect = $('#lhsselect');
  var rhsselect = $('#rhsselect');
  var comp = $('#compare');
  comp.mergely({
    license: 'gpl-separate-notice',
    cmsettings: {
      readOnly: true,
      linewrap: true,
      viewportMargin: 50,
    },
    lineNumbers: true,
    wrap_lines: true,
    width: 'auto',
    height: '100%',
    ignorews: false,
  });

  lhsselect.change( function() {
    lhs = new_text(parseInt(lhsselect.val()));
    if (diffmode == 'sidebyside') {
      $('#compare').mergely('lhs', lhs);
      //$('#compare').mergely('resize');
    } else {
      rhs = new_text(parseInt(rhsselect.val()));
      $('#compareinline').html('<pre>' + diff(lhs, rhs) + '</pre>');
    }
    return false;
  });


  rhsselect.change( function() {
    rhs = new_text(parseInt($('#rhsselect').val()));
    if (diffmode == 'sidebyside') {
      $('#compare').mergely('rhs', rhs);
      //$('#compare').trigger('resize');
    } else {
      lhs = new_text(parseInt($('#lhsselect').val()));
      $('#compareinline').html('<pre>' + diff(lhs, rhs) + '</pre>');
    }
    return false;
  });

  {# in editing mode? #}
  {% if k.editing %}
    // insert edition as an option
    lhsselect.prepend($("<option></option>")
                      .attr("value","-1")
                      .text("editing")
                      .prop('selected', true)
                      );

    if(content_history.length > 0) {
      lhsselect.val("0").change();
    }
    rhsselect.prepend($("<option></option>")
                      .attr("value","-1")
                      .text("editing")
                      .prop('selected', true)
                      );

    lhsselect.trigger("change");
    rhsselect.trigger("change");

    $kcontent.keyup( function() {
      lhsselect.trigger("change");
      rhsselect.trigger("change");
      return false;
    });
  {% else %}
    rhsselect.val("0").change();
    {% if k.previous_review_spot %}
      {# we have reversed the indexes #}
      lhsselect.val("{{(k.edit_history|length) - 1 - k.previous_review_spot}}").change();
    {% else %}
      lhsselect.val("1").change();
    {% endif %}
  {% endif %} {# end if editing #}
  comp.trigger('resize');

  $('#inline_button').click( function(evt){
    evt.preventDefault();
    diffmode = 'inline';
    lhsselect.trigger("change");
    $(".sidebyside").hide('fast');
    $(".inline").show('fast');
    return false;
  });
  $('#sidebyside_button').click( function(evt){
    evt.preventDefault();
    diffmode = 'sidebyside';
    lhsselect.trigger("change");
    rhsselect.trigger("change");
    comp.trigger('resize');
    $(".inline").hide('fast');
    $(".sidebyside").show('fast');
    return false;
  });
  });

</script>


<div id='diffselector'>
  <table style="width: 100%">
    <!--
      <tr>
      <th> Left hand side</th>
      <th> Right hand side</th>
      </tr>
    -->
    <tr>
      <td align="center">
        <form>
          <select id='lhsselect' size="4">
            {% for elt in k.edit_history|reverse %}
              <option value='{{loop.index0}}'>
              {{((elt.timestamp|fmtdatetime)|string) + " by " + (elt.author_full_name|string)}}
              {% if elt.status == 1 %}
                (Reviewed)
              {% endif %}
              </option>
            {% endfor %}
          </select>
        </form>
      </td>
      <td align="center">
        <form>
          <select id='rhsselect' size="4">
            {% for elt in k.edit_history|reverse %}
              <option value='{{loop.index0}}'>
              {{((elt.timestamp|fmtdatetime)|string) + " by " + (elt.author_full_name|string)}}
              {% if elt.status == 1 %}
                (Reviewed)
              {% endif %}
              </option>
            {% endfor %}
          </select>
        </form>
      </td>
    </tr>
  </table>
</div>
<div class="sidebyside">
  <strong> Side by side </strong>
  <a href="#" id="inline_button">(inline)</a>
  <div class="diff_wrapper">
    <div id="compare"></div>
  </div>
</div>

<div class="inline" style="display: none;" sytle>
  <strong> Inline </strong>
  <a href="#" id="sidebyside_button">(side by side)</a>
  <div class="diff_wrapper">
    <div id="compareinline"></div>
  </div>
</div>



