{% extends "homepage.html" %}

{% block content %}

<div>
 <table class="ntdata">
 <thead>
   <tr>
    <th>Timestamp</th>
    <th>Who</th>
    <th>Knowl</th>
   </tr>
  </thead>

  {% for h in history %}
  <tr>
   <td><a id="{{loop.index}}"></a>{{ h.timestamp|fmtdatetime }}</td>
   <td>{{ h.last_author }}</td>
   <td>{{ KNOWL(h.id) }}</td>
  </tr>
  {% endfor %}
 </table>
 {% if (history|length) == limit %}
 <a href="{{url_for('.history', limit=limit+25)}}#{{limit}}">See more history</a>
 {% endif %}
</div>

{% endblock %}
