<script>
$("body").on("fakeclick", "[knowl]", knowl_handle);
  function clickall(evt) {
  evt.preventDefault();
  $('.history').find('[knowl=cmf]').not('.active').trigger("fakeclick");
  $('.expand_button').switchClass('expand_button', 'hide_button')
  return false;
};
function hideall(evt) {
  evt.preventDefault();
  $('.history').find('.knowl-output*').slideUp("fast");
  $('.history').find('[knowl=cmf]').removeClass('active');
  $('.hide_button').switchClass('hide_button', 'show_button')
  return false;
};
function showall(evt) {
  evt.preventDefault();
  $('.history').find('.knowl-output*').slideDown("fast");
  $('.history').find('[knowl=cmf]').addClass('active');
  $('.show_button').switchClass('show_button', 'hide_button')
  return false;
};

function revert_to_version(evt) {
  evt.preventDefault();
  timestamp = parseInt($(this).attr('ms_timestamp'));
  {# edit_history is defined in knowl-edit.html #}
  if (!unsaved || confirm('Do you really want to revert to this version and overwrite your changes?')) {
    update_content(0, $kcontent.val().length, edit_history[timestamp]);
  }
  return false;
}
$(function() {
  $("body").on("click", ".expand_button", clickall);
  $("body").on("click", ".hide_button", hideall);
  $("body").on("click", ".show_button", showall);
  $("body").on("click", ".revert_button", revert_to_version);
});

</script>

<strong>History:</strong>
<a href="#" class="expand_button">(expand/hide all)</a>
<ul class="history">
  {% for elt in k.edit_history|reverse %}
    <li>
      {{ KNOWL(k.id, title=((elt.timestamp|fmtdatetime)|string) + " by " + (elt.author_full_name|string), timestamp=elt.ms_timestamp)}}
      {% if elt.status == 1 %}
        (Reviewed)
      {% endif %}
      {% if k.editing %}
        &middot; <a href="#" class="revert_button" ms_timestamp="{{elt.ms_timestamp}}">Revert</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

