<script>
  $("body").on("fakeclick", "[knowl]", knowl_handle);
  function clickall(evt) {
  evt.preventDefault();
  $('.history').find('[knowl=cmf]').not('.active').trigger("fakeclick");
  $('.expand_button').switchClass('expand_button', 'hide_button')
};
  function hideall(evt) {
  evt.preventDefault();
  $('.history').find('.knowl-output*').slideUp("fast");
  $('.history').find('[knowl=cmf]').removeClass('active');
  $('.hide_button').switchClass('hide_button', 'show_button')
};
function showall(evt) {
  evt.preventDefault();
  $('.history').find('.knowl-output*').slideDown("fast");
  $('.history').find('[knowl=cmf]').addClass('active');
  $('.show_button').switchClass('show_button', 'hide_button')
};
  $(function() {
  $("body").on("click", ".expand_button", clickall);
});
$(function() {
  $("body").on("click", ".hide_button", hideall);
});
$(function() {
  $("body").on("click", ".show_button", showall);
});
</script>
<strong>History:</strong> <a href="#" class="expand_button">(expand/hide all)</a>
<ul class="history">
  {% for elt in k.edit_history|reverse %}
    <li>
      {{ KNOWL(k.id, title=((elt.timestamp|fmtdatetime)|string) + " by " + (elt.author_full_name|string), timestamp=elt.ms_timestamp)}}
    </li>
  {% endfor %}
</ul>



