{% extends "homepage.html" %}

{% block content %}
{% from "knowl-defs.html" import knowlbar with context %}
{{ knowlbar(show_kid=True) }}

{{ render|safe }}

<div style="margin-top: 30px;">
  <strong>Authors:</strong>
  <ul>
  {% for a in k.author_links() %}
    <li><a href="{{ url_for('users.profile', userid=a['username']) }}">{{ a['full_name'] or a['username'] }}</a></li>
  {% endfor %}
  </ul>
</div>
<div style="margin-top: 30px;">
  <strong>Knowl status:</strong>
  <ul>
    <li>Review status: {{ k.quality }}
      {% if user_can_review_knowls %}
      {% if k.status == 0 %}
      (<a onclick='return confirm("Mark as positively reviewed?");' href="{{ url_for('.review', ID=k.id) }}">Review</a>)
      {% elif k.status == 1 %}
      (<a onclick='return confirm("Return to beta?");' href="{{ url_for('.demote', ID=k.id) }}">Back to beta</a>)
      {% endif %}
      {% endif %}
    </li>
    <li>Last edited by {{k.last_author()}} on {{ k.timestamp }}</li>
  </ul>
</div>
{% if k.source %}
<div style="margin-top: 30px;">
  <strong>{{ 'Top' if k.type == 1 else 'Bottom' }} Knowl</strong> for <a href="/{{k.source}}">{{k.source_name}}</a>
</div>
{% endif %}

{% endblock %}
