{% extends "homepage.html" %}
{% block content %}

  {% if lock %}
    <div style="color: {{color.red}}; font-weight: bold; font-size: 200%;">Concurrent Edit!!!</div>

    <div>
      The Knowl {{ k.title }} is currently or has been recently edited by 
      <a href="{{ url_for('users.profile', userid = lock.username) }}">{{ get_username(lock.username) }}</a>
      at {{ lock.timestamp|fmtdatetime }}. There might be a conflict!
    </div>

    <div style="margin-top: 30px">
      <a href="{{ url_for('.edit', ID=k.id, lock='ignore') }}">Continue</a>
    </div>

    <div style="margin-top: 30px">
      <a href="{{ request.referrer }}">Abort</a>
    </div>
  {% else %}
    {% from "knowl-defs.html" import knowlbar with context %}

    {% set renamable = (k.type == 0 and k.exists() and user_is_admin and k.source is none) %}
    {% set renaming_other_to_this = (k.type == 0 and k.source is not none and k.id != k.source) %}
    {% set renaming_this_to_other = (k.type == 0 and k.id == k.source) %}
    {% if k.type == -2 %}
      {{ KNOWL_INC(k.source) }}
    {% else %}
      {{ knowlbar() }}

      <div style="margin: 10px;">
        {% if k.type == 0 and not renaming_this_to_other %}
        Before editing, make sure you read the {{ KNOWL("doc.knowl.guidelines", title="Knowl Edit Guidelines") }}.
        {% elif k.type != 0 %}
        Before editing, make sure you read the {{ KNOWL("doc.knowl.annotation_guidelines", title="Annotation Guidelines") }}.
        {% endif %}
      </div>
    {% endif %}

    <form action="{{ url_for('.save_form') }}" method="POST" id=>
      <input type="hidden" name="id" value="{{ k.id }}"/>
      <table>
        {% if renaming_this_to_other %}
        <tr>
          <td colspan="2" style="padding:10px;">
            This knowl is in the process of being {{KNOWL("doc.knowl.rename", "renamed")}} to {{ KNOWL(k.source_name, k.source_name) }} and is not editable.
          </td>
        </tr>
      </table>
      <button type="submit" style="margin:10px;" name="finish_rename" value="finish">Finish Renaming</button>
      <button type="submit" style="margin:10px;" name="undo_rename" value="undo">Undo Renaming</button>
        {% else %}
        {% if k.type == -2 %} {# -2 is a comment #}
        <tr>
          <td>{{KNOWL("doc.knowl.comment_title",title="Comment Title")}}</td>
          <td><input size="40" name="title" id="ktitle" value="{{ k.title }}" /></td>
        </tr>
        {% else %}
        <tr>
          <td>
            {{KNOWL("doc.knowl.identifier",title="Identifier")}}
          </td>
          <td>
            <a href="{{ url_for('.render', ID = k.id) }}">{{ k.id }}</a>
          </td>
        </tr>
        {% if renamable %}
        <tr>
          <td>
            {{KNOWL("doc.knowl.rename",title="Rename to")}}:
          </td>
          <td>
            <input size="40" name="krename" />
          </td>
        </tr>
        {% elif renaming_other_to_this %}
        <tr>
          <td colspan="2">
            This knowl is in the process of being {{ KNOWL("doc.knowl.rename", "renamed")}} from {{ KNOWL(k.source, k.source) }}
          </td>
        </tr>
        {% endif %} {# renamable #}
        <tr>
          <td>{{KNOWL("doc.knowl.description",title="Description")}}</td>
          <td><input size="40" name="title" id="ktitle" value="{{ k.title }}" /></td>
        </tr>
        <tr>
          <td>Quality</td>
          <td>
            {{ k.quality }}
          </td>
        </tr>
      {% endif %} {# k.type == -2 #}
        <tr>
          <td colspan="2"><textarea cols="40" rows="10"
                                    name="content" id="kcontent">{{ k.content }}</textarea>
          </td>
        </tr>
      </table>
      <button type="submit" id="knowl-edit-btn" onclick="return {% if renamable %}check_knowl_category();{% else %}set_saved();{% endif %}">Save</button>
      {% endif %} {# renaming_this_to_other #}

      <a style="margin-left: 30px" onclick="unsaved = false;" href="{% if k.type == -2 %}{{ url_for('.show', ID=k.source) }}{% elif k.exists() %}{{ url_for('.show', ID=k.id) }}{% else %}{{ url_for('.index') }}{% endif %}">cancel</a>
      </form>
    {% if renaming_this_to_other %}
      <br><br><br>
      {{ KNOWL_INC(k.id) }}
    {% else %}
    <div class="knowl-editmode-sep">
      <table class="knowl-editmode">
        <tr>
          <td>
            <a id="activate-link-suggestions" onclick="enable('link-suggestions'); return false;" href="#">Link suggestions</a>
            <span id="inactive-link-suggestions" style="display: none;">Link suggestions</span>
          </td>
          {% if (k.edit_history|length) > 0 %}
            <td>
              <a id="activate-history" onclick="enable('history'); return false;" href="#">View history</a>
              <span id="inactive-history" style="display: none;">View history</span>
            </td>
            <td>
              <a id="activate-diffs" onclick="enable('diffs'); return false;" href="#">View diffs</a>
              <span id="inactive-diffs" style="display: none;">View diffs</span>
            </td>
          {% else %}
            <td>
              <span id="history">View history</span>
            </td>
            <td>
              <span id="diffs">View diffs</span>
            </td>
          {% endif %}
          <td>
            <a id="activate-preview" onclick="enable('preview'); return false;" href="#" style="display: none;">Preview</a>
            <span id="inactive-preview">Preview</span>
          </td>
          <td>
            <a id="refresh-view" onclick="dispatch_refresh(); return false;" style="display: none;" href="#">(Refresh)</a>
          </td>
        </tr>
      </table>
    </div>
    <div id="view-wrapper" class="knowl">
      <div id="view-link-suggestions" style="display: none;">
        <ul id="link-suggestions-ul">
        </ul>
      </div>
      <div id="view-history" style="display: none;">
        {% include "knowl-knowl-history.html" %}
      </div>
      <div id="view-diffs" style="display: none;">
        {% include "knowl-diff.html" %}
      </div>
      <div id="view-preview">
        <h1 id="knowl-title"></h1>
        <div id="knowl-content"></div>
      </div>
    </div>
    {% endif %}

<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/markitup/1.x@1.1.15/markitup/jquery.markitup.js"
        integrity="sha256-BiawY8kuGhVgPmV3XSWamEheAvBvH9VeZbzR16BdvAM="
        crossorigin="anonymous"></script>
{# depends on color #}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markitup.css')}}" />
{# settings for the editor menus and the stylesheet #}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.markitup.markdown.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown.css')}}" />

<script type="text/javascript" src="{{ url_for('static', filename='knowl_edit.js') }}"></script>
<script type="text/javascript">
var render_url = "{{ url_for('.render', ID=k.id)}}";
/* edit history */
var edit_history = {
  {% for version in k.edit_history %}
    {{version['ms_timestamp']}}: {{ version['content'] | safe}},
{% endfor %}
};
/* all defines */
var all_defines = {
  {% for term, definers in k.all_defines.items() %}
    '{{term}}': [
      {% for did in definers %}
        '{{did}}',
    {% endfor %}
    ],
{% endfor %}
};

$("body").on("click", ".insert_klink", insert_klink);
$("body").on("click", ".select_klink", select_klink);

/* register keyhandlers */
$(function() {
  $("#ktitle").keyup(dispatch_refresh);
  $("#kcontent").keyup(dispatch_refresh);
  refresh_preview();
});

/* prevent accidental closing of browser window */
window.onbeforeunload = function() {
  if(unsaved) {
    return "There are unsaved edits. Really close?";
  }
}

$(document).ready(
function() {
  $('#kcontent').markItUp(myMarkdownSettings);
});
</script>

  {% endif %} {# concurrent edit warning at the top #}
{% endblock %}
