{% extends 'homepage.html' %}

{% block content %}

<div class="announce">
The <b>L</b>-function and <b>M</b>odular 
<b>F</b>orms <b>D</b>ata<b>B</b>ase 
project is a collaborative
effort by Number Theorists to share, contextualize and improve data
and theorems.
</div>


<h4>This project is supported by the <a href="http://www.nsf.gov">National Science Foundation</a> under FRG Grant No. DMS-0757627, which is administered from the <a href="http://www.aimath.org">American Institute of Mathematics</a>. </h4>



{% endblock %}
