{% extends 'homepage.html' %}

{% block content %}
<h1>Acknowledgment</h1>

<h2>Programmers</h2>
<div>
<ul>
  <li>Matt Alderson</li>
  <li>Salman Baig</li>
  <li>Jennifer Balakrishnan</li>
  <li>Jennifer Beineke</li>
  <li>Jonathan Bober</li>
  <li>Andrew Booker</li>
  <li>Robert Bradshaw</li>
  <li>Alina Bucur</li>
  <li>Henri Cohen</li>
  <li>Brian Conrey</li>
  <li>John Cremona</li>
  <li>Paul-Olivier Dehaye</li>
  <li>Tim Dokchitser</li>
  <li>David Farmer</li>
  <li>Marcus Fraczek</li>
  <li>Ralph Furmaniak</li>
  <li>Jonthan Hanke</li>
  <li>Bill Hart</li>
  <li>Duc Khiem Huynh</li>
  <li>John Jones</li>
  <li>Kiran Kedlaya</li>
  <li>Sally Koutsoliotas</li>
  <li>Stefan Lemurell</li>
  <li>Robert Miller</li>
  <li>Andrew Pollington</li>
  <li>Rishikesh</li>
  <li>Michael Rubinstein</li>
  <li>Nathan Ryan</li>
  <li>Ralf Schmidt</li>
  <li>Harald Schilly</li>
  <li>Nils-Peter Skoruppa</li>
  <li>William Stein</li>
  <li>Fredrik Stromberg</li>
  <li>Holly Swisher</li>
  <li>Gonzalo Tornaria</li>
  <li>Holger Then</li>
  <li>John Voight</li>
  <li>Lynne Walling</li>
  <li>Trevor Wooley</li>
  <li>David Yuen</li>
</ul>
</div>

<h2>Sponsors</h2>

<div>{{ lipsum(1) }}</div>

<h2>Software</h2>

<div>{{ lipsum(1) }}</div>

{% endblock %}
