{% extends 'homepage.html' %}

{% block content %}

<h1>Contributors</h1>
<div>
<ul>
  <li>Matthew Alderson</li>
  <li>Salman Baig</li>
  <li>Jennifer Balakrishnan</li>
  <li>Jennifer Beineke</li>
  <li>Jonathan W. Bober</li>
  <li>Andrew Booker</li>
  <li>Robert Bradshaw</li>
  <li>Alina Bucur</li>
  <li>Henri Cohen</li>
  <li>Brian Conrey</li>
  <li>John Cremona</li>
  <li>Paul-Olivier Dehaye</li>
  <li>Tim Dokchitser</li>
  <li>David W. Farmer</li>
  <li>Marcus Fraczek</li>
  <li>Ralph Furmaniak</li>
  <li>Jonthan Hanke</li>
  <li>William Hart</li>
  <li>Duc Khiem Huynh</li>
  <li>John Jones</li>
  <li>Kiran S. Kedlaya</li>
  <li>Sally Koutsoliotas</li>
  <li>Stefan Lemurell</li>
  <li>Robert Miller</li>
  <li>David Platt</li>
  <li>Rishikesh</li>
  <li>Michael Rubinstein</li>
  <li>Nathan Ryan</li>
  <li>Ralf Schmidt</li>
  <li>Harald Schilly</li>
  <li>Gagan Sekhon</li>
  <li>Nils-Peter Skoruppa</li>
  <li>William Stein</li>
  <li>Fredrik Str&ouml;mberg</li>
  <li>Holly Swisher</li>
  <li>Gonzalo Tornaria</li>
  <li>Holger Then</li>
  <li>John Voight</li>
  <li>Lynne Walling</li>
  <li>Jamie Weigandt</li>
  <li>Trevor Wooley</li>
  <li>David Yuen</li>
</ul>
</div>

<h1>Sponsors</h1>
<div>
    Primary funding for this project has come from the U.S. National Science
    Foundation under FRG grant DMS-0757627 and CDI:Bibliographic Knowledge Network grant DMS-0835851. We have
    also received support in the form of workshops hosted at various
    institutions:
    <ul>
        <li>Institut de Mathématiques de Jussieu</li>
        <li>Mathematical Sciences Research Institute</li>
        <li>University of Bristol</li>
    </ul>
</div>

<a name="software" ></a>
<h1>Software</h1>

<div>
    Out website is run on free open source software. We use <a href="http://www.sagemath.org">sage</a> for
    computations on the fly. Some important components used are
        <ul>
            <li><a href="http://pari.math.u-bordeaux.fr/">PARI</a></li>
            <li><a href="https://code.google.com/p/eclib/">eclib</a></li>
            <li><a href="http://code.google.com/p/l-calc/">lcalc</a></li>
        </ul>
    </ul>
    The non-mathematical software used includes
    <ul>
        <li><a href="http://www.python.org">Python</a></li>
        <li><a href="http://flask.pocoo.org/">Flask</a></li>
        <li><a href="http://jinja.pocoo.org/">Jinja</a></li>
        <li><a href="http://www.mongodb.org/">MongoDB</a></li>
        <li><a href="http://api.mongodb.org/python/current/">pymongo</a></li>
        <li><a href="http://mercurial.selenic.com">Mercurial</a></li>
    </ul>
    Some of the data on this website was computed using other programs, including
    <ul>
      <li><a href="http://magma.maths.usyd.edu.au/magma/">Magma</a></li>
      <li><a href="http://www.wolfram.com/mathematica/">Mathematica</a></li>
    </ul>
</ul>
</div>

<h1>Hosting</h1>
<div>
 <ul>
  <li><a href="http://wstein.org/grants/screms/">William Stein's NSF-funded cluster at University of Washington.</a></li>
  <li><a href="http://code.google.com">Google Code</a></li>

 </ul>
</div>



{% endblock %}
