{% extends 'homepage.html' %}

{% block content %}

<h1>Contributors</h1>
<div>
<ul>
  <li>Matt Alderson</li>
  <li>Salman Baig</li>
  <li>Jennifer Balakrishnan</li>
  <li>Jennifer Beineke</li>
  <li>Jonathan Bober</li>
  <li>Andrew Booker</li>
  <li>Robert Bradshaw</li>
  <li>Alina Bucur</li>
  <li>Henri Cohen</li>
  <li>Brian Conrey</li>
  <li>John Cremona</li>
  <li>Paul-Olivier Dehaye</li>
  <li>Tim Dokchitser</li>
  <li>David Farmer</li>
  <li>Marcus Fraczek</li>
  <li>Ralph Furmaniak</li>
  <li>Jonthan Hanke</li>
  <li>Bill Hart</li>
  <li>Duc Khiem Huynh</li>
  <li>John Jones</li>
  <li>Kiran Kedlaya</li>
  <li>Sally Koutsoliotas</li>
  <li>Stefan Lemurell</li>
  <li>Robert Miller</li>
  <li>Andrew Pollington</li>
  <li>Rishikesh</li>
  <li>Michael Rubinstein</li>
  <li>Nathan Ryan</li>
  <li>Ralf Schmidt</li>
  <li>Harald Schilly</li>
  <li>Nils-Peter Skoruppa</li>
  <li>William Stein</li>
  <li>Fredrik Stromberg</li>
  <li>Holly Swisher</li>
  <li>Gonzalo Tornaria</li>
  <li>Holger Then</li>
  <li>John Voight</li>
  <li>Lynne Walling</li>
  <li>Trevor Wooley</li>
  <li>David Yuen</li>
</ul>
</div>

<h1>Sponsors</h1>

<div>{{ lipsum(1) }}</div>

<a name="software" ></a>
<h1>Software</h1>

<div>
 <ul>
  <li><a href="http://www.python.org">Python</a></li>
  <li><a href="http://flask.pocoo.org/">Flask</a></li>
  <li><a href="http://jinja.pocoo.org/">Jinja<a/></li>
  <li><a href="http://www.mongodb.org/">MongoDB</a></li>
  <ul>
    <li><a href="http://api.mongodb.org/python/current/">pymongo</a></li>
  </ul>
  <li><a href="http://www.sagemath.org">Sage - of course</a></li> 
  <li><a href="http://mercurial.selenic.com">Mercurial</a></li>
  <li><a href="http://www.shoup.net/ntl/">NTL</a></li>
  <li><a href="http://pari.math.u-bordeaux.fr/">PARI</a></li>
  <li><a href="http://magma.maths.usyd.edu.au/magma/">Magma</a></li>
  <li><a href="https://code.google.com/p/eclib/">eclib</a></li>
</ul>
</div>

<h1>Hosting</h1>
<div>
 <ul>
  <li><a href="http://wstein.org/grants/screms/">William Stein's NSF-funded cluster at University of Washington.</a></li>
  <li><a href="http://code.google.com">Google Code</a></li>

 </ul>
</div>



{% endblock %}
