<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Language" Content="en">

<title>{% if title %}{{ title|striptags }} - {% endif %}LMFDB</title>
<link href="{{ url_for('css') }}" rel="stylesheet" type="text/css" /> 

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lmfdb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='showdown.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.8.14.custom.min.js') }}"></script> 
<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
 
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui-1.8.14.custom.css') }}" type="text/css"/> 



<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
  jax: ["input/TeX","output/HTML-CSS"],
  tex2jax: {
    inlineMath: [['$','$'],["\\(","\\)"]],
    processEscapes: true,
  },
  "HTML-CSS": { scale: 85 },
  menuSettings: { zscale: "150%", zoom: "Double-Click" }
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{# append this: ?config=default if the script complains about a missing config #}

{# the defs for the knowls, need to be after mathjax, before analytics #}
{% include "knowl-defs.html" %}
{% from "knowl-defs.html" import KNOWL with context %}
{% from "knowl-defs.html" import KNOWL_LINK with context %}
{% from "knowl-defs.html" import KNOWL_INC with context %}
{% from "knowl-defs.html" import TEXT_DATA with context %}

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19138192-1']);
_gaq.push(['_setDomainName', 'none']);
_gaq.push(['_setAllowLinker', true]);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>

<body class="{{ body_class }}">

{# 
<div style="width: 100%; background-color: #f88; text-align: center; padding: 3px;margin-bottom:0px; border-bottom: 2px solid red;">
Pre-Release Version. Feedback via 
<a href="mailto:farmer@aimath.org" subject="[LMFDB] ">direct e-mail</a> or 
<a href="http://groups.google.com/group/lmdb" target="_blank">discuss online</a>.</div>
#}

{% block body -%}{%- endblock body %}
</body>
</html>
