<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>LMFDB{% if title %}: {{ title|striptags }}{% endif %}</title>
<link href="{{ url_for('css') }}" rel="stylesheet" type="text/css" /> 

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.watermark.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lmfdb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='showdown.min.js') }}"></script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
  jax: ["input/TeX","output/HTML-CSS"],
  tex2jax: {
    inlineMath: [['$','$'],["\\(","\\)"]],
    processEscapes: true,
  },
  "HTML-CSS": { scale: 85 },
  menuSettings: { zoom: "Hover", zscale: "150%" }
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>
{# append this: ?config=default if the script complains about a missing config #}

{# the defs for the knowls, need to be after mathjax, before analytics #}
{% include "knowl-defs.html" %}
{% from "knowl-defs.html" import KNOWL with context %}
{% from "knowl-defs.html" import KNOWL_LINK with context %}
{% from "knowl-defs.html" import KNOWL_INC with context %}

{# The defs for database queries #}
{% macro DATA(filename, path) -%}
  {{ queryUploadDatabase(filename, path) }}
{%- endmacro %}


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19138192-1']);
_gaq.push(['_setDomainName', '.modform.org']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</head>

<body class="{{ body_class }}">

{# 
<div style="width: 100%; background-color: #f88; text-align: center; padding: 3px;margin-bottom:0px; border-bottom: 2px solid red;">
Pre-Release Version. Feedback via 
<a href="mailto:farmer@aimath.org" subject="[LMFDB] ">direct e-mail</a> or 
<a href="http://groups.google.com/group/lmdb" target="_blank">discuss online</a>.</div>
#}

{% macro index() -%}
<ul>
<li><a href="{{ url_for('EC_toplevel') }}  ">Elliptic Curves over Q</a>
<li><a class="mwf" href="{{ url_for('mwf.render_maass_waveforms') }}">Maass cusp forms</a></li>
<li><a href="{{ url_for('render_Lfunction') }}">L-functions</a> </li>
<li><a href="{{ url_for('ModularForm_GSp4_Q_top_level') }}">Siegel modular forms</a> </li>
<li><a class="cmf" href="{{ url_for('cmf.render_classical_modular_forms')  }}  ">Classical modular forms</a></li>
<li><a href="{{ url_for('number_field_render_webpage') }}">Number Fields</a></li>
<li><a href="{{ url_for('hilbert_modular_form_render_webpage') }}">Hilbert Modular Forms</a></li>
<li><a href="{{ url_for('LfunctionDB.query', zerolowerbound=1.1, zeroupperbound=2.1) }}">First zero search example</a></li>
<li><a href="{{ url_for('quadratic_twists') }}">Quadratic Twists</a></li>
<li><a href="{{ url_for('render_Character') }} ">Dirichlet Characters</a></li>
</ul>
{%- endmacro %}

{% block body -%}{%- endblock body %}
</body>
</html>
