{% extends "homepage.html" %}
{% block content %}

<div>
The research areas of the LMFBD are distinguished by
the variety of connections among the various objects.
</div>

<svg width="810px" height="900px" viewBox="0 0 900 1000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">

<!--
  <path id="AVtoNF" d="M 0 0 L 0 900" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 300 0 L 300 900" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 600 0 L 600 900" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 900 0 L 900 900" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 0 900 L 900 900" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 0 600 L 900 600" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 0 300 L 900 300" stroke="grey" stroke-width="1" fill="none" />
  <path id="AVtoNF" d="M 0 0 L 900 0" stroke="grey" stroke-width="1" fill="none" />
-->

 <text x="50" y="130" style="font-family:verdana;font-size:40">Algebraic</text>
 <text x="54" y="175" style="font-family:verdana;font-size:40">Varieties</text>

 <text x="620" y="130" style="font-family:verdana;font-size:40">Automorphic</text>
 <text x="685" y="175" style="font-family:verdana;font-size:40">Forms</text>

 <text x="340" y="470" style="font-family:verdana;font-size:40">L-functions</text>

 <text x="69" y="730" style="font-family:verdana;font-size:40">Number</text>
 <text x="88" y="775" style="font-family:verdana;font-size:40">Fields</text>

 <text x="700" y="730" style="font-family:verdana;font-size:35">Artin</text>
 <text x="608" y="770" style="font-family:verdana;font-size:35">Representations</text>

 <text x="325" y="930" style="font-family:verdana;font-size:40">Galois</text>
 <text x="318" y="970" style="font-family:verdana;font-size:40">Groups</text>

<svg> <!-- AF lifts -->
<title>The Rankin-Selberg convolution of a degree $d_1$ L-function and a degree $d_2$ L-function in an L-function of degree $d_1 d_2$.</title>
<defs> 
  <path id="RSoffset" d="M 350,430 A 180,180 0 0,1 550 430"
  stroke-width="0px" fill="none" transform="translate(0,0)"/>
</defs>
<!--
 <path d="M 825,165 A 70,70 0 1,0 755,90 l -15 -15  m 15 15 l 15 -15"
         stroke="darkorange" fill="none" stroke-width="4" />
-->
 <path d="M 350,435 A 180,180 0 0,1 550 435 l -5 -15  m 5 15 l -15 4"
         stroke="darkorange" fill="none" stroke-width="4" />

<text id="ARAR" style="font-family:ariel;font-size:28">
<textPath xlink:href="#RSoffset">
&nbsp;&nbsp;Rankin-Selberg
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg><!-- arrow GG to NF -->
<title>Associated to any number field is a Galois group: the Galois group of its Galois closure</title>
<defs>
<path id="GGtoNF1" d="M 210 800 L 310 900 l 0 -25 m 0 25 l -25 0" 
transform="translate(5,-5)"/>
<path id="GGtoNF2" d="M 210 800 L 310 900 l 0 -25 m 0 25 l -25 0" 
transform="translate(-15,15)"/>
</defs>
  <path id="GGtoNF" d="M 210 800 L 310 900 l 0 -25 m 0 25 l -25 0" stroke="black" stroke-width="2px" fill="none" />

<text style="font-family:ariel;font-size:24">
<textPath xlink:href="#GGtoNF1">
&nbsp;&nbsp;Galois
</textPath>
</text>
<text style="font-family:ariel;font-size:24">
<textPath xlink:href="#GGtoNF2">
&nbsp;&nbsp;closure
</textPath>
</text>
<set attributeName="stroke" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
<!-- END arrow GG to NF -->
</svg>


<svg><!-- arrow AV to NF -->
<title>Smooth varieties defined over a number field</title>
<defs>  
  <path id="AVtoNFoffset" d="M 100 230 L 100 700" stroke="black"
  stroke-width="0px" fill="none" transform="translate(10,70)"/>
</defs>
  <path id="AVtoNF" d="M 100 220 L 100 650 M 100 650 l -20 -20 M 100 650 l 20 -20" stroke="black" stroke-width="2px" fill="none" />
<text id="AVNF" style="font-family:ariel;font-size:28">
<textPath xlink:href="#AVtoNFoffset">
field of definition
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
<!-- END arrow AV to NF -->
</svg>

<svg> <!-- AF lifts -->
<title>A "lift" is a map from the automorphic forms on one group to the automorphic forms on another group.</title>
<defs>  
  <path id="ARliftoffset" d="M 780,90 A 45,45 0 1,1 825 140"
  stroke-width="0px" fill="none"/>
</defs>
<!--
 <path d="M 825,165 A 70,70 0 1,0 755,90 l -15 -15  m 15 15 l 15 -15"
         stroke="darkorange" fill="none" stroke-width="4" />
-->
 <path d="M 873,145 A 70,70 0 1,0 755,90 l -12 -15  m 12 15 l 15 -12"
         stroke="darkorange" fill="none" stroke-width="4" />

<text id="ARAR" style="font-family:ariel;font-size:28">
<textPath xlink:href="#ARliftoffset">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lifts
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg> <!-- AF lifts -->
<title>A "twist" is ...</title>
<defs>
  <path id="AVtwistoffset" d="M 68,126 A 45,45 0 1,1 138 76"
  stroke-width="0px" fill="none"/>
</defs>
 <path d="M 50,145 A 70,70 0 1,1 165,90 l -15 -12  m 15 12 l 12 -15"
         stroke="steelblue" fill="none" stroke-width="4" />

<text id="AVAV" style="font-family:ariel;font-size:28">
<textPath xlink:href="#AVtwistoffset">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;twists
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg><!-- arrow AR to AF -->
<title>The Langlands program predicts that Artin representations are automorphic.</title>
<defs>
  <path id="ARtoAFoffset" d="M 850 680 L 850 220" 
  stroke-width="0px" fill="none" transform="translate(-10,-50)"/>
</defs>
  <path id="ARtoAF" d="M 850 680 L 850 240 M 850 240 l -20 20 M 850 240 l 20 20" stroke="black" stroke-width="4px" fill="none" />
<text id="AVNF" style="font-family:ariel;font-size:28">
<textPath xlink:href="#ARtoAFoffset">
give explicit examples of
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
<!-- END arrow AR to AF -->
</svg>

<svg>  <!-- Number Field to L-function -->
<title>The Dedekind zeta function is defined as a product over the prime ideals of the number field</title>
<defs>
  <path id="NFtoLoffsettop" d="M 200 670 L 400 470" stroke="black"
  stroke-width="0px" fill="none" transform="translate(15,-20)"/>
  <path id="NFtoLoffsetbottom" d="M 200 670 L 400 470" stroke="black"
  stroke-width="0px" fill="none" transform="translate(45,15)"/>
</defs>

  <path id="NFtoL" d="M 200 670 L 340 530 L 326 516 L 368 516 L 368 558 L 354 544 L 214 684 Z" fill="steelblue"/>
<g>
<text id="NFL" style="font-family:ariel;font-size:28">
<textPath xlink:href="#NFtoLoffsettop">
Dedekind
</textPath>
</text>
<text style="font-family:ariel;font-size:28">
<textPath xlink:href="#NFtoLoffsetbottom">
zeta function
</textPath>
</text>

<set attributeName="fill" from="grey"      to="red"
                                      begin="mouseover" end="mouseout"/>
</g>
</svg> <!-- /Number Field to L-function -->

<svg>  <!-- AV to L-function -->
<title>The local factors of the Hasse-Weil L-function are determined by counting points on the variety modulo prime powers.</title>
<defs>
  <path id="AVtoLoffsettop" d="M 200 670 L 400 470" stroke="black"
  stroke-width="0px" fill="none" transform="rotate(90 250 200) translate(75,-460)"/>
  <path id="AVtoLoffsetbottom" d="M 200 670 L 400 470" stroke="black"
  stroke-width="0px" fill="none" transform="rotate(90 250 200) translate(110,-425)"/>
</defs>

  <path id="AVtoL" d="M 200 670 L 340 530 L 326 516 L 368 516 L 368 558 L 354 544 L 214 684 Z"
   transform="rotate(90 250 200) translate(60,-435)" fill="grey"/>
<text id="AVL" style="font-family:ariel;font-size:28">
<textPath xlink:href="#AVtoLoffsettop">
Hasse-Weil
</textPath>
</text>
<text style="font-family:ariel;font-size:28">
<textPath xlink:href="#AVtoLoffsetbottom">
L-function
</textPath>
</text>

<set attributeName="fill" from="grey"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg> <!-- AV to L-function -->

<svg>  <!-- AR to L-function -->
<title>The local factors of the Artin L-function are constructed from the trace of Frobenius.</title>
<defs>
  <path id="ARtoLoffsettop" d="M 550 550 L 650 650" 
  stroke-width="0px" fill="none" transform="translate(35,5)"/>
  <path id="ARtoLoffsetbottom" d="M 550 550 L 650 650"
  stroke-width="0px" fill="none" transform="translate(-20,25)"/>
</defs>

  <path id="ARtoL" d="M 200 670 L 340 530 L 326 516 L 368 516 L 368 558 L 354 544 L 214 684 Z"
   transform="rotate(-90 250 200) translate(-430,-50)" fill="grey"/>
<text id="ARL" style="font-family:ariel;font-size:28">
<textPath xlink:href="#ARtoLoffsettop">
Artin
</textPath>
</text>
<text style="font-family:ariel;font-size:28">
<textPath xlink:href="#ARtoLoffsetbottom">
L-function
</textPath>
</text>

<set attributeName="fill" from="grey"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg> <!-- Artin representation to L-function -->


<svg>  <!-- L-function to AF  -->
<title>A "comnverse theorem" is an assertion that an L-function is the L-function of an automorphic object.</title>
<defs>
  <path id="LtoAFoffsettop" d="M 500 350 l 200 -200" stroke="black"
  stroke-width="0px" fill="none" transform="translate(30,-35)"/>
  <path id="LtoAFoffsetbottom" d="M 500 350 l 200 -200" stroke="black"
  stroke-width="0px" fill="none" transform="translate(67,-7)"/>
</defs>

  <path id="NFtoL" d="M 500 350 l 140 -140 l -14 -14 l 42 0 l 0 42 l -14 -14 l -140 140 Z" fill="gold" />
<text id="NFL" style="font-family:ariel;font-size:28">
<textPath xlink:href="#LtoAFoffsettop">
converse
</textPath>
</text>
<text style="font-family:ariel;font-size:28">
<textPath xlink:href="#LtoAFoffsetbottom">
theorem
</textPath>
</text>

<set attributeName="fill" from="grey"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg>  <!-- AF to L-function  -->
<title>Given a cuspidal automorphic representation $\pi$ of a XXXX group $G$ and a finite dimensional representation $\rho$ of the Weil-Deligne group of $G$, one can form the automorphic L-function $L(s,\pi,\rho)$.</title>
<defs>
  <path id="AFtoLoffsettop" d="M 470 340 l 200 -200" 
  stroke-width="0px" fill="none" transform="translate(130,55)"/>
  <path id="AFtoLoffsetbottom" d="M 470 340 l 200 -200" 
  stroke-width="0px" fill="none" transform="translate(165,85)"/>
</defs>

  <path id="LtoAF" d="M 470 340 l 140 -140 l -14 -14 l 42 0 l 0 42 l -14 -14 l -140 140 Z" fill="darkorange" transform="rotate(180 610 310)"/>
<text id="NFL" style="font-family:ariel;font-size:28">
<textPath xlink:href="#AFtoLoffsettop">
automorphic <!--
representations of the
-->
</textPath>
</text>
<text style="font-family:ariel;font-size:28">
<textPath xlink:href="#AFtoLoffsetbottom">
representation
<!--
Weil-Deligne group
-->
</textPath>
</text>

<set attributeName="fill" from="grey"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg> <!-- AV to AF -->
<title>A variety is 'modular' if its Hasse-Weil L-function is the same as the standard L-function of some modular form.
The key step in proving Fermat's Last Theorem was showing that certain elliptic curves are modular.</title>
<defs>
<path id="modularvarguide" d="M 260 110 q 160 150 320 20"
  stroke-width="0" fill="none" transform="translate(0,-15)"/>
</defs>
<path id="modularvar" d="M 260 110 q 160 150 320 20"
  stroke="pink" stroke-width="15" fill="none" />
<path d="M 580 130 l -20 -20 l 40 0 l 0 40 Z" fill="pink" />
<text  style="font-family:ariel;font-size:28">
<textPath xlink:href="#modularvarguide">
                  &nbsp; &nbsp; some varieties are modular
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>

<svg> <!-- GG and NF to AR -->
<title>An Artin representation is a finite dimensional representation of the Galois group of a number field. (Somebody please correct that to what it should say.)</title>
<!--
<path id="NFAR" d="M 270 750 q 160 50 310 5"
  stroke="black" stroke-width="1" fill="none" />
<path id="GGAR" d="M 380 888 q 30 -95 165 -124"
  stroke="black" stroke-width="1" fill="none" />
-->
<path id="GGAR" d="M 380 888 Q 410 793 545 764"
  stroke="black" stroke-width="2" fill="none" />
<path id="GGAR" d="M 380 888 l 20,-20 m -20,20 l 20,20"
  stroke="black" stroke-width="2" fill="none" transform="rotate(-70 380 888)"/>
<path id="NFAR" d="M 270 750 q 160 50 310 5"
  stroke="black" stroke-width="2" fill="none" />
<path id="GGAR" d="M 270 750 l 20,-20 m -20,20 l 20,20"
  stroke="black" stroke-width="2" fill="none" transform="rotate(15 270 750)"/>
<defs>
<path id="arguide1" d="M 380 888 Q 410 793 545 764"
  stroke-width="0" fill="none" transform="translate(-1,-5)"/>
<path id="arguide2" d="M 270 750 q 160 50 310 5"
  stroke="black" stroke-width="0" fill="none" transform="translate(0,-5)"/>
</defs>

<text  style="font-family:ariel;font-size:20">
<textPath xlink:href="#arguide1">
                  &nbsp; &nbsp; component
</textPath>
</text>
<text  style="font-family:ariel;font-size:20">
<textPath xlink:href="#arguide2">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; component
</textPath>
</text>
<set attributeName="fill" from="black"      to="red"
                                      begin="mouseover" end="mouseout"/>
</svg>


</svg>

{% endblock %}

