{% extends 'homepage.html' %}

{% block title %}Hilbert Modular Form Navigation Page{% endblock %}

{% block body %}

<div id = "header">
<H1>Cuspidal Hilbert modular forms for the field {{ info.field_pretty }}</H1>
</div>

<div id = "Content">
<H2>Forms of
{% if info.has_key('weight') %}
    weight {{ info.weight }}
{% else %}
    any weight
{% endif %}
and
{% if info.has_key('level_norm') %}
    level of norm {{ info.level_norm }}
{% else %}
    any level
{% endif %}<BR>
</H2>

There are {{ info.count }} forms which are known in this space.<BR>

<UL>
{% for f in info.modular_forms %}
<LI>\( {{ f.level_ideal }}\) {{ f.label }}
{% endfor %}
</UL>
</div>

{% endblock %}
