{% extends 'homepage.html' %}

{% block title %}Hilbert Modular Form Page{% endblock %}

{% block body %}

<div id = "header">
<H1>A specific Hilbert modular form for {{ info.field_pretty }} </H1>
</div>

<div id = "Content">
<H2>The form of weight {{ info.weight }} and level of norm {{ info.level_norm }}
called \( {{ info.modular_forms[0].level_ideal }}\) {{ info.modular_forms[0].label }}</H2>

Hecke eigenvalues: \( {{ info.modular_forms[0].hecke_eigenvalues }} \)<BR>

{% if info.modular_forms[0].hecke_polynomial != 'x' %}
Here, \( t \) is a root of the polynomial 
\( info.modular_forms[0].hecke_polynomial \).
{% endif %}
</div>

{% endblock %}
