{% extends "base.html" %}
{% block body %}

<div id="header">
    <div class="logo"><a href="/"><img src="{{ url_for('.static', filename='images/lmdb-logo.png') }}" /></a></div>
    <div class="right">
      <div class="title">LMDB: 
        {% if title %}{{ title }}
        {% else %}TITLE OF PAGE MISSING \( \chi^2 \) even more text and tex \( \frac{1}{1+x+x^2} \) and even more ...
        {% endif %}
      </div>
      <div class="bread">
        <a href="/">Top</a>
        {% if bread %}
          {% for b in bread %}
            &gt; <a href="{{ b[1] }}">{{ b[0] }}</a>
          {% endfor %}
        {% else %}
          &gt; Bread &gt; Crumb &gt; Hierarchy
        {% endif %}
      </div>
    </div>
</div>

{% block sidebar %} 
<div id="sidebar">

 <h2>Navigation</h2>
 <ul>
   <li><a href="{{ url_for('.EC_toplevel') }}">Elliptic Curves over Q</a> 
   <li><a href="{{ url_for('.render_maass_form') }}">Maass cusp forms</a></li> 
   <li><a href="{{ url_for('.render_Lfunction') }}">L-functions</a> </li> 
   <li><a href="{{ url_for('.ModularForm_GSp4_Q_top_level') }}">Siegel modular forms</a> </li> 
   <li><a href="{{ url_for('.render_classical_modular_form') }}">Classical modular forms</a></li> 
   <li><a href="{{ url_for('.number_field_render_webpage') }}">Number Fields</a></li>
 </ul>

 {% macro entry(title, entries) -%}
   {% if entries %}
    <h2>{{ title }}</h2>
    <ul class="subnav">
        {% for text,url in entries %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
   {% endif %}
 {%- endmacro %}

 {{ entry("Downloads", info.downloads) }}
 {{ entry("Learn more about", info.learnmore) }}
 {{ entry("Friends", info.friends) }}

 {% if sidebar %}
  {% for topic, content in sidebar %}
    {{ entry(topic, content) }}
  {% endfor %}
 {% endif %}

</div>
{% endblock sidebar %}


<div id="main">
  <div id="Content">
      <div id="properties">
       <h1>Citation</h1>
        {% if properties %}
         <h1>Properties</h1>
         {% for p in properties %}{{ p|safe }}{% endfor %}
        {% endif %}
      </div>

    {% block content %}
    There is nothing here. This is just a template.
    {% endblock content %}
  </div>
</div>

<div id="footer">
    {% if credit %}
      &copy; Data computed by {{ credit|safe }}.<br />
    {% endif %}
    
    {% if support %}
      {{ support|safe }}<br/>
    {% else %}
       The creation of this website was supported by the NSF, AIM ...<br />
    {% endif %}
    Number Theory, the Queen of Mathematics!
</div>

{% endblock body %}
