{% extends "base.html" %}

{% block body -%}
<div id="header">
    <div class="logo"><a href="/"><img src="{{ url_for('static', filename='images/lmfdb-logo.png') }}" /></a></div>
    <div class="right">
      <div class="bread">
        {% if bread %}
          <a href="/">Top</a>
          {% for b in bread -%}
            &rarr; <a href="{{ b[1] }}">{{ b[0]|striptags }}</a>
          {%- endfor %}
         {% endif %}
      </div>
      <div class="topright">
          {% if user_is_admin -%}
            <a href="{{ url_for('users.register') }}">Registertokens</a>
            &middot;
          {% endif %}
          {% if user_is_authenticated -%}
            <a href="{{ url_for('users.info') }}">{{ username }}</a> 
            &middot;
            <a href="{{ url_for('users.logout') }}">Logout</a>
          {%- else -%}
            <a href="{{ url_for('users.register_new') }}">Register</a>
            &middot;
            <a href="{{ url_for('users.info') }}">Login</a>
          {%- endif %}
          <br/>
          <span id="communication-wrapper">
            <img id="communication-img" src="{{ url_for('static', filename='images/progress-green.gif') }}" />
            Ajax:
            <span id="communication"></span>
          </span>
      </div>
      {% if navi is defined -%}
        <div id="navi">
         {% for txt, u in navi -%}
          <a href="{{ u }}">{{ txt|safe }}</a>
          {% if not loop.last -%}&middot;{%- endif %}
         {%- endfor %}
        </div>
      {%- elif navi_raw is defined -%}
        <div id="navi">{{ navi_raw|safe }}</div>
      {%- endif %} 
      {# this span inside a div thing is necessary to align it at the bottom, see css #}
      <div id="title"><span id="title-content">{{ title|safe }}</span></div>
    </div>
</div>

{% block sidebar -%} 
 {% macro entry(title, entries) -%}
   {% if entries %}
    <h2>{{ title }}</h2>
    <ul class="subnav">
        {% for text,url in entries %}
           <li><a href="{{ url }}">{{ text }}</a></li>
        {% endfor %}
    </ul>
   {% endif %}
 {%- endmacro %}


<div id="sidebar">
  <h2 class="link">
   <a href="{{ url_for('render_Lfunction') }}">L-functions</a>
  </h2>
  <div>
    Degree:
    <a class="lfunction"  href="{{url_for('render_Lfunction', arg1 = 'degree1')}}">1</a>
    <a class="lfunction"  href="{{url_for('render_Lfunction', arg1 = 'degree2')}}">2</a>
    <a class="lfunction"  href="{{url_for('render_Lfunction', arg1 = 'degree3')}}">3</a>
    <a class="lfunction"  href="{{url_for('render_Lfunction', arg1 = 'degree4')}}">4</a><
  </div>

  <h2>Elliptic Curves</h2>
  <ul>
   <li><a href="{{ url_for('EC_toplevel') }}  ">Elliptic Curves/\(\mathbb Q\)</a>
  </ul>

  <h2 class="link"><a href="{{ url_for('number_field_render_webpage') }}">Number Fields</a></h2>

  <h2>Characters</h2>
  <ul>
   <li><a href="{{ url_for('render_Character') }} ">Dirichlet Characters</a></li>
  </ul>

  <h2 class="link">
       <a class="mf"    href="{{ url_for('mf.modular_form_main_page') }}">Modular Forms</a></h2>
  <ul>
   <li><a class="emf"  href="{{ url_for('emf.render_elliptic_modular_forms') }}">Holomorphic Cusp Forms</a></li>
   <li><a class="mwf"  href="{{ url_for('mwf.render_maass_waveforms') }}">Maass Forms</a></li>
   <li><a              href="{{ url_for('ModularForm_GSp4_Q_top_level') }}">Siegel Modular Forms</a> </li>
   <li><a class="mwfp" href="{{ url_for('mwfp.render_picard_maass_forms') }}">Maass Forms on \(SL_2(Z[i])\)</a></li>
   <li><a              href="{{ url_for('hilbert_modular_form_render_webpage') }}">Hilbert Modular Forms</a></li>
  </ul>
   {# <li><a href="{{ url_for('quadratic_twists') }}">Quadratic Twists</a></li> #}
   {# <li><a class="local_fields" href="{{ url_for('local_fields.index') }}">Local Fields</a></li> #}

  <h2>Search</h2>
   <ul>
    <li><a href="{{ url_for('LfunctionDB.query', zerolowerbound=1.1, zeroupperbound=2.1) }}">Search L-functions</a></li>
   </ul>
  
   {{ entry("Learn more about", learnmore) }}
   {{ entry("Friends", friends) }}
   {{ entry("Downloads", downloads) }}
   {{ entry("Related Data", getUploadedFor(request.path) ) }}

 {% if sidebar -%}
  {% for topic, content in sidebar -%}
    {{ entry(topic, content) }}
  {%- endfor %}
 {%- endif %}

</div>
{%- endblock sidebar %}

    {% if properties2 %}
      <div id="properties">
       <h1 id="properties-header">Properties</h1>
       <div id="properties-collapser">&uarr;</div>
       <div id="properties-body">
       <table>
       {% for label, content in properties2 -%}
         {% if label %}
           <tr><td class="label">{{label|safe}}</td><td>
         {% else %}
           <tr><td colspan="2">
         {% endif %}
         {% if content is string  -%}
             {{ content|safe }}</td></tr>
         {%- else -%}
           {% for c in content -%}
            {% if not loop.first -%}<tr><td></td>{%- endif %}
              {{c|safe}}</td></tr>
           {%- endfor %}
         {%- endif %}
       {%- endfor %} 
      </table>
      </div>
     </div>
    {% endif %}

    {% if (citation or properties) -%}
      <div id="properties">
       <h1 id="properties-header">Properties</h1>
       <div id="properties-collapser">&uarr;</div>
       <div id="properties-body">
         <h1 style="background: red">DEPRECATED!</h1>
         <div style="background:orange;font-size:x-small;">your use of properties is deprecated.<br> please switch to properties2<br> with the correct datastructure:<br>[(.,[…]),…]</div>
        {% if citation -%}
         <h1>Citation</h1>
         {{ citation }}
        {%- endif %} 
        {% if properties -%}
         {% for p in properties -%}{{ p|safe }}{%- endfor %}
        {%- endif %}
      </div>
    </div>
    {%- endif %}


<div id="main">
  <div id="mathjax-info">
    <img src="{{ url_for('static', filename='images/progress-green.gif') }}" />
    <br/>
    Loading website and processing LaTeX ...
    <br>
    <span id="mathjax-log"></span>
  </div>
  <div id="content">
    {% with msgs = get_flashed_messages(with_categories=true) -%}
      <div id="flashes">
        {% for cat, msg in msgs -%}
          <p class="{{ cat }}">{{ msg }}</p>
        {%- endfor %}
      </div>
    {%- endwith %}
    
    {% block content -%}
    There is nothing here. This is just a template.
    {%- endblock content %}
  </div>
</div>

<div id="footer">
    {% if credit -%}
      &copy; Data computed by {{ credit|safe }}.<br />
    {%- endif %}
    
    {% if support -%}
      {{ support|safe }}<br/>
    {%- else -%}
       <h4>This project is supported by the <a href="http://www.nsf.gov">National Science Foundation</a> under FRG Grant No. DMS-0757627, which is administered from the <a href="http://www.aimath.org">American Institute of Mathematics</a>. </h4>
<br />
    {%- endif %}
    Number Theory, the Queen of Mathematics!
</div>

{%- endblock body %}
