{% extends "homepage.html" %}
{% block content %}

<div class="announce">
Welcome! The <b>L</b>-function and <b>M</b>odular 
<b>F</b>orms <b>D</b>ata<b>B</b>ase 
project is a collaborative
effort by Number Theorists to share, contextualize and improve data
and theorems.
</div>

<h1>Sections</h1>

 <ul>
  <li><a href="{{ url_for('render_Lfunction') }}">$L$-functions and Zeta-functions</a></li>
  <li>Elliptic Curves</li>
  <ul>
   <li><a href="{{ url_for('EC_toplevel') }}  ">Elliptic Curves/\(\mathbb Q\)</a></li>
  </ul>

  <li><a href="{{ url_for('number_field_render_webpage') }}">Number Fields</a></li>

  <li>Characters</li>
  <ul>
   <li><a href="{{ url_for('render_Character') }} ">Dirichlet Characters</a></li>
  </ul>

  <li><a class="mf"    href="{{ url_for('mf.modular_form_main_page') }}">Modular Forms</a></li>
  <ul>
   <li><a class="emf"  href="{{ url_for('emf.render_elliptic_modular_forms') }}">Holomorphic Cusp Forms  on \(GL(2)\)</a></li>
   <li><a class="mwf"  href="{{ url_for('mwf.render_maass_waveforms') }}">Maass Forms on \(GL(2)\)</a></li>
   <li><a              href="{{ url_for('ModularForm_GSp4_Q_top_level') }}">Siegel Modular forms</a> </li>
   <li><a class="mwfp" href="{{ url_for('mwfp.render_picard_maass_forms') }}">Maass Forms on the Picard Group \(SL_2(Z[i])\)</a></li>
   <li><a              href="{{ url_for('hilbert_modular_form_render_webpage') }}">Hilbert Modular Forms</a></li>
  </ul>
 </ul>

<h1>Search</h1>
 <ul>
  <li><a href="{{ url_for('LfunctionDB.query', zerolowerbound=1.1, zeroupperbound=2.1) }}">Search $L$-functions</a></li>
 </ul>

<h1>Misc Pages</h1>
<ul>
 <li><a href="{{ url_for("knowledge.index") }}">Knowledge</a></li>
 <li>What is a {{ KNOWL("doc.knowl") }}? Click on it!</li>
 <li><a href="{{ url_for("users.list") }}">User Management</a>:
 {% if user_is_authenticated -%}
   you are "<a href="{{ url_for('users.info') }}">{{username}}</a>"
 {%- endif %}
 </li>
 <li><a href="{{ url_for("about") }}">About</a></li>
 <li><a href="{{ url_for("acknowledgment") }}">Acknowledgment</a></li>
</ul>

<h1>Data Uploading</h1>
<ul>
<li><a href="{{ url_for("upload.viewAll")}}">View uploaded data</a></li>
{% if user_is_authenticated %}
 <li><a href="{{ url_for("upload.index") }}">Upload data</a></li>
 {% if user_is_admin %}
  <li><a href="{{ url_for("upload.admin") }}">Moderate uploaded files</a></li>
 {% endif %}
{% endif %}
</ul>

{% if user_is_authenticated %}
<h1>Raw</h1>
<ul>
<li><a href="/raw">raw</a>
</ul>
{% endif %}

{% endblock %}
