<script type="text/javascript" src="{{ url_for('static', filename='knowl.js') }}"></script>


{# 
   the following KNOWL macro enables to tag certain locations in the
   HTML documents to reference to saved "Knowls". They contain all
   the information and form the stored knowledge. The macro itself
   is only there for the presentation of the data via suitable
   HTML tags and associated javascript code.
#}
{% macro KNOWL(knowlid, tag='span', klass='knowl', title=True) -%}
  {% with knowl = Knowl(knowlid) %}
    {% if knowl.exists() %}
      <{{tag}} class="{{klass}}">
        {{ knowl.title }}
      </{{tag}}>

    {% else %} 
      {# knowl does not exist. wrong knowlid or opportunity to create one! #}
      <{{tag}} class="{{klass}} knowlerror">
        {% if user.is_authenticated() %}
          <br/>[ERROR: Knowl with ID '{{knowlid}}' does not exist. Wrong ID or
          <a href="{{ url_for('knowledge.edit', ID=knowlid) }}">create a new one</a>.]
        {% else %}
          ['{{knowlid}}' missing ]
        {% endif %}
      </{{tag}}>
    {% endif %}
  {% endwith %}
{%- endmacro %}
