  <p>
    On these pages you can find various L-function information including
the functional equation, Dirichlet series, and Euler product, as well as links to
the L-function's underlying objects.  Also, special values, zeroes, and a plot
are available.
  </p>
  <p>
    First, choose the degree that you want to explore:
  </p>
  <table id="maintable">
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#aaaaff'" onmouseout="this.style.backgroundColor='#8780ff'" onclick="parent.location='/L/TODO'">
      Degree 1 
      </td>
      <td class="text">
        <div><a href="Riemann">Riemann zeta function</a>: $\zeta(s)$</div>
        <p>
        <div><a href="Character/Dirichlet">Dirichlet L-function</a>: $L(s,\chi)$</div>
      </td>
    </tr>
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#aaaaff'" onmouseout="this.style.backgroundColor='#8780ff'" onclick="parent.location='/L/TODO'">
        Degree 2
      </td>
      <td class="text">
        <div>$L(s,f)$: the standard L-function of a holomorphic cusp form</div>
        <p>
        <div>$L(s,f)$: the standard L-function of a Maass form on GL(2)</div>
      </td>
    </tr>
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#aaaaff'" onmouseout="this.style.backgroundColor='#8780ff'" onclick="parent.location='/L/TODO'">
        Degree 3
      </td>
      <td class="text">
        <div>$L(s, f, \mathrm{sym}^2)$: the symmetric square L-function of a holomorphic cusp form</div>
        <p>
        <div>$L(s, f, \mathrm{sym}^2)$: the symmetric square L-function of a Maass form on GL(2)</div>
        <p>
        <div><a href="ModularForm/GL3/Q/maass/1">$L(s, f)$: the standard L-function of a Maass form on GL(3)</a></div>
      </td>
    </tr>
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#aaaaff'" onmouseout="this.style.backgroundColor='#8780ff'" onclick="parent.location='/L/TODO'">
        Degree 4
      </td>
      <td class="text">
        <div>$L(s, f, \mathrm{sym}^3)$: the symmetric cube L-function of a holomorphic cusp form</div>
        <p>
        <div>$L(s, f, \mathrm{sym}^3)$: the symmetric cube L-function of a Maass form on GL(2)</div>
        <p>
	<div>$L(s, F, \mathrm{spin})$: spinor L-function of a Siegel modular form on GSp(4) (genus 2)</div>
	<p>
	<div>$L(s,f)$: standard L-function of a Maass form on the Picard group SL(2,Z[i])</div>
	<p>
	<div>$L(s,f)$: standard L-function of a Maass form on Sp(4)</div>
	<p>
	<div>$L(s,f)$: standard L-function of a Maass form on GL(4)</div>
      </td>
    </tr>
    <tr>
      <td class="button" onmouseover="this.style.backgroundColor='#aaaaff'" onmouseout="this.style.backgroundColor='#8780ff'" onclick="parent.location='/L/TODO'">
        Degree 5
      </td>
      <td class="text">
        <div>$L(s, f, \mathrm{sym}^4)$: the symmetric fourth-power L-function of a holomorphic cusp form</div>
        <p>
        <div>$L(s, f, \mathrm{sym}^4)$: the symmetric fourth-power L-function of a Maass form on GL(2)</div>
        <p>
        <div>$L(s, F, \mathrm{stan})$: standard L-function of a Siegel modular form on GSp(4) (genus 2)</div>
        <p>
      </td>
    </tr>
  </table>

