{% extends 'homepage.html' %}

{% block content %}
<h2> Browse </h2>

<h3>By {{KNOWL("lfunction.degree",title="degree")}}</h3>
<table>
 <tr>
  {% for r in info.degree_list: %}
    <td style="text-align: center;">
       <a style="width: 2em;" href="degree{{r}}">{{r}}</a>
    </td>
  {% endfor %}
 </tr>
</table>
<p>

<h3>By {{KNOWL("lfunction.type",title="type")}}</h3>
<table>
{% for i in info.l: %}
<tr>
  {% for t in info.type_table[i]: %}
  <td><a  style="padding: 5px;" href="{{t.link}}">{{t.title|safe}}</a></td>
  {% endfor %}
<tr>
{% endfor %}
</table>
<br>
<br>
<h2> Search </h2>


<form action="{{url_for(".LfunctionDB.query")}}" method=get>
<table>
<tr>
<td>{{KNOWL("lfunction.degree",title="Degree")}}</td><td> <input type='text' name='degree' size = "4"></td><td><span class="formexample"> e.g. 4 </span></td>
</tr>

<tr>
<td>{{KNOWL("lfunction.signature",title="Signature")}}</td><td> <input type='text' name='signature' size = '4'></td><td><span class="formexample"> e.g. [1,2] </span></td>
</tr>

<tr>
<td>{{KNOWL("lfunction.level",title="Level")}} </td><td><input type='text' name='level' size='4'></td><td><span class="formexample"> e.g. 389 </span></td>
</tr>
<tr>

<tr>
<td>{{KNOWL("lfunction.lowest",title="Lowest zero")}} is greater than</td><td> <input type='text' size='4' name='zerolowerbound'></td><td> and less than </td><td><input type='text' size='4' name='zeroupperbound'></td><td><span class="formexample"> e.g. 1.1 and 2.1 </span></td>
</tr>
<tr>
<td>{{KNOWL("lfunction.critical_value",title="Critical value")}} is around</td><td> <input type='text' name='critical_value' size='4'></td><td><span class="formexample"> e.g. 0.5 </span></td>
</tr>
<tr>
<td>Value at 1 is around</td><td> <input type='text' name='special_value' size='4'></td><td><span class="formexample"> e.g. 3.1 </span></td>
</tr>
<tr>
<td>
<input type='submit' value='Search' >
</td>
</tr>
</table>
</form>



{#
<h2>Search by label</h2>

<form>
<input type='text' name='natural' size=60>
<p>
<input type='submit' name='search value='search by label'>

<input type='submit' name='lucky' value="search by label">
</form>
#}



{#
  <p>
  By signature: 
  {% for t in info.signature_list: %}
  <a href="?signature={{t}}">{{t}}</a>
  {% endfor %}
  
  <p>
  By discriminant: 
  {% for r in info.discriminant_list: %}
  <a href="?discriminant={{r}}">{{r}}</a>
  {% endfor %}
  
  <p>
  By class number: 
  {% for r in info.class_number_list: %}
  <a href="?class_number={{r}}">{{r}}</a>
  {% endfor %}
#}

{% endblock %}


