{% extends 'homepage.html' %}

{% block content %}

 <h2> {{ KNOWL('lfunction.dirichlet_series', title='Dirichlet series') }}</h2>
 <div>\[{{ dirichlet }}\]</div>

 <h2>{{ KNOWL('lfunction.functional_equation',title='Functional equation') }}</h2>

 <div id="functionalEqText">\[{{ functionalequation }}\]</div>
 <div>
   {{ KNOWL('lfunction.selbergdata', title="Selberg data") }}: ${{ functionalequationSelberg }}$</div>


 <h2>{{ KNOWL('lfunction.euler_product', title='Euler product') }}</h2>
 <div>\[{{ eulerproduct }}\]</div>

 <h2> Imaginary part of the first few zeroes on the {{ KNOWL('lfunction.critical_line', title='critical line') }}</h2>

 {% if zeroeslink %}
     <div><span id="zeroes"></span></div>
 {% else %}
     <div>Not enough Dirichlet series coefficients to compute zeros.</div>
 {% endif %}

<h2>Special Values</h2>
{% if sv12 or sv1 %}
      <div>
      {% if sv12 %}
          {{ sv12 }}<br>
      {% endif %}
      {% if sv1 %}
          {% if Ltype=="riemann" or Ltype=="dedekindzeta" %}
              pole at s=1<br>
          {% else %}
              {{ sv1 }}<br>
          {% endif %}
      {% endif %}
     </div>
 {% else %}
      <div>Not enough Dirichlet series coefficients to compute special values.</div>
 {% endif %}

    <h2> Graph of the {{ KNOWL('lfunction.zfunction', title='$Z$-function') }} along center part of the {{ KNOWL('lfunction.critical_line', title='critical line') }} </h2>

 {% if plotlink %}
    <img src="{{ plotlink|safe }}" >
 {% else %}
    <div>Not enough Dirichlet series coefficients to make a plot.</div>
 {% endif %}

<script type="text/javascript">
  $(function() {
      $("#zeroes").load("{{ zeroeslink|safe }}");
  });
</script>

{% endblock %}

