{% extends 'homepage.html' %}

{% block content %}
 <h2> {{ KNOWL('alg.dirichlet_series', title='Dirichlet series') }}</h2>
 <div>\[{{ dirichlet }}\]</div>

 <h2>{{ KNOWL('lfunction.functional_equation',title='Functional equation') }}</h2>
 
 <div id="functionalEqText">\[{{ functionalequation }}\]</div>
 <div>
   {{ KNOWL('lfunction.selbergdata', title="Selberg data") }}: ${{ functionalequationSelberg }}$</div>
 
 
 <h2>{{ KNOWL('lfunction.euler_product', title='Euler product') }}</h2>
 <div>\[{{ eulerproduct }}\]</div>

 <h2> Imaginary part of the first few zeroes on the {{ KNOWL('lfunction.critical_line', title='critical line') }}</h2>

 {% if zeroeslink %}
     <div><span id="zeroes"></span></div>
 {% else %}
     <div>Not enough Dirichlet series coefficients to compute zeros.</div>
 {% endif %}

 {% if sv1 and sv12 %}
     <h2>Special Values</h2>
     <div>
      {{ sv12 }}<br>
      {{ sv1 }}<br>
     </div>
 {% else %}
      <div>Not enough Dirichlet series coefficients to compute special values.</div>
 {% endif %}

 {% if plotlink %}
    <h2> Graph of the {{ KNOWL('lfunction.zfunction', title='$Z$-function') }} along the {{ KNOWL('lfunction.critical_line', title='critical line') }} </h2>
    <img src="{{ plotlink|safe }}" >
 {% else %}
    <div>Not enough Dirichlet series coefficients to make a graph.</div>
 {% endif %}

<script type="text/javascript">
  $(function() {
      $("#zeroes").load("{{ zeroeslink|safe }}");
  });
</script>

{% endblock %}

