{% block sidebar %} 
{% if info %}
    <div id="sidebar">
    {% if info.special_side %}
        <h2>
            {{ info.special_side[0] }}</h2>
        <ul class="subnav">
        	{% for text,url in info.special_side[1] %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.properties %}
        <h2>
            Properties</h2>
        <ul class="subnav">
        	{% for text in info.properties %}
    			<li>{{ text }}</li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.check %}
        <h2>
            Check</h2>
        <ul class="subnav">
        	{% for text,url in info.check %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.downloads %}
	        <h2>
    	        Downloads</h2>
        	<ul class="subnav">
        		{% for text,url in info.downloads %}
    				<li><a href="{{ url }}">{{ text }}</a></li>
				{% endfor %}
        	</ul>
     {% endif %}

     {% if info.learnmore %}
        <h2>
            Learn more about</h2>
        <ul class="subnav">
        	{% for text,url in info.learnmore %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.parents %}
        <h2>
            Parents</h2>
        <ul class="subnav">
        	{% for text,url in info.parents %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.children %}
        <h2>
            Children</h2>
        <ul class="subnav">
        	{% for text,url in info.children %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.siblings %}
        <h2>
            Siblings</h2>
        <ul class="subnav">
        	{% for text,url in info.siblings %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    {% if info.friends %}
        <h2>
            Friends</h2>
        <ul class="subnav">
        	{% for text,url in info.friends %}
    			<li><a href="{{ url }}">{{ text }}</a></li>
			{% endfor %}
        </ul>
    {% endif %}

    </div>
{% else %}
There is no "info" dict given to render the template.
{% endif %}
{% endblock %}
