{% extends 'embedded_results.html' %}

{% block embedding_content %}

<h2> Defining polynomial </h2>

<table>
  <tr><td> ${{ family.polynomial._latex_() }}$ </td></tr>
</table>

<h2> Invariants </h2>
<table>
  <tr><td>Base field:</td><td> {{family.base_link | safe}} </td></tr>
  <tr><td>Ramification exponent $e$:</td><td> ${{family.e}}$ </td></tr>
  <tr><td>Residue field degree $f$:</td><td> ${{family.f}}$ </td></tr>
  <tr><td>Discriminant exponent $c$:</td><td> ${{family.c}}$ </td></tr>
  <tr><td>Visible slopes:</td><td> ${{family.artin_slopes}}$ </td></tr>
  <tr><td>Heights:</td><td> ${{family.heights}}$ </td></tr>
  <tr><td>Rams:</td><td> ${{family.rams}}$ </td></tr>
  <tr><td>Field count:</td><td> ${{family.field_count}}$ </td></tr>
  <tr><td>Poly count:</td><td> ${{family.poly_count}}$ </td></tr>
  <tr><td>Mass:</td><td> ${{family.mass}}$ </td></tr>
</table>

<h2> Varying </h2>
<table>
  <tr><td>Galois group:</td><td> {{ family.galois_groups | safe }} </td></tr>
  <tr><td>Hidden slopes:</td><td> {{ family.hidden_slopes | safe }} </td></tr>
  <tr><td>Indices of inseparability:</td><td> {{ family.indices_of_insep | safe }} </td></tr>
  <tr><td>Associated inertia:</td><td> {{ family.associated_inertia | safe }} </td></tr>
</table>

<p>
  See also: <a href="{{ url_for('.dynamic_statistics', p=family.p, n=family.n, count=None, visible_quantifier='exactly', visible=(family.artin_slopes|string), col1='slopes', totals1='yes', col2='galois_label', totals2='yes', proportions='none') }}">table of Galois group vs slopes</a> for this family.
</p>

<h2> Picture </h2>

<img src="{{ family.picture }}" width="1000">

{% if family.field_count > 0 %}

<h2> Galois groups and Hidden slopes </h2>

{% for d in family.gal_slope_tables %}
  {% include 'stat_2d.html' %}
{% endfor %}

{% endif %}

<h2> Fields </h2>

{% endblock %}

{% block post_results_content %}

{#
{% if family.poly_count < 100 %}
<h2> Polynomials </h2>

<table>
  {% for poly in family %}
    <tr><td>${{ poly._latex_() }}$</td></tr>
  {% endfor %}
</table>

{% endif %}
#}

{% endblock %}
