{% extends "homepage.html" %}

{% block content %}

<h2> Defining polynomial </h2>

<table>
  <tr><td> ${{ family.polynomial._latex_() }}$ </td></tr>
</table>

<h2> Invariants </h2>
<table>
  <tr><td>Base field:</td><td> ${{family.base}}$ </td></tr>
  <tr><td>Ramification exponent $e$:</td><td> ${{family.e}}$ </td></tr>
  <tr><td>Residue field degree $f$:</td><td> ${{family.f}}$ </td></tr>
  <tr><td>Discriminant exponent $c$:</td><td> ${{family.c}}$ </td></tr>
  <tr><td>Visible slopes:</td><td> ${{family.artin_slopes}}$</td></tr>
  <tr><td>Field count:</td><td>${{family.field_count}}$</td></tr>
  <tr><td>Poly count:</td><td>${{family.poly_count}}$</td></tr>
</table>

<h2> Picture </h2>

<img src="{{ family.picture }}" width="1000">

<h2> Fields </h2>

<table>
  <tr>
    <th>{{ KNOWL('lf.field.label', 'Label') }}</th>
    <th>{{ KNOWL('lf.defining_polynomial', 'Polynomial') }}</th>
    <th>{{ KNOWL('nf.galois_group', 'Galois group') }}</th>
    <th>{{ KNOWL('lf.slope_content', 'Slope content') }}</th>
    <th>{{ KNOWL('lf.indices_of_inseparability', 'Ind. of Insep.') }}</th>
    <th>{{ KNOWL('lf.associated_inertia', 'Assoc. Inertia') }}</th>
  </tr>
  {% for label, poly, gal, content, ind_of_insep, assoc_inertia in family.fields %}
    <tr>
      <td>{{label|safe}}</td>
      <td>${{poly}}$</td>
      <td>{{gal|safe}}</td>
      <td>${{content}}$</td>
      <td>${{ind_of_insep}}$</td>
      <td>${{assoc_inertia}}$</td>
    </tr>
  {% endfor %}
</table>


{% if family.poly_count < 100 %}
<h2> Polynomials </h2>

<table>
  {% for poly in family %}
    <tr><td>${{ poly._latex_() }}$</td></tr>
  {% endfor %}
</table>

{% endif %}

{% endblock %}
