
{% extends "homepage.html" %}

{% block content %}

<div>
  {{ info.stats.short_summary | safe }}
</div>

<h2 style="margin: 10px 0 5px 0;">Browse fields</h2>

<p style="margin: 5px 0;">
This table gives, for each $p$ and $n$ shown, the number of degree $n$ extension
fields of $\Q_p$ up to isomorphism.  Here are <a href="?search_type=Counts">more counts</a> for larger $p$ and $n$.
</p>

{# We want the columns in the field and family tables to align, which requires some circumlocutions (we end up making them one table, but have to mess with the layout to insert a header and paragraph in between) #}

<table class="number_table" style="min-width: 1087px; margin: 0;">
  <thead>
    <tr>
      <th style="white-space: nowrap;">$p$ \ $n$</th>
      {% for n in range(2,24) %}
      <th>{{n}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for p in [2,3,5,7] %}
    <tr>
      <th style="text-align: right;">{{p}}</th>
      {% for n in range(2,24) %}
      <td><a href="?p={{p}}&n={{n}}">{{info.field_count[n,p]}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td colspan="23" style="text-align:left; padding: 0;">
        <h2 style="font-size: 120%; text-align: left; color: {{color.a_text}}; margin: 10px 0 5px 0; padding: 2px 0 5px 0;">Browse families</h2>
        <p style="margin: 5px 0;">This table gives the number of degree $n$ {{KNOWL('lf.family_polynomial', 'families')}} over $\Q_p$.  Here are <a href="?search_type=FamilyCounts">more counts</a> for larger $p$ and $n$, and search pages for <a href="?search_type=Families">absolute families</a> and <a href="?search_type=Families&relative=1">relative families</a>.</p>
      </td>
    </tr>
    <tr>
      <th style="background:#fff; border-bottom: 2px solid {{color.table_table_ntdata_background_cn}}; white-space: nowrap;">$p$ \ $n$</th>
      {% for n in range(2,24) %}
      <th style="background:#fff; text-align: right; border-right: 0; border-bottom: 2px solid {{color.table_table_ntdata_background_cn}};">{{n}}</th>
      {% endfor %}
    </tr>
    {% for p in [2,3,5,7] %}
    <tr>
      <th>{{p}}</th>
      {% for n in range(2,24) %}
      <td><a href="?search_type=Families&p={{p}}&n={{n}}">{{info.family_count[n,p]}}</a></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
Some <a href="{{url_for('.interesting')}}">interesting $p$-adic fields</a>, a <a href={{url_for('.random_field')}}>random $p$-adic field</a>, a <a href="?search_type=RandomFamily">random absolute family</a>, a <a href="?search_type=RandomFamily&relative=1">random relative family</a>
</p>

<h2>{{KNOWL('intro.search', 'Search')}}</h2>
<form class="search" >
  {{ info.search_array.html() | safe }}
</form>

<h2>Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
