{% extends "homepage.html" %}

{% block content %}

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<table border="0">

<tr>
<td align=left> 
{{KNOWL('lf.degree',title='Degree')}}:</td><td align=left> <input type='text' name='n' size=3 value="{{info.n}}">
<td align=left> 
{{KNOWL('lf.discriminant_exponent',title='Discriminant exponent')}} $c$:
<td align=left> <input type="text" name="c" size="3" value="{{info.c}}" >

<td align=left> 
{{KNOWL('nf.galois_group',title='Galois group')}}:
<td align=left> <input type="text" name="gal" size="8" value="{{info.gal}}" >

<tr>
<td align=left> 
Prime $p$:</td><td align=left> <input type="text" name="p" size="3" value="{{info.p}}" ></td>
</td>
<td align=left> 
{{KNOWL('lf.ramification_index',title='Ramification index')}} $e$:
<td align=left> 
<input type="text" name="e" size="3" value="{{info.e}}" >

<td align=left>
  {{KNOWL('lf.top_slope',title='Top slope')}}:
<td align=left> 
<input type="text" name="topslope" size="8" value="{{info.topslope}}">


<tr>
<td align='left' colspan='4'>Maximum number of fields to display: <input type='text' name='count' value="{{info.count}}" size='10'>

<tr>
<td align=left colspan="2"> 
<button type='submit' value='refine'>Search again</button>
</td></tr>
</table>
</form>

{% if info.err is defined %}
{% if info.label is defined %}
<form>
<table border=0 cellpadding=5>
<tr>
<td>Field:&nbsp;&nbsp;</td>
<td ><input type='text' name='jump_to' size=60 value="{{info.label}}"> </td>
<td><button type='submit' value='Find'>Find</button></td>
</tr>
<tr>
<td colspan="3" rowspan="2"><span class="formexample"> a field label, e.g. 2.4.6.7</span></td>
</tr>
</table>
</form>
{% endif %}
{% endif %}

{% include 'matches.html' %}
{% if info.number %}

<table border=1 cellpadding=5 class="ntdata">
<thead>
<tr>
<th>Polynomial</th>
<th>$p$</th>
<th>{{KNOWL('lf.ramification_index',title='$e$')}}</th>
<th>{{KNOWL('lf.residue_field_degree',title='$f$')}}</th>
<th>{{KNOWL('lf.discriminant_exponent',title='$c$')}}</th>
<th>{{KNOWL('nf.galois_group',title='Galois group')}}</th>
<th>{{KNOWL('lf.slope_content',title='Slope content')}}</th>
</tr>
</thead>
<tbody>

{% for field in info.results: %}
<tr>
<td align='left'><a href="/LocalNumberField/{{field.label}}">{{info.display_poly(field.coeffs)|safe}}</a></td>
<td>{{field.p}}</td>
<td>{{field.e}}</td>
<td>{{field.f}}</td>
<td>{{field.c}}</td>
<td>{{info.group_display(field.n, field.gal)}}</td>
<td>$ {{info.slopedisp(field.slopes, field.t, field.u)}}$</td>
</tr>

{% endfor %}

</tbody>
</table>
<hr>
{% include 'forward_back.html' %}
{% include 'download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
