{% extends "homepage.html" %}

{% block content %}

<h2> {{ KNOWL('lf.defining_polynomial', title='Defining polynomial') }}</h2>

<table>
  <tr><td> {{ info.polynomial|safe }} </td></tr>
</table>

<h2> {{ KNOWL('lf.invariants', title='Invariants') }}</h2>
<table>
  <tr><td>Base field:</td> <td> {{info.base|safe}}
      <tr><td>{{ KNOWL('lf.degree', title='Degree') }} $d$:</td> <td>${{info.n}}$</td></tr>
      <tr><td>{{ KNOWL('lf.ramification_index', title='Ramification exponent') }} $e$:</td> <td>${{info.e}}$</td></tr>
      <tr><td>{{ KNOWL('lf.residue_field_degree', title='Residue field degree') }} $f$:</td> <td>${{info.f}}$</td></tr>
      <tr><td>{{ KNOWL('lf.discriminant_exponent', title='Discriminant exponent') }} $c$:</td> <td>${{info.c}}$</td></tr>
      <tr><td>{{ KNOWL('lf.discriminant_root_field', title='Discriminant root field') }}:</td> <td>{{info.rf|safe}}</td></tr>
      <tr><td>{{ KNOWL('lf.root_number', title='Root number') }}:</td> <td>{{info.hw}}</td></tr>
      <tr><td> $\card{ {{ info.autstring|safe }}(K/\Q_{ {{info.p}} }) }$:</td> <td>${{info.aut}}$</td></tr>
      <tr><td colspan="2">{{info.galphrase}}</td></tr>
      <tr><td>{{ KNOWL('lf.visible_slopes', title='Visible slopes')}}:</td><td>{{info.visible}}</td></tr>
</table>

<h2> {{ KNOWL('lf.intermediate_fields', title='Intermediate fields') }}</h2>
{% if info.subfields=='' %}
<table>
  <tr><td>
      The extension is primitive: there are no intermediate fields 
      between this field and $\Q_{ {{info.p}} }$.
  </td></tr>
</table>
{% else %}
<table>
  <tr><td>
      {{ info.subfields | safe }}
  </td></tr>
</table>
<p>
  Fields in the database are given up to isomorphism.  Isomorphic 
  intermediate fields are shown with their multiplicities.
</p>
{% endif %}

<h2>{{ KNOWL('lf.unramified_totally_ramified_tower', title='Unramified/totally ramified tower') }}</h2>
<table>
  <tr><td>{{ KNOWL('lf.unramified_subfield', title='Unramified subfield')}}:</td><td>{{info.unram|safe}}</tr>
  <tr><td>Relative {{ KNOWL('lf.eisenstein_polynomial', 'Eisenstein polynomial')}}:</td><td>{{info.eisen|safe}}</tr>
</table>

<h2>{{ KNOWL('lf.ramification_polygon_display', title='Ramification polygon') }}</h2>


{% if info.e > 1 %}

  {% if info.ram_poly_polt %}
    <img src="{{info.ram_polygon_plot}}" width="800" height="{{100 if (info.e % info.p) else 400}}">

    <table>
      <tr><td>{{ KNOWL('lf.residual_polynomials', title='Residual polynomials') }}:</td><td>{{info.residual_polynomials}}</td></tr>
      <tr><td>{{ KNOWL('lf.associated_inertia', title='Associated inertia') }}:</td><td>{{info.associated_inertia}}</td></tr>
      <tr><td>{{ KNOWL('lf.indices_of_inseparability', 'Indices of inseparability')}}:</td><td>{{info.ind_insep|safe}}</tr>
    </table>
  {% else %}
     Not computed
  {% endif %}


{% else %}

<p> The ramification polygon is trivial for unramified extensions. </p>

{% endif %}

<h2>{{ KNOWL('lf.galois_invariants', title='Invariants of the Galois closure') }}</h2>
<table>
  <tr><td>{{ KNOWL('nf.galois_group', title='Galois group')}}:</td><td>
  {% if info.gal %}
  {{info.gal|safe}}
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.inertia_group', title='Inertia group')}}:</td><td>
  {% if info.inertia %}
    {{info.inertia|safe}}
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.wild_inertia_group', title='Wild inertia group')}}:</td><td>
  {% if info.wild_inertia %}
  {{info.wild_inertia|safe}}
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.unramified_degree', title='Unramified degree')}}:</td><td>
  {% if info.u %}
  ${{info.u}}$
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.tame_degree', title='Tame degree')}}:</td><td>
  {% if info.t %}
  ${{info.t}}$
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.wild_slopes', title='Wild slopes')}}:</td><td>
  {% if info.slopes %}
  {{info.slopes}}
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{ KNOWL('lf.galois_mean_slope', title='Galois mean slope')}}:</td><td>
  {% if info.gms %}
  ${{info.gms}}$
  {% else %}
    Not computed
  {% endif %}
  </td></tr>
  <tr><td>{{KNOWL('lf.galois_splitting_model', title='Galois splitting model')}}:</td><td>{{info.gsm|safe}}</td></tr>
</table>

{% endblock %}
