{% extends 'homepage.html' %}
{% block content %}

<p>
{{ info.stats.short_summary | safe}}
</p>

<h2> Browse </h2>
<p>
By {{ KNOWL('belyi.degree', title='degree')}}:
{% for rnge in info.degree_list %}
<a href="?deg={{rnge}}">{{rnge}}</a>&nbsp;
{% endfor %}
</p>
<p>
Some <a href="{{url_for('.interesting')}}">interesting Belyi maps</a> or a <a href={{url_for('.random_belyi_galmap')}}>random Belyi map</a>
</p>

<h2> Search </h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

<!-- Debugging! -->
{% if DEBUG %}
<hr>
<div>
Info was: {{info}}
</div>
{% endif %}

{% endblock %}
