{% extends 'homepage.html' %}
{% block content %}

<p>
{{ info.stats.short_summary | safe}}
</p>

<h2> Browse {{ KNOWL('belyi.galmap', title='Belyi maps') }} </h2>
<p>
By {{ KNOWL('belyi.degree', title='degree')}}:
{% for rnge in info.degree_list %}
<a href="?deg={{rnge}}">{{rnge}}</a>&nbsp;
{% endfor %}
</p>
<p>
Some of our favorite Belyi maps:
{% for galmap in info.belyi_galmap_list: %}
<a href = "{{galmap.url}}"> {{galmap.label}} </a>&nbsp;
{% endfor %}
</p>
<p>
A <a href={{url_for('.random_belyi_galmap')}}>random Belyi map</a> from the database.
</p>
<h2> Find a specific Belyi map or passport by {{ KNOWL('belyi.label', title='label')}} </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>


<h2> Search </h2>
<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

<!-- Debugging! -->
{% if DEBUG %}
<hr>
<div>
Info was: {{info}}
</div>
{% endif %}

{% endblock %}
