{% extends 'homepage.html' %}
{% import 'color.css' as color %}
{% block content %}
<style>
<div.ratpts>span { white-space: nowrap; font-family: serif; }
</style>

<!--New table class to avoid spacing in LaTeX-links -->
<style type="text/css">
table.g2 a {
  padding: 0;
}

<style>
.toggle {margin-top:5px; margin-left:20px;}
div.properties-body table tr td.label { vertical-align: top; }
#content > h2.subhead { color:{{color.black}};}
</style>

{% set KNOWL_ID = "belyi.%s"|format(data['label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>

<h2> {{ KNOWL('belyi.label', title='Passport label') }} </h2>
{{data.plabel}}

<p> Triples: {{data.triples}} </p>
<p> Base field: {{data.base_field}} </p>
<p> Embeddings: {{data.embeddings}} </p>
<p> Curve: {{data.curve}} </p>
<p> Map: {{data.map}} </p>

{% endblock %}
