{% extends 'homepage.html' %}
{% import 'color.css' as color %}
{% block content %}

<!--New table class to avoid spacing in LaTeX-links -->
<style type="text/css">
table.g2 a {
  padding: 0;
}

<style>
.toggle {margin-top:5px; margin-left:20px;}
div.properties-body table tr td.label { vertical-align: top; }
#content > h2.subhead { color:{{color.black}};}
</style>

{% set KNOWL_ID = "belyi.%s"|format(data['label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>

<p> Degree (a positive integer): {{data.deg}} </p>
<p> Group: {{data.group}} </p>
<p> Automorphism group: {{data.aut_group}} </p>
<p> Geomtype: {{data.geomtype}} </p>
<p> ABC: {{data.abc}} </p>
<p> Lambdas: {{data.lambdas}} </p>
<p> Genus: {{data.g}} </p>
<p> Max degree of base field: {{data.maxdegbf}} </p>
<p> Passport size: {{data.pass_size}} </p>
<p> Number of orbits: {{data.num_orbits}} </p>

{% endblock %}
