{% extends 'belyi_base.html' %}
{% block subcontent %}

<style>
  .toggle {margin-top:5px; margin-left:20px;}
  div.properties-body table tr td.label { vertical-align: top    ; }
  #content > h2.subhead { color:{{color.black}};}
</style>

<script>
var cur_style = null;
function show_eqns(eqnstyle) {
    $('.std_eqn').css("display", "none");
    $('.plane_eqn').css("display", "none");
    $('.'+eqnstyle).css("display", "inline");
  }
</script>

<h2>{{ KNOWL('belyi.base_field', title='Base field')}}</h2>
  <p>
    {% if data['in_LMFDB'] %}
      {{ data.base_field.knowl()|safe }}
      {% if not data['isQQ'] %}
       ; {{ KNOWL('nf.generator', 'Generator') }} \(\nu\), with {{ KNOWL('nf.minimal_polynomial', 'minimal polynomial') }}
        {{ data.base_field.latex_poly }}.
      {% endif %}
    {% else %}
      \(\mathbb{Q}(\nu)\); {{ KNOWL('nf.generator', 'Generator') }} \(\nu\), with {{ KNOWL('nf.minimal_polynomial', 'minimal polynomial') }} ${{ data.base_field }}$.
    {% endif %}
  </p>
</h2>

{% if data["plane_model"] %}
<h2>Curve</h2>

<table>
  <tr class='std_eqn nodisplay'>
    <td>
      {{ data.curve|safe }}
      {%- if data.g == 0 -%}
        , with affine coordinate $x$
      {% endif %}
    </td>
    <td>
    </td>
  </tr>
  <tr class='plane_eqn'>
    <td>
      {{ data.plane_model|safe }}
    <td>
    </td>
  </tr>
</table>

<div class="toggle">
  <span class='plane_eqn'>
    (<a onclick="show_eqns('std_eqn'); return false" href='#'>smooth</a>)
  </span>
</div>
<div class="toggle">
  <span class='std_eqn nodisplay'>
    (<a onclick="show_eqns('plane_eqn'); return false" href='#'>planar</a>)
  </span>
</div>


<h2>{{ KNOWL('belyi.galmap', 'Map') }}</h2>
<div class='std_eqn nodisplay'>
  {% if data.g == 0 %}
    <p> \(\displaystyle \phi(x) =\) {{data.map|safe}} </p>
  {% else %}
    <p> \(\displaystyle \phi(x,y) =\) {{data.map|safe}} </p>
  {% endif %}
</div>
<div class='plane_eqn'>
  <p>
    {% if data.plane_constant == '1' %}
      \(\displaystyle \phi(t,x) = t\)
    {% else %}
      \(\displaystyle \phi(t,x) = {{data.plane_map_constant_factored}} \, t\)
    {% endif %}
  </p>
</div>
{% else %}
<h2>Curve</h2>
  <p>
    {{data.curve|safe}}
    {%- if data.g == 0 -%}
      , with affine coordinate $x$
    {% endif %}
  </p>

<h2>{{ KNOWL('belyi.galmap', 'Map') }}</h2>
  {% if data.g == 0 %}
    <p> \(\displaystyle \phi(x) =\) {{data.map|safe}} </p>
  {% else %}
    <p> \(\displaystyle \phi(x,y) =\) {{data.map|safe}} </p>
  {% endif %}
{% endif %}

<h2>{{ KNOWL('nf.embedding', title="Embeddings") }}</h2>
  <p>
    Each permutation triple in the orbit corresponds to an embedded Belyi map with coefficients in $\mathbb{C}$. The table below gives this correspondence.
  </p>
  <table class="ntdata">
    <thead>
      <tr>
        <td>Embedding $\nu \mapsto \nu_i \in \mathbb{C}$</td>
        <td>{{ KNOWL('belyi.permutation_triple', title="Permutation triple") }}</td>
      </tr>
    </thead>
    <tbody>
      {% for g in data.embeddings_and_triples %}
       <td>${{g['embedding']}}$</td>
       <td>${{g['triple']}}$</td>
       </tr>
      <!-- TODO: uncomment this when embedded map pages are reactivated
         <td><a href="{{g['triple_link']}}">${{g['embedding']}}$</a></td>
         <td><a href="{{g['triple_link']}}">${{g['triple']}}$</a></td>
         </tr>
      -->
      {% endfor %}
    </tbody>
    </table>

{% endblock %}
