{% extends 'homepage.html' %}
{% block content %}

<style>
<div.ratpts>span { white-space: nowrap; font-family: serif; }
</style>

<!--New table class to avoid spacing in LaTeX-links -->
<style type="text/css">
table.g2 a {
  padding: 0;
}

<style>
.toggle {margin-top:5px; margin-left:20px;}
div.properties-body table tr td.label { vertical-align: top; }
#content > h2.subhead { color:{{color.black}};}
</style>


<h2>Passport invariants</h2>
  <p>
    <table>
      <tr><td>{{ KNOWL('belyi.degree', title="Degree") }}:</td><td>${{data.deg}}$</td></tr>
      <tr><td>{{ KNOWL('belyi.group', title="Monodromy group") }}:</td><td>{{data.group | safe}}</td></tr>
      <tr><td> {{ KNOWL('belyi.genus', title="Genus") }}:</td><td>${{data.g}}$</td> </tr>
      <tr><td>{{ KNOWL('belyi.geometry_type', title="Geometry type") }}:</td><td>{{data.geomtype}}</td></tr>
      {% if data['is_primitive'] %}
        <tr><td>{{ KNOWL('belyi.primitive', title="Primitive") }}:</td><td>yes</td></tr>
      {% else %}
        <tr><td>{{ KNOWL('belyi.primitive', title="Primitive") }}:</td><td>no, lift of <a href="{{data.primitivization_url|safe}}">{{data.primitivization}}</a></td></tr>
      {% endif %}
    </table>
  </p>

<p><h2>Conjugacy class data</h2>
  <p>
    The order and cycle type of an element in each of the conjugacy classes $C_0, C_1, C_{\infty}$ of the {{ KNOWL('belyi.passport', title="passport") }} containing this orbit.
  </p>

  <table class="ntdata">
    <thead><tr><td>Order</td><td>Partition</td></tr></thead>
    <tbody>
      {% for i in [0,1,2] %}
      <tr>
        <td>${{data.abc[i]}}$</td>
        <td>${{data.lambdas[i]}}$</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% block subcontent %}
{% endblock %}

{% endblock %}
