{% extends 'homepage.html' %}
{% import 'color.css' as color %}
{% block content %}

<style>
<div.ratpts>span { white-space: nowrap; font-family: serif; }
</style>

<!--New table class to avoid spacing in LaTeX-links -->
<style type="text/css">
table.g2 a {
  padding: 0;
}

<style>
.toggle {margin-top:5px; margin-left:20px;}
div.properties-body table tr td.label { vertical-align: top; }
#content > h2.subhead { color:{{color.black}};}
</style>

{% set KNOWL_ID = "belyi.%s"|format(data['label']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top',title='') }}</h2>
<!-- FIXME: extra space at top -->
<h2>Galois data</h2>
  <p>
    <table>
    <tr><td>{{ KNOWL('belyi.base_field', title='Base field') }}<td> {{ data.base_field.knowl()|safe }};
       {{ KNOWL('nf.generator', 'Generator') }} \(\nu\), with {{
       KNOWL('nf.minimal_polynomial', 'minimal polynomial') }}
       {{ data.base_field.latex_poly }}.
    </tr>
    <tr><td> {{ KNOWL('belyi.orbit_size', title='Orbit size') }}<td> {{ data.orbit_size}} </tr>
    </table>
  </p>

<h2>Curve</h2>
  <p> \[{{data.curve}}\] </p>

<h2>Map</h2>
  <p> \[{{data.map}}\] </p>

<h2>Passport properties</h2>

  <p> Triples: {{data.triples}} </p>
  <p> Embeddings: {{data.embeddings}} </p>

{% endblock %}
