{% extends 'homepage.html' %}
{% block content %}


<p>
A {{KNOWL('nf', title='number field')}} is a field which is an extension of finite degree of the field $\mathbb{Q}$  of rational numbers.
</p>

<h3> Browse </h3>

<ul>
<li>
By {{KNOWL('nf.degree', title='degree')}}:
{% for r in info.degree_list: %}
<a href="?degree={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.discriminant', title='discriminant')}} range: 
{% for r in info.discriminant_list: %}
<a href="?discriminant={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.signature', title='signature')}}: 
{% for t in info.signature_list: %}
<a href="?signature={{t}}">{{t}}</a>&nbsp;&nbsp;
{% endfor %}
<li>
By {{KNOWL('nf.class_number', title='class number')}}: 
{% for r in info.class_number_list: %}
<a href="?class_number={{r}}">{{r}}</a>&nbsp;&nbsp;
{% endfor %}
</ul>

<h3>Go to a specific field</h3>

<form>
<table border=0 cellpadding=5>
<tr>
<td>Field:&nbsp;&nbsp;</td>
<td><input type='text' name='natural' size=10 example='Qsqrt5'> </td>
<td><button type='submit' name='search' value='Go'>Go</button></td>
<td rowspan=3><span class="formexample"> either: a field label, e.g. 2.2.5.1 for
    \(\mathbb{Q}(\sqrt{5})\); <br>or: a nickname, e.g. Q or Qsqrt5 or Qzeta7;<br> or: a polynomial in x, e.g. x^2+1</span></td>
</tr>
<tr></tr>
<tr></tr>
</table>
</form>

<h3> Search for fields </h3>
<form>
<p>
Enter values into one or more boxes to restrict the search.&nbsp;&nbsp;
<button type='submit' value='Search'>Search</button>
</p>
<table border=0 cellpadding=5>
<tr>
<td align=left>{{KNOWL('nf.degree', title='degree')}} <td><input type='text' name='degree' size=10 example='3'> 
<span class="formexample"> e.g. 3</span></td>
<td>
<td align=left>{{KNOWL('nf.signature', title='signature')}} <td><input type='text' name='signature' size=10 example='[1,1]'> 
<span class="formexample"> e.g. [1,1]</span></td>
</tr>
<tr>
<td align=left>{{KNOWL('nf.discriminant', title='discriminant')}}
<td colspan=4><input type='text' name='discriminant' size=10 size=10 example='-1000..-1'> 
<span class="formexample"> e.g. -3, or a range such as 1000..2000 or 1000-2000 or -1000..-1</span></td>
</tr>
<tr>
<td align=left>{{KNOWL('nf.class_number', title='class number')}} <td><input type='text' name='class_number' size=10 example='5'>
<span class="formexample"> e.g. 5</span></td>
<td>
<td align=left>{{KNOWL('nf.ideal_class_group', title = 'class group')}} structure<td><input type='text' name='class_group' size=10 example='[2,2]'>
<span class="formexample"> e.g. [], [3], or [2,2]</span></td>
</tr>
<tr>
<td align=left>{{KNOWL('nf.galois_group', title='Galois group')}} <td><input type='text' name='galois_group' size=10 example='C5'>
<span class="formexample"> e.g. C5</span></td>
<td>
<td align=left>{{KNOWL('nf.unramified_prime', title='unramified primes')}} <td><input type='text'
                                            name='ur_primes' size=10 example='2,3'>
<span class="formexample"> e.g. 2,3</span></td>
</tr>
<tr>
<td align=left colspan=4>Maximum number of fields to display <input type='text'
                                                   name='count'
                                                   value=10 size=10>
</td>
</tr>
</table>
</form>

{% endblock %}
