{% extends 'homepage.html' %}

{% block title %}Number fields{% endblock %}

{% block content %}

<div id = "header">
<H1>Number fields</H1>
</div>

<div id = "Content">

<h2>Search by label</h2>

<form>
<input type='text' name='natural' size=60>
<p>
<input type='submit' name='search value='search by label'>
<!--
<input type='submit' name='lucky' value="search by label">
-->
</form>

<h2> Filter </h2>

<form>
<center>Degree <input type='text' name='degree'>
Signature <input type='text' name='signature'></center>
<br>
<center>Discriminant <input type='text' name='discriminant'></center><br>
<center>Class number <input type='text' name='class_number'>
Class group <input type='text' name='class_group'></center><br>
<center>Galois group <input type='text' name='galois_group'></center><br>
<center>Unramified primes <input type='text' name='ur_primes'></center><br>
<center>Maximum number of fields <input type='text' name='count' value=10></center><br>
<input type='submit' value='Filter'>
</form>

<h2> Browse </h2>

<p>
<p>
By degree:
{% for r in info.degree_list: %}
<a href="?degree={{r}}">{{r}}</a>
{% endfor %}

<p>
By signature: 
{% for t in info.signature_list: %}
<a href="?signature={{t}}">{{t}}</a>
{% endfor %}

<p>
By discriminant: 
{% for r in info.discriminant_list: %}
<a href="?discriminant={{r}}">{{r}}</a>
{% endfor %}

<p>
By class number: 
{% for r in info.class_number_list: %}
<a href="?class_number={{r}}">{{r}}</a>
{% endfor %}

</div>

{% endblock %}
