{% extends 'homepage.html' %}
{% block content %}

<p>
The database currently contains {{info.count}} genus 2 curves
over the rational numbers. 
</p>

<h2> Browse {{ KNOWL('g2c.g2curve', title='genus 2 curves over $\Q$') }} </h2>
<p>
By {{ KNOWL('g2c.conductor', title='conductor')}}:
{% for rnge in info.conductor_list %}
<a href="?cond={{rnge}}">{{rnge}}</a>
{% endfor %}
</p>

<p>
By {{ KNOWL('g2c.abs_discriminant', title='absolute discriminant')}}:
{% for rnge in info.discriminant_list %}
<a href="?disc={{rnge}}">{{rnge}}</a>
{% endfor %}
</p>
<p>
Some of our favorite curves:
{% for curve in info.browse_curves: %}
 <a href = "{{info.curve_url(curve)}}"> {{curve.label}} </a>  
{% endfor %}
</p>
<p>
A <a href={{url_for('.random_curve')}}>random genus 2 curve</a> from the database.
</p>
<h2> Find a specific curve by {{ KNOWL('g2c.q.label', title='label')}} </h2>

<form>
<input type='text' name='jump' placeholder='169.a.169.1'>
<button type='submit'>Label</button>
<br><span class="formexample">e.g. 169.a.169.1 </span>
</form>


<h2> Search </h2>

<form>
<table>
<tr>
<td>{{ KNOWL('g2c.conductor', title='conductor') }}</td>  
<td><input type='text' name='cond' placeholder='169' size=10>
<td><span class="formexample"> e.g. 169, 100-1000 </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.abs_discriminant', title='absolute discriminant') }}</td>
<td><input type='text' name='disc' placeholder='169' size=10>
<td><span class="formexample"> e.g. 169, 0-1000</td>
</tr>
<tr>
<td>{{ KNOWL('g2c.num_rat_wpts', title='rational Weierstrass points') }}</td>  
<td><input type='text' name='num_rat_wpts' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1, 0-6 </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.torsion', title='torsion structure')}}</td>  
<td><input type='text' name='torsion' placeholder='[2, 4]' size=10>
<td><span class="formexample"> e.g. [2, 4] </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.torsion_order', title='torsion order')}}</td>  
<td><input type='text' name='torsion_order' placeholder='2' size=10>
<td><span class="formexample"> e.g. 2 </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.two_selmer_rank', title='2-Selmer rank')}}</td>  
<td><input type='text' name='two_selmer_rank' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1 </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.gl2type', title='$\GL_2$-type') }}</td>
<td><select name='is_gl2_type' width="90" style="width: 90px">
                   <option ></option>
                   <option value='True'>True</option>
                   <option value='False'>False</option>
      </select></td>
</tr>
<tr>
  <td>{{ KNOWL('g2c.st_group', title='Sato-Tate group') }}</td>
  <td colspan="2">
    <table>
      <tr>
	<td align = "center">{{ KNOWL('g2c.st_group', title='\( \mathrm{ST}\)') }}</td>
	<td align = "center">{{KNOWL('g2c.st_group_identity_component',title='\( \mathrm{ST}^0 \)')}}</td>
      </tr>
      <tr>
	<td><select name='st_group' width="90" style="width: 90px">
            <option ></option>
	    {% for G in info.st_group_dict.keys()%}
            <option value='{{G}}'>{{info.st_group_dict[G]}}</option>
	    {% endfor %}
	</select></td>
	
	<td><select name='real_geom_end_alg' width="90" style="width: 							       90px">
            <option ></option>
	    {% for G in info.real_geom_end_alg_dict.keys()%}
            <option value='{{G}}'>{{info.real_geom_end_alg_dict[G]}}</option>
	    {% endfor %}
	</select></td>
      </tr>
    </table>
</tr>

<tr>
  <td>{{ KNOWL('g2c.aut_grp', title='automorphism group') }}</td>
  <td colspan="2">
    <table>
      <tr>
	<td align = "center"> {{ KNOWL('g2c.aut_grp', title='\(\mathrm{Aut}(X)\)') }} </td>
	<td align = "center"> {{ KNOWL('g2c.geom_aut_grp',   title='\(\mathrm{Aut}(X_{\overline{\Q}})\)') }}	</td>
      </tr>
      <tr>
	<td align = "center"><select name='aut_grp' width="90" 				     style="width: 90px">
            <option ></option>
	    {% for G in info.aut_grp_dict.keys()%}
            <option value='{{G}}'>{{info.aut_grp_dict[G]}}</option>
	    {% endfor %}
	</select></td>
	<td align = "center"><select name='geom_aut_grp' width="90" 				     style="width: 90px">
	    <option ></option>
	    {% for G in info.geom_aut_grp_dict.keys()%}
            <option value='{{G}}'>{{info.geom_aut_grp_dict[G]}}</option>
	    {% endfor %}
	</select></td>
      </tr>
    </table>
</tr>
<tr>
  <td>Maximum number</td>
  <td><input type='text' name='count' value=50 size=10></td>
  <td><span class="formexample"> &nbsp;</td>
</tr>
<tr>
<td><button type='submit' value='Search'>Search</button></td>
</tr>
</table>

</form>



{% endblock %}
