{% extends 'homepage.html' %}
{% block content %}

<!-- from hmf/template/hilbermodularformall-->

<h2> Browse {{ KNOWL('g2c.???', title='genus 2 curves') }} </h2>

<p>
The database currently contains many (but not all) genus 2 curves over number fields.
</p>


<h2> Find a specific form by label </h2>

<form>
<input type='text' name='jump' placeholder='169.a.169.1'>
<button type='submit'>Label</button>
<br><span class="formexample">e.g. 169.a.169.1 </span>
</form>

<h2> Search </h2>

<form>
<table>
<tr>
<td>Field</td>  
<td><input type='text' name='field' placeholder='Q' size=10>
<td><span class="formexample"> e.g. Q </span></td>
</tr>
<tr>
<td>Conductor norm</td>  
<td><input type='text' name='cond_norm' placeholder='169' size=10>
<td><span class="formexample"> e.g. 169 </span></td>
</tr>
<tr>
<td>{{ KNOWL('g2c.discriminant', title='Discriminant norm') }}</td>
<td><input type='text' name='disc_norm' placeholder='169' size=10>
<td><span class="formexample"> e.g. 169</td>
</tr>
<tr>
<td>Maximum number</td>
<td><input type='text' name='count' value=100 size=10></td>
<td><span class="formexample"> &nbsp;</td>
</tr>
<tr>
<td colspan=3><button type='submit' value='Search'>Search</button>
</td>
</tr>
</table>
</form>



{% endblock %}
