{% extends 'homepage.html' %}
{% block content %}

<style>
p {padding-left: 1ch;}
</style>

{{ info.stats.short_summary | safe }}

<h2> Browse </h2>
<p>
By {{ KNOWL('ag.conductor', title='conductor')}}:
{% for rnge in info.conductor_list %}
&nbsp;<a href="?cond={{rnge}}">{{rnge}}</a>&nbsp;
{% endfor %}
</p><p>
By {{ KNOWL('g2c.abs_discriminant', title='absolute discriminant')}}:
{% for rnge in info.discriminant_list %}
&nbsp;<a href="?abs_disc={{rnge}}">{{rnge}}</a>&nbsp;
{% endfor %}
</p><p>
Some <a href="{{url_for('.interesting')}}">interesting genus 2 curves</a> or a <a href={{url_for('.random_curve')}}>random genus 2 curve</a>
</p>


<h2> Search </h2>

<form id='search' onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
<p>&nbsp;&nbsp;*Items marked with an asterisk are only known conditionally (click captions for details).  Searches will match conditional values.</p>
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
