{% extends 'homepage.html' %}

{% block content %}

<style type="text/css">
#isogeny_class_table th, #isogeny_class_table td {
padding : 4px;
text-align: center;
}
</style>

<h2>Genus 2 curves in class {{info.label}}</h2>
<table id = "isogeny_class_table">
<tr>
<th>{{ KNOWL('g2c.q.label', title='Label')}}</th>
<th>{{ KNOWL('g2c.q.equation', title='Equation') }}</th>
</tr>
{% for c in info.curves %}
<tr>
<td class="center"><a href="{{c.url}}">{{c.label}}</a></td>
<td align="center">{{c.equation}}</td>
{% endfor %}
</table>

<h2>$L$-factor information</h2>

<p>
<table>
<tr><td> Bad $L$-factors:<td> {{ info.bad_lfactors }} </tr>
<tr><td> Root number:<td> {{ info.root_number }} </tr>
<table>
<p>

<h2>Sato-Tate group:</h2>

<p>
Sato-Tate group: ${{ info.st_group }}$
</p>

<h2>Maybe some modular form or elliptic curve data here</h2>

{% endblock %}


