{% extends 'homepage.html' %}
{% block content %}

<div>
The database currently contains {{info.counts.ncurves_c}} genus 2 curves in {{info.counts.nclasses_c}} isogeny classes,
with {{ KNOWL('g2c.abs_discriminant',title = "absolute discriminant")}} at most {{info.counts.max_D_c}}.
</div>

{% for d in info.stats.distributions %}
<h2> Distribution of {{KNOWL(d.attribute['knowl'], title = d.attribute['top_title'])}} </h2>
<div>
<table border=1>
{% for r in d["rows"] %}
<tr>
<th>{{d.attribute['row_title']}}</th>
{% for c in r %}
<td>\({{c.value}}\)</td>
{% endfor %}
</tr>
<tr>
<th>number of curves</th>
{% for c in r %}
<td><a href='{{c.query}}'>{{c.curves}}</a></td>
{% endfor %}
</tr>
<tr>
<th>proportion</th>
{% for c in r %}
<td>{{c.proportion}}%</td>
{% endfor %}
</tr>
{%endfor %}

</table>
</div>
{% endfor %}

<p>
</p>

{% endblock %}
</html>
