{% extends 'homepage.html' %}
{% block content %}

{{ place_code('class') }}

<style type="text/css">
#Gassmann_class_table th, #Gassmann_class_table td {
padding : 4px;
text-align: center;
}
</style>

<h2>Modular curves in {{ KNOWL('modcurve.gassmann_class', 'Gassmann class')}} {{iso_class.coarse_class}}</h2>
{{ place_code('curves') }}

<table id = "Gassmann_class_table">
  <tr>
    <th>{{ KNOWL('modcurve.label', title='LMFDB label')}}</th>
    {% if iso_class.name %}
    <th>{{ KNOWL('modcurve.name', title='Name') }} </th>
    {% endif %}
    {% if iso_class.CPlabel %}
    <th>{{ KNOWL('modcurve.other_labels', title='CP label') }}</th>
    {% endif %}
    {% if iso_class.SZlabel %}
    <th>{{ KNOWL('modcurve.other_labels', title='SZ label') }}</th>
    {% endif %}
    {% if iso_class.RZBlabel %}
    <th>{{ KNOWL('modcurve.other_labels', title='RZB label') }}</th>
    {% endif %}
    {% if iso_class.RSZBlabel %}
    <th>{{ KNOWL('modcurve.other_labels', title='RSZB label') }}</th>
    {% endif %}
    {% if iso_class.Slabel %}
    <th>{{ KNOWL('ec.galois_rep_modell_image', title='S label') }}</th>
    {% endif %}
    {# <th>{{KNOWL('modcurve.cusp_widths', title = 'Cusp widths') }}</th> #}
    <th>{{KNOWL('modcurve.cusp_orbits', title = 'Cusp orbits') }}</th>
    <th>{{KNOWL('modcurve.cusps', title='$\Q$-cusps') }}</th>
    <th>{{ KNOWL("modcurve.gonality", "$\Q$-gonality")}}</th>
    <th>{{ KNOWL("modcurve.gonality", "$\overline{\Q}$-gonality")}}</th>
    <th>{{ KNOWL("modcurve.cm_discriminants", "CM points") }}</th>
  </tr>
  
  {% for curve in iso_class.curves %}
  <td class="center"><a href="/ModularCurve/Q/{{curve.label}}">{{curve.label}}</a></td>
  {% if iso_class.name %}
  <td class="center">
    {% if curve.name %}
    {{ name_to_latex(curve.name) }}
    {% endif %}
  </td>
  {% endif %}
  {% if iso_class.CPlabel %}
  <td class="center">
  {% if curve.CPlabel %}
  <a href="https://mathstats.uncg.edu/sites/pauli/congruence/csg{{curve.genus}}.html#group{{curve.CPlabel}}">{{curve.CPlabel}}</a>
  {% endif %}
  </td>
  {% endif %}
  {% if iso_class.SZlabel %}
  <td class="center">
  {% if curve.SZlabel %}
  {{curve.SZlabel}}
  {% endif %}
  </td>
  {% endif %}
  {% if iso_class.RZBlabel %}
  <td class="center">
  {% if curve.RZBlabel %}
  <a href="https://users.wfu.edu/rouseja/2adic/{{curve.RZBlabel}}.html">{{curve.RZBlabel}}</a>
  {% endif %}
  </td>
  {% endif %}
  {% if iso_class.RSZBlabel %}
  <td class="center">
  {% if curve.RSZBlabel %}
  <a href="/ModularCurve/Q/{{curve.RSZBlabel}}">{{curve.RSZBlabel}}</a>
  {% endif %}
  </td>
  {% endif %}
  {% if iso_class.Slabel %}
  <td class="center">
  {% if curve.Slabel %}
  {{curve.Slabel}}
  {% endif %}
  </td>
  {% endif %}
  {# <td class="center">{{ curve.web_curve.cusp_widths_display }}</td> #}
  <td class="center">{{ curve.web_curve.cusp_orbits_display }}</td>
  <td class="center">${{ curve.rational_cusps }}$</td>
  <td class="center">${{ curve.q_gonality if curve.q_gonality else "%s \\le \\gamma \\le %s"%(curve.q_gonality_bounds[0],curve.q_gonality_bounds[1]) }}$</td>
  <td class="center">${{ curve.qbar_gonality if curve.qbar_gonality else "%s \\le \\gamma \\le %s"%(curve.qbar_gonality_bounds[0],curve.qbar_gonality_bounds[1]) }}$</td>
  <td class="center"> {{ "yes $\quad(D =$ $%s$)"%(curve.web_curve.cm_discriminant_list) if curve.cm_discriminants else "none" }}</td>
</tr>

{% endfor %}
</table>

<h2> {{ KNOWL('modcurve.invariants', 'Invariants') }} of this Gassmann class</h2>
<table>
  <tr><td style="width:105px;">{{ KNOWL("modcurve.level", "Level") }}:</td><td> ${{ iso_class.level }}$ </td><td style="width:20px;"></td><td>{{ KNOWL("modcurve.sl2level", "$\SL_2$-level") }}:</td><td>${{ iso_class.sl2level }}$</td><td style="width:60px;"></td>{% if iso_class.genus > 0 %}<td>{{ KNOWL("modcurve.newform_level", "Newform level:") }}</td><td>${{ iso_class.web_curve.newform_level }}$</td>{% endif %}</tr>
  <tr><td>{{ KNOWL("modcurve.index", "Index") }}:</td><td> ${{ iso_class.index }}$ </td><td style="width:20px;"></td><td>{{ KNOWL("modcurve.psl2index", "$\PSL_2$-index") }}:<td>${{ iso_class.psl2index }}$</td></tr>
  <tr><td>{{ KNOWL("modcurve.genus", "Genus") }}:</td><td> ${{ iso_class.genus }} = 1 + \frac{ {{iso_class.psl2index}} }{12} - \frac{ {{iso_class.nu2}} }{4} - \frac{ {{iso_class.nu3}} }{3} - \frac{ {{iso_class.cusps}} }{2}$</td></tr>
  <tr><td>{{ KNOWL("modcurve.cusps", "Cusps") }}:</td><td> ${{ iso_class.cusps }}$</td><td style="width:20px;"></td>
  <tr><td>{{ KNOWL("modcurve.elliptic_points", "Elliptic points") }}:</td> <td> ${{iso_class.nu2}}$ of order $2$ and ${{iso_class.nu3}}$ of order $3$ </td></tr>
</table>
{% if iso_class.genus > 0 and iso_class.dims is not none %}
<table>
  <tr><td>{{ KNOWL('modcurve.rank', 'Analytic rank') }}:</td><td> ${{ iso_class.rank }}$ </td></tr>
  <tr><td>{{ KNOWL('ag.conductor', 'Conductor') }}:</td><td> ${{ iso_class.web_curve.factored_conductor }}$ </td></tr>
  <tr>
    <td>
      {{ KNOWL('av.simple', 'Simple') }}:
    </td>
    <td>
      {% if iso_class.simple %}
        yes
      {% elif iso_class.simple is not none %}
        no
      {% else %}
        not computed
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      {{ KNOWL('av.squarefree', 'Squarefree') }}:
    </td>
    <td>
      {% if iso_class.squarefree %}
        yes
      {% elif iso_class.squarefree is not none %}
        no
      {% else %}
        not computed
      {% endif %}
    </td>
  </tr>
  <tr><td>{{ KNOWL('modcurve.decomposition', 'Decomposition') }}:</td><td> {{ iso_class.web_curve.formatted_dims }} </td></tr>
  <tr><td>{{ KNOWL('modcurve.decomposition', 'Newforms') }}:</td><td> {{ iso_class.web_curve.formatted_newforms | safe }} </td></tr>
</table>
{% endif %}

{% endblock %}

