{% extends 'homepage.html' %}
{% block content %}

<div>
  {{ info.stats.short_summary | safe }}
</div>

<h2> Browse </h2>

<p>
  By {{KNOWL('modcurve.standard', 'family')}}:
  {% for (fam, famname) in [("X0", "X_0(N)"), ("X1", "X_1(N)"), ("Xpm1", "X_{\pm 1}(N)"), ("Xarith1", "X_{\\mathrm{arith},1}(M,MN)"), ("Xarithpm1", "X_{\\mathrm{arith},\pm 1}(M,MN)"), ("X", "X(N)"), ("Xsp", "X_{\\mathrm{sp}}(N)"), ("Xspplus", "X_{\\mathrm{sp}}^+(N)"), ("Xns", "X_{\\mathrm{ns}}(N)"), ("Xnsplus", "X_{\\mathrm{ns}}^+(N)"), ("XS4", "X_{S_4}(p)"), ("Xarith", "X_{\\mathrm{arith}}(N)")] %}
  <a href="family/{{fam}}">${{famname}}$</a>&nbsp;
  {% endfor %}
</p>

<p>
  By {{KNOWL('modcurve.level', 'level')}}:
  <a href="?level_type=prime">prime</a>&nbsp;
  <a href="?level_type=prime_power">prime power</a>&nbsp;
  <a href="?level_type=squarefree">squarefree</a>&nbsp;
  {% for rnge in info.level_list %}
    <a href="?level={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  By {{KNOWL('modcurve.genus', 'genus')}}:
  {% for rnge in info.genus_list %}
  <a href="?genus={{rnge}}&sort_order=genus">{{rnge}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  By {{KNOWL('modcurve.rank', 'rank')}}:
  {% for rnge in info.rank_list %}
    <a href="?rank={{rnge}}&sort_order=rank">{{rnge}}</a>&nbsp;
  {% endfor %}
</p>

<p>
  Some <a href="{{url_for('.interesting')}}">interesting modular curves</a> or a <a href={{url_for('.random_curve')}}>random curve</a>
</p>

<p>
  Search for <a href="{{url_for('.low_degree_points')}}?cusp=no">low degree points</a>
</p>

<h2> {{ KNOWL('intro.search', 'Search') }} </h2>

<form class='search'>
  {{ info.search_array.html() | safe }}
</form>

<h2> Find </h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{% endblock %}
