{% extends 'homepage.html' %}
{% block content %}

{# Add generators here #}

<h2> {{ KNOWL('modcurve.invariants', 'Invariants') }} </h2>
<table>
  <tr><td>{{ KNOWL("modcurve.level", "Level") }}:</td><td> ${{ curve.level }}$ </td><td style="width:20px;"></td><td>{{ KNOWL("modcurve.sl2level", "$\SL_2$-level") }}:</td><td>${{ curve.sl2level }}$</td><td style="width:60px;"></td><td>{{ KNOWL("modcurve.newform_level", "Newform level:") }}</td><td>${{ curve.newform_level }}$</td></tr>
  <tr><td>{{ KNOWL("modcurve.index", "Index") }}:</td><td> ${{ curve.index }}$ </td><td style="width:20px;"></td><td>{{ KNOWL("modcurve.psl2index", "$\PSL_2$-index") }}:<td>${{ curve.psl2index }}$</td></tr>
  <tr><td>{{ KNOWL("modcurve.genus", "Genus") }}:</td><td> ${{ curve.genus }} = 1 + \frac{ {{curve.psl2index}} }{12} - \frac{ {{curve.nu2}} }{4} - \frac{ {{curve.nu3}} }{3} - \frac{ {{curve.cusps}} }{2}$</td></tr>
  <tr><td>{{ KNOWL('modcurve.rank', 'Analytic rank') }}:</td><td> ${{ curve.rank }}$ </td></tr>
  <tr><td>{{ KNOWL("modcurve.gonality", "$K$-gonality")}}:</td><td> ${{ curve.gonality if curve.gonality > 0 else "%s \\le \\gamma \\le %s"%(curve.gonality_bounds[0],curve.gonality_bounds[1]) }}$ </td></tr>
  <tr><td>{{ KNOWL("modcurve.cusps", "Rational cusps") }}:</td><td> ${{ curve.rational_cusps }}$ </td></tr>
  <tr><td>{{ KNOWL("modcurve.cm_discriminants", "Rational CM points") }}:</td><td> {{ "yes $\quad(D =$ $%s$)"%(curve.cm_discriminant_list) if curve.cm_discriminants else "none" }} </td></tr>
</table>

{% if curve.CPlabel or curve.SZlabel or curve.RZBlabel %}
<h2> {{ KNOWL('modcurve.other_labels', 'Other labels') }} </h2>

<table>
  {% if curve.CPlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Cummins & Pauli label') }}:</td><td><a href="https://mathstats.uncg.edu/sites/pauli/congruence/csg{{curve.genus}}.html#group{{curve.CPlabel}}">{{curve.CPlabel}}</a></td></tr>
  {% endif %}
  {% if curve.SZlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Sutherland & Zywina label') }}:</td><td>{{curve.SZlabel}}</td></tr>
  {% endif %}
  {% if curve.RZBlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Rouse & Zureick-Brown label') }}:</td><td><a href="http://users.wfu.edu/rouseja/2adic/{{curve.RZBlabel}}.html">{{curve.RZBlabel}}</a></td></tr>
  {% endif %}
  {% if curve.Slabel %}
  <tr><td>{{ KNOWL('ec.galois_rep_modell_image', 'Sutherland label') }}:</td><td>{{curve.Slabel}}</td></tr>
  {% endif %}
</table>
{% endif %}

{% if curve.level != 1 %}
<h2> {{ KNOWL('modcurve.level_structure', 'Level structure') }} </h2>

<table>
  <tr><td>{{ KNOWL('modcurve.level_structure', '$\GL_2(\Z/%s\Z)$-generators'%(curve.level)) }}:</td><td><small>{{ curve.show_generators()}}</small></td></tr>
  <tr><td>{{ KNOWL('modcurve.contains_negative_one', 'Contains $-I$') }}:</td><td> {{ curve.qtwist_description | safe }}</td></tr>
  <tr><td>{{ KNOWL('modcurve.level_structure', 'Cyclic '+(curve.level|string)+'-isogeny field degree') }}:</td><td>${{ curve.cyclic_isogeny_field_degree() }}$</td></tr>
  <tr><td>{{ KNOWL('modcurve.level_structure', 'Cyclic '+(curve.level|string)+'-torsion field degree') }}:</td><td>${{ curve.cyclic_torsion_field_degree() }}$</td></tr>
  <tr><td>{{ KNOWL('modcurve.level_structure', 'Full '+(curve.level|string)+'-torsion field degree') }}:</td><td>${{ curve.full_torsion_field_degree() }}$</td></tr>
</table>
{% endif %}

{% if curve.genus > 0 %}
<h2> {{ KNOWL('ag.jacobian', 'Jacobian') }} </h2>

<table>
  <tr><td>{{ KNOWL('ag.conductor', 'Conductor') }}:</td><td> ${{ curve.factored_conductor }}$ </td></tr>
  <tr>
    <td>
      {{ KNOWL('av.squarefree', 'Squarefree') }}:
    </td>
    <td>
      {% if curve.squarefree %}
        yes
      {% else %}
        no
      {% endif %}
    </td>
  </tr>
  <tr><td>{{ KNOWL('modcurve.decomposition', 'Decomposition') }}:</td><td> {{ curve.formatted_dims }} </td></tr>
  <tr><td>{{ KNOWL('modcurve.decomposition', 'Newforms') }}:</td><td> {{ curve.formatted_newforms | safe }} </td></tr>
</table>
{% endif %}

{% if curve.plane_model %}
<h2> {{ KNOWL('ag.plane_model', 'Plane model') }} </h2>
{% if curve.plane_model == "P1" %}
<p>$\mathbb{P}^1$</p>
{% else %}
<p>${{curve.latexed_plane_model}} = 0$</p>
{% endif %}
{% endif %}

<h2> {{ KNOWL('modcurve.rational_points', 'Rational points') }} </h2>

{% if curve.rational_cusps or curve.cm_discriminants or curve.known_degree1_noncm_points or curve.plane_model == "P1" %}
{% if curve.genus == 0 or (curve.genus == 1 and curve.rank > 0) %}
{% if self.level == 1 %}
<p> This modular curve has infinitely many rational points, corresponding to <a href="{{url_for('ec.rational_elliptic_curves')}}&all=1">elliptic curves over $\Q$</a>. </p>
{% elif curve.known_degree1_points > 0 %}
<p> This modular curve has infinitely many rational points, including <a href="{{url_for('.low_degree_points', curve=curve.label, degree=1)}}">{{pluralize(curve.known_degree1_points, "stored non-cuspidal point")}}</a>. </p>
{% else %}
<p> This modular curve has infinitely many rational points but none with conductor small enough to be contained within the <a href="{{url_for('ec.rational_elliptic_curves')}}">database of elliptic curves over $\Q$</a>. </p>
{% endif %}
{% elif curve.genus > 1 or (curve.genus == 1 and curve.rank == 0) %}
{% if curve.rational_cusps and curve.cm_discriminants and curve.known_degree1_noncm_points > 0 %}
<p> This modular curve has rational points, including {{pluralize(curve.rational_cusps, "rational cusp")}}, {{pluralize((curve.cm_discriminants|length), "rational CM point")}} and <a href="{{url_for('.low_degree_points', curve=curve.label, degree=1, cm='noCM')}}">{{pluralize(curve.known_degree1_noncm_points, "known non-cuspidal non-CM point")}}</a>. </p>
{% elif curve.rational_cusps and curve.cm_discriminants %}
<p> This modular curve has {{pluralize(curve.rational_cusps, "rational cusp")}} and {{pluralize(curve.cm_discriminants|length, "rational CM point")}}, but no other known rational points. </p>
{% elif curve.rational_cusps and curve.known_degree1_noncm_points > 0 %}
<p> This modular curve has rational points, including {{pluralize(curve.rational_cusps, "rational_cusp")}} and <a href="{{url_for('.low_degree_points', curve=curve.label, degree=1, cm='noCM')}}">{{pluralize(curve.known_degree1_noncm_points, "known non-cuspidal non-CM point")}}</a>.
{% elif curve.cm_discriminants and curve.known_degree1_noncm_points > 0 %}
<p> This modular curve has rational points, including {{pluralize(curve.cm_discriminants|length, "rational CM point")}} and <a href="{{url_for('.low_degree_points', curve=curve.label, degree=1, cm='noCM')}}">{{pluralize(curve.known_degree1_noncm_points, "known non-cuspidal non-CM point")}}</a>, but no rational cusps.</p>
{% elif curve.rational_cusps %}
<p> This modular curve has {{pluralize(curve.rational_cusps, "rational cusp")}} but no known non-cuspidal rational points. </p>
{% elif curve.cm_discriminants %}
<p> This modular curve has {{pluralize(curve.cm_discriminants|length, "rational CM point")}} but no rational cusps or other known rational points. </p>
{% elif curve.known_degree1_points > 0 %}
<p> This modular curve has <a href="{{url_for('.low_degree_points', curve=curve.label, degree=1)}}">{{pluralize(curve.known_degree1_points, "known rational point")}}</a> but no rational cusps or CM points. </p>
{% endif %}
{% endif %}
{% else %}
{% if curve.obstructions == [0] %}
<p> This modular curve has no real points, and therefore no rational points. </p>
{% elif 0 in curve.obstructions %}
<p> This modular curve has no real points and no $\Q_p$ points for $p={{curve.obstruction_primes}}$, and therefore no rational points. </p>
{% elif curve.obstructions %}
<p> This modular curve has no $\Q_p$ points for $p={{curve.obstruction_primes}}$, and therefore no rational points. </p>
{% elif curve.plane_model == "P1" or (curve.genus == 0 and curve.num_bad_primes == 1) %}
<p> This modular curve has infinitely many rational points. </p>
{% elif curve.genus > 1 or (curve.genus == 1 and curve.rank == 0) %}
<p> This modular curve has finitely many rational points, none of which are cusps. </p>
{% endif %}
{% endif %}

{% if curve.db_rational_points and (curve.genus > 1 or curve.genus == 1 and curve.rank == 0) %}
<p> The following are the known non-cuspidal rational points on this modular curve (one per $j$-invariant).</p>

<table class="ntdata">
  <tr><th>{{ KNOWL('ec.q.lmfdb_label', 'Elliptic curve') }}</th><th>{{ KNOWL('ec.q.minimal_weierstrass_equation', 'Equation') }}</th><th>{{ KNOWL('ec.complex_multiplication', 'CM') }}</th><th style="text-align:center;" colspan="2">{{ KNOWL('ec.q.j_invariant', '$j$-invariant') }}</th></tr>
  {% for label, url, eqn, cm, jinv, jfac in curve.db_rational_points %}
  <tr><td><a href="{{url}}">{{label}}</a></td><td>{{eqn}}</td><td>{{ cm | safe}}</td><td style="text-align:right;">{{jinv | safe}}</td><td>{{jfac | safe}}</tr>
  {% endfor %}
</table>
{% endif %}

{% if curve.genus == 0 %}
<h2> {{ KNOWL('modcurve.nonrational_point', 'Non-rational points') }}</h2>

<p> Since this modular curve has genus 0, there are no {{ KNOWL('ag.isolated_point', 'isolated points') }} of any degree{% if curve.known_low_degree_points > 0 %}, but there are {{curve.known_low_degree_points}} <a href="{{url_for('.low_degree_points', curve=curve.label, degree='2-')}}">stored points</a>{% else %}, and there are no stored points{% endif %} of degree at least 2. </p>

{% elif curve.db_nf_points %}
<h2> {{ KNOWL('modcurve.nonrational_point', 'Non-rational points') }}</h2>

<p> The following are the known low degree points on this modular curve (one per $j$-invariant).</p>
<table class="ntdata">
  <thead>
    <tr><th>{{ KNOWL('modcurve.point_degree', 'degree') }}</th><th>{{ KNOWL('modcurve.point_residue_field', 'Residue field') }}</th><th>{{ KNOWL('ec.j_invariant', '$j$-invariant') }}</th><th>{{ KNOWL('ec.j_invariant', '$\\Q(j)$') }}</th><th>{{ KNOWL('ec.complex_multiplication', 'CM') }}</th><th>{{ KNOWL('ag.isolated_point', 'Isolated') }}</th>{% if not curve.contains_negative_one %}<th>{{ KNOWL('ec.curve_label', 'Elliptic Curve') }}</th>{% endif %}</tr>
  </thead>
  <tbody>
    {% for ec_label, ec_url, cm, isolated, jinv, res_field, res_field_url, j_field, j_field_url, degree in curve.db_nf_points %}
      <tr><td>${{degree}}$</td><td><a href="{{res_field_url}}">{{res_field}}</a></td><td>{{jinv | safe}}</td><td><a href="{{j_field_url}}">{{j_field}}</a></td><td>{{ cm | safe}}</td><td>{{isolated | safe}}</td><td><a href="{{url}}">{{label}}</a></td>{% if not curve.contains_negative_one %}<td><a href="{{ec_url}}">{{ec_label}}</a></td>{% endif %}</tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if curve.jmap_factored %}
<h2> {{ KNOWL('modcurve.j_invariant_map', '$j$-invariant map') }}</h2>
<table valign="center">
  <tr>
    <td>$j$</td>
    <td style="padding: 15px 0px;">$=$</td>
    <td>$\displaystyle {{ curve['jmap_factored'][0] }}$</td>
  </tr>
  <tr>
    <td></td>
    <td style="padding: 15px 0px;">$=$</td>
    <td>$\displaystyle {{ curve['jmap_factored'][1] }}$</td>
  </tr>
</table>
{% endif %}

{% set covered_by = curve.modular_covered_by() %}
{% if curve.parents or curve.modular_covered_by %}
<h2> {{ KNOWL('modcurve.modular_cover', 'Modular covers') }} </h2>

{% if curve.parents %}
<p> This modular curve {{ KNOWL('modcurve.modular_cover','minimally covers') }} the modular curves listed below.
<table class="ntdata">
  <thead>
    <tr><th>{{ KNOWL('modcurve.modular_cover','Covered curve') }}</th><th>{{ KNOWL('modcurve.level','Level') }}</th><th>{{ KNOWL('modcurve.modular_cover','Degree') }}</th><th>{{ KNOWL('modcurve.genus','Genus') }}</th><th>{{ KNOWL('modcurve.rank','Rank') }}</th><th>{{ KNOWL('modcurve.modular_cover','Kernel decomposition') }}</th></tr>
  </thead>
  <tbody>
  {% for label, disp, level, degree, genus, rank, kernel in curve.modular_covers() %}
  <tr>
    <td><a href="{{url_for('.by_label', label=label)}}">{{disp}}</a></td>
    <td align="center">${{ level }}$</td>
    <td align="center">${{ degree }}$</td>
    <td align="center">${{ genus }}$</td>
    <td align="center">${{ rank }}$</td>
    {% if curve.genus > 0 %}
    <td><span>{{ kernel if kernel else "dimension zero" | safe }}</span></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if covered_by %}
<p> This modular curve is {{ KNOWL('modcurve.modular_cover','minimally covered by') }} the modular curves in the database listed below.
<table class="ntdata">
  <thead>
    <tr><th>{{ KNOWL('modcurve.modular_cover','Covering curve') }}</th><th>{{ KNOWL('modcurve.level','Level') }}</th><th>{{ KNOWL('modcurve.modular_cover','Degree') }}</th><th>{{ KNOWL('modcurve.genus','Genus') }}</th><th>{{ KNOWL('modcurve.rank','Rank') }}</th><th>{{ KNOWL('modcurve.modular_cover','Kernel decomposition') }}</th></tr>
  </thead>
  <tbody>
  {% for label, disp, level, degree, genus, rank, kernel in covered_by %}
  <tr>
    <td><a href="{{url_for('.by_label', label=label)}}">{{disp}}</a></td>
    <td align="center">${{ level }}$</td>
    <td align="center">${{ degree }}$</td>
    <td align="center">${{ genus }}$</td>
    <td align="center">${{ rank }}$</td>
    <td><span>{{ kernel if kernel else "dimension zero" | safe }}</span></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endif %}

{% endblock %}
