{% extends 'homepage.html' %}
{% block content %}

{# Add generators here #}

<h2> {{ KNOWL('modcurve.invariants', 'Invariants') }} </h2>
<table>
  <tr><td>{{KNOWL("modcurve.level", "Level")}}:</td><td> ${{ curve.level }}$ </td></tr>
  <tr><td>{{KNOWL("modcurve.index", "Index")}}:</td><td> ${{ curve.index }}$ </td></tr>
  <tr><td>{{KNOWL("modcurve.genus", "Genus")}}:</td><td> ${{ curve.genus }}$ </td></tr>
  <tr><td>{{KNOWL("modcurve.gonality", "Gonality")}}:</td><td> ${{ curve.gonality if curve.gonality > 0 else "%s \\le %s"%(curve.gonality_bounds[0],curve.gonality_bounds[1]) }}$ </td></tr>
  <tr><td>{{KNOWL("modcurve.cusps", "Cusps")}}:</td><td> {{ curve.cusp_display | safe }} </td></tr>
  <tr><td>{{KNOWL("modcurve.cm_discriminants", "CM points")}}:</td><td> {{ "yes (discriminant%s $%s$)"%("s" if (curve.cm_discriminants|length) > 1 else "",curve.cm_discriminant_list) if curve.cm_discriminants else "none" }} </td></tr>
</table>

{% if curve.CPlabel or curve.SZlabel or curve.RZBlabel %}
<h2> {{ KNOWL('modcurve.other_labels', 'Other labels') }} </h2>

<table>
  {% if curve.CPlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Cummins & Pauli label') }}:</td><td><a href="https://mathstats.uncg.edu/sites/pauli/congruence/csg{{curve.genus}}.html#group{{curve.CPlabel}}">{{curve.CPlabel}}</a></td></tr>
  {% endif %}
  {% if curve.SZlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Sutherland & Zywina label') }}:</td><td>{{curve.SZlabel}}</td></tr>
  {% endif %}
  {% if curve.RZBlabel %}
  <tr><td>{{ KNOWL('modcurve.other_labels', 'Rousse & Zureick-Brown label') }}:</td><td><a href="http://users.wfu.edu/rouseja/2adic/{{curve.RZBlabel}}.html">{{curve.RZBlabel}}</a></td></tr>
  {% endif %}
  {% if curve.Slabel %}
  <tr><td>{{ KNOWL('ec.galois_rep_modell_image', 'Sutherland label') }}:</td><td>{{curve.Slabel}}</td></tr>
  {% endif %}
</table>
{% endif %}

{% if curve.level != 1 %}
<h2> {{ KNOWL('modcurve.level_structure', 'Level structure') }} </h2>

<table>
  <tr><td>{{ KNOWL('modcurve.level_structure', '$\GL_2(\Z/%s\Z)$-generators'%(curve.level)) }}:</td><td><small>{{ curve.show_generators()}}</small></td></tr>
  <tr><td>{{ KNOWL('modcurve.cyclic_isogeny_degree', 'Cyclic '+(curve.level|string)+'-isogeny field degree') }}:</td><td>${{ curve.cyclic_isogeny_field_degree() }}$</td></tr>
  <tr><td>{{ KNOWL('modcurve.cyclic_torsion_degree', 'Cyclic '+(curve.level|string)+'-torsion field degree') }}:</td><td>${{ curve.cyclic_torsion_field_degree() }}$</td></tr>
  <tr><td>{{ KNOWL('modcurve.cyclic_isogeny_degree', 'Full '+(curve.level|string)+'-torsion field degree') }}:</td><td>${{ curve.full_torsion_field_degree() }}$</td></tr>
</table>
{% endif %}

{% if curve.genus > 0 %}
<h2> {{ KNOWL('modcurve.jacobian', 'Jacobian') }} </h2>

<table>
  <tr><td>{{ KNOWL('ag.conductor', 'Conductor') }}:</td><td> ${{ curve.factored_conductor }}$ </td></tr>
  {% if curve.rank %}
  <tr><td>{{ KNOWL('modcurve.rank', 'Analytic rank') }}:</td><td> ${{ curve.rank }}$ </td></tr>
  {% endif %}
  <tr><td>{{ KNOWL('modcurve.jacobian_decomposition', 'Decomposition') }}:</td><td> {{ curve.formatted_dims }} </td></tr>
  <tr><td>{{ KNOWL('modcurve.jacobian_decomposition', 'Newforms') }}:</td><td> {{ curve.formatted_newforms | safe }} </td></tr>
</table>
{% endif %}

{% if curve.plane_model %}
<h2> {{ KNOWL('modcurve.models', 'Plane model') }} </h2>
{% if curve.plane_model == "P1" %}
<p>$\mathbb{P}^1$</p>
{% else %}
<p>${{curve.latexed_plane_model}} = 0$</p>
{% endif %}
{% endif %}

<h2> {{ KNOWL('modcurve.rational_points', 'Rational points') }} </h2>

{% if curve.rational_cusps or curve.cm_discriminants or curve.plane_model == "P1" %}
{% if curve.genus == 0 or (curve.genus == 1 and curve.rank > 0) %}
<p> This modular curve has infinitely many rational points. </p>
{% elif curve.genus > 1 or (curve.genus == 1 and curve.rank == 0) %}
{% if curve.rational_cusps and curve.cm_discriminants %}
<p> This modular curve has rational points, some of which are cusps and some of which are CM points. </p>
{% elif curve.rational_cusps %}
<p> This modular curve has rational points, some of which are cusps and none of which are CM points. </p>
{% elif curve.cm_discriminants %}
<p> This modular curve has rational points, none of which are cusps and some of which are CM points. </p>
{% endif %}
{% endif %}
{% else %}
{% if curve.obstructions == [0] %}
<p> This modular curve has no real points, and therefore no rational points. </p>
{% elif 0 in curve.obstructions %}
<p> This modular curve has no real points and no $\Q_p$ points for $p={{curve.obstruction_primes}}$, and therefore no rational points. </p>
{% elif curve.obstructions %}
<p> This modular curve has no $\Q_p$ points for $p={{curve.obstruction_primes}}$, and therefore no rational points. </p>
{% elif curve.plane_model == "P1" or (curve.genus == 0 and curve.num_bad_primes == 1) %}
<p> This modular curve has infinitely many rational points. </p>
{% elif curve.genus > 1 or (curve.genus == 1 and curve.rank == 0) %}
<p> This modular curve has finitely many rational points, none of which are cusps. </p>
{% endif %}
{% endif %}

{% set covered_by = curve.modular_covered_by() %}
{% if curve.parents or curve.modular_covered_by %}
<h2> {{ KNOWL('modcurve.modular_covers', 'Modular covers') }} </h2>

{% if curve.parents %}
<p> This modular curve {{ KNOWL('modcurve.minmal_cover','minimally covers') }} the modular curves listed below.
<table class="ntdata">
  <thead>
    <tr><th>Covered curve</th><th>Level</th><th>Degree</th><th>Genus</th><th>Rank</th>{% if curve.genus > 0 %}<th>Kernel decomposition</th>{% endif %}</tr>
  </thead>
  <tbody>
  {% for label, disp, level, degree, genus, rank, kernel in curve.modular_covers() %}
  <tr>
    <td><a href="{{url_for('.by_label', label=label)}}">{{disp}}</a></td>
    <td align="center">${{ level }}$</td>
    <td align="center">${{ degree }}$</td>
    <td align="center">${{ genus }}$</td>
    <td align="center">${{ rank }}$</td>
    {% if curve.genus > 0 %}
    <td><span>{{ kernel | safe }}</span></td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% if covered_by %}
<p> This modular curve is {{ KNOWL('modcurve.minmal_cover','minimally covered by') }} the modular curves in the database listed below.
<table class="ntdata">
  <thead>
    <tr><th>Covering curve</th><th>Level</th><th>Degree</th><th>Genus</th><th>Rank</th><th>Kernel decomposition</th></tr>
  </thead>
  <tbody>
  {% for label, disp, level, degree, genus, rank, kernel in covered_by %}
  <tr>
    <td><a href="{{url_for('.by_label', label=label)}}">{{disp}}</a></td>
    <td align="center">${{ level }}$</td>
    <td align="center">${{ degree }}$</td>
    <td align="center">${{ genus }}$</td>
    <td align="center">${{ rank }}$</td>
    <td><span>{{ kernel | safe }}</span></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endif %}

{% endblock %}
