{% extends "homepage.html" %}

{% block content %}

<div>
{{ abstract_group_summary() | safe}}
</div>

<h2>Browse</h2>

<p>
  By {{KNOWL('group.order', 'order')}}:
  {% for rnge in info.order_list %}
  <a href="?order={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
<p>
  By {{KNOWL('group.nilpotent', 'nilpotency class')}}: 
  {% for rnge in info.nilp_list %}
  <a href="?nilpotency_class={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
 
<p>A <a href="{{url_for('.random_abstract_group')}}">random abstract group</a> from the database.</p>

<p>Search for <a href="{{url_for('.index', search_type='Subgroups')}}">subgroups</a>.</p>

<h2 id='search_h2'> Search <button id="advancedtoggle" href="#">Advanced search options</button></h2>
<!--<h2>Search</h2>-->
<form id="re-search" name="search" method = "get" action={{url_for('.index')}} onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>


<h2> Find </h2>


<form name="search" method = "get" action="{{url_for('.index')}}">
  {{ info.search_array.jump_box(info) | safe }}
</form>


{% endblock %}
