{% extends "homepage.html" %}

{% block content %}

<div>
  {{ info.stats.char_summary | safe }}
</div>




<h2>Browse</h2>

<p>
  By {{KNOWL('group.representation.complex_char_deg', 'degree')}}:
  {% for rnge in info.degree_list %}
    <a href="?dim={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  By {{KNOWL('group.representation.type', 'type')}}:
  <a href="?indicator=R">real (R)</a>&nbsp;
  <a href="?indicator=C">complex (C)</a>&nbsp;
  <a href="?indicator=S">symplectic (S)</a>&nbsp;
</p>
<p>
  <a href="?faithful=yes">Faithful</a> characters&nbsp;
</p>

<h2 id='search_h2'> Search </h2>

<form class="re-search" name="search" method="get" action={{url_for('.char_index')}}>
  {{ info.search_array.html() | safe }}
</form>



<h2> Find </h2>



<form name="search" method = "get" action="{{url_for('.char_index')}}">
  {{ info.search_array.jump_box(info) | safe }}
</form>


{% endblock %}
