{% extends "homepage.html" %}

{% block content %}

<script type="text/javascript">
  function show_more_families() {
    $(".fam_more").show();
    $(".fam_less").hide();
  }
  function show_less_families() {
    $(".fam_less").show();
    $(".fam_more").hide();
  }
</script>

<div>
  {{ info.stats.short_summary | safe }}
</div>

<h2>Browse</h2>

<p>
  By {{KNOWL('group.order', 'order')}}:
  {% for rnge in info.order_list %}
    <a href="?order={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
</p>
<p>
  By {{KNOWL('group.nilpotent', 'nilpotency class')}}:
  {% for rnge in info.nilp_list %}
    <a href="?nilpotency_class={{rnge}}">{{rnge}}</a>&nbsp;
  {% endfor %}
  (and <a href="?nilpotent=no">not nilpotent</a>)
</p>
<p>By property:
  {% for searchstr, display in info.prop_browse_list %}
    <a href="?{{searchstr}}">{{display}}</a>&nbsp;
  {% endfor %}
</p>
<p>By {{KNOWL('group.families', 'family')}}:
  {% for family, tex_name, morecls, hide in info.families%}
    <span class="{{morecls}}" {% if hide %}style="display: none;" {% endif %}><a href="?family={{family}}">{{tex_name}}</a>&nbsp;</span>
  {% endfor %}
  <a class="fam_less" onclick="show_more_families(); return false;" href="#">more...</a>
  <a class="fam_more" style="display: none;" onclick="show_less_families(); return false;" href="#">less...</a>
</p>
<p>Some <a href="{{url_for('.interesting')}}">interesting groups</a> or a <a href="{{url_for('.random_abstract_group')}}">random group</a></p>

<p>Search for <a href="{{url_for('.index', search_type='Subgroups')}}">subgroups</a> or  <a href="{{url_for('.index', search_type='ComplexCharacters')}}">complex characters</a></p>

<h2 id='search_h2'> Search <button id="advancedtoggle" href="#">Advanced search options</button></h2>

<form class="re-search" name="search" method = "get" action={{url_for('.index')}}>
  {{ info.search_array.html() | safe }}
</form>


<h2> Find </h2>


<form name="search" method = "get" action="{{url_for('.index')}}">
  {{ info.search_array.jump_box(info) | safe }}
</form>


{% endblock %}
