{% extends "homepage.html" %}


{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='groups.js') }}"></script>
<script type="text/javascript">
  $(document).ready(
    function() {
    $(".subgp").hover(highlight_group, unhighlight_group);
    $(".subgp").on('touchstart', highlight_group);
    $(".show_semidirect").on("click", function() {
      $(".show_semidirect_container").hide();
      $(".hidden_semidirect").show();
      return false;
    });
    $(".show_nonsplit").on("click", function() {
      $(".show_nonsplit_container").hide();
      $(".hidden_nonsplit").show();
      return false;
    });
  });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='graphs/graph.js') }}"></script>

<script>
  function show_info(style) {
    $('#subgroup_diagram').hide();
    $('#subgroup_profile').hide();
    $('#subgroup_'+style).show();
    $('button.diagram').show();
    $('button.profile').show();
    if (style == 'diagram') {
      $('button.diagram').css('background', '{{color.lf_an_button_bkg}}');
      $('button.diagram').css('border', '2px solid {{color.lf_an_button_brd}}');
      $('button.profile').css('background', '{{color.lf_ar_button_bkg}}');
      $('button.profile').css('border', '1px solid {{color.lf_ar_button_brd}}');
    }
    if (style == 'profile') {
      $('button.profile').css('background', '{{color.lf_an_button_bkg}}');
      $('button.profile').css('border', '2px solid {{color.lf_an_button_brd}}');
      $('button.diagram').css('background', '{{color.lf_ar_button_bkg}}');
      $('button.diagram').css('border', '1px solid {{color.lf_ar_button_brd}}');
    }
  }

</script>



<h2> Group Information</h2>
<p>
  <table>
    <tr><td>${{gp.tex_name}}$  </td><td>  </td></tr>
    <tr><td>{{KNOWL('group.order',title='Order:')}}</td><td> {{gp.order}} </td></tr>
    <tr><td>{{KNOWL('group.exponent',title='Exponent:')}}</td><td> {{gp.exponent}} </td></tr>
    <tr><td>Automorphism Group:</td><td>${{gp.show_aut_group()}}$</td></tr>
    <tr><td>Outer Automorphisms:</td><td>${{gp.show_outer_group()}}$</td></tr>
    <tr><td>Minimal degree of permutation representation:</td><td>{{gp.transitive_degree}}</td></tr>
    <tr><td>Schur multiplier:</td><td>{{gp.schur_multiplier_text()}}</td><tr>
  </table>
</p>

<p>
  {{info.boolean_characteristics_string | safe}}

</p>

<h2>Constructions</h2>

<table class=nowrap>
  <tr>
    <td>{% if gp.solvable %}{{KNOWL('group.presentation', 'Presentation:')}}{% else %}{{KNOWL('group.permutation_gens', 'Generators:')}}{% endif %}</td>
    <td colspan="{{gp.most_product_expressions()}}">{% if gp.abelian and not gp.cyclic %}Abelian group {% endif %}${{gp.presentation()}}$</td>
  </tr>
  {% if gp.direct_product %}
    <tr>
      <td>{{KNOWL('group.direct_product', 'Direct product:')}}</td>
      <td>${{ gp.display_direct_product }}$</td>
    </tr>
  {% endif %}
  {% if gp.semidirect_products %}
    <tr>
      <td >{{KNOWL('group.semidirect_product', 'Semidirect product:')}}</td>
      {% for sub, count in gp.semidirect_products %}
        {% if loop.index == 5 %}
          <td width=auto, class="show_semidirect_container"><a href="#" class="show_semidirect">Show all {{ gp.semidirect_products | length }}</a></td>
        {% endif %}
        <td{% if loop.index >= 5 %} class="hidden_semidirect nodisplay"{% endif %}>${{sub.subgroup_tex_parened}}~\rtimes~{{sub.quotient_tex_parened}}$ {% if count > 1 %} ({{count}}){% endif %}</td>
      {% endfor %}
    </tr>
  {% endif %}
  {% if gp.nonsplit_products %}
    <tr>
      <td>{{KNOWL('group.nonsplit_product', 'Non-split product:')}}</td>
      {% for sub, count in gp.nonsplit_products %}
        {% if loop.index == 5 %}
          <td class="show_nonsplit_container"><a href="#" class="show_nonsplit">Show all {{ gp.nonsplit_products | length }}</a></td>
        {% endif %}
        <td{% if loop.index >= 5 %} class="hidden_nonsplit nodisplay"{% endif %}>${{sub.subgroup_tex_parened}}~.~{{sub.quotient_tex_parened}}$ {% if count > 1 %}({{count}}){% endif %}</td>
    {% endfor %}
  </tr>
  {% endif %}
</table>

<h2> Subgroups </h2>

<p>There are {% if gp.number_normal_subgroups < gp.number_subgroups %}{{gp.number_subgroups}} subgroups in <a href="{{url_for('.index', search_type='Subgroups', ambient=gp.label)}}">{{gp.number_subgroup_classes}} conjugacy classes</a>, <a href="{{url_for('.index', search_type='Subgroups', ambient=gp.label, normal='yes')}}">{{ gp.number_normal_subgroups }} normal</a>{% else %}<a href="{{url_for('.index', search_type='Subgroups', ambient=gp.label)}}">{{gp.number_subgroups}} subgroups</a>, all normal{% endif %} ({% if gp.number_characteristic_subgroups < gp.number_normal_subgroups %}<a href="{{url_for('.index', search_type='Subgroups', ambient=gp.label, characteristic='yes')}}">{{ gp.number_characteristic_subgroups }} characteristic</a>{% else %}all characteristic{% endif %}).
</p>

<table>
  <tr>
    <td>{{KNOWL('group.center',title='Center')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.cent()}}">$Z \simeq {{gp.cent_label()}}$</span></td>
    <td>$G/Z \simeq {{gp.central_quot()}}$</td>
  </tr>
  <tr>
    <td>{{KNOWL('group.commutator_subgroup',title='Commutator')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.comm()}}">$G' \simeq {{gp.comm_label()}}$</span>
 </td>
    <td> $G/G' \simeq {{gp.abelian_quot()}}$ </td>
  </tr>
    <tr>
    <td>{{KNOWL('group.frattini_subgroup',title='Frattini')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.fratt()}}">$\Phi \simeq {{gp.fratt_label()}}$</span></td>
    <td>$G/\Phi \simeq {{gp.frattini_quot()}}$ </td>
  </tr>
 <tr>
    <td>{{KNOWL('group.fitting_subgroup',title='Fitting')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.fitting}}">$\operatorname{Fit} \simeq {{gp.subgroups[gp.fitting].subgroup_tex}}$</td>
    <td>$G/\operatorname{Fit} \simeq {{gp.subgroups[gp.fitting].quotient_tex}}$</td>
  </tr>
  <tr>
    <td>{{KNOWL('group.radical',title='Radical')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.radical}}">$R \simeq {{gp.subgroups[gp.radical].subgroup_tex}}$</td>
    <td>$G/R \simeq {{gp.subgroups[gp.radical].quotient_tex}}$</td>
  </tr>
  <tr>
    <td>{{KNOWL('group.socle',title='Socle')}}:</td>
    <td><span class="subgp chargp" data-sgid="{{gp.socle}}">$\operatorname{soc} \simeq {{gp.subgroups[gp.socle].subgroup_tex}}$</td>
    <td>$G/\operatorname{soc} \simeq {{gp.subgroups[gp.socle].quotient_tex}}$</td>
  </tr>
  {% for p, subgp in gp.sylow_subgroups() %}
  <tr>
    <td>{{p}}-{{KNOWL('group.sylow_subgroup', 'Sylow subgroup')}}</td>
    <td><span class="{{subgp.spanclass()}}" data-sgid="{{subgp.label}}">$P_{{p}} \simeq {{subgp.subgroup_tex}}$</span></td>
  </tr>
  {% endfor %}
</table>


{#		
 <table>		
   {% for layer in gp.subgroup_layers[0] %}		
   <tr>		
     {% for subgp in layer %}		
     <td><span class="{{subgp.spanclass()}}" data-sgid="{{subgp.counter}}">${{subgp.subgroup_tex}}$</span></td>		
     {% endfor %}		
   </tr>		
   {% endfor %}		
 </table>		
#}


<h3>{{KNOWL('group.subgroup.diagram.lmfdb','Subgroup diagram')}} and profile</h3>
<p>
<div>
<button class='diagram inactive' onclick="show_info('diagram'); return false">diagram</button>
<button class='profile inactive' onclick="show_info('profile'); return false">profile</button>
</div>
<p>
<div id="subgroup_diagram" style="display: block">
{% if gp.diagram_ok %}
<script>
  show_info("diagram");
</script>
{% if info.wide %}
<canvas id="subdiagram" width="1000" height="300" style="border: 0px solid black">
  Sorry, your browser does not support the subgroup diagram.
</canvas>

<script type="text/javascript">
{{ info.dojs|safe }}
</script>
{% if user_is_authenticated and BETA %}
<button onclick="getpositions()">Get positions</button>
<br>
<p>
<div id="positions">
</div>
{% endif %}
<a href="{{url_for('.sub_diagram', label=gp.label)}}">See a full page version of the diagram</a>
<h4>Subgroup information</h4>
<div id="selectedsub">
Click on a subgroup in the diagram to see information about it.
</div>
{% else %}
<table>
<tr><td>
<canvas id="subdiagram" width="500" height="300" style="border: 0px solid black">
  Sorry, your browser does not support the subgroup diagram.
</canvas>
<td valign="top">
<script type="text/javascript">
{{ info.dojs|safe }}
</script>
<h4>Subgroup information</h4>
<div id="selectedsub">
Click on a subgroup in the diagram to see information about it.
</div>
</table>
{% if user_is_authenticated and BETA %}
<button onclick="getpositions()">Get positions</button>
<br>
<p>
<div id="positions">
</div>
<a href="{{url_for('.sub_diagram', label=gp.label)}}">See a full page version of the diagram</a>
{% endif %}
{% endif %}
{% else %}
There are too many classes of subgroups to display.
<a href="{{url_for('.sub_diagram', label=gp.label)}}">See a full page version of the diagram</a>
{% endif %}
</div>
<div id="subgroup_profile" style="display: none">
{% for ordline in info.subgroup_profile %}
Order {{ordline[0]}}: {{ordline[1] | safe}} <br />
{% endfor %}
</div>
{% if not gp.diagram_ok %}
<script>
  show_info("profile");
</script>
{% endif %}

<h3>Series</h3>
<table>
  {% for kwl, name, subs, spandata, symb in gp.series() %}
  <tr>
    <td>{{KNOWL(kwl, name)}}</td>
    {% for sub in subs %}
    <td>
      {% if not loop.first %}
        ${{symb}}$</td><td>
      {% endif %}
      <span class="{{sub.spanclass()}} series" data-sgseries="{{spandata}}" data-sgid="{{sub.label}}">${{sub.subgroup_tex}}$</span></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if gp.max_sub_cnt or gp.max_quo_cnt %}
<h2> Supergroups </h2>

{% if gp.max_sub_cnt %}
<p>This group is a {{KNOWL('group.maximal_subgroup', "maximal subgroup")}} of <a href="{{url_for('.index', search_type='Subgroups', maximal='yes', subgroup=gp.label)}}">{{gp.max_sub_cnt}} larger groups</a> in the database.</p>
{% endif %}
{% if gp.max_sub_cnt %}
<p>This group is a {{KNOWL('group.maximal_quotient', "maximal quotient")}} of <a href="{{url_for('.index', search_type='Subgroups', minimal_normal='yes', quotient=gp.label)}}">{{gp.max_quo_cnt}} larger groups</a> in the database.</p>
{% endif %}

{#
{% if gp.maximal_subgroup_of %}

<table>
  <tr>
    <td colspan=3>{{KNOWL('group.maximal_subgroup', "Maximal subgroup")}} of {{info.max_subs | length }} groups in the database</td>
  </tr>
  <tr>
    <th>Subgroup of</th>
    <th>Order</th>
    <th>Quotient</th>
  </tr>
  {% for suplab, suptex, supord, quos in info.max_subs %}
    <tr>
      <td><a href="{{ url_for('.by_label', label=suplab) }}">${{suptex}}$</a></td>
      <td>${{supord}}$</td>
      <td>{{quos | safe }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
{% if gp.maximal_quotient_of %}
<table>
  <tr>
    <td colspan=3>{{KNOWL('group.maximal_quotient', "Maximal quotient")}} of {{info.max_quot | length }} groups in the database</td>
  </tr>
  <tr>
    <th>Quotient of</th>
    <th>Order</th>
    <th>By</th>
  </tr>
  {% for suplab, suptex, supord, subs in info.max_quot %}
    <tr>
      <td><a href="{{ url_for('.by_label', label=suplab) }}">${{suptex}}$</a></td>
      <td>${{supord}}$</td>
      <td>{{subs | safe}}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
#}
{% endif %}

<h2> Character Theory </h2>
<p>

<h3>{{KNOWL('group.complex_character_table','Complex character table')}}</h3>

{% if gp.number_conjugacy_classes <= 16 %}

  {% include 'character_table.html' %}

{% else %}

  <p>
    See the <a href="{{url_for('.char_table', label=gp.label)}}">${{gp.number_conjugacy_classes}} \times {{gp.number_conjugacy_classes}}$ character table</a>.
  </p>

{% endif %}

<h3>{{KNOWL('group.rational_character_table','Rational character table')}}</h3>

{% if gp.number_divisions <= 16 %}

  {% include 'rational_character_table.html' %}

{% else %}

  <p>
    See the <a href="{{url_for('.Qchar_table', label=gp.label)}}">${{gp.number_divisions}} \times {{gp.number_divisions}}$ rational character table</a>.
  </p>

{% endif %}

{% endblock %}
