{% extends "homepage.html" %}

{% block content %}


<script type="text/javascript" src="{{ url_for('static', filename='groups.js') }}"></script>
<script type="text/javascript">
  $(document).ready(
    function() {
    $(".subgp").hover(highlight_group, unhighlight_group);
    $(".subgp").on('touchstart', highlight_group);
  });
</script>

<script type="text/javascript" src="{{ url_for('static', filename='graphs/graph.js') }}"></script>



{% if gp.live() %}
<p>
  This group is not stored in the database. However, basic information about the group, computed on the fly, is listed below.
  </p>
{% endif %}


<h2>Group information</h2>
<p>
  <table>
    <tr><td>{{KNOWL('group.name', title='Description:')}}</td><td>${{gp.tex_name}}$  </td></tr>
    <tr><td>{{KNOWL('group.order',title='Order:')}}</td><td> {{info.pos_int_and_factor(gp.order)|safe}} </td></tr>
    <tr><td>{{KNOWL('group.exponent',title='Exponent:')}}</td><td> {{info.pos_int_and_factor(gp.exponent)|safe}} </td></tr>
    <tr><td>{{KNOWL('group.automorphism', 'Automorphism group')}}:</td><td>{{gp.show_aut_group()|safe}} {% if not gp.live() and gp.aut_gens_flag() %} (<a href="{{url_for('.auto_gens', label=gp.label)}}">generators</a>){% endif %}</td></tr>
    <tr><td>{{KNOWL('group.outer_aut', 'Outer automorphisms')}}:</td><td>{{gp.show_outer_group()|safe}}</td></tr>
    {% if not gp.live() %}
      <tr><td>{{KNOWL('group.chief_series', 'Composition factors')}}:</td><td>{{gp.show_composition_factors()|safe}}</td></tr>
    {% endif %}
    {% if gp.nilpotent %}
      <tr><td>{{KNOWL('group.nilpotent', title='Nilpotency class:')}}</td><td>${{gp.nilpotency_class}}$  </td></tr>
    {% endif %}
    <tr><td>{{KNOWL('group.derived_series', title='Derived length:')}}</td><td>${{gp.derived_length}}$  </td></tr>
  </table>
</p>
<p>
  {{info.boolean_characteristics_string | safe}}
</p>

<h2>Group statistics</h2>
<p> {% if gp.order_stats != None %} 
  <div class="table-scroll-wrapper">
   <table class="ntdata onesticky" style="margin-left:0;">
    <thead>
      <tr>
        <th>{{KNOWL('group.element_order', 'Order')}}</th>
        {% for c in (gp.order_stats | sort) %}
          <th>{{ c[0] }} </th>
        {% endfor %}
      <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Elements</td>
        {% for c in (gp.order_stats | sort) %}
          <td>{{ c[1] }} </td>
        {% endfor %}
        <td class="border-left">{{ gp.order }}</td>
      </tr>
      <tr>
        <td>{{KNOWL('group.conjugacy_class', 'Conjugacy classes ')}}&nbsp;</td>
	{% if gp.cc_known %}
        {% for c in gp.cc_statistics %}
	<td><a href={{ url_for('.index', group=gp.label, order=c[0], search_type="ConjugacyClasses") }}>{{ c[1] }}</a></td>
        {% endfor %}
        <td class="border-left"><a href={{url_for('.index', group=gp.label, search_type="ConjugacyClasses") }}>{{ gp.number_conjugacy_classes }}</td>
      </tr>
      {% else %}
 {% for c in gp.cc_statistics %}
        <td>{{ c[1] }}</a></td>
        {% endfor %}
        <td class="border-left">{{ gp.number_conjugacy_classes }}</td>
      </tr>
      {% endif %}
      {% if not gp.live() %}
      <tr>
        <td>{{KNOWL('group.division', 'Divisions')}}</td>
        {% for c in gp.div_statistics %}
          <td>{{ c[1] }}</td>
        {% endfor %}
        <td class="border-left">{{ gp.number_divisions }}</td>
      </tr>
      {% if gp.aut_statistics != None %}
      <tr style="border-bottom:none;">
        <td>{{KNOWL('group.autjugacy_class', 'Autjugacy classes')}}</td>
        {% for c in gp.aut_statistics %}
          <td>{{ c[1] }}</td>
        {% endfor %}
        <td class="border-left">{{ gp.number_autjugacy_classes }}</td>
      </tr>
      {% endif %}
      {% else %}
      <tr>
        <td>{{KNOWL('group.division', 'Divisions')}}</td>
          {% if gp.division_stats %}
            {% for c in gp.division_stats %}
              <td>{{ c[1] }}</td>
            {% endfor %}
        <td class="border-left">{{ gp.number_divisions }}</td>
          {% else %}
            <td  colspan="{{gp.order_stats|length}}">data not computed</td>
            <td class="border-left"></td>
          {% endif %}
      </tr>
      <tr style="border-bottom:none;">
        <td>{{KNOWL('group.autjugacy_class', 'Autjugacy classes')}}</td>
        <td colspan="{{gp.order_stats|length}}">data not computed</td>
        <td class="border-left"></td>
      </tr>
      
      {% endif %}
    </tbody>
  </table>
</div>
{% else %}
Statistics about orders of elements in this group have not been computed.
  {% endif %}
</p>

{% if gp.live() or gp.rational_characters %} {# for now, there are a few groups with p>511 dividing the order that do not have rational character tables #}

<p>
  <div class="table-scroll-wrapper"> 
  <table class="ntdata onesticky" style="margin-left:0;">
    <thead>
      <tr><th>Dimension</th>
        {% for d in (gp.rep_dims) %}
          <th>{{ d }} </th>
        {% endfor %}
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{KNOWL('group.representation.character', 'Irr. complex chars.')}} &nbsp;</td>
        {% for n in gp.irrep_statistics %}
          <td>{{ n }} </td>
        {% endfor %}
        <td class="border-left">{{ gp.irrep_statistics | sum }}</td>
      </tr>
      {% if not gp.live() %}
      <tr style="border-bottom:none;">
        <td>{{KNOWL('group.representation.rational_character', 'Irr. rational chars.')}}</td>
        {% for n in gp.ratrep_statistics %}
          <td>{{ n }} </td>
        {% endfor %}
        <td class="border-left">{{ gp.ratrep_statistics | sum }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  </div>
</p>

{% endif %}




 {% if not gp.live() %}
<h2>Minimal presentations</h2>

<table>
  <tr><td>{{KNOWL('group.permutation_degree', 'Permutation degree')}}:</td><td>{{gp.perm_degree()|safe}}</td></tr>
  <tr><td>{{KNOWL('group.transitive_degree', 'Transitive degree')}}:</td><td>{{gp.trans_degree()|safe}}</td></tr>
  <tr>
    <td>{{KNOWL('group.rank', 'Rank')}}:</td>
    {% if gp.rank %}
      <td>${{gp.rank}}$</td>
    {% else %}
      <td>not computed</td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.generators', 'Inequivalent ' + gp.gen_noun())}}:</td>
    {% if gp.eulerian_function != None %}
      <td>${{gp.eulerian_function}}$</td>
    {% else %} <td>not computed</td> {% endif %}
  </tr>
</table>

{{gp.linear_degrees_table|safe}}

{% endif %}

{% if not (gp.live() and gp.abelian) %}

<h2>Constructions</h2>
  {% if code %}<div align="right" style="float: left;">
  {{CodeSnippet(code).show_commands_box() | safe}}
</div><br><br>
{% endif %}

<table class=nowrap>
  {{ gp.stored_representations | safe }}
</table>

{% if not gp.live() %}
<p>
{{ gp.repr_strg() |  safe }}
</p>
{% endif %}

{% else %}

<h2>Constructions</h2>

<table class=nowrap>
  <tr>
    <td>{{KNOWL('group.rank', 'Rank')}}:</td>
    {% if gp.rank %}
      <td>${{gp.rank}}$</td>
    {% else %} <td>not computed</td> {% endif %}
  <tr>
    <td>{{KNOWL('group.generators', 'Inequivalent ' + gp.gen_noun())}}:</td>
    {% if gp.eulerian_function %}
      <td>${{gp.eulerian_function}}$</td>
    {% else %} <td>not computed</td> {% endif %}
  </tr>
  </tr>
</table>

{% if not gp.live() %}
{{ gp.repr_strg() |  safe }}
{% endif %}

{% endif %} {# not live and abelian #}

<h2> Homology </h2>

<table>
  <tr>
    {% if gp.abelian %}
      <td>{{KNOWL('group.primary_decomposition', 'Primary decomposition')}}:</td>
      <td>${{gp.abelian_quot_primary()}}$</td>
    {% else %}
      <td>{{KNOWL('group.abelianization', 'Abelianization')}}:</td>
      <td> <a href="{{url_for('.by_abelian_label', label=gp.abelianization_label())}}">${{gp.abelian_quot()}} {% if gp.smith_abelian_invariants != gp.primary_abelian_invariants %} \simeq {{gp.abelian_quot_primary()}}{% endif %}$</a></td>
    {% endif %}
  </tr>
  {% if not gp.live() %}
  <tr>
    <td>{{KNOWL('group.schur_multiplier', 'Schur multiplier')}}:</td>
    {% if gp.schur_multiplier is none %}
      <td>not computed</td>
    {% else %}
      <td><a href="{{url_for('.by_abelian_label', label=gp.schur_multiplier_label())}}">${{gp.schur_multiplier_text() | safe}}$</a></td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.commutator_length', 'Commutator length')}}:</td>
     {% if gp.commutator_count %}
      <td>${{gp.commutator_count}}$</td>
    {% elif gp.abelian %} <td>$0$</td>
    {% else %} <td>not computed</td> {% endif %}
  </tr>
  {% endif %}
</table>

<h2> Subgroups </h2>

{% if gp.live() %}

<table>
  {% for kwl, sub, quo, extra in gp.show_special_subgroups_live() %}
    <tr>
      <td>{% if kwl %}{{kwl|safe}}:{% endif %}</td>
      <td>{{sub|safe}}</td>
      <td>{% if quo %}{{quo|safe}}{% endif %}</td>
      <td>{% if extra %}{{extra|safe}}{% endif %}</td>
    </tr>
  {% endfor %}
</table>

{% else %}

{% if gp.has_subgroups %}


<p>{{gp.subgp_paragraph|safe}}</p>

<h3>Special subgroups</h3>

<table>
  <tr>
    <td>{{KNOWL('group.center',title='Center')}}:</td>
    {% if gp.cent() %}
    <td><span class="subgp chargp" data-sgid="{{gp.cent()}}">$Z \simeq$ {{gp.cent_label()|safe}}</span></td>
    <td>{{gp.subgroups[gp.cent()].display_quotient("Z")|safe}}</td>
    {% elif gp.center_label %}
    <td>a subgroup isomorphic to <a href="{{url_for('.by_label', label=gp.center_label)}}">{{gp.special_subs_label(gp.center_label)}}</td>
    {% else %}
    <td>not computed</td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.commutator_subgroup',title='Commutator')}}:</td>
    {% if gp.comm() %}
    <td><span class="subgp chargp" data-sgid="{{gp.comm()}}">$G' \simeq$ {{gp.subgroups[gp.comm()].knowl()|safe}}</span></td> {# match single quote for code highlighting purposes: ' #}
    <td>{{gp.subgroups[gp.comm()].display_quotient("G'", ab_invs=gp.smith_abelian_invariants)|safe}}</td>
     {% elif gp.commutator_label %}
    <td>a subgroup isomorphic to <a href="{{url_for('.by_label', label=gp.commutator_label)}}">{{gp.special_subs_label(gp.commutator_label)}}</td>
    {% else %}
    <td>not computed</td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.frattini_subgroup',title='Frattini')}}:</td>
    {% if gp.fratt() %}
    <td><span class="subgp chargp" data-sgid="{{gp.fratt()}}">$\Phi \simeq$ {{gp.subgroups[gp.fratt()].knowl()|safe}}</span></td>
    <td>{{gp.subgroups[gp.fratt()].display_quotient("\\Phi")|safe}} </td>
     {% elif gp.frattini_label %}
    <td>a subgroup isomorphic to <a href="{{url_for('.by_label', label=gp.frattini_label)}}">{{gp.special_subs_label(gp.frattini_label)}}</td>
    {% else %}
    <td> not computed</td>
    {% endif %}
  </tr>
 <tr>
    <td>{{KNOWL('group.fitting_subgroup',title='Fitting')}}:</td>
    {% if gp.fitting %}
    <td><span class="subgp chargp" data-sgid="{{gp.fitting}}">$\operatorname{Fit} \simeq$ {{gp.subgroups[gp.fitting].knowl()|safe}}</td>
    <td>{{gp.subgroups[gp.fitting].display_quotient("\\operatorname{Fit}")|safe}}</td>
    {% else %}
    <td> not computed</td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.radical',title='Radical')}}:</td>
    {% if gp.radical %}
    <td><span class="subgp chargp" data-sgid="{{gp.radical}}">$R \simeq$ {{gp.subgroups[gp.radical].knowl()|safe}}</td>
    <td>{{gp.subgroups[gp.radical].display_quotient("R")|safe}}</td>
    {% else %}
    <td>not computed</td>
    {% endif %}
  </tr>
  <tr>
    <td>{{KNOWL('group.socle',title='Socle')}}:</td>
    {% if gp.socle %}
    <td><span class="subgp chargp" data-sgid="{{gp.socle}}">$\operatorname{soc} \simeq$ {{gp.subgroups[gp.socle].knowl()|safe}}</td>
    <td>{{gp.subgroups[gp.socle].display_quotient("\\operatorname{soc}")|safe}}</td>
    {% else %}
    <td> not computed</td>
    {% endif %}
  </tr>
    {% for p, subgp in gp.sylow_subgroups() %}
      <tr>
        <td>{{p}}-{{KNOWL('group.sylow_subgroup', 'Sylow subgroup')}}:</td>
        <td><span class="{{subgp.spanclass()}}" data-sgid="{{subgp.short_label}}">$P_{ {{p}} } \simeq$ {{subgp.knowl()|safe}}</span></td>
      </tr>
    {% endfor %}
</table>


{# An invisible span to get the select color in the diagram into the DOM #}
<div>
<span id="group-diagram-selected" style="display:none;">Hi</span>
</div>

<h3>{{KNOWL('group.subgroup.diagram.lmfdb','Subgroup diagram')}} and profile</h3>


<p>
  <div>
    {# One of these (diagram/profile) will be activated by javascript below #}
    <div class="sub_divider">
      <button class='sub_diagram sub_inactive' onclick="select_subgroup_mode('diagram'); return false">diagram</button>
      <button class='sub_profile sub_inactive' onclick="select_subgroup_mode('profile'); return false">profile</button>
    </div>
    <div class="sub_divider">
      <button class='sub_subgroup sub_active' onclick="select_subgroup_mode('subgroup'); return false">all subgroups</button>
      <button class='sub_normal sub_inactive' onclick="select_subgroup_mode('normal'); return false">normal subgroups</button>
    </div>
    <div class="sub_divider">
      <button class='sub_ sub_active' onclick="select_subgroup_mode(''); return false">up to conjugacy</button>
      <button class='sub_aut sub_inactive' onclick="select_subgroup_mode('aut'); return false">up to automorphism</button>
    </div>
  </div>

{# Just header information for the diagrams #}

{% for sub_all in ["subgroup", "normal"] %}
  {% for sub_aut in ["", "aut"] %}
    {% set sub_desc, sub_summary, sub_cnt = gp.get_diagram_info(sub_all, sub_aut, limit=100) %}
    <div class="{{sub_all}}_{{sub_aut}}diagram" style="display:none">
      <h4>{{sub_desc}}</h4>
      {{ sub_summary | safe }}
    </div>
  {% endfor %}
{% endfor %}

{# now the canvas #}

{% if gp.diagram_classes() %}
  <div class="{{gp.diagram_classes()}}">

    {% if info.wide %}
    {{ gp.diagramorder_links() | safe }}
    {{ gp.canvas(1000, 300) | safe}}
    {{ gp.fullpage_links(user_is_authenticated and BETA) | safe }}
      {{ gp.sub_info_area() | safe }}
    {% else %} {# not wide #}
    {{ gp.diagramorder_links() | safe }}
      <table><tr>
        <td>{{gp.canvas(500, 300) | safe}}</td>
        <td valign="top">{{gp.sub_info_area() | safe}}</td>
      </tr></table>
      {{ gp.fullpage_links(user_is_authenticated and BETA) | safe }}
    {% endif %}
  </div>
{% endif %}

</p>

{# This is the setup string for the subgroup lattices #}
<script type="text/javascript">
  {{ info.dojs|safe }}
</script>

{% for sub_all in ["subgroup", "normal"] %}
  {% for sub_aut in ["", "aut"] %}
    {% set sub_profile, sub_desc, sub_summary = gp.get_profile(sub_all, sub_aut) %}
    <div class="{{sub_all}}_{{sub_aut}}profile" style="display: none">
      <h4>{{sub_desc}}</h4>
      {{ sub_summary | safe }}
      {% if sub_profile %}
      <table>
        {% for ordline in sub_profile %}
	<tr><td>Order {{ordline[0]}}: {{ordline[1] | safe}}</td></tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}

<script>
  {% if gp.diagram_ok and not gp.outer_equivalence %}
    select_subgroup_mode('diagram');
  {% else %}
    select_subgroup_mode('profile');
  {% endif %}
</script>


<h3>Series</h3>
<table>
  {% for kwl, name, subs, spandata, symb in gp.series() %}
  <tr>
    <td>{{KNOWL(kwl, name)}}</td>
    {% if subs==[] %}
    <td> not computed</td>
    {% else %}
      {% for sub in subs %}
      <td>
        {% if not loop.first %}
          ${{symb}}$</td><td>
        {% endif %}
        <span class="{{sub.spanclass()}} series" data-sgseries="{{spandata}}" data-sgid="{{sub.short_label}}">${{sub.subgroup_tex}}$</span></td>
      {% endfor %}
    {% endif %}
  </tr>
  {% endfor %}
</table>

{% if gp.max_sub_cnt or gp.max_quo_cnt %}
<h2> Supergroups </h2>

{% if gp.max_sub_cnt %}
<p>This group is a {{KNOWL('group.maximal_subgroup', "maximal subgroup")}} of <a href="{{url_for('.index', search_type='Subgroups', maximal='yes', subgroup=gp.label)}}">{{gp.max_sub_cnt}} larger groups</a> in the database.</p>
{% endif %}
{% if gp.max_sub_cnt %}
<p>This group is a {{KNOWL('group.maximal_quotient', "maximal quotient")}} of <a href="{{url_for('.index', search_type='Subgroups', minimal_normal='yes', quotient=gp.label)}}">{{gp.max_quo_cnt}} larger groups</a> in the database.</p>
{% endif %}

{#
{% if gp.maximal_subgroup_of %}

<table>
  <tr>
    <td colspan=3>{{KNOWL('group.maximal_subgroup', "Maximal subgroup")}} of {{info.max_subs | length }} groups in the database</td>
  </tr>
  <tr>
    <th>Subgroup of</th>
    <th>Order</th>
    <th>Quotient</th>
  </tr>
  {% for suplab, suptex, supord, quos in info.max_subs %}
    <tr>
      <td><a href="{{ url_for('.by_label', label=suplab) }}">${{suptex}}$</a></td>
      <td>${{supord}}$</td>
      <td>{{quos | safe }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
{% if gp.maximal_quotient_of %}
<table>
  <tr>
    <td colspan=3>{{KNOWL('group.maximal_quotient', "Maximal quotient")}} of {{info.max_quot | length }} groups in the database</td>
  </tr>
  <tr>
    <th>Quotient of</th>
    <th>Order</th>
    <th>By</th>
  </tr>
  {% for suplab, suptex, supord, subs in info.max_quot %}
    <tr>
      <td><a href="{{ url_for('.by_label', label=suplab) }}">${{suptex}}$</a></td>
      <td>${{supord}}$</td>
      <td>{{subs | safe}}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
#}

{% else %}

{% endif %}
{% else %}
  <p> Subgroup data has not been computed. </p>
{% endif %}

<h2> Character theory </h2>
<p>



{% if not gp.rational_characters and gp.number_conjugacy_classes == None %}

  <p> The character tables for this group have not been computed. </p>

{% else %}

  <h3>{{KNOWL('group.complex_character_table','Complex character table')}}</h3>

  {% if gp.number_divisions == gp.number_conjugacy_classes %}

    <p>
      Every character has rational values, so the {{KNOWL('group.complex_character_table','complex character table')}} is the same as the rational character table below.
    </p>

  {% elif gp.number_conjugacy_classes == None %}

    <p> The complex character table for this group is not computed. </p>

  {% elif gp.complex_characters_known == False %}

    <p> The ${{gp.number_conjugacy_classes}} \times {{gp.number_conjugacy_classes}}$ character table is not available for this group. </p>

  {% elif gp.number_conjugacy_classes <= 16 %}

    {% include 'character_table.html' %}

  {% else %}

    <p>
      See the <a href="{{url_for('.char_table', label=gp.label)}}">${{gp.number_conjugacy_classes}} \times {{gp.number_conjugacy_classes}}$ character table</a>{% if gp.number_conjugacy_classes >= 128 %} (warning: may be slow to load){% endif %}.
      Alternatively, you may <a href="{{url_for('.index', group=gp.label, search_type='ComplexCharacters')}}">search for characters</a> of this group with desired properties.
    </p>

  {% endif %}

  <h3>{{KNOWL('group.rational_character_table','Rational character table')}}</h3>

  {% if not gp.rational_characters %}

    <p>
      The ${{gp.number_divisions}} \times {{gp.number_divisions}}$ rational character table is not available for this group.
    </p>

  {% elif gp.number_divisions <= 16 %}

    {% include 'rational_character_table.html' %}

  {% else %}

    <p>
      See the <a href="{{url_for('.Qchar_table', label=gp.label)}}">${{gp.number_divisions}} \times {{gp.number_divisions}}$ rational character table</a>{% if gp.number_divisions >= 128 %} (warning: may be slow to load){% endif %}.
      {% if gp.number_divisions == gp.number_conjugacy_classes %}
        Alternatively, you may <a href="{{url_for('.index', group=gp.label, search_type='ComplexCharacters')}}">search for characters</a> of this group with desired properties.
      {% endif %}
    </p>
  {% endif %}
{% endif %}
{% endif %} {# gp.live() #}

{% endblock %}
