
{% extends "base.html" %}

{% block body %}

<br>

<p>
&nbsp; Each row represents an {{KNOWL('group.automorphism', 'automorphism')}} given by it image on a set of {{KNOWL('group.generators','generators')}} of the group (represented by the columns).
</p>



<p>
  <table class="ntdata" style="margin-left:0;">
    <thead>
      <tr> <th> generators of the group:</th>
        {% for c in gp.auto_gens_list()[0] %}
        <th>${{c}}$</th>
        {% endfor %}
      </tr>
      <tbody>
	{% for i in range(1,gp.auto_gens_list()|length) %}
      <tr><td> </td>
	{% for j in gp.auto_gens_list()[i] %}
      <td>${{j}}$ </td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
      </thead>
    </table>
</p>



{% endblock %}
