
{% extends "homepage.html" %}

{% block content %}



<p>
 Each row represents an {{KNOWL('group.automorphism', 'automorphism')}} given by its image on a set of {{KNOWL('group.generators','generators')}} of the group (listed as the headers of the columns). <br>

<p>
The column "Inner by" gives an element which gives rise to the automorphism as
an inner automorphism if it is, in fact, inner.  Otherwise, it is blank. 

<p>
{{gp.repr_strg(other_page=True) | safe}}<br>
</p>



<p>
  {% set aut_data = gp.auto_gens_data() %}
  {% set orders = aut_data.orders %}
  {% set inner = aut_data.inners %}
  <table class="ntdata" style="margin-left:0;">
    <thead>
      <tr> 
        <th> </th>
        <th>{{KNOWL('group.element_order','Order')}}</th>
        <th>{{KNOWL('group.inner_automorphism','Inner by')}}</th>
        {% for c in gp.auto_gens_list()[0] %}
        <th>${{c}}$</th>
        {% endfor %}
      </tr>
      <tbody>
	{% for i in range(1,gp.auto_gens_list()|length) %}
      <tr> <td>  </td>
      <td align="center"> {{ orders[i] }} </td>
      <td> ${{ inner[i] }}$ </td>
	{% for j in gp.auto_gens_list()[i] %}
      <td>${{j}}$ </td>
      {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
      </thead>
    </table>
</p>

{% endblock %}


{# Hack to remove the sidebar and move main content over #}
{#
{% block sidebar %}
<style>
#main {
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  min-height:600px;
}
</style>
{% endblock %}
#}
