

{% if info.char_highlight %}
<p>The row representing the character {{info.char_highlight}} is highlighted below.</p>
{% endif %}

{% set conv = info.conv %}

<table class="nowrap">
  <tr>
    <td></td><td></td>
    {% for c in gp.conjugacy_class_divisions %}
      <td>{{ c.display_knowl() | safe }}</td>
    {% endfor %}
  </tr>
    <tr>
    <td></td><td>Size</td>
    {% for c in gp.conjugacy_class_divisions %}
      <td class="right">{{ c.size() }}</td>
    {% endfor %}
  </tr>
  {% for p in gp.factors_of_order %}
    {% set ploop = loop %}
    <tr>
      <td></td><td>{{KNOWL('group.conjugacy_class.power_classes',"{} P".format(p))}}</td>
      {% for c in gp.conjugacy_class_divisions %}
        <td>{{ gp.conjugacy_classes[c.classes.0.prime_powers()[ploop.index0]-1].division.label }}</td>
      {% endfor %}
    </tr>
  {% endfor %}



  {% if gp.has_nontrivial_schur_character %}
    <tr><td></td><td>{{KNOWL('group.representation.schur_index', 'Schur')}}</td></tr>
  {% endif %}

  {% for chtr in gp.rational_characters %}
    {% if chtr.label == info.char_highlight %}
      <tr class="highlighted">
    {% else %}
      <tr>
    {% endif %}
    <td> {{ chtr.display_knowl() | safe }}</td><td class="center"> {% if chtr.schur_index != 1 %} {{chtr.schur_index}} {% endif %} </td>
    {% for c in gp.conjugacy_class_divisions %}
      <td class="right">{{ conv(chtr.qvalues[c.classes.0.counter - 1]) | safe }}</td>
    {% endfor %}
    </tr>
  {% endfor %}

</table>
