{% extends 'homepage.html' %}

{% block content %}

<script type="text/javascript" src="{{ url_for('.static', filename='elliptic_modular_form_util-functions.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='elliptic_modular_form_scripts.js') }}"></script>


<script>
$(document).ready( function() {
$("#wait").text("Plot of fundamental domain is loading!");
$("#plot").load(function() {
         $("#wait").text("");
    });
}
);
</script>

{% if error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ error | safe }}
</div>
{% endif %}

{% include 'geometric.html' %}

{% if info.weight is defined %}
<h1>{{ KNOWL('mf.elliptic.newform',title='Newforms') }} of {{KNOWL('mf.elliptic.level',title='level')}} {{level}} and {{KNOWL('mf.elliptic.weight',title='weight')}} {{weight}}</h1>
{% else %}
<h1>{{ KNOWL('mf.elliptic.newform',title='Newforms') }} of {{KNOWL('mf.elliptic.level',title='level')}} {{level}}</h1>
{% endif %}

{% if browse_table is defined %}
{% if browse_table.rows is defined %}
{#{KNOWL('mf.ellipticemf_browse.all.info',title='Write about browsing') }#}
<p>
{% if character == -1  %}
The table below gives the dimensions of the space of holomorphic cusp
forms of level {{level}}, specified weight and character.
The characters are specified by their values on the generators of \( (\mathbb{Z}/{{level}}\mathbb{Z})^\times \).
The generators are given by: {{unitgens}}.
{% else %}
The table below gives the dimensions of the space of holomorphic cusp
forms of level {{level}}, specified weight, with trivial character.
{% endif %}
</p>
{% set table = browse_table %}
{% set rows = browse_table.rows %}
{% set row_class = cycler('odd', 'even') %}
{% if show_all_characters is defined %}
{% set len = table.col_heads | length %}
{% set wid = 10*len +20 %}
<table class="ntdata" width="{{wid}}px">
  <thead>
    <tr>
      <th width="10px" style="border-right:1px solid black">
        {% if table.rowhead is defined %}
        {{ table.rowhead | safe }}
        {% endif %}
      </th>
      {% for ix in table.col_heads  %}
      <th width="10px">
        {{ ix }}
        <!--a href="{{url_for('render_webpage_label',modulus=level,number=ix) }}" style="">{{ix}}</a-->
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows  %}
    <tr class="{{row_class.next() }}">
      <th width="10px" style="background:#afa; border-right: 1px solid black">
        {{ table.row_heads[loop.index-1] }}
      </th>
      {% for cell in row  %}
      <td align="center" width="0%">
        {% if cell.url != '' %}
          <a href="{{cell.url}}">{{cell.dim}}</a>
        {% else %}
	  {{cell.dim}}
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endif %}
{% elif list_spaces is defined %}

{{ list_spaces | safe }}

{% else%}
  <h1>This data is not available yet.</h1>
{% endif %}


{% endblock content %}
