{% extends 'homepage.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='browse_table.css'}}" type="text/css"/> 

<script type="text/javascript" src="{{ url_for('static', filename='browse_table.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='elliptic_modular_form_util-functions.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='elliptic_modular_form_scripts.js') }}"></script>
<script>
$(document).ready( function() {
$("#wait").text("Plot of fundamental domain is loading!");
$("#plot").load(function() {
         $("#wait").text("");
    });
};
);
$(document).ready(function() {
	$('#example').dataTable();
} );

</script>




{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ info.error | safe }}
</div>
{% endif %}

      <h1>{{ KNOWL('cmf.newform',title='Newforms') }} {{info.browse_type | safe}}</h1>
      
   {% if info.browse_table.rows is defined %}
        {{Knowl('emf.emf_browse.all.info') }}
        In the table below you can brose spaces of Holomorphic Cusp Forms with
        given level and weight. The entry in the table is the dimension of the space.
        {% set table = info.browse_table %}
        {% set rows = info.browse_table.rows %}
        {% set row_class = cycler('odd', 'even') %}
        <table class="ntdata">
          <thead>
            <tr>
              <th width="10px" style="">
                Level/Weight
              </th>
              {% for k in table.col_heads  %}
              <th>{{k}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in rows  %}
            <tr class="{{row_class.next() }}">
              <th width="0%" style="background:#afa; border-right: 1px solid black">
                {{ table.row_heads[loop.index-1] }}
              </th>
              {% for cell in row  %}
              <td align="center">
                <a style="display:inline" href="{{cell.url}}">{{cell.dim}}</a>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

    {#{info.list_spaces| safe } #}

<table>
  <tr>
    {% if info.geometric is defined %}
    <td valign="top">
      {% if info.level > 1 %}
      <h2>Geometric information for \(\Gamma_{0}({{ info.level}})\)</h2>
      {% else %}
      <h2>Geometric information for \(PSL_{2}(\mathbb{Z}) \)</h2>
      {% endif %}
      {{ info.geometric | safe }}
    </td>
    {% endif %}
    {% if info.fd_plot is defined %}
    <td>
      <div>
      <span id="wait">      </span>
      <img id="plot" src="{{ info.fd_plot | safe }} " width="" height=""/>
      </div>
    </td>
      {% endif %}

  </tr>
</table>
{% endblock content %}
