{% if geometric is defined %}
<style>
#fundom{
  float:right;
  margin-top:30px;
  vertical-align:top;
  height:320px;
  width:217px;
  background-color:lightblue;
  text-color:white;
}
</style>
{% if level == 1 %}
  {% set group=KNOWL('mf.sl2z',title='\(\mathrm{SL}_2(\mathbb{Z})\)') %}
{% else %}
  {% if grouptype == 0 %}
    {% set group=KNOWL('mf.sl2.subgroup.gamma0N',title='\(\Gamma_0(' ~ level ~ ') \)') %}
  {% elif grouptype == 1 %}
    {% set group=KNOWL('mf.sl2.subgroup.gamma0N',title='\(\Gamma_1(' ~ level ~  ')\)') %}
  {% endif %}
{% endif %}

      {% set G = geometric %}
      <div id="fundom">
        <span id="wait"></span>
        <img id="plot" width="217" height="320" src="{{ fd_plot | safe }} " />
      </div>
      <table>
        <tr>
          <td valign="top">
            <div>
            <h1>Geometric information for {{group}}</h1>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.index',title='index')}}</th><td>{{G.index}}</td></tr>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.genus',title='genus')}}</th><td>{{G.genus}}</td></tr>
              <tr><th>{{KNOWL('mf.sl2z.subgroup.cusps',title='cusps')}}</th>
		<td>
                  {% for c in G.cusps%}
		  {% if c.is_infinity() %}
		    \( \infty  \)
		  {% else %}
		     {{c}},
		  {% endif %}
		  {% endfor %}
		  ({{ G.cusps|count }} cusps)
	        </td>
	      </tr>
              <tr><th colspan="2" style="text-align:left;">Number of {{KNOWL('mf.sl2z.subgroup.ellipticfxpts',title='elliptic fixed points')}} of </th></tr>
              <tr><th>order 2</th><td>{{G.nu2}}</td></tr>
              <tr><th>order 3</th><td>{{G.nu2}}</td></tr>
            </table>
          </td>
          {% endif %}
          {% if fd_plot is defined %}
        </tr>
      </table>
      {% endif %}
