{% extends "homepage.html" %}

{% block content %}

{% if info.error is defined %}

<h1>There was an error in meeting your previous request. Please change parameters.</h1>

<div> 
<h2> Error message: </h2>
{{ info.error | safe }}
</div>
{% endif %}

<div>
The term {{KNOWL('mf',title='modular form')}} is used to describe several types
of functions which have a certain type of {{KNOWL('mf.transformation_property',title='transformation property')}} and {{KNOWL('mf.growth_condition',title='growth condition')}}.  The theory of modular forms, although in
complex analysis, is intricately connected to areas of number theory,
algebraic geometry, combinatorics, algebraic topology, and
mathematical physics.  
<p>
Below you can browse classes of modular forms currently in the LMFDB.
</div>

  <p>
<a href="{{ url_for('cmf.index')
         }}">Holomorphic Cusp Forms</a> (on \(\GL(2)\) over \(\Q\))
</p>
<p>
<a href="{{ url_for('hmf.hilbert_modular_form_render_webpage')
         }}">Hilbert Modular Forms</a> (on \(\GL(2)\) over totally real fields)
</p>

<p><a href="{{ url_for('bmf.index') }}">Bianchi Modular Forms</a> (on
   \(\GL(2)\)  over Euclidean imaginary quadratic fields)
</p>

<p>
<a href="{{ url_for('mwf.render_maass_waveforms') }}">Maass Forms on \(\GL(2,\Q) \)</a>
</p>
{% if user_is_authenticated -%}
<p>
<a href="{{ url_for('mwfp.render_picard_maass_forms') }}">Maass Forms on the Picard group \(\SL(2,\Z[i])\)</a>
</p>
{% endif %}
<p><a href="{{ url_for('smf.index') }}">Siegel Modular Forms</a> 
</p>


{% endblock content %}
