{% extends "homepage.html" %}

{% block content %}

    <h2> Basic invariants</h2>
    <table>
        <tr><td>{{ KNOWL('artin.dimension', title='Dimension') }}: </td><td>${{ object.dimension() }}$</td></tr>
        <tr><td>{{ KNOWL('artin.gg_quotient', title='Group') }}: </td><td>{{ object.pretty_galois_knowl() | safe }}</td></tr>
        <tr><td>{{ KNOWL('artin.conductor', title='Conductor') }}: </td><td>{{ object.conductor_equation() | safe }}</td></tr>
        {% if object.indicator() %}
        <tr><td class="nowrap">{{ KNOWL('artin.frobenius_schur_indicator', title='Frobenius-Schur indicator') }}: </td><td>${{ object.indicator()}}$</td></tr>
        {% endif %}
        {% if object.sign() %}
        <tr><td class="nowrap">{{ KNOWL('artin.root_number', title='Root number') }}: </td><td>${{ object.root_number()}}$</td></tr>
        {% endif %}
        {% if wnf and not wnf.is_galois() %}
          <tr><td class="nowrap"> {{ KNOWL('artin.stem_field', title='Artin stem field') }}: </td><td>
        {% else %}
          <tr><td class="nowrap"> {{ KNOWL('artin.number_field', title='Artin field') }}: </td><td>
        {% endif %}
        {% if wnf %}
          Galois closure of {{wnf.knowl()|safe}}
        {% else %}
          Splitting field of defining polynomial $f(x)$ over $\Q$</td></tr>
        {%endif%}
        <tr><td class="nowrap"> {{ KNOWL('artin.galois_orbit', title='Galois orbit size') }}: </td><td> ${{object.galois_conjugacy_size()}}$ </td></tr>
        <tr><td class="nowrap"> {{ KNOWL('artin.permutation_container', title='Smallest permutation container') }}: </td><td> {{object.container()|safe}}</td></tr>
        <tr><td> {{ KNOWL('artin.parity', title='Parity') }}: </td><td> {{ object.parity()}}</td></tr>
        {% if object.dimension() == 1 %}
            {%if object.det_url()=="Not available"%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Dirichlet character') }}: </td><td> {{ object.det_display()|safe}} </td></tr>
            {%else%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Dirichlet character') }}: </td><td> <a href={{object.det_url()}}>{{ object.det_display()|safe}}</a></td> </tr>
            {%endif%}
        {% else %}
            <tr><td> {{ KNOWL('artin.determinant', title='Determinant') }}: </td><td> {{ object.det_as_artin_display()|safe}} </td></tr>
        {% endif %}
            <tr><td class="nowrap"> {{ KNOWL('artin.projective_image', title='Projective image') }}: </td><td> {{ object.projective_group()|safe}} </td></tr>
        {% if proj_wnf.is_in_db() and not proj_wnf.is_galois() %}
            <tr><td class="nowrap"> {{ KNOWL('artin.projective_stem_field', title='Projective stem field') }}:
        {% else %}
            <tr><td class="nowrap"> {{ KNOWL('artin.projective_field', title='Projective field') }}:
        {% endif %}
        </td><td> Galois closure of {{ object.projective_field()|safe}} </td></tr>
    </table>

    <h2>Defining polynomial</h2>
    <table style="margin-left:10px;"><tr><td>$f(x)$</td><td>$=$</td><td>{{ object.number_field_galois_group().polynomial_raw_typeset()|safe}}.</td></tr></table>
    {% if object.number_field_galois_group().computation_minimal_polynomial()|length > 2 %}
    <p>
    The roots of $f$ are computed in an extension of $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    </p>
    <p>
    Minimal polynomial of a generator $a$ of $K$ over $\mathbb{Q}_{ {{object.number_field_galois_group().residue_characteristic()}} }$: {{object.number_field_galois_group().computation_minimal_polynomial_raw_typeset()|safe}}
    </p>
    {% else %}
    <p>The roots of $f$ are computed in $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.</p>
    {% endif %}
   <div style="margin-left:10px;">
    Roots:
      <table>
        {% for root in object.number_field_galois_group().computation_roots()%}
        <tr>
          <td> $r_{ {{loop.index}} }$</td>
          <td> $=$ </td>
          <td>{{root|safe}}
        {% endfor %}
        </table>
    </div>

    <h2>Generators of the {{KNOWL('gg.galois_group', 'action')}} on the roots
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}
    </h2>
    <table class="ntdata">
        <thead>
          <tr><td>Cycle notation</td>
          </tr>
        </thead>
      <tbody>
        {% for gen in object.number_field_galois_group().G_gens()%}
        <tr> <td><center>${{cycle_string(gen)}}$</center></td></tr>
        {% endfor %}
      </tbody>
      </table>

    <h2> {{KNOWL('group.representation.character', 'Character values')}} on {{KNOWL('gg.conjugacy_classes', 'conjugacy classes')}}</h2>
    <table class="ntdata">
      <thead><tr><td>{{KNOWL('group.size_conjugacy_class', 'Size')}}</td><td>{{KNOWL('group.order_conjugacy_class', 'Order')}}</td><td>{{KNOWL('gg.galois_group', 'Action')}} on
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}</td><td>{{KNOWL('group.representation.character', 'Character value')}}</td><td>{{KNOWL('artin.trace_of_complex_conj', 'Complex conjugation')}}</td></tr></thead>

      <tbody>
        {% for gen in object.number_field_galois_group().conjugacy_classes()%}
            <tr>
                <td align="center">${{gen.size()}}$</td><td align="center">${{gen.order()}}$</td><td align="center">${{cycle_string(gen.representative())}}$</td><td align="center">${{ object.character_formatted()[loop.index - 1] }}$</td>
            <td align="center">
            {% if loop.index == object.number_field_galois_group().index_complex_conjugation()%}&#x2713;{%endif%}</td>
            </tr>
        {% endfor %}
      </tbody>
      </table>
 {# For testing in progress
 <div>
 <br>
 {{ info.pol2 }} <br>
 {{ info.pol3 }} <br>
 {{ info.pol5 }} <br>
 {{ info.pol7 }} <br>
 {{ info.pol11 }} <br>
 </div>
 #}

{% endblock %}


