{% extends 'homepage.html' %}
{% block content %}
{# Refine search page #}

{% include 'refine_search_form.html' %}

{% include 'matches.html' %}
{% if info.number %}
<div>
  Galois conjugate representations are grouped into single lines.
</div>

<div>
	<table class="ntdata">

	<thead><tr><th>{{KNOWL('artin.label', 'Label')}}</th>
        <th>{{ KNOWL('artin.dimension', title='Dimension') }}</th>
	<th>{{ KNOWL('artin.conductor', title='Conductor') }}</th>
	<th>Defining polynomial of {{ KNOWL('artin.number_field', title='Artin field') }} </th>
	<th style="text-align: center"> {{ KNOWL('artin.gg_quotient', title='$G$') }}</th>
{#	<th>{{ KNOWL('artin.root_number', title='Root number') }}</th> #}
	<th>{{ KNOWL('artin.frobenius_schur_indicator', title='Ind') }}</th>
	<th>{{ KNOWL('artin.trace_of_complex_conj', title='$\chi(c)$')}}</th>
	</tr></thead>
	<tbody>

        {% for artin in info.results%}
        {% set art = initfunc(artin['Baselabel'],1) %}
        {% set galccsize = art.galois_conjugacy_size() %}
          <tr><td>
          {% for cnt in range(galccsize) %}
        {% set artx = initfunc(artin['Baselabel'],cnt+1) %}
        {% if info.sign_code == 0 or info.sign_code == art.sign() %}
            <a href = "{{artx.url_for()}}">{{artx.label()}}</a>
        {% endif %}
          {% endfor %}
            </td>
            <td align="center">${{art.dimension()}}$</td>
          <td>${{art.factored_conductor_latex()}}$</td>
          <td>{{ art.field_knowl()|safe }}</td>

	  {# <td align="center">{{artin.number_field_galois_group().G_name()}}</td> #}
	  <td align="center">{{art.pretty_galois_knowl() | safe }} </td>
	  <td align="center"> ${{artin.Indicator}}$</td>
	  <td align="center">${{art.trace_complex_conjugation()}}$</td>
	  </tr>
        {% endfor %}
	</tbody>
	</table>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
