{% extends "homepage.html" %}

{% block content %}


<div>
{{KNOWL_INC("dq.artin.extent", title = "")}}
</div>

<h2>Browse {{KNOWL('artin', title="Artin representations")}}</h2>

<p>
By {{ KNOWL('artin.dimension',title="dimension") }}:
<a href="?dimension=1">1</a>, <a href="?dimension=2">2</a>, <a href="?dimension=3">3</a>,
<a href="?dimension=4">4</a>, <a href="?dimension=5">5</a>, <a href="?dimension=6">6</a>,
<a href="?dimension=7">7</a>, <a href="?dimension=8">8</a>, <a href="?dimension=9">9</a>,
<a href="?dimension=10">10</a>

<p>
By {{ KNOWL('artin.conductor',title="conductor") }}:
<a href="?conductor=1-100">1-100</a>,
<a href="?conductor=101-1000">101-1000</a>,
<a href="?conductor=1001-10000">1001-10000</a>,
<a href="?conductor=10001-100000">10001-100000</a>

<p>
By {{ KNOWL('artin.gg_quotient',title="group") }}:
<a href="?group=D4">$D_4$</a>,
<a href="?group=Q8">$Q_8$</a>,
<a href="?group=A4">$A_4$</a>,
<a href="?group=S4">$S_4$</a>,
<a href="?group=GL(2,3)">$\GL(2,3)$</a>,
<a href="?group=A5">$A_5$</a>,
<a href="?group=6T13">$C_3^2:D_4$</a>,
<a href="?group=S5">$S_5$</a>,
<a href="?group=GL(3,2)">$\GL(3,2)$</a>,
<a href="?group=A6">$A_6$</a>,
<a href="?group=S6">$S_6$</a>,
<a href="?group=A7">$A_7$</a>,
<a href="?group=S7">$S_7$</a>

<p>
A <a href={{url_for('.random_representation')}}>random Artin representation</a> from the database.
</p>

<h2>Go to a specific Artin representation by {{KNOWL('artin.label',title='label')}}</h2>

<div><form>
Artin representation: <input type='text' name='natural' size='50' example='3.2e3_7e5.7t3.1c1'> <button type='submit' name='search' value='Go'>label</button> <span class="formexample">e.g., 3.2e3_7e5.7t3.1c1</span></form></div>


<h2> Search for an Artin representation </h2>
Enter values into one or more boxes to restrict the search.
<p></p>
<form id="search" onsubmit="cleanSubmit(this.id)">
  <table>
    <tr>
        <td align="left">{{ KNOWL('artin.dimension',title="dimension") }}</td>
        <td><input type='text' name='dimension' placeholder="2" size=15></td>
        <td><span class="formexample"> e.g. 1, 2-4 </span></td>
    </tr>

    <tr>
        <td align="left">{{ KNOWL('artin.conductor',title = "conductor") }}</td>
        <td><input type='text' name='conductor' placeholder="50-100,150-210" size=15></td>
        <td><span class="formexample"> e.g. 50, 100-200</span></td>
    </tr>

    <tr>
        <td align="left">{{ KNOWL('artin.gg_quotient',title="group") }}</td>
        <td><input type='text' name='group' placeholder="A5" size=15></td>
        <td><span class="formexample"> e.g. C5, or 8T12, a list of {{KNOWL('nf.galois_group.name','group labels')}}</span></td>
    </tr>

    <tr>
        <td align="left">{{ KNOWL('artin.permutation_container',title="smallest permutation container") }}</td>
        <td><input type='text' name='container' placeholder="6T13" size=15></td>
        <td><span class="formexample"> e.g. 6T13 or 7T6</span></td>

    <tr>
        <td align="left">{{ KNOWL('artin.ramified_primes', title="ramified primes") }}</td>
        <td><input type='text' name='ramified' placeholder="2" size=15></td>
        <td><span class="formexample"> e.g. 2, 3 (no range allowed)</span></td>
    </tr>
    
    <tr>
        <td align="left">{{ KNOWL('artin.unramified_primes', title="unramified primes") }}</td>
        <td><input type='text' name='unramified' placeholder="5,7" size=15></td>
        <td><span class="formexample"> e.g. 5, 7, 13  (no range allowed)</span></td>
    </tr>
    
    <tr>
        <td align="left">{{ KNOWL('artin.root_number',title="root number") }}</td>
        <td><input type='text' name='root_number' placeholder="1" size=15></td>
        <td><span class="formexample"> at the moment, one of 1 or -1 </span></td>
    </tr>

    <tr>
        <td align="left">{{ KNOWL('artin.frobenius_schur_indicator',title="Frobenius-Schur indicator") }}</td>
        <td><input type='text' name='frobenius_schur_indicator' placeholder="1" size=15></td>
        <td><span class="formexample"> +1 for orthogonal, -1 for symplectic, 0 for non-real character </span></td>
    </tr>

    <tr>
        <td align=left colspan=4>Maximum number of Artin representations to display <input type='text' name='count' value='10' size='10'></td>
    </tr>
  </table>
  

<td><button type='submit' value='Search'>Search</button></td>
</form>
{# 
    <br>
    This index/search page is not done. The main reason is that it is not fully clear to me yet how people might want to search on Artin representations.
    
Meanwhile, here are some examples. You can browse more of them by directly changing the url, or by accessing them from the number field pages (bottom).
However, the database only include a very thin slice of the data that will be available in the end, so it s likely you will follow broken links. 

<table>
    <tr><td><a href = {{url_for('.by_data', dim=1,conductor=1,index=1)}}>Artin representation of dimension 1, conductor 1 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_data', dim=1,conductor=17,index=1)}}>Artin representation of dimension 1, conductor 17 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=1,conductor=17)}}>Artin representations of dimension 1 and conductor 17 </a></td></tr>
    <tr><td><a href = {{url_for('.by_data', dim = 3, conductor = 113337, index = 1 )}}>Artin representation of dimension 3, conductor 1133337 and index 1</a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=1,conductor=1)}}>Artin representations of dimension 1 and conductor 1 </a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=2,conductor=22356)}}>Artin representations of dimension 2 and conductor 22356 </a></td></tr>
    <tr><td><a href = {{url_for('.by_partial_data', dim=4,conductor=136480336)}}>Artin representations of dimension 4 and conductor 136480336 </a></td></tr>
    
</table>

#}


{% endblock %}
