{% extends 'homepage.html' %}
{% block content %}
{# Refine search page #}

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
  <table>
    <tr>
      <td>{{ KNOWL('artin.dimension',title="dimension") }}</td>
      <td><input type='text' name='dimension' value="{{info.dimension}}" size=15/></td>
      <td><span class="formexample"> e.g. 1, 2-4 </span></td>
    </tr>
    <tr>
      <td>{{ KNOWL('artin.conductor',title = "conductor") }}</td>
      <td><input type='text' name='conductor' value="{{info.conductor}}" size=15/></td>
      <td><span class="formexample"> e.g. 50, 100-200</span></td>
    </tr>
    <tr>
        <td>{{ KNOWL('artin.gg_quotient',title="group") }}</td>
        <td><input type='text' name='group' value="{{info.group}}" size=15></td>
        <td><span class="formexample"> e.g. C5, or 8T12, a list of {{KNOWL('nf.galois_group.name','group labels')}}</span></td>
    </tr>
    <tr>
        <td>{{ KNOWL('artin.permutation_container',title="smallest permutation container") }}</td>
        <td><input type='text' name='container' value="{{info.container}}" size=15></td>
        <td><span class="formexample"> e.g. 4T3 or 6T10</span></td>
    </tr>
    <tr>
      <td>{{KNOWL('artin.ramified_primes', 'ramified primes')}}</td>
      <td><input type='text' name='ramified' value="{{info.ramified}}" size=15/></td>
      <td><span class="formexample"> e.g. 2, 3 (no range allowed)</span></td>
    </tr>
    <tr>
      <td>{{KNOWL('artin.unramified_primes', 'unramified primes')}}</td>
      <td><input type='text' name='unramified' value = "{{info.unramified}}" size=15/></td>
      <td><span class="formexample"> e.g. 5, 7, 13  (no range allowed)</span></td>
    </tr>
    <tr>
      <td>{{ KNOWL('artin.root_number',title="root number") }}</td>
      <td><input type='text' name='root_number' value = "{{info.root_number}}" size=15/></td>
      <td><span class="formexample"> at the moment, one of 1 or -1 </span></td>
    </tr>
    <tr>
      <td>{{ KNOWL('artin.frobenius_schur_indicator',title="Frobenius-Schur indicator") }}</td>
      <td><input type='text' name='frobenius_schur_indicator' value = "{{info.frobenius_schur_indicator}}" size=15/></td>
      <td><span class="formexample"> +1 for orthogonal, -1 for symplectic, 0 for non-real character</span></td>
    </tr>
    <tr>
      <td align=left colspan=4>Maximum number of Artin representations to display <input type='text' name='count' value="{{info.count}}" size=10></td>
    </tr>
  <tr>
    <td class="button"><button type='submit' value='Search'>Search again</button></td>
  </tr>
  </table>
</form>

{% include 'matches.html' %}
{% if info.number %}
<div>
  Galois conjugate representations are grouped into single lines.
</div>

<div>
	<table border=1 cellpadding=5 class="ntdata">

	<thead><tr><th>{{KNOWL('artin.label', 'Label')}}</th>
        <th>{{ KNOWL('artin.dimension', title='Dimension') }}</th>
	<th>{{ KNOWL('artin.conductor', title='Conductor') }}</th>
	<th>Defining polynomial of {{ KNOWL('artin.number_field', title='Artin field') }} </th>
	<th style="text-align: center"> {{ KNOWL('artin.gg_quotient', title='$G$') }}</th>
{#	<th>{{ KNOWL('artin.root_number', title='Root number') }}</th> #}
	<th>{{ KNOWL('artin.frobenius_schur_indicator', title='Ind') }}</th>
	<th>{{ KNOWL('artin.trace_of_complex_conj', title='$\chi(c)$')}}</th>
	</tr></thead>
	<tbody>

        {% for artin in info.results%}
        {% set art = initfunc(artin['Baselabel'],1) %}
        {% set galccsize = art.galois_conjugacy_size() %}
          <tr><td>
          {% for cnt in range(galccsize) %}
        {% set artx = initfunc(artin['Baselabel'],cnt+1) %}
        {% if info.sign_code == 0 or info.sign_code == art.sign() %}
            <a href = "{{artx.url_for()}}">{{art.baselabel()}}c{{cnt+1}}</a>
        {% endif %}
          {% endfor %}
            </td>
            <td align="center">${{art.dimension()}}$</td>
          <td>${{art.factored_conductor_latex()}}$</td>
          <td>{{ art.field_knowl()|safe }}</td>

	  {# <td align="center">{{artin.number_field_galois_group().G_name()}}</td> #}
	  <td align="center">{{art.pretty_galois_knowl() | safe }} </td>
	  <td align="center"> ${{artin.Indicator}}$</td>
	  <td align="center">${{art.trace_complex_conjugation()}}$</td>
	  </tr>
        {% endfor %}
	</tbody>
	</table>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
