{% extends 'homepage.html' %}
{% block content %}
{# Refine search page #}

<form id="re-search" onsubmit="cleanSubmit(this.id)">
  {% include 'hidden_search_inputs.html' %}
  <table>
    <tr>
      <td>{{ KNOWL('artin.dimension',title="Dimension") }}</td>
      <td>{{ KNOWL('artin.conductor',title = "Conductor") }}</td>
      <td>{{ KNOWL('artin.gg_quotient',title="Group") }}</td>
      <td>{{ KNOWL('artin.root_number',title="Root number") }}</td>
      <td>{{ KNOWL('artin.parity',title="Parity") }}</td>

    <tr>
      <td><input type='text' name='dimension' value="{{info.dimension}}" style="width: 160px;" placeholder="2"/></td>
      <td><input type='text' name='conductor' value="{{info.conductor}}" style="width: 160px;" placeholder="51,100-200"/></td>
      <td><input type='text' name='group' value="{{info.group}}" style="width: 160px;" placeholder="A5"></td>
      <td><input type='text' name='root_number' placeholder="1" value = "{{info.root_number}}" style="width: 160px;"/></td>
      <td><select name='Is_Even' style="width: 170px">
        <option value=''>All</option>
        <option value='True' {{ "selected" if info.Is_Even == 'True'}} >Even</option>
        <option value='False' {{ "selected" if info.Is_Even == 'False'}} >Odd</option>
      </select></td>
    </tr>

    <tr>
      <td>{{ KNOWL('artin.permutation_container',title="Smallest container") }}</td>
      <td>{{KNOWL('artin.ramified_primes', 'Ramified primes')}}</td>
      <td>{{KNOWL('artin.unramified_primes', 'Unramified primes')}}</td>
      <td>{{ KNOWL('artin.frobenius_schur_indicator',title="Frobenius-Schur indicator") }}</td>
    </tr>
    <tr>
      <td><input type='text' name='container' value="{{info.container}}" style="width: 160px;" placeholder="6T13"></td>
      <td><input type='text' name='ramified' value="{{info.ramified}}" style="width: 160px;" placeholder="2" /></td>
      <td><input type='text' name='unramified' value = "{{info.unramified}}" style="width: 160px;" placeholder="5,7" /></td>
      <td><input type='text' name='frobenius_schur_indicator' value = "{{info.frobenius_schur_indicator}}" style="width: 160px;" placeholder="1" /></td>
    </tr>
  <tr>
    <td class="button"><button type='submit' value='Search' onclick='resetStart()'>Search again</button></td>
  </tr>
  </table>
</form>

{% include 'matches.html' %}
{% if info.number %}
<div>
  Galois conjugate representations are grouped into single lines.
</div>

<div>
	<table class="ntdata">

	<thead><tr><th>{{KNOWL('artin.label', 'Label')}}</th>
        <th>{{ KNOWL('artin.dimension', title='Dimension') }}</th>
	<th>{{ KNOWL('artin.conductor', title='Conductor') }}</th>
	<th>Defining polynomial of {{ KNOWL('artin.number_field', title='Artin field') }} </th>
	<th style="text-align: center"> {{ KNOWL('artin.gg_quotient', title='$G$') }}</th>
{#	<th>{{ KNOWL('artin.root_number', title='Root number') }}</th> #}
	<th>{{ KNOWL('artin.frobenius_schur_indicator', title='Ind') }}</th>
	<th>{{ KNOWL('artin.trace_of_complex_conj', title='$\chi(c)$')}}</th>
	</tr></thead>
	<tbody>

        {% for artin in info.results%}
        {% set art = initfunc(artin['Baselabel'],1) %}
        {% set galccsize = art.galois_conjugacy_size() %}
          <tr><td>
          {% for cnt in range(galccsize) %}
        {% set artx = initfunc(artin['Baselabel'],cnt+1) %}
        {% if info.sign_code == 0 or info.sign_code == art.sign() %}
            <a href = "{{artx.url_for()}}">{{artx.label()}}</a>
        {% endif %}
          {% endfor %}
            </td>
            <td align="center">${{art.dimension()}}$</td>
          <td>${{art.factored_conductor_latex()}}$</td>
          <td>{{ art.field_knowl()|safe }}</td>

	  {# <td align="center">{{artin.number_field_galois_group().G_name()}}</td> #}
	  <td align="center">{{art.pretty_galois_knowl() | safe }} </td>
	  <td align="center"> ${{artin.Indicator}}$</td>
	  <td align="center">${{art.trace_complex_conjugation()}}$</td>
	  </tr>
        {% endfor %}
	</tbody>
	</table>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
