{% extends "homepage.html" %}

{% block content %}

    <h2> Basic invariants</h2>
    <table>
        <tr><td>{{ KNOWL('artin.dimension', title='Dimension') }}:<td>${{ object.dimension() }}$ </tr>
        <tr><td>{{ KNOWL('artin.gg_quotient', title='Group') }}:<td>{{ object.pretty_galois_knowl() | safe }}</td>
        <tr><td>{{ KNOWL('artin.conductor', title='Conductor') }}:<td>{{ object.conductor_equation() | safe }}</tr>
        <tr><td> {{ KNOWL('artin.number_field', title='Artin number field') }}: <td>Splitting field of
                $f={{ object.number_field_galois_group().polynomial_latex()}}$ over $\Q$</tr>
        <tr><td> Size of {{ KNOWL('artin.galois_orbit', title='Galois orbit') }}: <td> {{object.galois_conjugacy_size()}}
        <tr><td> Smallest {{ KNOWL('artin.permutation_container', title='containing permutation representation') }}: <td> {{object.smallest_gal_t_format()|safe}}
        <tr><td> {{ KNOWL('artin.parity', title='Parity') }}:<td> {{ object.parity()}} </tr>
        <tr><td> {{ KNOWL('artin.projective_image', title='Projective image') }}: <td> {{ object.projective_group()|safe}} </tr>
        <tr><td> {{ KNOWL('artin.projective_field', title='Projective field') }}: <td> {{ object.projective_field()|safe}} </tr>
    </table>


    
    <h2> Galois action </h2>
     
    <h3>Roots of defining polynomial</h3>
    {% if object.number_field_galois_group().computation_minimal_polynomial()|length > 2 %}
    <div>
    The roots of $f$ are computed in an extension of $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    </div>
    <div>
    Minimal polynomial of a generator $a$ of $K$ over $\mathbb{Q}_{ {{object.number_field_galois_group().residue_characteristic()}} }$: ${{object.number_field_galois_group().computation_minimal_polynomial_latex()}}$
    </div>
    {% else %}
    The roots of $f$ are computed in $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    {% endif %}
   <div>
    Roots:
     <center>
      <table>
        {% for root in object.number_field_galois_group().computation_roots()%}
        <tr>
          <td> $r_{ {{loop.index}} }$</td>
          <td> $=$ </td>
          <td>${{root}} +O\left({{object.number_field_galois_group().residue_characteristic()}}^{ {{object.number_field_galois_group().computation_precision()}} }\right)$</td>
        {% endfor %}
      </table>
     </center>
   </div>
    
    <h3>Generators of the action on the roots 
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}
</h3>
    <div>
    <center>
    <table class="ntdata">
        <thead>
          <tr><td>Cycle notation</td>
          </tr>
        </thead>
      <tbody>
        {% for gen in object.number_field_galois_group().G_gens()%}
        <tr> <td><center>${{cycle_string(gen)}}$</center></td></tr>
        {% endfor %}
      </tbody>
      </table>
    </center>
    </div>
    
    <h3> Character values on conjugacy classes</h3>
    <div> 
      <center><table class="ntdata">
      <thead><tr><td>Size</td><td>Order</td><td>Action on
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}</td><td colspan="{{object.galois_conjugacy_size()}}" align="center">Character values</td></tr>
        <tr><td></td><td></td><td></td>
        {% for blah in allchars %}
        <td align="center">$c{{loop.index}}$</td>
        {% endfor %}
        </tr></thead>

      <tbody>
        {% for gen in object.number_field_galois_group().conjugacy_classes()%}
        {% set outer_loop = loop.index %}
            <tr {% if loop.index == object.number_field_galois_group().index_complex_conjugation()%}class="bluehighlight"{%endif%}> 
                <td align="center">${{gen.size()}}$</td>
                <td align="center">${{gen.order()}}$</td>
                <td align="center">${{cycle_string(gen.representative())}}$</td>
                {% for cvalue in allchars %}
                    <td align="center">${{ cvalue[outer_loop - 1]}}$</td>
                {% endfor %}
                </tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
       The blue line marks the conjugacy class containing complex conjugation.
    </div>
 <div>
   
{% endblock %}


