{% extends "homepage.html" %}

{% block content %}

    <h2> Basic invariants</h2>
    <table>
        <tr><td>{{ KNOWL('artin.dimension', title='Dimension') }}: </td><td>${{ object.dimension() }}$</td></tr>
        <tr><td>{{ KNOWL('artin.gg_quotient', title='Group') }}: </td><td>{{ object.pretty_galois_knowl() | safe }}</td></tr>
        <tr><td>{{ KNOWL('artin.conductor', title='Conductor') }}: </td><td>{{ object.conductor_equation() | safe }}</td></tr>
        {% if object.indicator() %}
        <tr><td class="nowrap">{{ KNOWL('artin.frobenius_schur_indicator', title='Frobenius-Schur indicator') }}: </td><td>${{ object.indicator()}}$</td></tr>
        {% endif %}
        {% if object.sign() %}
        <tr><td class="nowrap">{{ KNOWL('artin.root_number', title='Root number') }}: </td><td>${{ object.root_number()}}$</td></tr>
        {% endif %}
        <tr><td class="nowrap"> {{ KNOWL('artin.number_field', title='Artin number field') }}: </td><td>Splitting field of
                {% if wnf %}
                {{wnf.knowl()|safe}} defined by
                {%endif%}
                $f={{ object.number_field_galois_group().polynomial_latex()}}$ over $\Q$</td></tr>
        <tr><td class="nowrap"> {{ KNOWL('artin.galois_orbit', title='Galois orbit size') }}: </td><td> ${{object.galois_conjugacy_size()}}$ </td></tr>
        <tr><td class="nowrap"> {{ KNOWL('artin.permutation_container', title='Containing permutation representation') }}: </td><td> {{object.smallest_gal_t_format()|safe}}</td></tr>
        <tr><td> {{ KNOWL('artin.parity', title='Parity') }}: </td><td> {{ object.parity()}}</td></tr>
        {% if object.dimension() == 1 %}
            {%if object.det_url()=="Not available"%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Dirichlet character') }}: </td><td> {{ object.det_display()|safe}} </td></tr>
            {%else%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Dirichlet character') }}: </td><td> <a href={{object.det_url()}}>{{ object.det_display()|safe}}</a></td> </tr>
            {%endif%}
        {% else %}
            <tr><td> {{ KNOWL('artin.determinant', title='Determinant') }}: </td><td> {{ object.det_as_artin_display()|safe}} </td></tr>
        {% endif %}
        <tr><td class="nowrap"> {{ KNOWL('artin.projective_image', title='Projective image') }}: </td><td> {{ object.projective_group()|safe}} </td></tr>
        <tr><td class="nowrap"> {{ KNOWL('artin.projective_field', title='Projective field') }}: </td><td> {{ object.projective_field()|safe}} </td></tr>
    </table>


    
    <h2> Galois action </h2>
     
    <h3>Roots of defining polynomial</h3>
    {% if object.number_field_galois_group().computation_minimal_polynomial()|length > 2 %}
    <div>
    The roots of $f$ are computed in an extension of $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    </div>
    <div>
    Minimal polynomial of a generator $a$ of $K$ over $\mathbb{Q}_{ {{object.number_field_galois_group().residue_characteristic()}} }$: ${{object.number_field_galois_group().computation_minimal_polynomial_latex()}}$
    </div>
    {% else %}
    The roots of $f$ are computed in $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    {% endif %}
   <div>
    Roots:
      <center>
      <table>
        {% for root in object.number_field_galois_group().computation_roots()%}
        <tr>
          <td> $r_{ {{loop.index}} }$</td>
          <td> $=$ </td>
          <td>${{root}} +O\left({{object.number_field_galois_group().residue_characteristic()}}^{ {{object.number_field_galois_group().computation_precision()}} }\right)$</td>
        {% endfor %}
        </table>
      </center>
    </div>
    
    <h3>Generators of the action on the roots 
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}
</h3>
    <div>
    <center>
    <table class="ntdata">
        <thead>
          <tr><td>Cycle notation</td>
          </tr>
        </thead>
      <tbody>
        {% for gen in object.number_field_galois_group().G_gens()%}
        <tr> <td><center>${{cycle_string(gen)}}$</center></td></tr>
        {% endfor %}
      </tbody>
      </table>
    </center>
    </div>
    
    <h3> Character values on conjugacy classes</h3>
    <div> 
      <center><table class="ntdata">
      <thead><tr><td>Size</td><td>Order</td><td>Action on
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}</td><td>Character value</td></tr></thead>

      <tbody>
        {% for gen in object.number_field_galois_group().conjugacy_classes()%}
            <tr {% if loop.index == object.number_field_galois_group().index_complex_conjugation()%}class="bluehighlight"{%endif%}> 
                <td align="center">${{gen.size()}}$</td><td align="center">${{gen.order()}}$</td><td align="center">${{cycle_string(gen.representative())}}$</td><td align="center">${{ object.character_formatted()[loop.index - 1] }}$</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
       The blue line marks the conjugacy class containing complex conjugation.
    </div>
 {# For testing in progress
 <div>
 <br>
 {{ info.pol2 }} <br>
 {{ info.pol3 }} <br>
 {{ info.pol5 }} <br>
 {{ info.pol7 }} <br>
 {{ info.pol11 }} <br>
 </div>
 #}
   
{% endblock %}


