{% extends "homepage.html" %}

{% block content %}

    <h2> Basic invariants</h2>
    <table>
        <tr><td>{{ KNOWL('artin.dimension', title='Dimension') }}:<td>${{ object.dimension() }}$ </tr>
        <tr><td>{{ KNOWL('artin.gg_quotient', title='Group') }}:<td>{{ object.pretty_galois_knowl() | safe }}</td>
        <tr><td>{{ KNOWL('artin.conductor', title='Conductor') }}:<td>${{ object.conductor_equation() }} $</tr>
        <tr><td> {{ KNOWL('artin.number_field', title='Artin number field') }}: <td>Splitting field of
                $f={{ object.number_field_galois_group().polynomial().latex()}}$ over $\Q$</tr>
        <tr><td> Size of {{ KNOWL('artin.galois_orbit', title='Galois orbit') }}: <td> {{object.galois_conjugacy_size()}}
        <tr><td> Smallest {{ KNOWL('artin.permutation_container', title='containing permutation representation') }}: <td> {{object.smallest_gal_t_format()|safe}}
        <tr><td> {{ KNOWL('artin.parity', title='Parity') }}:<td> {{ object.parity()}} </tr>
        {% if object.dimension() == 1 %}
            {%if object.det_url()=="Not available"%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Corresponding Dirichlet character') }}: <td> {{ object.det_display()|safe}} </tr>
            {%else%}
                <tr><td> {{ KNOWL('artin.dimensionone', title='Corresponding Dirichlet character') }}: <td> <a href={{object.det_url()}}>{{ object.det_display()|safe}}</a> </tr>
            {%endif%}
        {% else %}
            <tr><td> {{ KNOWL('artin.determinant', title='Determinant') }}: <td> {{ object.det_as_artin_display()|safe}} </tr>
        {% endif %}
    </table>


    
    <h2> Galois action </h2>
     
    <h3>Roots of defining polynomial</h3>
    {% if object.number_field_galois_group().computation_minimal_polynomial()|length > 2 %}
    <div>
    The roots of $f$ are computed in an extension of $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    </div>
    <div>
    Minimal polynomial of a generator $a$ of $K$ over $\mathbb{Q}_{ {{object.number_field_galois_group().residue_characteristic()}} }$: ${{object.number_field_galois_group().computation_minimal_polynomial().latex()}}$
    </div>
    {% else %}
    The roots of $f$ are computed in $\Q_{ {{object.number_field_galois_group().residue_characteristic()}} }$ to precision {{object.number_field_galois_group().computation_precision()}}.
    {% endif %}
   <div>
    Roots:
    {#
    <center>
      <table class="ntdata">
      <tbody>
        {% for root in object.number_field_galois_group().computation_roots()%}
          <tr> <td>$r_{{loop.index}}$</td><td>${{root.latex(letter="a")}} +O\left({{object.number_field_galois_group().residue_characteristic()}}^{ {{object.number_field_galois_group().computation_precision()}} }\right)$</td></tr>
        {% endfor %}
        
      </tbody>
      </table>
      </center>
      #}
      \[ \begin{aligned}
        {% for root in object.number_field_galois_group().computation_roots()%}
          r_{ {{loop.index}} } &= {{root.latex(letter="a")}} +O\left({{object.number_field_galois_group().residue_characteristic()}}^{ {{object.number_field_galois_group().computation_precision()}} }\right) \\
        {% endfor %}
        \end{aligned}\]
    </div>
    
    <h3>Generators of the action on the roots 
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}
</h3>
    <div>
    <center>
    <table class="ntdata">
        <thead>
          <tr><td>Cycle notation</td>
          </tr>
        </thead>
      <tbody>
        {% for gen in object.number_field_galois_group().G_gens()%}
        <tr> <td><center>${{gen.cycle_string()}}$</center></td></tr>
        {% endfor %}
      </tbody>
      </table>
    </center>
    </div>
    
    <h3> Character values on conjugacy classes</h3>
    <div> 
      <center><table class="ntdata">
      <thead><tr><td>Size</td><td>Order</td><td>Action on
    {% if object.number_field_galois_group().degree() < 4  %}
        ${% for i in range(1, object.number_field_galois_group().degree()+1) %}
             r_{ {{i}} }{% if not loop.last %},  {% endif %}
        {% endfor %}$
    {% else %}
        $r_1, \ldots, r_{ {{object.number_field_galois_group().degree()}} }$
    {% endif %}</td><td>Character value</td></tr></thead>

      <tbody>
        {% for gen in object.number_field_galois_group().conjugacy_classes()%}
            <tr {% if loop.index == object.number_field_galois_group().index_complex_conjugation()%}class="bluehighlight"{%endif%}> 
                <td align="center">${{gen.size()}}$</td><td align="center">${{gen.order()}}$</td><td align="center">${{gen.representative().cycle_string()}}$</td><td align="center">${{ object.character_formatted()[loop.index - 1] }}$</td></tr>
        {% endfor %}
      </tbody>
      </table>
      </center>
       The blue line marks the conjugacy class containing complex conjugation.
    </div>
 <div>
 {# For testing in progress
 <br>
 {{ info.pol2 }} <br>
 {{ info.pol3 }} <br>
 {{ info.pol5 }} <br>
 {{ info.pol7 }} <br>
 {{ info.pol11 }} <br>
 </div>
 #}
   
{% endblock %}


