{% extends "homepage.html" %}

{% block content %}
<h1>Title {{ KNOWL("test.1") }}</h1>

<h2>Testing Knowl Parameters</h2>
<div>Expand this "{{ KNOWL('test.knowlparam', x=1, y='hello parameter!') }}" Knowl
which gets x=1 and y="hello parameter!"  as parameters and does something with it.</div>

<h2>Testing Knowl filter "knowl_type"</h2>
<div>
<ul>
  <li>This should be true:
    {% if k1 is knowl_type %}true{% else %}false{% endif %}
  </li>
  <li>This should be false:
    {% if info is knowl_type %}true{% else %}false{% endif %}
  </li>
</ul>
</div>

<h2>KNOWL_INC</h2>

{{ KNOWL_INC('alg.dirichlet_series', htag="h3") }}

<h2>Missing Knowl</h2>

{{ KNOWL_INC('knowl.missing') }}

{{ lipsum(1) }}
<div>Some other {{ KNOWL("test.text") }} you should read.</div>
{{ lipsum(1) }}


<h1>Title {{ KNOWL("test.2") }}</h1>
<div>text</div>
<h2>H2 Title  {{ KNOWL("test.2") }}</h2>

<div>{{ lipsum(2) }}</div>
{% endblock %}
