{% extends "homepage.html" %}

{% block content %}
{# <h1>Edit Knowl '{{ k.id }}'</h1> #}
<form action="{{ url_for('.save_form') }}" method="POST">
  <input type="hidden" name="id" value="{{ k.id }}"/>
  <table>
   <tr>
     <td>ID</td><td><a href="{{ url_for('.render', ID = k.id) }}">{{ k.id }}</a></td>
   </tr>
   <tr>
     <td>Title</td>
     <td><input size="40" name="title" id="ktitle" value="{{ k.title }}" /></td>
   </tr>
   <tr>
     <td>Content</td>
     <td><textarea cols="40" rows="10"
          name="content" id="kcontent">{{ k.content }}</textarea>
     </td>
   </tr>
  </table>
   <button type="submit" id="knowl-edit-btn">Save</button>
   <a style="margin-left: 20px;" onclick="update();" href="#">Preview</a>
</form>

<h1>Preview Knowl</h1>
<div id="knowl-preview" class="knowl">
   <h1 id="knowl-title"></h1>
   <div id="knowl-content"></div>
</div>

<script type="text/javascript">
// the dom fields we are working with
var $ktitle    = $("#ktitle");
var $kcontent  = $("#kcontent");
var $title     = $("#knowl-title");
var $content   = $("#knowl-content");
// state flags
var update_id     = null;
var reparse_latex = false;
// parameters
var UPDATE_TIMEOUT = 5000;

/* markdown disabled */
/* var converter = new Showdown.converter(); */

function update() {
  //console.log("running update");
  /* $title.html($ktitle.val()); */
  $title.html("updating ...");
  /* markdown disabled */
  /* $content.html(converter.makeHtml($kcontent.val())); */
  var content_esc = escape($kcontent.val());
  var url_base = "{{ url_for('.render', ID=k.id)}}";
  var url = url_base + "?content=" + content_esc;

  $content.load(url, function(response, status, xhr) {
    if (status == "error") {
      $title.html("ERROR");
      return;
    } else if (status == "timeout") {
      $title.html("TIMEOUT");
      return;
    }
    $title.html("Processing ...");
    MathJax.Hub.Queue(["Typeset", MathJax.Hub, $title.get()]);
    MathJax.Hub.Queue(["Typeset", MathJax.Hub, $content.get()]);
    MathJax.Hub.Queue(function () {  
      update_id = null;
      // MathJax tells us it is done.
      // has there been a call in the meantime and we have to do this again?
      if (reparse_latex) {
        /* console.log("reparse_latex == true"); */
        reparse_latex = false;
        update();
      } 
    });
    MathJax.Hub.Queue(function() {$title.html($ktitle.val())});
  });
}

// if nothing scheduled, update in 250ms
// otherwise tell it to reparse the latex
function update_delay() {
  if (update_id) {
    //console.log("clearing timeout " + update_id);
    // window.clearTimeout(update_id);
    reparse_latex = true;
  } else {
    update_id = window.setTimeout(update, UPDATE_TIMEOUT);
  }
}

// register keyhandlers
$(function() {
  $ktitle.keyup(   function(evt) { update_delay(); });
  $kcontent.keyup( function(evt) { update_delay(); });
  update();
});
</script>
{% endblock %}
