{% extends "homepage.html" %}

{% block content %}
{# <h1>Edit Knowl '{{ k.id }}'</h1> #}
<form action="{{ url_for('.save_form') }}" method="POST">
  <input type="hidden" name="id" value="{{ k.id }}"/>
  <table>
   <tr>
     <td>ID</td><td><a href="{{ url_for('.render', ID = k.id) }}">{{ k.id }}</a></td>
   </tr>
   <tr>
     <td>Title</td>
     <td><input size="40" name="title" id="ktitle" value="{{ k.title }}" /></td>
   </tr>
   <tr>
     <td>Content</td>
     <td><textarea cols="40" rows="10"
          name="content" id="kcontent">{{ k.content }}</textarea>
     </td>
   </tr>
  </table>

  <button id="knowl-edit-btn">Save</button>
</form>

<h1>Preview Knowl</h1>
<div id="knowl-preview" class="knowl">
   <h1 id="knowl-title"></h1>
   <div id="knowl-content"></div>
</div>

<script type="text/javascript">
// the dom fields we are working with
// (only look them up once!)
var $ktitle = $("#ktitle");
var $kcontent = $("#kcontent");
var $title = $("#knowl-title");
var $content = $("#knowl-content");
// state flags
var update_id = null;
var reparse_latex = false;

/* markdown disabled */
/* var converter = new Showdown.converter(); */

function update() {
  //console.log("running update");
  $title.html($ktitle.val());
  /* markdown disabled */
  /* $content.html(converter.makeHtml($kcontent.val())); */
  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $title.get()]);
  MathJax.Hub.Queue(["Typeset", MathJax.Hub, $content.get()]);
  MathJax.Hub.Queue(function () {  
    update_id = null;
    // MathJax tells us it is done.
    // was there a call and we have to do this again?
    if (reparse_latex) {
      console.log("reparse_latex == true");
      reparse_latex = false;
      update();
    } else {
      // otherwise we finish.
      update_id = null;
    }
  });
}

// if nothing scheduled, update in 250ms
// otherwise tell it to reparse the latex
function update_delay() {
  if (update_id) {
    //console.log("clearing timeout " + update_id);
    // window.clearTimeout(update_id);
    reparse_latex = true;
  } else {
    update_id = window.setTimeout(update, 250);
  }
}

// register keyhandlers
$(function() {
  $ktitle.keyup(   function(evt) { update_delay(); });
  $kcontent.keyup( function(evt) { update_delay(); });
  update();
});
</script>
{% endblock %}
