{% extends "homepage.html" %}

{% block content %}

<form>
<input type="hidden" name="start" value="{{info.start}}"/>
<input type="hidden" name="paging" value="0"/>
<table border="0">

<tr>
<td align=left> 
{{KNOWL('gg.degree',title='Degree')}}<td align=left> <input type='text' name='n' size=3 value="{{info.n}}">
</td>

<td align=left> 
{{KNOWL('gg.tnumber',title='$t$')}} :
<td align=left> <input type="text" name="t" size="3" value="{{info.t}}" ></td>
</tr>
<tr>
<td align='left' colspan='4'>Maximum number of groups to display <input type='text' name='count' value="{{info.count}}" size='10'>
</td>
</tr>
<tr>
<td align=left colspan="2"> 
<button type='submit' value='refine'>Search again</button>
</td></tr>
</table>
</form>


<h2> Results: ({{info.report}}) </h2>

<table border=1 cellpadding=5 class="ntdata">
<thead>
<tr>
<th>Label</th>
<th>Name</th>
<th>Order</th>
<th>Parity</th>
<th>Solvable</th>
</tr>
</thead>
<tbody>

{% for group in info.groups: %}
<tr>
<td><a href="/GaloisGroup/{{group.label}}">{{group.label}}</a></td>
<td>{{info.group_display([group.n, group.t])}}</td>
<td align="right">{{group.order}}</td>
<td align="right">{{group.parity}}</td>
<td align="center">{{info.yesno(group.solv)}}</td>
</tr>

{% endfor %}

</tbody>
</table>
<br>
<a href="#" class="navlink" onclick="decrease_start_by_count_and_submit_form();return false">Previous</A>
<a href="#" class="navlink" onclick="increase_start_by_count_and_submit_form();return false">Next</A></td>



{% endblock %}
