{% extends "homepage.html" %}

{% block content %}

  <p><h2>{{ KNOWL('gg.group_action_invariants', title='Group action invariants') }}</h2>
    <table>
      <tr><td>Degree $n$ :<td>&nbsp;&nbsp;<td>${{info.n}}$</tr>
      <tr><td>Transitive number $t$ :<td>&nbsp;&nbsp;<td>${{info.t}}$</tr>
      <tr><td>Parity:<td>&nbsp;&nbsp;<td>{{info.parity}}</tr>
      <tr><td>Primitive:<td>&nbsp;&nbsp;<td>{{info.yesno(info.prim)}}</tr>
      <tr><td>$|\textrm{Aut}(F/K)|$:<td>&nbsp;&nbsp;<td>${{info.auts}}$</tr>
      <tr><td>Low degree resolvents:<td>&nbsp;&nbsp;<td>{{info.resolve|safe}}</tr>
    </table>
  </p>

  <p><h2>{{ KNOWL('gg.subfields', title='Subfields') }}</h2>
   <p>
   <blockquote>
    {{info.subinfo|safe}}
   </blockquote>
   </p>

  <p><h2>{{ KNOWL('gg.other_representations', title='Other representations') }}</h2>
   <p>
   <blockquote>
    {{info.otherreps|safe}}
   </blockquote>
   </p>

<p><h2> {{ KNOWL('gg.invariants', title='Group invariants') }}</h2>
  <p>
    <table>
      <tr><td>Order:<td>&nbsp;&nbsp;<td>${{info.order}}={{info.orderfac}}$</tr>
      <tr><td>Cyclic:<td>&nbsp;&nbsp;<td>{{info.yesno(info.cyc)}}</tr>
      <tr><td>Abelian:<td>&nbsp;&nbsp;<td>{{info.yesno(info.ab)}}</tr>
      <tr><td>Solvable:<td>&nbsp;&nbsp;<td>{{info.yesno(info.solv)}}</tr>
    </table>
  </p>

  <p><h2>{{ KNOWL('gg.more_group_invariants', title='More group invariants') }}</h2>
    <table>
      <tr><td>Character table:<td>&nbsp;&nbsp;<td><pre>
{{info.chartable}}
</pre></td></tr>
    </table>
  </p>

{% endblock %}
