{% extends "homepage.html" %}

{% block content %}

<div>
{{ KNOWL_INC('gg.extent') }}
</div>

<h2>Browse {{KNOWL('gg.galois_group', title="Galois groups")}}</h2>


<p>
Browse by {{KNOWL('gg.degree', title='degree')}} $n$:
{% for n in info.degree_list: %}
   <a href="?n={{n}}">{{n}}</a>{% if not loop.last %},{% endif %}
{% endfor %}
</p>

<p>
Browse by type:
<a href="?parity=-1">Odd</a>,
<a href="?parity=1">Even</a>,
<a href="?cyc=True">Cyclic</a>,
<a href="?cyc=False">Non-cyclic</a>,
<a href="?solv=True">Solvable</a>,
<a href="?solv=False">Non-solvable</a>,
<a href="?prim=True">Primitive</a>,
<a href="?prim=False">Imprimitive</a>

<p>
Browse by abstract group:
<a href="?gal=S3">$S_3$</a>,
<a href="?gal=D4">$D_4$</a>,
<a href="?gal=A4">$A_4$</a>,
<a href="?gal=S4">$S_4$</a>,
<a href="?gal=A5">$A_5$</a>,
<a href="?gal=S5">$S_5$</a>,
<a href="?gal=GL(3,2)">$\GL(3,2)$</a>,
<a href="?gal=A6">$A_6$</a>,
<a href="?gal=PSL(2,8)">$\PSL(2,8)$</a>,
<a href="?gal=PSL(2,11)">$\PSL(2,11)$</a>,
<a href="?gal=PSL(2,13)">$\PSL(2,13)$</a>,
<a href="?gal=PSL(3,3)">$\PSL(3,3)$</a>,
<a href="?gal=PSU(3,3)">$\PSU(3,3)$</a>,
<a href="?gal=PSp(4,3)">$\PSp(4,3)$</a>,
<a href="?gal=M11">$M_{11}$</a>,
<a href="?gal=M12">$M_{12}$</a>
<p>

<p>
A <a href={{url_for('.random_group')}}>random Galois group</a> from the database.
</p>

<h2>Find a specific Galois group by {{KNOWL('gg.label',title="label")}}</h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

<h2>Search</h2>
<form id="search" onsubmit="cleanSubmit(this.id)">
  {{ info.search_array.html() | safe }}
</form>

{% endblock %}
