{% extends "homepage.html" %}

{% block content %}

<style type="text/css">
table.ntdata a {
  display:inline;
  padding:0px;
}
</style>

{% include 'refine_search_form.html' %}

{% if info.err is defined %}
{% if info.label is defined %}
<form>
<table border=0 cellpadding=5>
<tr>
    <td>
      Search by {{KNOWL('gg.label',title="label")}}
      <input type="text" name="jump_to" value="{{info.label}}">
      <button type="submit" value="Find">Find</button>
    </td>
    <td>
      <span class="formexample">a Galois group label, e.g. 6T3</span>
    </td>
</tr>
</table>
</form>
{% endif %}
{% endif %}

{% include 'matches.html' %}
{% if info.number %}

<table border=0 cellpadding=3 class="ntdata">
<thead>
<tr>
<th>{{KNOWL('gg.label', title='Label')}}</th>
<th>{{KNOWL('gg.simple_name', title='Name')}}</th>
<th>{{KNOWL('group.order', title='Order')}}</th>
<th>{{ KNOWL('gg.parity', 'Parity') }} </th>
<th>{{ KNOWL('group.solvable', 'Solvable') }}</th>
{% if info.show_subs %}
<th>{{ KNOWL('gg.subfields', title='Subfields') }}</th>
{% endif %}
<th>{{ KNOWL('gg.other_representations', 'Low Degree Siblings') }} </th>
</tr>
</thead>
<tbody>

{% for group in info.results: %}
{% set wgg = info.wgg(group) %}
<tr>
<td><a href="/GaloisGroup/{{group.label}}">{{group.label}}</a></td>
<td>{{info.group_display(group.n, group.t)}}</td>
<td align="right">{{group.order}}</td>
<td align="right">{{group.parity}}</td>
<td align="center">{{info.yesno(group.solv)}}</td>
{% if info.show_subs %}
<td >{{ wgg.subfields() | safe }}</td>
{% endif %}
<td >{{wgg.otherrep_list(givebound=False)|safe}}</td>
</tr>

{% endfor %}

</tbody>
</table>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
<p>
Results are complete for degrees $\leq 23$.
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
