{% extends "homepage.html" %}

{% block content %}

<style>
table.reptable td, table.reptable th {
    text-align:center;
    padding-top: 6px;
    padding-bottom: 6px;
}
</style>

{% set KNOWL_ID = "gg.%s"|format(info['label_raw']) %}
<h2>{{ KNOWL_INC(KNOWL_ID+'.top', title='') }}</h2>

  <p><h2>{{ KNOWL('gg.group_action_invariants', title='Group action invariants') }}</h2>
    <table>
      <tr><td>{{KNOWL('gg.degree', 'Degree')}} $n$ :<td>&nbsp;&nbsp;<td>${{info.n}}$</tr>
      <tr><td>{{KNOWL('gg.tnumber', 'Transitive number')}} $t$ :<td>&nbsp;&nbsp;<td>${{info.t}}$</tr>
      {% if info.pretty_name %}
      <tr><td>{{KNOWL('gg.simple_name', title='Group')}} :<td>&nbsp;&nbsp;<td>{{info.pretty_name}}</tr>
      {% endif %}
      <tr><td>{{KNOWL('gg.conway_name', title='CHM label')}} :<td>&nbsp;&nbsp;<td>${{info.name}}$</tr>
      <tr><td>{{KNOWL('gg.parity','Parity')}}:<td>&nbsp;&nbsp;<td>{{info.parity}}</tr>
      <tr><td>{{KNOWL('gg.primitive', 'Primitive')}}:<td>&nbsp;&nbsp;<td>{{info.yesno(info.prim)}}</tr>
      <tr><td>{{KNOWL('group.generators', 'Generators')}}:<td>&nbsp;&nbsp;<td>{{info.gens}}</tr>
      <tr><td>{{KNOWL('gg.field_automorphisms', '$|\Aut(F/K)|$')}}:<td>&nbsp;&nbsp;<td>${{info.auts}}$</tr>
      <tr><td>{{KNOWL('gg.resolvents', 'Low degree resolvents')}}:<td>&nbsp;&nbsp;<td>{{info.resolve|safe}}</tr>
    </table>
  </p>

  <p><h2>{{ KNOWL('gg.subfields', title='Subfields') }}</h2>
   <p>
   <blockquote>
    {{info.subinfo|safe}}
   </blockquote>
   </p>

  <p><h2>{{ KNOWL('gg.other_representations', title='Low degree siblings') }}</h2>
   <p>
   <blockquote>
    {{info.otherreps|safe}}
   </blockquote>
   {% if info.arith_equiv %}
     <blockquote>
        {{info.arith_equiv|safe}}
     </blockquote>
   {% endif %}
   </p>

  <p><h2>{{ KNOWL('gg.conjugacy_classes', title='Conjugacy Classes') }}</h2>
   <p>

   <table class="ntdata">
      <thead><tr><td>Cycle Type</td><td>Size</td><td>Order</td><td>Representative</td></tr></thead>
      <tbody>
        {% for c in info.cclasses %}
           <tr><td> ${{c[3]}}$</td>
              <td> ${{c[2]}}$</td>
              <td> ${{c[1]}}$</td>
              <td> ${{c[0]}}$</td>
           </tr>
        {% endfor %}
      </tbody>
      </table>


   </p>


<p><h2> {{ KNOWL('gg.invariants', title='Group invariants') }}</h2>
  <div>
    <table>
      <tr><td>{{KNOWL('group.order','Order')}}:<td>&nbsp;&nbsp;<td>{{info.ordermsg }}</tr>
      <tr><td>{{KNOWL('group.cyclic','Cyclic')}}:<td>&nbsp;&nbsp;<td>{{info.yesno(info.cyc)}}</tr>
      <tr><td>{{KNOWL('group.abelian', 'Abelian')}}:<td>&nbsp;&nbsp;<td>{{info.yesno(info.ab)}}</tr>
      <tr><td>{{KNOWL('group.solvable', 'Solvable')}}:<td>&nbsp;&nbsp;<td>{{info.yesno(info.solv)}}</tr>
      <tr><td>{{KNOWL('curve.highergenus.aut.groupnotation','GAP id')}}:<td>&nbsp;&nbsp;<td>{{info.gapid | safe}}</tr>
    </table>

    <table>
      <tr><td>Character table:<td>&nbsp;&nbsp;<td><pre>
{{info.chartable}}
</pre></td></tr>
    </table> </div> </p>
{% if info.int_reps %}
<p><h2>{{ KNOWL('gg.int_modules', title='Indecomposable integral representations') }}</h2>
</p>
<table>
<tr><td> 
{% if info['int_reps_complete'] > 0 %}
Complete 
{% else %}
Partial
{% endif %}
list of indecomposable integral representations:
  <p>
  <div>
    <table class="ntdata reptable">
        <tr><th>{{ KNOWL('gg.int_modules.names', title='Name') }}</th> <th>Dim</th> 
        {% for gen in info['int_rep_classes'] %}
          <th> ${{ gen | safe  }} \mapsto $ </th>
        {% endfor %}
        </tr>
    {% for rep in info['int_reps'] %}
      <tr>
          <td> {{ rep['name'] | safe }} </td> <td> ${{rep['dim'] }}$ </td> 
        {% for gen in rep['gens'] %}
          <td> ${{ gen | safe  }}$ </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </table>
  </div>
</table>
  {% if info['decompunique'] == 0 %}
    The decomposition of an arbitrary integral representation as a direct
    sum of indecomposables is unique.
  {% elif info['decompunique'] == 1 %}
       The decomposition of an arbitrary integral representation as a direct
       sum of indecomposables is not unique, in general. It
       is unique up to the following isomorphisms:
    <table cellpadding="0" cellspacing="0">
    {% for isom in info['isoms'] %}
      <tr>
      <td align="right"> {{ isom[0] | safe }} <td>$\cong$<td align="center"> {{ isom[1] | safe }}
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endif %}

<h2>{{ KNOWL_INC(KNOWL_ID+'.bottom', title='') }}</h2>

{% endblock %}
