{% extends "homepage.html" %}

{% block content %}

<style type="text/css">
table.ntdata a {
  display:inline;
  padding:0px;
}
</style>

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<table border="0">

          <tr>
            <td colspan="6" align="center">
            <table>
              <tr>
                <td align="center">{{KNOWL('gg.parity', 'Parity')}}</td>
                <td align="center">{{KNOWL('group.cyclic', 'Cyclic')}}</td>
                <td align="center">{{KNOWL('group.solvable', 'Solvable')}}</td>
                <td align="center">{{KNOWL('gg.primitive', 'Primitive')}}</td>
              </tr>
              <tr>
                <td> <select name='parity'>
 {% if info.parity=='1' %}
                   <option value='Any'>All</option>
                   <option value='-1'>Odd</option>
                   <option selected='yes' value='1'>Even</option>
 {% elif info.parity=='-1' %}
                   <option value='Any'>All</option>
                   <option selected='yes' value='-1'>Odd</option>
                   <option value='1'>Even</option>
 {% else %}
                   <option selected='yes' value='Any'>All</option>
                   <option value='-1'>Odd</option>
                   <option value='1'>Even</option>
 {% endif %}
                  </select>
                </td>
                <td> <select name='cyc'>
 {% if info.cyc=='True' %}
                   <option value='Any'>All</option>
                   <option selected='yes' value='True'>Yes</option>
                   <option value='False'>No</option>
 {% elif info.cyc=='False' %}
                   <option value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option selected='yes' value='False'>No</option>
 {% else %}
                   <option selected='yes' value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
 {% endif %}
                  </select>
                </td>
                <td> <select name='solv'>
 {% if info.solv=='True' %}
                   <option value='Any'>All</option>
                   <option selected='yes' value='True'>Yes</option>
                   <option value='False'>No</option>
 {% elif info.solv=='False' %}
                   <option value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option selected='yes' value='False'>No</option>
 {% else %}
                   <option selected='yes' value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
 {% endif %}
                  </select>
                </td>
                <td> <select name='prim'>
 {% if info.prim=='True' %}
                   <option value='Any'>All</option>
                   <option selected='yes' value='True'>Yes</option>
                   <option value='False'>No</option>
 {% elif info.prim=='False' %}
                   <option value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option selected='yes' value='False'>No</option>
 {% else %}
                   <option selected='yes' value='Any'>All</option>
                   <option value='True'>Yes</option>
                   <option value='False'>No</option>
 {% endif %}
                  </select>
                </td>
              </tr>
            </table>
          </td>
        </tr>


<tr>
<td align=left> 
{{KNOWL('gg.degree',title='degree')}} <td align=left> <input type='text' name='n' size="5" value="{{info.n}}">
</td>

<td align=left> 
{{KNOWL('gg.tnumber',title='$t$')}} 
<td align=left> <input type="text" name="t" size="5" value="{{info.t}}" ></td>

<td align=left> 
{{KNOWL('group.order',title='order')}} 
<td align=left> <input type="text" name="order" size="5" value="{{info.order}}" ></td>
<td align=left> 
{{KNOWL('curve.highergenus.aut.groupnotation',title='GAP id')}} 
<td align=left><input type="text" name="gapid" size="5" value="{{info.gapid}}" ></td>
</tr>

<tr>
<td align='left' colspan='8'>Maximum number of groups to display: <input type='text' name='count' value="{{info.count}}" size='10'>
</td>
</tr>
<tr>
<td align=left colspan="2"> 
<button type='submit' value='refine'>Search again</button>
</td></tr>
</table>
</form>

{% if info.err is defined %}
{% if info.label is defined %}
<form>
<table border=0 cellpadding=5>
<tr>
    <td>
      Search by {{KNOWL('gg.label',title="label")}}
      <input type="text" name="jump_to" value="{{info.label}}">
      <button type="submit" value="Find">Find</button>
    </td>
    <td>
      <span class="formexample">a Galois group label, e.g. 6T3</span>
    </td>
</tr>
</table>
</form>
{% endif %}
{% endif %}

{% include 'matches.html' %}
{% if info.number %}

<table border=1 cellpadding=5 class="ntdata">
<thead>
<tr>
<th>{{KNOWL('gg.label', title='Label')}}</th>
<th>{{KNOWL('gg.simple_name', title='Name')}}</th>
<th>{{KNOWL('group.order', title='Order')}}</th>
<th>{{ KNOWL('gg.parity', 'Parity') }} </th>
<th>{{ KNOWL('gg.solvable', 'Solvable') }}</th>
{% if info.show_subs %}
<th>{{ KNOWL('gg.subfields', title='Subfields') }}</th>
{% endif %}
<th>{{ KNOWL('gg.other_representations', 'Low Degree Siblings') }} </th>
</tr>
</thead>
<tbody>

{% for group in info.results: %}
{% set wgg = info.wgg(group) %}
<tr>
<td><a href="/GaloisGroup/{{group.label}}">{{group.label}}</a></td>
<td>{{info.group_display(group.n, group.t)}}</td>
<td align="right">{{group.order}}</td>
<td align="right">{{group.parity}}</td>
<td align="center">{{info.yesno(group.solv)}}</td>
{% if info.show_subs %}
<td >{{ wgg.subfields() | safe }}</td>
{% endif %}
<td >{{wgg.otherrep_list()|safe}}</td>
</tr>

{% endfor %}

</tbody>
</table>
<hr>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
<p>
Results are complete for degrees $\leq 23$.
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
