{% extends "homepage.html" %}

{% block content %}

<table>
  <tr>
    <td>
      <h1>Browse</h1>

The table gives
<table border=1 cellpadding=5 class='right_align_table'>
<tr>
<th>$p$ \ $n$</th>
<th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th>
<th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th>
</tr>
<tr>
<th>2</th> <td><a href="?p=2&n=2">7</a></td> <td><a href="?p=2&n=3">2</a></td> <td><a href="?p=2&n=4">59</a></td> <td><a href="?p=2&n=5">2</a></td> <td><a href="?p=2&n=6">47</a></td> <td><a href="?p=2&n=7">2</a></td> <td><a href="?p=2&n=8">1823</a></td> <td><a href="?p=2&n=9">3</a></td> <td><a href="?p=2&n=10">158</a></td> <td><a href="?p=2&n=11">2</a></td>
</tr>
<tr>
<th>3</th>
<td><a href="?p=3&n=2">3</a></td> <td><a href="?p=3&n=3">10</a></td> <td><a href="?p=3&n=4">5</a></td> <td><a href="?p=3&n=5">2</a></td> <td><a href="?p=3&n=6">75</a></td> <td><a href="?p=3&n=7">2</a></td> <td><a href="?p=3&n=8">8</a></td> <td><a href="?p=3&n=9">795</a></td> <td><a href="?p=3&n=10">6</a></td> <td><a href="?p=3&n=11">2</a></td>
</tr>
<tr>
<th>5</th>
<td><a href="?p=5&n=2">3</a></td> <td><a href="?p=5&n=3">2</a></td> <td><a href="?p=5&n=4">7</a></td> <td><a href="?p=5&n=5">26</a></td> <td><a href="?p=5&n=6">7</a></td> <td><a href="?p=5&n=7">2</a></td> <td><a href="?p=5&n=8">11</a></td> <td><a href="?p=5&n=9">3</a></td> <td><a href="?p=5&n=10">258</a></td> <td><a href="?p=5&n=11">2</a></td>
</tr>
<tr>
<th>7</th>
<td><a href="?p=7&n=2">3</a></td> <td><a href="?p=7&n=3">4</a></td> <td><a href="?p=7&n=4">5</a></td> <td><a href="?p=7&n=5">2</a></td> <td><a href="?p=7&n=6">12</a></td> <td><a href="?p=7&n=7">50</a></td> <td><a href="?p=7&n=8">8</a></td> <td><a href="?p=7&n=9">7</a></td> <td><a href="?p=7&n=10">6</a></td> <td><a href="?p=7&n=11">2</a></td> 
</tr>
<tr>
<th>11</th>
<td><a href="?p=11&n=2">3</a></td> <td><a href="?p=11&n=3">2</a></td> <td><a href="?p=11&n=4">5</a></td> <td><a href="?p=11&n=5">6</a></td> <td><a href="?p=11&n=6">7</a></td> <td><a href="?p=11&n=7">2</a></td> <td><a href="?p=11&n=8">8</a></td> <td><a href="?p=11&n=9">3</a></td> <td><a href="?p=11&n=10">18</a></td> <td><a href="?p=11&n=11">122</a></td> 
</tr>
<tr>
<th>13</th>
<td><a href="?p=13&n=2">3</a></td> <td><a href="?p=13&n=3">4</a></td> <td><a href="?p=13&n=4">7</a></td> <td><a href="?p=13&n=5">2</a></td> <td><a href="?p=13&n=6">12</a></td> <td><a href="?p=13&n=7">2</a></td> <td><a href="?p=13&n=8">11</a></td> <td><a href="?p=13&n=9">7</a></td> <td><a href="?p=13&n=10">6</a></td> <td><a href="?p=13&n=11">2</a></td>
</tr>
<tr>
<th>17</th>
<td><a href="?p=17&n=2">3</a></td> <td><a href="?p=17&n=3">2</a></td> <td><a href="?p=17&n=4">7</a></td> <td><a href="?p=17&n=5">2</a></td> <td><a href="?p=17&n=6">7</a></td> <td><a href="?p=17&n=7">2</a></td> <td><a href="?p=17&n=8">15</a></td> <td><a href="?p=17&n=9">3</a></td> <td><a href="?p=17&n=10">6</a></td> <td><a href="?p=17&n=11">2</a></td>
</tr>
<tr>
<th>19</th>
<td><a href="?p=19&n=2">3</a></td> <td><a href="?p=19&n=3">4</a></td> <td><a href="?p=19&n=4">5</a></td> <td><a href="?p=19&n=5">2</a></td> <td><a href="?p=19&n=6">12</a></td> <td><a href="?p=19&n=7">2</a></td> <td><a href="?p=19&n=8">8</a></td> <td><a href="?p=19&n=9">13</a></td> <td><a href="?p=19&n=10">8</a></td> <td><a href="?p=19&n=11">2</a></td>
</tr>
<tr>
<th>23</th>
<td><a href="?p=23&n=2">3</a></td> <td><a href="?p=23&n=3">2</a></td> <td><a href="?p=23&n=4">5</a></td> <td><a href="?p=23&n=5">2</a></td> <td><a href="?p=23&n=6">7</a></td> <td><a href="?p=23&n=7">2</a></td> <td><a href="?p=23&n=8">8</a></td> <td><a href="?p=23&n=9">3</a></td> <td><a href="?p=23&n=10">6</a></td> <td><a href="?p=23&n=11">12</a></td> 
</tr>

</table>

</td>
</tr>

<tr>
  <td>
    <h1>Find a specific local field</h1>

  Search by {{KNOWL('lf.field.label',title="label")}}
  <div>
        <form name="search" method = "get" action="{{search}}">      
          <input type="text" name="jump_to" value="" placeholder="2.3.5"> 
          <input type="submit" value="Find">
        </form>
      </div>
    </td>
</tr>

<tr>
    <td>
      <form name="search" method = "get" action="{{search}}">
        <h1>Search</h1>
        <table class="">
          <tr>
            <td>
          {{KNOWL('mf.elliptic.level',title='Degree')}}:
            </td><td><input type="text" name="degree" value="" example="4"></td>
          </tr>
          <tr>
            <td>
              {{KNOWL('mf.elliptic.weight',title='Weight')}}:
            </td><td><input type="text" name="weight" value="" placeholder="12"></td>
          </tr>
  </table>
        <input type="submit" name="Submit" value="Search">
      </form>
    </td>
  </tr>
</table>



{% endblock %}
