{% extends "homepage.html" %}

{% block content %}

{% include 'refine_search_form.html' %}

{% include 'matches.html' %}
{% if info.number %}
<table border=1 cellpadding=5 class="ntdata">
<thead>
<tr>
<th>Label</th>
<th>$A$</th>
<th>$B$</th>
{% if info.search_type == "Motive" %}
    <th>$t$</th>
    <th>Conductor</th>
{% endif %}
<th>Degree</th>
<th>Weight</th>
<th>Hodge</th>
</tr>
</thead>
<tbody>

{% for hgm in info.results: %}
<tr>
<td> 
{% if info.search_type == "Family" %}
    <a href="{{url_for('.by_family_label', label=info.ab_label(hgm.A, hgm.B))}}"> 
    {{ info.ab_label(hgm.A, hgm.B) }}
    </a> 
{% else %}
    <a href="{{url_for('.by_label', label=info.ab_label(hgm.A, hgm.B), t=info.make_t_label(hgm.t))}}"> 
    {{ info.make_label(hgm.A, hgm.B, hgm.t) }}
    </a> 
{% endif %}
</td>
<td>${{hgm.A}}$</td>
<td>${{hgm.B}}$</td>
{% if info.search_type == "Motive" %}
    <td>${{info.display_t(hgm.t)}}$</td>
    <td>${{info.factorint(hgm.cond)}}$</td>
{% endif %}
<td>${{hgm.degree}}$</td>
<td>${{hgm.weight}}$</td>
<td>${{hgm.famhodge}}$</td>
</tr>

{% endfor %}

</tbody>
</table>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
