{% extends "homepage.html" %}

{% block content %}

<style type="text/css">
    .rightline { border-right: 2px solid black; }
    tr.topline td, tr.topline th { border-top: 2px solid black; }
</style>

<h2>Browse</h2>

<div>
The table below gives for each degree $d$ and weight $w$ shown, 
the number of corresponding {{KNOWL('hgm.families', title="hypergeometric families")}}.
</div>

<div>
  <!--<table border=1 cellpadding=5 class='right_align_table'>-->
  <table style="margin-left:1%;" border="1" class="ntdata">
<tr>
<th>$w$ \ $d$</th>
<th>1</th> <th>3</th> <th>5</th> <th>7</th> <th class="rightline">9</th>
<th>2</th> <th>4</th> <th>6</th> <th>8</th> <th>10</th>
</tr>
<tr>
<th>0</th>
<td><a href="?weight=0&degree=1&search_type=Family">1</a></td>
<td><a href="?weight=0&degree=3&search_type=Family">3</a></td>
<td><a href="?weight=0&degree=5&search_type=Family">7</a></td>
<td><a href="?weight=0&degree=7&search_type=Family">21</a></td>
<td class="rightline"><a href="?weight=0&degree=9&search_type=Family">13</a></td>
<td><a href="?weight=0&degree=2&search_type=Family">3</a></td>
<td><a href="?weight=0&degree=4&search_type=Family">11</a></td>
<td><a href="?weight=0&degree=6&search_type=Family">23</a></td>
<td><a href="?weight=0&degree=8&search_type=Family">51</a></td>
<td><a href="?weight=0&degree=10&search_type=Family">23</a></td>
</tr>
<tr>
<th>2</th>
<td></td>
<td><a href="?weight=2&degree=3&search_type=Family">10</a></td>
<td><a href="?weight=2&degree=5&search_type=Family">93</a></td>
<td><a href="?weight=2&degree=7&search_type=Family">426</a></td>
<td class="rightline"><a href="?weight=2&degree=9&search_type=Family">1836</a></td>
<td></td>
<td><a href="?weight=2&degree=4&search_type=Family">30</a></td>
<td><a href="?weight=2&degree=6&search_type=Family">234</a></td>
<td><a href="?weight=2&degree=8&search_type=Family">1234</a></td>
<td><a href="?weight=2&degree=10&search_type=Family">4475</a></td>
</tr>
<tr>
<th>4</th>
<td></td>
<td></td>
<td><a href="?weight=4&degree=5&search_type=Family">47</a></td>
<td><a href="?weight=4&degree=7&search_type=Family">414</a></td>
<td class="rightline"><a href="?weight=4&degree=9&search_type=Family">2878</a></td>
<td></td>
<td></td>
<td><a href="?weight=4&degree=6&search_type=Family">84</a></td>
<td><a href="?weight=4&degree=8&search_type=Family">894</a></td>
<td><a href="?weight=4&degree=10&search_type=Family">5737</a></td>
</tr>
<tr>
<th>6</th>
<td></td>
<td></td>
<td></td>
<td><a href="?weight=6&degree=7&search_type=Family">142</a></td>
<td class="rightline"><a href="?weight=6&degree=9&search_type=Family">1263</a></td>
<td></td>
<td></td>
<td></td>
<td><a href="?weight=6&degree=8&search_type=Family">204</a></td>
<td><a href="?weight=6&degree=10&search_type=Family">1936</a></td>
</tr>
<tr>
<th>8</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="rightline"><a href="?weight=8&degree=9&search_type=Family">363</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="?weight=8&degree=10&search_type=Family">426</a></td>
</tr>
<tr class="topline">
<th >1</th>
<td ></td>
<td ></td>
<td ></td>
<td ></td>
<td class="rightline"></td>
<td ><a href="?weight=1&degree=2&search_type=Family">10</a></td>
<td ><a href="?weight=1&degree=4&search_type=Family">74</a></td>
<td ><a href="?weight=1&degree=6&search_type=Family">287</a></td>
<td ><a href="?weight=1&degree=8&search_type=Family">1001</a></td>
<td ><a href="?weight=1&degree=10&search_type=Family">2197</a></td>
</tr>
<tr>
<th>3</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="rightline"></td>
<td></td>
<td><a href="?weight=3&degree=4&search_type=Family">47</a></td>
<td><a href="?weight=3&degree=6&search_type=Family">487</a></td>
<td><a href="?weight=3&degree=8&search_type=Family">3247</a></td>
<td><a href="?weight=3&degree=10&search_type=Family">14397</a></td>
</tr>
<tr>
<th>5</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="rightline"></td>
<td></td>
<td></td>
<td><a href="?weight=5&degree=6&search_type=Family">142</a></td>
<td><a href="?weight=5&degree=8&search_type=Family">1450</a></td>
<td><a href="?weight=5&degree=10&search_type=Family">10260</a></td>
</tr>
<tr>
<th>7</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="rightline"></td>
<td></td>
<td></td>
<td></td>
<td><a href="?weight=7&degree=8&search_type=Family">363</a></td>
<td><a href="?weight=7&degree=10&search_type=Family">3407</a></td>
</tr>
<tr>
<th>9</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="rightline"></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><a href="?weight=9&degree=10&search_type=Family">812</a></td>
</tr>
</table>
</div>
<p>
Families above are separated by type &ndash; those with odd weight and
even degree are symplectic, otherwise they are orthogonal.  Boxes
are blank for combinations of weight and degree which cannot occur.

<p>
Some <a href="{{url_for('.interesting_families')}}">interesting families of hypergeometric motives</a>, a <a href={{url_for('.random_family')}}>random family</a> or a <a href={{url_for('.random_motive')}}>random hypergeometric motive</a>.
</p>

<form class="search">
  <h3> Search for hypergeometric families</h3>
  <p>
    Enter values into one or more boxes to restrict the list of families returned.
  </p>
  {{ info.search_array.family_html() | safe }}

  <h3> Search for individual hypergeometric motives</h3>
  <p>
    Enter values into the boxes above and the boxes below to obtain the
    list of corresponding hypergeometric motives.
  </p>
  {{ info.search_array.motive_html() | safe }}
</form>

<h2>Find</h2>

<form>
  {{ info.search_array.jump_box(info) | safe }}
</form>

{# If the user hits enter while in a family input box, trigger
   family search instead of motive search #}

<script type="text/javascript">
  function wait(ms) {
    var start = Date.now(),
        now = start;
    while (now - start < ms) {
      now = Date.now();
    }
}
  $(".family").on("keypress", function(e) {
      if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
          console.log("Familying");
          e.preventDefault();
          $("#family").trigger("click");
      }
});
  $(".motive").on("keypress", function(e) {
      if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
          console.log("Motiving");
          e.preventDefault();
          $("#motive").trigger("click");
      }
});
</script>



{% endblock %}
