{% extends "homepage.html" %}

{% block content %}

<p><h2> {{ KNOWL('hgm.defining_parameters', title='Defining Parameters') }}</h2>

<p>
  <p>
    <table>
      <tr><td> $A$: </td> <td> ${{ info.A }}$ </td></tr>
      <tr><td> $B$: </td> <td> ${{ info.B }}$ </td></tr>
      <tr><td> $t$: </td> <td> ${{ info.t }}$ </td></tr>
    </table>
</p>

<p><h2> {{ KNOWL('hgm.invariants', title='Invariants') }}</h2>
  <p>
    <table>
      <tr><td>Hodge vector:<td>&nbsp;&nbsp;<td>${{info.hodge}}$</tr>
      <tr><td>Signature:<td>&nbsp;&nbsp;<td>${{info.hodge}}$</tr>
      <tr><td>Determinant:<td>&nbsp;&nbsp;<td>{{info.rf}}</tr>
      <tr><td>Root number:<td>&nbsp;&nbsp;<td>{{info.Sign}}</tr>
      <tr><td>Second moment: <td> </tr>
      <tr><td>Fourth moment: <td> </tr>
    </table>
  </p>

{% endblock %}
