{% extends "homepage.html" %}

{% block content %}

<form id="re-search" onsubmit="cleanSubmit(this.id)">
<input type="hidden" name="start" value="{{info.start}}"/>
<input type="hidden" name="paging" value="0"/>
<table border="0">

<tr>
<td align=left> 
{{KNOWL('hgm.degree',title='degree')}}</td><td align=left> <input type='text' name='degree' size="8" value="{{info.degree}}" example='4'>
</td>
<td> {{KNOWL('hgm.weight', title="weight")}} </td>
<td><input type='text' name='weight' size="8" example='3' value="{{info.weight}}"> </td>
<td align=left> 
$A$:
<td align=left> <input type="text" name="A" size="8" value="{{info.A}}" example='[3,2,2]'>

<td align=left>  $B$ 
<td align=left> <input type="text" name="B" size="8" value="{{info.B}}" example='[6,4]'>
<td align=left> {{KNOWL('hgm.familyhodgevector', title="family Hodge vector")}}
  <td align=left><input type='text' name='famhodge' size="8" value="{{info.famhodge}}" example='[1,1,1,1]'>

<tr>
<td align=left><a title="A2">A<sub>2</sub></a>
  <td><input type='text' name='A2' size="8" value="{{info.A2}}" example='[1,1,1,1]'>
<td align=left><a title="A3">A<sub>3</sub></a>
  <td><input type='text' name='A3' size="8" value="{{info.A3}}" example='[1,1,1,1]'>
<td align=left><a title="A5">A<sub>5</sub></a>
  <td><input type='text' name='A5' size="8" value="{{info.A5}}" example='[1,1,1,1]'>
<td align=left><a title="A7">A<sub>7</sub></a>
  <td><input type='text' name='A7' size="8" value="{{info.A7}}" example='[1,1,1,1]'>


{% if not info.family %}
<td align=left> {{KNOWL('mot.hodgevector', title="Hodge vector")}}
  <td align=left><input type='text' name='hodge' size="8" value="{{info.hodge}}" example='[1,1,1,1]'>
{% endif %}

<tr>
<td align=left><a title="B2">
B<sub>2</sub></a> 
<td><input type='text' name='B2' size="8" value="{{info.B2}}" example='[1,1,1,1]'>
<td align=left><a title="B3">
B<sub>3</sub></a> 
<td><input type='text' name='B3' size="8" value="{{info.B3}}" example='[1,1,1,1]'>
<td align=left><a title="B5">
B<sub>5</sub></a> 
<td><input type='text' name='B5' size="8" value="{{info.B5}}" example='[1,1,1,1]'>
<td align=left><a title="B7">
B<sub>7</sub></a>
<td><input type='text' name='B7' size="8" value="{{info.B7}}" example='[1,1,1,1]'>

{% if not info.family %}
<tr>
<td align=left> {{KNOWL('hgm.conductor', title="conductor")}}
  <td><input type='text' name='conductor' size=10 value="{{info.conductor}}" example='2^13 3^7'>

  <td align=left> 
$t$</td><td align=left> <input type="text" name="t" size="3" value="{{info.t}}" example='3/2'></td>

  <td align=left> 
    $\epsilon$
  <td align=left> 
    <input type="text" name="sign" size="3" value="{{info.sign}}" example='-1'>
{% endif %}

<tr>
<td align=left><a title="Au2">A<sup>2</sup></a>
  <td><input type='text' name='Au2' size="8" value="{{info.Au2}}" example='[1,1,1,1]'>
<td align=left><a title="Au3">A<sup>3</sup></a>
  <td><input type='text' name='Au3' size="8" value="{{info.Au3}}" example='[1,1,1,1]'>
<td align=left><a title="Au5">A<sup>5</sup></a>
  <td><input type='text' name='Au5' size="8" value="{{info.Au5}}" example='[1,1,1,1]'>
<td align=left><a title="Au7">A<sup>7</sup></a>
  <td><input type='text' name='Au7' size="8" value="{{info.Au7}}" example='[1,1,1,1]'>

<tr>
<td align=left><a title="Bu2">B<sup>2</sup></a>
  <td><input type='text' name='Bu2' size="8" value="{{info.Bu2}}" example='[1,1,1,1]'>
<td align=left><a title="Bu3">B<sup>3</sup></a>
  <td><input type='text' name='Bu3' size="8" value="{{info.Bu3}}" example='[1,1,1,1]'>
<td align=left><a title="Bu5">B<sup>5</sup></a>
  <td><input type='text' name='Bu5' size="8" value="{{info.Bu5}}" example='[1,1,1,1]'>
<td align=left><a title="Bu7">B<sup>7</sup></a>
  <td><input type='text' name='Bu7' size="8" value="{{info.Bu7}}" example='[1,1,1,1]'>


<tr>
{% if not info.family %}
  <td align='left' colspan='4'>Maximum number of motives to display: <input type='text' name='count' value="{{info.count}}" size='10'>
{% else %}
  <td align='left' colspan='4'>Maximum number of families to display: <input type='text' name='count' value="{{info.count}}" size='10'>
{% endif %}

<tr>
<td align=left colspan="2"> 
<button type='submit' value='refine'>Search again</button>
</td></tr>
</table>
{% if info.family %}
<input type='hidden' name='family' value='{{ info.family }}'>
{% endif %}
</form>

{% include 'matches.html' %}
{% if info.number %}
<table border=1 cellpadding=5 class="ntdata">
<thead>
<tr>
<th>Label</th>
<th>$A$</th>
<th>$B$</th>
{% if not info.family %}
    <th>$t$</th>
    <th>Conductor</th>
{% endif %}
<th>Degree</th>
<th>Weight</th>
<th>Hodge</th>
</tr>
</thead>
<tbody>

{% for hgm in info.results: %}
<tr>
<td> 
{% if info.family %}
    <a href="{{url_for('.by_family_label', label=info.ab_label(hgm.A, hgm.B))}}"> 
    {{ info.ab_label(hgm.A, hgm.B) }}
    </a> 
{% else %}
    <a href="{{url_for('.by_label', label=info.ab_label(hgm.A, hgm.B), t=info.make_t_label(hgm.t))}}"> 
    {{ info.make_label(hgm.A, hgm.B, hgm.t) }}
    </a> 
{% endif %}
</td>
<td>$[{{hgm.A}}]$</td>
<td>$[{{hgm.B}}]$</td>
{% if not info.family %}
    <td>${{info.display_t(hgm.t)}}$</td>
    <td>${{info.factorint(hgm.cond)}}$</td>
{% endif %}
<td>${{hgm.degree}}$</td>
<td>${{hgm.weight}}$</td>
<td>$[{{hgm.famhodge}}]$</td>
</tr>

{% endfor %}

</tbody>
</table>
<hr>
{% include 'forward_back.html' %}
{% include 'dummy_download_search_results.html' %}
{% endif %}
{% include 'debug_info.html' %}

{% endblock %}
