{% extends "homepage.html" %}

{% block content %}

<p><h2> {{ KNOWL('hgm.defining_parameters', title='Defining Parameters') }}</h2>

<p>
  <p>
    <table>
      <tr><td> $A$: </td> <td> ${{ info.A }}$ </td></tr>
      <tr><td> $B$: </td> <td> ${{ info.B }}$ </td></tr>
      <tr><td> $t$: </td> <td> ${{ info.t }}$ </td></tr>
    </table>
</p>

<p><h2> {{ KNOWL('hgm.invariants', title='Invariants') }}</h2>
  <p>
    <table>
      <tr><td>Hodge vector:<td>&nbsp;&nbsp;<td>${{info.hodge}}$</tr>
      <tr><td>Signature:<td>&nbsp;&nbsp;<td>{{info.sig}}</tr>
      <tr><td>Conductor<td>&nbsp;&nbsp;<td>${{info.cond}}$</tr>
      <tr><td>Determinant:<td>&nbsp;&nbsp;<td>${{info.rf}}$</tr>
      <tr><td>Root number:<td>&nbsp;&nbsp;<td>${{info.sign}}$</tr>
      <tr><td>Second moment: <td> </tr>
      <tr><td>Fourth moment: <td> </tr>
      <tr><td>Difficulty: <td>&nbsp;&nbsp;<td>${{info.req}}$  </tr>
    </table>
  </p>

<p><h2> Local information</h2>

  <p>
    <table>
<tr> <td> $p$ <td> $c_p$ <td> $F_p(x)$ <td> 2 <td> 3 <td> 5 <td> 7 </tr>
{% for loc in info.locinfo: %}
<tr><td> ${{loc[0]}}$: 
<td>${{loc[1]}}$
<td>${{loc[2]}}$
<td>${{loc[3]}}$
<td>${{loc[4]}}$
<td>${{loc[5]}}$
<td>${{loc[6]}}$
</tr>
{% endfor %}
</table>


{% endblock %}
