{% extends "homepage.html" %}

{% block content %}

<script type="text/javascript" src="{{url_for('',filename='/static/jquery.dataTables.js')}}"></script> 
<script type="text/javascript" src="{{url_for('',filename='/static/jquery-ui-1.8.14.custom.min.js')}}"></script> 
<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<link rel="stylesheet" href="/static/jquery-ui-1.8.14.custom.css" type="text/css"/> 
input.editable {
    border: 1px ;
    text-decoration:none; 
    font-family: sans-serif;
    font-size: 11pt;
    width:100%
}
*.editable:hover {
    background-color: #ffffcc;
}
textarea.editable {
    border: 1px ;
    text-decoration:none;
    width:100%;
    font-family: monospace;
}
/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.dataTables_wrapper {
    position: relative;
    min-height: 302px;
    clear: both;
    _height: 302px;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    width: 44px;
    * width: 50px;
    float: right;
    text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url('/static/images/back_disabled.jpg');
}

.paginate_enabled_previous {
    background-image: url('/static/images/back_enabled.jpg');
}

.paginate_disabled_next {
    background-image: url('/static/images/forward_disabled.jpg');
}

.paginate_enabled_next {
    background-image: url('/static/images/forward_enabled.jpg');
}

table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

table.display thead th {
    padding: 3px 18px 3px 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    * cursor: hand;
}

table.display tfoot th {
    padding: 3px 18px 3px 10px;
    border-top: 1px solid black;
    font-weight: bold;
}

table.display tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.display td {
    padding: 3px 10px;
}

table.display td.center {
    text-align: center;
}

.sorting_asc {
    background: url('/static/images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('/static/images/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('/static/images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('/static/images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('/static/images/sort_desc_disabled.png') no-repeat center right;
}

table.display tr.odd.gradeA {
    background-color: #ddffdd;
}

table.display tr.even.gradeA {
    background-color: #eeffee;
}

table.display tr.odd.gradeC {
    background-color: #ddddff;
}

table.display tr.even.gradeC {
    background-color: #eeeeff;
}

table.display tr.odd.gradeX {
    background-color: #ffdddd;
}

table.display tr.even.gradeX {
    background-color: #ffeeee;
}

table.display tr.odd.gradeU {
    background-color: #ddd;
}

table.display tr.even.gradeU {
    background-color: #eee;
}

.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
}

.top, .bottom {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

tfoot input.search_init {
    color: #999;
}

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
    width: 40%;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers span.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
    background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}

tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}

.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}



    {% if entry.metadata.child_index is defined %}
      <h3>{{KNOWL('uploader.mapping_rules')}} (regular expressions)</h3>
      <textarea cols=100 rows=5 id="regexp{{entry._id}}" onkeyup="updateMappingRules(data{{entry._id}}, '{{entry._id}}')" onchange="updateMappingRules(data{{entry._id}}, '{{entry._id}}')"></textarea>
      <input type=button onclick="jQuery.post('/upload/updateMappingRule', {'id': '{{entry._id}}', 'rule':$('#regexp{{entry._id}}').val().trim().replace(/\$(.)/g,'\\$1')})" value="Update mapping rule">
      
      <table id="table{{entry._id}}" cellpadding="0" cellspacing="0" border="0" class="tablesorter display"></table>
      <script>
        $(document).ready(function() {
          data{{entry._id}} = [
            {% for child in entry.metadata.child_index %}
              [ "<A HREF='/upload/download/{{child[0]|safe}}/{{entry.filename}}/{{child[1]}}'>Download</A>",
                "<A HREF='/upload/view/{{child[0]|safe}}'>View</A>",
                "{{child[1] | safe}}",
                ""],
            {% endfor %}
          ];
          updateMappingRules(data{{entry._id}}, "{{entry._id}}");
        });

      </script>
    {% endif %}
  </dd>
  {{ caller(entry) }}
</dl>
{% endfor %}
{% endmacro %}

{% if file is defined %}
{% call(entry) render_uploadlist("View file", [file]) %}
{% endcall %}
{% endif %}


{% if unmoderated is defined %}

<!--
<script>
  /* attach a submit handler to the form */
  $(document).ready(function() {
   $(".bgpost").submit(function(event) {

    /* stop form from submitting normally */
    event.preventDefault(); 
        
    /* get some values from elements on the page: */
    var $form = $( this ),
        id = $form.find( 'input[name="id"]' ).val();
    alert(this.name)

    /* Send the data using post and put the results in a div */
    //$.post( url, { s: term });
   })})
</script>
-->



{% call(entry) render_uploadlist('Awaiting approval', unmoderated) %}

  <dt>Action</dt>
  <dd>
    <form class="bgpost" action="{{ url_for('.admin_update') }}" method="post">
      <input type="hidden" name="id" value="{{entry._id}}"/>
      <button type="submit" name="approve" value="yes">Approve</button>
      <button type="submit" name="disapprove" value="yes">Disapprove</button>
    </form>
  </dd>
{% endcall %}
{% endif %}


{% if approved is defined %}
  {% call(entry) render_uploadlist('Approved', approved) %}

  {% endcall %}
{% endif %}
{% if disapproved is defined %}
  {% call(entry) render_uploadlist('Disapproved', disapproved) %}

  {% endcall %}
{% endif %}



{% endblock %}
