{% extends "homepage.html" %}

{% block content %}

<h2> {{ KNOWL('lattice.invariants', title='Genus Invariants') }} </h2>

<table>
    <tr><td>{{ KNOWL('lattice.dimension', title='Rank') }}:</td><td>${{info.rank}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.signature', title='Signature') }}:</td><td>${{info.signature}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.determinant', title='Determinant') }}:</td><td>${{info.det}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.discriminant', title='Discriminant') }}:</td><td>${{info.disc}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.level', title='Level') }}:</td><td>${{info.level}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.class_number', title='Class number') }}:</td><td>${{info.class_number}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.conway_symbol', title='Conway Symbol') }}:</td><td>${{info.conway_symbol}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.conway_symbol', title='Dual Conway Symbol') }}:</td><td>${{info.dual_conway_symbol}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.even_odd', title='Even/Odd') }}:</td><td>{{info.even_odd}}</td></tr>
    {% if info.is_positive_definite %}
        <tr><td>{{ KNOWL('lattice.mass', title='Mass') }}:</td><td>${{info.mass}}$</td></tr>
    {% endif %}
<td>
</table>

<h2> {{ KNOWL('lattice.gram', title='Gram Matrix') }} </h2>
<p>${{info.gram}}$</p>

<h2> {{ KNOWL('lattice.discriminant_group', title='Discriminant Group') }} </h2>
<table>
    <tr><td>{{ KNOWL('lattice.discriminant_group', title='Smith invariants') }}:</td><td>${{info.discriminant_group_invs}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.discriminant_group', title='Discriminant form gram matrix') }}:</td><td>${{info.discriminant_gram}}$</td></tr>
</table>

<h2> {{ KNOWL('lattice.adjacency_data', title='Adjacency Data') }} </h2>
<p> todo </p>
<table>
{% for p in info.adjacency %}
    <tr><td>$ p = {{ p }} $:</td><td>${{info.adjacency.p.poly}}$</td></tr>
    <tr><td>{{info.adjacency.p.graph_link}}</td></tr>
{% endfor %}
</table>

</h2>

{% endblock %}
