{% extends "homepage.html" %}
{% import 'color.css' as color %}
{% block content %}
<div>
{{ KNOWL_INC('dq.lattice.extent') }}
</div>

<style type="text/css">
.error_message {
   padding: 4px;
   color: {{color.red}};
   font-size: 120%;
   font-weight: bold;
   margin: 20px;
}
</style>
{% if err_msg %}
<p class="error_message">
{{err_msg}}
</p>
<p>
  <input type=button value="Search again" onClick="history.go(-1)">
</p>
{% endif %}

<h2> Browse {{ KNOWL('lattice.definition', title='Integral Lattices') }}</h2>

<p>
By {{ KNOWL('lattice.dimension', title='Dimension') }}: 
{% for rnge in info.dim_list %}
<a href="?dim={{rnge}}">{{rnge}}</a>
{% endfor %}... <a href="?dim={{info.max_dim}}">{{info.max_dim}}</a>
</p>
<p>
By {{ KNOWL('lattice.determinant', title='Determinant') }}:
{% for rnge in info.det_list %}
<a href="?det={{rnge}}">{{rnge}}</a>
{% endfor %}... <a href="?det=1000000-{{info.max_det}}">1000000-{{info.max_det}}</a>
</p>
<p>
By {{ KNOWL('lattice.class_number', title='Class number') }}: 
{% for rnge in info.class_number_list %}
<a href="?class_number={{rnge}}">{{rnge}}</a>
{% endfor %}... <a href="?class_number={{info.max_cn}}">{{info.max_cn}}</a>
</p>
<p>
Some of our favourite {{ KNOWL('lattice.definition', title='integral lattices') }}:
{% for rnge in info.name_list %}
<a href="?label={{rnge}}"> {{rnge}} </a>
{% endfor %}
</p>
<p>A <a href={{url_for('.random_lattice')}}>random integral lattice</a> from the database.
<br>
</p>



<h2> Find a specific {{ KNOWL('lattice.definition', title='integral lattice') }} by {{KNOWL('lattice.label', title='label')}} or by {{KNOWL('lattice.name', title='name')}}</h2>

<form>
<input type='text' name='label' placeholder='3.4.8.1.2'>
<button type='submit'>Label</button>
<br><span class="formexample">e.g. 3.4.8.1.2, D3, E8, A14, Leech</span>
</form>

<h2> Search </h2>

<p>Please enter a value or leave blank:</p>
<form>
<table>
<tr>
<td align= right>{{ KNOWL('lattice.dimension', title='Dimension') }}:</td>
<td><input type='text' name='dim' placeholder='3' size=10>
<td><span class="formexample"> e.g. 3 or 2-5</td>
</tr>

<tr>
<td align= right>{{ KNOWL('lattice.determinant', title='Determinant') }}:</td>
<td><input type='text' name='det' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1 or 10-100</td>
</tr>
<tr>
<td align= right>{{ KNOWL('lattice.level', title='Level') }}:</td>
<td><input type='text' name='level' placeholder='48' size=10>
<td><span class="formexample"> e.g. 48 or 40-100</td>
</tr>

<tr>
<td align= right>{{ KNOWL('lattice.gram', title='Gram matrix') }}:</td>
<td><input type='text' name='gram' placeholder='[5,1,23]' size=10>
<td><span class="formexample"> e.g. $[5,1,23]$ for the matrix $\begin{pmatrix}5 & 1\\ 1& 23\end{pmatrix}$</td>
</tr>
<tr>
<td align= right>{{ KNOWL('lattice.minimal_vector', title='Minimal vector')}} length:</td>
<td><input type='text' name='minimum' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1</td>
</tr>

<tr>
<td align= right>{{ KNOWL('lattice.class_number', title='Class number') }}:</td>
<td><input type='text' name='class_number' placeholder='1' size=10>
<td><span class="formexample"> e.g. 1</td>
</tr>

<tr>
<td align= right>{{ KNOWL('lattice.group_order', title='Automorphism group order') }}:</td>
<td><input type='text' name='aut' placeholder='2' size=10>
<td><span class="formexample"> e.g. 696729600</td>
</tr>

<tr><td align=left colspan='3'>Maximum number of integral lattices to display <input type='text' name='count' value=50 size='5' />
</td>
</tr>

<tr>
<td colspan=3><button type='submit' value='Search'>Search</button>
</td>
</tr>
</table>
</form>


{% endblock %}
