{% extends "homepage.html" %}

{% block content %}

<table>
<tr><td>Label:</td><td>?</td></tr>
<tr><td>{{ KNOWL('lattice.dimension', title='Dimension') }}:</td><td>$3$</td></tr>
<tr><td>{{ KNOWL('lattice.class_number', title='Class Number') }}:</td><td>1</td></tr>
<tr><td>{{ KNOWL('lattice.name', title='Name') }}:</td><td>D$3$</td></tr>
<tr><td>{{ KNOWL('lattice.determinant', title='Determinant') }}:</td><td>4</td></tr>
<tr><td>{{ KNOWL('lattice.kissing', title='Kissing Number') }}:</td><td>12</td></tr>
<tr><td>{{ KNOWL('lattice.density', title='Density') }}:</td><td>.176776695297E+00</td></tr>
<tr><td>Group order:</td><td>48</td></tr>
<tr><td>{{ KNOWL('lattice.hermite_number', title='Hermite number') }}:</td><td>.125992104989E+01</td></tr>
<tr><td>Basis:</td><td>$(1, 1, 0), (1, -1, 0), (0, 1, -1)$</td></tr>
<tr><td>{{ KNOWL('lattice.minimal_vector', title='Minimal vector')}} length:</td><td>$2$</td></tr>
<tr><td>{{ KNOWL('lattice.minimal_vector', title='Minimal vector')}} list:</td><td>$(0,-1,-1), (1, -1, -1), (0, 0, -1), (1, 0, -1), (0, -1, 0), (-1, 0, -0)$</td></tr>
<tr><td>{{ KNOWL('lattice.triangular', title='Triangular basis') }}:</td><td>$(2,0,0), (1, -1, 0), (0, 1, -1),$</td></tr>
<tr><td>{{ KNOWL('lattice.gram', title='Gram matrix') }}:</td><td>$\begin{pmatrix}
2 &0 &1\\
0 &2 &-1\\
1 &-1 &2\end{pmatrix}$</td></tr>
<tr><td>{{ KNOWL('lattice.theta', title='Theta series') }}:</td><td>$1+12q^2+6q^4+24q^6+12q^8+O(q^{10})$</td></tr>
<tr><td>Comments:</td><td>This is the face-centered cubic (or f.c.c.) lattice.</td></tr>
</table>

{% endblock %}
