{% extends 'homepage.html' %}
{% block content %}

<h2> Further refine search </h2>
<form id='re-search'>
<input type="hidden" name="start" value="{{info.start}}"/>
<table border="0">

<tr>
<td align=left>{{ KNOWL('lattice.dimension', title='Dimension') }}</td>
<td align=left>{{ KNOWL('lattice.determinant', title='Determinant') }}</td>
<td align=left>{{ KNOWL('lattice.level', title='Level') }}</td>
<td align=left>{{ KNOWL('lattice.gram', title='Gram matrix') }}</td>
</tr>

<tr>
<td align=left><input type='text' name='dim' size=10 value="{{info.dim}}"></td>
<td align=left><input type='text' name='det' size=10 value="{{info.det}}"></td>
<td align=left><input type='text' name='level' size=10 value="{{info.level}}"></td>
<td align=left><input type='text' name='gram' size=10 value="{{info.gram}}"></td>
</tr>

<tr>
<td align=left>{{ KNOWL('lattice.minimal_vector', title='Minimal vector')}} length</td>
<td align=left>{{ KNOWL('lattice.class_number', title='Class number') }}</td>
<td align=left>{{ KNOWL('lattice.group_order', title='Group order') }}</td>
</tr>

<tr>
<td align=left><input type='text' name='minimum' size=10 value="{{info.minimum}}"> </td>
<td align=left><input type='text' name='class_number' size=10 value="{{info.class_number}}"> </td>
<td align=left><input type='text' name='aut' size=10 value="{{info.aut}}"> </td>
</tr>

<tr>&nbsp;</tr>
<tr>
<td align=left colspan=2>Maximum number of integral lattices to display</td>
<td align=left><input type='text' name='count' value={{info.count}} size=10></td>
<td><button type='submit' size=10  value='refine'>Search again</button></td>
</tr>
</table>
</form>

{% if info.err is defined %}
    <h2>Error</h2>
    <div>
    <!--  {{ info.err|safe }}-->
    Either modify your search above or go <input type=button value="Back" onClick="history.go(-1)">
    </div>
{% else %}
    {% if info.report == "no matches" %}
        <h2> No matches</h2>
    {% else %}
        <h2> Results ({{info.report}})
        {% if info.start > 0 %}
            <a href="#" class="navlink"
               onclick="decrease_start_by_count_and_submit_form('re-search');return
                        false">Previous</A>
        {% endif %}
        {% if info.more > 0 %}
            <a href="#" class="navlink" onclick="increase_start_by_count_and_submit_form('re-search');return false">Next</A>
        {% endif %}
        </h2>

        <table>
        <tr>
        <th>{{ KNOWL('lattice.label', title='Label') }}</th>
        <th>{{ KNOWL('lattice.dimension', title='Dimension') }}</th>
        <th>{{ KNOWL('lattice.determinant', title='Determinant') }}</th>
        <th>{{ KNOWL('lattice.level', title='Level')}}</th>
        <th>{{ KNOWL('lattice.gram', title='Gram Matrix') }}</th>
        </tr>
        {% for l in info.lattices %}
            <tr>
            <td align='left'><a href="{{url_for('lattice.render_lattice_webpage', label=l.label)}}">{{l.label}} </a></td>
            <td>{{l.dim}}</td>
            <td>{{l.det}}</td>
            <td>{{l.level}}</td>
            <td>${{l.gram}}$</td>
            </tr>
        {% endfor %}
        </table>
        <hr>
        {% if info.start > 0 %}
            <a href="#" class="navlink" onclick="decrease_start_by_count_and_submit_form('re-search');return false">Previous</A>
        {% endif %}
        {% if info.more > 0 %}
            <a href="#" class="navlink" onclick="increase_start_by_count_and_submit_form('re-search');return false">Next</A></td>
        {% endif %}
        <br>

        <form>
        Download all search results for
        <input type="submit" name="submit" value="gp">
        <input type="submit" name="submit" value="sage">
        <input type="submit" name="submit" value="magma">
        <input type="hidden" name="download" value="1"/>
        <input type="hidden" name="query" value="{{info.query}}"/>
        </form>
    {% endif %}
{% endif %}
<!--<br>-->
<!--{% if DEBUG %}-->
<!--<p class="tex2jax_ignore">  Results for database query {{ info.query }}</p>-->

<!--{% endif %}-->

{% endblock %}
