{% extends "homepage.html" %}

{% block content %}

<p>{{ place_code('lattice_definition', is_top_snippet=True) }}</p>

<h2> {{ KNOWL('lattice.invariants', title='Lattice Invariants') }}</h2>

<table>
    <tr><td>{{ KNOWL('lattice.dimension', title='Rank') }}:</td><td>${{lattice.rank}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.signature', title='Signature') }}:</td><td>${{lattice.signature}}$</td></tr>
    <tr><td>{{ KNOWL('lattice.determinant', title='Determinant') }}:</td><td>{{lattice.det_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.discriminant', title='Discriminant') }}:</td><td>{{lattice.disc_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.level', title='Level') }}:</td><td>{{lattice.level_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.class_number', title='Class number') }}:</td><td>{{lattice.class_number_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.conway_symbol', title='Conway Symbol') }}:</td><td>{{lattice.conway_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.parity', title='Parity') }}:</td><td>{{lattice.even_odd}}</td></tr>
    {% if lattice.is_positive_definite %}
        <tr><td>{{ KNOWL('lattice.group_order', title='Aut group order') }}:</td><td>{{ lattice.aut_size_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.automorphism_group', title='Aut group') }}:</td><td>{{ lattice.aut_display | safe }}</td></tr>
        <tr><td>{{ KNOWL('lattice.festi_veniani_index', title='Festi-Veniani Index') }}:</td><td>{{ lattice.festi_veniani_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.density', title='Density') }}:</td><td>{{ lattice.density_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.hermite_number', title='Hermite number') }}:</td><td>{{lattice.hermite_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.minimal_vector', title='Minimal vector length')}}:</td><td>{{lattice.minimum_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.kissing', title='Kissing number') }}:</td><td>{{lattice.kissing_display }}</td></tr>
    {% endif %}
    <tr><td>{{ KNOWL('lattice.discriminant_group', title='Discriminant group') }}:</td><td>{{lattice.discriminant_group_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.normalized_minimal_vector', title='Normalized minimal vectors')}}:</td>
<td>
{% if lattice.shortest is none %}
    not computed</td></tr>
{% else %}
    {% if lattice.rank == 1 %}
        $({{lattice.shortest}})$</td></tr><tr><td></td><td>Download this vector for
            {% for e in lattice.download_shortest %}
                <a href="{{e[1]}}">{{e[0]}}</a>{% if not loop.last %},  {% endif %}
            {% endfor %}</td></tr>
    {% else %}
        <table><tr>
        {% for n in lattice.shortest %}
            ${{n}}${% if not loop.last %},{% endif %}{% if loop.index % 3 == 0 %}</tr><tr>{% endif %}
        {% endfor %}
        {% if lattice.all_shortest == "no" %} ... </tr></table></td><tr><td></td>
        <td>Download the complete list for
            {% for e in lattice.download_shortest %}
                <a href="{{e[1]}}">{{e[0]}}</a>{% if not loop.last %},  {% endif %}
            {% endfor %}</td></tr>
        {% else %}
            </tr></table></td><tr><td></td><td>Download this {% if lattice.kissing == 2 %} vector {% else %} list {% endif %} for
            {% for e in lattice.download_shortest %}
                <a href="{{e[1]}}">{{e[0]}}</a>{% if not loop.last %},  {% endif %}
            {% endfor %}</td></tr>
        {% endif %}
    {% endif %}
{% endif %}
</table>

{% if lattice.theta_series %}
<h2> {{ KNOWL('lattice.theta', title='Theta Series') }} </h2>

<div>{{lattice.theta_display | safe}}</div>

{% endif %}

<h2> {{ KNOWL('lattice.gram', title='Gram Matrix') }} </h2>
<table>
    <tr><td>{{lattice.gram_display | safe}}</td></tr>
</table>



<h2> {{ KNOWL('lattice.dual', title='Dual Lattice') }} </h2>
<table>
    <tr><td>{{ KNOWL('lattice.dual', title='Label') }}:</td><td>{{lattice.dual_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.conway_symbol', title='Conway Symbol') }}:</td><td>{{lattice.dual_conway_display}}</td></tr>
    <tr><td>{{ KNOWL('lattice.determinant', title='Determinant') }}:</td><td>{{lattice.dual_det_display}}</td></tr>
    {% if lattice.is_positive_definite %}
        <tr><td>{{ KNOWL('lattice.density', title='Density') }}:</td><td>{{lattice.dual_density_display }}</td></tr>
        <tr><td>{{ KNOWL('lattice.hermite_number', title='Hermite number') }}:</td><td>{{lattice.dual_hermite_display }}\dots$</td></tr>
        <tr><td>{{ KNOWL('lattice.kissing', title='Kissing number') }}:</td><td>{{lattice.dual_kissing_display }}</td></tr>
    {% endif %}

    <tr>
      <td>{{ KNOWL('lattice.theta', title='Theta Series') }}:</td>
      <td>
        {{lattice.dual_theta_display | safe}}
      </td>
</table>


{% if lattice.pneighbors %}
<h2>{{ KNOWL('lattice.pneighbors', title='p-Neighbors') }}</h2>
<table>
{% for p, neighs in lattice.pneighbors.items() %}
    <tr>
        <td valign="top" style="white-space: nowrap;">$p = {{ p }}$:</td>
        <td>
        {% if neighs %}
            {% for L in neighs %}
                <a href="{{ url_for('.render_lattice_webpage', label=L) }}">{{ L }}</a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            none
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
