{% macro addcode(entries,tag) -%}
   {% if entries %}
   {% for lang,code in entries %}
   <{{tag}} class='{{lang}} nodisplay code'>
   {{ code|join("<br/>") }}
   </{{tag}}>
   {% endfor %}
   {% endif %}
{%- endmacro %}

{% extends 'homepage.html' %}

{% block content %}

<script>
var cur_system = null;
function show_code(system) {
   {% for lang in codelangs %}
   $('.{{lang}}').hide();
   {% endfor %}
    if (cur_system == null) {
      $('.'+system).show();
      cur_system = system;
    } else {
      $('.'+system).hide();
      cur_system = null;
    }
}
</script>

<style>
.output {
    padding:20px 0 20px 100px;
    text-align: left;
    font-size: 115%;
}
table.navi td {
    padding: 0;
}
table.props tr td:first-child {
    width: 5em;
}
#content p, #content form, #content div {
    margin-left: 20px;
}

</style>

   {% if codelangs %}
        <div align="right">
            <font size="3">Show commands for:</font>
            {% for lang in codelangs %}
            <a onclick="show_code('{{lang}}'); return false" href='#'>{{lang}}</a>
            {% endfor %}
        </div>
   {% endif %}
 
   {% block description %}

   {% endblock %}


{% endblock %}
